{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-01",
        "endpointPrefix": "access-analyzer",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Access Analyzer",
        "serviceFullName": "Access Analyzer",
        "signatureVersion": "v4",
        "signingName": "access-analyzer",
        "uid": "access-analyzer-2019-11-01",
        "download_location": [
            "https://d29sfhxsuc7nqn.cloudfront.net/content/abd60334-2a0a-44d3-8772-ef64789438a9/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
        ]
    },
    "operations": {
        "ApplyArchiveRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/archive-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "ruleName"
                ],
                "members": {
                    "analyzerArn": {},
                    "ruleName": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "CancelPolicyGeneration": {
            "http": {
                "method": "PUT",
                "requestUri": "/policy/generation/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "CreateAccessPreview": {
            "http": {
                "method": "PUT",
                "requestUri": "/access-preview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "configurations"
                ],
                "members": {
                    "analyzerArn": {},
                    "configurations": {
                        "shape": "S9"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "CreateAnalyzer": {
            "http": {
                "method": "PUT",
                "requestUri": "/analyzer",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "type"
                ],
                "members": {
                    "analyzerName": {},
                    "type": {},
                    "archiveRules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ruleName",
                                "filter"
                            ],
                            "members": {
                                "ruleName": {},
                                "filter": {
                                    "shape": "S2k"
                                }
                            }
                        }
                    },
                    "tags": {
                        "shape": "S2n"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "configuration": {
                        "shape": "S3e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "CreateArchiveRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/analyzer/{analyzerName}/archive-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "ruleName",
                    "filter"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "ruleName": {},
                    "filter": {
                        "shape": "S2k"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "DeleteAnalyzer": {
            "http": {
                "method": "DELETE",
                "requestUri": "/analyzer/{analyzerName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "DeleteArchiveRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "ruleName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "ruleName": {
                        "location": "uri",
                        "locationName": "ruleName"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "GetAccessPreview": {
            "http": {
                "method": "GET",
                "requestUri": "/access-preview/{accessPreviewId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPreviewId",
                    "analyzerArn"
                ],
                "members": {
                    "accessPreviewId": {
                        "location": "uri",
                        "locationName": "accessPreviewId"
                    },
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accessPreview"
                ],
                "members": {
                    "accessPreview": {
                        "type": "structure",
                        "required": [
                            "id",
                            "analyzerArn",
                            "configurations",
                            "createdAt",
                            "status"
                        ],
                        "members": {
                            "id": {},
                            "analyzerArn": {},
                            "configurations": {
                                "shape": "S9"
                            },
                            "createdAt": {
                                "shape": "S2v"
                            },
                            "status": {},
                            "statusReason": {
                                "shape": "S2x"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "GetAnalyzedResource": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzed-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "resourceArn"
                ],
                "members": {
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    },
                    "resourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resource": {
                        "type": "structure",
                        "required": [
                            "resourceArn",
                            "resourceType",
                            "createdAt",
                            "analyzedAt",
                            "updatedAt",
                            "isPublic",
                            "resourceOwnerAccount"
                        ],
                        "members": {
                            "resourceArn": {},
                            "resourceType": {},
                            "createdAt": {
                                "shape": "S2v"
                            },
                            "analyzedAt": {
                                "shape": "S2v"
                            },
                            "updatedAt": {
                                "shape": "S2v"
                            },
                            "isPublic": {
                                "type": "boolean"
                            },
                            "actions": {
                                "shape": "S34"
                            },
                            "sharedVia": {
                                "type": "list",
                                "member": {}
                            },
                            "status": {},
                            "resourceOwnerAccount": {},
                            "error": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "GetAnalyzer": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer/{analyzerName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzer"
                ],
                "members": {
                    "analyzer": {
                        "shape": "S39"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "GetArchiveRule": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "ruleName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "ruleName": {
                        "location": "uri",
                        "locationName": "ruleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "archiveRule"
                ],
                "members": {
                    "archiveRule": {
                        "shape": "S3f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "GetFinding": {
            "http": {
                "method": "GET",
                "requestUri": "/finding/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "id"
                ],
                "members": {
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "finding": {
                        "type": "structure",
                        "required": [
                            "id",
                            "resourceType",
                            "condition",
                            "createdAt",
                            "analyzedAt",
                            "updatedAt",
                            "status",
                            "resourceOwnerAccount"
                        ],
                        "members": {
                            "id": {},
                            "principal": {
                                "shape": "S3k"
                            },
                            "action": {
                                "shape": "S34"
                            },
                            "resource": {},
                            "isPublic": {
                                "type": "boolean"
                            },
                            "resourceType": {},
                            "condition": {
                                "shape": "S3l"
                            },
                            "createdAt": {
                                "shape": "S2v"
                            },
                            "analyzedAt": {
                                "shape": "S2v"
                            },
                            "updatedAt": {
                                "shape": "S2v"
                            },
                            "status": {},
                            "resourceOwnerAccount": {},
                            "error": {},
                            "sources": {
                                "shape": "S3m"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "GetGeneratedPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/policy/generation/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "includeResourcePlaceholders": {
                        "location": "querystring",
                        "locationName": "includeResourcePlaceholders",
                        "type": "boolean"
                    },
                    "includeServiceLevelTemplate": {
                        "location": "querystring",
                        "locationName": "includeServiceLevelTemplate",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobDetails",
                    "generatedPolicyResult"
                ],
                "members": {
                    "jobDetails": {
                        "type": "structure",
                        "required": [
                            "jobId",
                            "status",
                            "startedOn"
                        ],
                        "members": {
                            "jobId": {},
                            "status": {},
                            "startedOn": {
                                "shape": "S2v"
                            },
                            "completedOn": {
                                "shape": "S2v"
                            },
                            "jobError": {
                                "type": "structure",
                                "required": [
                                    "code",
                                    "message"
                                ],
                                "members": {
                                    "code": {},
                                    "message": {}
                                }
                            }
                        }
                    },
                    "generatedPolicyResult": {
                        "type": "structure",
                        "required": [
                            "properties"
                        ],
                        "members": {
                            "properties": {
                                "type": "structure",
                                "required": [
                                    "principalArn"
                                ],
                                "members": {
                                    "isComplete": {
                                        "type": "boolean"
                                    },
                                    "principalArn": {},
                                    "cloudTrailProperties": {
                                        "type": "structure",
                                        "required": [
                                            "trailProperties",
                                            "startTime",
                                            "endTime"
                                        ],
                                        "members": {
                                            "trailProperties": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "required": [
                                                        "cloudTrailArn"
                                                    ],
                                                    "members": {
                                                        "cloudTrailArn": {},
                                                        "regions": {
                                                            "shape": "S43"
                                                        },
                                                        "allRegions": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            },
                                            "startTime": {
                                                "shape": "S2v"
                                            },
                                            "endTime": {
                                                "shape": "S2v"
                                            }
                                        }
                                    }
                                }
                            },
                            "generatedPolicies": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "policy"
                                    ],
                                    "members": {
                                        "policy": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "ListAccessPreviewFindings": {
            "http": {
                "requestUri": "/access-preview/{accessPreviewId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPreviewId",
                    "analyzerArn"
                ],
                "members": {
                    "accessPreviewId": {
                        "location": "uri",
                        "locationName": "accessPreviewId"
                    },
                    "analyzerArn": {},
                    "filter": {
                        "shape": "S2k"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "findings"
                ],
                "members": {
                    "findings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "resourceType",
                                "createdAt",
                                "changeType",
                                "status",
                                "resourceOwnerAccount"
                            ],
                            "members": {
                                "id": {},
                                "existingFindingId": {},
                                "existingFindingStatus": {},
                                "principal": {
                                    "shape": "S3k"
                                },
                                "action": {
                                    "shape": "S34"
                                },
                                "condition": {
                                    "shape": "S3l"
                                },
                                "resource": {},
                                "isPublic": {
                                    "type": "boolean"
                                },
                                "resourceType": {},
                                "createdAt": {
                                    "shape": "S2v"
                                },
                                "changeType": {},
                                "status": {},
                                "resourceOwnerAccount": {},
                                "error": {},
                                "sources": {
                                    "shape": "S3m"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "ListAccessPreviews": {
            "http": {
                "method": "GET",
                "requestUri": "/access-preview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn"
                ],
                "members": {
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accessPreviews"
                ],
                "members": {
                    "accessPreviews": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "analyzerArn",
                                "createdAt",
                                "status"
                            ],
                            "members": {
                                "id": {},
                                "analyzerArn": {},
                                "createdAt": {
                                    "shape": "S2v"
                                },
                                "status": {},
                                "statusReason": {
                                    "shape": "S2x"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "ListAnalyzedResources": {
            "http": {
                "requestUri": "/analyzed-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn"
                ],
                "members": {
                    "analyzerArn": {},
                    "resourceType": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzedResources"
                ],
                "members": {
                    "analyzedResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "resourceArn",
                                "resourceOwnerAccount",
                                "resourceType"
                            ],
                            "members": {
                                "resourceArn": {},
                                "resourceOwnerAccount": {},
                                "resourceType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "ListAnalyzers": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "type": {
                        "location": "querystring",
                        "locationName": "type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzers"
                ],
                "members": {
                    "analyzers": {
                        "type": "list",
                        "member": {
                            "shape": "S39"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "ListArchiveRules": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer/{analyzerName}/archive-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "archiveRules"
                ],
                "members": {
                    "archiveRules": {
                        "type": "list",
                        "member": {
                            "shape": "S3f"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "ListFindings": {
            "http": {
                "requestUri": "/finding",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn"
                ],
                "members": {
                    "analyzerArn": {},
                    "filter": {
                        "shape": "S2k"
                    },
                    "sort": {
                        "type": "structure",
                        "members": {
                            "attributeName": {},
                            "orderBy": {}
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "findings"
                ],
                "members": {
                    "findings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "resourceType",
                                "condition",
                                "createdAt",
                                "analyzedAt",
                                "updatedAt",
                                "status",
                                "resourceOwnerAccount"
                            ],
                            "members": {
                                "id": {},
                                "principal": {
                                    "shape": "S3k"
                                },
                                "action": {
                                    "shape": "S34"
                                },
                                "resource": {},
                                "isPublic": {
                                    "type": "boolean"
                                },
                                "resourceType": {},
                                "condition": {
                                    "shape": "S3l"
                                },
                                "createdAt": {
                                    "shape": "S2v"
                                },
                                "analyzedAt": {
                                    "shape": "S2v"
                                },
                                "updatedAt": {
                                    "shape": "S2v"
                                },
                                "status": {},
                                "resourceOwnerAccount": {},
                                "error": {},
                                "sources": {
                                    "shape": "S3m"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "ListPolicyGenerations": {
            "http": {
                "method": "GET",
                "requestUri": "/policy/generation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "principalArn": {
                        "location": "querystring",
                        "locationName": "principalArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policyGenerations"
                ],
                "members": {
                    "policyGenerations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobId",
                                "principalArn",
                                "status",
                                "startedOn"
                            ],
                            "members": {
                                "jobId": {},
                                "principalArn": {},
                                "status": {},
                                "startedOn": {
                                    "shape": "S2v"
                                },
                                "completedOn": {
                                    "shape": "S2v"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYORJMUSTTOHVVBQ7UBXPAAONVA4OZ7N2YSFDYOREWEPBM7LHTYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/f0684dc0-1b05-4bd3-83e4-ce61ca570724/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/4c8c079e-4bd7-4121-9ca5-acdd44943001/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/800e5774-1245-46d0-b1a2-4554f724c9ad/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPC2N6MUODW2MSWAAFCMBTP5EACHQ2HF7XOUCVNQQ7AFNY5DO3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBNGA7TJBXJOHOITYXPDUBDL6B6WNNQAHIXRFZOPXSDAPA764WKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/65cfb2d6-5e79-4b2a-96eb-a202d0a4eda1/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/afdc353d-b56a-4f38-ba4a-b10ce853c18e/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
[...]
