{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-06-01",
        "endpointPrefix": "access-analyzer-beta",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Access Analyzer",
        "serviceFullName": "Access Analyzer",
        "signatureVersion": "v4",
        "signingName": "access-analyzer-beta",
        "uid": "access-analyzer-beta-2023-06-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
        ]
    },
    "operations": {
        "ApplyArchiveRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/archive-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "ruleName"
                ],
                "members": {
                    "analyzerArn": {},
                    "ruleName": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "CancelPolicyGeneration": {
            "http": {
                "method": "PUT",
                "requestUri": "/policy/generation/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "CheckAccessNotGranted": {
            "http": {
                "requestUri": "/policy/check-access-not-granted",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policyDocument",
                    "policyType"
                ],
                "members": {
                    "policyDocument": {
                        "shape": "S9"
                    },
                    "access": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "actions"
                            ],
                            "members": {
                                "actions": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "policyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {},
                    "message": {},
                    "reasons": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "CheckNoNewAccess": {
            "http": {
                "requestUri": "/policy/check-no-new-access",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "newPolicyDocument",
                    "existingPolicyDocument",
                    "policyType"
                ],
                "members": {
                    "newPolicyDocument": {
                        "shape": "S9"
                    },
                    "existingPolicyDocument": {
                        "shape": "S9"
                    },
                    "policyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {},
                    "message": {},
                    "reasons": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "CreateAccessPreview": {
            "http": {
                "method": "PUT",
                "requestUri": "/access-preview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "configurations"
                ],
                "members": {
                    "analyzerArn": {},
                    "configurations": {
                        "shape": "So"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "CreateAnalyzer": {
            "http": {
                "method": "PUT",
                "requestUri": "/analyzer",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "type"
                ],
                "members": {
                    "analyzerName": {},
                    "type": {},
                    "archiveRules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ruleName",
                                "filter"
                            ],
                            "members": {
                                "ruleName": {},
                                "filter": {
                                    "shape": "S3a"
                                }
                            }
                        }
                    },
                    "tags": {
                        "shape": "S3d"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "configuration": {
                        "shape": "S3e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "CreateArchiveRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/analyzer/{analyzerName}/archive-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "ruleName",
                    "filter"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "ruleName": {},
                    "filter": {
                        "shape": "S3a"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "DeleteAnalyzer": {
            "http": {
                "method": "DELETE",
                "requestUri": "/analyzer/{analyzerName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "DeleteArchiveRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "ruleName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "ruleName": {
                        "location": "uri",
                        "locationName": "ruleName"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "DescribeAnalyzerType": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer-data-access-layer/analyzer-type/{analyzerType}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerType"
                ],
                "members": {
                    "analyzerType": {
                        "location": "uri",
                        "locationName": "analyzerType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzerCount"
                ],
                "members": {
                    "analyzerCount": {
                        "type": "integer"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "GetAccessPreview": {
            "http": {
                "method": "GET",
                "requestUri": "/access-preview/{accessPreviewId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPreviewId",
                    "analyzerArn"
                ],
                "members": {
                    "accessPreviewId": {
                        "location": "uri",
                        "locationName": "accessPreviewId"
                    },
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accessPreview"
                ],
                "members": {
                    "accessPreview": {
                        "type": "structure",
                        "required": [
                            "id",
                            "analyzerArn",
                            "configurations",
                            "createdAt",
                            "status"
                        ],
                        "members": {
                            "id": {},
                            "analyzerArn": {},
                            "configurations": {
                                "shape": "So"
                            },
                            "createdAt": {
                                "shape": "S3q"
                            },
                            "status": {},
                            "statusReason": {
                                "shape": "S3s"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "GetAnalyzedResource": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzed-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "resourceArn"
                ],
                "members": {
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    },
                    "resourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resource": {
                        "type": "structure",
                        "required": [
                            "resourceArn",
                            "resourceType",
                            "createdAt",
                            "analyzedAt",
                            "updatedAt",
                            "isPublic",
                            "resourceOwnerAccount"
                        ],
                        "members": {
                            "resourceArn": {},
                            "resourceType": {},
                            "createdAt": {
                                "shape": "S3q"
                            },
                            "analyzedAt": {
                                "shape": "S3q"
                            },
                            "updatedAt": {
                                "shape": "S3q"
                            },
                            "isPublic": {
                                "type": "boolean"
                            },
                            "actions": {
                                "shape": "S3z"
                            },
                            "sharedVia": {
                                "type": "list",
                                "member": {}
                            },
                            "status": {},
                            "resourceOwnerAccount": {},
                            "error": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "GetAnalyzer": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer/{analyzerName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzer"
                ],
                "members": {
                    "analyzer": {
                        "shape": "S44"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "GetArchiveRule": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "ruleName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "ruleName": {
                        "location": "uri",
                        "locationName": "ruleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "archiveRule"
                ],
                "members": {
                    "archiveRule": {
                        "shape": "S4a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "GetFinding": {
            "http": {
                "method": "GET",
                "requestUri": "/finding/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "id"
                ],
                "members": {
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "finding": {
                        "type": "structure",
                        "required": [
                            "id",
                            "resourceType",
                            "condition",
                            "createdAt",
                            "analyzedAt",
                            "updatedAt",
                            "status",
                            "resourceOwnerAccount"
                        ],
                        "members": {
                            "id": {},
                            "principal": {
                                "shape": "S4f"
                            },
                            "action": {
                                "shape": "S3z"
                            },
                            "resource": {},
                            "isPublic": {
                                "type": "boolean"
                            },
                            "resourceType": {},
                            "condition": {
                                "shape": "S4g"
                            },
                            "createdAt": {
                                "shape": "S3q"
                            },
                            "analyzedAt": {
                                "shape": "S3q"
                            },
                            "updatedAt": {
                                "shape": "S3q"
                            },
                            "status": {},
                            "resourceOwnerAccount": {},
                            "error": {},
                            "sources": {
                                "shape": "S4h"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "GetFindingV2": {
            "http": {
                "method": "GET",
                "requestUri": "/findingv2/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "id"
                ],
                "members": {
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzedAt",
                    "createdAt",
                    "id",
                    "resourceType",
                    "resourceOwnerAccount",
                    "status",
                    "updatedAt",
                    "findingDetails"
                ],
                "members": {
                    "analyzedAt": {
                        "shape": "S3q"
                    },
                    "createdAt": {
                        "shape": "S3q"
                    },
                    "error": {},
                    "id": {},
                    "nextToken": {},
                    "resource": {},
                    "resourceType": {},
                    "resourceOwnerAccount": {},
                    "status": {},
                    "updatedAt": {
                        "shape": "S3q"
                    },
                    "findingDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "externalAccessDetails": {
                                    "type": "structure",
                                    "required": [
                                        "condition"
                                    ],
                                    "members": {
                                        "action": {
                                            "shape": "S3z"
                                        },
                                        "condition": {
                                            "shape": "S4g"
                                        },
                                        "isPublic": {
                                            "type": "boolean"
                                        },
                                        "principal": {
                                            "shape": "S4f"
                                        },
                                        "sources": {
                                            "shape": "S4h"
                                        }
                                    }
                                },
                                "unusedPermissionDetails": {
                                    "type": "structure",
                                    "required": [
                                        "serviceNamespace"
                                    ],
                                    "members": {
                                        "actions": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "action"
                                                ],
                                                "members": {
                                                    "action": {},
                                                    "lastAccessed": {
                                                        "shape": "S3q"
                                                    }
                                                }
                                            }
                                        },
                                        "serviceNamespace": {},
                                        "lastAccessed": {
                                            "shape": "S3q"
                                        }
                                    }
                                },
                                "unusedIamUserAccessKeyDetails": {
                                    "type": "structure",
                                    "required": [
                                        "accessKeyId"
                                    ],
                                    "members": {
                                        "accessKeyId": {},
                                        "lastAccessed": {
                                            "shape": "S3q"
                                        }
                                    }
                                },
                                "unusedIamRoleDetails": {
                                    "type": "structure",
                                    "members": {
                                        "lastAccessed": {
                                            "shape": "S3q"
                                        }
                                    }
                                },
                                "unusedIamUserPasswordDetails": {
                                    "type": "structure",
                                    "members": {
                                        "lastAccessed": {
                                            "shape": "S3q"
                                        }
                                    }
                                }
                            },
                            "union": true
                        }
                    },
                    "findingType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "GetFindingsStatistics": {
            "http": {
                "requestUri": "/analyzer/findings/statistics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn"
                ],
                "members": {
                    "analyzerArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "externalAccessStatistics": {
                        "type": "structure",
                        "members": {
                            "resourceTypeStatistics": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "resourceType": {},
                                        "totalPublic": {
                                            "type": "integer"
                                        },
                                        "totalCrossAccount": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "unusedAccessStatistics": {
                        "type": "structure",
                        "members": {
                            "unusedAccessTypeStatistics": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "unusedAccessType": {},
                                        "total": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "numberOfAccountsWithFindings": {
                        "type": "integer"
                    },
                    "totalAccounts": {
                        "type": "integer"
                    },
                    "numberOfResourcesWithActiveFindings": {
                        "type": "integer"
                    },
                    "totalActiveFindings": {
                        "type": "integer"
                    },
                    "totalArchivedFindings": {
                        "type": "integer"
                    },
                    "totalResolvedFindings": {
                        "type": "integer"
                    },
                    "totalResources": {
                        "type": "integer"
                    },
                    "topAccounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "account": {},
                                "numberOfActiveFindings": {
                                    "type": "integer"
                                },
                                "details": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "lastUpdatedAt": {
                        "shape": "S3q"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "GetGeneratedPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/policy/generation/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "includeResourcePlaceholders": {
                        "location": "querystring",
                        "locationName": "includeResourcePlaceholders",
                        "type": "boolean"
                    },
                    "includeServiceLevelTemplate": {
                        "location": "querystring",
                        "locationName": "includeServiceLevelTemplate",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobDetails",
                    "generatedPolicyResult"
                ],
                "members": {
                    "jobDetails": {
                        "type": "structure",
                        "required": [
                            "jobId",
                            "status",
                            "startedOn"
                        ],
                        "members": {
                            "jobId": {},
                            "status": {},
                            "startedOn": {
                                "shape": "S3q"
                            },
                            "completedOn": {
                                "shape": "S3q"
                            },
                            "jobError": {
                                "type": "structure",
                                "required": [
                                    "code",
                                    "message"
                                ],
                                "members": {
                                    "code": {},
                                    "message": {}
                                }
                            }
                        }
                    },
                    "generatedPolicyResult": {
                        "type": "structure",
                        "required": [
                            "properties"
                        ],
                        "members": {
                            "properties": {
                                "type": "structure",
                                "required": [
                                    "principalArn"
                                ],
                                "members": {
                                    "isComplete": {
                                        "type": "boolean"
                                    },
                                    "principalArn": {},
                                    "cloudTrailProperties": {
                                        "type": "structure",
                                        "required": [
                                            "trailProperties",
                                            "startTime",
                                            "endTime"
                                        ],
                                        "members": {
                                            "trailProperties": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "required": [
                                                        "cloudTrailArn"
                                                    ],
                                                    "members": {
                                                        "cloudTrailArn": {},
                                                        "regions": {
                                                            "shape": "S5m"
                                                        },
                                                        "allRegions": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            },
                                            "startTime": {
                                                "shape": "S3q"
                                            },
                                            "endTime": {
                                                "shape": "S3q"
                                            }
                                        }
                                    }
                                }
                            },
                            "generatedPolicies": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "policy"
                                    ],
                                    "members": {
                                        "policy": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5LP3TPB7P5MW3R7L54IG64IKMJ7YM3ZNPSVLLVVKF7GES5LZDNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALAHECZRASAY2H7CZH3TXCVRQ37IBWDOJYFWYM4QSNTRVWVOIF5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLDFT7P5CMMJLQZLJSFH6QZSTMZYH5JOBGKVI5MFW2OREQC4XDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOSK7IRXHX7B7QDMH2TFSFSTUPESKGLYN5OUTUUA2VG66S2AWD4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FH6SSPAMEPS6FWUNH4GAMBXFSMUBBYETLHRMI34TIEIV3FTW4AUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IRBSH6JBUHEJJVRRMN73KIVEWATLGH4ZJZKFGMTPKJPPTU75NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HKXOXUQVE6CI57KXYWSHI5RPMGQ3NPWKQNWFDAM6XSXQP5FF6XVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ74JCVCGIC6QCAR5BYYK2GOCO42GC2DJHIX2XLXAG2ZXSGTMJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPTRSROM3LVMIMGQSRIQ43HLU6HHVIUI7SDD4ZWREUW3GUQJP6QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLY5GARTTYNQ6CEUATDOE5UBMYIMGVSYRKCT2UIZXACZ3TQQTU2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD2R5MHOX2GZE2SBKMAVMHWOC77SAHGPVELSTFEAWSBQCLAB5NQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/526MXZ2IFT3WVHE4FGW3RICYBSIWRAD7UFIPGDYANWQHKYYZ67AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "ImportFindings": {
            "http": {
                "requestUri": "/findings/import",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerId",
                    "s3Bucket",
                    "s3Key",
                    "s3VersionId",
                    "resourceId"
                ],
                "members": {
                    "analyzerId": {},
                    "s3Bucket": {},
                    "s3Key": {},
                    "s3VersionId": {},
                    "resourceId": {},
                    "sourceId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNMBC2ZC4L7OJZIOUVJYZ6BR3QUYOKDGRWTSNJY3STFVJCZ2SELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AZ4VNC6XNGOVOK3J5KVT6GTC5WRK4FW2Q3T7WWJN3GCNAM73ZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZEISBEYW64DTZTXCUD5AZO2536MQFUFEGBFH6H3CNS7GD3FACNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7EOH34IBQ2X2WRYTWUVRL6NEJNJE2CZZRNH3RHYCGAJPBBD5DGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXCPIPX46S2GTURJIKYWDH2D5H4VKGDACCHOEXSRLGKNV5ZLMLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QN7LSGK2EGBXDIRW5WO3OG5UNUGQTYXHI2GWZS3A5A2GLJ273UDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ45NHVAHGKEBFLVACPIRSXMAN7EESIAIDCONGKPJIBVN6GTYWDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6VGK7N6MFXATBSQZLGE6CFJAV77WG7KDUX6C7QPM5C35FXGYMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFVOTO6JOOW2K7TNJLGLY4GWC7HASMQEA4VRNV5N7K24FKEWVAVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GD23JJ537WA54ULFHRU3TXLEILVCERDQCSSVIKGGG2GVO4BRAQUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBVKITZKYFNC66SPLZZLARFL6YMTCRMK6O6DXT5DF7C375U272A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMLR7V2CK2MSCWOKEVGBUINSVXGEQ2LPMZJU4MZK7U5FCJ62WL2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ2ZM6Q2OOJTMW4GNDUD27PFCDVKMCLLSJUUFHRAR5P36ZLJDT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QTOGNVRGLWLLAOSKDF7I74SOWCAMS2VQD2TM6MOBYJ4XI4YSVNIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TA6CB2YFBD273ACUUU4U466ZHTYLGU7MR7C5B2S4H2WQHHEXR45Q/main.js"
            ]
        },
        "ListAccessPreviewFindings": {
            "http": {
                "requestUri": "/access-preview/{accessPreviewId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPreviewId",
                    "analyzerArn"
                ],
                "members": {
                    "accessPreviewId": {
                        "location": "uri",
                        "locationName": "accessPreviewId"
                    },
                    "analyzerArn": {},
                    "filter": {
                        "shape": "S3a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "findings"
                ],
                "members": {
                    "findings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "resourceType",
                                "createdAt",
                                "changeType",
                                "status",
                                "resourceOwnerAccount"
                            ],
[...]
