{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-06-01",
        "endpointPrefix": "access-analyzer-beta",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Access Analyzer",
        "serviceFullName": "Access Analyzer",
        "signatureVersion": "v4",
        "signingName": "access-analyzer-beta",
        "uid": "access-analyzer-beta-2023-06-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
        ]
    },
    "operations": {
        "ApplyArchiveRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/archive-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "ruleName"
                ],
                "members": {
                    "analyzerArn": {},
                    "ruleName": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "CancelPolicyGeneration": {
            "http": {
                "method": "PUT",
                "requestUri": "/policy/generation/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "CheckAccessNotGranted": {
            "http": {
                "requestUri": "/policy/check-access-not-granted",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policyDocument",
                    "policyType"
                ],
                "members": {
                    "policyDocument": {
                        "shape": "S9"
                    },
                    "access": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "actions"
                            ],
                            "members": {
                                "actions": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "policyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {},
                    "message": {},
                    "reasons": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "CheckNoNewAccess": {
            "http": {
                "requestUri": "/policy/check-no-new-access",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "newPolicyDocument",
                    "existingPolicyDocument",
                    "policyType"
                ],
                "members": {
                    "newPolicyDocument": {
                        "shape": "S9"
                    },
                    "existingPolicyDocument": {
                        "shape": "S9"
                    },
                    "policyType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {},
                    "message": {},
                    "reasons": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "CreateAccessPreview": {
            "http": {
                "method": "PUT",
                "requestUri": "/access-preview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "configurations"
                ],
                "members": {
                    "analyzerArn": {},
                    "configurations": {
                        "shape": "So"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "CreateAnalyzer": {
            "http": {
                "method": "PUT",
                "requestUri": "/analyzer",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "type"
                ],
                "members": {
                    "analyzerName": {},
                    "type": {},
                    "archiveRules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ruleName",
                                "filter"
                            ],
                            "members": {
                                "ruleName": {},
                                "filter": {
                                    "shape": "S3a"
                                }
                            }
                        }
                    },
                    "tags": {
                        "shape": "S3d"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "configuration": {
                        "shape": "S3e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "CreateArchiveRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/analyzer/{analyzerName}/archive-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "ruleName",
                    "filter"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "ruleName": {},
                    "filter": {
                        "shape": "S3a"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "DeleteAnalyzer": {
            "http": {
                "method": "DELETE",
                "requestUri": "/analyzer/{analyzerName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "DeleteArchiveRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "ruleName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "ruleName": {
                        "location": "uri",
                        "locationName": "ruleName"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "DescribeAnalyzerType": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer-data-access-layer/analyzer-type/{analyzerType}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerType"
                ],
                "members": {
                    "analyzerType": {
                        "location": "uri",
                        "locationName": "analyzerType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzerCount"
                ],
                "members": {
                    "analyzerCount": {
                        "type": "integer"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "GetAccessPreview": {
            "http": {
                "method": "GET",
                "requestUri": "/access-preview/{accessPreviewId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPreviewId",
                    "analyzerArn"
                ],
                "members": {
                    "accessPreviewId": {
                        "location": "uri",
                        "locationName": "accessPreviewId"
                    },
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accessPreview"
                ],
                "members": {
                    "accessPreview": {
                        "type": "structure",
                        "required": [
                            "id",
                            "analyzerArn",
                            "configurations",
                            "createdAt",
                            "status"
                        ],
                        "members": {
                            "id": {},
                            "analyzerArn": {},
                            "configurations": {
                                "shape": "So"
                            },
                            "createdAt": {
                                "shape": "S3q"
                            },
                            "status": {},
                            "statusReason": {
                                "shape": "S3s"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "GetAnalyzedResource": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzed-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "resourceArn"
                ],
                "members": {
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    },
                    "resourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resource": {
                        "type": "structure",
                        "required": [
                            "resourceArn",
                            "resourceType",
                            "createdAt",
                            "analyzedAt",
                            "updatedAt",
                            "isPublic",
                            "resourceOwnerAccount"
                        ],
                        "members": {
                            "resourceArn": {},
                            "resourceType": {},
                            "createdAt": {
                                "shape": "S3q"
                            },
                            "analyzedAt": {
                                "shape": "S3q"
                            },
                            "updatedAt": {
                                "shape": "S3q"
                            },
                            "isPublic": {
                                "type": "boolean"
                            },
                            "actions": {
                                "shape": "S3z"
                            },
                            "sharedVia": {
                                "type": "list",
                                "member": {}
                            },
                            "status": {},
                            "resourceOwnerAccount": {},
                            "error": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "GetAnalyzer": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer/{analyzerName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzer"
                ],
                "members": {
                    "analyzer": {
                        "shape": "S44"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "GetArchiveRule": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "ruleName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "ruleName": {
                        "location": "uri",
                        "locationName": "ruleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "archiveRule"
                ],
                "members": {
                    "archiveRule": {
                        "shape": "S4a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "GetFinding": {
            "http": {
                "method": "GET",
                "requestUri": "/finding/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "id"
                ],
                "members": {
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "finding": {
                        "type": "structure",
                        "required": [
                            "id",
                            "resourceType",
                            "condition",
                            "createdAt",
                            "analyzedAt",
                            "updatedAt",
                            "status",
                            "resourceOwnerAccount"
                        ],
                        "members": {
                            "id": {},
                            "principal": {
                                "shape": "S4f"
                            },
                            "action": {
                                "shape": "S3z"
                            },
                            "resource": {},
                            "isPublic": {
                                "type": "boolean"
                            },
                            "resourceType": {},
                            "condition": {
                                "shape": "S4g"
                            },
                            "createdAt": {
                                "shape": "S3q"
                            },
                            "analyzedAt": {
                                "shape": "S3q"
                            },
                            "updatedAt": {
                                "shape": "S3q"
                            },
                            "status": {},
                            "resourceOwnerAccount": {},
                            "error": {},
                            "sources": {
                                "shape": "S4h"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "GetFindingV2": {
            "http": {
                "method": "GET",
                "requestUri": "/findingv2/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "id"
                ],
                "members": {
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzedAt",
                    "createdAt",
                    "id",
                    "resourceType",
                    "resourceOwnerAccount",
                    "status",
                    "updatedAt",
                    "findingDetails"
                ],
                "members": {
                    "analyzedAt": {
                        "shape": "S3q"
                    },
                    "createdAt": {
                        "shape": "S3q"
                    },
                    "error": {},
                    "id": {},
                    "nextToken": {},
                    "resource": {},
                    "resourceType": {},
                    "resourceOwnerAccount": {},
                    "status": {},
                    "updatedAt": {
                        "shape": "S3q"
                    },
                    "findingDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "externalAccessDetails": {
                                    "type": "structure",
                                    "required": [
                                        "condition"
                                    ],
                                    "members": {
                                        "action": {
                                            "shape": "S3z"
                                        },
                                        "condition": {
                                            "shape": "S4g"
                                        },
                                        "isPublic": {
                                            "type": "boolean"
                                        },
                                        "principal": {
                                            "shape": "S4f"
                                        },
                                        "sources": {
                                            "shape": "S4h"
                                        }
                                    }
                                },
                                "unusedPermissionDetails": {
                                    "type": "structure",
                                    "required": [
                                        "serviceNamespace"
                                    ],
                                    "members": {
                                        "actions": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "action"
                                                ],
                                                "members": {
                                                    "action": {},
                                                    "lastAccessed": {
                                                        "shape": "S3q"
                                                    }
                                                }
                                            }
                                        },
                                        "serviceNamespace": {},
                                        "lastAccessed": {
                                            "shape": "S3q"
                                        }
                                    }
                                },
                                "unusedIamUserAccessKeyDetails": {
                                    "type": "structure",
                                    "required": [
                                        "accessKeyId"
                                    ],
                                    "members": {
                                        "accessKeyId": {},
                                        "lastAccessed": {
                                            "shape": "S3q"
                                        }
                                    }
                                },
                                "unusedIamRoleDetails": {
                                    "type": "structure",
                                    "members": {
                                        "lastAccessed": {
                                            "shape": "S3q"
                                        }
                                    }
                                },
                                "unusedIamUserPasswordDetails": {
                                    "type": "structure",
                                    "members": {
                                        "lastAccessed": {
                                            "shape": "S3q"
                                        }
                                    }
                                }
                            },
                            "union": true
                        }
                    },
                    "findingType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "GetFindingsStatistics": {
            "http": {
                "requestUri": "/analyzer/findings/statistics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn"
                ],
                "members": {
                    "analyzerArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "externalAccessStatistics": {
                        "type": "structure",
                        "members": {
                            "resourceTypeStatistics": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "resourceType": {},
                                        "totalPublic": {
                                            "type": "integer"
                                        },
                                        "totalCrossAccount": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "unusedAccessStatistics": {
                        "type": "structure",
                        "members": {
                            "unusedAccessTypeStatistics": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "unusedAccessType": {},
                                        "total": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "numberOfAccountsWithFindings": {
                        "type": "integer"
                    },
                    "totalAccounts": {
                        "type": "integer"
                    },
                    "numberOfResourcesWithActiveFindings": {
                        "type": "integer"
                    },
                    "totalActiveFindings": {
                        "type": "integer"
                    },
                    "totalArchivedFindings": {
                        "type": "integer"
                    },
                    "totalResolvedFindings": {
                        "type": "integer"
                    },
                    "totalResources": {
                        "type": "integer"
                    },
                    "topAccounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "account": {},
                                "numberOfActiveFindings": {
                                    "type": "integer"
                                },
                                "details": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    },
                    "lastUpdatedAt": {
                        "shape": "S3q"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "GetGeneratedPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/policy/generation/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "includeResourcePlaceholders": {
                        "location": "querystring",
                        "locationName": "includeResourcePlaceholders",
                        "type": "boolean"
                    },
                    "includeServiceLevelTemplate": {
                        "location": "querystring",
                        "locationName": "includeServiceLevelTemplate",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobDetails",
                    "generatedPolicyResult"
                ],
                "members": {
                    "jobDetails": {
                        "type": "structure",
                        "required": [
                            "jobId",
                            "status",
                            "startedOn"
                        ],
                        "members": {
                            "jobId": {},
                            "status": {},
                            "startedOn": {
                                "shape": "S3q"
                            },
                            "completedOn": {
                                "shape": "S3q"
                            },
                            "jobError": {
                                "type": "structure",
                                "required": [
                                    "code",
                                    "message"
                                ],
                                "members": {
                                    "code": {},
                                    "message": {}
                                }
                            }
                        }
                    },
                    "generatedPolicyResult": {
                        "type": "structure",
                        "required": [
                            "properties"
                        ],
                        "members": {
                            "properties": {
                                "type": "structure",
                                "required": [
                                    "principalArn"
                                ],
                                "members": {
                                    "isComplete": {
                                        "type": "boolean"
                                    },
                                    "principalArn": {},
                                    "cloudTrailProperties": {
                                        "type": "structure",
                                        "required": [
                                            "trailProperties",
                                            "startTime",
                                            "endTime"
                                        ],
                                        "members": {
                                            "trailProperties": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "required": [
                                                        "cloudTrailArn"
                                                    ],
                                                    "members": {
                                                        "cloudTrailArn": {},
                                                        "regions": {
                                                            "shape": "S5m"
                                                        },
                                                        "allRegions": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            },
                                            "startTime": {
                                                "shape": "S3q"
                                            },
                                            "endTime": {
                                                "shape": "S3q"
                                            }
                                        }
                                    }
                                }
                            },
                            "generatedPolicies": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "policy"
                                    ],
                                    "members": {
                                        "policy": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "ImportFindings": {
            "http": {
                "requestUri": "/findings/import",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerId",
                    "s3Bucket",
                    "s3Key",
                    "s3VersionId",
                    "resourceId"
                ],
                "members": {
                    "analyzerId": {},
                    "s3Bucket": {},
                    "s3Key": {},
                    "s3VersionId": {},
                    "resourceId": {},
                    "sourceId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "ListAccessPreviewFindings": {
            "http": {
                "requestUri": "/access-preview/{accessPreviewId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPreviewId",
                    "analyzerArn"
                ],
                "members": {
                    "accessPreviewId": {
                        "location": "uri",
                        "locationName": "accessPreviewId"
                    },
                    "analyzerArn": {},
                    "filter": {
                        "shape": "S3a"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "findings"
                ],
                "members": {
                    "findings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "resourceType",
                                "createdAt",
                                "changeType",
                                "status",
                                "resourceOwnerAccount"
                            ],
                            "members": {
                                "id": {},
                                "existingFindingId": {},
                                "existingFindingStatus": {},
                                "principal": {
                                    "shape": "S4f"
                                },
                                "action": {
                                    "shape": "S3z"
                                },
                                "condition": {
                                    "shape": "S4g"
                                },
                                "resource": {},
                                "isPublic": {
                                    "type": "boolean"
                                },
                                "resourceType": {},
                                "createdAt": {
                                    "shape": "S3q"
                                },
                                "changeType": {},
                                "status": {},
                                "resourceOwnerAccount": {},
                                "error": {},
                                "sources": {
                                    "shape": "S4h"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "ListAccessPreviews": {
            "http": {
                "method": "GET",
                "requestUri": "/access-preview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn"
                ],
                "members": {
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accessPreviews"
                ],
                "members": {
                    "accessPreviews": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "analyzerArn",
                                "createdAt",
                                "status"
                            ],
                            "members": {
                                "id": {},
                                "analyzerArn": {},
                                "createdAt": {
                                    "shape": "S3q"
                                },
                                "status": {},
                                "statusReason": {
                                    "shape": "S3s"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "ListAnalyzedResources": {
            "http": {
                "requestUri": "/analyzed-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn"
                ],
                "members": {
                    "analyzerArn": {},
                    "resourceType": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzedResources"
                ],
                "members": {
                    "analyzedResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "resourceArn",
                                "resourceOwnerAccount",
                                "resourceType"
                            ],
                            "members": {
                                "resourceArn": {},
                                "resourceOwnerAccount": {},
                                "resourceType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "ListAnalyzerMetadata": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer-data-access-layer/analyzer",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerType"
                ],
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "analyzerType": {
                        "location": "querystring",
                        "locationName": "analyzerType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzers"
                ],
                "members": {
                    "analyzers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "type",
                                "ownerAccount",
                                "analyzerId",
                                "analyzerStatus"
                            ],
                            "members": {
                                "type": {},
                                "ownerAccount": {},
                                "analyzerId": {},
                                "analyzerStatus": {},
                                "configuration": {
                                    "shape": "S3e"
                                },
                                "parentAnalyzerId": {},
                                "parentType": {},
                                "organizationalId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "ListAnalyzers": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "type": {
                        "location": "querystring",
                        "locationName": "type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzers"
                ],
                "members": {
                    "analyzers": {
                        "type": "list",
                        "member": {
                            "shape": "S44"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "ListArchiveRuleMetadata": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer-data-access-layer/archive-rule/{account}/{analyzerName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "account"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "account": {
                        "location": "uri",
                        "locationName": "account"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "archiveRules"
                ],
                "members": {
                    "archiveRules": {
                        "shape": "S6e"
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "ListArchiveRules": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer/{analyzerName}/archive-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "archiveRules"
                ],
                "members": {
                    "archiveRules": {
                        "shape": "S6e"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "ListFindings": {
            "http": {
                "requestUri": "/finding",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn"
                ],
                "members": {
                    "analyzerArn": {},
                    "filter": {
                        "shape": "S3a"
                    },
                    "sort": {
                        "shape": "S6i"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "findings"
                ],
                "members": {
                    "findings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "resourceType",
                                "condition",
                                "createdAt",
                                "analyzedAt",
                                "updatedAt",
                                "status",
                                "resourceOwnerAccount"
                            ],
                            "members": {
                                "id": {},
                                "principal": {
                                    "shape": "S4f"
                                },
                                "action": {
                                    "shape": "S3z"
                                },
                                "resource": {},
                                "isPublic": {
                                    "type": "boolean"
                                },
                                "resourceType": {},
                                "condition": {
                                    "shape": "S4g"
                                },
                                "createdAt": {
                                    "shape": "S3q"
                                },
                                "analyzedAt": {
                                    "shape": "S3q"
                                },
                                "updatedAt": {
                                    "shape": "S3q"
                                },
                                "status": {},
                                "resourceOwnerAccount": {},
                                "error": {},
                                "sources": {
                                    "shape": "S4h"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "ListFindingsV2": {
            "http": {
                "requestUri": "/findingv2",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn"
                ],
                "members": {
                    "analyzerArn": {},
                    "filter": {
                        "shape": "S3a"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "sort": {
                        "shape": "S6i"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "findings"
                ],
                "members": {
                    "findings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "analyzedAt",
                                "createdAt",
                                "id",
                                "resourceType",
                                "resourceOwnerAccount",
                                "status",
                                "updatedAt"
                            ],
                            "members": {
                                "analyzedAt": {
                                    "shape": "S3q"
                                },
                                "createdAt": {
                                    "shape": "S3q"
                                },
                                "error": {},
                                "id": {},
                                "resource": {},
                                "resourceType": {},
                                "resourceOwnerAccount": {},
                                "status": {},
                                "updatedAt": {
                                    "shape": "S3q"
                                },
                                "findingType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "ListPolicyGenerations": {
            "http": {
                "method": "GET",
                "requestUri": "/policy/generation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "principalArn": {
                        "location": "querystring",
                        "locationName": "principalArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policyGenerations"
                ],
                "members": {
                    "policyGenerations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobId",
                                "principalArn",
                                "status",
                                "startedOn"
                            ],
                            "members": {
                                "jobId": {},
                                "principalArn": {},
                                "status": {},
                                "startedOn": {
                                    "shape": "S3q"
                                },
                                "completedOn": {
                                    "shape": "S3q"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S3d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "StartPolicyGeneration": {
            "http": {
                "method": "PUT",
                "requestUri": "/policy/generation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policyGenerationDetails"
                ],
                "members": {
                    "policyGenerationDetails": {
                        "type": "structure",
                        "required": [
                            "principalArn"
                        ],
                        "members": {
                            "principalArn": {}
                        }
                    },
                    "cloudTrailDetails": {
                        "type": "structure",
                        "required": [
                            "trails",
                            "accessRole",
                            "startTime"
                        ],
                        "members": {
                            "trails": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "cloudTrailArn"
                                    ],
                                    "members": {
                                        "cloudTrailArn": {},
                                        "regions": {
                                            "shape": "S5m"
                                        },
                                        "allRegions": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            },
                            "accessRole": {},
                            "startTime": {
                                "shape": "S3q"
                            },
                            "endTime": {
                                "shape": "S3q"
                            }
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "StartResourceScan": {
            "http": {
                "requestUri": "/resource/scan",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "resourceArn"
                ],
                "members": {
                    "analyzerArn": {},
                    "resourceArn": {},
                    "resourceOwnerAccount": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S3d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "UpdateArchiveRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "ruleName",
                    "filter"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "ruleName": {
                        "location": "uri",
                        "locationName": "ruleName"
                    },
                    "filter": {
                        "shape": "S3a"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "UpdateFindings": {
            "http": {
                "method": "PUT",
                "requestUri": "/finding",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "status"
                ],
                "members": {
                    "analyzerArn": {},
                    "status": {},
                    "ids": {
                        "type": "list",
                        "member": {}
                    },
                    "resourceArn": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        },
        "ValidatePolicy": {
            "http": {
                "requestUri": "/policy/validation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policyDocument",
                    "policyType"
                ],
                "members": {
                    "locale": {},
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "policyDocument": {},
                    "policyName": {
                        "internalonly": true,
                        "location": "header",
                        "locationName": "policyName"
                    },
                    "policyPath": {
                        "internalonly": true,
                        "location": "header",
                        "locationName": "policyPath"
                    },
                    "policyType": {},
                    "validatePolicyResourceType": {},
                    "sdfType": {
                        "internalonly": true,
                        "location": "header",
                        "locationName": "sdfType",
                        "type": "string"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "findings"
                ],
                "members": {
                    "findings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "findingDetails",
                                "findingType",
                                "issueCode",
                                "learnMoreLink",
                                "locations"
                            ],
                            "members": {
                                "findingDetails": {},
                                "findingType": {},
                                "issueCode": {},
                                "learnMoreLink": {},
                                "locations": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "path",
                                            "span"
                                        ],
                                        "members": {
                                            "path": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "index": {
                                                            "type": "integer"
                                                        },
                                                        "key": {},
                                                        "substring": {
                                                            "type": "structure",
                                                            "required": [
                                                                "start",
                                                                "length"
                                                            ],
                                                            "members": {
                                                                "start": {
                                                                    "type": "integer"
                                                                },
                                                                "length": {
                                                                    "type": "integer"
                                                                }
                                                            }
                                                        },
                                                        "value": {}
                                                    },
                                                    "union": true
                                                }
                                            },
                                            "span": {
                                                "type": "structure",
                                                "required": [
                                                    "start",
                                                    "end"
                                                ],
                                                "members": {
                                                    "start": {
                                                        "shape": "S83"
                                                    },
                                                    "end": {
                                                        "shape": "S83"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGQAYFL2ONSBNWRY3AADA3KWDI5CCCYEBRJPLG4EO36CQR2PCXXA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Sh": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "description": {},
                    "statementIndex": {
                        "type": "integer"
                    },
                    "statementId": {}
                }
            }
        },
        "So": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "ebsSnapshot": {
                        "type": "structure",
                        "members": {
                            "userIds": {
                                "type": "list",
                                "member": {}
                            },
                            "groups": {
                                "type": "list",
                                "member": {}
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "ec2Ami": {
                        "type": "structure",
                        "members": {
                            "userIds": {
                                "type": "list",
                                "member": {}
                            },
                            "groups": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "ecrRepository": {
                        "type": "structure",
                        "members": {
                            "repositoryPolicy": {}
                        }
                    },
                    "iamRole": {
                        "type": "structure",
                        "members": {
                            "trustPolicy": {}
                        }
                    },
                    "efsFileSystem": {
                        "type": "structure",
                        "members": {
                            "fileSystemPolicy": {}
                        }
                    },
                    "kmsKey": {
                        "type": "structure",
                        "members": {
                            "keyPolicies": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "grants": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "operations",
                                        "granteePrincipal",
                                        "issuingAccount"
                                    ],
                                    "members": {
                                        "operations": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "granteePrincipal": {},
                                        "retiringPrincipal": {},
                                        "constraints": {
                                            "type": "structure",
                                            "members": {
                                                "encryptionContextEquals": {
                                                    "shape": "S1j"
                                                },
                                                "encryptionContextSubset": {
                                                    "shape": "S1j"
                                                }
                                            }
                                        },
                                        "issuingAccount": {}
                                    }
                                }
                            }
                        }
                    },
                    "rdsDbClusterSnapshot": {
                        "type": "structure",
                        "members": {
                            "attributes": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "accountIds": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    },
                                    "union": true
                                }
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "rdsDbSnapshot": {
                        "type": "structure",
                        "members": {
                            "attributes": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "accountIds": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    },
                                    "union": true
                                }
                            },
                            "kmsKeyId": {}
                        }
                    },
                    "secretsManagerSecret": {
                        "type": "structure",
                        "members": {
                            "kmsKeyId": {},
                            "secretPolicy": {}
                        }
                    },
                    "s3Bucket": {
                        "type": "structure",
                        "members": {
                            "bucketPolicy": {},
                            "bucketAclGrants": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "permission",
                                        "grantee"
                                    ],
                                    "members": {
                                        "permission": {},
                                        "grantee": {
                                            "type": "structure",
                                            "members": {
                                                "id": {},
                                                "uri": {}
                                            },
                                            "union": true
                                        }
                                    }
                                }
                            },
                            "bucketPublicAccessBlock": {
                                "shape": "S2c"
                            },
                            "accessPoints": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "accessPointPolicy": {},
                                        "publicAccessBlock": {
                                            "shape": "S2c"
                                        },
                                        "networkOrigin": {
                                            "type": "structure",
                                            "members": {
                                                "vpcConfiguration": {
                                                    "type": "structure",
                                                    "required": [
                                                        "vpcId"
                                                    ],
                                                    "members": {
                                                        "vpcId": {}
                                                    }
                                                },
                                                "internetConfiguration": {
                                                    "type": "structure",
                                                    "members": {}
                                                }
                                            },
                                            "union": true
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "snsTopic": {
                        "type": "structure",
                        "members": {
                            "topicPolicy": {}
                        }
                    },
                    "sqsQueue": {
                        "type": "structure",
                        "members": {
                            "queuePolicy": {}
                        }
                    },
                    "ssmDocument": {
                        "type": "structure",
                        "members": {
                            "permissionType": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "structure",
                                        "members": {
                                            "accountIds": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        },
                                        "union": true
                                    }
                                }
                            }
                        }
                    },
                    "dynamodbStream": {
                        "type": "structure",
                        "members": {
                            "streamPolicy": {}
                        }
                    },
                    "dynamodbTable": {
                        "type": "structure",
                        "members": {
                            "tablePolicy": {}
                        }
                    },
                    "s3ExpressDirectoryBucket": {
                        "type": "structure",
                        "members": {
                            "bucketPolicy": {}
                        }
                    }
                },
                "union": true
            }
        },
        "S1j": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S2c": {
            "type": "structure",
            "required": [
                "ignorePublicAcls",
                "restrictPublicBuckets"
            ],
            "members": {
                "ignorePublicAcls": {
                    "type": "boolean"
                },
                "restrictPublicBuckets": {
                    "type": "boolean"
                }
            }
        },
        "S3a": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "eq": {
                        "shape": "S3c"
                    },
                    "neq": {
                        "shape": "S3c"
                    },
                    "contains": {
                        "shape": "S3c"
                    },
                    "exists": {
                        "type": "boolean"
                    }
                }
            }
        },
        "S3c": {
            "type": "list",
            "member": {}
        },
        "S3d": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S3e": {
            "type": "structure",
            "members": {
                "unusedAccess": {
                    "type": "structure",
                    "members": {
                        "unusedAccessAge": {
                            "type": "integer"
                        }
                    }
                }
            },
            "union": true
        },
        "S3q": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S3s": {
            "type": "structure",
            "required": [
                "code"
            ],
            "members": {
                "code": {}
            }
        },
        "S3z": {
            "type": "list",
            "member": {}
        },
        "S44": {
            "type": "structure",
            "required": [
                "arn",
                "name",
                "type",
                "createdAt",
                "status"
            ],
            "members": {
                "arn": {},
                "name": {},
                "type": {},
                "createdAt": {
                    "shape": "S3q"
                },
                "lastResourceAnalyzed": {},
                "lastResourceAnalyzedAt": {
                    "shape": "S3q"
                },
                "tags": {
                    "shape": "S3d"
                },
                "status": {},
                "statusReason": {
                    "type": "structure",
                    "required": [
                        "code"
                    ],
                    "members": {
                        "code": {}
                    }
                },
                "configuration": {
                    "shape": "S3e"
                }
            }
        },
        "S4a": {
            "type": "structure",
            "required": [
                "ruleName",
                "filter",
                "createdAt",
                "updatedAt"
            ],
            "members": {
                "ruleName": {},
                "filter": {
                    "shape": "S3a"
                },
                "createdAt": {
                    "shape": "S3q"
                },
                "updatedAt": {
                    "shape": "S3q"
                }
            }
        },
        "S4f": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S4g": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S4h": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "type"
                ],
                "members": {
                    "type": {},
                    "detail": {
                        "type": "structure",
                        "members": {
[...]
