{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-01",
        "endpointPrefix": "access-analyzer",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Access Analyzer",
        "serviceFullName": "Access Analyzer",
        "signatureVersion": "v4",
        "signingName": "access-analyzer",
        "uid": "access-analyzer-2019-11-01",
        "download_location": [
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKU5Z6OOHG5TQUVRXBJX4QLDT4LMV7X5HKFBBX7IYTCY7TUFNB7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
            "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
        ]
    },
    "operations": {
        "ApplyArchiveRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/archive-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "ruleName"
                ],
                "members": {
                    "analyzerArn": {},
                    "ruleName": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "CancelPolicyGeneration": {
            "http": {
                "method": "PUT",
                "requestUri": "/policy/generation/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "CreateAccessPreview": {
            "http": {
                "method": "PUT",
                "requestUri": "/access-preview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "configurations"
                ],
                "members": {
                    "analyzerArn": {},
                    "configurations": {
                        "shape": "S9"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "CreateAnalyzer": {
            "http": {
                "method": "PUT",
                "requestUri": "/analyzer",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "type"
                ],
                "members": {
                    "analyzerName": {},
                    "type": {},
                    "archiveRules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ruleName",
                                "filter"
                            ],
                            "members": {
                                "ruleName": {},
                                "filter": {
                                    "shape": "S2k"
                                }
                            }
                        }
                    },
                    "tags": {
                        "shape": "S2n"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "configuration": {
                        "shape": "S3e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "CreateArchiveRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/analyzer/{analyzerName}/archive-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "ruleName",
                    "filter"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "ruleName": {},
                    "filter": {
                        "shape": "S2k"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "DeleteAnalyzer": {
            "http": {
                "method": "DELETE",
                "requestUri": "/analyzer/{analyzerName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "DeleteArchiveRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "ruleName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "ruleName": {
                        "location": "uri",
                        "locationName": "ruleName"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "GetAccessPreview": {
            "http": {
                "method": "GET",
                "requestUri": "/access-preview/{accessPreviewId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPreviewId",
                    "analyzerArn"
                ],
                "members": {
                    "accessPreviewId": {
                        "location": "uri",
                        "locationName": "accessPreviewId"
                    },
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accessPreview"
                ],
                "members": {
                    "accessPreview": {
                        "type": "structure",
                        "required": [
                            "id",
                            "analyzerArn",
                            "configurations",
                            "createdAt",
                            "status"
                        ],
                        "members": {
                            "id": {},
                            "analyzerArn": {},
                            "configurations": {
                                "shape": "S9"
                            },
                            "createdAt": {
                                "shape": "S2v"
                            },
                            "status": {},
                            "statusReason": {
                                "shape": "S2x"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "GetAnalyzedResource": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzed-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "resourceArn"
                ],
                "members": {
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    },
                    "resourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resource": {
                        "type": "structure",
                        "required": [
                            "resourceArn",
                            "resourceType",
                            "createdAt",
                            "analyzedAt",
                            "updatedAt",
                            "isPublic",
                            "resourceOwnerAccount"
                        ],
                        "members": {
                            "resourceArn": {},
                            "resourceType": {},
                            "createdAt": {
                                "shape": "S2v"
                            },
                            "analyzedAt": {
                                "shape": "S2v"
                            },
                            "updatedAt": {
                                "shape": "S2v"
                            },
                            "isPublic": {
                                "type": "boolean"
                            },
                            "actions": {
                                "shape": "S34"
                            },
                            "sharedVia": {
                                "type": "list",
                                "member": {}
                            },
                            "status": {},
                            "resourceOwnerAccount": {},
                            "error": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "GetAnalyzer": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer/{analyzerName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzer"
                ],
                "members": {
                    "analyzer": {
                        "shape": "S39"
                    }
                }
            },
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "GetArchiveRule": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "ruleName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "ruleName": {
                        "location": "uri",
                        "locationName": "ruleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "archiveRule"
                ],
                "members": {
                    "archiveRule": {
                        "shape": "S3f"
                    }
                }
            },
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "GetFinding": {
            "http": {
                "method": "GET",
                "requestUri": "/finding/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "id"
                ],
                "members": {
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "finding": {
                        "type": "structure",
                        "required": [
                            "id",
                            "resourceType",
                            "condition",
                            "createdAt",
                            "analyzedAt",
                            "updatedAt",
                            "status",
                            "resourceOwnerAccount"
                        ],
                        "members": {
                            "id": {},
                            "principal": {
                                "shape": "S3k"
                            },
                            "action": {
                                "shape": "S34"
                            },
                            "resource": {},
                            "isPublic": {
                                "type": "boolean"
                            },
                            "resourceType": {},
                            "condition": {
                                "shape": "S3l"
                            },
                            "createdAt": {
                                "shape": "S2v"
                            },
                            "analyzedAt": {
                                "shape": "S2v"
                            },
                            "updatedAt": {
                                "shape": "S2v"
                            },
                            "status": {},
                            "resourceOwnerAccount": {},
                            "error": {},
                            "sources": {
                                "shape": "S3m"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "GetGeneratedPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/policy/generation/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "includeResourcePlaceholders": {
                        "location": "querystring",
                        "locationName": "includeResourcePlaceholders",
                        "type": "boolean"
                    },
                    "includeServiceLevelTemplate": {
                        "location": "querystring",
                        "locationName": "includeServiceLevelTemplate",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobDetails",
                    "generatedPolicyResult"
                ],
                "members": {
                    "jobDetails": {
                        "type": "structure",
                        "required": [
                            "jobId",
                            "status",
                            "startedOn"
                        ],
                        "members": {
                            "jobId": {},
                            "status": {},
                            "startedOn": {
                                "shape": "S2v"
                            },
                            "completedOn": {
                                "shape": "S2v"
                            },
                            "jobError": {
                                "type": "structure",
                                "required": [
                                    "code",
                                    "message"
                                ],
                                "members": {
                                    "code": {},
                                    "message": {}
                                }
                            }
                        }
                    },
                    "generatedPolicyResult": {
                        "type": "structure",
                        "required": [
                            "properties"
                        ],
                        "members": {
                            "properties": {
                                "type": "structure",
                                "required": [
                                    "principalArn"
                                ],
                                "members": {
                                    "isComplete": {
                                        "type": "boolean"
                                    },
                                    "principalArn": {},
                                    "cloudTrailProperties": {
                                        "type": "structure",
                                        "required": [
                                            "trailProperties",
                                            "startTime",
                                            "endTime"
                                        ],
                                        "members": {
                                            "trailProperties": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "required": [
                                                        "cloudTrailArn"
                                                    ],
                                                    "members": {
                                                        "cloudTrailArn": {},
                                                        "regions": {
                                                            "shape": "S43"
                                                        },
                                                        "allRegions": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            },
                                            "startTime": {
                                                "shape": "S2v"
                                            },
                                            "endTime": {
                                                "shape": "S2v"
                                            }
                                        }
                                    }
                                }
                            },
                            "generatedPolicies": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "policy"
                                    ],
                                    "members": {
                                        "policy": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "ListAccessPreviewFindings": {
            "http": {
                "requestUri": "/access-preview/{accessPreviewId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPreviewId",
                    "analyzerArn"
                ],
                "members": {
                    "accessPreviewId": {
                        "location": "uri",
                        "locationName": "accessPreviewId"
                    },
                    "analyzerArn": {},
                    "filter": {
                        "shape": "S2k"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "findings"
                ],
                "members": {
                    "findings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "resourceType",
                                "createdAt",
                                "changeType",
                                "status",
                                "resourceOwnerAccount"
                            ],
                            "members": {
                                "id": {},
                                "existingFindingId": {},
                                "existingFindingStatus": {},
                                "principal": {
                                    "shape": "S3k"
                                },
                                "action": {
                                    "shape": "S34"
                                },
                                "condition": {
                                    "shape": "S3l"
                                },
                                "resource": {},
                                "isPublic": {
                                    "type": "boolean"
                                },
                                "resourceType": {},
                                "createdAt": {
                                    "shape": "S2v"
                                },
                                "changeType": {},
                                "status": {},
                                "resourceOwnerAccount": {},
                                "error": {},
                                "sources": {
                                    "shape": "S3m"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "ListAccessPreviews": {
            "http": {
                "method": "GET",
                "requestUri": "/access-preview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn"
                ],
                "members": {
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accessPreviews"
                ],
                "members": {
                    "accessPreviews": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "analyzerArn",
                                "createdAt",
                                "status"
                            ],
                            "members": {
                                "id": {},
                                "analyzerArn": {},
                                "createdAt": {
                                    "shape": "S2v"
                                },
                                "status": {},
                                "statusReason": {
                                    "shape": "S2x"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "ListAnalyzedResources": {
            "http": {
                "requestUri": "/analyzed-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn"
                ],
                "members": {
                    "analyzerArn": {},
                    "resourceType": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzedResources"
                ],
                "members": {
                    "analyzedResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "resourceArn",
                                "resourceOwnerAccount",
                                "resourceType"
                            ],
                            "members": {
                                "resourceArn": {},
                                "resourceOwnerAccount": {},
                                "resourceType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "ListAnalyzers": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "type": {
                        "location": "querystring",
                        "locationName": "type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzers"
                ],
                "members": {
                    "analyzers": {
                        "type": "list",
                        "member": {
                            "shape": "S39"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "ListArchiveRules": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer/{analyzerName}/archive-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "archiveRules"
                ],
                "members": {
                    "archiveRules": {
                        "type": "list",
                        "member": {
                            "shape": "S3f"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "ListFindings": {
            "http": {
                "requestUri": "/finding",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn"
                ],
                "members": {
                    "analyzerArn": {},
                    "filter": {
                        "shape": "S2k"
                    },
                    "sort": {
                        "type": "structure",
                        "members": {
                            "attributeName": {},
                            "orderBy": {}
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "findings"
                ],
                "members": {
                    "findings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "resourceType",
                                "condition",
                                "createdAt",
                                "analyzedAt",
                                "updatedAt",
                                "status",
                                "resourceOwnerAccount"
                            ],
                            "members": {
                                "id": {},
                                "principal": {
                                    "shape": "S3k"
                                },
                                "action": {
                                    "shape": "S34"
                                },
                                "resource": {},
                                "isPublic": {
                                    "type": "boolean"
                                },
                                "resourceType": {},
                                "condition": {
                                    "shape": "S3l"
                                },
                                "createdAt": {
                                    "shape": "S2v"
                                },
                                "analyzedAt": {
                                    "shape": "S2v"
                                },
                                "updatedAt": {
                                    "shape": "S2v"
                                },
                                "status": {},
                                "resourceOwnerAccount": {},
                                "error": {},
                                "sources": {
                                    "shape": "S3m"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js"
            ]
        },
        "ListPolicyGenerations": {
            "http": {
                "method": "GET",
                "requestUri": "/policy/generation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "principalArn": {
                        "location": "querystring",
                        "locationName": "principalArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policyGenerations"
                ],
                "members": {
                    "policyGenerations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobId",
                                "principalArn",
                                "status",
                                "startedOn"
                            ],
                            "members": {
                                "jobId": {},
                                "principalArn": {},
                                "status": {},
                                "startedOn": {
                                    "shape": "S2v"
                                },
                                "completedOn": {
                                    "shape": "S2v"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ENG5DIIXI5SD4HH7CT33ZPECXI7QEKNCESRRWVSZKNOSZ7ZKLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HF2ZL4K6YTJ5ZR35ULPXHQKD4AJHRKIGPFGV5QMXPDHOZFFSKILA/vendorv3-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U323NCYSJMADPQNC56WL7SJXGKDDVXSLSLVKEYRB6J34OIUPQGZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VTOSTVZIVTO57OELF6HBC2H2LHYVDL6PPN4AV7OZPMCSJ5Z6QCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ENWYAIRHAVZCKAPIQMVB4F2M3HFZ4NUY7FTPKZ2VBEH6XDYFXKA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYISXPGX3DLKRUZU4UAHC4423BFDMAX2M35WLHK63JHPAKQOYVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2U7ZGNJ3LFEK4C4ZFVYM52KOBS5EFH7KR5YYX6NINU6AIHFYYRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQQZBS7UCDYE3PMDXZ7C4HNKDTI7SECLANVCFSESSNLU6IDBHOHA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLGWG5DY25TGZN43PJRDDICFRNLU5ER3ZDSKJMGELYTSKLFMNNA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RYJSBBJ25HQYD2MFOXQNMG7JWPFHXONVN2BNA4JUUBG727IVEQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MIHFDGSHJNDVBFLPZQYN32MZY6NFMCEUOKSFIU7U2CXOB5V3N2A/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLARHYTICEZNIC4BIDBCTL3TSRD67ZACRUGQF7NSXJ44LZLV3KUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JU5M23GIHQIH53LXRS5NCQXBGFXNWMIUNYD5Z4HAOFMQFRSWRGEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLDJJ63FENZCETVD5LXSPNR7NBXHBF5NGONJAJKTS753VL2BVWQA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBOAM4LF5N4HLYFZB5S7QK7AYMAX6ETPXJ36TAUAXXZYOYWW7FQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4COXY6INHMHA3EUSWHR3SZLXWYNDKADXFNR33X667RBAQRLSFAFA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7JZHYBNFNXXGP6ALROXGQZBRO6XDSQGDMO5LMTDK3EACPFY7JRA/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFTIWMQL3NSTXY3XUWG5FZTI4Z5IK37G4TRJHAFARVZTVKMSK5YQ/vendorv3-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BK2NENHPB3UZXBIDPZFXZHXOXS7IHCH52MS6JWDFJVWKHHAEHA/main.js",
[...]
