{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-01",
        "endpointPrefix": "access-analyzer",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Access Analyzer",
        "serviceFullName": "Access Analyzer",
        "signatureVersion": "v4",
        "signingName": "access-analyzer",
        "uid": "access-analyzer-2019-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKDEEAA426AH5KA5U4JMM7LAAG2X5BCL77NCYWIQRFHGCZONDEPQ/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
        ]
    },
    "operations": {
        "ApplyArchiveRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/archive-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "ruleName"
                ],
                "members": {
                    "analyzerArn": {},
                    "ruleName": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CancelPolicyGeneration": {
            "http": {
                "method": "PUT",
                "requestUri": "/policy/generation/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateAccessPreview": {
            "http": {
                "method": "PUT",
                "requestUri": "/access-preview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "configurations"
                ],
                "members": {
                    "analyzerArn": {},
                    "configurations": {
                        "shape": "S9"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateAnalyzer": {
            "http": {
                "method": "PUT",
                "requestUri": "/analyzer",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "type"
                ],
                "members": {
                    "analyzerName": {},
                    "type": {},
                    "archiveRules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ruleName",
                                "filter"
                            ],
                            "members": {
                                "ruleName": {},
                                "filter": {
                                    "shape": "S2k"
                                }
                            }
                        }
                    },
                    "tags": {
                        "shape": "S2n"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "configuration": {
                        "shape": "S3e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "CreateArchiveRule": {
            "http": {
                "method": "PUT",
                "requestUri": "/analyzer/{analyzerName}/archive-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "ruleName",
                    "filter"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "ruleName": {},
                    "filter": {
                        "shape": "S2k"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteAnalyzer": {
            "http": {
                "method": "DELETE",
                "requestUri": "/analyzer/{analyzerName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "DeleteArchiveRule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "ruleName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "ruleName": {
                        "location": "uri",
                        "locationName": "ruleName"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "querystring",
                        "locationName": "clientToken"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "GetAccessPreview": {
            "http": {
                "method": "GET",
                "requestUri": "/access-preview/{accessPreviewId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPreviewId",
                    "analyzerArn"
                ],
                "members": {
                    "accessPreviewId": {
                        "location": "uri",
                        "locationName": "accessPreviewId"
                    },
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accessPreview"
                ],
                "members": {
                    "accessPreview": {
                        "type": "structure",
                        "required": [
                            "id",
                            "analyzerArn",
                            "configurations",
                            "createdAt",
                            "status"
                        ],
                        "members": {
                            "id": {},
                            "analyzerArn": {},
                            "configurations": {
                                "shape": "S9"
                            },
                            "createdAt": {
                                "shape": "S2v"
                            },
                            "status": {},
                            "statusReason": {
                                "shape": "S2x"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "GetAnalyzedResource": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzed-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "resourceArn"
                ],
                "members": {
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    },
                    "resourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resource": {
                        "type": "structure",
                        "required": [
                            "resourceArn",
                            "resourceType",
                            "createdAt",
                            "analyzedAt",
                            "updatedAt",
                            "isPublic",
                            "resourceOwnerAccount"
                        ],
                        "members": {
                            "resourceArn": {},
                            "resourceType": {},
                            "createdAt": {
                                "shape": "S2v"
                            },
                            "analyzedAt": {
                                "shape": "S2v"
                            },
                            "updatedAt": {
                                "shape": "S2v"
                            },
                            "isPublic": {
                                "type": "boolean"
                            },
                            "actions": {
                                "shape": "S34"
                            },
                            "sharedVia": {
                                "type": "list",
                                "member": {}
                            },
                            "status": {},
                            "resourceOwnerAccount": {},
                            "error": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "GetAnalyzer": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer/{analyzerName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzer"
                ],
                "members": {
                    "analyzer": {
                        "shape": "S39"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "GetArchiveRule": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName",
                    "ruleName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "ruleName": {
                        "location": "uri",
                        "locationName": "ruleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "archiveRule"
                ],
                "members": {
                    "archiveRule": {
                        "shape": "S3f"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "GetFinding": {
            "http": {
                "method": "GET",
                "requestUri": "/finding/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "id"
                ],
                "members": {
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "finding": {
                        "type": "structure",
                        "required": [
                            "id",
                            "resourceType",
                            "condition",
                            "createdAt",
                            "analyzedAt",
                            "updatedAt",
                            "status",
                            "resourceOwnerAccount"
                        ],
                        "members": {
                            "id": {},
                            "principal": {
                                "shape": "S3k"
                            },
                            "action": {
                                "shape": "S34"
                            },
                            "resource": {},
                            "isPublic": {
                                "type": "boolean"
                            },
                            "resourceType": {},
                            "condition": {
                                "shape": "S3l"
                            },
                            "createdAt": {
                                "shape": "S2v"
                            },
                            "analyzedAt": {
                                "shape": "S2v"
                            },
                            "updatedAt": {
                                "shape": "S2v"
                            },
                            "status": {},
                            "resourceOwnerAccount": {},
                            "error": {},
                            "sources": {
                                "shape": "S3m"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "GetGeneratedPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/policy/generation/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "includeResourcePlaceholders": {
                        "location": "querystring",
                        "locationName": "includeResourcePlaceholders",
                        "type": "boolean"
                    },
                    "includeServiceLevelTemplate": {
                        "location": "querystring",
                        "locationName": "includeServiceLevelTemplate",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobDetails",
                    "generatedPolicyResult"
                ],
                "members": {
                    "jobDetails": {
                        "type": "structure",
                        "required": [
                            "jobId",
                            "status",
                            "startedOn"
                        ],
                        "members": {
                            "jobId": {},
                            "status": {},
                            "startedOn": {
                                "shape": "S2v"
                            },
                            "completedOn": {
                                "shape": "S2v"
                            },
                            "jobError": {
                                "type": "structure",
                                "required": [
                                    "code",
                                    "message"
                                ],
                                "members": {
                                    "code": {},
                                    "message": {}
                                }
                            }
                        }
                    },
                    "generatedPolicyResult": {
                        "type": "structure",
                        "required": [
                            "properties"
                        ],
                        "members": {
                            "properties": {
                                "type": "structure",
                                "required": [
                                    "principalArn"
                                ],
                                "members": {
                                    "isComplete": {
                                        "type": "boolean"
                                    },
                                    "principalArn": {},
                                    "cloudTrailProperties": {
                                        "type": "structure",
                                        "required": [
                                            "trailProperties",
                                            "startTime",
                                            "endTime"
                                        ],
                                        "members": {
                                            "trailProperties": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "required": [
                                                        "cloudTrailArn"
                                                    ],
                                                    "members": {
                                                        "cloudTrailArn": {},
                                                        "regions": {
                                                            "shape": "S43"
                                                        },
                                                        "allRegions": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            },
                                            "startTime": {
                                                "shape": "S2v"
                                            },
                                            "endTime": {
                                                "shape": "S2v"
                                            }
                                        }
                                    }
                                }
                            },
                            "generatedPolicies": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "policy"
                                    ],
                                    "members": {
                                        "policy": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "ListAccessPreviewFindings": {
            "http": {
                "requestUri": "/access-preview/{accessPreviewId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accessPreviewId",
                    "analyzerArn"
                ],
                "members": {
                    "accessPreviewId": {
                        "location": "uri",
                        "locationName": "accessPreviewId"
                    },
                    "analyzerArn": {},
                    "filter": {
                        "shape": "S2k"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "findings"
                ],
                "members": {
                    "findings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "resourceType",
                                "createdAt",
                                "changeType",
                                "status",
                                "resourceOwnerAccount"
                            ],
                            "members": {
                                "id": {},
                                "existingFindingId": {},
                                "existingFindingStatus": {},
                                "principal": {
                                    "shape": "S3k"
                                },
                                "action": {
                                    "shape": "S34"
                                },
                                "condition": {
                                    "shape": "S3l"
                                },
                                "resource": {},
                                "isPublic": {
                                    "type": "boolean"
                                },
                                "resourceType": {},
                                "createdAt": {
                                    "shape": "S2v"
                                },
                                "changeType": {},
                                "status": {},
                                "resourceOwnerAccount": {},
                                "error": {},
                                "sources": {
                                    "shape": "S3m"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "ListAccessPreviews": {
            "http": {
                "method": "GET",
                "requestUri": "/access-preview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn"
                ],
                "members": {
                    "analyzerArn": {
                        "location": "querystring",
                        "locationName": "analyzerArn"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accessPreviews"
                ],
                "members": {
                    "accessPreviews": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "analyzerArn",
                                "createdAt",
                                "status"
                            ],
                            "members": {
                                "id": {},
                                "analyzerArn": {},
                                "createdAt": {
                                    "shape": "S2v"
                                },
                                "status": {},
                                "statusReason": {
                                    "shape": "S2x"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "ListAnalyzedResources": {
            "http": {
                "requestUri": "/analyzed-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn"
                ],
                "members": {
                    "analyzerArn": {},
                    "resourceType": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzedResources"
                ],
                "members": {
                    "analyzedResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "resourceArn",
                                "resourceOwnerAccount",
                                "resourceType"
                            ],
                            "members": {
                                "resourceArn": {},
                                "resourceOwnerAccount": {},
                                "resourceType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "ListAnalyzers": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "type": {
                        "location": "querystring",
                        "locationName": "type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "analyzers"
                ],
                "members": {
                    "analyzers": {
                        "type": "list",
                        "member": {
                            "shape": "S39"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "ListArchiveRules": {
            "http": {
                "method": "GET",
                "requestUri": "/analyzer/{analyzerName}/archive-rule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerName"
                ],
                "members": {
                    "analyzerName": {
                        "location": "uri",
                        "locationName": "analyzerName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "archiveRules"
                ],
                "members": {
                    "archiveRules": {
                        "type": "list",
                        "member": {
                            "shape": "S3f"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "ListFindings": {
            "http": {
                "requestUri": "/finding",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn"
                ],
                "members": {
                    "analyzerArn": {},
                    "filter": {
                        "shape": "S2k"
                    },
                    "sort": {
                        "type": "structure",
                        "members": {
                            "attributeName": {},
                            "orderBy": {}
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "findings"
                ],
                "members": {
                    "findings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "resourceType",
                                "condition",
                                "createdAt",
                                "analyzedAt",
                                "updatedAt",
                                "status",
                                "resourceOwnerAccount"
                            ],
                            "members": {
                                "id": {},
                                "principal": {
                                    "shape": "S3k"
                                },
                                "action": {
                                    "shape": "S34"
                                },
                                "resource": {},
                                "isPublic": {
                                    "type": "boolean"
                                },
                                "resourceType": {},
                                "condition": {
                                    "shape": "S3l"
                                },
                                "createdAt": {
                                    "shape": "S2v"
                                },
                                "analyzedAt": {
                                    "shape": "S2v"
                                },
                                "updatedAt": {
                                    "shape": "S2v"
                                },
                                "status": {},
                                "resourceOwnerAccount": {},
                                "error": {},
                                "sources": {
                                    "shape": "S3m"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "ListPolicyGenerations": {
            "http": {
                "method": "GET",
                "requestUri": "/policy/generation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "principalArn": {
                        "location": "querystring",
                        "locationName": "principalArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policyGenerations"
                ],
                "members": {
                    "policyGenerations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobId",
                                "principalArn",
                                "status",
                                "startedOn"
                            ],
                            "members": {
                                "jobId": {},
                                "principalArn": {},
                                "status": {},
                                "startedOn": {
                                    "shape": "S2v"
                                },
                                "completedOn": {
                                    "shape": "S2v"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "StartPolicyGeneration": {
            "http": {
                "method": "PUT",
                "requestUri": "/policy/generation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policyGenerationDetails"
                ],
                "members": {
                    "policyGenerationDetails": {
                        "type": "structure",
                        "required": [
                            "principalArn"
                        ],
                        "members": {
                            "principalArn": {}
                        }
                    },
                    "cloudTrailDetails": {
                        "type": "structure",
                        "required": [
                            "trails",
                            "accessRole",
                            "startTime"
                        ],
                        "members": {
                            "trails": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "cloudTrailArn"
                                    ],
                                    "members": {
                                        "cloudTrailArn": {},
                                        "regions": {
                                            "shape": "S43"
                                        },
                                        "allRegions": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            },
                            "accessRole": {},
                            "startTime": {
                                "shape": "S2v"
                            },
                            "endTime": {
                                "shape": "S2v"
                            }
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "StartResourceScan": {
            "http": {
                "requestUri": "/resource/scan",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "analyzerArn",
                    "resourceArn"
                ],
                "members": {
                    "analyzerArn": {},
                    "resourceArn": {},
                    "resourceOwnerAccount": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S2n"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1711660107370/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712039916277/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZBEGYX27GDOLQEY4KCP7ANHG7CKLHHEFXVWQENCEZTUDADLKLVQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/0646b533-0072-4d1f-8046-1d3b3044bc67/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZEB7WJ4F3DD6RS6H6UDX6TEMC3NU2A7OG3VDARTI55UMXV6SHHQ/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712621514124/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712689982434/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712775105947/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/03472eae-8bba-4227-a4f5-cb0fa722f598/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/eced2d7d-c001-4adc-88b2-058679279a56/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/30f3a497-0efb-496a-8048-907d1b1a1a9e/vendorv3.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/5eb21906-902d-417e-a6e6-e67005bced80/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
[...]
