{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-02-01",
        "endpointPrefix": "account",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Account",
        "serviceId": "Account",
        "signatureVersion": "v4",
        "signingName": "account",
        "uid": "account-2021-02-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js"
        ]
    },
    "operations": {
        "DeleteAlternateContact": {
            "http": {
                "requestUri": "/deleteAlternateContact",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AlternateContactType"
                ],
                "members": {
                    "AccountId": {},
                    "AlternateContactType": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js"
            ]
        },
        "GetAlternateContact": {
            "http": {
                "requestUri": "/getAlternateContact",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AlternateContactType"
                ],
                "members": {
                    "AccountId": {},
                    "AlternateContactType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlternateContact": {
                        "type": "structure",
                        "members": {
                            "AlternateContactType": {},
                            "EmailAddress": {
                                "shape": "S7"
                            },
                            "Name": {
                                "shape": "S8"
                            },
                            "PhoneNumber": {
                                "shape": "S9"
                            },
                            "Title": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js"
            ]
        },
        "GetContactInformation": {
            "http": {
                "requestUri": "/getContactInformation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContactInformation": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js"
            ]
        },
        "PutAlternateContact": {
            "http": {
                "requestUri": "/putAlternateContact",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AlternateContactType",
                    "EmailAddress",
                    "Name",
                    "PhoneNumber",
                    "Title"
                ],
                "members": {
                    "AccountId": {},
                    "AlternateContactType": {},
                    "EmailAddress": {
                        "shape": "S7"
                    },
                    "Name": {
                        "shape": "S8"
                    },
                    "PhoneNumber": {
                        "shape": "S9"
                    },
                    "Title": {
                        "shape": "Sa"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js"
            ]
        },
        "PutContactInformation": {
            "http": {
                "requestUri": "/putContactInformation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ContactInformation"
                ],
                "members": {
                    "AccountId": {},
                    "ContactInformation": {
                        "shape": "Sd"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js"
            ]
        },
        "DisableRegion": {
            "http": {
                "requestUri": "/disableRegion",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RegionName"
                ],
                "members": {
                    "AccountId": {},
                    "RegionName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js"
            ]
        },
        "EnableRegion": {
            "http": {
                "requestUri": "/enableRegion",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RegionName"
                ],
                "members": {
                    "AccountId": {},
                    "RegionName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js"
            ]
        },
        "GetRegionOptStatus": {
            "http": {
                "requestUri": "/getRegionOptStatus",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RegionName"
                ],
                "members": {
                    "AccountId": {},
                    "RegionName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegionName": {},
                    "RegionOptStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js"
            ]
        },
        "ListRegions": {
            "http": {
                "requestUri": "/listRegions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "RegionOptStatusContains": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Regions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RegionName": {},
                                "RegionOptStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js"
            ]
        },
        "AcceptPrimaryEmailUpdate": {
            "http": {
                "requestUri": "/acceptPrimaryEmailUpdate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Otp",
                    "PrimaryEmail"
                ],
                "members": {
                    "AccountId": {},
                    "Otp": {
                        "type": "string",
                        "sensitive": true
                    },
                    "PrimaryEmail": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js"
            ]
        },
        "GetPrimaryEmail": {
            "http": {
                "requestUri": "/getPrimaryEmail",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrimaryEmail": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js"
            ]
        },
        "StartPrimaryEmailUpdate": {
            "http": {
                "requestUri": "/startPrimaryEmailUpdate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "PrimaryEmail"
                ],
                "members": {
                    "AccountId": {},
                    "PrimaryEmail": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "string",
            "sensitive": true
        },
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Sa": {
            "type": "string",
            "sensitive": true
        },
        "Sd": {
            "type": "structure",
            "required": [
                "AddressLine1",
                "City",
                "CountryCode",
                "FullName",
                "PhoneNumber",
                "PostalCode"
            ],
            "members": {
                "AddressLine1": {
                    "shape": "Se"
                },
                "AddressLine2": {
                    "shape": "Se"
                },
                "AddressLine3": {
                    "shape": "Se"
                },
                "City": {
                    "type": "string",
                    "sensitive": true
                },
                "CompanyName": {
                    "type": "string",
                    "sensitive": true
                },
                "CountryCode": {
                    "type": "string",
                    "sensitive": true
                },
                "DistrictOrCounty": {
                    "type": "string",
                    "sensitive": true
                },
                "FullName": {
                    "type": "string",
                    "sensitive": true
                },
                "PhoneNumber": {
                    "type": "string",
                    "sensitive": true
                },
                "PostalCode": {
                    "type": "string",
                    "sensitive": true
                },
                "StateOrRegion": {
                    "type": "string",
                    "sensitive": true
                },
                "WebsiteUrl": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "Se": {
            "type": "string",
            "sensitive": true
        },
        "Sb": {
            "type": "string",
            "sensitive": true
        },
        "Sc": {
            "type": "string",
            "sensitive": true
        },
        "Sg": {
            "type": "structure",
            "required": [
                "AddressLine1",
                "City",
                "CountryCode",
                "FullName",
                "PhoneNumber",
                "PostalCode"
            ],
            "members": {
                "AddressLine1": {
                    "shape": "Sh"
                },
                "AddressLine2": {
                    "shape": "Sh"
                },
                "AddressLine3": {
                    "shape": "Sh"
                },
                "City": {
                    "type": "string",
                    "sensitive": true
                },
                "CompanyName": {
                    "type": "string",
                    "sensitive": true
                },
                "CountryCode": {
                    "type": "string",
                    "sensitive": true
                },
                "DistrictOrCounty": {
                    "type": "string",
                    "sensitive": true
                },
                "FullName": {
                    "type": "string",
                    "sensitive": true
                },
                "PhoneNumber": {
                    "type": "string",
                    "sensitive": true
                },
                "PostalCode": {
                    "type": "string",
                    "sensitive": true
                },
                "StateOrRegion": {
                    "type": "string",
                    "sensitive": true
                },
                "WebsiteUrl": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "Sh": {
            "type": "string",
            "sensitive": true
        },
        "S4": {
            "type": "string",
            "sensitive": true
        },
        "Sf": {
            "type": "string",
            "sensitive": true
        },
        "Si": {
            "type": "string",
            "sensitive": true
        },
        "Sl": {
            "type": "structure",
            "required": [
                "AddressLine1",
                "City",
                "CountryCode",
                "FullName",
                "PhoneNumber",
                "PostalCode"
            ],
            "members": {
                "AddressLine1": {
                    "shape": "Sm"
                },
                "AddressLine2": {
                    "shape": "Sm"
                },
                "AddressLine3": {
                    "shape": "Sm"
                },
                "City": {
                    "type": "string",
                    "sensitive": true
                },
                "CompanyName": {
                    "type": "string",
                    "sensitive": true
                },
                "CountryCode": {
                    "type": "string",
                    "sensitive": true
                },
                "DistrictOrCounty": {
                    "type": "string",
                    "sensitive": true
                },
                "FullName": {
                    "type": "string",
                    "sensitive": true
                },
                "PhoneNumber": {
                    "type": "string",
                    "sensitive": true
                },
                "PostalCode": {
                    "type": "string",
                    "sensitive": true
                },
                "StateOrRegion": {
                    "type": "string",
                    "sensitive": true
                },
                "WebsiteUrl": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "Sm": {
            "type": "string",
            "sensitive": true
        }
    }
}