{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-02-01",
        "endpointPrefix": "account",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Account",
        "serviceId": "Account",
        "signatureVersion": "v4",
        "signingName": "account",
        "uid": "account-2021-02-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "DeleteAlternateContact": {
            "http": {
                "requestUri": "/deleteAlternateContact",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AlternateContactType"
                ],
                "members": {
                    "AccountId": {},
                    "AlternateContactType": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetAlternateContact": {
            "http": {
                "requestUri": "/getAlternateContact",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AlternateContactType"
                ],
                "members": {
                    "AccountId": {},
                    "AlternateContactType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlternateContact": {
                        "type": "structure",
                        "members": {
                            "AlternateContactType": {},
                            "EmailAddress": {
                                "shape": "S7"
                            },
                            "Name": {
                                "shape": "S8"
                            },
                            "PhoneNumber": {
                                "shape": "S9"
                            },
                            "Title": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetContactInformation": {
            "http": {
                "requestUri": "/getContactInformation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContactInformation": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3IBW3OUF4XAXHR3RULOCIQ32XB2UHT7DFSGLGH2SHUP65ZUX7PQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBPX62PRM26RBHP6PM2TKSHHUVUCJTELOSFTMJTK6DVEVFPSICSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4E6Y22IRN4LCYJA7CRC7ORIGRF3Z7FNJ5RT6O6KSTXUVRRUCQPA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SMZ6ZFG2YZFMZWK4NRPAJFFHCLFYIMPJYNZSGVLTQ3BWUZ4BDA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C64ANL72SD2ET7IWVFY326ZAF2RRK5KTDKSQMJ7HYS3IXOYYKVQA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5V5FD5BXLS7YVWM35PUUM46QJTFALL5KX7GOSZEYJK4AJWOAYGMQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7F4UHPX7CL6MGBBIC44R6WJBQRKKJ4VTKT3FIT6F7PEXJGVI5UA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HUB63DXCJQPJ3MU4PBSDIKWCHD5NJ64ZXSDZKCCOPIIRLMCNJ4Q/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PI3Z6R2MAWOAONRS76NRW5FJPGVY4FE3Q5EMY63AP7WJRKXQ5AQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYASJK7JW4YXH6PACNB7YVB3W5VAXFPVN7XIIMV4XIIPGT4FYDLQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js"
            ]
        },
        "PutAlternateContact": {
            "http": {
                "requestUri": "/putAlternateContact",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AlternateContactType",
                    "EmailAddress",
                    "Name",
                    "PhoneNumber",
                    "Title"
                ],
                "members": {
                    "AccountId": {},
                    "AlternateContactType": {},
                    "EmailAddress": {
                        "shape": "S7"
                    },
                    "Name": {
                        "shape": "S8"
                    },
                    "PhoneNumber": {
                        "shape": "S9"
                    },
                    "Title": {
                        "shape": "Sa"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "PutContactInformation": {
            "http": {
                "requestUri": "/putContactInformation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ContactInformation"
                ],
                "members": {
                    "AccountId": {},
                    "ContactInformation": {
                        "shape": "Sd"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3IBW3OUF4XAXHR3RULOCIQ32XB2UHT7DFSGLGH2SHUP65ZUX7PQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBPX62PRM26RBHP6PM2TKSHHUVUCJTELOSFTMJTK6DVEVFPSICSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4E6Y22IRN4LCYJA7CRC7ORIGRF3Z7FNJ5RT6O6KSTXUVRRUCQPA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SMZ6ZFG2YZFMZWK4NRPAJFFHCLFYIMPJYNZSGVLTQ3BWUZ4BDA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C64ANL72SD2ET7IWVFY326ZAF2RRK5KTDKSQMJ7HYS3IXOYYKVQA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5V5FD5BXLS7YVWM35PUUM46QJTFALL5KX7GOSZEYJK4AJWOAYGMQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7F4UHPX7CL6MGBBIC44R6WJBQRKKJ4VTKT3FIT6F7PEXJGVI5UA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HUB63DXCJQPJ3MU4PBSDIKWCHD5NJ64ZXSDZKCCOPIIRLMCNJ4Q/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PI3Z6R2MAWOAONRS76NRW5FJPGVY4FE3Q5EMY63AP7WJRKXQ5AQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYASJK7JW4YXH6PACNB7YVB3W5VAXFPVN7XIIMV4XIIPGT4FYDLQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js"
            ]
        },
        "DisableRegion": {
            "http": {
                "requestUri": "/disableRegion",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RegionName"
                ],
                "members": {
                    "AccountId": {},
                    "RegionName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3IBW3OUF4XAXHR3RULOCIQ32XB2UHT7DFSGLGH2SHUP65ZUX7PQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBPX62PRM26RBHP6PM2TKSHHUVUCJTELOSFTMJTK6DVEVFPSICSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4E6Y22IRN4LCYJA7CRC7ORIGRF3Z7FNJ5RT6O6KSTXUVRRUCQPA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SMZ6ZFG2YZFMZWK4NRPAJFFHCLFYIMPJYNZSGVLTQ3BWUZ4BDA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C64ANL72SD2ET7IWVFY326ZAF2RRK5KTDKSQMJ7HYS3IXOYYKVQA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5V5FD5BXLS7YVWM35PUUM46QJTFALL5KX7GOSZEYJK4AJWOAYGMQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7F4UHPX7CL6MGBBIC44R6WJBQRKKJ4VTKT3FIT6F7PEXJGVI5UA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HUB63DXCJQPJ3MU4PBSDIKWCHD5NJ64ZXSDZKCCOPIIRLMCNJ4Q/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PI3Z6R2MAWOAONRS76NRW5FJPGVY4FE3Q5EMY63AP7WJRKXQ5AQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYASJK7JW4YXH6PACNB7YVB3W5VAXFPVN7XIIMV4XIIPGT4FYDLQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js"
            ]
        },
        "EnableRegion": {
            "http": {
                "requestUri": "/enableRegion",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RegionName"
                ],
                "members": {
                    "AccountId": {},
                    "RegionName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3IBW3OUF4XAXHR3RULOCIQ32XB2UHT7DFSGLGH2SHUP65ZUX7PQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBPX62PRM26RBHP6PM2TKSHHUVUCJTELOSFTMJTK6DVEVFPSICSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4E6Y22IRN4LCYJA7CRC7ORIGRF3Z7FNJ5RT6O6KSTXUVRRUCQPA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SMZ6ZFG2YZFMZWK4NRPAJFFHCLFYIMPJYNZSGVLTQ3BWUZ4BDA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C64ANL72SD2ET7IWVFY326ZAF2RRK5KTDKSQMJ7HYS3IXOYYKVQA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5V5FD5BXLS7YVWM35PUUM46QJTFALL5KX7GOSZEYJK4AJWOAYGMQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7F4UHPX7CL6MGBBIC44R6WJBQRKKJ4VTKT3FIT6F7PEXJGVI5UA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HUB63DXCJQPJ3MU4PBSDIKWCHD5NJ64ZXSDZKCCOPIIRLMCNJ4Q/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PI3Z6R2MAWOAONRS76NRW5FJPGVY4FE3Q5EMY63AP7WJRKXQ5AQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYASJK7JW4YXH6PACNB7YVB3W5VAXFPVN7XIIMV4XIIPGT4FYDLQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js"
            ]
        },
        "GetRegionOptStatus": {
            "http": {
                "requestUri": "/getRegionOptStatus",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RegionName"
                ],
                "members": {
                    "AccountId": {},
                    "RegionName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegionName": {},
                    "RegionOptStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3IBW3OUF4XAXHR3RULOCIQ32XB2UHT7DFSGLGH2SHUP65ZUX7PQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBPX62PRM26RBHP6PM2TKSHHUVUCJTELOSFTMJTK6DVEVFPSICSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4E6Y22IRN4LCYJA7CRC7ORIGRF3Z7FNJ5RT6O6KSTXUVRRUCQPA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SMZ6ZFG2YZFMZWK4NRPAJFFHCLFYIMPJYNZSGVLTQ3BWUZ4BDA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C64ANL72SD2ET7IWVFY326ZAF2RRK5KTDKSQMJ7HYS3IXOYYKVQA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5V5FD5BXLS7YVWM35PUUM46QJTFALL5KX7GOSZEYJK4AJWOAYGMQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7F4UHPX7CL6MGBBIC44R6WJBQRKKJ4VTKT3FIT6F7PEXJGVI5UA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HUB63DXCJQPJ3MU4PBSDIKWCHD5NJ64ZXSDZKCCOPIIRLMCNJ4Q/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PI3Z6R2MAWOAONRS76NRW5FJPGVY4FE3Q5EMY63AP7WJRKXQ5AQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYASJK7JW4YXH6PACNB7YVB3W5VAXFPVN7XIIMV4XIIPGT4FYDLQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js"
            ]
        },
        "ListRegions": {
            "http": {
                "requestUri": "/listRegions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "RegionOptStatusContains": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Regions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RegionName": {},
                                "RegionOptStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3IBW3OUF4XAXHR3RULOCIQ32XB2UHT7DFSGLGH2SHUP65ZUX7PQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBPX62PRM26RBHP6PM2TKSHHUVUCJTELOSFTMJTK6DVEVFPSICSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4E6Y22IRN4LCYJA7CRC7ORIGRF3Z7FNJ5RT6O6KSTXUVRRUCQPA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SMZ6ZFG2YZFMZWK4NRPAJFFHCLFYIMPJYNZSGVLTQ3BWUZ4BDA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C64ANL72SD2ET7IWVFY326ZAF2RRK5KTDKSQMJ7HYS3IXOYYKVQA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5V5FD5BXLS7YVWM35PUUM46QJTFALL5KX7GOSZEYJK4AJWOAYGMQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7F4UHPX7CL6MGBBIC44R6WJBQRKKJ4VTKT3FIT6F7PEXJGVI5UA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HUB63DXCJQPJ3MU4PBSDIKWCHD5NJ64ZXSDZKCCOPIIRLMCNJ4Q/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PI3Z6R2MAWOAONRS76NRW5FJPGVY4FE3Q5EMY63AP7WJRKXQ5AQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYASJK7JW4YXH6PACNB7YVB3W5VAXFPVN7XIIMV4XIIPGT4FYDLQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "string",
            "sensitive": true
        },
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Sa": {
            "type": "string",
            "sensitive": true
        },
        "Sd": {
            "type": "structure",
            "required": [
                "AddressLine1",
                "City",
                "CountryCode",
                "FullName",
                "PhoneNumber",
                "PostalCode"
            ],
            "members": {
                "AddressLine1": {
                    "shape": "Se"
                },
                "AddressLine2": {
                    "shape": "Se"
                },
                "AddressLine3": {
                    "shape": "Se"
                },
                "City": {
                    "type": "string",
                    "sensitive": true
                },
                "CompanyName": {
                    "type": "string",
                    "sensitive": true
                },
                "CountryCode": {
                    "type": "string",
                    "sensitive": true
                },
                "DistrictOrCounty": {
                    "type": "string",
                    "sensitive": true
                },
                "FullName": {
                    "type": "string",
                    "sensitive": true
                },
                "PhoneNumber": {
                    "type": "string",
                    "sensitive": true
                },
                "PostalCode": {
                    "type": "string",
                    "sensitive": true
                },
                "StateOrRegion": {
                    "type": "string",
                    "sensitive": true
                },
                "WebsiteUrl": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "Se": {
            "type": "string",
            "sensitive": true
        },
        "Sb": {
            "type": "string",
            "sensitive": true
        },
        "Sc": {
            "type": "string",
            "sensitive": true
        },
        "Sg": {
            "type": "structure",
            "required": [
                "AddressLine1",
                "City",
                "CountryCode",
                "FullName",
                "PhoneNumber",
                "PostalCode"
            ],
            "members": {
                "AddressLine1": {
                    "shape": "Sh"
                },
                "AddressLine2": {
                    "shape": "Sh"
                },
                "AddressLine3": {
                    "shape": "Sh"
                },
                "City": {
                    "type": "string",
                    "sensitive": true
                },
                "CompanyName": {
                    "type": "string",
                    "sensitive": true
                },
                "CountryCode": {
                    "type": "string",
                    "sensitive": true
                },
                "DistrictOrCounty": {
                    "type": "string",
                    "sensitive": true
                },
                "FullName": {
                    "type": "string",
                    "sensitive": true
                },
                "PhoneNumber": {
                    "type": "string",
                    "sensitive": true
                },
                "PostalCode": {
                    "type": "string",
                    "sensitive": true
                },
                "StateOrRegion": {
                    "type": "string",
                    "sensitive": true
                },
                "WebsiteUrl": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "Sh": {
            "type": "string",
            "sensitive": true
        }
    }
}