{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-02-01",
        "endpointPrefix": "account",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Account",
        "serviceId": "Account",
        "signatureVersion": "v4",
        "signingName": "account",
        "uid": "account-2021-02-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HXL5RV2JOQARQROO6JLPI43HT4KLTOCZ4JTDKV7RODJPXUJZNPGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SBZBIZCTNQB7JKMV4UVTGFIUNW2ALSNBW7ZB6NA5PB3QHREUGHBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PRSOITJBHGLXY4HNERPZ5PNWF3C4TGRYCI2OKAV3PLUFNO52LZUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUC55JXIDA3GQX3LSJIMU5BYA277BOT6M24QUA6PWVBQWGCGRKQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEYDYEY3R42W3DNHWUZC7ROQIVEHJIH3TZECS7WYIXAXZWMNESLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VALHIRJBZOK3E2MFPNCQORFOJ72QSTLVPLH333WQ7VHOZZM5WCBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MMUSMPHHPOHFD4NYQX3GR6AQTQDM2REYROXXPNWIA27O7JAYJ42Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FF26RDCYSO4JNSHQCO7IZQLJZSO7F3CKGJW2ZHQBCU4VSAD7SMKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MIXPLBRE6CB5CXDI6BECID5GDED335HVAQUNNMJ7VC7YF2BBSHOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IJFTQ7PJOFVONP3C4VPHCB2QIPEXE4SW7K5ANDIBUAB6N4NPDRCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2JRNZRC2ARQHVQQ4OAQIRK3YPMVFJUXD2LEVRZ5QP77DOB2EER2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HESR5UU7G4M7HPQUBXJ2L3S325MITKQHMJHYL5R7CDFOAPW3OA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6SUMU6BM2UYYWLROUA6V3XPLN2XPGK57JYC7NVZP6KN7KRHN5NQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HXUW2WP6YQTI7TQBILMRCB6L63DFTTHUK2VNSAXRUZH52KJGNNJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FEAZ2XDBSJDPHJRKSNCGGL2VUUB5GBM5WZOTWMTDDE7IQJ3DKUIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RMYYPGEY36YHI5URZTD3BYONTKHTVSMMUKOEBWQOQTKQXCWSFXFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BU3TUINGMSZVVPMKIIYPNT34TNUBDEEFQSPFFKNDP4DBCNDEBPCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3NADFXUYKPIV23266UFAAXNVMTG23RG6A2WVVBMGXBEKN5XTLWJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WS72ZEZDLIRXERQYBWKVI43ZIOO2IZNGCYNW4EJ3AKRZXJRW22NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "DeleteAlternateContact": {
            "http": {
                "requestUri": "/deleteAlternateContact",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AlternateContactType"
                ],
                "members": {
                    "AccountId": {},
                    "AlternateContactType": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZBIZCTNQB7JKMV4UVTGFIUNW2ALSNBW7ZB6NA5PB3QHREUGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRSOITJBHGLXY4HNERPZ5PNWF3C4TGRYCI2OKAV3PLUFNO52LZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUC55JXIDA3GQX3LSJIMU5BYA277BOT6M24QUA6PWVBQWGCGRKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEYDYEY3R42W3DNHWUZC7ROQIVEHJIH3TZECS7WYIXAXZWMNESLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VALHIRJBZOK3E2MFPNCQORFOJ72QSTLVPLH333WQ7VHOZZM5WCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMUSMPHHPOHFD4NYQX3GR6AQTQDM2REYROXXPNWIA27O7JAYJ42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF26RDCYSO4JNSHQCO7IZQLJZSO7F3CKGJW2ZHQBCU4VSAD7SMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXPLBRE6CB5CXDI6BECID5GDED335HVAQUNNMJ7VC7YF2BBSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFTQ7PJOFVONP3C4VPHCB2QIPEXE4SW7K5ANDIBUAB6N4NPDRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JRNZRC2ARQHVQQ4OAQIRK3YPMVFJUXD2LEVRZ5QP77DOB2EER2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HESR5UU7G4M7HPQUBXJ2L3S325MITKQHMJHYL5R7CDFOAPW3OA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SUMU6BM2UYYWLROUA6V3XPLN2XPGK57JYC7NVZP6KN7KRHN5NQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXUW2WP6YQTI7TQBILMRCB6L63DFTTHUK2VNSAXRUZH52KJGNNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEAZ2XDBSJDPHJRKSNCGGL2VUUB5GBM5WZOTWMTDDE7IQJ3DKUIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYYPGEY36YHI5URZTD3BYONTKHTVSMMUKOEBWQOQTKQXCWSFXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BU3TUINGMSZVVPMKIIYPNT34TNUBDEEFQSPFFKNDP4DBCNDEBPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NADFXUYKPIV23266UFAAXNVMTG23RG6A2WVVBMGXBEKN5XTLWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS72ZEZDLIRXERQYBWKVI43ZIOO2IZNGCYNW4EJ3AKRZXJRW22NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAlternateContact": {
            "http": {
                "requestUri": "/getAlternateContact",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AlternateContactType"
                ],
                "members": {
                    "AccountId": {},
                    "AlternateContactType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AlternateContact": {
                        "type": "structure",
                        "members": {
                            "AlternateContactType": {},
                            "EmailAddress": {
                                "shape": "S7"
                            },
                            "Name": {
                                "shape": "S8"
                            },
                            "PhoneNumber": {
                                "shape": "S9"
                            },
                            "Title": {
                                "shape": "Sa"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZBIZCTNQB7JKMV4UVTGFIUNW2ALSNBW7ZB6NA5PB3QHREUGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRSOITJBHGLXY4HNERPZ5PNWF3C4TGRYCI2OKAV3PLUFNO52LZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUC55JXIDA3GQX3LSJIMU5BYA277BOT6M24QUA6PWVBQWGCGRKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEYDYEY3R42W3DNHWUZC7ROQIVEHJIH3TZECS7WYIXAXZWMNESLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VALHIRJBZOK3E2MFPNCQORFOJ72QSTLVPLH333WQ7VHOZZM5WCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMUSMPHHPOHFD4NYQX3GR6AQTQDM2REYROXXPNWIA27O7JAYJ42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF26RDCYSO4JNSHQCO7IZQLJZSO7F3CKGJW2ZHQBCU4VSAD7SMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXPLBRE6CB5CXDI6BECID5GDED335HVAQUNNMJ7VC7YF2BBSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFTQ7PJOFVONP3C4VPHCB2QIPEXE4SW7K5ANDIBUAB6N4NPDRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JRNZRC2ARQHVQQ4OAQIRK3YPMVFJUXD2LEVRZ5QP77DOB2EER2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HESR5UU7G4M7HPQUBXJ2L3S325MITKQHMJHYL5R7CDFOAPW3OA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SUMU6BM2UYYWLROUA6V3XPLN2XPGK57JYC7NVZP6KN7KRHN5NQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXUW2WP6YQTI7TQBILMRCB6L63DFTTHUK2VNSAXRUZH52KJGNNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEAZ2XDBSJDPHJRKSNCGGL2VUUB5GBM5WZOTWMTDDE7IQJ3DKUIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYYPGEY36YHI5URZTD3BYONTKHTVSMMUKOEBWQOQTKQXCWSFXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BU3TUINGMSZVVPMKIIYPNT34TNUBDEEFQSPFFKNDP4DBCNDEBPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NADFXUYKPIV23266UFAAXNVMTG23RG6A2WVVBMGXBEKN5XTLWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS72ZEZDLIRXERQYBWKVI43ZIOO2IZNGCYNW4EJ3AKRZXJRW22NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetContactInformation": {
            "http": {
                "requestUri": "/getContactInformation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContactInformation": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXL5RV2JOQARQROO6JLPI43HT4KLTOCZ4JTDKV7RODJPXUJZNPGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZBIZCTNQB7JKMV4UVTGFIUNW2ALSNBW7ZB6NA5PB3QHREUGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRSOITJBHGLXY4HNERPZ5PNWF3C4TGRYCI2OKAV3PLUFNO52LZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUC55JXIDA3GQX3LSJIMU5BYA277BOT6M24QUA6PWVBQWGCGRKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEYDYEY3R42W3DNHWUZC7ROQIVEHJIH3TZECS7WYIXAXZWMNESLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VALHIRJBZOK3E2MFPNCQORFOJ72QSTLVPLH333WQ7VHOZZM5WCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMUSMPHHPOHFD4NYQX3GR6AQTQDM2REYROXXPNWIA27O7JAYJ42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF26RDCYSO4JNSHQCO7IZQLJZSO7F3CKGJW2ZHQBCU4VSAD7SMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXPLBRE6CB5CXDI6BECID5GDED335HVAQUNNMJ7VC7YF2BBSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFTQ7PJOFVONP3C4VPHCB2QIPEXE4SW7K5ANDIBUAB6N4NPDRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JRNZRC2ARQHVQQ4OAQIRK3YPMVFJUXD2LEVRZ5QP77DOB2EER2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HESR5UU7G4M7HPQUBXJ2L3S325MITKQHMJHYL5R7CDFOAPW3OA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SUMU6BM2UYYWLROUA6V3XPLN2XPGK57JYC7NVZP6KN7KRHN5NQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXUW2WP6YQTI7TQBILMRCB6L63DFTTHUK2VNSAXRUZH52KJGNNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEAZ2XDBSJDPHJRKSNCGGL2VUUB5GBM5WZOTWMTDDE7IQJ3DKUIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYYPGEY36YHI5URZTD3BYONTKHTVSMMUKOEBWQOQTKQXCWSFXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BU3TUINGMSZVVPMKIIYPNT34TNUBDEEFQSPFFKNDP4DBCNDEBPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NADFXUYKPIV23266UFAAXNVMTG23RG6A2WVVBMGXBEKN5XTLWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS72ZEZDLIRXERQYBWKVI43ZIOO2IZNGCYNW4EJ3AKRZXJRW22NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "PutAlternateContact": {
            "http": {
                "requestUri": "/putAlternateContact",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AlternateContactType",
                    "EmailAddress",
                    "Name",
                    "PhoneNumber",
                    "Title"
                ],
                "members": {
                    "AccountId": {},
                    "AlternateContactType": {},
                    "EmailAddress": {
                        "shape": "S7"
                    },
                    "Name": {
                        "shape": "S8"
                    },
                    "PhoneNumber": {
                        "shape": "S9"
                    },
                    "Title": {
                        "shape": "Sa"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZBIZCTNQB7JKMV4UVTGFIUNW2ALSNBW7ZB6NA5PB3QHREUGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRSOITJBHGLXY4HNERPZ5PNWF3C4TGRYCI2OKAV3PLUFNO52LZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUC55JXIDA3GQX3LSJIMU5BYA277BOT6M24QUA6PWVBQWGCGRKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEYDYEY3R42W3DNHWUZC7ROQIVEHJIH3TZECS7WYIXAXZWMNESLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VALHIRJBZOK3E2MFPNCQORFOJ72QSTLVPLH333WQ7VHOZZM5WCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMUSMPHHPOHFD4NYQX3GR6AQTQDM2REYROXXPNWIA27O7JAYJ42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF26RDCYSO4JNSHQCO7IZQLJZSO7F3CKGJW2ZHQBCU4VSAD7SMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXPLBRE6CB5CXDI6BECID5GDED335HVAQUNNMJ7VC7YF2BBSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFTQ7PJOFVONP3C4VPHCB2QIPEXE4SW7K5ANDIBUAB6N4NPDRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JRNZRC2ARQHVQQ4OAQIRK3YPMVFJUXD2LEVRZ5QP77DOB2EER2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HESR5UU7G4M7HPQUBXJ2L3S325MITKQHMJHYL5R7CDFOAPW3OA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SUMU6BM2UYYWLROUA6V3XPLN2XPGK57JYC7NVZP6KN7KRHN5NQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXUW2WP6YQTI7TQBILMRCB6L63DFTTHUK2VNSAXRUZH52KJGNNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEAZ2XDBSJDPHJRKSNCGGL2VUUB5GBM5WZOTWMTDDE7IQJ3DKUIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYYPGEY36YHI5URZTD3BYONTKHTVSMMUKOEBWQOQTKQXCWSFXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BU3TUINGMSZVVPMKIIYPNT34TNUBDEEFQSPFFKNDP4DBCNDEBPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NADFXUYKPIV23266UFAAXNVMTG23RG6A2WVVBMGXBEKN5XTLWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS72ZEZDLIRXERQYBWKVI43ZIOO2IZNGCYNW4EJ3AKRZXJRW22NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "PutContactInformation": {
            "http": {
                "requestUri": "/putContactInformation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ContactInformation"
                ],
                "members": {
                    "AccountId": {},
                    "ContactInformation": {
                        "shape": "Sd"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXL5RV2JOQARQROO6JLPI43HT4KLTOCZ4JTDKV7RODJPXUJZNPGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZBIZCTNQB7JKMV4UVTGFIUNW2ALSNBW7ZB6NA5PB3QHREUGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRSOITJBHGLXY4HNERPZ5PNWF3C4TGRYCI2OKAV3PLUFNO52LZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUC55JXIDA3GQX3LSJIMU5BYA277BOT6M24QUA6PWVBQWGCGRKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEYDYEY3R42W3DNHWUZC7ROQIVEHJIH3TZECS7WYIXAXZWMNESLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VALHIRJBZOK3E2MFPNCQORFOJ72QSTLVPLH333WQ7VHOZZM5WCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMUSMPHHPOHFD4NYQX3GR6AQTQDM2REYROXXPNWIA27O7JAYJ42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF26RDCYSO4JNSHQCO7IZQLJZSO7F3CKGJW2ZHQBCU4VSAD7SMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXPLBRE6CB5CXDI6BECID5GDED335HVAQUNNMJ7VC7YF2BBSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFTQ7PJOFVONP3C4VPHCB2QIPEXE4SW7K5ANDIBUAB6N4NPDRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JRNZRC2ARQHVQQ4OAQIRK3YPMVFJUXD2LEVRZ5QP77DOB2EER2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HESR5UU7G4M7HPQUBXJ2L3S325MITKQHMJHYL5R7CDFOAPW3OA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SUMU6BM2UYYWLROUA6V3XPLN2XPGK57JYC7NVZP6KN7KRHN5NQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXUW2WP6YQTI7TQBILMRCB6L63DFTTHUK2VNSAXRUZH52KJGNNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEAZ2XDBSJDPHJRKSNCGGL2VUUB5GBM5WZOTWMTDDE7IQJ3DKUIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYYPGEY36YHI5URZTD3BYONTKHTVSMMUKOEBWQOQTKQXCWSFXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BU3TUINGMSZVVPMKIIYPNT34TNUBDEEFQSPFFKNDP4DBCNDEBPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NADFXUYKPIV23266UFAAXNVMTG23RG6A2WVVBMGXBEKN5XTLWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS72ZEZDLIRXERQYBWKVI43ZIOO2IZNGCYNW4EJ3AKRZXJRW22NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DisableRegion": {
            "http": {
                "requestUri": "/disableRegion",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RegionName"
                ],
                "members": {
                    "AccountId": {},
                    "RegionName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXL5RV2JOQARQROO6JLPI43HT4KLTOCZ4JTDKV7RODJPXUJZNPGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZBIZCTNQB7JKMV4UVTGFIUNW2ALSNBW7ZB6NA5PB3QHREUGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRSOITJBHGLXY4HNERPZ5PNWF3C4TGRYCI2OKAV3PLUFNO52LZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUC55JXIDA3GQX3LSJIMU5BYA277BOT6M24QUA6PWVBQWGCGRKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEYDYEY3R42W3DNHWUZC7ROQIVEHJIH3TZECS7WYIXAXZWMNESLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VALHIRJBZOK3E2MFPNCQORFOJ72QSTLVPLH333WQ7VHOZZM5WCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMUSMPHHPOHFD4NYQX3GR6AQTQDM2REYROXXPNWIA27O7JAYJ42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF26RDCYSO4JNSHQCO7IZQLJZSO7F3CKGJW2ZHQBCU4VSAD7SMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXPLBRE6CB5CXDI6BECID5GDED335HVAQUNNMJ7VC7YF2BBSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFTQ7PJOFVONP3C4VPHCB2QIPEXE4SW7K5ANDIBUAB6N4NPDRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JRNZRC2ARQHVQQ4OAQIRK3YPMVFJUXD2LEVRZ5QP77DOB2EER2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HESR5UU7G4M7HPQUBXJ2L3S325MITKQHMJHYL5R7CDFOAPW3OA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SUMU6BM2UYYWLROUA6V3XPLN2XPGK57JYC7NVZP6KN7KRHN5NQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXUW2WP6YQTI7TQBILMRCB6L63DFTTHUK2VNSAXRUZH52KJGNNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEAZ2XDBSJDPHJRKSNCGGL2VUUB5GBM5WZOTWMTDDE7IQJ3DKUIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYYPGEY36YHI5URZTD3BYONTKHTVSMMUKOEBWQOQTKQXCWSFXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BU3TUINGMSZVVPMKIIYPNT34TNUBDEEFQSPFFKNDP4DBCNDEBPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NADFXUYKPIV23266UFAAXNVMTG23RG6A2WVVBMGXBEKN5XTLWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS72ZEZDLIRXERQYBWKVI43ZIOO2IZNGCYNW4EJ3AKRZXJRW22NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "EnableRegion": {
            "http": {
                "requestUri": "/enableRegion",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RegionName"
                ],
                "members": {
                    "AccountId": {},
                    "RegionName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXL5RV2JOQARQROO6JLPI43HT4KLTOCZ4JTDKV7RODJPXUJZNPGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZBIZCTNQB7JKMV4UVTGFIUNW2ALSNBW7ZB6NA5PB3QHREUGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRSOITJBHGLXY4HNERPZ5PNWF3C4TGRYCI2OKAV3PLUFNO52LZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUC55JXIDA3GQX3LSJIMU5BYA277BOT6M24QUA6PWVBQWGCGRKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEYDYEY3R42W3DNHWUZC7ROQIVEHJIH3TZECS7WYIXAXZWMNESLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VALHIRJBZOK3E2MFPNCQORFOJ72QSTLVPLH333WQ7VHOZZM5WCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMUSMPHHPOHFD4NYQX3GR6AQTQDM2REYROXXPNWIA27O7JAYJ42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF26RDCYSO4JNSHQCO7IZQLJZSO7F3CKGJW2ZHQBCU4VSAD7SMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXPLBRE6CB5CXDI6BECID5GDED335HVAQUNNMJ7VC7YF2BBSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFTQ7PJOFVONP3C4VPHCB2QIPEXE4SW7K5ANDIBUAB6N4NPDRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JRNZRC2ARQHVQQ4OAQIRK3YPMVFJUXD2LEVRZ5QP77DOB2EER2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HESR5UU7G4M7HPQUBXJ2L3S325MITKQHMJHYL5R7CDFOAPW3OA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SUMU6BM2UYYWLROUA6V3XPLN2XPGK57JYC7NVZP6KN7KRHN5NQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXUW2WP6YQTI7TQBILMRCB6L63DFTTHUK2VNSAXRUZH52KJGNNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEAZ2XDBSJDPHJRKSNCGGL2VUUB5GBM5WZOTWMTDDE7IQJ3DKUIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYYPGEY36YHI5URZTD3BYONTKHTVSMMUKOEBWQOQTKQXCWSFXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BU3TUINGMSZVVPMKIIYPNT34TNUBDEEFQSPFFKNDP4DBCNDEBPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NADFXUYKPIV23266UFAAXNVMTG23RG6A2WVVBMGXBEKN5XTLWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS72ZEZDLIRXERQYBWKVI43ZIOO2IZNGCYNW4EJ3AKRZXJRW22NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetRegionOptStatus": {
            "http": {
                "requestUri": "/getRegionOptStatus",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RegionName"
                ],
                "members": {
                    "AccountId": {},
                    "RegionName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegionName": {},
                    "RegionOptStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXL5RV2JOQARQROO6JLPI43HT4KLTOCZ4JTDKV7RODJPXUJZNPGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZBIZCTNQB7JKMV4UVTGFIUNW2ALSNBW7ZB6NA5PB3QHREUGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRSOITJBHGLXY4HNERPZ5PNWF3C4TGRYCI2OKAV3PLUFNO52LZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUC55JXIDA3GQX3LSJIMU5BYA277BOT6M24QUA6PWVBQWGCGRKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEYDYEY3R42W3DNHWUZC7ROQIVEHJIH3TZECS7WYIXAXZWMNESLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VALHIRJBZOK3E2MFPNCQORFOJ72QSTLVPLH333WQ7VHOZZM5WCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMUSMPHHPOHFD4NYQX3GR6AQTQDM2REYROXXPNWIA27O7JAYJ42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF26RDCYSO4JNSHQCO7IZQLJZSO7F3CKGJW2ZHQBCU4VSAD7SMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXPLBRE6CB5CXDI6BECID5GDED335HVAQUNNMJ7VC7YF2BBSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFTQ7PJOFVONP3C4VPHCB2QIPEXE4SW7K5ANDIBUAB6N4NPDRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JRNZRC2ARQHVQQ4OAQIRK3YPMVFJUXD2LEVRZ5QP77DOB2EER2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HESR5UU7G4M7HPQUBXJ2L3S325MITKQHMJHYL5R7CDFOAPW3OA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SUMU6BM2UYYWLROUA6V3XPLN2XPGK57JYC7NVZP6KN7KRHN5NQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXUW2WP6YQTI7TQBILMRCB6L63DFTTHUK2VNSAXRUZH52KJGNNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEAZ2XDBSJDPHJRKSNCGGL2VUUB5GBM5WZOTWMTDDE7IQJ3DKUIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYYPGEY36YHI5URZTD3BYONTKHTVSMMUKOEBWQOQTKQXCWSFXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BU3TUINGMSZVVPMKIIYPNT34TNUBDEEFQSPFFKNDP4DBCNDEBPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NADFXUYKPIV23266UFAAXNVMTG23RG6A2WVVBMGXBEKN5XTLWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS72ZEZDLIRXERQYBWKVI43ZIOO2IZNGCYNW4EJ3AKRZXJRW22NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListRegions": {
            "http": {
                "requestUri": "/listRegions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "RegionOptStatusContains": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Regions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RegionName": {},
                                "RegionOptStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXL5RV2JOQARQROO6JLPI43HT4KLTOCZ4JTDKV7RODJPXUJZNPGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZBIZCTNQB7JKMV4UVTGFIUNW2ALSNBW7ZB6NA5PB3QHREUGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRSOITJBHGLXY4HNERPZ5PNWF3C4TGRYCI2OKAV3PLUFNO52LZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUC55JXIDA3GQX3LSJIMU5BYA277BOT6M24QUA6PWVBQWGCGRKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEYDYEY3R42W3DNHWUZC7ROQIVEHJIH3TZECS7WYIXAXZWMNESLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VALHIRJBZOK3E2MFPNCQORFOJ72QSTLVPLH333WQ7VHOZZM5WCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMUSMPHHPOHFD4NYQX3GR6AQTQDM2REYROXXPNWIA27O7JAYJ42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF26RDCYSO4JNSHQCO7IZQLJZSO7F3CKGJW2ZHQBCU4VSAD7SMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXPLBRE6CB5CXDI6BECID5GDED335HVAQUNNMJ7VC7YF2BBSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFTQ7PJOFVONP3C4VPHCB2QIPEXE4SW7K5ANDIBUAB6N4NPDRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JRNZRC2ARQHVQQ4OAQIRK3YPMVFJUXD2LEVRZ5QP77DOB2EER2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HESR5UU7G4M7HPQUBXJ2L3S325MITKQHMJHYL5R7CDFOAPW3OA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SUMU6BM2UYYWLROUA6V3XPLN2XPGK57JYC7NVZP6KN7KRHN5NQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXUW2WP6YQTI7TQBILMRCB6L63DFTTHUK2VNSAXRUZH52KJGNNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEAZ2XDBSJDPHJRKSNCGGL2VUUB5GBM5WZOTWMTDDE7IQJ3DKUIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYYPGEY36YHI5URZTD3BYONTKHTVSMMUKOEBWQOQTKQXCWSFXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BU3TUINGMSZVVPMKIIYPNT34TNUBDEEFQSPFFKNDP4DBCNDEBPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NADFXUYKPIV23266UFAAXNVMTG23RG6A2WVVBMGXBEKN5XTLWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS72ZEZDLIRXERQYBWKVI43ZIOO2IZNGCYNW4EJ3AKRZXJRW22NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "AcceptPrimaryEmailUpdate": {
            "http": {
                "requestUri": "/acceptPrimaryEmailUpdate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "Otp",
                    "PrimaryEmail"
                ],
                "members": {
                    "AccountId": {},
                    "Otp": {
                        "type": "string",
                        "sensitive": true
                    },
                    "PrimaryEmail": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/COAWLFHO2GDY2RCKPGEOPO7NJM3R5HUUPLUNBCVDUIA7BHKDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHRHYPZRGIGD3M75D2J7LUERENVQ4JB2KTRKOPYHJGPDHWTG2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH5TRSVUSOEPOPKBSBXVWPPAP6GIOUP6GNT6L6CV6EXMT2XVVZGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH3NFIP24FSFEMTKZ4CSL3IOB3WY6QLGXMI2HDVK4JRPQDEFQCNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXL5RV2JOQARQROO6JLPI43HT4KLTOCZ4JTDKV7RODJPXUJZNPGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZBIZCTNQB7JKMV4UVTGFIUNW2ALSNBW7ZB6NA5PB3QHREUGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRSOITJBHGLXY4HNERPZ5PNWF3C4TGRYCI2OKAV3PLUFNO52LZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUC55JXIDA3GQX3LSJIMU5BYA277BOT6M24QUA6PWVBQWGCGRKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEYDYEY3R42W3DNHWUZC7ROQIVEHJIH3TZECS7WYIXAXZWMNESLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VALHIRJBZOK3E2MFPNCQORFOJ72QSTLVPLH333WQ7VHOZZM5WCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMUSMPHHPOHFD4NYQX3GR6AQTQDM2REYROXXPNWIA27O7JAYJ42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF26RDCYSO4JNSHQCO7IZQLJZSO7F3CKGJW2ZHQBCU4VSAD7SMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXPLBRE6CB5CXDI6BECID5GDED335HVAQUNNMJ7VC7YF2BBSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFTQ7PJOFVONP3C4VPHCB2QIPEXE4SW7K5ANDIBUAB6N4NPDRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JRNZRC2ARQHVQQ4OAQIRK3YPMVFJUXD2LEVRZ5QP77DOB2EER2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HESR5UU7G4M7HPQUBXJ2L3S325MITKQHMJHYL5R7CDFOAPW3OA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SUMU6BM2UYYWLROUA6V3XPLN2XPGK57JYC7NVZP6KN7KRHN5NQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXUW2WP6YQTI7TQBILMRCB6L63DFTTHUK2VNSAXRUZH52KJGNNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEAZ2XDBSJDPHJRKSNCGGL2VUUB5GBM5WZOTWMTDDE7IQJ3DKUIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYYPGEY36YHI5URZTD3BYONTKHTVSMMUKOEBWQOQTKQXCWSFXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BU3TUINGMSZVVPMKIIYPNT34TNUBDEEFQSPFFKNDP4DBCNDEBPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NADFXUYKPIV23266UFAAXNVMTG23RG6A2WVVBMGXBEKN5XTLWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS72ZEZDLIRXERQYBWKVI43ZIOO2IZNGCYNW4EJ3AKRZXJRW22NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js"
            ]
        },
        "GetPrimaryEmail": {
            "http": {
                "requestUri": "/getPrimaryEmail",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PrimaryEmail": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/COAWLFHO2GDY2RCKPGEOPO7NJM3R5HUUPLUNBCVDUIA7BHKDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHRHYPZRGIGD3M75D2J7LUERENVQ4JB2KTRKOPYHJGPDHWTG2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH5TRSVUSOEPOPKBSBXVWPPAP6GIOUP6GNT6L6CV6EXMT2XVVZGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH3NFIP24FSFEMTKZ4CSL3IOB3WY6QLGXMI2HDVK4JRPQDEFQCNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXL5RV2JOQARQROO6JLPI43HT4KLTOCZ4JTDKV7RODJPXUJZNPGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZBIZCTNQB7JKMV4UVTGFIUNW2ALSNBW7ZB6NA5PB3QHREUGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRSOITJBHGLXY4HNERPZ5PNWF3C4TGRYCI2OKAV3PLUFNO52LZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUC55JXIDA3GQX3LSJIMU5BYA277BOT6M24QUA6PWVBQWGCGRKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEYDYEY3R42W3DNHWUZC7ROQIVEHJIH3TZECS7WYIXAXZWMNESLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VALHIRJBZOK3E2MFPNCQORFOJ72QSTLVPLH333WQ7VHOZZM5WCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMUSMPHHPOHFD4NYQX3GR6AQTQDM2REYROXXPNWIA27O7JAYJ42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF26RDCYSO4JNSHQCO7IZQLJZSO7F3CKGJW2ZHQBCU4VSAD7SMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXPLBRE6CB5CXDI6BECID5GDED335HVAQUNNMJ7VC7YF2BBSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFTQ7PJOFVONP3C4VPHCB2QIPEXE4SW7K5ANDIBUAB6N4NPDRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JRNZRC2ARQHVQQ4OAQIRK3YPMVFJUXD2LEVRZ5QP77DOB2EER2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HESR5UU7G4M7HPQUBXJ2L3S325MITKQHMJHYL5R7CDFOAPW3OA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SUMU6BM2UYYWLROUA6V3XPLN2XPGK57JYC7NVZP6KN7KRHN5NQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXUW2WP6YQTI7TQBILMRCB6L63DFTTHUK2VNSAXRUZH52KJGNNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEAZ2XDBSJDPHJRKSNCGGL2VUUB5GBM5WZOTWMTDDE7IQJ3DKUIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYYPGEY36YHI5URZTD3BYONTKHTVSMMUKOEBWQOQTKQXCWSFXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BU3TUINGMSZVVPMKIIYPNT34TNUBDEEFQSPFFKNDP4DBCNDEBPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NADFXUYKPIV23266UFAAXNVMTG23RG6A2WVVBMGXBEKN5XTLWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS72ZEZDLIRXERQYBWKVI43ZIOO2IZNGCYNW4EJ3AKRZXJRW22NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js"
            ]
        },
        "StartPrimaryEmailUpdate": {
            "http": {
                "requestUri": "/startPrimaryEmailUpdate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "PrimaryEmail"
                ],
                "members": {
                    "AccountId": {},
                    "PrimaryEmail": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/COAWLFHO2GDY2RCKPGEOPO7NJM3R5HUUPLUNBCVDUIA7BHKDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHRHYPZRGIGD3M75D2J7LUERENVQ4JB2KTRKOPYHJGPDHWTG2JOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH5TRSVUSOEPOPKBSBXVWPPAP6GIOUP6GNT6L6CV6EXMT2XVVZGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH3NFIP24FSFEMTKZ4CSL3IOB3WY6QLGXMI2HDVK4JRPQDEFQCNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXL5RV2JOQARQROO6JLPI43HT4KLTOCZ4JTDKV7RODJPXUJZNPGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZBIZCTNQB7JKMV4UVTGFIUNW2ALSNBW7ZB6NA5PB3QHREUGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRSOITJBHGLXY4HNERPZ5PNWF3C4TGRYCI2OKAV3PLUFNO52LZUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUC55JXIDA3GQX3LSJIMU5BYA277BOT6M24QUA6PWVBQWGCGRKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEYDYEY3R42W3DNHWUZC7ROQIVEHJIH3TZECS7WYIXAXZWMNESLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VALHIRJBZOK3E2MFPNCQORFOJ72QSTLVPLH333WQ7VHOZZM5WCBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMUSMPHHPOHFD4NYQX3GR6AQTQDM2REYROXXPNWIA27O7JAYJ42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF26RDCYSO4JNSHQCO7IZQLJZSO7F3CKGJW2ZHQBCU4VSAD7SMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXPLBRE6CB5CXDI6BECID5GDED335HVAQUNNMJ7VC7YF2BBSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJFTQ7PJOFVONP3C4VPHCB2QIPEXE4SW7K5ANDIBUAB6N4NPDRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JRNZRC2ARQHVQQ4OAQIRK3YPMVFJUXD2LEVRZ5QP77DOB2EER2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HESR5UU7G4M7HPQUBXJ2L3S325MITKQHMJHYL5R7CDFOAPW3OA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SUMU6BM2UYYWLROUA6V3XPLN2XPGK57JYC7NVZP6KN7KRHN5NQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXUW2WP6YQTI7TQBILMRCB6L63DFTTHUK2VNSAXRUZH52KJGNNJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEAZ2XDBSJDPHJRKSNCGGL2VUUB5GBM5WZOTWMTDDE7IQJ3DKUIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMYYPGEY36YHI5URZTD3BYONTKHTVSMMUKOEBWQOQTKQXCWSFXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BU3TUINGMSZVVPMKIIYPNT34TNUBDEEFQSPFFKNDP4DBCNDEBPCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NADFXUYKPIV23266UFAAXNVMTG23RG6A2WVVBMGXBEKN5XTLWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS72ZEZDLIRXERQYBWKVI43ZIOO2IZNGCYNW4EJ3AKRZXJRW22NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO6YKS45UTLE5CYQ7SVV6FZBLHDTGQYGEXYSPSMJ77RHUK2HRAA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "string",
            "sensitive": true
        },
        "S9": {
            "type": "string",
            "sensitive": true
        },
        "Sa": {
            "type": "string",
            "sensitive": true
        },
        "Sd": {
            "type": "structure",
            "required": [
                "AddressLine1",
                "City",
                "CountryCode",
                "FullName",
                "PhoneNumber",
                "PostalCode"
            ],
            "members": {
                "AddressLine1": {
                    "shape": "Se"
                },
                "AddressLine2": {
                    "shape": "Se"
                },
                "AddressLine3": {
                    "shape": "Se"
                },
                "City": {
                    "type": "string",
                    "sensitive": true
                },
                "CompanyName": {
                    "type": "string",
                    "sensitive": true
                },
                "CountryCode": {
                    "type": "string",
                    "sensitive": true
                },
                "DistrictOrCounty": {
                    "type": "string",
                    "sensitive": true
                },
                "FullName": {
                    "type": "string",
                    "sensitive": true
                },
                "PhoneNumber": {
                    "type": "string",
                    "sensitive": true
                },
                "PostalCode": {
                    "type": "string",
                    "sensitive": true
                },
                "StateOrRegion": {
                    "type": "string",
                    "sensitive": true
                },
                "WebsiteUrl": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "Se": {
            "type": "string",
            "sensitive": true
        },
        "Sb": {
            "type": "string",
            "sensitive": true
        },
        "Sc": {
            "type": "string",
            "sensitive": true
        },
        "Sg": {
            "type": "structure",
            "required": [
                "AddressLine1",
                "City",
                "CountryCode",
                "FullName",
                "PhoneNumber",
                "PostalCode"
            ],
            "members": {
                "AddressLine1": {
                    "shape": "Sh"
                },
                "AddressLine2": {
                    "shape": "Sh"
                },
                "AddressLine3": {
                    "shape": "Sh"
                },
                "City": {
                    "type": "string",
                    "sensitive": true
                },
                "CompanyName": {
                    "type": "string",
                    "sensitive": true
                },
                "CountryCode": {
                    "type": "string",
                    "sensitive": true
                },
                "DistrictOrCounty": {
                    "type": "string",
                    "sensitive": true
                },
                "FullName": {
                    "type": "string",
                    "sensitive": true
                },
                "PhoneNumber": {
                    "type": "string",
                    "sensitive": true
                },
                "PostalCode": {
                    "type": "string",
                    "sensitive": true
                },
                "StateOrRegion": {
                    "type": "string",
                    "sensitive": true
                },
                "WebsiteUrl": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "Sh": {
            "type": "string",
            "sensitive": true
        },
        "S4": {
            "type": "string",
            "sensitive": true
        },
        "Sf": {
            "type": "string",
            "sensitive": true
        },
        "Si": {
            "type": "string",
            "sensitive": true
        },
        "Sl": {
            "type": "structure",
            "required": [
                "AddressLine1",
                "City",
                "CountryCode",
                "FullName",
                "PhoneNumber",
                "PostalCode"
            ],
            "members": {
                "AddressLine1": {
                    "shape": "Sm"
                },
                "AddressLine2": {
                    "shape": "Sm"
                },
                "AddressLine3": {
                    "shape": "Sm"
                },
                "City": {
                    "type": "string",
                    "sensitive": true
                },
                "CompanyName": {
                    "type": "string",
                    "sensitive": true
                },
                "CountryCode": {
                    "type": "string",
                    "sensitive": true
                },
                "DistrictOrCounty": {
                    "type": "string",
                    "sensitive": true
                },
                "FullName": {
                    "type": "string",
                    "sensitive": true
                },
                "PhoneNumber": {
                    "type": "string",
                    "sensitive": true
                },
                "PostalCode": {
                    "type": "string",
                    "sensitive": true
                },
                "StateOrRegion": {
                    "type": "string",
                    "sensitive": true
                },
                "WebsiteUrl": {
                    "type": "string",
                    "sensitive": true
                }
            }
        },
        "Sm": {
            "type": "string",
            "sensitive": true
        }
    }
}