{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-08-22",
        "endpointPrefix": "acm-pca",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "ACM-PCA",
        "serviceFullName": "AWS Certificate Manager Private Certificate Authority",
        "serviceId": "ACM PCA",
        "signatureVersion": "v4",
        "targetPrefix": "ACMPrivateCA",
        "uid": "acm-pca-2017-08-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FF5JJBKKUMIE2FMCNLAPUP7FGJWNLC5GUY76JLMEY2AIDR3GDFYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
        ]
    },
    "operations": {
        "CreateCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityConfiguration",
                    "CertificateAuthorityType"
                ],
                "members": {
                    "CertificateAuthorityConfiguration": {
                        "shape": "S2"
                    },
                    "RevocationConfiguration": {
                        "shape": "Sv"
                    },
                    "CertificateAuthorityType": {},
                    "IdempotencyToken": {},
                    "KeyStorageSecurityStandard": {},
                    "Tags": {
                        "shape": "S14"
                    },
                    "UsageMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "CreateCertificateAuthorityAuditReport": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "S3BucketName",
                    "AuditReportResponseFormat"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "S3BucketName": {},
                    "AuditReportResponseFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AuditReportId": {},
                    "S3Key": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "CreatePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Principal",
                    "Actions"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Principal": {},
                    "SourceAccount": {},
                    "Actions": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DeleteCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "PermanentDeletionTimeInDays": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DeletePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Principal"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Principal": {},
                    "SourceAccount": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DeletePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5JJBKKUMIE2FMCNLAPUP7FGJWNLC5GUY76JLMEY2AIDR3GDFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DescribeCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateAuthority": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DescribeCertificateAuthorityAuditReport": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "AuditReportId"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "AuditReportId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AuditReportStatus": {},
                    "S3BucketName": {},
                    "S3Key": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "GetCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "CertificateArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "CertificateArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {},
                    "CertificateChain": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "GetCertificateAuthorityCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {},
                    "CertificateChain": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "GetCertificateAuthorityCsr": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Csr": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "GetPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5JJBKKUMIE2FMCNLAPUP7FGJWNLC5GUY76JLMEY2AIDR3GDFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "ImportCertificateAuthorityCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Certificate"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Certificate": {
                        "type": "blob"
                    },
                    "CertificateChain": {
                        "type": "blob"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "IssueCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Csr",
                    "SigningAlgorithm",
                    "Validity"
                ],
                "members": {
                    "ApiPassthrough": {
                        "type": "structure",
                        "members": {
                            "Extensions": {
                                "type": "structure",
                                "members": {
                                    "CertificatePolicies": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "CertPolicyId"
                                            ],
                                            "members": {
                                                "CertPolicyId": {},
                                                "PolicyQualifiers": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "required": [
                                                            "PolicyQualifierId",
                                                            "Qualifier"
                                                        ],
                                                        "members": {
                                                            "PolicyQualifierId": {},
                                                            "Qualifier": {
                                                                "type": "structure",
                                                                "required": [
                                                                    "CpsUri"
                                                                ],
                                                                "members": {
                                                                    "CpsUri": {}
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "ExtendedKeyUsage": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "ExtendedKeyUsageType": {},
                                                "ExtendedKeyUsageObjectIdentifier": {}
                                            }
                                        }
                                    },
                                    "KeyUsage": {
                                        "shape": "Sj"
                                    },
                                    "SubjectAlternativeNames": {
                                        "type": "list",
                                        "member": {
                                            "shape": "Sp"
                                        }
                                    },
                                    "CustomExtensions": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "ObjectIdentifier",
                                                "Value"
                                            ],
                                            "members": {
                                                "ObjectIdentifier": {},
                                                "Value": {},
                                                "Critical": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "Subject": {
                                "shape": "S5"
                            }
                        }
                    },
                    "CertificateAuthorityArn": {},
                    "Csr": {
                        "type": "blob"
                    },
                    "SigningAlgorithm": {},
                    "TemplateArn": {},
                    "Validity": {
                        "shape": "S2w"
                    },
                    "ValidityNotBefore": {
                        "shape": "S2w"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "ListCertificateAuthorities": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ResourceOwner": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateAuthorities": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "ListPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Permissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CertificateAuthorityArn": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "Principal": {},
                                "SourceAccount": {},
                                "Actions": {
                                    "shape": "S1k"
                                },
                                "Policy": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "ListTags": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "PutPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Policy"
                ],
                "members": {
                    "ResourceArn": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5JJBKKUMIE2FMCNLAPUP7FGJWNLC5GUY76JLMEY2AIDR3GDFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "RestoreCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "RevokeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "CertificateSerial",
                    "RevocationReason"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "CertificateSerial": {},
                    "RevocationReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "TagCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Tags"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Tags": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "UntagCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Tags"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Tags": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "UpdateCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "RevocationConfiguration": {
                        "shape": "Sv"
                    },
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DO7KHMHSZH2CVKATKWYN2LWNX2MTZICD33KKO7QUGWC4JNRXCIEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FPS24E6RJ3A24WCGT7XDELKMJSRYHZVIMGY2AEG4YE7JMP2V3HQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FF4YYMXLN6I6IZCE2NXR2XGPFMZSDC2JSISEGFLDTF3U6A34NQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25453APRXEKRM5UKR26TGKTFPVQSNQTYIOWFHPUE7TBXUHCHN23A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCSYSM2FQTZGUZUIEBL3R4MS3TPP5CVUTTYEV6SPPAI4HD7VHYJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSCHJZV3CLSMJYQAAGQYKM2IXPHFIERPM2JRQUAKYBEIA3D2ZR5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2UDHNV44FQY5UDHUTCAWH77MJAXT2FIVA6BANV67LWLRWDOE3SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETFROIDVX7JII72YMHUF2J35UNN7SMLWVHGWJ6SXR3AQWPDMWWCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NUJSZUKPEBXFMEO6JNED254UQPS6HNIYDRQCBQP5UHXOYMOKBYQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBI4PFYK3N3DAJTVW744SRWC7QDUWAAHDFZFROCE4S27LO6MEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LQJFJSPLAI2QVO2MJIPBTVLODJHK2V4WAFCO4WA3EIEYCH7QKZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "required": [
                "KeyAlgorithm",
                "SigningAlgorithm",
                "Subject"
            ],
            "members": {
                "KeyAlgorithm": {},
                "SigningAlgorithm": {},
                "Subject": {
                    "shape": "S5"
                },
                "CsrExtensions": {
                    "type": "structure",
                    "members": {
                        "KeyUsage": {
                            "shape": "Sj"
                        },
                        "SubjectInformationAccess": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "AccessMethod",
                                    "AccessLocation"
                                ],
                                "members": {
                                    "AccessMethod": {
                                        "type": "structure",
                                        "members": {
                                            "CustomObjectIdentifier": {},
                                            "AccessMethodType": {}
                                        }
                                    },
                                    "AccessLocation": {
                                        "shape": "Sp"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S5": {
            "type": "structure",
            "members": {
                "Country": {},
                "Organization": {},
                "OrganizationalUnit": {},
                "DistinguishedNameQualifier": {},
                "State": {},
                "CommonName": {},
                "SerialNumber": {},
                "Locality": {},
                "Title": {},
                "Surname": {},
                "GivenName": {},
                "Initials": {},
                "Pseudonym": {},
                "GenerationQualifier": {},
                "CustomAttributes": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "ObjectIdentifier",
                            "Value"
                        ],
                        "members": {
                            "ObjectIdentifier": {},
                            "Value": {}
                        }
                    }
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "DigitalSignature": {
                    "type": "boolean"
                },
                "NonRepudiation": {
                    "type": "boolean"
                },
                "KeyEncipherment": {
                    "type": "boolean"
                },
                "DataEncipherment": {
                    "type": "boolean"
                },
                "KeyAgreement": {
                    "type": "boolean"
                },
                "KeyCertSign": {
                    "type": "boolean"
                },
                "CRLSign": {
                    "type": "boolean"
                },
                "EncipherOnly": {
                    "type": "boolean"
                },
                "DecipherOnly": {
                    "type": "boolean"
                }
            }
        },
        "Sp": {
            "type": "structure",
            "members": {
                "OtherName": {
                    "type": "structure",
                    "required": [
                        "TypeId",
                        "Value"
                    ],
                    "members": {
                        "TypeId": {},
                        "Value": {}
                    }
                },
                "Rfc822Name": {},
                "DnsName": {},
                "DirectoryName": {
                    "shape": "S5"
                },
                "EdiPartyName": {
                    "type": "structure",
                    "required": [
                        "PartyName"
                    ],
                    "members": {
                        "PartyName": {},
                        "NameAssigner": {}
                    }
                },
                "UniformResourceIdentifier": {},
                "IpAddress": {},
                "RegisteredId": {}
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "CrlConfiguration": {
                    "type": "structure",
                    "required": [
                        "Enabled"
                    ],
                    "members": {
                        "Enabled": {
                            "type": "boolean"
                        },
                        "ExpirationInDays": {
                            "type": "integer"
                        },
                        "CustomCname": {},
                        "S3BucketName": {},
                        "S3ObjectAcl": {}
                    }
                },
                "OcspConfiguration": {
                    "type": "structure",
                    "required": [
                        "Enabled"
                    ],
                    "members": {
                        "Enabled": {
                            "type": "boolean"
                        },
                        "OcspCustomCname": {}
                    }
                }
            }
        },
        "S14": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S1s": {
            "type": "structure",
            "members": {
                "Arn": {},
                "OwnerAccount": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastStateChangeAt": {
                    "type": "timestamp"
                },
                "Type": {},
                "Serial": {},
                "Status": {},
                "NotBefore": {
                    "type": "timestamp"
                },
                "NotAfter": {
                    "type": "timestamp"
                },
                "FailureReason": {},
                "CertificateAuthorityConfiguration": {
                    "shape": "S2"
                },
                "RevocationConfiguration": {
                    "shape": "Sv"
                },
                "RestorableUntil": {
                    "type": "timestamp"
                },
                "KeyStorageSecurityStandard": {},
                "UsageMode": {}
            }
        },
        "S2w": {
            "type": "structure",
[...]
