{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-08-22",
        "endpointPrefix": "acm-pca",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "ACM-PCA",
        "serviceFullName": "AWS Certificate Manager Private Certificate Authority",
        "serviceId": "ACM PCA",
        "signatureVersion": "v4",
        "targetPrefix": "ACMPrivateCA",
        "uid": "acm-pca-2017-08-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2EMP7CAENTVWP325ZENDQL73I5KKGQVITSPTFOBC2FAY5OPL6FQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
        ]
    },
    "operations": {
        "CreateCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityConfiguration",
                    "CertificateAuthorityType"
                ],
                "members": {
                    "CertificateAuthorityConfiguration": {
                        "shape": "S2"
                    },
                    "RevocationConfiguration": {
                        "shape": "Sv"
                    },
                    "CertificateAuthorityType": {},
                    "IdempotencyToken": {},
                    "KeyStorageSecurityStandard": {},
                    "Tags": {
                        "shape": "S14"
                    },
                    "UsageMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "CreateCertificateAuthorityAuditReport": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "S3BucketName",
                    "AuditReportResponseFormat"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "S3BucketName": {},
                    "AuditReportResponseFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AuditReportId": {},
                    "S3Key": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "CreatePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Principal",
                    "Actions"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Principal": {},
                    "SourceAccount": {},
                    "Actions": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "DeleteCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "PermanentDeletionTimeInDays": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "DeletePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Principal"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Principal": {},
                    "SourceAccount": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "DeletePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "DescribeCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateAuthority": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "DescribeCertificateAuthorityAuditReport": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "AuditReportId"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "AuditReportId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AuditReportStatus": {},
                    "S3BucketName": {},
                    "S3Key": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "GetCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "CertificateArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "CertificateArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {},
                    "CertificateChain": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "GetCertificateAuthorityCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {},
                    "CertificateChain": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "GetCertificateAuthorityCsr": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Csr": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "GetPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "ImportCertificateAuthorityCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Certificate"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Certificate": {
                        "type": "blob"
                    },
                    "CertificateChain": {
                        "type": "blob"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "IssueCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Csr",
                    "SigningAlgorithm",
                    "Validity"
                ],
                "members": {
                    "ApiPassthrough": {
                        "type": "structure",
                        "members": {
                            "Extensions": {
                                "type": "structure",
                                "members": {
                                    "CertificatePolicies": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "CertPolicyId"
                                            ],
                                            "members": {
                                                "CertPolicyId": {},
                                                "PolicyQualifiers": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "required": [
                                                            "PolicyQualifierId",
                                                            "Qualifier"
                                                        ],
                                                        "members": {
                                                            "PolicyQualifierId": {},
                                                            "Qualifier": {
                                                                "type": "structure",
                                                                "required": [
                                                                    "CpsUri"
                                                                ],
                                                                "members": {
                                                                    "CpsUri": {}
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "ExtendedKeyUsage": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "ExtendedKeyUsageType": {},
                                                "ExtendedKeyUsageObjectIdentifier": {}
                                            }
                                        }
                                    },
                                    "KeyUsage": {
                                        "shape": "Sj"
                                    },
                                    "SubjectAlternativeNames": {
                                        "type": "list",
                                        "member": {
                                            "shape": "Sp"
                                        }
                                    },
                                    "CustomExtensions": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "ObjectIdentifier",
                                                "Value"
                                            ],
                                            "members": {
                                                "ObjectIdentifier": {},
                                                "Value": {},
                                                "Critical": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "Subject": {
                                "shape": "S5"
                            }
                        }
                    },
                    "CertificateAuthorityArn": {},
                    "Csr": {
                        "type": "blob"
                    },
                    "SigningAlgorithm": {},
                    "TemplateArn": {},
                    "Validity": {
                        "shape": "S2w"
                    },
                    "ValidityNotBefore": {
                        "shape": "S2w"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "ListCertificateAuthorities": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ResourceOwner": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateAuthorities": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "ListPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Permissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CertificateAuthorityArn": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "Principal": {},
                                "SourceAccount": {},
                                "Actions": {
                                    "shape": "S1k"
                                },
                                "Policy": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "ListTags": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "PutPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Policy"
                ],
                "members": {
                    "ResourceArn": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "RestoreCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "RevokeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "CertificateSerial",
                    "RevocationReason"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "CertificateSerial": {},
                    "RevocationReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "TagCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Tags"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Tags": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "UntagCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Tags"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Tags": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        },
        "UpdateCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "RevocationConfiguration": {
                        "shape": "Sv"
                    },
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTX626F2KSBU6VHGWEGMCXRLYFQLIS5ERNKE37WSUX3NJYDRB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU5X2BANATK4Z4MJ43JRVGZCSZ2MZY5EUH7A6QPCAPJXUCJ5SPKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5ZW4OQ2PFPVFTMIXGHPCF5I6H6VHPY375UZ2SWTIPZCAILALMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOQ6SYS7S42OKIHTEUAVXPYLKWITTKOVUZTY3TRDSPQP63L3KA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG6QS2PRP5SXJFOYYIIHWG6LBNLWXABPK3YFC443ZIUDZHVKLR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXAO47YVMXQELRWVR454JQ6VD2445SF3GV5BZJIZYFLYAZFSBC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7V34IVTKW4H6IWZZQPJUDR4CM2WKIYW5LCQXV26EZEGBFSZ2O5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL2FHWSJVDH7C4EYUZWCO6YT7LA5R2NMU67MM476XFIOFWGK3MNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP6KDFMOSTMDE52RDDAGPTHPNTYOFPOHMSK6KLYGQQN74NK5YOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMCJEZKVZ2CU2ZHVRP3MULQ56XI6CKWODJBHHUHVMYPJIVDD2FUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBSSYNHOCBPDS2HL4ORY5TWZ2WM5MFEWWVSOATBH6LS6UEMCIXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIPZTYBWBIOKCJZ5ROF32C6A6DFGDQLHLLWVKKRYFIZTTVDF2DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72GG5N5U3WNJ5DWKC2YRDY5VRB6UUDJQIYV26NXTBO5WYXICSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3O3MKKUE47V3SO5NOEYDGKHBKR3EKJC7NHTP2CVIO4VRW324AMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSDWPXOHTMOUBLDLBMKUW2TSHUT4FD2B72FBQZVCO36RE3E3PAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XBRWLJXBZVCX4N4EXAK7FTXSBH5JT64N4EWHNYAW4ZW2NRR5CPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMIYA3SQG64U4Q3FAOK3L6K3PPA3ZAL5XCEAA5WECMRR7IGGDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPQZVJXWYUQDSKYXYHMD62M4RVIS43NOERB4O3HBEL6WOU4X6J4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "required": [
                "KeyAlgorithm",
                "SigningAlgorithm",
                "Subject"
            ],
            "members": {
                "KeyAlgorithm": {},
                "SigningAlgorithm": {},
                "Subject": {
                    "shape": "S5"
                },
                "CsrExtensions": {
                    "type": "structure",
                    "members": {
                        "KeyUsage": {
                            "shape": "Sj"
                        },
                        "SubjectInformationAccess": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "AccessMethod",
                                    "AccessLocation"
                                ],
                                "members": {
                                    "AccessMethod": {
                                        "type": "structure",
                                        "members": {
                                            "CustomObjectIdentifier": {},
                                            "AccessMethodType": {}
                                        }
                                    },
                                    "AccessLocation": {
                                        "shape": "Sp"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S5": {
            "type": "structure",
            "members": {
                "Country": {},
                "Organization": {},
                "OrganizationalUnit": {},
                "DistinguishedNameQualifier": {},
                "State": {},
                "CommonName": {},
                "SerialNumber": {},
                "Locality": {},
                "Title": {},
                "Surname": {},
                "GivenName": {},
                "Initials": {},
                "Pseudonym": {},
                "GenerationQualifier": {},
                "CustomAttributes": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "ObjectIdentifier",
                            "Value"
                        ],
                        "members": {
                            "ObjectIdentifier": {},
                            "Value": {}
                        }
                    }
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "DigitalSignature": {
                    "type": "boolean"
                },
                "NonRepudiation": {
                    "type": "boolean"
                },
                "KeyEncipherment": {
                    "type": "boolean"
                },
                "DataEncipherment": {
                    "type": "boolean"
                },
                "KeyAgreement": {
                    "type": "boolean"
                },
                "KeyCertSign": {
                    "type": "boolean"
                },
                "CRLSign": {
                    "type": "boolean"
                },
                "EncipherOnly": {
                    "type": "boolean"
                },
                "DecipherOnly": {
                    "type": "boolean"
                }
            }
        },
        "Sp": {
            "type": "structure",
            "members": {
                "OtherName": {
                    "type": "structure",
                    "required": [
                        "TypeId",
                        "Value"
                    ],
                    "members": {
                        "TypeId": {},
                        "Value": {}
                    }
                },
                "Rfc822Name": {},
                "DnsName": {},
                "DirectoryName": {
                    "shape": "S5"
                },
                "EdiPartyName": {
                    "type": "structure",
                    "required": [
                        "PartyName"
                    ],
                    "members": {
                        "PartyName": {},
                        "NameAssigner": {}
                    }
                },
                "UniformResourceIdentifier": {},
                "IpAddress": {},
                "RegisteredId": {}
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "CrlConfiguration": {
                    "type": "structure",
                    "required": [
                        "Enabled"
                    ],
                    "members": {
                        "Enabled": {
                            "type": "boolean"
                        },
                        "ExpirationInDays": {
                            "type": "integer"
                        },
                        "CustomCname": {},
                        "S3BucketName": {},
                        "S3ObjectAcl": {}
                    }
                },
                "OcspConfiguration": {
                    "type": "structure",
                    "required": [
                        "Enabled"
                    ],
                    "members": {
                        "Enabled": {
                            "type": "boolean"
                        },
                        "OcspCustomCname": {}
                    }
                }
            }
        },
        "S14": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S1s": {
            "type": "structure",
            "members": {
                "Arn": {},
                "OwnerAccount": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastStateChangeAt": {
                    "type": "timestamp"
                },
                "Type": {},
                "Serial": {},
                "Status": {},
                "NotBefore": {
                    "type": "timestamp"
                },
                "NotAfter": {
                    "type": "timestamp"
                },
                "FailureReason": {},
                "CertificateAuthorityConfiguration": {
                    "shape": "S2"
                },
                "RevocationConfiguration": {
                    "shape": "Sv"
                },
                "RestorableUntil": {
                    "type": "timestamp"
                },
                "KeyStorageSecurityStandard": {},
                "UsageMode": {}
            }
        },
        "S2w": {
[...]
