{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-08-22",
        "endpointPrefix": "acm-pca",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "ACM-PCA",
        "serviceFullName": "AWS Certificate Manager Private Certificate Authority",
        "serviceId": "ACM PCA",
        "signatureVersion": "v4",
        "targetPrefix": "ACMPrivateCA",
        "uid": "acm-pca-2017-08-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMPS6JOH2LGDGLFUCDWWILJUNRKMEBVTBK7JCBSWYBGIDWKT4NHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js"
        ]
    },
    "operations": {
        "CreateCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityConfiguration",
                    "CertificateAuthorityType"
                ],
                "members": {
                    "CertificateAuthorityConfiguration": {
                        "shape": "S2"
                    },
                    "RevocationConfiguration": {
                        "shape": "Sv"
                    },
                    "CertificateAuthorityType": {},
                    "IdempotencyToken": {},
                    "KeyStorageSecurityStandard": {},
                    "Tags": {
                        "shape": "S14"
                    },
                    "UsageMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "CreateCertificateAuthorityAuditReport": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "S3BucketName",
                    "AuditReportResponseFormat"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "S3BucketName": {},
                    "AuditReportResponseFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AuditReportId": {},
                    "S3Key": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "CreatePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Principal",
                    "Actions"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Principal": {},
                    "SourceAccount": {},
                    "Actions": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "DeleteCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "PermanentDeletionTimeInDays": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "DeletePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Principal"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Principal": {},
                    "SourceAccount": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "DeletePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "DescribeCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateAuthority": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "DescribeCertificateAuthorityAuditReport": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "AuditReportId"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "AuditReportId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AuditReportStatus": {},
                    "S3BucketName": {},
                    "S3Key": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "GetCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "CertificateArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "CertificateArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {},
                    "CertificateChain": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "GetCertificateAuthorityCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {},
                    "CertificateChain": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "GetCertificateAuthorityCsr": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Csr": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "GetPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "ImportCertificateAuthorityCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Certificate"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Certificate": {
                        "type": "blob"
                    },
                    "CertificateChain": {
                        "type": "blob"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "IssueCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Csr",
                    "SigningAlgorithm",
                    "Validity"
                ],
                "members": {
                    "ApiPassthrough": {
                        "type": "structure",
                        "members": {
                            "Extensions": {
                                "type": "structure",
                                "members": {
                                    "CertificatePolicies": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "CertPolicyId"
                                            ],
                                            "members": {
                                                "CertPolicyId": {},
                                                "PolicyQualifiers": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "required": [
                                                            "PolicyQualifierId",
                                                            "Qualifier"
                                                        ],
                                                        "members": {
                                                            "PolicyQualifierId": {},
                                                            "Qualifier": {
                                                                "type": "structure",
                                                                "required": [
                                                                    "CpsUri"
                                                                ],
                                                                "members": {
                                                                    "CpsUri": {}
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "ExtendedKeyUsage": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "ExtendedKeyUsageType": {},
                                                "ExtendedKeyUsageObjectIdentifier": {}
                                            }
                                        }
                                    },
                                    "KeyUsage": {
                                        "shape": "Sj"
                                    },
                                    "SubjectAlternativeNames": {
                                        "type": "list",
                                        "member": {
                                            "shape": "Sp"
                                        }
                                    },
                                    "CustomExtensions": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "ObjectIdentifier",
                                                "Value"
                                            ],
                                            "members": {
                                                "ObjectIdentifier": {},
                                                "Value": {},
                                                "Critical": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "Subject": {
                                "shape": "S5"
                            }
                        }
                    },
                    "CertificateAuthorityArn": {},
                    "Csr": {
                        "type": "blob"
                    },
                    "SigningAlgorithm": {},
                    "TemplateArn": {},
                    "Validity": {
                        "shape": "S2w"
                    },
                    "ValidityNotBefore": {
                        "shape": "S2w"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "ListCertificateAuthorities": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ResourceOwner": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateAuthorities": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "ListPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Permissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CertificateAuthorityArn": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "Principal": {},
                                "SourceAccount": {},
                                "Actions": {
                                    "shape": "S1k"
                                },
                                "Policy": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "ListTags": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "PutPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Policy"
                ],
                "members": {
                    "ResourceArn": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "RestoreCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "RevokeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "CertificateSerial",
                    "RevocationReason"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "CertificateSerial": {},
                    "RevocationReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "TagCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Tags"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Tags": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "UntagCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Tags"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Tags": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        },
        "UpdateCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "RevocationConfiguration": {
                        "shape": "Sv"
                    },
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6KOXBETL556XUAW5YJXIBBJOFLZOMBV6UQNFJOXRXGHGWEO7OJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TP5OX4TEP3QKBO5KRM65KPHAM7CURP2DVQJZ4UAUQY25CEHWMMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMWI4JKP37Z2LPNMY5HVWIFQZ6JPQ6TD6BXMBYJWITESK6M5HGVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ANQPL65KLQ5GZM53UFHSXUAMW4UERH6DHBRBDA7P22GTPIWVQJ2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA6TAZ3UVP4QQFKYWBBP2VSSZWY2XQDVOCRLQ4FIH7WVKV7EV4LQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2TQUZM4KYBAXUWE5NSEILYAYYFIX7Y3B36YD7FLLQTRPS3EJEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MKV7JW2GTRD5MU7YM2XBB36NA6NWKOUJM2563NLXDACU7W3Z4BDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC5HCHHTLMT5BNRO4BVXUB64XPW2LPHX7MZN3BFLPAVPLRSK3W2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW3WZJQDLDOUDRCWXCXLXHV5WEVCE5JAV2AVGQCJNOAFGSQN4SEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7U7F65OPQOYKFJACG6BOLMQPQCIQTUDGCXCL7J6QJ25LTVG3AJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC37FMYI7CYY3ZNJBWOALK6LZSM4BQEY7GAYPADHHWFNMG6PMG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGNMXV3E27N7X4GJJ7NK7SJBDG335QENGUWVHINOWSOOVM3JIKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLJWBX54ZR5PJLZ45JZ6B7TU3LAMY6X7DYUWYWP3VMXCEOXZ6C6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXO6W6HPHSMG7RMCNIXOUATC34P5MEQCZPHTCL5VYIOMKVOKNVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2URZ2YPS4X4WRYTPTJJMB4EZ7OBGJTPB7HUH44PXH27XKR2ZQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DPNPCEXSQZGA2PDAQR4UCMH4EAJJRK7TH4GK7O5UIOOTQQZCMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6YIOXEL3SVSGPJEIKQONDLKQSEPCOP6UWEFAVH7OYM2RZ6VT2QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "required": [
                "KeyAlgorithm",
                "SigningAlgorithm",
                "Subject"
            ],
            "members": {
                "KeyAlgorithm": {},
                "SigningAlgorithm": {},
                "Subject": {
                    "shape": "S5"
                },
                "CsrExtensions": {
                    "type": "structure",
                    "members": {
                        "KeyUsage": {
                            "shape": "Sj"
                        },
                        "SubjectInformationAccess": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "AccessMethod",
                                    "AccessLocation"
                                ],
                                "members": {
                                    "AccessMethod": {
                                        "type": "structure",
                                        "members": {
                                            "CustomObjectIdentifier": {},
                                            "AccessMethodType": {}
                                        }
                                    },
                                    "AccessLocation": {
                                        "shape": "Sp"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S5": {
            "type": "structure",
            "members": {
                "Country": {},
                "Organization": {},
                "OrganizationalUnit": {},
                "DistinguishedNameQualifier": {},
                "State": {},
                "CommonName": {},
                "SerialNumber": {},
                "Locality": {},
                "Title": {},
                "Surname": {},
                "GivenName": {},
                "Initials": {},
                "Pseudonym": {},
                "GenerationQualifier": {},
                "CustomAttributes": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "ObjectIdentifier",
                            "Value"
                        ],
                        "members": {
                            "ObjectIdentifier": {},
                            "Value": {}
                        }
                    }
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "DigitalSignature": {
                    "type": "boolean"
                },
                "NonRepudiation": {
                    "type": "boolean"
                },
                "KeyEncipherment": {
                    "type": "boolean"
                },
                "DataEncipherment": {
                    "type": "boolean"
                },
                "KeyAgreement": {
                    "type": "boolean"
                },
                "KeyCertSign": {
                    "type": "boolean"
                },
                "CRLSign": {
                    "type": "boolean"
                },
                "EncipherOnly": {
                    "type": "boolean"
                },
                "DecipherOnly": {
                    "type": "boolean"
                }
            }
        },
        "Sp": {
            "type": "structure",
            "members": {
                "OtherName": {
                    "type": "structure",
                    "required": [
                        "TypeId",
                        "Value"
                    ],
                    "members": {
                        "TypeId": {},
                        "Value": {}
                    }
                },
                "Rfc822Name": {},
                "DnsName": {},
                "DirectoryName": {
                    "shape": "S5"
                },
                "EdiPartyName": {
                    "type": "structure",
                    "required": [
                        "PartyName"
                    ],
                    "members": {
                        "PartyName": {},
                        "NameAssigner": {}
                    }
                },
                "UniformResourceIdentifier": {},
                "IpAddress": {},
                "RegisteredId": {}
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "CrlConfiguration": {
                    "type": "structure",
                    "required": [
                        "Enabled"
                    ],
                    "members": {
                        "Enabled": {
                            "type": "boolean"
                        },
                        "ExpirationInDays": {
                            "type": "integer"
                        },
                        "CustomCname": {},
                        "S3BucketName": {},
                        "S3ObjectAcl": {}
                    }
                },
                "OcspConfiguration": {
                    "type": "structure",
                    "required": [
                        "Enabled"
                    ],
                    "members": {
                        "Enabled": {
                            "type": "boolean"
                        },
                        "OcspCustomCname": {}
                    }
                }
            }
        },
        "S14": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S1s": {
            "type": "structure",
            "members": {
                "Arn": {},
                "OwnerAccount": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastStateChangeAt": {
                    "type": "timestamp"
                },
                "Type": {},
                "Serial": {},
                "Status": {},
                "NotBefore": {
                    "type": "timestamp"
                },
                "NotAfter": {
                    "type": "timestamp"
                },
                "FailureReason": {},
                "CertificateAuthorityConfiguration": {
                    "shape": "S2"
                },
                "RevocationConfiguration": {
                    "shape": "Sv"
                },
                "RestorableUntil": {
                    "type": "timestamp"
                },
                "KeyStorageSecurityStandard": {},
                "UsageMode": {}
            }
        },
        "S2w": {
            "type": "structure",
            "required": [
                "Value",
                "Type"
            ],
            "members": {
                "Value": {
                    "type": "long"
                },
                "Type": {}
            }
        },
        "Sf": {
            "type": "structure",
            "members": {
                "DigitalSignature": {
[...]
