{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-08-22",
        "endpointPrefix": "acm-pca",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "ACM-PCA",
        "serviceFullName": "AWS Certificate Manager Private Certificate Authority",
        "serviceId": "ACM PCA",
        "signatureVersion": "v4",
        "targetPrefix": "ACMPrivateCA",
        "uid": "acm-pca-2017-08-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "CreateCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityConfiguration",
                    "CertificateAuthorityType"
                ],
                "members": {
                    "CertificateAuthorityConfiguration": {
                        "shape": "S2"
                    },
                    "RevocationConfiguration": {
                        "shape": "Sv"
                    },
                    "CertificateAuthorityType": {},
                    "IdempotencyToken": {},
                    "KeyStorageSecurityStandard": {},
                    "Tags": {
                        "shape": "S14"
                    },
                    "UsageMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateCertificateAuthorityAuditReport": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "S3BucketName",
                    "AuditReportResponseFormat"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "S3BucketName": {},
                    "AuditReportResponseFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AuditReportId": {},
                    "S3Key": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreatePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Principal",
                    "Actions"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Principal": {},
                    "SourceAccount": {},
                    "Actions": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "PermanentDeletionTimeInDays": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeletePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Principal"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Principal": {},
                    "SourceAccount": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeletePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateAuthority": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeCertificateAuthorityAuditReport": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "AuditReportId"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "AuditReportId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AuditReportStatus": {},
                    "S3BucketName": {},
                    "S3Key": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "CertificateArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "CertificateArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {},
                    "CertificateChain": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetCertificateAuthorityCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {},
                    "CertificateChain": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetCertificateAuthorityCsr": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Csr": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ImportCertificateAuthorityCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Certificate"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Certificate": {
                        "type": "blob"
                    },
                    "CertificateChain": {
                        "type": "blob"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "IssueCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Csr",
                    "SigningAlgorithm",
                    "Validity"
                ],
                "members": {
                    "ApiPassthrough": {
                        "type": "structure",
                        "members": {
                            "Extensions": {
                                "type": "structure",
                                "members": {
                                    "CertificatePolicies": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "CertPolicyId"
                                            ],
                                            "members": {
                                                "CertPolicyId": {},
                                                "PolicyQualifiers": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "required": [
                                                            "PolicyQualifierId",
                                                            "Qualifier"
                                                        ],
                                                        "members": {
                                                            "PolicyQualifierId": {},
                                                            "Qualifier": {
                                                                "type": "structure",
                                                                "required": [
                                                                    "CpsUri"
                                                                ],
                                                                "members": {
                                                                    "CpsUri": {}
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "ExtendedKeyUsage": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "ExtendedKeyUsageType": {},
                                                "ExtendedKeyUsageObjectIdentifier": {}
                                            }
                                        }
                                    },
                                    "KeyUsage": {
                                        "shape": "Sj"
                                    },
                                    "SubjectAlternativeNames": {
                                        "type": "list",
                                        "member": {
                                            "shape": "Sp"
                                        }
                                    },
                                    "CustomExtensions": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "ObjectIdentifier",
                                                "Value"
                                            ],
                                            "members": {
                                                "ObjectIdentifier": {},
                                                "Value": {},
                                                "Critical": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "Subject": {
                                "shape": "S5"
                            }
                        }
                    },
                    "CertificateAuthorityArn": {},
                    "Csr": {
                        "type": "blob"
                    },
                    "SigningAlgorithm": {},
                    "TemplateArn": {},
                    "Validity": {
                        "shape": "S2w"
                    },
                    "ValidityNotBefore": {
                        "shape": "S2w"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListCertificateAuthorities": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ResourceOwner": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateAuthorities": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Permissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CertificateAuthorityArn": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "Principal": {},
                                "SourceAccount": {},
                                "Actions": {
                                    "shape": "S1k"
                                },
                                "Policy": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListTags": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "PutPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Policy"
                ],
                "members": {
                    "ResourceArn": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "RestoreCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "RevokeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "CertificateSerial",
                    "RevocationReason"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "CertificateSerial": {},
                    "RevocationReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "TagCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Tags"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Tags": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "UntagCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Tags"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Tags": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "UpdateCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "RevocationConfiguration": {
                        "shape": "Sv"
                    },
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBGYIEQXHXPIYLVBP67I7LCU63MFFAYXZQQVPISKGIX32EBLOGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCCN2UOPP5FGKABP6DC5G3DBZFSQEPAHFJKMDHXPHDBJTYKQCVRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQ3E2BYQKR3OP7NDBS6QZAB6YK6ERQ3NHA4VJ63AFVBY5LATB6TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6243ZFAWLTDAFY5RWMZSQJ5S5G6YWESWG2PNPM47SI4YNILAG6QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNLA3L3MDY5QV3EY6SYD7I4ZGKX6GUWYPNPCDLJEHJE6K3OJRFGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLYRXKTVXLVLAS2GJXZLJYUKNURZXRBWRCEQVJIFIKJAMCX2JXNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "required": [
                "KeyAlgorithm",
                "SigningAlgorithm",
                "Subject"
            ],
            "members": {
                "KeyAlgorithm": {},
                "SigningAlgorithm": {},
                "Subject": {
                    "shape": "S5"
                },
                "CsrExtensions": {
                    "type": "structure",
                    "members": {
                        "KeyUsage": {
                            "shape": "Sj"
                        },
                        "SubjectInformationAccess": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "AccessMethod",
                                    "AccessLocation"
                                ],
                                "members": {
                                    "AccessMethod": {
                                        "type": "structure",
                                        "members": {
                                            "CustomObjectIdentifier": {},
                                            "AccessMethodType": {}
                                        }
                                    },
                                    "AccessLocation": {
                                        "shape": "Sp"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S5": {
            "type": "structure",
            "members": {
                "Country": {},
                "Organization": {},
                "OrganizationalUnit": {},
                "DistinguishedNameQualifier": {},
                "State": {},
                "CommonName": {},
                "SerialNumber": {},
                "Locality": {},
                "Title": {},
                "Surname": {},
                "GivenName": {},
                "Initials": {},
                "Pseudonym": {},
                "GenerationQualifier": {},
                "CustomAttributes": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "ObjectIdentifier",
                            "Value"
                        ],
                        "members": {
                            "ObjectIdentifier": {},
                            "Value": {}
                        }
                    }
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "DigitalSignature": {
                    "type": "boolean"
                },
                "NonRepudiation": {
                    "type": "boolean"
                },
                "KeyEncipherment": {
                    "type": "boolean"
                },
                "DataEncipherment": {
                    "type": "boolean"
                },
                "KeyAgreement": {
                    "type": "boolean"
                },
                "KeyCertSign": {
                    "type": "boolean"
                },
                "CRLSign": {
                    "type": "boolean"
                },
                "EncipherOnly": {
                    "type": "boolean"
                },
                "DecipherOnly": {
                    "type": "boolean"
                }
            }
        },
        "Sp": {
            "type": "structure",
            "members": {
                "OtherName": {
                    "type": "structure",
                    "required": [
                        "TypeId",
                        "Value"
                    ],
                    "members": {
                        "TypeId": {},
                        "Value": {}
                    }
                },
                "Rfc822Name": {},
                "DnsName": {},
                "DirectoryName": {
                    "shape": "S5"
                },
                "EdiPartyName": {
                    "type": "structure",
                    "required": [
                        "PartyName"
                    ],
                    "members": {
                        "PartyName": {},
                        "NameAssigner": {}
                    }
                },
                "UniformResourceIdentifier": {},
                "IpAddress": {},
                "RegisteredId": {}
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "CrlConfiguration": {
                    "type": "structure",
                    "required": [
                        "Enabled"
                    ],
                    "members": {
                        "Enabled": {
                            "type": "boolean"
                        },
                        "ExpirationInDays": {
                            "type": "integer"
                        },
                        "CustomCname": {},
                        "S3BucketName": {},
                        "S3ObjectAcl": {}
                    }
                },
                "OcspConfiguration": {
                    "type": "structure",
                    "required": [
                        "Enabled"
                    ],
                    "members": {
                        "Enabled": {
                            "type": "boolean"
                        },
                        "OcspCustomCname": {}
                    }
                }
            }
        },
        "S14": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S1s": {
            "type": "structure",
            "members": {
                "Arn": {},
                "OwnerAccount": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastStateChangeAt": {
                    "type": "timestamp"
                },
                "Type": {},
                "Serial": {},
                "Status": {},
                "NotBefore": {
                    "type": "timestamp"
                },
                "NotAfter": {
                    "type": "timestamp"
                },
                "FailureReason": {},
                "CertificateAuthorityConfiguration": {
                    "shape": "S2"
                },
                "RevocationConfiguration": {
                    "shape": "Sv"
                },
                "RestorableUntil": {
                    "type": "timestamp"
                },
                "KeyStorageSecurityStandard": {},
                "UsageMode": {}
            }
[...]
