{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-12-08",
        "endpointPrefix": "acm",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "ACM",
        "serviceFullName": "AWS Certificate Manager",
        "serviceId": "ACM",
        "signatureVersion": "v4",
        "targetPrefix": "CertificateManager",
        "uid": "acm-2015-12-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
        ]
    },
    "operations": {
        "AddTagsToCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateArn",
                    "Tags"
                ],
                "members": {
                    "CertificateArn": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DeleteCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateArn"
                ],
                "members": {
                    "CertificateArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "DescribeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateArn"
                ],
                "members": {
                    "CertificateArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {
                        "type": "structure",
                        "members": {
                            "CertificateArn": {},
                            "DomainName": {},
                            "SubjectAlternativeNames": {
                                "shape": "Sc"
                            },
                            "DomainValidationOptions": {
                                "shape": "Sd"
                            },
                            "Serial": {},
                            "Subject": {},
                            "Issuer": {},
                            "CreatedAt": {
                                "type": "timestamp"
                            },
                            "IssuedAt": {
                                "type": "timestamp"
                            },
                            "ImportedAt": {
                                "type": "timestamp"
                            },
                            "Status": {},
                            "RevokedAt": {
                                "type": "timestamp"
                            },
                            "RevocationReason": {},
                            "NotBefore": {
                                "type": "timestamp"
                            },
                            "NotAfter": {
                                "type": "timestamp"
                            },
                            "KeyAlgorithm": {},
                            "SignatureAlgorithm": {},
                            "InUseBy": {
                                "type": "list",
                                "member": {}
                            },
                            "FailureReason": {},
                            "Type": {},
                            "RenewalSummary": {
                                "type": "structure",
                                "required": [
                                    "RenewalStatus",
                                    "DomainValidationOptions",
                                    "UpdatedAt"
                                ],
                                "members": {
                                    "RenewalStatus": {},
                                    "DomainValidationOptions": {
                                        "shape": "Sd"
                                    },
                                    "RenewalStatusReason": {},
                                    "UpdatedAt": {
                                        "type": "timestamp"
                                    }
                                }
                            },
                            "KeyUsages": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Name": {}
                                    }
                                }
                            },
                            "ExtendedKeyUsages": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Name": {},
                                        "OID": {}
                                    }
                                }
                            },
                            "CertificateAuthorityArn": {},
                            "RenewalEligibility": {},
                            "Options": {
                                "shape": "S11"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "ExportCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateArn",
                    "Passphrase"
                ],
                "members": {
                    "CertificateArn": {},
                    "Passphrase": {
                        "type": "blob",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {},
                    "CertificateChain": {},
                    "PrivateKey": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateArn"
                ],
                "members": {
                    "CertificateArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {},
                    "CertificateChain": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "ImportCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "Certificate",
                    "PrivateKey"
                ],
                "members": {
                    "CertificateArn": {},
                    "Certificate": {
                        "type": "blob"
                    },
                    "PrivateKey": {
                        "type": "blob",
                        "sensitive": true
                    },
                    "CertificateChain": {
                        "type": "blob"
                    },
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "ListCertificates": {
            "input": {
                "type": "structure",
                "members": {
                    "CertificateStatuses": {
                        "type": "list",
                        "member": {}
                    },
                    "Includes": {
                        "type": "structure",
                        "members": {
                            "extendedKeyUsage": {
                                "type": "list",
                                "member": {}
                            },
                            "keyUsage": {
                                "type": "list",
                                "member": {}
                            },
                            "keyTypes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxItems": {
                        "type": "integer"
                    },
                    "SortBy": {},
                    "SortOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "CertificateSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CertificateArn": {},
                                "DomainName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "ListTagsForCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateArn"
                ],
                "members": {
                    "CertificateArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "RemoveTagsFromCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateArn",
                    "Tags"
                ],
                "members": {
                    "CertificateArn": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "RenewCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateArn"
                ],
                "members": {
                    "CertificateArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "RequestCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "ValidationMethod": {},
                    "SubjectAlternativeNames": {
                        "shape": "Sc"
                    },
                    "IdempotencyToken": {},
                    "DomainValidationOptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DomainName",
                                "ValidationDomain"
                            ],
                            "members": {
                                "DomainName": {},
                                "ValidationDomain": {}
                            }
                        }
                    },
                    "Options": {
                        "shape": "S11"
                    },
                    "CertificateAuthorityArn": {},
                    "Tags": {
                        "shape": "S3"
                    },
                    "KeyAlgorithm": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "ResendValidationEmail": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateArn",
                    "Domain",
                    "ValidationDomain"
                ],
                "members": {
                    "CertificateArn": {},
                    "Domain": {},
                    "ValidationDomain": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "UpdateCertificateOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateArn",
                    "Options"
                ],
                "members": {
                    "CertificateArn": {},
                    "Options": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ML23XQFQZRWUF4AIRY4A7N4Z2TWVHCMDVGRXQT3XETI7KG7H4XHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "GetAccountConfiguration": {
            "output": {
                "type": "structure",
                "members": {
                    "ExpiryEvents": {
                        "shape": "S1a"
                    }
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        },
        "PutAccountConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "IdempotencyToken"
                ],
                "members": {
                    "ExpiryEvents": {
                        "shape": "S1a"
                    },
                    "IdempotencyToken": {}
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBMDNLK323OIHZYIOM5B7GJIVNE2IVC4IARQSYI6EGEUMLABDS3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKPM7ULAID7IALIAT22OOIT63EUNWBL4U2ZPQ5375YGNRSOZB24A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJZF52JTI4LRAZH4VNPIGFYUVOB46DSOLP67M5GATZUPW5OCVJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKOBSEDT5HQDNJJRR53RLHPSFXSMXETWHZ7ZDGLINSVXKVXC3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TYLNZKKX7GMFU4I4HOYVBVRZQIUS2MTHK3BPMIVYBTI25CTZDCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPW4PDZHQJ33JS5DQ4BC33K2J7JLH7MIKJFNADBZOCZXAZG2FKOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RBVGEGIQ7QQPHLLB6RRNJASMD6VVYX2EENQTTOOLSEEG3ZTEDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOTHEBB6MLSHDZ43E2ORWUSHOUCMQV7GZTQZKPGLC3QWT25OWGYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {}
        },
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "ValidationEmails": {
                        "type": "list",
                        "member": {}
                    },
                    "ValidationDomain": {},
                    "ValidationStatus": {},
                    "ResourceRecord": {
                        "type": "structure",
                        "required": [
                            "Name",
                            "Type",
                            "Value"
                        ],
                        "members": {
                            "Name": {},
                            "Type": {},
                            "Value": {}
                        }
                    },
                    "ValidationMethod": {}
                }
            }
        },
        "S11": {
            "type": "structure",
            "members": {
                "CertificateTransparencyLoggingPreference": {}
            }
        },
        "S1a": {
            "type": "structure",
            "members": {
                "DaysBeforeExpiry": {
                    "type": "integer"
                }
            }
        }
    }
}