{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-08-22",
        "endpointPrefix": "acm-pca",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "ACM-PCA",
        "serviceFullName": "AWS Certificate Manager Private Certificate Authority",
        "serviceId": "ACM PCA",
        "signatureVersion": "v4",
        "targetPrefix": "ACMPrivateCA",
        "uid": "acm-pca-2017-08-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QLMTEK5DPVIA5Y5VF3N2Y7RKPLWDKLBGPMFZFS37EOXSJ4V6GHOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
        ]
    },
    "operations": {
        "CreateCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityConfiguration",
                    "CertificateAuthorityType"
                ],
                "members": {
                    "CertificateAuthorityConfiguration": {
                        "shape": "S2"
                    },
                    "RevocationConfiguration": {
                        "shape": "Sv"
                    },
                    "CertificateAuthorityType": {},
                    "IdempotencyToken": {},
                    "KeyStorageSecurityStandard": {},
                    "Tags": {
                        "shape": "S14"
                    },
                    "UsageMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "CreateCertificateAuthorityAuditReport": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "S3BucketName",
                    "AuditReportResponseFormat"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "S3BucketName": {},
                    "AuditReportResponseFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AuditReportId": {},
                    "S3Key": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "CreatePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Principal",
                    "Actions"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Principal": {},
                    "SourceAccount": {},
                    "Actions": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "DeleteCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "PermanentDeletionTimeInDays": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "DeletePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Principal"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Principal": {},
                    "SourceAccount": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "DeletePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "DescribeCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateAuthority": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "DescribeCertificateAuthorityAuditReport": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "AuditReportId"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "AuditReportId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AuditReportStatus": {},
                    "S3BucketName": {},
                    "S3Key": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "GetCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "CertificateArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "CertificateArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {},
                    "CertificateChain": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "GetCertificateAuthorityCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {},
                    "CertificateChain": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "GetCertificateAuthorityCsr": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Csr": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "GetPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "ImportCertificateAuthorityCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Certificate"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Certificate": {
                        "type": "blob"
                    },
                    "CertificateChain": {
                        "type": "blob"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "IssueCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Csr",
                    "SigningAlgorithm",
                    "Validity"
                ],
                "members": {
                    "ApiPassthrough": {
                        "type": "structure",
                        "members": {
                            "Extensions": {
                                "type": "structure",
                                "members": {
                                    "CertificatePolicies": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "CertPolicyId"
                                            ],
                                            "members": {
                                                "CertPolicyId": {},
                                                "PolicyQualifiers": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "required": [
                                                            "PolicyQualifierId",
                                                            "Qualifier"
                                                        ],
                                                        "members": {
                                                            "PolicyQualifierId": {},
                                                            "Qualifier": {
                                                                "type": "structure",
                                                                "required": [
                                                                    "CpsUri"
                                                                ],
                                                                "members": {
                                                                    "CpsUri": {}
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "ExtendedKeyUsage": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "ExtendedKeyUsageType": {},
                                                "ExtendedKeyUsageObjectIdentifier": {}
                                            }
                                        }
                                    },
                                    "KeyUsage": {
                                        "shape": "Sj"
                                    },
                                    "SubjectAlternativeNames": {
                                        "type": "list",
                                        "member": {
                                            "shape": "Sp"
                                        }
                                    },
                                    "CustomExtensions": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "ObjectIdentifier",
                                                "Value"
                                            ],
                                            "members": {
                                                "ObjectIdentifier": {},
                                                "Value": {},
                                                "Critical": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "Subject": {
                                "shape": "S5"
                            }
                        }
                    },
                    "CertificateAuthorityArn": {},
                    "Csr": {
                        "type": "blob"
                    },
                    "SigningAlgorithm": {},
                    "TemplateArn": {},
                    "Validity": {
                        "shape": "S2w"
                    },
                    "ValidityNotBefore": {
                        "shape": "S2w"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "ListCertificateAuthorities": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ResourceOwner": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CertificateAuthorities": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "ListPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Permissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CertificateAuthorityArn": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                },
                                "Principal": {},
                                "SourceAccount": {},
                                "Actions": {
                                    "shape": "S1k"
                                },
                                "Policy": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "ListTags": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "PutPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Policy"
                ],
                "members": {
                    "ResourceArn": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "RestoreCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "RevokeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "CertificateSerial",
                    "RevocationReason"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "CertificateSerial": {},
                    "RevocationReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "TagCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Tags"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Tags": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "UntagCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn",
                    "Tags"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "Tags": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        },
        "UpdateCertificateAuthority": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateAuthorityArn"
                ],
                "members": {
                    "CertificateAuthorityArn": {},
                    "RevocationConfiguration": {
                        "shape": "Sv"
                    },
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVGJYBDLX3NXYTLNOAIPNUEVXHMKPZDQBNNCRLFFPQKFCX4C7GKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JDMTXTVVOUD7F6NM72O5RJHKBP4EUBDMQ2NVDCKXGMZ6UGY5JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BMNWJHXBR653GYAJ46PKMSKDS6QPLH66X7SBCJUBEDYDOUX2UMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ2AQH4ZQL2YBTMKHZY5KEN4IT4CW4DUMMCLT3G6SDU4CC7TZ3KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTVQMEFCXSO7FM4IKYHYUVG5PLSNCSEV4BD4YSMZBP7HBIJNO4BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7THNKIIZAYCAGC7T5M25QGIWWOGIOI46A5VZ7TGLNHAOCHVURA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NN5TN3IR5EGEYWDTHUON56KE6VMYRICJT45K35EHP7SIASD72FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OROE4W3HYRJUE5RIW2KBLM2P4TJALJ3E2WFHJYLBH5XWNV6KDBBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJGSEVQFOULX2ODUEFENXTKTR4P4SMIYIFH7JVLKUQQ3TVKPN3ZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULGJUJMAKRZXKB5GYGLBXFRLOVIM3O5YPM4N3NETCOXSYP74JULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRH6S5TP5RGO5D2NZ4KPTNEPWEHFYEQHU5577ETRUA6XRJ7H7PJA/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "required": [
                "KeyAlgorithm",
                "SigningAlgorithm",
                "Subject"
            ],
            "members": {
                "KeyAlgorithm": {},
                "SigningAlgorithm": {},
                "Subject": {
                    "shape": "S5"
                },
                "CsrExtensions": {
                    "type": "structure",
                    "members": {
                        "KeyUsage": {
                            "shape": "Sj"
                        },
                        "SubjectInformationAccess": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "AccessMethod",
                                    "AccessLocation"
                                ],
                                "members": {
                                    "AccessMethod": {
                                        "type": "structure",
                                        "members": {
                                            "CustomObjectIdentifier": {},
                                            "AccessMethodType": {}
                                        }
                                    },
                                    "AccessLocation": {
                                        "shape": "Sp"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S5": {
            "type": "structure",
            "members": {
                "Country": {},
                "Organization": {},
                "OrganizationalUnit": {},
                "DistinguishedNameQualifier": {},
                "State": {},
                "CommonName": {},
                "SerialNumber": {},
                "Locality": {},
                "Title": {},
                "Surname": {},
                "GivenName": {},
                "Initials": {},
                "Pseudonym": {},
                "GenerationQualifier": {},
                "CustomAttributes": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "ObjectIdentifier",
                            "Value"
                        ],
                        "members": {
                            "ObjectIdentifier": {},
                            "Value": {}
                        }
                    }
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "DigitalSignature": {
                    "type": "boolean"
                },
                "NonRepudiation": {
                    "type": "boolean"
                },
                "KeyEncipherment": {
                    "type": "boolean"
                },
                "DataEncipherment": {
                    "type": "boolean"
                },
                "KeyAgreement": {
                    "type": "boolean"
                },
                "KeyCertSign": {
                    "type": "boolean"
                },
                "CRLSign": {
                    "type": "boolean"
                },
                "EncipherOnly": {
                    "type": "boolean"
                },
                "DecipherOnly": {
                    "type": "boolean"
                }
            }
        },
        "Sp": {
            "type": "structure",
            "members": {
                "OtherName": {
                    "type": "structure",
                    "required": [
                        "TypeId",
                        "Value"
                    ],
                    "members": {
                        "TypeId": {},
                        "Value": {}
                    }
                },
                "Rfc822Name": {},
                "DnsName": {},
                "DirectoryName": {
                    "shape": "S5"
                },
                "EdiPartyName": {
                    "type": "structure",
                    "required": [
                        "PartyName"
                    ],
                    "members": {
                        "PartyName": {},
                        "NameAssigner": {}
                    }
                },
                "UniformResourceIdentifier": {},
                "IpAddress": {},
                "RegisteredId": {}
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "CrlConfiguration": {
                    "type": "structure",
                    "required": [
                        "Enabled"
                    ],
                    "members": {
                        "Enabled": {
                            "type": "boolean"
                        },
                        "ExpirationInDays": {
                            "type": "integer"
                        },
                        "CustomCname": {},
                        "S3BucketName": {},
                        "S3ObjectAcl": {}
                    }
                },
                "OcspConfiguration": {
                    "type": "structure",
                    "required": [
                        "Enabled"
                    ],
                    "members": {
                        "Enabled": {
                            "type": "boolean"
                        },
                        "OcspCustomCname": {}
                    }
                }
            }
        },
        "S14": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S1s": {
            "type": "structure",
            "members": {
                "Arn": {},
                "OwnerAccount": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "LastStateChangeAt": {
                    "type": "timestamp"
                },
                "Type": {},
                "Serial": {},
                "Status": {},
                "NotBefore": {
                    "type": "timestamp"
                },
                "NotAfter": {
                    "type": "timestamp"
                },
                "FailureReason": {},
                "CertificateAuthorityConfiguration": {
                    "shape": "S2"
                },
                "RevocationConfiguration": {
                    "shape": "Sv"
                },
                "RestorableUntil": {
                    "type": "timestamp"
                },
                "KeyStorageSecurityStandard": {},
                "UsageMode": {}
            }
        },
        "S2w": {
            "type": "structure",
            "required": [
[...]
