{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "activate",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "activate-console",
        "serviceFullName": "AWS Activate Service",
        "serviceId": "Activate",
        "signatureVersion": "v4",
        "signingName": "activate",
        "uid": "activate-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FBXTUEOJWAS3F32H7A2AVSQF7QFXQPJ5EYSQZJEZ5YYCCTONCXBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F22MBFSIXPYZGFFYRWLDGNLPPPXT4YTAVOKMKBLTXFLBKIIPRPUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2BFZPIXJXBZMJTWB6H6MSHRIKPFMS3QED3SIFF2MWHLJUMXGBHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PV6JZTWX3EK3BAV5LJ2WOPUYFELLNBLYNBS22UKP3BE4RNV76KEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M46DJ3N6CTBEULT32GYZUIXBOFDN5YRUX4QNE7SZTI7VCIZA3YKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SHVBMTR7DJ7BGCW65PWOC6GIWEUH3OLXZGUYARMBG2FKRHOTHK4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TIBNUVYQ6E4A4U5V2K36Z3N4OO2V65FTFRJTYG2TUJYW3QGFMCAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRX2YY5H7JTIUVPAPQ4GKFT3MNDUKMG5RJM3MWYUNUVBIKOXXFQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XURX6P5OW6TIBM5DSFI3MOYJEEMQ2LSNTBDGTNFHIH3CE3PHGNHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQ3TSHK7Y2TU6AWPU3ELWP7KFNYYFCHOCHNVGET5JKP6EZGU4RGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z3G36NEGPLVG7D3BDFFFXMZ33Q4AUFYJ4NLMCLAY6WWFYC7UE26Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZ3BSZRJCF4LL6CV6YQOD72EG66DTLSJWKNS42VKPMOPKXQ7HAZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XEXI6GUW2YLRCHVB6VWKQTSGOTH2LCBPMT2E2BCEOYEKNP3LBBQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XSDK7KVI2S4NPB4OAKOLBDDGLUXQAOSSPW3A523TNN6WONLTZYVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZ2X4HNOS23MX3REPWZ3GVI3J7WZZ6STZCH54BZX6XPLCRSIVTCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RPPQPYKPF6QPKEGQCDELDRK4L2AVAU5HV6DPJOUYN57CR5Y675NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GCDVGZVWRDPFXFJ5PKTFMW4JRZ7BBNG37MNEC4DQBOYJX2K64SQ/vendors.js"
        ]
    },
    "operations": {
        "CreateApplication": {
            "http": {
                "requestUri": "/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Application"
                ],
                "members": {
                    "Application": {
                        "type": "structure",
                        "required": [
                            "OrgId",
                            "ProgramId"
                        ],
                        "members": {
                            "OrgId": {},
                            "ProgramId": {},
                            "ActivateCreditSelection": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Application"
                ],
                "members": {
                    "Application": {
                        "type": "structure",
                        "required": [
                            "OrgId",
                            "ProgramId",
                            "AppliedAt"
                        ],
                        "members": {
                            "OrgId": {},
                            "ProgramId": {},
                            "AppliedAt": {
                                "type": "long"
                            },
                            "PartnerFirmName": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBXTUEOJWAS3F32H7A2AVSQF7QFXQPJ5EYSQZJEZ5YYCCTONCXBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22MBFSIXPYZGFFYRWLDGNLPPPXT4YTAVOKMKBLTXFLBKIIPRPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2BFZPIXJXBZMJTWB6H6MSHRIKPFMS3QED3SIFF2MWHLJUMXGBHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV6JZTWX3EK3BAV5LJ2WOPUYFELLNBLYNBS22UKP3BE4RNV76KEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M46DJ3N6CTBEULT32GYZUIXBOFDN5YRUX4QNE7SZTI7VCIZA3YKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHVBMTR7DJ7BGCW65PWOC6GIWEUH3OLXZGUYARMBG2FKRHOTHK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIBNUVYQ6E4A4U5V2K36Z3N4OO2V65FTFRJTYG2TUJYW3QGFMCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRX2YY5H7JTIUVPAPQ4GKFT3MNDUKMG5RJM3MWYUNUVBIKOXXFQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XURX6P5OW6TIBM5DSFI3MOYJEEMQ2LSNTBDGTNFHIH3CE3PHGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ3TSHK7Y2TU6AWPU3ELWP7KFNYYFCHOCHNVGET5JKP6EZGU4RGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3G36NEGPLVG7D3BDFFFXMZ33Q4AUFYJ4NLMCLAY6WWFYC7UE26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZ3BSZRJCF4LL6CV6YQOD72EG66DTLSJWKNS42VKPMOPKXQ7HAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXI6GUW2YLRCHVB6VWKQTSGOTH2LCBPMT2E2BCEOYEKNP3LBBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSDK7KVI2S4NPB4OAKOLBDDGLUXQAOSSPW3A523TNN6WONLTZYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ2X4HNOS23MX3REPWZ3GVI3J7WZZ6STZCH54BZX6XPLCRSIVTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPPQPYKPF6QPKEGQCDELDRK4L2AVAU5HV6DPJOUYN57CR5Y675NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GCDVGZVWRDPFXFJ5PKTFMW4JRZ7BBNG37MNEC4DQBOYJX2K64SQ/vendors.js"
            ]
        },
        "GetAccountContact": {
            "http": {
                "method": "GET",
                "requestUri": "/account-contacts",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "AwsAccountId": {},
                    "AwsAccountEmail": {
                        "shape": "Sc"
                    },
                    "City": {},
                    "State": {},
                    "Country": {},
                    "Zip": {},
                    "FirstName": {},
                    "LastName": {},
                    "Email": {
                        "shape": "Sc"
                    },
                    "Phone": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBXTUEOJWAS3F32H7A2AVSQF7QFXQPJ5EYSQZJEZ5YYCCTONCXBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22MBFSIXPYZGFFYRWLDGNLPPPXT4YTAVOKMKBLTXFLBKIIPRPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2BFZPIXJXBZMJTWB6H6MSHRIKPFMS3QED3SIFF2MWHLJUMXGBHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV6JZTWX3EK3BAV5LJ2WOPUYFELLNBLYNBS22UKP3BE4RNV76KEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M46DJ3N6CTBEULT32GYZUIXBOFDN5YRUX4QNE7SZTI7VCIZA3YKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHVBMTR7DJ7BGCW65PWOC6GIWEUH3OLXZGUYARMBG2FKRHOTHK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIBNUVYQ6E4A4U5V2K36Z3N4OO2V65FTFRJTYG2TUJYW3QGFMCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRX2YY5H7JTIUVPAPQ4GKFT3MNDUKMG5RJM3MWYUNUVBIKOXXFQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XURX6P5OW6TIBM5DSFI3MOYJEEMQ2LSNTBDGTNFHIH3CE3PHGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ3TSHK7Y2TU6AWPU3ELWP7KFNYYFCHOCHNVGET5JKP6EZGU4RGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3G36NEGPLVG7D3BDFFFXMZ33Q4AUFYJ4NLMCLAY6WWFYC7UE26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZ3BSZRJCF4LL6CV6YQOD72EG66DTLSJWKNS42VKPMOPKXQ7HAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXI6GUW2YLRCHVB6VWKQTSGOTH2LCBPMT2E2BCEOYEKNP3LBBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSDK7KVI2S4NPB4OAKOLBDDGLUXQAOSSPW3A523TNN6WONLTZYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ2X4HNOS23MX3REPWZ3GVI3J7WZZ6STZCH54BZX6XPLCRSIVTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPPQPYKPF6QPKEGQCDELDRK4L2AVAU5HV6DPJOUYN57CR5Y675NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GCDVGZVWRDPFXFJ5PKTFMW4JRZ7BBNG37MNEC4DQBOYJX2K64SQ/vendors.js"
            ]
        },
        "GetContentInfo": {
            "http": {
                "method": "GET",
                "requestUri": "/contents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Category",
                    "Locale"
                ],
                "members": {
                    "Category": {
                        "location": "querystring",
                        "locationName": "category"
                    },
                    "Locale": {
                        "location": "querystring",
                        "locationName": "locale"
                    },
                    "Theme": {
                        "location": "querystring",
                        "locationName": "theme"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Records"
                ],
                "members": {
                    "Records": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "Name",
                                "Title",
                                "Description",
                                "CallToActionUrl",
                                "ImageUrl"
                            ],
                            "members": {
                                "Id": {},
                                "Name": {},
                                "Title": {},
                                "Description": {},
                                "CallToActionTitle": {},
                                "CallToActionUrl": {},
                                "ImageUrl": {},
                                "Type": {},
                                "RecommendationType": {},
                                "PromoCodeOfferId": {},
                                "Liked": {
                                    "type": "boolean"
                                },
                                "LikeTotal": {
                                    "type": "long"
                                },
                                "AuthoringTeam": {},
                                "AwsServicesInvolved": {
                                    "type": "list",
                                    "member": {}
                                },
                                "DeploymentType": {},
                                "EstimatedDeploymentTime": {},
                                "RecencyOrder": {
                                    "type": "long"
                                },
                                "CreatedDate": {
                                    "type": "long"
                                },
                                "OfferPopular": {
                                    "type": "boolean"
                                },
                                "OfferCategories": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBXTUEOJWAS3F32H7A2AVSQF7QFXQPJ5EYSQZJEZ5YYCCTONCXBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22MBFSIXPYZGFFYRWLDGNLPPPXT4YTAVOKMKBLTXFLBKIIPRPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2BFZPIXJXBZMJTWB6H6MSHRIKPFMS3QED3SIFF2MWHLJUMXGBHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV6JZTWX3EK3BAV5LJ2WOPUYFELLNBLYNBS22UKP3BE4RNV76KEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M46DJ3N6CTBEULT32GYZUIXBOFDN5YRUX4QNE7SZTI7VCIZA3YKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHVBMTR7DJ7BGCW65PWOC6GIWEUH3OLXZGUYARMBG2FKRHOTHK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIBNUVYQ6E4A4U5V2K36Z3N4OO2V65FTFRJTYG2TUJYW3QGFMCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRX2YY5H7JTIUVPAPQ4GKFT3MNDUKMG5RJM3MWYUNUVBIKOXXFQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XURX6P5OW6TIBM5DSFI3MOYJEEMQ2LSNTBDGTNFHIH3CE3PHGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ3TSHK7Y2TU6AWPU3ELWP7KFNYYFCHOCHNVGET5JKP6EZGU4RGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3G36NEGPLVG7D3BDFFFXMZ33Q4AUFYJ4NLMCLAY6WWFYC7UE26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZ3BSZRJCF4LL6CV6YQOD72EG66DTLSJWKNS42VKPMOPKXQ7HAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXI6GUW2YLRCHVB6VWKQTSGOTH2LCBPMT2E2BCEOYEKNP3LBBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSDK7KVI2S4NPB4OAKOLBDDGLUXQAOSSPW3A523TNN6WONLTZYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ2X4HNOS23MX3REPWZ3GVI3J7WZZ6STZCH54BZX6XPLCRSIVTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPPQPYKPF6QPKEGQCDELDRK4L2AVAU5HV6DPJOUYN57CR5Y675NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GCDVGZVWRDPFXFJ5PKTFMW4JRZ7BBNG37MNEC4DQBOYJX2K64SQ/vendors.js"
            ]
        },
        "GetCosts": {
            "http": {
                "method": "GET",
                "requestUri": "/costs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "PreviousMonthToDate",
                    "CurrentMonthToDate",
                    "SinceFirstOfPreviousMonth",
                    "Last30Days"
                ],
                "members": {
                    "PreviousMonthToDate": {
                        "shape": "Sz"
                    },
                    "CurrentMonthToDate": {
                        "shape": "Sz"
                    },
                    "SinceFirstOfPreviousMonth": {
                        "shape": "Sz"
                    },
                    "Last30Days": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBXTUEOJWAS3F32H7A2AVSQF7QFXQPJ5EYSQZJEZ5YYCCTONCXBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22MBFSIXPYZGFFYRWLDGNLPPPXT4YTAVOKMKBLTXFLBKIIPRPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2BFZPIXJXBZMJTWB6H6MSHRIKPFMS3QED3SIFF2MWHLJUMXGBHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV6JZTWX3EK3BAV5LJ2WOPUYFELLNBLYNBS22UKP3BE4RNV76KEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M46DJ3N6CTBEULT32GYZUIXBOFDN5YRUX4QNE7SZTI7VCIZA3YKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHVBMTR7DJ7BGCW65PWOC6GIWEUH3OLXZGUYARMBG2FKRHOTHK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIBNUVYQ6E4A4U5V2K36Z3N4OO2V65FTFRJTYG2TUJYW3QGFMCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRX2YY5H7JTIUVPAPQ4GKFT3MNDUKMG5RJM3MWYUNUVBIKOXXFQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XURX6P5OW6TIBM5DSFI3MOYJEEMQ2LSNTBDGTNFHIH3CE3PHGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ3TSHK7Y2TU6AWPU3ELWP7KFNYYFCHOCHNVGET5JKP6EZGU4RGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3G36NEGPLVG7D3BDFFFXMZ33Q4AUFYJ4NLMCLAY6WWFYC7UE26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZ3BSZRJCF4LL6CV6YQOD72EG66DTLSJWKNS42VKPMOPKXQ7HAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXI6GUW2YLRCHVB6VWKQTSGOTH2LCBPMT2E2BCEOYEKNP3LBBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSDK7KVI2S4NPB4OAKOLBDDGLUXQAOSSPW3A523TNN6WONLTZYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ2X4HNOS23MX3REPWZ3GVI3J7WZZ6STZCH54BZX6XPLCRSIVTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPPQPYKPF6QPKEGQCDELDRK4L2AVAU5HV6DPJOUYN57CR5Y675NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GCDVGZVWRDPFXFJ5PKTFMW4JRZ7BBNG37MNEC4DQBOYJX2K64SQ/vendors.js"
            ]
        },
        "GetCredits": {
            "http": {
                "method": "GET",
                "requestUri": "/credits",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "Service",
                    "Support",
                    "BusinessSupport",
                    "DeveloperSupport"
                ],
                "members": {
                    "Service": {
                        "shape": "S14"
                    },
                    "Support": {
                        "shape": "S14"
                    },
                    "BusinessSupport": {
                        "shape": "S14"
                    },
                    "DeveloperSupport": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBXTUEOJWAS3F32H7A2AVSQF7QFXQPJ5EYSQZJEZ5YYCCTONCXBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22MBFSIXPYZGFFYRWLDGNLPPPXT4YTAVOKMKBLTXFLBKIIPRPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2BFZPIXJXBZMJTWB6H6MSHRIKPFMS3QED3SIFF2MWHLJUMXGBHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV6JZTWX3EK3BAV5LJ2WOPUYFELLNBLYNBS22UKP3BE4RNV76KEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M46DJ3N6CTBEULT32GYZUIXBOFDN5YRUX4QNE7SZTI7VCIZA3YKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHVBMTR7DJ7BGCW65PWOC6GIWEUH3OLXZGUYARMBG2FKRHOTHK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIBNUVYQ6E4A4U5V2K36Z3N4OO2V65FTFRJTYG2TUJYW3QGFMCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRX2YY5H7JTIUVPAPQ4GKFT3MNDUKMG5RJM3MWYUNUVBIKOXXFQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XURX6P5OW6TIBM5DSFI3MOYJEEMQ2LSNTBDGTNFHIH3CE3PHGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ3TSHK7Y2TU6AWPU3ELWP7KFNYYFCHOCHNVGET5JKP6EZGU4RGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3G36NEGPLVG7D3BDFFFXMZ33Q4AUFYJ4NLMCLAY6WWFYC7UE26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZ3BSZRJCF4LL6CV6YQOD72EG66DTLSJWKNS42VKPMOPKXQ7HAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXI6GUW2YLRCHVB6VWKQTSGOTH2LCBPMT2E2BCEOYEKNP3LBBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSDK7KVI2S4NPB4OAKOLBDDGLUXQAOSSPW3A523TNN6WONLTZYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ2X4HNOS23MX3REPWZ3GVI3J7WZZ6STZCH54BZX6XPLCRSIVTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPPQPYKPF6QPKEGQCDELDRK4L2AVAU5HV6DPJOUYN57CR5Y675NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GCDVGZVWRDPFXFJ5PKTFMW4JRZ7BBNG37MNEC4DQBOYJX2K64SQ/vendors.js"
            ]
        },
        "GetProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/startup-profiles",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "Profile": {
                        "shape": "S17"
                    },
                    "GuidedExperience": {
                        "shape": "S2b"
                    },
                    "Offers": {
                        "type": "structure",
                        "members": {
                            "ExclusiveOfferMap": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "OfferCode": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBXTUEOJWAS3F32H7A2AVSQF7QFXQPJ5EYSQZJEZ5YYCCTONCXBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22MBFSIXPYZGFFYRWLDGNLPPPXT4YTAVOKMKBLTXFLBKIIPRPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2BFZPIXJXBZMJTWB6H6MSHRIKPFMS3QED3SIFF2MWHLJUMXGBHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV6JZTWX3EK3BAV5LJ2WOPUYFELLNBLYNBS22UKP3BE4RNV76KEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M46DJ3N6CTBEULT32GYZUIXBOFDN5YRUX4QNE7SZTI7VCIZA3YKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHVBMTR7DJ7BGCW65PWOC6GIWEUH3OLXZGUYARMBG2FKRHOTHK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIBNUVYQ6E4A4U5V2K36Z3N4OO2V65FTFRJTYG2TUJYW3QGFMCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRX2YY5H7JTIUVPAPQ4GKFT3MNDUKMG5RJM3MWYUNUVBIKOXXFQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XURX6P5OW6TIBM5DSFI3MOYJEEMQ2LSNTBDGTNFHIH3CE3PHGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ3TSHK7Y2TU6AWPU3ELWP7KFNYYFCHOCHNVGET5JKP6EZGU4RGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3G36NEGPLVG7D3BDFFFXMZ33Q4AUFYJ4NLMCLAY6WWFYC7UE26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZ3BSZRJCF4LL6CV6YQOD72EG66DTLSJWKNS42VKPMOPKXQ7HAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXI6GUW2YLRCHVB6VWKQTSGOTH2LCBPMT2E2BCEOYEKNP3LBBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSDK7KVI2S4NPB4OAKOLBDDGLUXQAOSSPW3A523TNN6WONLTZYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ2X4HNOS23MX3REPWZ3GVI3J7WZZ6STZCH54BZX6XPLCRSIVTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPPQPYKPF6QPKEGQCDELDRK4L2AVAU5HV6DPJOUYN57CR5Y675NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GCDVGZVWRDPFXFJ5PKTFMW4JRZ7BBNG37MNEC4DQBOYJX2K64SQ/vendors.js"
            ]
        },
        "GetProgram": {
            "http": {
                "method": "GET",
                "requestUri": "/programs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrgId"
                ],
                "members": {
                    "OrgId": {
                        "location": "querystring",
                        "locationName": "org-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PartnerFirmName": {},
                    "ProgramId": {},
                    "OrgId": {},
                    "CreditOptions": {
                        "type": "list",
                        "member": {
                            "type": "double"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBXTUEOJWAS3F32H7A2AVSQF7QFXQPJ5EYSQZJEZ5YYCCTONCXBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22MBFSIXPYZGFFYRWLDGNLPPPXT4YTAVOKMKBLTXFLBKIIPRPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2BFZPIXJXBZMJTWB6H6MSHRIKPFMS3QED3SIFF2MWHLJUMXGBHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV6JZTWX3EK3BAV5LJ2WOPUYFELLNBLYNBS22UKP3BE4RNV76KEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M46DJ3N6CTBEULT32GYZUIXBOFDN5YRUX4QNE7SZTI7VCIZA3YKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHVBMTR7DJ7BGCW65PWOC6GIWEUH3OLXZGUYARMBG2FKRHOTHK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIBNUVYQ6E4A4U5V2K36Z3N4OO2V65FTFRJTYG2TUJYW3QGFMCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRX2YY5H7JTIUVPAPQ4GKFT3MNDUKMG5RJM3MWYUNUVBIKOXXFQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XURX6P5OW6TIBM5DSFI3MOYJEEMQ2LSNTBDGTNFHIH3CE3PHGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ3TSHK7Y2TU6AWPU3ELWP7KFNYYFCHOCHNVGET5JKP6EZGU4RGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3G36NEGPLVG7D3BDFFFXMZ33Q4AUFYJ4NLMCLAY6WWFYC7UE26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZ3BSZRJCF4LL6CV6YQOD72EG66DTLSJWKNS42VKPMOPKXQ7HAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXI6GUW2YLRCHVB6VWKQTSGOTH2LCBPMT2E2BCEOYEKNP3LBBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSDK7KVI2S4NPB4OAKOLBDDGLUXQAOSSPW3A523TNN6WONLTZYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ2X4HNOS23MX3REPWZ3GVI3J7WZZ6STZCH54BZX6XPLCRSIVTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPPQPYKPF6QPKEGQCDELDRK4L2AVAU5HV6DPJOUYN57CR5Y675NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GCDVGZVWRDPFXFJ5PKTFMW4JRZ7BBNG37MNEC4DQBOYJX2K64SQ/vendors.js"
            ]
        },
        "ListApplications": {
            "http": {
                "method": "GET",
                "requestUri": "/applications",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "Applications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "PackageType",
                                "Status",
                                "AppliedAt"
                            ],
                            "members": {
                                "PackageType": {},
                                "ProviderName": {},
                                "Status": {},
                                "AppliedAt": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBXTUEOJWAS3F32H7A2AVSQF7QFXQPJ5EYSQZJEZ5YYCCTONCXBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22MBFSIXPYZGFFYRWLDGNLPPPXT4YTAVOKMKBLTXFLBKIIPRPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2BFZPIXJXBZMJTWB6H6MSHRIKPFMS3QED3SIFF2MWHLJUMXGBHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV6JZTWX3EK3BAV5LJ2WOPUYFELLNBLYNBS22UKP3BE4RNV76KEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M46DJ3N6CTBEULT32GYZUIXBOFDN5YRUX4QNE7SZTI7VCIZA3YKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHVBMTR7DJ7BGCW65PWOC6GIWEUH3OLXZGUYARMBG2FKRHOTHK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIBNUVYQ6E4A4U5V2K36Z3N4OO2V65FTFRJTYG2TUJYW3QGFMCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRX2YY5H7JTIUVPAPQ4GKFT3MNDUKMG5RJM3MWYUNUVBIKOXXFQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XURX6P5OW6TIBM5DSFI3MOYJEEMQ2LSNTBDGTNFHIH3CE3PHGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ3TSHK7Y2TU6AWPU3ELWP7KFNYYFCHOCHNVGET5JKP6EZGU4RGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3G36NEGPLVG7D3BDFFFXMZ33Q4AUFYJ4NLMCLAY6WWFYC7UE26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZ3BSZRJCF4LL6CV6YQOD72EG66DTLSJWKNS42VKPMOPKXQ7HAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXI6GUW2YLRCHVB6VWKQTSGOTH2LCBPMT2E2BCEOYEKNP3LBBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSDK7KVI2S4NPB4OAKOLBDDGLUXQAOSSPW3A523TNN6WONLTZYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ2X4HNOS23MX3REPWZ3GVI3J7WZZ6STZCH54BZX6XPLCRSIVTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPPQPYKPF6QPKEGQCDELDRK4L2AVAU5HV6DPJOUYN57CR5Y675NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GCDVGZVWRDPFXFJ5PKTFMW4JRZ7BBNG37MNEC4DQBOYJX2K64SQ/vendors.js"
            ]
        },
        "PutCustomerContentInfo": {
            "http": {
                "method": "PUT",
                "requestUri": "/content-actions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ContentId",
                    "Action"
                ],
                "members": {
                    "ContentId": {},
                    "Action": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ContentId"
                ],
                "members": {
                    "ContentId": {},
                    "LikeTotal": {
                        "type": "long"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBXTUEOJWAS3F32H7A2AVSQF7QFXQPJ5EYSQZJEZ5YYCCTONCXBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22MBFSIXPYZGFFYRWLDGNLPPPXT4YTAVOKMKBLTXFLBKIIPRPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2BFZPIXJXBZMJTWB6H6MSHRIKPFMS3QED3SIFF2MWHLJUMXGBHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV6JZTWX3EK3BAV5LJ2WOPUYFELLNBLYNBS22UKP3BE4RNV76KEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M46DJ3N6CTBEULT32GYZUIXBOFDN5YRUX4QNE7SZTI7VCIZA3YKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHVBMTR7DJ7BGCW65PWOC6GIWEUH3OLXZGUYARMBG2FKRHOTHK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIBNUVYQ6E4A4U5V2K36Z3N4OO2V65FTFRJTYG2TUJYW3QGFMCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRX2YY5H7JTIUVPAPQ4GKFT3MNDUKMG5RJM3MWYUNUVBIKOXXFQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XURX6P5OW6TIBM5DSFI3MOYJEEMQ2LSNTBDGTNFHIH3CE3PHGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ3TSHK7Y2TU6AWPU3ELWP7KFNYYFCHOCHNVGET5JKP6EZGU4RGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3G36NEGPLVG7D3BDFFFXMZ33Q4AUFYJ4NLMCLAY6WWFYC7UE26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZ3BSZRJCF4LL6CV6YQOD72EG66DTLSJWKNS42VKPMOPKXQ7HAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXI6GUW2YLRCHVB6VWKQTSGOTH2LCBPMT2E2BCEOYEKNP3LBBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSDK7KVI2S4NPB4OAKOLBDDGLUXQAOSSPW3A523TNN6WONLTZYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ2X4HNOS23MX3REPWZ3GVI3J7WZZ6STZCH54BZX6XPLCRSIVTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPPQPYKPF6QPKEGQCDELDRK4L2AVAU5HV6DPJOUYN57CR5Y675NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GCDVGZVWRDPFXFJ5PKTFMW4JRZ7BBNG37MNEC4DQBOYJX2K64SQ/vendors.js"
            ]
        },
        "PutProfile": {
            "http": {
                "method": "PUT",
                "requestUri": "/startup-profiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Profile"
                ],
                "members": {
                    "Profile": {
                        "shape": "S17"
                    },
                    "GuidedExperience": {
                        "shape": "S2b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Profile"
                ],
                "members": {
                    "Profile": {
                        "shape": "S17"
                    },
                    "GuidedExperience": {
                        "shape": "S2b"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBXTUEOJWAS3F32H7A2AVSQF7QFXQPJ5EYSQZJEZ5YYCCTONCXBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22MBFSIXPYZGFFYRWLDGNLPPPXT4YTAVOKMKBLTXFLBKIIPRPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2BFZPIXJXBZMJTWB6H6MSHRIKPFMS3QED3SIFF2MWHLJUMXGBHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV6JZTWX3EK3BAV5LJ2WOPUYFELLNBLYNBS22UKP3BE4RNV76KEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M46DJ3N6CTBEULT32GYZUIXBOFDN5YRUX4QNE7SZTI7VCIZA3YKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHVBMTR7DJ7BGCW65PWOC6GIWEUH3OLXZGUYARMBG2FKRHOTHK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIBNUVYQ6E4A4U5V2K36Z3N4OO2V65FTFRJTYG2TUJYW3QGFMCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRX2YY5H7JTIUVPAPQ4GKFT3MNDUKMG5RJM3MWYUNUVBIKOXXFQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XURX6P5OW6TIBM5DSFI3MOYJEEMQ2LSNTBDGTNFHIH3CE3PHGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ3TSHK7Y2TU6AWPU3ELWP7KFNYYFCHOCHNVGET5JKP6EZGU4RGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3G36NEGPLVG7D3BDFFFXMZ33Q4AUFYJ4NLMCLAY6WWFYC7UE26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZ3BSZRJCF4LL6CV6YQOD72EG66DTLSJWKNS42VKPMOPKXQ7HAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXI6GUW2YLRCHVB6VWKQTSGOTH2LCBPMT2E2BCEOYEKNP3LBBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSDK7KVI2S4NPB4OAKOLBDDGLUXQAOSSPW3A523TNN6WONLTZYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ2X4HNOS23MX3REPWZ3GVI3J7WZZ6STZCH54BZX6XPLCRSIVTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPPQPYKPF6QPKEGQCDELDRK4L2AVAU5HV6DPJOUYN57CR5Y675NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GCDVGZVWRDPFXFJ5PKTFMW4JRZ7BBNG37MNEC4DQBOYJX2K64SQ/vendors.js"
            ]
        },
        "UpdateLinks": {
            "http": {
                "method": "PUT",
                "requestUri": "/links",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "Token": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Token": {},
                    "BuilderId": {},
                    "Email": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBXTUEOJWAS3F32H7A2AVSQF7QFXQPJ5EYSQZJEZ5YYCCTONCXBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F22MBFSIXPYZGFFYRWLDGNLPPPXT4YTAVOKMKBLTXFLBKIIPRPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2BFZPIXJXBZMJTWB6H6MSHRIKPFMS3QED3SIFF2MWHLJUMXGBHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV6JZTWX3EK3BAV5LJ2WOPUYFELLNBLYNBS22UKP3BE4RNV76KEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M46DJ3N6CTBEULT32GYZUIXBOFDN5YRUX4QNE7SZTI7VCIZA3YKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHVBMTR7DJ7BGCW65PWOC6GIWEUH3OLXZGUYARMBG2FKRHOTHK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIBNUVYQ6E4A4U5V2K36Z3N4OO2V65FTFRJTYG2TUJYW3QGFMCAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRX2YY5H7JTIUVPAPQ4GKFT3MNDUKMG5RJM3MWYUNUVBIKOXXFQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XURX6P5OW6TIBM5DSFI3MOYJEEMQ2LSNTBDGTNFHIH3CE3PHGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ3TSHK7Y2TU6AWPU3ELWP7KFNYYFCHOCHNVGET5JKP6EZGU4RGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3G36NEGPLVG7D3BDFFFXMZ33Q4AUFYJ4NLMCLAY6WWFYC7UE26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZ3BSZRJCF4LL6CV6YQOD72EG66DTLSJWKNS42VKPMOPKXQ7HAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXI6GUW2YLRCHVB6VWKQTSGOTH2LCBPMT2E2BCEOYEKNP3LBBQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSDK7KVI2S4NPB4OAKOLBDDGLUXQAOSSPW3A523TNN6WONLTZYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ2X4HNOS23MX3REPWZ3GVI3J7WZZ6STZCH54BZX6XPLCRSIVTCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPPQPYKPF6QPKEGQCDELDRK4L2AVAU5HV6DPJOUYN57CR5Y675NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLE6TRJ2N3HQGHAIKMKOHDOS3UFPBRIVQO2622LUDPC7RG7V2YHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHZN3IL2XETNGPKAPBFPTO7L25V5NUQN3GLLURJQQWXL3MXS4XWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C52GX74HDHY6RY5UBXNFCPWKHFZCZG3AFR6FVQBSQ43QPGOHGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXXRXASSLYPI65E6FLY6KIXFMFGTLOOYBOVLKUNGV5A6QWSJOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GCDVGZVWRDPFXFJ5PKTFMW4JRZ7BBNG37MNEC4DQBOYJX2K64SQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sc": {
            "type": "string",
            "sensitive": true
        },
        "Sj": {
            "type": "string",
            "sensitive": true
        },
        "Sz": {
            "type": "structure",
            "required": [
                "Service",
                "Support",
                "BusinessSupport",
                "DeveloperSupport"
            ],
            "members": {
                "Service": {
                    "shape": "S10"
                },
                "Support": {
                    "shape": "S10"
                },
                "BusinessSupport": {
                    "shape": "S10"
                },
                "DeveloperSupport": {
                    "shape": "S10"
                }
            }
        },
        "S10": {
            "type": "structure",
            "required": [
                "CostsIncurred",
                "CreditsApplied"
            ],
            "members": {
                "CostsIncurred": {
                    "type": "double"
                },
                "CreditsApplied": {
                    "type": "double"
                }
            }
        },
        "S14": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "ExpiresAt",
                    "Balance",
                    "BalanceAsOfDate",
                    "Name"
                ],
                "members": {
                    "ExpiresAt": {
                        "type": "long"
                    },
                    "Balance": {
                        "type": "double"
                    },
                    "BalanceAsOfDate": {
                        "type": "long"
                    },
                    "Name": {}
                }
            }
        },
        "S17": {
            "type": "structure",
            "required": [
                "City",
                "Country",
                "ChallengesPrimary",
                "CompanyFounded",
                "CompanyName",
                "Employees",
                "Industries",
                "TechTopicInterest",
                "Zip",
                "CustomerType",
                "ProductInteractionType",
                "ProductStage",
                "ProductTechnology"
            ],
            "members": {
                "City": {
                    "type": "string",
                    "sensitive": true
                },
                "Country": {
                    "type": "string",
                    "sensitive": true
                },
                "CurrentRole": {},
                "CreationDate": {
                    "type": "long"
                },
                "Email": {
                    "shape": "Sc"
                },
                "FirstName": {},
                "IsFounder": {
                    "type": "boolean"
                },
                "LastName": {},
                "LastUpdatedAt": {
                    "type": "long"
                },
                "LinkedInProfile": {
                    "type": "string",
                    "sensitive": true
                },
                "Phone": {
                    "shape": "Sj"
                },
                "CoFounders": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "FirstName": {
                                "type": "string",
                                "sensitive": true
                            },
                            "LastName": {
                                "type": "string",
                                "sensitive": true
                            },
                            "Email": {
                                "shape": "Sc"
                            },
                            "Role": {}
                        }
                    }
                },
                "AwsExperience": {},
                "AwsServiceInterest": {
                    "type": "list",
                    "member": {}
                },
                "ChallengesPrimary": {
                    "type": "list",
                    "member": {}
                },
                "CompanyDescription": {},
                "CompanyFounded": {
                    "type": "long"
                },
                "CompanyName": {
                    "type": "string",
                    "sensitive": true
                },
                "Employees": {},
                "HasCoFounder": {
                    "type": "boolean"
                },
                "Industries": {
                    "type": "list",
                    "member": {}
                },
                "Links": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Email": {
                                "shape": "Sc"
                            }
                        }
                    }
                },
                "PublicProfileLink": {},
                "State": {
                    "type": "string",
                    "sensitive": true
                },
                "TechTopicInterest": {
                    "type": "list",
                    "member": {}
                },
                "Url": {},
                "Zip": {
                    "type": "string",
                    "sensitive": true
                },
                "CustomerType": {
                    "type": "list",
                    "member": {}
                },
                "ProductInteractionType": {
                    "type": "list",
                    "member": {}
                },
                "ProductLaunch": {
                    "type": "long"
                },
                "ProductStage": {},
                "ProductTechnology": {},
                "CloudSpendAWS": {},
                "FundingRound": {},
                "FundingValuation": {},
                "MarketingBudget": {},
                "MarketingOptIn": {
                    "type": "long"
                },
                "LinkedSawsId": {}
            }
        },
        "S2b": {
            "type": "structure",
            "members": {
                "AdminControl": {},
                "BackendService": {},
                "BuildingMigrating": {},
                "CloudFamiliarity": {},
                "EventDrivenShortRunning": {},
                "SpecializedHardwareSoftware": {},
                "UseCase": {}
            }
        },
        "S2a": {
            "type": "structure",
            "members": {
                "AdminControl": {},
                "BackendService": {},
                "BuildingMigrating": {},
                "CloudFamiliarity": {},
                "EventDrivenShortRunning": {},
                "SpecializedHardwareSoftware": {},
                "UseCase": {}
            }
        }
    }
}