{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-07-16",
        "endpointPrefix": "activate",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Activate Service",
        "serviceId": "Activate",
        "signatureVersion": "v4",
        "signingName": "activate",
        "targetPrefix": "Activate",
        "uid": "activate-2018-07-16",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4FK3WTP55ZITCCU6TY67D6SMAEHWNBTMJ2JX5R4RAMIJK3TDICDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A6EI6J6SSSZZMFG4RM2PITHSCHLNNWLOQ6GNIVUC2OS62LHIUHPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBVOCFE6FN26KNONAH6F3CUHZXR4MJ2PRVINSQTJQKFOM3ZPZQ2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2HTI7MSM4YCAD77VX56HZ42HQX5BTF22GKHV7M443C6F6DVLBGEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MSCLNKGV5JLNFB5TJXJVMSYKH7KRL4FPMGJCJ7VEYUWVLXDCI2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HYCQATWZ5FNA3F2SAILFNFYLIU2VZT5DHOGPH6Y6E3QBCS5M7V6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IJS5QWUFMLVK65EYTB3O42HI7APRYJWYU6S5K3RCH42XGJ5ATO4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZF34RMBQGN6APCRY647JAI3PXDAV2C7E7O5RYKC7JDBZILH5L32Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G3YL3SXYWLBTBIRMMZOB6SGORRFLGIJEOQAOY2HVU2QP3DHHLHOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKN5P6FUWHP4UMA4PPQDL4RMGDUZV3P7RY33ITQ6MA7XUAIE4X3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57SIGLAVJXSLQ73YRAA7Q76ENQEG2ZLII2UJG3BDROAH4RHCMEEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KT4UENNKQ2N4FHVIWHHOK5LKEO4IC7RVXZTCRSLC626OCCRYIXGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UL7HCJ57NMETTBCWYB3GAYGZY4FTZKXQNW6PB74D5KLKJTG2LZZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZRSLJKVVTTQAZ4ONQ6NQHU5BK6Z5RVFUNIMXVTW7BUG3ND2FYUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CAIRPHMKBREQOZAHLJDEQ23YRSWVLCLTS6HSIY5J25M2ZHRXSHOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js"
        ]
    },
    "operations": {
        "CreateForm": {
            "input": {
                "type": "structure",
                "required": [
                    "Form"
                ],
                "members": {
                    "Form": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Form": {
                        "shape": "S2"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FK3WTP55ZITCCU6TY67D6SMAEHWNBTMJ2JX5R4RAMIJK3TDICDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6EI6J6SSSZZMFG4RM2PITHSCHLNNWLOQ6GNIVUC2OS62LHIUHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBVOCFE6FN26KNONAH6F3CUHZXR4MJ2PRVINSQTJQKFOM3ZPZQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HTI7MSM4YCAD77VX56HZ42HQX5BTF22GKHV7M443C6F6DVLBGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MSCLNKGV5JLNFB5TJXJVMSYKH7KRL4FPMGJCJ7VEYUWVLXDCI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYCQATWZ5FNA3F2SAILFNFYLIU2VZT5DHOGPH6Y6E3QBCS5M7V6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJS5QWUFMLVK65EYTB3O42HI7APRYJWYU6S5K3RCH42XGJ5ATO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF34RMBQGN6APCRY647JAI3PXDAV2C7E7O5RYKC7JDBZILH5L32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YL3SXYWLBTBIRMMZOB6SGORRFLGIJEOQAOY2HVU2QP3DHHLHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKN5P6FUWHP4UMA4PPQDL4RMGDUZV3P7RY33ITQ6MA7XUAIE4X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SIGLAVJXSLQ73YRAA7Q76ENQEG2ZLII2UJG3BDROAH4RHCMEEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT4UENNKQ2N4FHVIWHHOK5LKEO4IC7RVXZTCRSLC626OCCRYIXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL7HCJ57NMETTBCWYB3GAYGZY4FTZKXQNW6PB74D5KLKJTG2LZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZRSLJKVVTTQAZ4ONQ6NQHU5BK6Z5RVFUNIMXVTW7BUG3ND2FYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CAIRPHMKBREQOZAHLJDEQ23YRSWVLCLTS6HSIY5J25M2ZHRXSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js"
            ]
        },
        "GetAccountContact": {
            "output": {
                "type": "structure",
                "members": {
                    "AwsAccountId": {},
                    "AwsAccountEmail": {
                        "shape": "S7"
                    },
                    "City": {},
                    "State": {},
                    "Country": {},
                    "Zip": {},
                    "FirstName": {},
                    "LastName": {},
                    "Email": {
                        "shape": "S7"
                    },
                    "Phone": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FK3WTP55ZITCCU6TY67D6SMAEHWNBTMJ2JX5R4RAMIJK3TDICDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6EI6J6SSSZZMFG4RM2PITHSCHLNNWLOQ6GNIVUC2OS62LHIUHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBVOCFE6FN26KNONAH6F3CUHZXR4MJ2PRVINSQTJQKFOM3ZPZQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HTI7MSM4YCAD77VX56HZ42HQX5BTF22GKHV7M443C6F6DVLBGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MSCLNKGV5JLNFB5TJXJVMSYKH7KRL4FPMGJCJ7VEYUWVLXDCI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYCQATWZ5FNA3F2SAILFNFYLIU2VZT5DHOGPH6Y6E3QBCS5M7V6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJS5QWUFMLVK65EYTB3O42HI7APRYJWYU6S5K3RCH42XGJ5ATO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF34RMBQGN6APCRY647JAI3PXDAV2C7E7O5RYKC7JDBZILH5L32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YL3SXYWLBTBIRMMZOB6SGORRFLGIJEOQAOY2HVU2QP3DHHLHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKN5P6FUWHP4UMA4PPQDL4RMGDUZV3P7RY33ITQ6MA7XUAIE4X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SIGLAVJXSLQ73YRAA7Q76ENQEG2ZLII2UJG3BDROAH4RHCMEEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT4UENNKQ2N4FHVIWHHOK5LKEO4IC7RVXZTCRSLC626OCCRYIXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL7HCJ57NMETTBCWYB3GAYGZY4FTZKXQNW6PB74D5KLKJTG2LZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZRSLJKVVTTQAZ4ONQ6NQHU5BK6Z5RVFUNIMXVTW7BUG3ND2FYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CAIRPHMKBREQOZAHLJDEQ23YRSWVLCLTS6HSIY5J25M2ZHRXSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js"
            ]
        },
        "GetContentInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "Category",
                    "Locale"
                ],
                "members": {
                    "Category": {},
                    "Locale": {},
                    "Metadata": {
                        "type": "structure",
                        "members": {
                            "RecommendationFeedTheme": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Records"
                ],
                "members": {
                    "Records": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "CallToActionUrl",
                                "Description",
                                "Id",
                                "ImageUrl",
                                "Name",
                                "Title"
                            ],
                            "members": {
                                "AwsServicesInvolved": {
                                    "type": "list",
                                    "member": {}
                                },
                                "AuthoringTeam": {},
                                "CallToActionTitle": {},
                                "CallToActionUrl": {},
                                "CreatedDate": {
                                    "type": "long"
                                },
                                "DeploymentType": {},
                                "Description": {},
                                "EstimatedDeploymentTime": {},
                                "Id": {},
                                "ImageUrl": {},
                                "Liked": {
                                    "type": "boolean"
                                },
                                "LikeTotal": {
                                    "type": "long"
                                },
                                "Name": {},
                                "OfferCategories": {
                                    "type": "list",
                                    "member": {}
                                },
                                "OfferPopular": {
                                    "type": "boolean"
                                },
                                "PromoCodeOfferId": {},
                                "RecencyOrder": {
                                    "type": "long"
                                },
                                "RecommendationType": {},
                                "Title": {},
                                "Type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FK3WTP55ZITCCU6TY67D6SMAEHWNBTMJ2JX5R4RAMIJK3TDICDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6EI6J6SSSZZMFG4RM2PITHSCHLNNWLOQ6GNIVUC2OS62LHIUHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBVOCFE6FN26KNONAH6F3CUHZXR4MJ2PRVINSQTJQKFOM3ZPZQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HTI7MSM4YCAD77VX56HZ42HQX5BTF22GKHV7M443C6F6DVLBGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MSCLNKGV5JLNFB5TJXJVMSYKH7KRL4FPMGJCJ7VEYUWVLXDCI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYCQATWZ5FNA3F2SAILFNFYLIU2VZT5DHOGPH6Y6E3QBCS5M7V6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJS5QWUFMLVK65EYTB3O42HI7APRYJWYU6S5K3RCH42XGJ5ATO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF34RMBQGN6APCRY647JAI3PXDAV2C7E7O5RYKC7JDBZILH5L32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YL3SXYWLBTBIRMMZOB6SGORRFLGIJEOQAOY2HVU2QP3DHHLHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKN5P6FUWHP4UMA4PPQDL4RMGDUZV3P7RY33ITQ6MA7XUAIE4X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SIGLAVJXSLQ73YRAA7Q76ENQEG2ZLII2UJG3BDROAH4RHCMEEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT4UENNKQ2N4FHVIWHHOK5LKEO4IC7RVXZTCRSLC626OCCRYIXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL7HCJ57NMETTBCWYB3GAYGZY4FTZKXQNW6PB74D5KLKJTG2LZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZRSLJKVVTTQAZ4ONQ6NQHU5BK6Z5RVFUNIMXVTW7BUG3ND2FYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CAIRPHMKBREQOZAHLJDEQ23YRSWVLCLTS6HSIY5J25M2ZHRXSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js"
            ]
        },
        "GetCosts": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "PreviousMonthToDate",
                    "CurrentMonthToDate",
                    "SinceFirstOfPreviousMonth",
                    "Last30Days"
                ],
                "members": {
                    "PreviousMonthToDate": {
                        "shape": "S26"
                    },
                    "CurrentMonthToDate": {
                        "shape": "S26"
                    },
                    "SinceFirstOfPreviousMonth": {
                        "shape": "S26"
                    },
                    "Last30Days": {
                        "shape": "S26"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FK3WTP55ZITCCU6TY67D6SMAEHWNBTMJ2JX5R4RAMIJK3TDICDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6EI6J6SSSZZMFG4RM2PITHSCHLNNWLOQ6GNIVUC2OS62LHIUHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBVOCFE6FN26KNONAH6F3CUHZXR4MJ2PRVINSQTJQKFOM3ZPZQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HTI7MSM4YCAD77VX56HZ42HQX5BTF22GKHV7M443C6F6DVLBGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MSCLNKGV5JLNFB5TJXJVMSYKH7KRL4FPMGJCJ7VEYUWVLXDCI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYCQATWZ5FNA3F2SAILFNFYLIU2VZT5DHOGPH6Y6E3QBCS5M7V6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJS5QWUFMLVK65EYTB3O42HI7APRYJWYU6S5K3RCH42XGJ5ATO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF34RMBQGN6APCRY647JAI3PXDAV2C7E7O5RYKC7JDBZILH5L32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YL3SXYWLBTBIRMMZOB6SGORRFLGIJEOQAOY2HVU2QP3DHHLHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKN5P6FUWHP4UMA4PPQDL4RMGDUZV3P7RY33ITQ6MA7XUAIE4X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SIGLAVJXSLQ73YRAA7Q76ENQEG2ZLII2UJG3BDROAH4RHCMEEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT4UENNKQ2N4FHVIWHHOK5LKEO4IC7RVXZTCRSLC626OCCRYIXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL7HCJ57NMETTBCWYB3GAYGZY4FTZKXQNW6PB74D5KLKJTG2LZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZRSLJKVVTTQAZ4ONQ6NQHU5BK6Z5RVFUNIMXVTW7BUG3ND2FYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CAIRPHMKBREQOZAHLJDEQ23YRSWVLCLTS6HSIY5J25M2ZHRXSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js"
            ]
        },
        "GetCredits": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "Service",
                    "Support",
                    "BusinessSupport",
                    "DeveloperSupport"
                ],
                "members": {
                    "Service": {
                        "shape": "S2b"
                    },
                    "Support": {
                        "shape": "S2b"
                    },
                    "BusinessSupport": {
                        "shape": "S2b"
                    },
                    "DeveloperSupport": {
                        "shape": "S2b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FK3WTP55ZITCCU6TY67D6SMAEHWNBTMJ2JX5R4RAMIJK3TDICDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6EI6J6SSSZZMFG4RM2PITHSCHLNNWLOQ6GNIVUC2OS62LHIUHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBVOCFE6FN26KNONAH6F3CUHZXR4MJ2PRVINSQTJQKFOM3ZPZQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HTI7MSM4YCAD77VX56HZ42HQX5BTF22GKHV7M443C6F6DVLBGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MSCLNKGV5JLNFB5TJXJVMSYKH7KRL4FPMGJCJ7VEYUWVLXDCI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYCQATWZ5FNA3F2SAILFNFYLIU2VZT5DHOGPH6Y6E3QBCS5M7V6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJS5QWUFMLVK65EYTB3O42HI7APRYJWYU6S5K3RCH42XGJ5ATO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF34RMBQGN6APCRY647JAI3PXDAV2C7E7O5RYKC7JDBZILH5L32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YL3SXYWLBTBIRMMZOB6SGORRFLGIJEOQAOY2HVU2QP3DHHLHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKN5P6FUWHP4UMA4PPQDL4RMGDUZV3P7RY33ITQ6MA7XUAIE4X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SIGLAVJXSLQ73YRAA7Q76ENQEG2ZLII2UJG3BDROAH4RHCMEEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT4UENNKQ2N4FHVIWHHOK5LKEO4IC7RVXZTCRSLC626OCCRYIXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL7HCJ57NMETTBCWYB3GAYGZY4FTZKXQNW6PB74D5KLKJTG2LZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZRSLJKVVTTQAZ4ONQ6NQHU5BK6Z5RVFUNIMXVTW7BUG3ND2FYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CAIRPHMKBREQOZAHLJDEQ23YRSWVLCLTS6HSIY5J25M2ZHRXSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js"
            ]
        },
        "GetMemberInfo": {
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationStatus": {},
                    "ApplicationSubmissionDate": {
                        "type": "long"
                    },
                    "AppData": {
                        "type": "structure",
                        "members": {
                            "ExclusiveOfferMap": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "members": {
                                        "OfferCode": {}
                                    }
                                }
                            }
                        }
                    },
                    "AwsServiceInterest": {
                        "shape": "S9"
                    },
                    "ChallengesOther": {},
                    "ChallengesPrimary": {
                        "shape": "Sc"
                    },
                    "CloudSpendAWS": {},
                    "CompanyDescription": {},
                    "CompanyFounded": {
                        "type": "long"
                    },
                    "CompanyName": {
                        "shape": "Sl"
                    },
                    "CreditHistoryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CreditRemaining": {
                                    "type": "double"
                                },
                                "CreditEndDate": {
                                    "type": "long"
                                },
                                "LastUpdatedTimestamp": {
                                    "type": "long"
                                },
                                "CreditType": {}
                            }
                        }
                    },
                    "CustomerType": {
                        "shape": "Sm"
                    },
                    "Employees": {},
                    "FundingRound": {},
                    "FundingValuation": {},
                    "GuidedExperience": {
                        "shape": "S2t"
                    },
                    "HqCity": {
                        "shape": "Ss"
                    },
                    "HqCountry": {
                        "shape": "S31"
                    },
                    "HqState": {
                        "shape": "Su"
                    },
                    "HqZipCode": {
                        "shape": "Sv"
                    },
                    "Industries": {
                        "shape": "Sw"
                    },
                    "IsFounderApplication": {
                        "type": "boolean"
                    },
                    "LastUpdatedAt": {
                        "type": "long"
                    },
                    "MarketingBudget": {},
                    "MembershipType": {},
                    "OtherProductInteractionType": {},
                    "PartnerFirmName": {},
                    "ProductInteractionType": {
                        "shape": "S15"
                    },
                    "ProductLaunch": {
                        "type": "long"
                    },
                    "ProductStage": {},
                    "ProductTechnology": {},
                    "PublicProfileLink": {},
                    "TechTopicAdditional": {},
                    "TechTopicInterest": {
                        "shape": "S1b"
                    },
                    "Url": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FK3WTP55ZITCCU6TY67D6SMAEHWNBTMJ2JX5R4RAMIJK3TDICDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6EI6J6SSSZZMFG4RM2PITHSCHLNNWLOQ6GNIVUC2OS62LHIUHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBVOCFE6FN26KNONAH6F3CUHZXR4MJ2PRVINSQTJQKFOM3ZPZQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HTI7MSM4YCAD77VX56HZ42HQX5BTF22GKHV7M443C6F6DVLBGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MSCLNKGV5JLNFB5TJXJVMSYKH7KRL4FPMGJCJ7VEYUWVLXDCI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYCQATWZ5FNA3F2SAILFNFYLIU2VZT5DHOGPH6Y6E3QBCS5M7V6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJS5QWUFMLVK65EYTB3O42HI7APRYJWYU6S5K3RCH42XGJ5ATO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF34RMBQGN6APCRY647JAI3PXDAV2C7E7O5RYKC7JDBZILH5L32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YL3SXYWLBTBIRMMZOB6SGORRFLGIJEOQAOY2HVU2QP3DHHLHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKN5P6FUWHP4UMA4PPQDL4RMGDUZV3P7RY33ITQ6MA7XUAIE4X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SIGLAVJXSLQ73YRAA7Q76ENQEG2ZLII2UJG3BDROAH4RHCMEEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT4UENNKQ2N4FHVIWHHOK5LKEO4IC7RVXZTCRSLC626OCCRYIXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL7HCJ57NMETTBCWYB3GAYGZY4FTZKXQNW6PB74D5KLKJTG2LZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZRSLJKVVTTQAZ4ONQ6NQHU5BK6Z5RVFUNIMXVTW7BUG3ND2FYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CAIRPHMKBREQOZAHLJDEQ23YRSWVLCLTS6HSIY5J25M2ZHRXSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js"
            ]
        },
        "GetProgram": {
            "input": {
                "type": "structure",
                "members": {
                    "OrgId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PartnerFirmName": {},
                    "ProgramId": {},
                    "OrgId": {},
                    "CreditOptions": {
                        "type": "list",
                        "member": {
                            "type": "double"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FK3WTP55ZITCCU6TY67D6SMAEHWNBTMJ2JX5R4RAMIJK3TDICDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6EI6J6SSSZZMFG4RM2PITHSCHLNNWLOQ6GNIVUC2OS62LHIUHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBVOCFE6FN26KNONAH6F3CUHZXR4MJ2PRVINSQTJQKFOM3ZPZQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HTI7MSM4YCAD77VX56HZ42HQX5BTF22GKHV7M443C6F6DVLBGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MSCLNKGV5JLNFB5TJXJVMSYKH7KRL4FPMGJCJ7VEYUWVLXDCI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYCQATWZ5FNA3F2SAILFNFYLIU2VZT5DHOGPH6Y6E3QBCS5M7V6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJS5QWUFMLVK65EYTB3O42HI7APRYJWYU6S5K3RCH42XGJ5ATO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF34RMBQGN6APCRY647JAI3PXDAV2C7E7O5RYKC7JDBZILH5L32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YL3SXYWLBTBIRMMZOB6SGORRFLGIJEOQAOY2HVU2QP3DHHLHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKN5P6FUWHP4UMA4PPQDL4RMGDUZV3P7RY33ITQ6MA7XUAIE4X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SIGLAVJXSLQ73YRAA7Q76ENQEG2ZLII2UJG3BDROAH4RHCMEEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT4UENNKQ2N4FHVIWHHOK5LKEO4IC7RVXZTCRSLC626OCCRYIXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL7HCJ57NMETTBCWYB3GAYGZY4FTZKXQNW6PB74D5KLKJTG2LZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZRSLJKVVTTQAZ4ONQ6NQHU5BK6Z5RVFUNIMXVTW7BUG3ND2FYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CAIRPHMKBREQOZAHLJDEQ23YRSWVLCLTS6HSIY5J25M2ZHRXSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js"
            ]
        },
        "GetTrustedAdvisorInfo": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "checks"
                ],
                "members": {
                    "checks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "checkId",
                                "name",
                                "status",
                                "timestamp",
                                "resourcesSummary"
                            ],
                            "members": {
                                "checkId": {},
                                "name": {},
                                "status": {},
                                "timestamp": {},
                                "category": {},
                                "resourcesSummary": {
                                    "type": "structure",
                                    "required": [
                                        "resourcesFlagged",
                                        "resourcesProcessed"
                                    ],
                                    "members": {
                                        "resourcesFlagged": {
                                            "type": "long"
                                        },
                                        "resourcesProcessed": {
                                            "type": "long"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "taChecksTotalCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FK3WTP55ZITCCU6TY67D6SMAEHWNBTMJ2JX5R4RAMIJK3TDICDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6EI6J6SSSZZMFG4RM2PITHSCHLNNWLOQ6GNIVUC2OS62LHIUHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBVOCFE6FN26KNONAH6F3CUHZXR4MJ2PRVINSQTJQKFOM3ZPZQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HTI7MSM4YCAD77VX56HZ42HQX5BTF22GKHV7M443C6F6DVLBGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MSCLNKGV5JLNFB5TJXJVMSYKH7KRL4FPMGJCJ7VEYUWVLXDCI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYCQATWZ5FNA3F2SAILFNFYLIU2VZT5DHOGPH6Y6E3QBCS5M7V6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJS5QWUFMLVK65EYTB3O42HI7APRYJWYU6S5K3RCH42XGJ5ATO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF34RMBQGN6APCRY647JAI3PXDAV2C7E7O5RYKC7JDBZILH5L32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YL3SXYWLBTBIRMMZOB6SGORRFLGIJEOQAOY2HVU2QP3DHHLHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKN5P6FUWHP4UMA4PPQDL4RMGDUZV3P7RY33ITQ6MA7XUAIE4X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SIGLAVJXSLQ73YRAA7Q76ENQEG2ZLII2UJG3BDROAH4RHCMEEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT4UENNKQ2N4FHVIWHHOK5LKEO4IC7RVXZTCRSLC626OCCRYIXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL7HCJ57NMETTBCWYB3GAYGZY4FTZKXQNW6PB74D5KLKJTG2LZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZRSLJKVVTTQAZ4ONQ6NQHU5BK6Z5RVFUNIMXVTW7BUG3ND2FYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CAIRPHMKBREQOZAHLJDEQ23YRSWVLCLTS6HSIY5J25M2ZHRXSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js"
            ]
        },
        "PutCustomerContentInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "ContentId",
                    "Action"
                ],
                "members": {
                    "ContentId": {},
                    "Action": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ContentId"
                ],
                "members": {
                    "ContentId": {},
                    "LikeTotal": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FK3WTP55ZITCCU6TY67D6SMAEHWNBTMJ2JX5R4RAMIJK3TDICDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6EI6J6SSSZZMFG4RM2PITHSCHLNNWLOQ6GNIVUC2OS62LHIUHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBVOCFE6FN26KNONAH6F3CUHZXR4MJ2PRVINSQTJQKFOM3ZPZQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HTI7MSM4YCAD77VX56HZ42HQX5BTF22GKHV7M443C6F6DVLBGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MSCLNKGV5JLNFB5TJXJVMSYKH7KRL4FPMGJCJ7VEYUWVLXDCI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYCQATWZ5FNA3F2SAILFNFYLIU2VZT5DHOGPH6Y6E3QBCS5M7V6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJS5QWUFMLVK65EYTB3O42HI7APRYJWYU6S5K3RCH42XGJ5ATO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF34RMBQGN6APCRY647JAI3PXDAV2C7E7O5RYKC7JDBZILH5L32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YL3SXYWLBTBIRMMZOB6SGORRFLGIJEOQAOY2HVU2QP3DHHLHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKN5P6FUWHP4UMA4PPQDL4RMGDUZV3P7RY33ITQ6MA7XUAIE4X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SIGLAVJXSLQ73YRAA7Q76ENQEG2ZLII2UJG3BDROAH4RHCMEEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT4UENNKQ2N4FHVIWHHOK5LKEO4IC7RVXZTCRSLC626OCCRYIXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL7HCJ57NMETTBCWYB3GAYGZY4FTZKXQNW6PB74D5KLKJTG2LZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZRSLJKVVTTQAZ4ONQ6NQHU5BK6Z5RVFUNIMXVTW7BUG3ND2FYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CAIRPHMKBREQOZAHLJDEQ23YRSWVLCLTS6HSIY5J25M2ZHRXSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js"
            ]
        },
        "PutMemberInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "ChallengesPrimary",
                    "CloudSpendAWS",
                    "CompanyDescription",
                    "CompanyFounded",
                    "CompanyName",
                    "CustomerType",
                    "Employees",
                    "HqCity",
                    "HqCountry",
                    "HqZipCode",
                    "Industries",
                    "ProductInteractionType",
                    "ProductLaunch",
                    "ProductStage",
                    "ProductTechnology",
                    "TechTopicInterest"
                ],
                "members": {
                    "AwsServiceInterest": {
                        "shape": "S9"
                    },
                    "ChallengesOther": {},
                    "ChallengesPrimary": {
                        "shape": "Sc"
                    },
                    "CloudSpendAWS": {},
                    "CompanyDescription": {},
                    "CompanyFounded": {
                        "type": "long"
                    },
                    "CompanyName": {
                        "shape": "Sl"
                    },
                    "CustomerType": {
                        "shape": "Sm"
                    },
                    "Employees": {},
                    "FundingRound": {},
                    "FundingValuation": {},
                    "GuidedExperience": {
                        "shape": "S2t"
                    },
                    "HqCity": {
                        "shape": "Ss"
                    },
                    "HqCountry": {
                        "shape": "S31"
                    },
                    "HqState": {
                        "shape": "Su"
                    },
                    "HqZipCode": {
                        "shape": "Sv"
                    },
                    "Industries": {
                        "shape": "Sw"
                    },
                    "MarketingBudget": {},
                    "OtherProductInteractionType": {},
                    "ProductInteractionType": {
                        "shape": "S15"
                    },
                    "ProductLaunch": {
                        "type": "long"
                    },
                    "ProductStage": {},
                    "ProductTechnology": {},
                    "PublicProfileLink": {},
                    "TechTopicAdditional": {},
                    "TechTopicInterest": {
                        "shape": "S1b"
                    },
                    "Url": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FK3WTP55ZITCCU6TY67D6SMAEHWNBTMJ2JX5R4RAMIJK3TDICDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6EI6J6SSSZZMFG4RM2PITHSCHLNNWLOQ6GNIVUC2OS62LHIUHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBVOCFE6FN26KNONAH6F3CUHZXR4MJ2PRVINSQTJQKFOM3ZPZQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HTI7MSM4YCAD77VX56HZ42HQX5BTF22GKHV7M443C6F6DVLBGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MSCLNKGV5JLNFB5TJXJVMSYKH7KRL4FPMGJCJ7VEYUWVLXDCI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYCQATWZ5FNA3F2SAILFNFYLIU2VZT5DHOGPH6Y6E3QBCS5M7V6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJS5QWUFMLVK65EYTB3O42HI7APRYJWYU6S5K3RCH42XGJ5ATO4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF34RMBQGN6APCRY647JAI3PXDAV2C7E7O5RYKC7JDBZILH5L32Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3YL3SXYWLBTBIRMMZOB6SGORRFLGIJEOQAOY2HVU2QP3DHHLHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKN5P6FUWHP4UMA4PPQDL4RMGDUZV3P7RY33ITQ6MA7XUAIE4X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SIGLAVJXSLQ73YRAA7Q76ENQEG2ZLII2UJG3BDROAH4RHCMEEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT4UENNKQ2N4FHVIWHHOK5LKEO4IC7RVXZTCRSLC626OCCRYIXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UL7HCJ57NMETTBCWYB3GAYGZY4FTZKXQNW6PB74D5KLKJTG2LZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ORLX3P56KD7XNGYCME4UWOH6GTYEBOZHYR6HF45456NUKF6LV7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN3P66WUSOWKGFYT5LMSMXIA3N6LETQWBN3KNGJSZJ3U3JDGT36Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZRSLJKVVTTQAZ4ONQ6NQHU5BK6Z5RVFUNIMXVTW7BUG3ND2FYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CAIRPHMKBREQOZAHLJDEQ23YRSWVLCLTS6HSIY5J25M2ZHRXSHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJVPPA4WND7HRBNMTX6FWA6SZKCYGYM2AZKIGRWWYD5GZTGMQBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "members": {
                "Metadata": {
                    "type": "structure",
                    "members": {
                        "Type": {}
                    }
                },
                "IntakeForm": {
                    "type": "structure",
                    "required": [
                        "ActivateCreditSelection",
                        "AwsExperience",
                        "ChallengesPrimary",
                        "CloudSpendAWS",
                        "CompanyDescription",
                        "CompanyFounded",
                        "CompanyName",
                        "CustomerType",
                        "CurrentRole",
                        "Email",
                        "Employees",
                        "FirstName",
                        "Founder",
                        "FundingRound",
                        "HqCity",
                        "HqCountry",
                        "HqZipCode",
                        "Industries",
                        "LastName",
                        "OrgId",
                        "Phone",
                        "ProgramId",
                        "ProductInteractionType",
                        "ProductLaunch",
                        "ProductStage",
                        "ProductTechnology",
                        "TechTopicInterest"
                    ],
                    "members": {
                        "ActivateCreditSelection": {},
                        "AwsAccountEmail": {
                            "shape": "S7"
                        },
                        "AwsExperience": {},
                        "AwsServiceInterest": {
                            "shape": "S9"
                        },
                        "ChallengesOther": {},
                        "ChallengesPrimary": {
                            "shape": "Sc"
                        },
                        "CloudSpendAWS": {},
                        "CoFounder": {
                            "type": "boolean"
                        },
                        "CoFounder1FirstName": {
                            "shape": "Sg"
                        },
                        "CoFounder1Email": {
                            "shape": "S7"
                        },
                        "CoFounder1LastName": {
                            "shape": "Sh"
                        },
                        "CoFounder1Role": {},
                        "CoFounder2FirstName": {
                            "shape": "Sg"
                        },
                        "CoFounder2Email": {
                            "shape": "S7"
                        },
                        "CoFounder2LastName": {
                            "shape": "Sh"
                        },
                        "CoFounder2Role": {},
                        "CoFounder3FirstName": {
                            "shape": "Sg"
                        },
                        "CoFounder3Email": {
                            "shape": "S7"
                        },
                        "CoFounder3LastName": {
                            "shape": "Sh"
                        },
                        "CoFounder3Role": {},
                        "CompanyDescription": {},
                        "CompanyFounded": {
                            "type": "long"
                        },
                        "CompanyName": {
                            "shape": "Sl"
                        },
                        "CustomerType": {
                            "shape": "Sm"
                        },
                        "CurrentRole": {},
                        "Email": {
                            "shape": "S7"
                        },
                        "Employees": {},
                        "FirstName": {},
                        "Founder": {
                            "type": "boolean"
                        },
                        "FundingRound": {},
                        "FundingValuation": {},
                        "HqCity": {
                            "shape": "Ss"
                        },
                        "HqCountry": {
                            "shape": "St"
                        },
                        "HqState": {
                            "shape": "Su"
                        },
                        "HqZipCode": {
                            "shape": "Sv"
                        },
                        "Industries": {
                            "shape": "Sw"
                        },
                        "LastName": {},
                        "LinkedInProfile": {
                            "shape": "Sz"
                        },
                        "MarketingBudget": {},
                        "OrgId": {},
                        "OtherProductInteractionType": {},
                        "Phone": {
                            "shape": "S13"
                        },
                        "ProgramId": {},
                        "ProductInteractionType": {
                            "shape": "S15"
                        },
                        "ProductLaunch": {
                            "type": "long"
                        },
                        "ProductStage": {},
                        "ProductTechnology": {},
                        "PublicProfileLink": {},
                        "TechTopicAdditional": {},
                        "TechTopicInterest": {
                            "shape": "S1b"
                        },
                        "Url": {}
                    }
                },
                "FoundersForm": {
                    "type": "structure",
                    "required": [
                        "AwsExperience",
                        "CloudSpendAWS",
                        "ChallengesPrimary",
                        "CompanyDescription",
                        "CompanyName",
                        "CompanyFounded",
                        "CurrentRole",
                        "CustomerType",
                        "Email",
                        "Employees",
                        "FirstName",
                        "Founder",
                        "HqCity",
                        "HqCountry",
                        "HqZipCode",
                        "Industries",
                        "LastName",
                        "OrgId",
                        "Phone",
                        "ProductInteractionType",
                        "ProductLaunch",
                        "ProductStage",
                        "ProductTechnology",
                        "ProgramId",
                        "TechTopicInterest"
                    ],
                    "members": {
                        "ActivateCreditSelection": {},
                        "AwsAccountEmail": {
                            "shape": "S7"
                        },
                        "AwsExperience": {},
                        "AwsServiceInterest": {
                            "shape": "S9"
                        },
                        "CloudSpendAWS": {},
                        "ChallengesOther": {},
                        "ChallengesPrimary": {
                            "shape": "Sc"
                        },
                        "CoFounder": {
                            "type": "boolean"
                        },
                        "CoFounder1Email": {
                            "shape": "S7"
                        },
                        "CoFounder1FirstName": {
                            "shape": "Sg"
                        },
                        "CoFounder1LastName": {
                            "shape": "Sh"
                        },
                        "CoFounder1Role": {},
                        "CoFounder2Email": {
                            "shape": "S7"
                        },
                        "CoFounder2FirstName": {
                            "shape": "Sg"
                        },
                        "CoFounder2LastName": {
                            "shape": "Sh"
                        },
                        "CoFounder2Role": {},
                        "CoFounder3Email": {
                            "shape": "S7"
                        },
                        "CoFounder3FirstName": {
                            "shape": "Sg"
                        },
                        "CoFounder3LastName": {
                            "shape": "Sh"
                        },
                        "CoFounder3Role": {},
                        "CompanyDescription": {},
                        "CompanyName": {
                            "shape": "Sl"
                        },
                        "CompanyFounded": {
                            "type": "long"
                        },
                        "CurrentRole": {},
                        "CustomerType": {
                            "shape": "Sm"
                        },
                        "Email": {
                            "shape": "S7"
                        },
                        "Employees": {},
                        "FirstName": {},
                        "Founder": {
                            "type": "boolean"
                        },
                        "FundingRound": {},
                        "FundingValuation": {},
                        "HqCity": {
                            "shape": "Ss"
                        },
                        "HqCountry": {
                            "shape": "St"
                        },
                        "HqState": {
                            "shape": "Su"
                        },
                        "HqZipCode": {
                            "shape": "Sv"
                        },
                        "Industries": {
                            "shape": "Sw"
                        },
                        "LastName": {},
                        "LinkedInProfile": {
                            "shape": "Sz"
                        },
                        "MarketingBudget": {},
                        "OrgId": {},
                        "OtherProductInteractionType": {},
                        "Phone": {
                            "shape": "S13"
                        },
                        "ProductInteractionType": {
                            "shape": "S15"
                        },
                        "ProductLaunch": {
                            "type": "long"
                        },
                        "ProductStage": {},
                        "ProductTechnology": {},
                        "ProgramId": {},
                        "PublicProfileLink": {},
                        "TechTopicAdditional": {},
                        "TechTopicInterest": {
                            "shape": "S1b"
                        },
                        "Url": {}
                    }
                }
            }
        },
        "S7": {
            "type": "string",
            "sensitive": true
        },
        "S9": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "list",
            "member": {}
        },
        "Sg": {
            "type": "string",
            "sensitive": true
        },
        "Sh": {
            "type": "string",
            "sensitive": true
        },
        "Sl": {
            "type": "string",
            "sensitive": true
        },
        "Sm": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "string",
            "sensitive": true
        },
        "St": {
            "type": "string",
            "sensitive": true
        },
        "Su": {
            "type": "string",
            "sensitive": true
        },
        "Sv": {
            "type": "string",
            "sensitive": true
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "Sz": {
            "type": "string",
            "sensitive": true
        },
        "S13": {
            "type": "string",
            "sensitive": true
        },
        "S15": {
            "type": "list",
            "member": {}
        },
        "S1b": {
            "type": "list",
            "member": {}
        },
        "S26": {
            "type": "structure",
            "required": [
                "Service",
                "Support",
                "BusinessSupport",
                "DeveloperSupport"
            ],
            "members": {
                "Service": {
                    "shape": "S27"
                },
                "Support": {
                    "shape": "S27"
                },
                "BusinessSupport": {
                    "shape": "S27"
                },
                "DeveloperSupport": {
                    "shape": "S27"
                }
            }
        },
        "S27": {
            "type": "structure",
            "required": [
                "CostsIncurred",
                "CreditsApplied"
            ],
            "members": {
                "CostsIncurred": {
                    "type": "bigdecimal"
                },
                "CreditsApplied": {
                    "type": "bigdecimal"
                }
            }
        },
        "S2b": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "ExpiresAt",
                    "Balance",
                    "BalanceAsOfDate",
                    "Name"
                ],
                "members": {
                    "ExpiresAt": {
                        "type": "long"
                    },
                    "Balance": {
                        "type": "bigdecimal"
                    },
                    "BalanceAsOfDate": {
                        "type": "long"
                    },
                    "Name": {}
                }
            }
        },
        "S2t": {
            "type": "structure",
            "members": {
                "AdminControl": {},
                "BackendService": {},
                "BuildingMigrating": {},
                "CloudFamiliarity": {},
                "EventDrivenShortRunning": {},
                "SpecializedHardwareSoftware": {},
                "UseCase": {}
            }
        },
        "S31": {
            "type": "string",
            "sensitive": true
        }
    }
}