{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-04-28",
        "endpointPrefix": "adm",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Application Dependency Mapping",
        "serviceId": "ADM",
        "signatureVersion": "v4",
        "signingName": "discovery",
        "targetPrefix": "AWSADMAPIService",
        "uid": "adm-2020-04-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
        ]
    },
    "operations": {
        "BatchGetNodes": {
            "input": {
                "type": "structure",
                "required": [
                    "Account",
                    "GraphBatchGet"
                ],
                "members": {
                    "Account": {},
                    "GraphBatchGet": {
                        "type": "structure",
                        "members": {
                            "BatchGetByNodeId": {
                                "type": "structure",
                                "required": [
                                    "NodeIds"
                                ],
                                "members": {
                                    "NodeIds": {
                                        "shape": "S5"
                                    }
                                }
                            },
                            "BatchGetByServerId": {
                                "type": "structure",
                                "required": [
                                    "ServerIds"
                                ],
                                "members": {
                                    "ServerIds": {
                                        "shape": "S8"
                                    },
                                    "IncludeApplicationNames": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Nodes": {
                        "shape": "Se"
                    },
                    "Edges": {
                        "shape": "Sr"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "CreateAgentServer": {
            "input": {
                "type": "structure",
                "required": [
                    "Account",
                    "ServerId",
                    "AgentId",
                    "Hostname"
                ],
                "members": {
                    "Account": {},
                    "ServerId": {},
                    "AgentId": {},
                    "Hostname": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "DeleteAccountData": {
            "input": {
                "type": "structure",
                "required": [
                    "Account"
                ],
                "members": {
                    "Account": {},
                    "DeleteResource": {
                        "type": "structure",
                        "members": {
                            "ByServerIds": {
                                "type": "structure",
                                "required": [
                                    "ServerIds"
                                ],
                                "members": {
                                    "ServerIds": {
                                        "shape": "S8"
                                    }
                                }
                            },
                            "ByAppIds": {
                                "type": "structure",
                                "required": [
                                    "ApplicationIds"
                                ],
                                "members": {
                                    "ApplicationIds": {
                                        "shape": "S12"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "GetAccountLastActiveTime": {
            "input": {
                "type": "structure",
                "required": [
                    "Account"
                ],
                "members": {
                    "Account": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LastActiveTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "GetNetworkConnectionGraph": {
            "input": {
                "type": "structure",
                "required": [
                    "Resources"
                ],
                "members": {
                    "Resources": {
                        "type": "structure",
                        "members": {
                            "GetByIpAddresses": {
                                "type": "structure",
                                "required": [
                                    "IpAddresses"
                                ],
                                "members": {
                                    "IpAddresses": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "ExcludeApplicationNames": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "GetByServerIds": {
                                "type": "structure",
                                "required": [
                                    "ServerIds"
                                ],
                                "members": {
                                    "ServerIds": {
                                        "shape": "S8"
                                    },
                                    "ExcludeApplicationNames": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "GetByNodeIds": {
                                "type": "structure",
                                "required": [
                                    "NodeIds"
                                ],
                                "members": {
                                    "NodeIds": {
                                        "shape": "S5"
                                    }
                                }
                            },
                            "GetByApplicationIds": {
                                "type": "structure",
                                "required": [
                                    "ApplicationIds"
                                ],
                                "members": {
                                    "ApplicationIds": {
                                        "shape": "S12"
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Nodes": {
                        "shape": "Se"
                    },
                    "Edges": {
                        "shape": "Sr"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "HeapDump": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "HeapDumpURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "Isolate": {
            "input": {
                "type": "structure",
                "required": [
                    "Ip"
                ],
                "members": {
                    "Ip": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HeapDumpURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "ListAccountEdges": {
            "input": {
                "type": "structure",
                "required": [
                    "Account"
                ],
                "members": {
                    "Account": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Edges": {
                        "shape": "Sr"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "ListAccountResources": {
            "input": {
                "type": "structure",
                "required": [
                    "Account"
                ],
                "members": {
                    "Account": {},
                    "QueryServerNodes": {
                        "type": "boolean"
                    },
                    "QueryApplicationNodes": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Nodes": {
                        "shape": "Se"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "ListNetworkConnections": {
            "input": {
                "type": "structure",
                "required": [
                    "Account"
                ],
                "members": {
                    "Account": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Mode": {},
                                "Value": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Edges": {
                        "shape": "Sr"
                    },
                    "Nodes": {
                        "shape": "Se"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "ListPortMappings": {
            "input": {
                "type": "structure",
                "required": [
                    "Account"
                ],
                "members": {
                    "Account": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "PortMappings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Port": {
                                    "type": "integer"
                                },
                                "PortLabel": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "PutPortMapping": {
            "input": {
                "type": "structure",
                "required": [
                    "Account",
                    "Port",
                    "PortLabel"
                ],
                "members": {
                    "Account": {},
                    "Port": {
                        "type": "integer"
                    },
                    "PortLabel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "QueryGraph": {
            "input": {
                "type": "structure",
                "required": [
                    "Account",
                    "GraphQuery"
                ],
                "members": {
                    "Account": {},
                    "GraphQuery": {
                        "type": "structure",
                        "members": {
                            "ByIpAddress": {
                                "type": "structure",
                                "required": [
                                    "Ip"
                                ],
                                "members": {
                                    "Ip": {},
                                    "ExcludedPorts": {
                                        "shape": "S2m"
                                    },
                                    "IncludeNodesWithoutAgent": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "ByServerId": {
                                "type": "structure",
                                "required": [
                                    "ServerId"
                                ],
                                "members": {
                                    "ServerId": {},
                                    "AfterLastUpdatedDate": {
                                        "type": "timestamp"
                                    },
                                    "ExcludedPorts": {
                                        "shape": "S2m"
                                    },
                                    "IncludeNodesWithoutAgent": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "ByAppId": {
                                "type": "structure",
                                "required": [
                                    "ApplicationId"
                                ],
                                "members": {
                                    "ApplicationId": {}
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Nodes": {
                        "shape": "Se"
                    },
                    "Edges": {
                        "shape": "Sr"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "SyncAgentData": {
            "input": {
                "type": "structure",
                "required": [
                    "Account",
                    "AgentDataBucketName",
                    "StartDate",
                    "EndDate"
                ],
                "members": {
                    "Account": {},
                    "AgentDataBucketName": {},
                    "AgentIds": {
                        "shape": "S2w"
                    },
                    "StartDate": {},
                    "EndDate": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InvalidAgentIds": {
                        "shape": "S2w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "list",
            "member": {}
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Se": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Id": {},
                    "Label": {},
                    "Attributes": {
                        "shape": "Sh"
                    }
                }
            }
        },
        "Sh": {
            "type": "map",
            "key": {},
            "value": {
                "shape": "Sj"
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "S": {},
                "SS": {
                    "type": "list",
                    "member": {}
                },
                "I": {
                    "type": "integer"
                },
                "IS": {
                    "type": "list",
                    "member": {
                        "type": "integer"
                    }
                },
                "L": {
                    "type": "list",
                    "member": {
                        "shape": "Sj"
                    }
                },
                "M": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "shape": "Sj"
                    }
                }
            }
        },
        "Sr": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Source": {},
                    "Target": {},
                    "Label": {},
                    "Attributes": {
                        "shape": "Sh"
                    }
                }
            }
        },
        "S12": {
            "type": "list",
            "member": {}
        },
        "S2m": {
            "type": "list",
            "member": {
                "type": "integer"
            }
        },
        "S2w": {
            "type": "list",
            "member": {}
        }
    }
}