{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-04-28",
        "endpointPrefix": "adm",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Application Dependency Mapping",
        "serviceId": "ADM",
        "signatureVersion": "v4",
        "signingName": "discovery",
        "targetPrefix": "AWSADMAPIService",
        "uid": "adm-2020-04-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
        ]
    },
    "operations": {
        "BatchGetNodes": {
            "input": {
                "type": "structure",
                "required": [
                    "Account",
                    "GraphBatchGet"
                ],
                "members": {
                    "Account": {},
                    "GraphBatchGet": {
                        "type": "structure",
                        "members": {
                            "BatchGetByNodeId": {
                                "type": "structure",
                                "required": [
                                    "NodeIds"
                                ],
                                "members": {
                                    "NodeIds": {
                                        "shape": "S5"
                                    }
                                }
                            },
                            "BatchGetByServerId": {
                                "type": "structure",
                                "required": [
                                    "ServerIds"
                                ],
                                "members": {
                                    "ServerIds": {
                                        "shape": "S8"
                                    },
                                    "IncludeApplicationNames": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Nodes": {
                        "shape": "Se"
                    },
                    "Edges": {
                        "shape": "Sr"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "CreateAgentServer": {
            "input": {
                "type": "structure",
                "required": [
                    "Account",
                    "ServerId",
                    "AgentId",
                    "Hostname"
                ],
                "members": {
                    "Account": {},
                    "ServerId": {},
                    "AgentId": {},
                    "Hostname": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "DeleteAccountData": {
            "input": {
                "type": "structure",
                "required": [
                    "Account"
                ],
                "members": {
                    "Account": {},
                    "DeleteResource": {
                        "type": "structure",
                        "members": {
                            "ByServerIds": {
                                "type": "structure",
                                "required": [
                                    "ServerIds"
                                ],
                                "members": {
                                    "ServerIds": {
                                        "shape": "S8"
                                    }
                                }
                            },
                            "ByAppIds": {
                                "type": "structure",
                                "required": [
                                    "ApplicationIds"
                                ],
                                "members": {
                                    "ApplicationIds": {
                                        "shape": "S12"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "GetAccountLastActiveTime": {
            "input": {
                "type": "structure",
                "required": [
                    "Account"
                ],
                "members": {
                    "Account": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LastActiveTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "GetNetworkConnectionGraph": {
            "input": {
                "type": "structure",
                "required": [
                    "Resources"
                ],
                "members": {
                    "Resources": {
                        "type": "structure",
                        "members": {
                            "GetByIpAddresses": {
                                "type": "structure",
                                "required": [
                                    "IpAddresses"
                                ],
                                "members": {
                                    "IpAddresses": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "ExcludeApplicationNames": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "GetByServerIds": {
                                "type": "structure",
                                "required": [
                                    "ServerIds"
                                ],
                                "members": {
                                    "ServerIds": {
                                        "shape": "S8"
                                    },
                                    "ExcludeApplicationNames": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "GetByNodeIds": {
                                "type": "structure",
                                "required": [
                                    "NodeIds"
                                ],
                                "members": {
                                    "NodeIds": {
                                        "shape": "S5"
                                    }
                                }
                            },
                            "GetByApplicationIds": {
                                "type": "structure",
                                "required": [
                                    "ApplicationIds"
                                ],
                                "members": {
                                    "ApplicationIds": {
                                        "shape": "S12"
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Nodes": {
                        "shape": "Se"
                    },
                    "Edges": {
                        "shape": "Sr"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "HeapDump": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "HeapDumpURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "Isolate": {
            "input": {
                "type": "structure",
                "required": [
                    "Ip"
                ],
                "members": {
                    "Ip": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HeapDumpURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "ListAccountEdges": {
            "input": {
                "type": "structure",
                "required": [
                    "Account"
                ],
                "members": {
                    "Account": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Edges": {
                        "shape": "Sr"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "ListAccountResources": {
            "input": {
                "type": "structure",
                "required": [
                    "Account"
                ],
                "members": {
                    "Account": {},
                    "QueryServerNodes": {
                        "type": "boolean"
                    },
                    "QueryApplicationNodes": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Nodes": {
                        "shape": "Se"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "ListNetworkConnections": {
            "input": {
                "type": "structure",
                "required": [
                    "Account"
                ],
                "members": {
                    "Account": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Mode": {},
                                "Value": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Edges": {
                        "shape": "Sr"
                    },
                    "Nodes": {
                        "shape": "Se"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "ListPortMappings": {
            "input": {
                "type": "structure",
                "required": [
                    "Account"
                ],
                "members": {
                    "Account": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "PortMappings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Port": {
                                    "type": "integer"
                                },
                                "PortLabel": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "PutPortMapping": {
            "input": {
                "type": "structure",
                "required": [
                    "Account",
                    "Port",
                    "PortLabel"
                ],
                "members": {
                    "Account": {},
                    "Port": {
                        "type": "integer"
                    },
                    "PortLabel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "QueryGraph": {
            "input": {
                "type": "structure",
                "required": [
                    "Account",
                    "GraphQuery"
                ],
                "members": {
                    "Account": {},
                    "GraphQuery": {
                        "type": "structure",
                        "members": {
                            "ByIpAddress": {
                                "type": "structure",
                                "required": [
                                    "Ip"
                                ],
                                "members": {
                                    "Ip": {},
                                    "ExcludedPorts": {
                                        "shape": "S2m"
                                    },
                                    "IncludeNodesWithoutAgent": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "ByServerId": {
                                "type": "structure",
                                "required": [
                                    "ServerId"
                                ],
                                "members": {
                                    "ServerId": {},
                                    "AfterLastUpdatedDate": {
                                        "type": "timestamp"
                                    },
                                    "ExcludedPorts": {
                                        "shape": "S2m"
                                    },
                                    "IncludeNodesWithoutAgent": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "ByAppId": {
                                "type": "structure",
                                "required": [
                                    "ApplicationId"
                                ],
                                "members": {
                                    "ApplicationId": {}
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Nodes": {
                        "shape": "Se"
                    },
                    "Edges": {
                        "shape": "Sr"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "SyncAgentData": {
            "input": {
                "type": "structure",
                "required": [
                    "Account",
                    "AgentDataBucketName",
                    "StartDate",
                    "EndDate"
                ],
                "members": {
                    "Account": {},
                    "AgentDataBucketName": {},
                    "AgentIds": {
                        "shape": "S2w"
                    },
                    "StartDate": {},
                    "EndDate": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InvalidAgentIds": {
                        "shape": "S2w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "list",
            "member": {}
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Se": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Id": {},
                    "Label": {},
                    "Attributes": {
                        "shape": "Sh"
                    }
                }
            }
        },
        "Sh": {
            "type": "map",
            "key": {},
            "value": {
                "shape": "Sj"
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "S": {},
                "SS": {
                    "type": "list",
                    "member": {}
                },
                "I": {
                    "type": "integer"
                },
                "IS": {
                    "type": "list",
                    "member": {
                        "type": "integer"
                    }
                },
                "L": {
                    "type": "list",
                    "member": {
                        "shape": "Sj"
                    }
                },
                "M": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "shape": "Sj"
                    }
                }
            }
        },
        "Sr": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Source": {},
                    "Target": {},
                    "Label": {},
                    "Attributes": {
                        "shape": "Sh"
                    }
                }
            }
        },
        "S12": {
            "type": "list",
            "member": {}
        },
        "S2m": {
            "type": "list",
            "member": {
                "type": "integer"
            }
        },
        "S2w": {
            "type": "list",
            "member": {}
        }
    }
}