{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-01",
        "endpointPrefix": "aesopcontentservicelambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AESOPContentServiceLambda",
        "serviceFullName": "AESOPContentServiceLambda",
        "serviceId": "AESOPContentServiceLambda",
        "signatureVersion": "v4",
        "signingName": "elemental-support-content",
        "uid": "aesopcontentservicelambda-2017-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBV34N3LKTOBMTEP722XOSEMYXIPZFFHUGYAIEP3VXJ4FIV7Y7UQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
        ]
    },
    "operations": {
        "DeleteKnowledge": {
            "name": "DeleteKnowledge",
            "http": {
                "method": "DELETE",
                "requestUri": "/knowledge/{urlname}"
            },
            "input": {
                "shape": "DeleteKnowledgeRequest"
            },
            "output": {
                "shape": "DeleteKnowledgeResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "GetAccessToken": {
            "name": "GetAccessToken",
            "http": {
                "method": "GET",
                "requestUri": "/access_token"
            },
            "output": {
                "shape": "AccessToken"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "GetKnowledge": {
            "name": "GetKnowledge",
            "http": {
                "method": "GET",
                "requestUri": "/knowledge"
            },
            "output": {
                "shape": "GetKnowledgeResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "GetSamlResponse": {
            "name": "GetSamlResponse",
            "http": {
                "method": "GET",
                "requestUri": "/saml_response"
            },
            "output": {
                "shape": "SamlResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "PostKnowledge": {
            "name": "PostKnowledge",
            "http": {
                "method": "POST",
                "requestUri": "/knowledge"
            },
            "input": {
                "shape": "PostKnowledgeRequest"
            },
            "output": {
                "shape": "PostKnowledgeResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "Query": {
            "name": "Query",
            "http": {
                "method": "POST",
                "requestUri": "/query"
            },
            "input": {
                "shape": "QueryRequest"
            },
            "output": {
                "shape": "QueryResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        }
    },
    "shapes": {
        "AccessToken": {
            "type": "structure",
            "required": [
                "id",
                "access_token",
                "instance_url",
                "token_type"
            ],
            "members": {
                "id": {
                    "shape": "String"
                },
                "access_token": {
                    "shape": "String"
                },
                "instance_url": {
                    "shape": "String"
                },
                "token_type": {
                    "shape": "String"
                }
            }
        },
        "Boolean": {
            "type": "boolean"
        },
        "DeleteKnowledgeRequest": {
            "type": "structure",
            "required": [
                "urlname"
            ],
            "members": {
                "urlname": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "urlname"
                }
            }
        },
        "DeleteKnowledgeResponse": {
            "type": "structure",
            "members": {
                "status": {
                    "shape": "String"
                }
            }
        },
        "DocumentAttribute": {
            "type": "structure",
            "members": {
                "Key": {
                    "shape": "String"
                },
                "Value": {
                    "shape": "DocumentAttributeValue"
                }
            }
        },
        "DocumentAttributeValue": {
            "type": "structure",
            "members": {
                "StringValue": {
                    "shape": "String"
                }
            }
        },
        "DocumentAttributes": {
            "type": "list",
            "member": {
                "shape": "DocumentAttribute"
            }
        },
        "DocumentExcerpt": {
            "type": "structure",
            "members": {
                "Text": {
                    "shape": "LongString"
                },
                "Highlights": {
                    "shape": "Highlights"
                }
            }
        },
        "DocumentTitle": {
            "type": "structure",
            "members": {
                "Text": {
                    "shape": "String"
                },
                "Highlights": {
                    "shape": "Highlights"
                }
            }
        },
        "GetKnowledgeResponse": {
            "type": "structure",
            "members": {
                "knowledge": {
                    "shape": "KnowledgeRecords"
                }
            }
        },
        "Highlight": {
            "type": "structure",
            "members": {
                "BeginOffset": {
                    "shape": "Integer"
                },
                "EndOffset": {
                    "shape": "Integer"
                },
                "TopAnswer": {
                    "shape": "Boolean"
                }
            }
        },
        "Highlights": {
            "type": "list",
            "member": {
                "shape": "Highlight"
            }
        },
        "Integer": {
            "type": "integer"
        },
        "KendraSearchResult": {
            "type": "structure",
            "members": {
                "Id": {
                    "shape": "String"
                },
                "DocumentId": {
                    "shape": "String"
                },
                "DocumentURI": {
                    "shape": "String"
                },
                "Type": {
                    "shape": "String"
                },
                "RecordType": {
                    "shape": "String"
                },
                "Title": {
                    "shape": "DocumentTitle"
                },
                "DocumentExcerpt": {
                    "shape": "DocumentExcerpt"
                },
                "DocumentAttributes": {
                    "shape": "DocumentAttributes"
                },
                "Topics": {
                    "shape": "StringList"
                }
            }
        },
        "KendraSearchResults": {
            "type": "list",
            "member": {
                "shape": "KendraSearchResult"
            }
        },
        "Knowledge": {
            "type": "structure",
            "members": {
                "created_date": {
                    "shape": "String"
                },
                "last_published_date": {
                    "shape": "String"
                },
                "title": {
                    "shape": "String"
                },
                "description": {
                    "shape": "String"
                },
                "topics": {
                    "shape": "String"
                },
                "url_name": {
                    "shape": "String"
                }
            }
        },
        "KnowledgeRecords": {
            "type": "list",
            "member": {
                "shape": "Knowledge"
            }
        },
        "LongString": {
            "type": "string",
            "max": 8096,
            "min": 1,
            "pattern": ".*"
        },
        "PostKnowledgeRequest": {
            "type": "structure",
            "members": {
                "created_date": {
                    "shape": "String"
                },
                "last_published_date": {
                    "shape": "String"
                },
                "title": {
                    "shape": "String"
                },
                "description": {
                    "shape": "String"
                },
                "topics": {
                    "shape": "String"
                },
                "url_name": {
                    "shape": "String"
                }
            }
        },
        "PostKnowledgeResponse": {
            "type": "structure",
            "members": {
                "status": {
                    "shape": "String"
                }
            }
        },
        "QueryRequest": {
            "type": "structure",
            "members": {
                "QueryText": {
                    "shape": "String"
                },
                "PageNumber": {
                    "shape": "Integer"
                },
                "PageSize": {
                    "shape": "Integer"
                },
                "authorize_query": {
                    "shape": "String",
                    "location": "header",
                    "locationName": "authorize_query"
                }
            }
        },
        "QueryResponse": {
            "type": "structure",
            "members": {
                "results": {
                    "shape": "QueryResponseResults"
                }
            }
        },
        "QueryResponseResults": {
            "type": "structure",
            "members": {
                "ResultItems": {
                    "shape": "KendraSearchResults"
                },
                "TotalNumberOfResults": {
                    "shape": "Integer"
                }
            }
        },
        "SamlResponse": {
            "type": "structure",
            "required": [
                "data"
            ],
            "members": {
                "data": {
                    "shape": "SamlResponseData"
                }
            }
        },
        "SamlResponseData": {
            "type": "string",
            "max": 8096,
            "min": 1,
            "pattern": "[A-Za-z0-9.-=+]+"
        },
        "String": {
            "type": "string",
            "max": 512,
            "min": 0,
            "pattern": ".*"
        },
        "StringList": {
            "type": "list",
            "member": {
                "shape": "String"
            }
        }
    }
}