{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-01",
        "endpointPrefix": "aesopcontentservicelambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AESOPContentServiceLambda",
        "serviceFullName": "AESOPContentServiceLambda",
        "serviceId": "AESOPContentServiceLambda",
        "signatureVersion": "v4",
        "signingName": "elemental-support-content",
        "uid": "aesopcontentservicelambda-2017-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
        ]
    },
    "operations": {
        "DeleteKnowledge": {
            "name": "DeleteKnowledge",
            "http": {
                "method": "DELETE",
                "requestUri": "/knowledge/{urlname}"
            },
            "input": {
                "shape": "DeleteKnowledgeRequest"
            },
            "output": {
                "shape": "DeleteKnowledgeResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "GetAccessToken": {
            "name": "GetAccessToken",
            "http": {
                "method": "GET",
                "requestUri": "/access_token"
            },
            "output": {
                "shape": "AccessToken"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "GetKnowledge": {
            "name": "GetKnowledge",
            "http": {
                "method": "GET",
                "requestUri": "/knowledge"
            },
            "output": {
                "shape": "GetKnowledgeResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "GetSamlResponse": {
            "name": "GetSamlResponse",
            "http": {
                "method": "GET",
                "requestUri": "/saml_response"
            },
            "output": {
                "shape": "SamlResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "PostKnowledge": {
            "name": "PostKnowledge",
            "http": {
                "method": "POST",
                "requestUri": "/knowledge"
            },
            "input": {
                "shape": "PostKnowledgeRequest"
            },
            "output": {
                "shape": "PostKnowledgeResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "Query": {
            "name": "Query",
            "http": {
                "method": "POST",
                "requestUri": "/query"
            },
            "input": {
                "shape": "QueryRequest"
            },
            "output": {
                "shape": "QueryResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        }
    },
    "shapes": {
        "AccessToken": {
            "type": "structure",
            "required": [
                "id",
                "access_token",
                "instance_url",
                "token_type"
            ],
            "members": {
                "id": {
                    "shape": "String"
                },
                "access_token": {
                    "shape": "String"
                },
                "instance_url": {
                    "shape": "String"
                },
                "token_type": {
                    "shape": "String"
                }
            }
        },
        "Boolean": {
            "type": "boolean"
        },
        "DeleteKnowledgeRequest": {
            "type": "structure",
            "required": [
                "urlname"
            ],
            "members": {
                "urlname": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "urlname"
                }
            }
        },
        "DeleteKnowledgeResponse": {
            "type": "structure",
            "members": {
                "status": {
                    "shape": "String"
                }
            }
        },
        "DocumentAttribute": {
            "type": "structure",
            "members": {
                "Key": {
                    "shape": "String"
                },
                "Value": {
                    "shape": "DocumentAttributeValue"
                }
            }
        },
        "DocumentAttributeValue": {
            "type": "structure",
            "members": {
                "StringValue": {
                    "shape": "String"
                }
            }
        },
        "DocumentAttributes": {
            "type": "list",
            "member": {
                "shape": "DocumentAttribute"
            }
        },
        "DocumentExcerpt": {
            "type": "structure",
            "members": {
                "Text": {
                    "shape": "LongString"
                },
                "Highlights": {
                    "shape": "Highlights"
                }
            }
        },
        "DocumentTitle": {
            "type": "structure",
            "members": {
                "Text": {
                    "shape": "String"
                },
                "Highlights": {
                    "shape": "Highlights"
                }
            }
        },
        "GetKnowledgeResponse": {
            "type": "structure",
            "members": {
                "knowledge": {
                    "shape": "KnowledgeRecords"
                }
            }
        },
        "Highlight": {
            "type": "structure",
            "members": {
                "BeginOffset": {
                    "shape": "Integer"
                },
                "EndOffset": {
                    "shape": "Integer"
                },
                "TopAnswer": {
                    "shape": "Boolean"
                }
            }
        },
        "Highlights": {
            "type": "list",
            "member": {
                "shape": "Highlight"
            }
        },
        "Integer": {
            "type": "integer"
        },
        "KendraSearchResult": {
            "type": "structure",
            "members": {
                "Id": {
                    "shape": "String"
                },
                "DocumentId": {
                    "shape": "String"
                },
                "DocumentURI": {
                    "shape": "String"
                },
                "Type": {
                    "shape": "String"
                },
                "RecordType": {
                    "shape": "String"
                },
                "Title": {
                    "shape": "DocumentTitle"
                },
                "DocumentExcerpt": {
                    "shape": "DocumentExcerpt"
                },
                "DocumentAttributes": {
                    "shape": "DocumentAttributes"
                },
                "Topics": {
                    "shape": "StringList"
                }
            }
        },
        "KendraSearchResults": {
            "type": "list",
            "member": {
                "shape": "KendraSearchResult"
            }
        },
        "Knowledge": {
            "type": "structure",
            "members": {
                "created_date": {
                    "shape": "String"
                },
                "last_published_date": {
                    "shape": "String"
                },
                "title": {
                    "shape": "String"
                },
                "description": {
                    "shape": "String"
                },
                "topics": {
                    "shape": "String"
                },
                "url_name": {
                    "shape": "String"
                }
            }
        },
        "KnowledgeRecords": {
            "type": "list",
            "member": {
                "shape": "Knowledge"
            }
        },
        "LongString": {
            "type": "string",
            "max": 8096,
            "min": 1,
            "pattern": ".*"
        },
        "PostKnowledgeRequest": {
            "type": "structure",
            "members": {
                "created_date": {
                    "shape": "String"
                },
                "last_published_date": {
                    "shape": "String"
                },
                "title": {
                    "shape": "String"
                },
                "description": {
                    "shape": "String"
                },
                "topics": {
                    "shape": "String"
                },
                "url_name": {
                    "shape": "String"
                }
            }
        },
        "PostKnowledgeResponse": {
            "type": "structure",
            "members": {
                "status": {
                    "shape": "String"
                }
            }
        },
        "QueryRequest": {
            "type": "structure",
            "members": {
                "QueryText": {
                    "shape": "String"
                },
                "PageNumber": {
                    "shape": "Integer"
                },
                "PageSize": {
                    "shape": "Integer"
                },
                "authorize_query": {
                    "shape": "String",
                    "location": "header",
                    "locationName": "authorize_query"
                }
            }
        },
        "QueryResponse": {
            "type": "structure",
            "members": {
                "results": {
                    "shape": "QueryResponseResults"
                }
            }
        },
        "QueryResponseResults": {
            "type": "structure",
            "members": {
                "ResultItems": {
                    "shape": "KendraSearchResults"
                },
                "TotalNumberOfResults": {
                    "shape": "Integer"
                }
            }
        },
        "SamlResponse": {
            "type": "structure",
            "required": [
                "data"
            ],
            "members": {
                "data": {
                    "shape": "SamlResponseData"
                }
            }
        },
        "SamlResponseData": {
            "type": "string",
            "max": 8096,
            "min": 1,
            "pattern": "[A-Za-z0-9.-=+]+"
        },
        "String": {
            "type": "string",
            "max": 512,
            "min": 0,
            "pattern": ".*"
        },
        "StringList": {
            "type": "list",
            "member": {
                "shape": "String"
            }
        }
    }
}