{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-01",
        "endpointPrefix": "aesopintegrationservice",
        "jsonVersion": "1.0",
        "protocol": "json",
        "signatureVersion": "v4",
        "targetPrefix": "AESOPIntegrationService",
        "uid": "aesopintegrationservice-2017-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEYBDRIJMS7COJYV5XS6Z3HAGURAWPWMTD5GLTUJHRFKRKOGRBXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFKFBF3GNTOF3Q2P6TEE2VDETHOPJ5TZDKCXQYP77YMNKHP3RWWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EA4TX5PMAFTMBV5HU5DOVHMTAJTN64V7IZTRBUKNLEHHVOPOBO3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q2AZOSVVDR2GZ4K6RG2L3KJ4PTPGTKFHUBI6ETBHCIVWUQGSSCZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDW5PGX5ZSWCWPSOQ3RBCHOGFNEEFU5F3Y6BDUITSKYH2IMLHIJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SEZJAPV2GJFVBEENPGTZXX6SQOXQGMNRMIRC3YAQYSLXSNQG2IAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3EX4ZTORJJSSYCPRMJ7DJL7SFQSXBPSM2NRRSSLBPMK3C4GYN36Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6KW6YC4FMSDU3AHQIVNZ2ILDKU3XZDBIZ47LYJWFU2AVBBOJAHEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HOLIYWGDT4P7PRBRQSM7Z3JPBC5UJ5QRJVNPLTT5K4I245Q7VUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HW3BQ4LKPQH7XZX662M3LUANL7DGRK3ISCFWZSHWTC7NDGT5K6WA/main.js"
        ]
    },
    "operations": {
        "AvsCorrectAddress": {
            "name": "AvsCorrectAddress",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "AvsAddress"
            },
            "output": {
                "shape": "AvsCorrectAddressResponse"
            },
            "errors": [
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "NoPermissionException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEYBDRIJMS7COJYV5XS6Z3HAGURAWPWMTD5GLTUJHRFKRKOGRBXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFKFBF3GNTOF3Q2P6TEE2VDETHOPJ5TZDKCXQYP77YMNKHP3RWWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA4TX5PMAFTMBV5HU5DOVHMTAJTN64V7IZTRBUKNLEHHVOPOBO3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2AZOSVVDR2GZ4K6RG2L3KJ4PTPGTKFHUBI6ETBHCIVWUQGSSCZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDW5PGX5ZSWCWPSOQ3RBCHOGFNEEFU5F3Y6BDUITSKYH2IMLHIJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEZJAPV2GJFVBEENPGTZXX6SQOXQGMNRMIRC3YAQYSLXSNQG2IAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EX4ZTORJJSSYCPRMJ7DJL7SFQSXBPSM2NRRSSLBPMK3C4GYN36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KW6YC4FMSDU3AHQIVNZ2ILDKU3XZDBIZ47LYJWFU2AVBBOJAHEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HOLIYWGDT4P7PRBRQSM7Z3JPBC5UJ5QRJVNPLTT5K4I245Q7VUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW3BQ4LKPQH7XZX662M3LUANL7DGRK3ISCFWZSHWTC7NDGT5K6WA/main.js"
            ]
        },
        "BuyNowGetBillingInfo": {
            "name": "BuyNowGetBillingInfo",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "BuyNowGetBillingInfoRequest"
            },
            "output": {
                "shape": "BuyNowGetBillingInfoResponse"
            },
            "errors": [
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "NoPermissionException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEYBDRIJMS7COJYV5XS6Z3HAGURAWPWMTD5GLTUJHRFKRKOGRBXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGPIWR3A2PE4NOKYCIGAPSAQJCHJKL2T3WDPVPQR7CCVFLGZFTNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWJTGHGLMBAGMEO5E5FEIU2XSONFYCGMYYKIVASPOKQOAGWGMLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFKFBF3GNTOF3Q2P6TEE2VDETHOPJ5TZDKCXQYP77YMNKHP3RWWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA4TX5PMAFTMBV5HU5DOVHMTAJTN64V7IZTRBUKNLEHHVOPOBO3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2AZOSVVDR2GZ4K6RG2L3KJ4PTPGTKFHUBI6ETBHCIVWUQGSSCZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDW5PGX5ZSWCWPSOQ3RBCHOGFNEEFU5F3Y6BDUITSKYH2IMLHIJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALW6FJEKIH4ISPVRNSCSOZPTOSLYTS26XNKVJPMCDZ6HZRQ6S7DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEZJAPV2GJFVBEENPGTZXX6SQOXQGMNRMIRC3YAQYSLXSNQG2IAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBWMAF5FJXEV4P33P7CSR3OHUI3QUUDTYTKBXV5BKFD2YVZTDNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EX4ZTORJJSSYCPRMJ7DJL7SFQSXBPSM2NRRSSLBPMK3C4GYN36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KW6YC4FMSDU3AHQIVNZ2ILDKU3XZDBIZ47LYJWFU2AVBBOJAHEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HOLIYWGDT4P7PRBRQSM7Z3JPBC5UJ5QRJVNPLTT5K4I245Q7VUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW3BQ4LKPQH7XZX662M3LUANL7DGRK3ISCFWZSHWTC7NDGT5K6WA/main.js"
            ]
        }
    },
    "shapes": {
        "AvsAddress": {
            "type": "structure",
            "required": [
                "address1"
            ],
            "members": {
                "name": {
                    "shape": "String"
                },
                "address1": {
                    "shape": "String"
                },
                "address2": {
                    "shape": "String"
                },
                "address3": {
                    "shape": "String"
                },
                "city": {
                    "shape": "String"
                },
                "state": {
                    "shape": "String"
                },
                "zip": {
                    "shape": "String"
                },
                "voice": {
                    "shape": "String"
                },
                "country": {
                    "shape": "String"
                }
            }
        },
        "AvsAddresses": {
            "type": "list",
            "member": {
                "shape": "AvsAddress"
            }
        },
        "AvsCorrectAddressResponse": {
            "type": "structure",
            "required": [
                "resultCode"
            ],
            "members": {
                "resultCode": {
                    "shape": "String"
                },
                "suggestedAddresses": {
                    "shape": "AvsAddresses"
                },
                "dpsScreeningResult": {
                    "shape": "String"
                }
            }
        },
        "BuyNowGetBillingInfoRequest": {
            "type": "structure",
            "members": {
                "accountId": {
                    "shape": "String"
                }
            }
        },
        "BuyNowGetBillingInfoResponse": {
            "type": "structure",
            "members": {
                "name": {
                    "shape": "String"
                },
                "email": {
                    "shape": "String"
                },
                "addressId": {
                    "shape": "String"
                },
                "addressLine1": {
                    "shape": "String"
                },
                "addressLine2": {
                    "shape": "String"
                },
                "addressLine3": {
                    "shape": "String"
                },
                "city": {
                    "shape": "String"
                },
                "stateOrRegion": {
                    "shape": "String"
                },
                "postalCode": {
                    "shape": "String"
                },
                "countryCode": {
                    "shape": "String"
                }
            }
        },
        "ErrorMessage": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "NoPermissionException": {
            "type": "structure",
            "members": {},
            "exception": true
        },
        "NotFoundException": {
            "type": "structure",
            "members": {},
            "exception": true
        },
        "ServiceException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "ErrorMessage"
                }
            },
            "exception": true
        },
        "String": {
            "type": "string",
            "max": 255,
            "min": 0
        }
    }
}