{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-01",
        "endpointPrefix": "aesopintegrationservice",
        "jsonVersion": "1.0",
        "protocol": "json",
        "signatureVersion": "v4",
        "targetPrefix": "AESOPIntegrationService",
        "uid": "aesopintegrationservice-2017-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4S4IKOLPLRC5C5CFGEPONRTTQB2GHSG7LKJQSHKE3ZKUNRWNTJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
        ]
    },
    "operations": {
        "AvsCorrectAddress": {
            "name": "AvsCorrectAddress",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "AvsAddress"
            },
            "output": {
                "shape": "AvsCorrectAddressResponse"
            },
            "errors": [
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "NoPermissionException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "BuyNowGetBillingInfo": {
            "name": "BuyNowGetBillingInfo",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "BuyNowGetBillingInfoRequest"
            },
            "output": {
                "shape": "BuyNowGetBillingInfoResponse"
            },
            "errors": [
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "NoPermissionException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        }
    },
    "shapes": {
        "AvsAddress": {
            "type": "structure",
            "required": [
                "address1"
            ],
            "members": {
                "name": {
                    "shape": "String"
                },
                "address1": {
                    "shape": "String"
                },
                "address2": {
                    "shape": "String"
                },
                "address3": {
                    "shape": "String"
                },
                "city": {
                    "shape": "String"
                },
                "state": {
                    "shape": "String"
                },
                "zip": {
                    "shape": "String"
                },
                "voice": {
                    "shape": "String"
                },
                "country": {
                    "shape": "String"
                }
            }
        },
        "AvsAddresses": {
            "type": "list",
            "member": {
                "shape": "AvsAddress"
            }
        },
        "AvsCorrectAddressResponse": {
            "type": "structure",
            "required": [
                "resultCode"
            ],
            "members": {
                "resultCode": {
                    "shape": "String"
                },
                "suggestedAddresses": {
                    "shape": "AvsAddresses"
                },
                "dpsScreeningResult": {
                    "shape": "String"
                }
            }
        },
        "BuyNowGetBillingInfoRequest": {
            "type": "structure",
            "members": {
                "accountId": {
                    "shape": "String"
                }
            }
        },
        "BuyNowGetBillingInfoResponse": {
            "type": "structure",
            "members": {
                "name": {
                    "shape": "String"
                },
                "email": {
                    "shape": "String"
                },
                "addressId": {
                    "shape": "String"
                },
                "addressLine1": {
                    "shape": "String"
                },
                "addressLine2": {
                    "shape": "String"
                },
                "addressLine3": {
                    "shape": "String"
                },
                "city": {
                    "shape": "String"
                },
                "stateOrRegion": {
                    "shape": "String"
                },
                "postalCode": {
                    "shape": "String"
                },
                "countryCode": {
                    "shape": "String"
                }
            }
        },
        "ErrorMessage": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "NoPermissionException": {
            "type": "structure",
            "members": {},
            "exception": true
        },
        "NotFoundException": {
            "type": "structure",
            "members": {},
            "exception": true
        },
        "ServiceException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "ErrorMessage"
                }
            },
            "exception": true
        },
        "String": {
            "type": "string",
            "max": 255,
            "min": 0
        }
    }
}