{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-01",
        "endpointPrefix": "aesopintegrationservice",
        "jsonVersion": "1.0",
        "protocol": "json",
        "signatureVersion": "v4",
        "targetPrefix": "AESOPIntegrationService",
        "uid": "aesopintegrationservice-2017-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js"
        ]
    },
    "operations": {
        "AvsCorrectAddress": {
            "name": "AvsCorrectAddress",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "AvsAddress"
            },
            "output": {
                "shape": "AvsCorrectAddressResponse"
            },
            "errors": [
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "NoPermissionException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js"
            ]
        },
        "BuyNowGetBillingInfo": {
            "name": "BuyNowGetBillingInfo",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "BuyNowGetBillingInfoRequest"
            },
            "output": {
                "shape": "BuyNowGetBillingInfoResponse"
            },
            "errors": [
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "NoPermissionException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3N3WEUJ4R6VEEUKVRRX7Z66SCPFNRSPNWUJ5ZNPVX462MS6RAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOBZHJGJP7P7UXMWB2RAZMFTLXN7N6UBGYA4SNJMOXPOQGPJPWQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DGGBNUI2AQZZKHN2XCN5MROWKZISELQLWVTZ6UCE3TKUUZTOXLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJZ2GOYWJSQ5IHANM72DITEUDJQSUER5LRDVB5Y3X3QZTDUUNAKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ENE42UHF632M42ZQOJ25QZ2NRC4TNLP4TEMGON32OB6T3S57I6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNNSFLHKBNJZXQVTB3ATX4LC6QV52QTY4ZO4FMBQ7GCFSYU7SPXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js"
            ]
        }
    },
    "shapes": {
        "AvsAddress": {
            "type": "structure",
            "required": [
                "address1"
            ],
            "members": {
                "name": {
                    "shape": "String"
                },
                "address1": {
                    "shape": "String"
                },
                "address2": {
                    "shape": "String"
                },
                "address3": {
                    "shape": "String"
                },
                "city": {
                    "shape": "String"
                },
                "state": {
                    "shape": "String"
                },
                "zip": {
                    "shape": "String"
                },
                "voice": {
                    "shape": "String"
                },
                "country": {
                    "shape": "String"
                }
            }
        },
        "AvsAddresses": {
            "type": "list",
            "member": {
                "shape": "AvsAddress"
            }
        },
        "AvsCorrectAddressResponse": {
            "type": "structure",
            "required": [
                "resultCode"
            ],
            "members": {
                "resultCode": {
                    "shape": "String"
                },
                "suggestedAddresses": {
                    "shape": "AvsAddresses"
                },
                "dpsScreeningResult": {
                    "shape": "String"
                }
            }
        },
        "BuyNowGetBillingInfoRequest": {
            "type": "structure",
            "members": {
                "accountId": {
                    "shape": "String"
                }
            }
        },
        "BuyNowGetBillingInfoResponse": {
            "type": "structure",
            "members": {
                "name": {
                    "shape": "String"
                },
                "email": {
                    "shape": "String"
                },
                "addressId": {
                    "shape": "String"
                },
                "addressLine1": {
                    "shape": "String"
                },
                "addressLine2": {
                    "shape": "String"
                },
                "addressLine3": {
                    "shape": "String"
                },
                "city": {
                    "shape": "String"
                },
                "stateOrRegion": {
                    "shape": "String"
                },
                "postalCode": {
                    "shape": "String"
                },
                "countryCode": {
                    "shape": "String"
                }
            }
        },
        "ErrorMessage": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "NoPermissionException": {
            "type": "structure",
            "members": {},
            "exception": true
        },
        "NotFoundException": {
            "type": "structure",
            "members": {},
            "exception": true
        },
        "ServiceException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "ErrorMessage"
                }
            },
            "exception": true
        },
        "String": {
            "type": "string",
            "max": 255,
            "min": 0
        }
    }
}