{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-01",
        "endpointPrefix": "aesopcaseservice",
        "jsonVersion": "1.0",
        "protocol": "json",
        "signatureVersion": "v4",
        "signingName": "elemental-support-cases",
        "targetPrefix": "AESOPCaseService",
        "uid": "aesopcaseservice-2017-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
        ]
    },
    "operations": {
        "AddCaseComment": {
            "name": "AddCaseComment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "AddCaseCommentRequest"
            },
            "output": {
                "shape": "CaseComment"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "AuthorizeCaseOperation": {
            "name": "AuthorizeCaseOperation",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "output": {
                "shape": "AuthorizeCaseOperationResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ServiceException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "CheckCasePermission": {
            "name": "CheckCasePermission",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "output": {
                "shape": "CheckCasePermissionResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ServiceException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "CompleteUpload": {
            "name": "CompleteUpload",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CompleteUploadRequest"
            },
            "output": {
                "shape": "CompleteUploadResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "CreateCase": {
            "name": "CreateCase",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CaseRequest"
            },
            "output": {
                "shape": "CreateCaseResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "DeleteCase": {
            "name": "DeleteCase",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DeleteCaseRequest"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "DeleteCaseAttachment": {
            "name": "DeleteCaseAttachment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DeleteCaseAttachmentRequest"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "DeleteCaseComment": {
            "name": "DeleteCaseComment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DeleteCaseCommentRequest"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "GetAccountInfo": {
            "name": "GetAccountInfo",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetAccountInfoRequest"
            },
            "output": {
                "shape": "GetAccountInfoResponse"
            },
            "errors": [
                {
                    "shape": "ServiceException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "GetCase": {
            "name": "GetCase",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetCaseRequest"
            },
            "output": {
                "shape": "GetCaseResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "GetCasePermission": {
            "name": "GetCasePermission",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetCasePermissionRequest"
            },
            "output": {
                "shape": "CasePermission"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "GetCases": {
            "name": "GetCases",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "output": {
                "shape": "GetCasesResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "GetUICache": {
            "name": "GetUICache",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "output": {
                "shape": "GetUICacheResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "GetUpload": {
            "name": "GetUpload",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetUploadRequest"
            },
            "output": {
                "shape": "GetUploadResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "StartUpload": {
            "name": "StartUpload",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "StartUploadRequest"
            },
            "output": {
                "shape": "StartUploadResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "SynchronizeCase": {
            "name": "SynchronizeCase",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "SynchronizeCaseRequest"
            },
            "output": {
                "shape": "SynchronizeCaseResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "SynchronizeComment": {
            "name": "SynchronizeComment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "SynchronizeCaseComment"
            },
            "output": {
                "shape": "CaseComment"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "UpdateCase": {
            "name": "UpdateCase",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CaseRequest"
            },
            "output": {
                "shape": "UpdateCaseResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "UpdateCasePermissions": {
            "name": "UpdateCasePermissions",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CasePermissionsList"
            },
            "output": {
                "shape": "CasePermissionsResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "UpdateCaseStatus": {
            "name": "UpdateCaseStatus",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "UpdateCaseStatusRequest"
            },
            "output": {
                "shape": "UpdateCaseStatusRequest"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APWNKTBZPAHVCP7CJO3GWJX2FL5HKDS5AXMW4QGJLIYK65HIEYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EU5LF76AMBO6AFE6QV4LDM7FO5ZRHG6TZOMASYUCCBAGXS3L7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "CreateS3DownloadUrl": {
            "name": "CreateS3DownloadUrl",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateS3DownloadUrlRequest"
            },
            "output": {
                "shape": "CreateS3DownloadUrlResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "NotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "CompleteMultipartUpload": {
            "name": "CompleteMultipartUpload",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CompleteMultipartUploadRequest"
            },
            "output": {
                "shape": "CompleteMultipartUploadResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "StartMultipartUpload": {
            "name": "StartMultipartUpload",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "StartMultipartUploadRequest"
            },
            "output": {
                "shape": "StartMultipartUploadResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "UpdateMultipartUpload": {
            "name": "UpdateMultipartUpload",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "UpdateMultipartUploadRequest"
            },
            "output": {
                "shape": "UpdateMultipartUploadResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "CreateS3CLIUploadCommand": {
            "name": "CreateS3CLIUploadCommand",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateS3CLIUploadCommandRequest"
            },
            "output": {
                "shape": "CreateS3CLIUploadCommandResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ServiceException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        },
        "DeleteUpload": {
            "name": "DeleteUpload",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DeleteUploadRequest"
            },
            "output": {
                "shape": "DeleteUploadResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js"
            ]
        }
    },
    "shapes": {
        "AccessDeniedException": {
            "type": "structure",
            "members": {},
            "exception": true
        },
        "AddCaseCommentRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "shape": "UUID"
                },
                "caseNumber": {
                    "shape": "CaseNumber"
                },
                "caseComments": {
                    "shape": "CaseCommentsList"
                }
            }
        },
        "AlreadyExistsException": {
            "type": "structure",
            "members": {},
            "exception": true
        },
        "Attachment": {
            "type": "structure",
            "members": {
                "id": {
                    "shape": "AttachmentId"
                },
                "name": {
                    "shape": "String"
                },
                "url": {
                    "shape": "String"
                },
                "virusScanStatus": {
                    "shape": "ScanVirusStatus"
                },
                "caseId": {
                    "shape": "UUID"
                },
                "commentId": {
                    "shape": "UUID"
                },
                "contentType": {
                    "shape": "String"
                },
                "fileSize": {
                    "shape": "long"
                },
                "user": {
                    "shape": "String"
                },
                "createdOn": {
                    "shape": "DateTime"
                },
                "createdDate": {
                    "shape": "long"
                },
                "updatedOn": {
                    "shape": "long"
                }
            }
        },
        "AttachmentId": {
            "type": "string",
            "max": 36,
            "min": 1,
            "pattern": "(^[a-zA-Z0-9]+$)|(^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$)"
        },
        "AttachmentIds": {
            "type": "list",
            "member": {
                "shape": "AttachmentId"
            }
        },
        "AttachmentsObjectList": {
            "type": "list",
            "member": {
                "shape": "Attachment"
            }
        },
        "AuthorizeCaseOperationResponse": {
            "type": "structure",
            "members": {}
        },
        "AwsAccountId": {
            "type": "string",
            "max": 12,
            "min": 1,
            "pattern": "^(d+)$"
        },
        "BadRequestException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "ErrorMessage"
                }
            },
            "exception": true
        },
        "Boolean": {
            "type": "boolean"
        },
        "CaseComment": {
            "type": "structure",
            "members": {
                "id": {
                    "shape": "UUID"
                },
                "caseNumber": {
                    "shape": "CaseNumber"
                },
                "caseId": {
                    "shape": "UUID"
                },
                "commentTime": {
                    "shape": "long"
                },
                "comment": {
                    "shape": "TextArea"
                },
                "enabled": {
                    "shape": "Boolean"
                },
                "firstName": {
                    "shape": "String"
                },
                "lastName": {
                    "shape": "String"
                },
                "email": {
                    "shape": "Email"
                },
                "sfId": {
                    "shape": "sfId"
                },
                "attachments": {
                    "shape": "AttachmentIds"
                }
            }
        },
        "CaseCommentObject": {
            "type": "structure",
            "members": {
                "id": {
                    "shape": "UUID"
                },
                "caseNumber": {
                    "shape": "CaseNumber"
                },
                "caseId": {
                    "shape": "UUID"
                },
                "commentTime": {
                    "shape": "long"
                },
                "comment": {
                    "shape": "TextArea"
                },
                "enabled": {
                    "shape": "Boolean"
                },
                "firstName": {
                    "shape": "String"
                },
                "lastName": {
                    "shape": "String"
                },
                "email": {
                    "shape": "Email"
                },
                "sfId": {
                    "shape": "sfId"
                },
                "attachments": {
                    "shape": "AttachmentsObjectList"
                }
            }
        },
        "CaseCommentsList": {
            "type": "list",
            "member": {
                "shape": "CaseComment"
            }
        },
        "CaseCommentsObjectList": {
            "type": "list",
            "member": {
                "shape": "CaseCommentObject"
            }
        },
        "CaseCreationStatus": {
            "type": "string",
            "enum": [
                "Submitted",
                "Completed",
                "Failed"
            ]
        },
        "CaseIdOrNumber": {
            "type": "string",
            "max": 36,
            "min": 1,
            "pattern": "(^[0-9]+$)|(^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$)"
        },
        "CaseList": {
            "type": "list",
            "member": {
                "shape": "GetCaseResponse"
            }
        },
        "CaseNumber": {
            "type": "string",
            "max": 12,
            "min": 1,
            "pattern": "^([0-9]+)$"
        },
        "CasePermission": {
            "type": "structure",
            "members": {
                "aws_account_id": {
                    "shape": "AwsAccountId"
                },
                "allowed": {
                    "shape": "Boolean"
                }
            }
        },
        "CasePermissions": {
            "type": "list",
            "member": {
                "shape": "CasePermission"
            }
        },
        "CasePermissionsList": {
            "type": "structure",
            "members": {
                "permissions": {
                    "shape": "CasePermissions"
                }
            }
        },
        "CasePermissionsResponse": {
            "type": "structure",
            "members": {
                "status": {
                    "shape": "PermissionsCompletionStatus"
                }
            }
        },
        "CaseRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "shape": "UUID"
                },
                "firstName": {
                    "shape": "String"
                },
                "lastName": {
                    "shape": "String"
                },
                "email": {
                    "shape": "Email"
                },
                "caseNumber": {
                    "shape": "CaseNumber"
                },
                "awsAccountId": {
                    "shape": "AwsAccountId"
                },
                "subject": {
                    "shape": "String"
                },
                "topic": {
                    "shape": "String"
                },
                "status": {
                    "shape": "String"
                },
                "caseCreationStatus": {
                    "shape": "CaseCreationStatus"
                },
                "platform": {
                    "shape": "String"
                },
                "priority": {
                    "shape": "String"
                },
                "cloudDeploymentDescription": {
                    "shape": "TextArea"
                },
                "product": {
                    "shape": "String"
                },
                "deploymentStatus": {
                    "shape": "String"
                },
                "softwareVersion": {
                    "shape": "String"
                },
                "severity": {
                    "shape": "String"
                },
                "assetName": {
                    "shape": "String"
                },
                "assetId": {
                    "shape": "String"
                },
                "company": {
                    "shape": "String"
                },
                "assetDetails": {
                    "shape": "String"
                },
                "ccList": {
                    "shape": "TextArea"
                },
                "description": {
                    "shape": "TextArea"
                },
                "createdOn": {
                    "shape": "String"
                },
                "createdDate": {
                    "shape": "long"
                },
                "requester": {
                    "shape": "String"
                },
                "closedDate": {
                    "shape": "String"
                },
                "serialNumber": {
                    "shape": "String"
                },
                "uploadUrl": {
                    "shape": "String"
                },
                "awsUserArn": {
                    "shape": "String"
                },
                "caseComments": {
                    "shape": "CaseCommentsList"
                },
                "attachments": {
                    "shape": "AttachmentIds"
                },
                "relatedKnowledge": {
                    "shape": "RelatedKnowledgeList"
                }
            }
        },
        "CheckCasePermissionResponse": {
            "type": "structure",
            "members": {}
        },
        "CompleteUploadRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "shape": "String"
                },
                "etags": {
                    "shape": "StringList"
                }
            }
        },
        "CompleteUploadResponse": {
            "type": "structure",
            "members": {
                "uploadStatus": {
                    "shape": "Status"
                },
                "virusScanStatus": {
                    "shape": "ScanVirusStatus"
                }
            }
        },
        "CreateCaseResponse": {
            "type": "structure",
            "members": {
                "id": {
                    "shape": "UUID"
                }
            }
        },
        "DateTime": {
            "type": "string",
            "max": 50,
            "min": 1,
            "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z"
        },
        "DeleteCaseAttachmentRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "shape": "AttachmentId"
                }
            }
        },
        "DeleteCaseCommentRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "shape": "UUID"
                }
            }
        },
        "DeleteCaseRequest": {
            "type": "structure",
            "members": {
                "id": {
                    "shape": "UUID"
                }
            }
        },
        "Email": {
            "type": "string",
            "max": 255,
            "min": 1,
            "pattern": "^S+@S+.S+$"
        },
        "ErrorMessage": {
            "type": "string",
            "max": 1024,
            "min": 1,
            "pattern": ".*"
        },
        "GetAccountInfoRequest": {
            "type": "structure",
            "members": {
                "awsAccountId": {
                    "shape": "AwsAccountId"
                }
            }
        },
        "GetAccountInfoResponse": {
            "type": "structure",
            "members": {
                "awsAccountId": {
                    "shape": "AwsAccountId"
                }
            }
        },
        "GetCasePermissionRequest": {
            "type": "structure",
            "members": {
                "awsAccountId": {
                    "shape": "AwsAccountId"
                }
            }
        },
        "GetCaseRequest": {
            "type": "structure",
            "members": {
                "caseNumber": {
                    "shape": "CaseNumber"
                },
                "id": {
                    "shape": "UUID"
                },
                "caseIdOrNumber": {
[...]
