{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-01",
        "endpointPrefix": "aesopcaseservice",
        "jsonVersion": "1.0",
        "protocol": "json",
        "signatureVersion": "v4",
        "signingName": "elemental-support-cases",
        "targetPrefix": "AESOPCaseService",
        "uid": "aesopcaseservice-2017-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBV34N3LKTOBMTEP722XOSEMYXIPZFFHUGYAIEP3VXJ4FIV7Y7UQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
        ]
    },
    "operations": {
        "AddCaseComment": {
            "name": "AddCaseComment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "AddCaseCommentRequest"
            },
            "output": {
                "shape": "CaseComment"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "AuthorizeCaseOperation": {
            "name": "AuthorizeCaseOperation",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "output": {
                "shape": "AuthorizeCaseOperationResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ServiceException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY2IM7NVCF5JESHIQ2FHDLCV2VSPSOTJIL7RYWREYQP7D52TRQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQABRK3EE2A3CN5DTIGQBWFJDWLL2LBR5N4676L3KSYX7X7DPJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MUZMAHOKM3UO676E4CI7N3BHRVTYLXMKVFRQYB6U6DWLEGBPK2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4P54QKP24YSDZWXLGME3QXVM2DIK33V5XHEBDFTJ6HVLT3MYK5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5YDOLJDEUI2OEFG7IHSERRTB2DTHZGEUBXYBSILPVMJ2BXX6HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY2VOPRBRBMKKNYGGBNQBQWLZPIGKL5VFPEJWWTRFFQKBAXYV2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGOEGGZP3I4FTD4QFL3YXKEBIECENUPRW5WZFC6ATRFM37YIET2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIDJTSQ3F6B5DEPUBUWUJDHEA4GGG6PVUGNB6HL6ZWKAH7LCXB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5EDMSRDNL6BIRCOL43HQEBTEIXLSMFWXBJPXAS5XXFPTKLC42OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VQS47RIHYBPU73KFBMJGMKMKQP7KAFDPP27Y5ORVA2K2PDJEG4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WTS5LGAHABFCQDBCEEZZ2U7322RQBC2T45AGDSYTQPDMP753BOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AKT42CYGBCZGH2XDLYX6AXPTGZKUU53D7INPBZ2WKOAZFSTWOWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOEAMOQC5M2CDSTFUDEIUL67JEUMKPSZJBD72EGYRACHNYCE7CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TIWMES4WSYOZIOW6WDH5YTAFHBC5KHS6K2EIY7BKCLFL3FPCBLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODO3W4RH2XDDXZIODCC4BN74LN4KGW6J7DWDWJYG46NHZSAMK7HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js"
            ]
        },
        "CheckCasePermission": {
            "name": "CheckCasePermission",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "output": {
                "shape": "CheckCasePermissionResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "ServiceException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "CompleteUpload": {
            "name": "CompleteUpload",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CompleteUploadRequest"
            },
            "output": {
                "shape": "CompleteUploadResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "CreateCase": {
            "name": "CreateCase",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CaseRequest"
            },
            "output": {
                "shape": "CreateCaseResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "DeleteCase": {
            "name": "DeleteCase",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DeleteCaseRequest"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "DeleteCaseAttachment": {
            "name": "DeleteCaseAttachment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DeleteCaseAttachmentRequest"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEYBDRIJMS7COJYV5XS6Z3HAGURAWPWMTD5GLTUJHRFKRKOGRBXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFKFBF3GNTOF3Q2P6TEE2VDETHOPJ5TZDKCXQYP77YMNKHP3RWWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA4TX5PMAFTMBV5HU5DOVHMTAJTN64V7IZTRBUKNLEHHVOPOBO3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2AZOSVVDR2GZ4K6RG2L3KJ4PTPGTKFHUBI6ETBHCIVWUQGSSCZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDW5PGX5ZSWCWPSOQ3RBCHOGFNEEFU5F3Y6BDUITSKYH2IMLHIJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SEZJAPV2GJFVBEENPGTZXX6SQOXQGMNRMIRC3YAQYSLXSNQG2IAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EX4ZTORJJSSYCPRMJ7DJL7SFQSXBPSM2NRRSSLBPMK3C4GYN36Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KW6YC4FMSDU3AHQIVNZ2ILDKU3XZDBIZ47LYJWFU2AVBBOJAHEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HOLIYWGDT4P7PRBRQSM7Z3JPBC5UJ5QRJVNPLTT5K4I245Q7VUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HW3BQ4LKPQH7XZX662M3LUANL7DGRK3ISCFWZSHWTC7NDGT5K6WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6KGE7FPERB3MZZDAIRRD25KI33SMHIHG7KC4MTQ7E233L3HY5XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWKDKAB4BQPM32CLXR723YJ6JYNISUW2XYMKHMSL5VWLBCEICJGA/main.js"
            ]
        },
        "DeleteCaseComment": {
            "name": "DeleteCaseComment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DeleteCaseCommentRequest"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "GetAccountInfo": {
            "name": "GetAccountInfo",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetAccountInfoRequest"
            },
            "output": {
                "shape": "GetAccountInfoResponse"
            },
            "errors": [
                {
                    "shape": "ServiceException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "GetCase": {
            "name": "GetCase",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetCaseRequest"
            },
            "output": {
                "shape": "GetCaseResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "GetCasePermission": {
            "name": "GetCasePermission",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetCasePermissionRequest"
            },
            "output": {
                "shape": "CasePermission"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "GetCases": {
            "name": "GetCases",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "output": {
                "shape": "GetCasesResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "GetUICache": {
            "name": "GetUICache",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "output": {
                "shape": "GetUICacheResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "GetUpload": {
            "name": "GetUpload",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetUploadRequest"
            },
            "output": {
                "shape": "GetUploadResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "StartUpload": {
            "name": "StartUpload",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "StartUploadRequest"
            },
            "output": {
                "shape": "StartUploadResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "SynchronizeCase": {
            "name": "SynchronizeCase",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "SynchronizeCaseRequest"
            },
            "output": {
                "shape": "SynchronizeCaseResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "SynchronizeComment": {
            "name": "SynchronizeComment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "SynchronizeCaseComment"
            },
            "output": {
                "shape": "CaseComment"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "UpdateCase": {
            "name": "UpdateCase",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CaseRequest"
            },
            "output": {
                "shape": "UpdateCaseResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "UpdateCasePermissions": {
            "name": "UpdateCasePermissions",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CasePermissionsList"
            },
            "output": {
                "shape": "CasePermissionsResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "UpdateCaseStatus": {
            "name": "UpdateCaseStatus",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "UpdateCaseStatusRequest"
            },
            "output": {
                "shape": "UpdateCaseStatusRequest"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "CreateS3DownloadUrl": {
            "name": "CreateS3DownloadUrl",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateS3DownloadUrlRequest"
            },
            "output": {
                "shape": "CreateS3DownloadUrlResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "NotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "CompleteMultipartUpload": {
            "name": "CompleteMultipartUpload",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CompleteMultipartUploadRequest"
            },
            "output": {
                "shape": "CompleteMultipartUploadResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "StartMultipartUpload": {
            "name": "StartMultipartUpload",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "StartMultipartUploadRequest"
            },
            "output": {
                "shape": "StartMultipartUploadResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "UpdateMultipartUpload": {
            "name": "UpdateMultipartUpload",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "UpdateMultipartUploadRequest"
            },
            "output": {
                "shape": "UpdateMultipartUploadResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "CreateS3CLIUploadCommand": {
            "name": "CreateS3CLIUploadCommand",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateS3CLIUploadCommandRequest"
            },
            "output": {
                "shape": "CreateS3CLIUploadCommandResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ServiceException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VANIE5CDNWDUJ25IXGZ6FTUTBMWXAODBCVJDQPP3DWK6V4RNOSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYHKULJBMATTPK3SE3EIUJW4ZAJE2VUTTG7MGPYUGK5VG6WF2L5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XSY2JRVWJBROMPAL4ZRZG3R4SEER7JL23CIXYEJ7VFCXKKWUXZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFACRDU3HXGHLIQE7XOE465JZPCM74PL7FRRT2AH2YENUPGEIMCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XETSH2P6RZARNNOHZO6TZW3MWAH2QGWRUHYU6F32TYNIJSIULFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I5U55JOT4OUVFVTIN6XEZNGD6E3MPNPKMNNDZCGEO45UYE7LY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXSZHW5X3ZMTKUTAYHESSHSCFRHUQY6U6GRQ6S6NNBRWQERQDTKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISPLADJYJUT7AWO7PCSE3K7364RRLHERUTBQ7S6PMBRSEXFVHQHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPBH3S7QUHRKQIHMWRAERQXQLV22WNESLWKEX3ZCGSTYKZVJL5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7YCZZKB7FZBYZFU7NF35BBYLA65NYDCLXB6X7JIIQ6QGSTHTHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ4Q3ZMKMDFSVSGELR54OGEACPFSEMOZDA5PUIPVYYVJAP74QFTA/main.js"
            ]
        },
        "DeleteUpload": {
            "name": "DeleteUpload",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DeleteUploadRequest"
            },
            "output": {
                "shape": "DeleteUploadResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "NoPermissionException"
                },
                {
                    "shape": "InvalidParametersException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOHNBQXUD3VNXIOGAY26F444QMT57OTJX4FW3HUAKJKRPMUNSFLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVZEITPC44NQVRP2NR7XLGS23YFA5XRCUSOTYWBNVUDNANC7Z3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYN5EXR4HC7W43CU23OQ2K77YWQWICXCZWCRH6AQNVVNZZAYCETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SOXUCXAWGTFO33JLUEFNW32UA5VUMOEXB3ZX4G2SOLZF4TVXVLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZKUDI4HWTGH2RQ4RZJWIQ7M2KUFU37LGZCGN7C6D3REG4DNXI7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIL6EUEJ7AWMXLB5AE5JCY6DG7FUJ3TPGL62HBGNHGK3NQIRCGCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EI7MMRQ3TT3F2K2OGJYA3BR4RXZKUAW6YQJ4H7IS3MOQKMTMZIMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZE56LWTJYIRET3BQ7Z7CINDOK2ACVDX3ISSBTO2NIGO7B2XYUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AB4QDFSX5YLTB3JKEBW5JPRESCPMK7D76GT4YSUK4AZFMNP75JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVZTRYGBWNOINGTKGG4VHIUSD6J7XSFWJCROIBQB5NQXUTXMK5HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRLHYPVPVGUA7QAYXZTAKBOGXERTZ7GEDV2S3RFA24722GYUB5GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JR3KPXVLQW5DE5MXOLBOUWMHTSWFY75FZAC6I6ZMZO2LHBB4LTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XLACFLFUT6WZ43X473RYTTUWFBHVNMSVJED5NJO6AI6JETVJFCA/main.js",
[...]
