{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-01",
        "endpointPrefix": "aesopintegrationservice",
        "jsonVersion": "1.0",
        "protocol": "json",
        "signatureVersion": "v4",
        "targetPrefix": "AESOPIntegrationService",
        "uid": "aesopintegrationservice-2017-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3P7YKMXYLTHRJ6YKJMNUCELW3M44VNCZY66EHHDOYEQHB24MLZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
        ]
    },
    "operations": {
        "AvsCorrectAddress": {
            "name": "AvsCorrectAddress",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "AvsAddress"
            },
            "output": {
                "shape": "AvsCorrectAddressResponse"
            },
            "errors": [
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "NoPermissionException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        },
        "BuyNowGetBillingInfo": {
            "name": "BuyNowGetBillingInfo",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "BuyNowGetBillingInfoRequest"
            },
            "output": {
                "shape": "BuyNowGetBillingInfoResponse"
            },
            "errors": [
                {
                    "shape": "ServiceException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "NoPermissionException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSNTANL4FMPH4IRRURFUJXIADJJ4M5UNOSJS4HB5AAKJCKPOY7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62T7CEOBQ3UZOI3PMGQ7GFP44FOVN2UP5A7HY2C423MWZMIJH7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIT2EQAU3ZUTQ2RVDFSOXVG67GDPBGLD5KTOPY7FGE7CAZ3YG42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G2PNEOBVD4QNAGMIL7U4JOAQ6IBFSX446KX4KRSDM5GWKQNH2LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F25UMLHSRQLAAFFO3AQ336RPD7OEEDAPJOW4JK745CY5J23XKMNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPDP7LLFYRHIULKXSY5GCXI2SLHKROMWQUG4M45YZCUIPI7MVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKK2JJLNME5XLSNXDRVA5EPMBIRX2PVONUCUEPZJBVSKLY4SFZWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53ZRXUZMRQYLTUWD7242A3VNPOV2RFRMAVIWOCKNRB4SAWE4PRPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CR7KTBOIVY6TP2XYIGIETNVE3GLK67YW2AZEORDLC5GUFEBQT3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBLZRPUZ5XKPKSDMZS62B22E635KXSTCO3WMXUSFEKX5YF4EPNXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLTO6MF7UDG7EBACQGNTZ2GRVEQIKYDQXZSJQTMCVGMZFQYZNK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPHT7UWTCXC6JT6PDNIHUMQBSAUU35CXBKCOJW5VNSQXPMUSXNTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5QHVPPWHKM5NSDRARPZM3YSR5ZZQP3HLSQHQWEBL4OHJ4IC7GSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV5G2BKDF7VMHKHJW2CPPV25NVOKK2G5WOSKWTEG2ZMVJA23IN5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZEFMXE3GBWH4PTT6HNSDT2PCYLAUYWTZNTKSTXOMGCFUJTRVMMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5267LADZ6DIDEVIWA2JPCBQTCRHZQPHL7W4BELZNOVCTHFRVC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C646RM4VKXFYNJ6NEXTQDECLUW4P6VDG2YUJQDV2UKUJOGVBILPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YKCOY6HBNBNEVDPVBI27DWLSABC47GNIAPKVV4UFBVLGNZ5YAOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA2R7JM453UMO7KKVLHPSSAF6ZFD5SZ37ZP4B4GFB6UQFHSVMW4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFK3L4E5HKRH5FANFL33B3Q3DCY4JMF6IJXSVKWHDE2VCFQN5DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TM3SXHZFAEW7RNDNVEC2JBRVSZTBLEYYK5UJYYF4KURHBHWYOTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PKQW6MLX6X7QUPMVCDXJPCAH46XDJY3A67IGRUWHIFGQTYR23SA/main.js"
            ]
        }
    },
    "shapes": {
        "AvsAddress": {
            "type": "structure",
            "required": [
                "address1"
            ],
            "members": {
                "name": {
                    "shape": "String"
                },
                "address1": {
                    "shape": "String"
                },
                "address2": {
                    "shape": "String"
                },
                "address3": {
                    "shape": "String"
                },
                "city": {
                    "shape": "String"
                },
                "state": {
                    "shape": "String"
                },
                "zip": {
                    "shape": "String"
                },
                "voice": {
                    "shape": "String"
                },
                "country": {
                    "shape": "String"
                }
            }
        },
        "AvsAddresses": {
            "type": "list",
            "member": {
                "shape": "AvsAddress"
            }
        },
        "AvsCorrectAddressResponse": {
            "type": "structure",
            "required": [
                "resultCode"
            ],
            "members": {
                "resultCode": {
                    "shape": "String"
                },
                "suggestedAddresses": {
                    "shape": "AvsAddresses"
                },
                "dpsScreeningResult": {
                    "shape": "String"
                }
            }
        },
        "BuyNowGetBillingInfoRequest": {
            "type": "structure",
            "members": {
                "accountId": {
                    "shape": "String"
                }
            }
        },
        "BuyNowGetBillingInfoResponse": {
            "type": "structure",
            "members": {
                "name": {
                    "shape": "String"
                },
                "email": {
                    "shape": "String"
                },
                "addressId": {
                    "shape": "String"
                },
                "addressLine1": {
                    "shape": "String"
                },
                "addressLine2": {
                    "shape": "String"
                },
                "addressLine3": {
                    "shape": "String"
                },
                "city": {
                    "shape": "String"
                },
                "stateOrRegion": {
                    "shape": "String"
                },
                "postalCode": {
                    "shape": "String"
                },
                "countryCode": {
                    "shape": "String"
                }
            }
        },
        "ErrorMessage": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "NoPermissionException": {
            "type": "structure",
            "members": {},
            "exception": true
        },
        "NotFoundException": {
            "type": "structure",
            "members": {},
            "exception": true
        },
        "ServiceException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "ErrorMessage"
                }
            },
            "exception": true
        },
        "String": {
            "type": "string",
            "max": 255,
            "min": 0
        }
    }
}