{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "auth": [
            "aws.auth#sigv4"
        ],
        "endpointPrefix": "aiops",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceFullName": "AWS AI Ops",
        "serviceId": "AIOps",
        "signatureVersion": "v4",
        "signingName": "aiops",
        "uid": "aiops-2018-05-10",
        "download_location": [
            "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
        ]
    },
    "operations": {
        "CreateInvestigation": {
            "http": {
                "requestUri": "/investigationGroups/{identifier}/investigations",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "name"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "name": {},
                    "investigationWindow": {
                        "shape": "S4"
                    },
                    "investigationWindowAutoUpdate": {
                        "type": "boolean"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "dryRun": {
                        "type": "boolean"
                    },
                    "dryRunDetails": {
                        "type": "structure",
                        "members": {
                            "eventBody": {
                                "shape": "S8"
                            },
                            "eventType": {},
                            "eventWindow": {
                                "shape": "S3y"
                            }
                        }
                    },
                    "deduplicationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "investigationId"
                ],
                "members": {
                    "investigationId": {},
                    "investigationGroupArn": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "CreateInvestigationEvent": {
            "http": {
                "requestUri": "/investigationGroups/{identifier}/investigations/{investigationId}/events",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "body",
                    "identifier",
                    "investigationId"
                ],
                "members": {
                    "type": {},
                    "body": {
                        "shape": "Sd"
                    },
                    "acceptance": {},
                    "relatedEvents": {
                        "shape": "S3k"
                    },
                    "comment": {
                        "shape": "S2l"
                    },
                    "progressStatus": {},
                    "investigationEventWindow": {
                        "shape": "S3p"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "investigationId": {
                        "location": "uri",
                        "locationName": "investigationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "investigationId",
                    "investigationEventId"
                ],
                "members": {
                    "investigationId": {},
                    "investigationEventId": {},
                    "investigationGroupArn": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "CreateInvestigationGroup": {
            "http": {
                "requestUri": "/investigationGroups",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "roleArn"
                ],
                "members": {
                    "name": {},
                    "roleArn": {},
                    "encryptionConfiguration": {
                        "shape": "S3t"
                    },
                    "identityCenterConfigurationInput": {
                        "shape": "S3w"
                    },
                    "retentionInDays": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "S40"
                    },
                    "tagKeyBoundaries": {
                        "shape": "S43"
                    },
                    "chatbotNotificationChannel": {
                        "shape": "S44"
                    },
                    "isCloudTrailEventHistoryEnabled": {
                        "type": "boolean"
                    },
                    "cloudTrailTrailArns": {
                        "shape": "S48"
                    },
                    "crossAccountConfigurations": {
                        "shape": "S4v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "CreateInvestigationResource": {
            "http": {
                "requestUri": "/investigationGroups/{identifier}/investigations/{investigationId}/events/{investigationEventId}/resources",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "investigationId",
                    "investigationEventId",
                    "investigationEventResourceConfiguration"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "investigationId": {
                        "location": "uri",
                        "locationName": "investigationId"
                    },
                    "investigationEventId": {
                        "location": "uri",
                        "locationName": "investigationEventId"
                    },
                    "investigationEventResourceConfiguration": {
                        "type": "structure",
                        "members": {
                            "logQueryResourceConfiguration": {
                                "shape": "S20"
                            },
                            "compositeAlarmConfiguration": {
                                "type": "structure",
                                "members": {
                                    "selectedWindow": {
                                        "shape": "S1l"
                                    },
                                    "alarmName": {
                                        "shape": "S2l"
                                    },
                                    "maxRecords": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "metricConfiguration": {
                                "shape": "S1n"
                            },
                            "metricAlarmConfiguration": {
                                "shape": "Sg"
                            },
                            "contributorInsightConfiguration": {
                                "shape": "S31"
                            },
                            "blobConfiguration": {
                                "type": "structure",
                                "members": {
                                    "content": {
                                        "shape": "S4f"
                                    },
                                    "contentType": {
                                        "shape": "S1p"
                                    }
                                }
                            }
                        },
                        "sensitive": true,
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "identifier",
                    "investigationId",
                    "investigationEventId"
                ],
                "members": {
                    "identifier": {},
                    "investigationId": {},
                    "investigationEventId": {},
                    "investigationGroupArn": {},
                    "resourceIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "DeleteInvestigation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/investigationGroups/{identifier}/investigations/{investigationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "investigationId"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "investigationId": {
                        "location": "uri",
                        "locationName": "investigationId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "DeleteInvestigationGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/investigationGroups/{identifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "DeleteInvestigationGroupPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/investigationGroups/{identifier}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "DummyInvestigation": {
            "http": {
                "method": "GET",
                "requestUri": "/dummyInvestigation",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "modelOutput": {
                        "type": "structure",
                        "required": [
                            "investigationId"
                        ],
                        "members": {
                            "investigationId": {},
                            "createdBy": {},
                            "createdAt": {
                                "type": "long"
                            },
                            "lastModifiedBy": {},
                            "lastModifiedAt": {
                                "type": "long"
                            },
                            "investigationGroupArn": {},
                            "name": {},
                            "associatedKmsKeyArn": {},
                            "status": {},
                            "statusReason": {
                                "shape": "S2l"
                            },
                            "assistantStatus": {},
                            "assistantStatusReason": {},
                            "investigationWindow": {
                                "shape": "S4"
                            },
                            "resolved": {
                                "type": "boolean"
                            },
                            "createdByIDCUser": {},
                            "lastModifiedByIDCUser": {},
                            "investigationWindowAutoUpdate": {
                                "type": "boolean"
                            },
                            "clientToken": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "DummyInvestigationEvent": {
            "http": {
                "method": "GET",
                "requestUri": "/dummyInvestigationEvent",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "modelOutput": {
                        "shape": "S4r"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "GetInvestigation": {
            "http": {
                "method": "GET",
                "requestUri": "/investigationGroups/{identifier}/investigations/{investigationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "investigationId"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "investigationId": {
                        "location": "uri",
                        "locationName": "investigationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "investigationId"
                ],
                "members": {
                    "investigationId": {},
                    "createdBy": {},
                    "createdAt": {
                        "type": "long"
                    },
                    "lastModifiedBy": {},
                    "lastModifiedAt": {
                        "type": "long"
                    },
                    "investigationGroupArn": {},
                    "name": {},
                    "associatedKmsKeyArn": {},
                    "status": {},
                    "statusReason": {
                        "shape": "S2l"
                    },
                    "assistantStatus": {},
                    "assistantStatusReason": {},
                    "investigationWindow": {
                        "shape": "S4"
                    },
                    "resolved": {
                        "type": "boolean"
                    },
                    "createdByIDCUser": {},
                    "lastModifiedByIDCUser": {},
                    "investigationWindowAutoUpdate": {
                        "type": "boolean"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "GetInvestigationEvent": {
            "http": {
                "method": "GET",
                "requestUri": "/investigationGroups/{identifier}/investigations/{investigationId}/events/{investigationEventId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "investigationId",
                    "investigationEventId",
                    "identifier"
                ],
                "members": {
                    "investigationId": {
                        "location": "uri",
                        "locationName": "investigationId"
                    },
                    "investigationEventId": {
                        "location": "uri",
                        "locationName": "investigationEventId"
                    },
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "output": {
                "shape": "S4r"
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "GetInvestigationGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/investigationGroups/{identifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createdBy": {},
                    "createdAt": {
                        "type": "long"
                    },
                    "lastModifiedBy": {},
                    "lastModifiedAt": {
                        "type": "long"
                    },
                    "name": {},
                    "arn": {},
                    "roleArn": {},
                    "encryptionConfiguration": {
                        "shape": "S3t"
                    },
                    "identityCenterConfiguration": {
                        "type": "structure",
                        "members": {
                            "instanceArn": {},
                            "instanceRegion": {},
                            "applicationArn": {}
                        }
                    },
                    "retentionInDays": {
                        "type": "long"
                    },
                    "chatbotNotificationChannel": {
                        "shape": "S44"
                    },
                    "tagKeyBoundaries": {
                        "shape": "S43"
                    },
                    "isCloudTrailEventHistoryEnabled": {
                        "type": "boolean"
                    },
                    "cloudTrailTrailArns": {
                        "shape": "S48"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "GetInvestigationGroupPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/investigationGroups/{identifier}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "investigationGroupArn": {},
                    "policy": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "GetInvestigationResource": {
            "http": {
                "method": "GET",
                "requestUri": "/investigationGroups/{identifier}/investigations/{investigationId}/events/{investigationEventId}/resources/{resourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "investigationId",
                    "investigationEventId",
                    "resourceId"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "investigationId": {
                        "location": "uri",
                        "locationName": "investigationId"
                    },
                    "investigationEventId": {
                        "location": "uri",
                        "locationName": "investigationEventId"
                    },
                    "resourceId": {
                        "location": "uri",
                        "locationName": "resourceId"
                    },
                    "nextToken": {
                        "shape": "S2l",
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "investigationEventResourceResponse": {
                        "type": "structure",
                        "members": {
                            "logQueryResourceMetadata": {
                                "type": "structure",
                                "members": {
                                    "queryStatistics": {
                                        "type": "structure",
                                        "members": {
                                            "bytesScanned": {
                                                "type": "double"
                                            },
                                            "recordsMatched": {
                                                "type": "double"
                                            },
                                            "recordsScanned": {
                                                "type": "double"
                                            }
                                        }
                                    },
                                    "encryptionKey": {
                                        "shape": "S1p"
                                    }
                                }
                            },
                            "logQueryResourceResultsData": {
                                "type": "structure",
                                "members": {
                                    "results": {
                                        "type": "list",
                                        "member": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "field": {
                                                        "shape": "S2l"
                                                    },
                                                    "value": {
                                                        "shape": "S2l"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "compositeAlarmResourceData": {
                                "type": "structure",
                                "members": {
                                    "alarmHistoryItems": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "AlarmName": {},
                                                "AlarmType": {},
                                                "Timestamp": {
                                                    "type": "timestamp"
                                                },
                                                "HistoryItemType": {},
                                                "HistorySummary": {},
                                                "HistoryData": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "metricResourceData": {
                                "type": "structure",
                                "members": {
                                    "metricDataResults": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "Id": {},
                                                "Label": {},
                                                "Timestamps": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "timestamp"
                                                    }
                                                },
                                                "Values": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "double"
                                                    }
                                                },
                                                "StatusCode": {},
                                                "Messages": {
                                                    "shape": "S5u"
                                                }
                                            }
                                        }
                                    },
                                    "nextToken": {
                                        "shape": "S2l"
                                    },
                                    "messages": {
                                        "shape": "S5u"
                                    }
                                }
                            },
                            "describeAlarmData": {
                                "type": "structure",
                                "members": {
                                    "metricAlarm": {
                                        "shape": "Sj"
                                    }
                                }
                            },
                            "contributorInsightData": {
                                "type": "structure",
                                "members": {
                                    "aggregateValue": {
                                        "type": "double"
                                    },
                                    "aggregationStatistic": {},
                                    "approximateUniqueCount": {
                                        "type": "integer"
                                    },
                                    "contributors": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "approximateAggregateValue": {
                                                    "type": "double"
                                                },
                                                "datapoints": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "members": {
                                                            "approximateValue": {
                                                                "type": "double"
                                                            },
                                                            "timestamp": {
                                                                "type": "timestamp"
                                                            }
                                                        }
                                                    }
                                                },
                                                "keys": {
                                                    "shape": "S64"
                                                }
                                            }
                                        }
                                    },
                                    "keyLabels": {
                                        "shape": "S64"
                                    },
                                    "metricDatapoints": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "timestamp": {
                                                    "type": "timestamp"
                                                },
                                                "average": {
                                                    "type": "double"
                                                },
                                                "maxContributorValue": {
                                                    "type": "double"
                                                },
                                                "maximum": {
                                                    "type": "double"
                                                },
                                                "minimum": {
                                                    "type": "double"
                                                },
                                                "sampleCount": {
                                                    "type": "double"
                                                },
                                                "sum": {
                                                    "type": "double"
                                                },
                                                "uniqueContributors": {
                                                    "type": "double"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "blobData": {
                                "type": "structure",
                                "members": {
                                    "content": {
                                        "shape": "S4f"
                                    },
                                    "contentType": {
                                        "shape": "S1p"
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "nextToken": {
                        "shape": "S2l"
                    },
                    "investigationGroupArn": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "ListInvestigationEvents": {
            "http": {
                "requestUri": "/investigationGroups/{identifier}/investigations/{investigationId}/eventslist",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "investigationId"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "investigationId": {
                        "location": "uri",
                        "locationName": "investigationId"
                    },
                    "nextToken": {
                        "shape": "S2l",
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "filterBy": {
                        "type": "structure",
                        "members": {
                            "investigationEventCategory": {},
                            "acceptance": {},
                            "suggested": {
                                "type": "boolean"
                            },
                            "type": {},
                            "resourceIdentifier": {
                                "shape": "S2l"
                            },
                            "analysisGroupVersion": {
                                "shape": "S2l"
                            }
                        }
                    },
                    "groupBy": {},
                    "relatedEvents": {
                        "shape": "S3k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "shape": "S2l"
                    },
                    "investigationEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "investigationId",
                                "investigationEventId"
                            ],
                            "members": {
                                "investigationId": {},
                                "investigationEventId": {},
                                "investigationGroupArn": {},
                                "createdAt": {
                                    "type": "long"
                                },
                                "lastModifiedAt": {
                                    "type": "long"
                                },
                                "type": {},
                                "pinned": {
                                    "type": "boolean"
                                },
                                "investigationEventCategory": {},
                                "resourceIdentifier": {
                                    "shape": "S2l"
                                },
                                "analysisGroupVersion": {
                                    "shape": "S2l"
                                },
                                "isRepresentative": {
                                    "type": "boolean"
                                },
                                "investigationEventsCountForAnalysisEvent": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "ListInvestigationGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/investigationGroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "shape": "S2l",
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "shape": "S2l"
                    },
                    "investigationGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "ListInvestigations": {
            "http": {
                "method": "GET",
                "requestUri": "/investigationGroups/{identifier}/investigations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "nextToken": {
                        "shape": "S2l",
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "sortBy": {
                        "location": "querystring",
                        "locationName": "sortBy"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "shape": "S2l"
                    },
                    "investigations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "investigationId"
                            ],
                            "members": {
                                "investigationId": {},
                                "investigationGroupArn": {},
                                "createdAt": {
                                    "type": "long"
                                },
                                "lastModifiedAt": {
                                    "type": "long"
                                },
                                "name": {},
                                "status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S40"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "PutInvestigationGroupPolicy": {
            "http": {
                "requestUri": "/investigationGroups/{identifier}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "policy"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "investigationGroupArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S40"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "UpdateInvestigation": {
            "http": {
                "method": "PATCH",
                "requestUri": "/investigationGroups/{identifier}/investigations/{investigationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "investigationId",
                    "identifier"
                ],
                "members": {
                    "investigationId": {
                        "location": "uri",
                        "locationName": "investigationId"
                    },
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "name": {},
                    "status": {},
                    "statusReason": {
                        "shape": "S2l"
                    },
                    "investigationWindow": {
                        "shape": "S4"
                    },
                    "resolved": {
                        "type": "boolean"
                    },
                    "investigationWindowAutoUpdate": {
                        "type": "boolean"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "UpdateInvestigationEvent": {
            "http": {
                "method": "PATCH",
                "requestUri": "/investigationGroups/{identifier}/investigations/{investigationId}/events/{investigationEventId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "investigationId",
                    "investigationEventId",
                    "identifier"
                ],
                "members": {
                    "investigationId": {
                        "location": "uri",
                        "locationName": "investigationId"
                    },
                    "investigationEventId": {
                        "location": "uri",
                        "locationName": "investigationEventId"
                    },
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "visible": {
                        "type": "boolean"
                    },
                    "acceptance": {},
                    "pinned": {
                        "type": "boolean"
                    },
                    "progressStatus": {},
                    "relatedEvents": {
                        "shape": "S3k"
                    },
                    "suggested": {
                        "type": "boolean"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "UpdateInvestigationGroup": {
            "http": {
                "method": "PATCH",
                "requestUri": "/investigationGroups/{identifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "roleArn": {},
                    "encryptionConfiguration": {
                        "shape": "S3t"
                    },
                    "identityCenterConfigurationInput": {
                        "shape": "S3w"
                    },
                    "tagKeyBoundaries": {
                        "shape": "S43"
                    },
                    "chatbotNotificationChannel": {
                        "shape": "S44"
                    },
                    "isCloudTrailEventHistoryEnabled": {
                        "type": "boolean"
                    },
                    "cloudTrailTrailArns": {
                        "shape": "S48"
                    },
                    "crossAccountConfigurations": {
                        "shape": "S4v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "CreateReport": {
            "http": {
                "requestUri": "/investigationGroups/{identifier}/incidentReport",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "investigationIds"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "investigationIds": {
                        "shape": "S56"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "incidentReportId"
                ],
                "members": {
                    "incidentReportId": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "DeleteEvidence": {
            "http": {
                "method": "DELETE",
                "requestUri": "/investigationGroups/{identifier}/incidentReport/{incidentReportId}/evidences/{evidenceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "incidentReportId",
                    "evidenceId"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "incidentReportId": {
                        "location": "uri",
                        "locationName": "incidentReportId"
                    },
                    "evidenceId": {
                        "location": "uri",
                        "locationName": "evidenceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "DeleteFact": {
            "http": {
                "method": "DELETE",
                "requestUri": "/investigationGroups/{identifier}/incidentReport/{incidentReportId}/facts/{factToken}/versions/{factVersion}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "incidentReportId",
                    "factToken",
                    "factVersion"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "incidentReportId": {
                        "location": "uri",
                        "locationName": "incidentReportId"
                    },
                    "factToken": {
                        "location": "uri",
                        "locationName": "factToken"
                    },
                    "factVersion": {
                        "location": "uri",
                        "locationName": "factVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "DeleteReport": {
            "http": {
                "method": "DELETE",
                "requestUri": "/investigationGroups/{identifier}/incidentReport/{incidentReportId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "incidentReportId"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "incidentReportId": {
                        "location": "uri",
                        "locationName": "incidentReportId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "GenerateIncidentReportSection": {
            "http": {
                "requestUri": "/investigationGroups/{identifier}/incidentReport/generateIncidentReportSection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "targetSectionName"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "templateContent": {
                        "shape": "S66"
                    },
                    "targetSectionName": {
                        "shape": "S2q"
                    },
                    "existingSections": {
                        "type": "list",
                        "member": {
                            "shape": "S6b"
                        }
                    },
                    "supportingInvestigationEvents": {
                        "type": "list",
                        "member": {
                            "shape": "S5r"
                        }
                    },
                    "supportingEvidences": {
                        "shape": "S6c"
                    },
                    "supportingFacts": {
                        "shape": "S6c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "section"
                ],
                "members": {
                    "section": {
                        "shape": "S6b"
                    }
                }
            },
            "deprecated": true,
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "GenerateReport": {
            "http": {
                "requestUri": "/investigationGroups/{identifier}/incidentReport/{incidentReportId}/generateReport",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "incidentReportId"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "incidentReportId": {
                        "location": "uri",
                        "locationName": "incidentReportId"
                    },
                    "sections": {
                        "shape": "S67"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "orderedSectionNames"
                ],
                "members": {
                    "orderedSectionNames": {
                        "shape": "S6h"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "GetEphemeralInvestigationResults": {
            "http": {
                "requestUri": "/ephemeralInvestigation/{ephemeralInvestigationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ephemeralInvestigationId"
                ],
                "members": {
                    "ephemeralInvestigationId": {
                        "location": "uri",
                        "locationName": "ephemeralInvestigationId"
                    },
                    "filterBy": {
                        "type": "structure",
                        "members": {
                            "investigationEventCategory": {},
                            "suggested": {
                                "type": "boolean"
                            },
                            "type": {},
                            "resourceIdentifier": {
                                "shape": "S2q"
                            },
                            "analysisGroupVersion": {
                                "shape": "S2q"
                            }
                        }
                    },
                    "groupBy": {},
                    "nextToken": {
                        "shape": "S2q",
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ephemeralInvestigation": {
                        "type": "structure",
                        "members": {
                            "ephemeralInvestigationId": {},
                            "name": {},
                            "assistantStatus": {},
                            "assistantStatusReason": {},
                            "investigationWindow": {
                                "shape": "S4"
                            },
                            "createdAt": {
                                "type": "long"
                            }
                        }
                    },
                    "ephemeralEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "visible": {
                                    "type": "boolean"
                                },
                                "investigationEventDataMetadata": {
                                    "type": "structure",
                                    "members": {
                                        "eventDataMetadataList": {
                                            "shape": "S5y"
                                        }
                                    }
                                },
                                "body": {
                                    "shape": "S8"
                                },
                                "summary": {
                                    "shape": "S2q"
                                },
                                "resourceArns": {
                                    "shape": "Sd"
                                },
                                "suggested": {
                                    "type": "boolean"
                                },
                                "relatedEvents": {
                                    "shape": "S46"
                                },
                                "comment": {
                                    "shape": "S2q"
                                },
                                "progressStatus": {},
                                "investigationEventWindow": {
                                    "shape": "S3y"
                                },
                                "score": {
                                    "type": "double"
                                },
                                "investigationEventCategory": {},
                                "analysisGroupVersion": {
                                    "shape": "S2q"
                                },
                                "isRepresentative": {
                                    "type": "boolean"
                                },
                                "investigationEventsCountForAnalysisEvent": {
                                    "type": "integer"
                                },
                                "createdAt": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "GetEvidence": {
            "http": {
                "method": "GET",
                "requestUri": "/investigationGroups/{identifier}/incidentReport/{incidentReportId}/evidences/{evidenceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "incidentReportId",
                    "evidenceId"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "incidentReportId": {
                        "location": "uri",
                        "locationName": "incidentReportId"
                    },
                    "evidenceId": {
                        "location": "uri",
                        "locationName": "evidenceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "evidence"
                ],
                "members": {
                    "evidence": {
                        "shape": "S6t"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "GetFact": {
            "http": {
                "method": "GET",
                "requestUri": "/investigationGroups/{identifier}/incidentReport/{incidentReportId}/facts/{factToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "incidentReportId",
                    "factToken"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "incidentReportId": {
                        "location": "uri",
                        "locationName": "incidentReportId"
                    },
                    "factToken": {
                        "location": "uri",
                        "locationName": "factToken"
                    },
                    "factVersion": {
                        "location": "querystring",
                        "locationName": "factVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "fact"
                ],
                "members": {
                    "fact": {
                        "shape": "S70"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "GetFactVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/investigationGroups/{identifier}/incidentReport/{incidentReportId}/facts/{factToken}/versions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "incidentReportId",
                    "factToken"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "incidentReportId": {
                        "location": "uri",
                        "locationName": "incidentReportId"
                    },
                    "factToken": {
                        "shape": "S2q",
                        "location": "uri",
                        "locationName": "factToken"
                    },
                    "nextToken": {
                        "shape": "S2q",
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "sortBy": {
                        "shape": "S2q",
                        "location": "querystring",
                        "locationName": "sortBy"
                    },
                    "sortOrder": {
                        "shape": "S2q",
                        "location": "querystring",
                        "locationName": "sortOrder"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "facts"
                ],
                "members": {
                    "facts": {
                        "shape": "S77"
                    },
                    "nextToken": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "GetInvestigationEventData": {
            "http": {
                "method": "GET",
                "requestUri": "/investigationGroups/{identifier}/investigations/{investigationId}/events/{investigationEventId}/investigationEventData/{investigationEventDataId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "investigationId",
                    "investigationEventId",
                    "investigationEventDataId"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "investigationId": {
                        "location": "uri",
                        "locationName": "investigationId"
                    },
                    "investigationEventId": {
                        "location": "uri",
                        "locationName": "investigationEventId"
                    },
                    "investigationEventDataId": {
                        "location": "uri",
                        "locationName": "investigationEventDataId"
                    },
                    "nextToken": {
                        "shape": "S2q",
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "investigationEventDataResponse": {
                        "type": "structure",
                        "members": {
                            "logQueryEventDataMetadata": {
                                "type": "structure",
                                "members": {
                                    "queryStatistics": {
                                        "shape": "S7f"
                                    },
                                    "encryptionKey": {
                                        "shape": "S1n"
                                    }
                                }
                            },
                            "logQueryEventDataResults": {
                                "type": "structure",
                                "members": {
                                    "results": {
                                        "shape": "S7h"
                                    }
                                }
                            },
                            "compositeAlarmEventData": {
                                "type": "structure",
                                "members": {
                                    "alarmHistoryItems": {
                                        "shape": "S7l"
                                    }
                                }
                            },
                            "metricEventData": {
                                "type": "structure",
                                "members": {
                                    "metricDataResults": {
                                        "shape": "S7s"
                                    },
                                    "nextToken": {
                                        "shape": "S2q"
                                    },
                                    "messages": {
                                        "shape": "S7y"
                                    }
                                }
                            },
                            "describeAlarmEventData": {
                                "type": "structure",
                                "members": {
                                    "metricAlarm": {
                                        "shape": "Sg"
                                    }
                                }
                            },
                            "contributorInsightEventData": {
                                "type": "structure",
                                "members": {
                                    "aggregateValue": {
                                        "type": "double"
                                    },
                                    "aggregationStatistic": {},
                                    "approximateUniqueCount": {
                                        "type": "integer"
                                    },
                                    "contributors": {
                                        "shape": "S84"
                                    },
                                    "keyLabels": {
                                        "shape": "S88"
                                    },
                                    "metricDatapoints": {
                                        "shape": "S89"
                                    }
                                }
                            },
                            "blobEventData": {
                                "type": "structure",
                                "members": {
                                    "content": {
                                        "shape": "S52"
                                    },
                                    "contentType": {
                                        "shape": "S1n"
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "nextToken": {
                        "shape": "S2q"
                    },
                    "investigationGroupArn": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "GetReport": {
            "http": {
                "method": "GET",
                "requestUri": "/investigationGroups/{identifier}/incidentReport/{incidentReportId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "incidentReportId"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "incidentReportId": {
                        "location": "uri",
                        "locationName": "incidentReportId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "incidentReport"
                ],
                "members": {
                    "incidentReport": {
                        "shape": "S8v"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "ListEphemeralInvestigations": {
            "http": {
                "method": "GET",
                "requestUri": "/ephemeralInvestigation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "shape": "S2q",
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ephemeralInvestigations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ephemeralInvestigationId": {},
                                "name": {}
                            }
                        }
                    },
                    "nextToken": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "ListEvidences": {
            "http": {
                "method": "GET",
                "requestUri": "/investigationGroups/{identifier}/incidentReport/{incidentReportId}/evidences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "incidentReportId"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "incidentReportId": {
                        "location": "uri",
                        "locationName": "incidentReportId"
                    },
                    "nextToken": {
                        "shape": "S2q",
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "sortBy": {
                        "shape": "S2q",
                        "location": "querystring",
                        "locationName": "sortBy"
                    },
                    "sortOrder": {
                        "shape": "S2q",
                        "location": "querystring",
                        "locationName": "sortOrder"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "evidences"
                ],
                "members": {
                    "evidences": {
                        "type": "list",
                        "member": {
                            "shape": "S6t"
                        }
                    },
                    "nextToken": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "ListFacts": {
            "http": {
                "method": "GET",
                "requestUri": "/investigationGroups/{identifier}/incidentReport/{incidentReportId}/facts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "incidentReportId"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "incidentReportId": {
                        "location": "uri",
                        "locationName": "incidentReportId"
                    },
                    "factToken": {
                        "shape": "S2q",
                        "location": "querystring",
                        "locationName": "factToken"
                    },
                    "nextToken": {
                        "shape": "S2q",
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "sortBy": {
                        "shape": "S2q",
                        "location": "querystring",
                        "locationName": "sortBy"
                    },
                    "sortOrder": {
                        "shape": "S2q",
                        "location": "querystring",
                        "locationName": "sortOrder"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "facts"
                ],
                "members": {
                    "facts": {
                        "shape": "S77"
                    },
                    "nextToken": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "ListReports": {
            "http": {
                "method": "GET",
                "requestUri": "/investigationGroups/{identifier}/incidentReport",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "labels": {
                        "shape": "S8y",
                        "location": "header",
                        "locationName": "labels"
                    },
                    "nextToken": {
                        "shape": "S2q",
                        "location": "header",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "header",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "sortBy": {
                        "location": "header",
                        "locationName": "sortBy"
                    },
                    "sortOrder": {
                        "shape": "S2q",
                        "location": "header",
                        "locationName": "sortOrder"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "incidentReports"
                ],
                "members": {
                    "incidentReports": {
                        "type": "list",
                        "member": {
                            "shape": "S8v"
                        }
                    },
                    "nextToken": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "PlanIncidentReportGeneration": {
            "http": {
                "requestUri": "/investigationGroups/{identifier}/incidentReport/planIncidentReportGeneration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "templateContent": {
                        "shape": "S66"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "orderedSectionNames"
                ],
                "members": {
                    "orderedSectionNames": {
                        "shape": "S6h"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "PutEvidence": {
            "http": {
                "method": "PUT",
                "requestUri": "/investigationGroups/{identifier}/incidentReport/{incidentReportId}/evidences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "incidentReportId"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "incidentReportId": {
                        "location": "uri",
                        "locationName": "incidentReportId"
                    },
                    "evidence": {
                        "shape": "S6t"
                    },
                    "id": {},
                    "investigationGroupId": {},
                    "investigationId": {},
                    "name": {
                        "shape": "S2q"
                    },
                    "ticket": {
                        "shape": "S2q"
                    },
                    "textInput": {
                        "shape": "S1n"
                    },
                    "llmResponse": {
                        "shape": "S1n"
                    },
                    "evidenceSource": {
                        "shape": "S2q"
                    },
                    "format": {
                        "shape": "S2q"
                    },
                    "data": {
                        "type": "blob"
                    },
                    "properties": {
                        "shape": "S6v"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "createdBy": {},
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "lastUpdatedBy": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "evidenceId"
                ],
                "members": {
                    "evidenceId": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "PutFact": {
            "http": {
                "method": "PUT",
                "requestUri": "/investigationGroups/{identifier}/incidentReport/{incidentReportId}/facts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identifier",
                    "incidentReportId"
                ],
                "members": {
                    "identifier": {
                        "location": "uri",
                        "locationName": "identifier"
                    },
                    "incidentReportId": {
                        "location": "uri",
                        "locationName": "incidentReportId"
                    },
                    "fact": {
                        "shape": "S70"
                    },
                    "factToken": {
                        "shape": "S2q"
                    },
                    "factVersion": {
                        "shape": "S2q"
                    },
                    "factType": {
                        "shape": "S2q"
                    },
                    "evidences": {
                        "shape": "S71"
                    },
                    "summary": {
                        "shape": "S73"
                    },
                    "verified": {
                        "type": "boolean"
                    },
                    "constraints": {},
                    "properties": {
                        "shape": "S74"
                    },
                    "title": {},
                    "category": {
                        "shape": "S1n"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "factToken"
                ],
                "members": {
                    "factToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        },
        "StartEphemeralInvestigation": {
            "http": {
                "requestUri": "/ephemeralInvestigation",
                "responseCode": 200
            },
            "input": {
[...]
