{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2024-03-11",
        "endpointPrefix": "q",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceAbbreviation": "Q",
        "serviceFullName": "Amazon Q Developer",
        "serviceId": "Q",
        "signatureVersion": "v4",
        "signingName": "q",
        "uid": "AmazonQDeveloperService-2024-03-11",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateConnectorResource": {
            "http": {
                "requestUri": "/connectors/{connectorId}/associate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorId",
                    "resource"
                ],
                "members": {
                    "connectorId": {
                        "location": "uri",
                        "locationName": "connectorId"
                    },
                    "resource": {
                        "shape": "S3"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectorId",
                    "connectorName",
                    "connectorType",
                    "accountConnection"
                ],
                "members": {
                    "connectorId": {},
                    "connectorName": {},
                    "connectorType": {},
                    "accountConnection": {
                        "shape": "S8"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "CreateAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "principalId",
                    "principalType"
                ],
                "members": {
                    "principalId": {},
                    "principalType": {},
                    "token": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "CreateExtension": {
            "http": {
                "requestUri": "/CreateExtension",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "extensionProvider"
                ],
                "members": {
                    "extensionProvider": {},
                    "extensionCredential": {
                        "shape": "Sj"
                    },
                    "extensionProperties": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensionId"
                ],
                "members": {
                    "extensionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "CreatePlugin": {
            "http": {
                "requestUri": "/CreatePlugin",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "pluginProvider"
                ],
                "members": {
                    "pluginProvider": {},
                    "pluginCredential": {
                        "shape": "Ss"
                    },
                    "pluginProperties": {
                        "shape": "St"
                    },
                    "tags": {
                        "shape": "Sw"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "pluginAttributes": {
                        "shape": "S10"
                    },
                    "pluginName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "pluginId"
                ],
                "members": {
                    "pluginId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "CreateResolution": {
            "http": {
                "requestUri": "/session/{sessionId}/resolution",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "CreateScimAccessToken": {
            "http": {
                "requestUri": "/CreateScimAccessToken",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "scimAccessToken": {
                        "shape": "S1j"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DeleteAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "principalId",
                    "principalType"
                ],
                "members": {
                    "principalId": {},
                    "principalType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DeleteConversation": {
            "http": {
                "requestUri": "/DeleteConversation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DeleteExtension": {
            "http": {
                "requestUri": "/DeleteExtension",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "extensionId"
                ],
                "members": {
                    "extensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DeletePlugin": {
            "http": {
                "requestUri": "/DeletePlugin",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "pluginId"
                ],
                "members": {
                    "pluginId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DeleteScimAccessToken": {
            "http": {
                "requestUri": "/DeleteScimAccessToken",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileArn",
                    "scimAccessTokenId"
                ],
                "members": {
                    "profileArn": {},
                    "scimAccessTokenId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "GetConnector": {
            "http": {
                "method": "GET",
                "requestUri": "/connectors/{connectorId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectorId"
                ],
                "members": {
                    "connectorId": {
                        "location": "uri",
                        "locationName": "connectorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectorId",
                    "workspaceId",
                    "workspaceName",
                    "connectorName",
                    "userId",
                    "sourceAccount",
                    "description",
                    "connectorType",
                    "accountConnection",
                    "connectorConfiguration"
                ],
                "members": {
                    "connectorId": {},
                    "workspaceId": {},
                    "workspaceName": {},
                    "connectorName": {},
                    "userId": {},
                    "sourceAccount": {},
                    "description": {},
                    "connectorType": {},
                    "accountConnection": {
                        "shape": "S8"
                    },
                    "connectorConfiguration": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "targetRegions": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "GetConversation": {
            "http": {
                "requestUri": "/GetConversation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationId",
                    "messages"
                ],
                "members": {
                    "conversationId": {},
                    "title": {
                        "shape": "S1l"
                    },
                    "messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "utteranceId",
                                "type",
                                "format",
                                "content",
                                "from",
                                "timestamp"
                            ],
                            "members": {
                                "utteranceId": {},
                                "type": {},
                                "format": {},
                                "content": {
                                    "shape": "S2a"
                                },
                                "from": {},
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "intents": {
                                    "shape": "S2k"
                                },
                                "interactionComponents": {
                                    "shape": "S2o"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "GetExtension": {
            "http": {
                "requestUri": "/GetExtension",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "extensionId"
                ],
                "members": {
                    "extensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensionProvider",
                    "extensionId"
                ],
                "members": {
                    "extensionProvider": {},
                    "extensionId": {},
                    "extensionCredential": {
                        "shape": "Sj"
                    },
                    "extensionProperties": {
                        "shape": "Sl"
                    },
                    "creationTime": {
                        "shape": "S4l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "GetIdentityMetadata": {
            "http": {
                "method": "GET",
                "requestUri": "/identity/metadata",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "organization": {
                        "type": "structure",
                        "members": {
                            "ssoRegionId": {}
                        }
                    },
                    "subscription": {
                        "type": "structure",
                        "members": {
                            "status": {}
                        }
                    },
                    "profile": {
                        "type": "structure",
                        "required": [
                            "profileArn"
                        ],
                        "members": {
                            "profileArn": {},
                            "profileName": {},
                            "description": {},
                            "createdAt": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "GetPlugin": {
            "http": {
                "requestUri": "/GetPlugin",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "pluginId"
                ],
                "members": {
                    "pluginId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "pluginProvider",
                    "pluginId"
                ],
                "members": {
                    "pluginProvider": {},
                    "pluginId": {},
                    "pluginName": {},
                    "pluginCredential": {
                        "shape": "Ss"
                    },
                    "pluginProperties": {
                        "shape": "St"
                    },
                    "creationTime": {
                        "shape": "S4l"
                    },
                    "pluginAttributes": {
                        "shape": "S10"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "GetTask": {
            "http": {
                "requestUri": "/getTask",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "taskId"
                ],
                "members": {
                    "taskId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId",
                    "state",
                    "taskDetails",
                    "lastUpdatedAt"
                ],
                "members": {
                    "taskId": {},
                    "state": {},
                    "taskDetails": {
                        "shape": "S39"
                    },
                    "refreshIntervalSeconds": {
                        "type": "integer"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "expiresAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "GetTroubleshootingResults": {
            "http": {
                "method": "GET",
                "requestUri": "/session/{sessionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {},
                    "errorDetail": {
                        "shape": "S4z"
                    },
                    "analysis": {
                        "shape": "S1l"
                    },
                    "resolutionSuggestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "description": {
                                    "shape": "S1l"
                                },
                                "detailedResolutionOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "resolution": {
                                                "type": "structure",
                                                "members": {
                                                    "cli": {
                                                        "type": "structure",
                                                        "members": {
                                                            "commands": {
                                                                "type": "list",
                                                                "member": {
                                                                    "type": "structure",
                                                                    "members": {
                                                                        "command": {
                                                                            "shape": "S1l"
                                                                        },
                                                                        "description": {
                                                                            "shape": "S1l"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "status": {}
                                                        }
                                                    },
                                                    "cdk": {
                                                        "type": "structure",
                                                        "members": {
                                                            "language": {},
                                                            "codeSnippet": {
                                                                "shape": "S1l"
                                                            },
                                                            "status": {}
                                                        }
                                                    },
                                                    "python": {
                                                        "type": "structure",
                                                        "members": {
                                                            "pythonCodeSnippet": {
                                                                "shape": "S1l"
                                                            },
                                                            "status": {}
                                                        }
                                                    },
                                                    "manual": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "resolution": {
                                                                    "shape": "S1l"
                                                                },
                                                                "status": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "troubleshootingCommands": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "commandId": {},
                                "status": {},
                                "client": {},
                                "command": {},
                                "parameters": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "type": {},
                                            "value": {
                                                "shape": "S1l"
                                            }
                                        }
                                    }
                                },
                                "result": {
                                    "shape": "S1l"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "InvokeTask": {
            "http": {
                "requestUri": "/invokeTask",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "taskId",
                    "payload"
                ],
                "members": {
                    "taskId": {},
                    "payload": {
                        "shape": "S3m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskId"
                ],
                "members": {
                    "taskId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "ListConversations": {
            "http": {
                "requestUri": "/ListConversations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "origins": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversations"
                ],
                "members": {
                    "conversations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "conversationId",
                                "timestamp"
                            ],
                            "members": {
                                "conversationId": {},
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "title": {
                                    "shape": "S1l"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "ListDashboardMetrics": {
            "http": {
                "requestUri": "/ListDashboardMetrics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metrics"
                ],
                "members": {
                    "metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "dimensions"
                            ],
                            "members": {
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "dimensions": {
                                    "type": "structure",
                                    "members": {
                                        "programmingLanguage": {
                                            "type": "structure",
                                            "required": [
                                                "languageName"
                                            ],
                                            "members": {
                                                "languageName": {}
                                            }
                                        },
                                        "ideCategory": {},
                                        "customizationArn": {},
                                        "isGlobalMetrics": {
                                            "type": "structure",
                                            "members": {}
                                        }
                                    }
                                },
                                "chatMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "messagesSent": {
                                            "type": "long"
                                        },
                                        "messagesInteracted": {
                                            "type": "long"
                                        },
                                        "aiCodeLines": {
                                            "type": "long"
                                        },
                                        "charactersOfCodeAccepted": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "InlineMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "suggestionsCount": {
                                            "type": "long"
                                        },
                                        "acceptanceCount": {
                                            "type": "long"
                                        },
                                        "aiCodeLines": {
                                            "type": "long"
                                        },
                                        "charactersOfCodeAccepted": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "userActivityMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "activeUserCount": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "devMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "linesOfCodeAccepted": {
                                            "type": "long"
                                        },
                                        "linesOfCodeGenerated": {
                                            "type": "long"
                                        },
                                        "charactersOfCodeAccepted": {
                                            "type": "integer"
                                        },
                                        "charactersOfCodeGenerated": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "transformMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "transformsPerformed": {
                                            "type": "long"
                                        },
                                        "linesOfCodeChanged": {
                                            "type": "long"
                                        },
                                        "charactersOfCodeChanged": {
                                            "type": "integer"
                                        },
                                        "linesOfCodeSubmitted": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "docMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "acceptedNumberOfAddFiles": {
                                            "type": "long"
                                        },
                                        "totalNumberOfAddFiles": {
                                            "type": "long"
                                        },
                                        "acceptedNumberOfUpdateFiles": {
                                            "type": "long"
                                        },
                                        "totalNumberOfUpdateFiles": {
                                            "type": "long"
                                        },
                                        "acceptedNumberOfAddLines": {
                                            "type": "long"
                                        },
                                        "totalNumberOfAddLines": {
                                            "type": "long"
                                        },
                                        "acceptedNumberOfUpdateLines": {
                                            "type": "long"
                                        },
                                        "totalNumberOfUpdateLines": {
                                            "type": "long"
                                        },
                                        "charactersAddedAccepted": {
                                            "type": "integer"
                                        },
                                        "charactersAddedTotal": {
                                            "type": "integer"
                                        },
                                        "charactersUpdatedAccepted": {
                                            "type": "integer"
                                        },
                                        "charactersUpdatedTotal": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "inlineChatMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "acceptedNumSuggestionAddLines": {
                                            "type": "long"
                                        },
                                        "totalNumSuggestionAddLines": {
                                            "type": "long"
                                        },
                                        "suggestionsCount": {
                                            "type": "long"
                                        },
                                        "acceptanceCount": {
                                            "type": "long"
                                        },
                                        "charactersAddedFromSuggestionsAccepted": {
                                            "type": "integer"
                                        },
                                        "charactersAddedFromSuggestionsTotal": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "testMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "linesOfCodeAccepted": {
                                            "type": "long"
                                        },
                                        "linesOfCodeGenerated": {
                                            "type": "long"
                                        },
                                        "charactersOfCodeAccepted": {
                                            "type": "integer"
                                        },
                                        "charactersOfCodeGenerated": {
                                            "type": "integer"
                                        },
                                        "numberOfUnitTestCasesAccepted": {
                                            "type": "long"
                                        },
                                        "numberOfUnitTestCasesGenerated": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "codeFixMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "numberOfCodeFixAccepted": {
                                            "type": "long"
                                        },
                                        "numberOfCodeFixGenerated": {
                                            "type": "long"
                                        },
                                        "linesOfCodeAccepted": {
                                            "type": "long"
                                        },
                                        "linesOfCodeGenerated": {
                                            "type": "long"
                                        },
                                        "charactersOfCodeAccepted": {
                                            "type": "integer"
                                        },
                                        "charactersOfCodeGenerated": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "codeReviewMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "numberOfSucceededCodeReviews": {
                                            "type": "long"
                                        },
                                        "numberOfFailedCodeReviews": {
                                            "type": "long"
                                        },
                                        "numberOfFindings": {
                                            "type": "long"
                                        },
                                        "numberOfFailedManualCodeReviews": {
                                            "type": "long"
                                        },
                                        "numberOfManualFindings": {
                                            "type": "long"
                                        },
                                        "numberOfSucceededManualCodeReviews": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "codeCoverageMetrics": {
                                    "type": "structure",
                                    "members": {
                                        "charactersWrittenByUser": {
                                            "type": "integer"
                                        },
                                        "linesWrittenByUser": {
                                            "type": "long"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "ListExtensionProviders": {
            "http": {
                "requestUri": "/ListExtensionProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensionProviders"
                ],
                "members": {
                    "extensionProviders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "extensionProvider"
                            ],
                            "members": {
                                "extensionProvider": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "ListExtensions": {
            "http": {
                "requestUri": "/ListExtensions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "extensions"
                ],
                "members": {
                    "extensions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "extensionProvider",
                                "extensionId"
                            ],
                            "members": {
                                "extensionProvider": {},
                                "extensionId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "ListGroups": {
            "http": {
                "requestUri": "/ListGroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileArn"
                ],
                "members": {
                    "profileArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "groups"
                ],
                "members": {
                    "groups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "groupId"
                            ],
                            "members": {
                                "groupId": {},
                                "name": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "ListPluginProviders": {
            "http": {
                "requestUri": "/ListPluginProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "pluginProviders"
                ],
                "members": {
                    "pluginProviders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "pluginProvider"
                            ],
                            "members": {
                                "pluginProvider": {},
                                "description": {},
                                "supportedFeatures": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
[...]
