{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-08-17",
        "endpointPrefix": "amplify",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Amplify Console Extensions Service",
        "serviceId": "Amplify",
        "signatureVersion": "v4",
        "signingName": "amplify",
        "uid": "amplify-2021-08-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/KQMEXOK7L6BVCDPNO6NAQWCL7LD254QDDB53M4HDV7RJKL27XFBA/vendors~main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F54LW5SCU5MQFBQQ2HDU4OOKE6VLPQWHWM2LFNIP2SEEYN5V4DAA/vendors~main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BR6EBMUKWGJUKNWTENETQGRWJKYCTZR52JAI53T2TRBDJCR2366A/vendors~main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G54SVLJ4NBCG3YEQXEIGIDNVDED4RHBMNSLZS5XJTPK3HPBBFD4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/73SVQFN5TH7F6MKFNKN5ONYCRNTHAAHLL45JAGFYY6RE4ZO2D5MQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/376RUGPLZAU3JQ45XBPUB643ZJO7R4QP57YNKBO2ZEBQRI4DNTVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/625PRXKGTXWR2TWDOL3Y5VGVLSXWTYUZIZF62J6IK7VOODAJ46EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GDNMPFWYYUXCUQMDUNFOFQIVZVZXQ54G7WNLSY4Z6VGSZ3SX2XJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XY4YRKNSA736JRYUSS2O73IE4HXNVTNHAJAQTB3BRTKHHWADH6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TCQRSYXFQRHNAMHKW7H4AMZTJ66X4BKBJCGJUWSCXUQUOWWOWXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VC5HJKIXW3SDJPD2SD4BTPRQVTIVMCK3ZJE7EASRLHE2GRM6SKCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFQ23CROIQJSAMKHLHIZUKILXCOYCA3OJ6QPOBORBSG7IPOUYJAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MPE5GVWAQ5Y74BV2O7KUIDOKNUQ3GSIAJTWTXZT47L3ILDM6QNOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V5R374YRDQWQ3YJ6XVT47JZQI6JTP36I6E3YP4JALBAC55XTEPRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HCJBEHPZAWYC7HXVHEVONYBJLRUH4OUJC6JJJ3BHMHTEDMSPTJ6Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TDZ3ZJ5RAUROMJRBR4LUXFBD2BATH7SS7RTJEGDT7OVCJVJAZUBQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TYSRR6E52WKPL73YPG5UXHFM555LXGCOMU6NUZFEK6HXXQY2FXRA/commons.js"
        ]
    },
    "operations": {
        "CreateApp": {
            "name": "CreateApp",
            "http": {
                "method": "POST",
                "requestUri": "/access-token",
                "responseCode": 200
            },
            "input": {
                "shape": "GenerateAccessTokenRequest"
            },
            "output": {
                "shape": "GenerateAccessTokenResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InvalidParameterException"
                }
            ],
            "documentation": "<p>Generates a Github access token required for the CreateApp operation</p>",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQMEXOK7L6BVCDPNO6NAQWCL7LD254QDDB53M4HDV7RJKL27XFBA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F54LW5SCU5MQFBQQ2HDU4OOKE6VLPQWHWM2LFNIP2SEEYN5V4DAA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BR6EBMUKWGJUKNWTENETQGRWJKYCTZR52JAI53T2TRBDJCR2366A/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G54SVLJ4NBCG3YEQXEIGIDNVDED4RHBMNSLZS5XJTPK3HPBBFD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73SVQFN5TH7F6MKFNKN5ONYCRNTHAAHLL45JAGFYY6RE4ZO2D5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/376RUGPLZAU3JQ45XBPUB643ZJO7R4QP57YNKBO2ZEBQRI4DNTVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/625PRXKGTXWR2TWDOL3Y5VGVLSXWTYUZIZF62J6IK7VOODAJ46EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDNMPFWYYUXCUQMDUNFOFQIVZVZXQ54G7WNLSY4Z6VGSZ3SX2XJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XY4YRKNSA736JRYUSS2O73IE4HXNVTNHAJAQTB3BRTKHHWADH6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TCQRSYXFQRHNAMHKW7H4AMZTJ66X4BKBJCGJUWSCXUQUOWWOWXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VC5HJKIXW3SDJPD2SD4BTPRQVTIVMCK3ZJE7EASRLHE2GRM6SKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFQ23CROIQJSAMKHLHIZUKILXCOYCA3OJ6QPOBORBSG7IPOUYJAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPE5GVWAQ5Y74BV2O7KUIDOKNUQ3GSIAJTWTXZT47L3ILDM6QNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5R374YRDQWQ3YJ6XVT47JZQI6JTP36I6E3YP4JALBAC55XTEPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCJBEHPZAWYC7HXVHEVONYBJLRUH4OUJC6JJJ3BHMHTEDMSPTJ6Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDZ3ZJ5RAUROMJRBR4LUXFBD2BATH7SS7RTJEGDT7OVCJVJAZUBQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYSRR6E52WKPL73YPG5UXHFM555LXGCOMU6NUZFEK6HXXQY2FXRA/commons.js"
            ]
        }
    },
    "shapes": {
        "GenerateAccessTokenRequest": {
            "type": "structure",
            "required": [
                "clientId",
                "code",
                "repositoryType"
            ],
            "members": {
                "accountId": {
                    "shape": "String"
                },
                "clientId": {
                    "shape": "String"
                },
                "code": {
                    "shape": "SensitiveString"
                },
                "repositoryType": {
                    "shape": "String"
                },
                "state": {
                    "shape": "String"
                }
            }
        },
        "GenerateAccessTokenResponse": {
            "type": "structure",
            "required": [
                "body"
            ],
            "members": {
                "body": {
                    "shape": "GitHubBody"
                }
            },
            "payload": "body"
        },
        "GitHubBody": {
            "type": "structure",
            "required": [
                "accessToken"
            ],
            "members": {
                "accessToken": {
                    "shape": "SensitiveString"
                },
                "installationIds": {
                    "shape": "InstallationIds"
                }
            }
        },
        "InstallationIds": {
            "type": "list",
            "member": {
                "shape": "Integer"
            }
        },
        "Integer": {
            "type": "integer",
            "box": true
        },
        "InvalidParameterException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "exception": true
        },
        "SensitiveString": {
            "type": "string",
            "sensitive": true
        },
        "String": {
            "type": "string"
        },
        "ValidationException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "fieldList": {
                    "shape": "ValidationExceptionFieldList",
                    "documentation": "<p>A list of specific failures encountered while validating the input. A member can appear in this list more than once if it failed to satisfy multiple constraints.</p>"
                },
                "message": {
                    "shape": "String",
                    "documentation": "<p>A summary of the validation failure.</p>"
                }
            },
            "documentation": "<p>A standard error for input validation failures. This should be thrown by services when a member of the input structure falls outside of the modeled or documented constraints.</p>",
            "exception": true
        },
        "ValidationExceptionField": {
            "type": "structure",
            "required": [
                "message",
                "path"
            ],
            "members": {
                "message": {
                    "shape": "String",
                    "documentation": "<p>A detailed description of the validation failure.</p>"
                },
                "path": {
                    "shape": "String",
                    "documentation": "<p>A JSONPointer expression to the structure member whose value failed to satisfy the modeled constraints.</p>"
                }
            },
            "documentation": "<p>Describes one specific validation failure for an input member.</p>"
        },
        "ValidationExceptionFieldList": {
            "type": "list",
            "member": {
                "shape": "ValidationExceptionField"
            }
        }
    }
}