{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-08-17",
        "endpointPrefix": "amplify",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Amplify Console Extensions Service",
        "serviceId": "Amplify",
        "signatureVersion": "v4",
        "signingName": "amplify",
        "uid": "amplify-2021-08-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JYSPCQE5VPILGCKNQGZWLCIPVXEUMLAY3W74TA3AB4NXK6GSMMVQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZK3ZKVKFKL64BVLZB2GIYKSWLDMRYDC24KCDNJ2LDFXPI7NRR75A/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RTUVYOGOIYZM64UFSC4GFT3NKHHVE7N6QTMHIPQTW7OGQWSWELPA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVWE3DBU7RLPSGF6RFDWYY6MNZ3SHSLJSU5S4H7ORA6WCRSI4U4Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRIOIB6Q4TWTDN37CGIWYZNIU6ROAXT462QC2DASODF7TUROLOKA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTJQRMEOO7VVQ2CVRR7I545LVC2QPIQXZU5WQDYCAEIVIKTTSTGQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IWZUNVEMDRODXOJAJ3KPR7EUMUY33TJ5WEZVEU76XBT7WIFNUW3A/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AOEXRPZO3IRVXIIXDKJMT5WANBROPHFHQQNDC2IUMIKCQZPO7GWQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WODRDMY7UIAZFHQYMDFWY2EZSZIQ2NA4SZK5T4QFSUE7F7435PEA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4V2TQLVTW3OOGOOLNYKHLRAY3W4EMKNZTSZFJ7J4TOZIG2JBPDMA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTXME3VU3APBSREDTWBPND6WCLJUMH6M2DKXFCYRKZAXD3LSFYAQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPBTC5FCO2IJLZXDLZGELJ2YXYQXLQY3L5447I6HO5RG666SRUNQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZL4GBDE5SPHBO6K2MK5FZG7AJ2LTZUL2VENWZTMKITK2Q6VAKLQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/32J6LDA6RLTX7S3TIAWJ3UC3DB5EEN7GJJOJBVBT7OWGPUTMJFDQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GF2T6GOLD2F4NXFR7CZF3NZ5I6467UHFQT6UY3AMM2E6OSIT25EA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LIE3IGIUI5RTM3D5M7CHB74C3ZCLHRKFMAZDTQYRRRLIC3M66TRQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZTWAG5W27QO6YVKNAMOCW6HFLA7XTFVCWZLLH7VHRCNOM5UZQFCQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VLLCHR3REPNQNM3KVURZQKT4OY2WXZJPHG7QZELOZHFZIOQJ73IQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5B5N724RJF2RWNOZZ5AIWOEZGVLZGW7RWISZZXWOR5WFHIZNSYQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEN72RBTTXHN5NOPE7ZJWTDXJ57GW5MU5YTNDB5NLVQSHQKRQ3EA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VYMCDBCMB3F7BVKPSK6AB3TOXVEUV3FW7FZ7U35C3IEWDHEYCIWA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VJOFWUMVOLYAK6QX7IEJPEZGTJZAA736Z4AQTKXFPRUKUIQVW37Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWP3ENE6KMRHXQQINOOTDQACGKNTISEV4WAXBJCRZPMY6ZWZRJ4Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FW5UYHUMRWNGPYH2NLKHWLZIJZQ2JUC2JNQPIZZM5FM7ICYEYSYA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FRRF75DIG2XYS3P3LIV3QVIL6J5IWTVITB7VZ7NONUZSUCVL5YXQ/commons.js"
        ]
    },
    "operations": {
        "CreateApp": {
            "name": "CreateApp",
            "http": {
                "method": "POST",
                "requestUri": "/access-token",
                "responseCode": 200
            },
            "input": {
                "shape": "GenerateAccessTokenRequest"
            },
            "output": {
                "shape": "GenerateAccessTokenResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InvalidParameterException"
                }
            ],
            "documentation": "<p>Generates a Github access token required for the CreateApp operation</p>",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZK3ZKVKFKL64BVLZB2GIYKSWLDMRYDC24KCDNJ2LDFXPI7NRR75A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTUVYOGOIYZM64UFSC4GFT3NKHHVE7N6QTMHIPQTW7OGQWSWELPA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVWE3DBU7RLPSGF6RFDWYY6MNZ3SHSLJSU5S4H7ORA6WCRSI4U4Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRIOIB6Q4TWTDN37CGIWYZNIU6ROAXT462QC2DASODF7TUROLOKA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTJQRMEOO7VVQ2CVRR7I545LVC2QPIQXZU5WQDYCAEIVIKTTSTGQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWZUNVEMDRODXOJAJ3KPR7EUMUY33TJ5WEZVEU76XBT7WIFNUW3A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOEXRPZO3IRVXIIXDKJMT5WANBROPHFHQQNDC2IUMIKCQZPO7GWQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WODRDMY7UIAZFHQYMDFWY2EZSZIQ2NA4SZK5T4QFSUE7F7435PEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4V2TQLVTW3OOGOOLNYKHLRAY3W4EMKNZTSZFJ7J4TOZIG2JBPDMA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTXME3VU3APBSREDTWBPND6WCLJUMH6M2DKXFCYRKZAXD3LSFYAQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPBTC5FCO2IJLZXDLZGELJ2YXYQXLQY3L5447I6HO5RG666SRUNQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZL4GBDE5SPHBO6K2MK5FZG7AJ2LTZUL2VENWZTMKITK2Q6VAKLQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32J6LDA6RLTX7S3TIAWJ3UC3DB5EEN7GJJOJBVBT7OWGPUTMJFDQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF2T6GOLD2F4NXFR7CZF3NZ5I6467UHFQT6UY3AMM2E6OSIT25EA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIE3IGIUI5RTM3D5M7CHB74C3ZCLHRKFMAZDTQYRRRLIC3M66TRQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTWAG5W27QO6YVKNAMOCW6HFLA7XTFVCWZLLH7VHRCNOM5UZQFCQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLLCHR3REPNQNM3KVURZQKT4OY2WXZJPHG7QZELOZHFZIOQJ73IQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5B5N724RJF2RWNOZZ5AIWOEZGVLZGW7RWISZZXWOR5WFHIZNSYQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEN72RBTTXHN5NOPE7ZJWTDXJ57GW5MU5YTNDB5NLVQSHQKRQ3EA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYMCDBCMB3F7BVKPSK6AB3TOXVEUV3FW7FZ7U35C3IEWDHEYCIWA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJOFWUMVOLYAK6QX7IEJPEZGTJZAA736Z4AQTKXFPRUKUIQVW37Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWP3ENE6KMRHXQQINOOTDQACGKNTISEV4WAXBJCRZPMY6ZWZRJ4Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW5UYHUMRWNGPYH2NLKHWLZIJZQ2JUC2JNQPIZZM5FM7ICYEYSYA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRRF75DIG2XYS3P3LIV3QVIL6J5IWTVITB7VZ7NONUZSUCVL5YXQ/commons.js"
            ]
        }
    },
    "shapes": {
        "GenerateAccessTokenRequest": {
            "type": "structure",
            "required": [
                "clientId",
                "code",
                "repositoryType"
            ],
            "members": {
                "accountId": {
                    "shape": "String"
                },
                "clientId": {
                    "shape": "String"
                },
                "code": {
                    "shape": "SensitiveString"
                },
                "repositoryType": {
                    "shape": "String"
                },
                "state": {
                    "shape": "String"
                }
            }
        },
        "GenerateAccessTokenResponse": {
            "type": "structure",
            "required": [
                "body"
            ],
            "members": {
                "body": {
                    "shape": "GitHubBody"
                }
            },
            "payload": "body"
        },
        "GitHubBody": {
            "type": "structure",
            "required": [
                "accessToken"
            ],
            "members": {
                "accessToken": {
                    "shape": "SensitiveString"
                },
                "installationIds": {
                    "shape": "InstallationIds"
                }
            }
        },
        "InstallationIds": {
            "type": "list",
            "member": {
                "shape": "Integer"
            }
        },
        "Integer": {
            "type": "integer",
            "box": true
        },
        "InvalidParameterException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "exception": true
        },
        "SensitiveString": {
            "type": "string",
            "sensitive": true
        },
        "String": {
            "type": "string"
        },
        "ValidationException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "fieldList": {
                    "shape": "ValidationExceptionFieldList",
                    "documentation": "<p>A list of specific failures encountered while validating the input. A member can appear in this list more than once if it failed to satisfy multiple constraints.</p>"
                },
                "message": {
                    "shape": "String",
                    "documentation": "<p>A summary of the validation failure.</p>"
                }
            },
            "documentation": "<p>A standard error for input validation failures. This should be thrown by services when a member of the input structure falls outside of the modeled or documented constraints.</p>",
            "exception": true
        },
        "ValidationExceptionField": {
            "type": "structure",
            "required": [
                "message",
                "path"
            ],
            "members": {
                "message": {
                    "shape": "String",
                    "documentation": "<p>A detailed description of the validation failure.</p>"
                },
                "path": {
                    "shape": "String",
                    "documentation": "<p>A JSONPointer expression to the structure member whose value failed to satisfy the modeled constraints.</p>"
                }
            },
            "documentation": "<p>Describes one specific validation failure for an input member.</p>"
        },
        "ValidationExceptionFieldList": {
            "type": "list",
            "member": {
                "shape": "ValidationExceptionField"
            }
        }
    }
}