{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "amplify",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amplify",
        "serviceFullName": "AWS Amplify",
        "serviceId": "Amplify",
        "signatureVersion": "v4",
        "signingName": "amplify",
        "uid": "amplify-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
        ]
    },
    "operations": {
        "CreateApp": {
            "http": {
                "requestUri": "/apps"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "repository": {},
                    "platform": {},
                    "iamServiceRoleArn": {},
                    "oauthToken": {
                        "shape": "S7"
                    },
                    "accessToken": {
                        "shape": "S8"
                    },
                    "environmentVariables": {
                        "shape": "S9"
                    },
                    "enableBranchAutoBuild": {
                        "type": "boolean"
                    },
                    "enableBranchAutoDeletion": {
                        "type": "boolean"
                    },
                    "enableBasicAuth": {
                        "type": "boolean"
                    },
                    "basicAuthCredentials": {
                        "shape": "Sf"
                    },
                    "customRules": {
                        "shape": "Sg"
                    },
                    "tags": {
                        "shape": "Sm"
                    },
                    "buildSpec": {
                        "shape": "Sp"
                    },
                    "customHeaders": {},
                    "enableAutoBranchCreation": {
                        "type": "boolean"
                    },
                    "autoBranchCreationPatterns": {
                        "shape": "Ss"
                    },
                    "autoBranchCreationConfig": {
                        "shape": "Su"
                    },
                    "buildConfiguration": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "CreateBackendEnvironment": {
            "http": {
                "requestUri": "/apps/{appId}/backendenvironments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "environmentName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {},
                    "stackName": {},
                    "deploymentArtifacts": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "backendEnvironment"
                ],
                "members": {
                    "backendEnvironment": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "CreateBranch": {
            "http": {
                "requestUri": "/apps/{appId}/branches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {},
                    "description": {},
                    "stage": {},
                    "framework": {},
                    "enableNotification": {
                        "type": "boolean"
                    },
                    "enableAutoBuild": {
                        "type": "boolean"
                    },
                    "environmentVariables": {
                        "shape": "S9"
                    },
                    "basicAuthCredentials": {
                        "shape": "Sf"
                    },
                    "enableBasicAuth": {
                        "type": "boolean"
                    },
                    "enablePerformanceMode": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "Sm"
                    },
                    "buildSpec": {
                        "shape": "Sp"
                    },
                    "ttl": {},
                    "displayName": {},
                    "enablePullRequestPreview": {
                        "type": "boolean"
                    },
                    "pullRequestEnvironmentName": {},
                    "backendEnvironmentArn": {},
                    "backend": {
                        "shape": "S1s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "branch"
                ],
                "members": {
                    "branch": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "CreateDeployment": {
            "http": {
                "requestUri": "/apps/{appId}/branches/{branchName}/deployments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "fileMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "fileUploadUrls",
                    "zipUploadUrl"
                ],
                "members": {
                    "jobId": {},
                    "fileUploadUrls": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "zipUploadUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "CreateDomainAssociation": {
            "http": {
                "requestUri": "/apps/{appId}/domains"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "domainName",
                    "subDomainSettings"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "domainName": {},
                    "enableAutoSubDomain": {
                        "type": "boolean"
                    },
                    "subDomainSettings": {
                        "shape": "S28"
                    },
                    "autoSubDomainCreationPatterns": {
                        "shape": "S2b"
                    },
                    "autoSubDomainIAMRole": {},
                    "certificateSettings": {
                        "shape": "S2k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainAssociation"
                ],
                "members": {
                    "domainAssociation": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "CreateWebhook": {
            "http": {
                "requestUri": "/apps/{appId}/webhooks"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "webhook"
                ],
                "members": {
                    "webhook": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "DeleteApp": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "DeleteBackendEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/backendenvironments/{environmentName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "environmentName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {
                        "location": "uri",
                        "locationName": "environmentName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "backendEnvironment"
                ],
                "members": {
                    "backendEnvironment": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "DeleteBranch": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/branches/{branchName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "branch"
                ],
                "members": {
                    "branch": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "DeleteDomainAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/domains/{domainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "domainName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainAssociation"
                ],
                "members": {
                    "domainAssociation": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "DeleteJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName",
                    "jobId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobSummary"
                ],
                "members": {
                    "jobSummary": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "DeleteWebhook": {
            "http": {
                "method": "DELETE",
                "requestUri": "/webhooks/{webhookId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "webhookId"
                ],
                "members": {
                    "webhookId": {
                        "location": "uri",
                        "locationName": "webhookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "webhook"
                ],
                "members": {
                    "webhook": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "GenerateAccessLogs": {
            "http": {
                "requestUri": "/apps/{appId}/accesslogs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName",
                    "appId"
                ],
                "members": {
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "domainName": {},
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "GetApp": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "GetArtifactUrl": {
            "http": {
                "method": "GET",
                "requestUri": "/artifacts/{artifactId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "artifactId"
                ],
                "members": {
                    "artifactId": {
                        "location": "uri",
                        "locationName": "artifactId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "artifactId",
                    "artifactUrl"
                ],
                "members": {
                    "artifactId": {},
                    "artifactUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "GetBackendEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/backendenvironments/{environmentName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "environmentName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {
                        "location": "uri",
                        "locationName": "environmentName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "backendEnvironment"
                ],
                "members": {
                    "backendEnvironment": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "GetBranch": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/branches/{branchName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "branch"
                ],
                "members": {
                    "branch": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "GetDomainAssociation": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/domains/{domainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "domainName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainAssociation"
                ],
                "members": {
                    "domainAssociation": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "GetJob": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName",
                    "jobId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "job"
                ],
                "members": {
                    "job": {
                        "type": "structure",
                        "required": [
                            "summary",
                            "steps"
                        ],
                        "members": {
                            "summary": {
                                "shape": "S34"
                            },
                            "steps": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "stepName",
                                        "startTime",
                                        "status",
                                        "endTime"
                                    ],
                                    "members": {
                                        "stepName": {},
                                        "startTime": {
                                            "type": "timestamp"
                                        },
                                        "status": {},
                                        "endTime": {
                                            "type": "timestamp"
                                        },
                                        "logUrl": {},
                                        "artifactsUrl": {},
                                        "testArtifactsUrl": {},
                                        "testConfigUrl": {},
                                        "screenshots": {
                                            "type": "map",
                                            "key": {},
                                            "value": {}
                                        },
                                        "statusReason": {},
                                        "context": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "GetWebhook": {
            "http": {
                "method": "GET",
                "requestUri": "/webhooks/{webhookId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "webhookId"
                ],
                "members": {
                    "webhookId": {
                        "location": "uri",
                        "locationName": "webhookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "webhook"
                ],
                "members": {
                    "webhook": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "ListApps": {
            "http": {
                "method": "GET",
                "requestUri": "/apps"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "apps"
                ],
                "members": {
                    "apps": {
                        "type": "list",
                        "member": {
                            "shape": "S12"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "ListArtifacts": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}/artifacts"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName",
                    "jobId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "artifacts"
                ],
                "members": {
                    "artifacts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "artifactFileName",
                                "artifactId"
                            ],
                            "members": {
                                "artifactFileName": {},
                                "artifactId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3UZMVVLEB4RSWOUNY5PNVLGY5E52PIK6ZP45HJSWPBSQTKOZFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHNW4ZKDY4K5ZMDXNBFQET7H6HBOIIVVI57LG5NGNCYXYD4SMKRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWI7FSVJ7I2OBRDCW2SJDCKGM3U7BZUKVIWFY64AUD4NQD6UPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63PMLFV2FGUBTH3V5FWMVONBETRCU3Q2BAKCTPHSLCSDLDOBFYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGJDYVW4JZDQ5BRZXZRBWY73J6HNG7VUWAYIHS6HLU4N5OT73PSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ICBOIDI44GXTLZ4WHIJLKFVW7KOIQUMIJZI34G2W7WLMRGPZNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PJYGMNJ4OYKMGR3LUGYYHZBRKDBIOI2GXQDBBYRSGOR7AE4FJZA/vendors.js"
            ]
        },
        "ListBackendEnvironments": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/backendenvironments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {
                        "location": "querystring",
                        "locationName": "environmentName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
[...]
