{
    "metadata": {
        "apiVersion": "2020-08-11",
        "endpointPrefix": "amplifybackend",
        "signingName": "amplifybackend",
        "serviceFullName": "AmplifyBackend",
        "serviceId": "AmplifyBackend",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "amplifybackend-2020-08-11",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
        ]
    },
    "operations": {
        "CloneBackend": {
            "http": {
                "requestUri": "/backend/{appId}/environments/{backendEnvironmentName}/clone",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "TargetEnvironmentName": {
                        "locationName": "targetEnvironmentName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "TargetEnvironmentName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "CreateBackend": {
            "http": {
                "requestUri": "/backend",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "AppName": {
                        "locationName": "appName"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "locationName": "resourceConfig",
                        "type": "structure",
                        "members": {}
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "AppName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "CreateBackendAPI": {
            "http": {
                "requestUri": "/backend/{appId}/api",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "shape": "S8",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "ResourceName",
                    "BackendEnvironmentName",
                    "ResourceConfig"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "CreateBackendAuth": {
            "http": {
                "requestUri": "/backend/{appId}/auth",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "shape": "Si",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "ResourceName",
                    "BackendEnvironmentName",
                    "ResourceConfig"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "CreateBackendConfig": {
            "http": {
                "requestUri": "/backend/{appId}/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendManagerAppId": {
                        "locationName": "backendManagerAppId"
                    }
                },
                "required": [
                    "AppId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "CreateBackendStorage": {
            "http": {
                "requestUri": "/backend/{appId}/storage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "locationName": "resourceConfig",
                        "type": "structure",
                        "members": {
                            "BucketName": {
                                "locationName": "bucketName"
                            },
                            "Permissions": {
                                "shape": "S1h",
                                "locationName": "permissions"
                            },
                            "ServiceName": {
                                "locationName": "serviceName"
                            }
                        },
                        "required": [
                            "ServiceName",
                            "Permissions"
                        ]
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "ResourceName",
                    "BackendEnvironmentName",
                    "ResourceConfig"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S32WFAQHNUWRDRUT4VTFAJIFCQM3JALJPPXVPWDGE6HQN675UYKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBQHJJSZ54JD3PAKFWDOTJPQUVJOOUZKFXJKR4XS4ROIJZF2EJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25NBVYJAHQTZB5E4WWOUIZ4X3NKDNQTVD2D2Z2S4YIH2QYSIEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36BYVPYN2DE2PPISFDKQN7MCWA2J6MK6R3HJT4SKLSYN5ODLHZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEIXOGDMUTQQS5FJELVQBTEQ47UWF5WISE7YKP7THTKUXRPNDQJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFI2QIV2A3PNEF5Y4G2MYYXVKP2MQDWUG2TJ233NGNQPIJUSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "CreateToken": {
            "http": {
                "requestUri": "/backend/{appId}/challenge",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                },
                "required": [
                    "AppId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "ChallengeCode": {
                        "locationName": "challengeCode"
                    },
                    "SessionId": {
                        "locationName": "sessionId"
                    },
                    "Ttl": {
                        "locationName": "ttl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "DeleteBackend": {
            "http": {
                "requestUri": "/backend/{appId}/environments/{backendEnvironmentName}/remove",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "DeleteBackendAPI": {
            "http": {
                "requestUri": "/backend/{appId}/api/{backendEnvironmentName}/remove",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "shape": "S8",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "DeleteBackendAuth": {
            "http": {
                "requestUri": "/backend/{appId}/auth/{backendEnvironmentName}/remove",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "DeleteBackendStorage": {
            "http": {
                "requestUri": "/backend/{appId}/storage/{backendEnvironmentName}/remove",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    },
                    "ServiceName": {
                        "locationName": "serviceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ServiceName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S32WFAQHNUWRDRUT4VTFAJIFCQM3JALJPPXVPWDGE6HQN675UYKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBQHJJSZ54JD3PAKFWDOTJPQUVJOOUZKFXJKR4XS4ROIJZF2EJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25NBVYJAHQTZB5E4WWOUIZ4X3NKDNQTVD2D2Z2S4YIH2QYSIEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36BYVPYN2DE2PPISFDKQN7MCWA2J6MK6R3HJT4SKLSYN5ODLHZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEIXOGDMUTQQS5FJELVQBTEQ47UWF5WISE7YKP7THTKUXRPNDQJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFI2QIV2A3PNEF5Y4G2MYYXVKP2MQDWUG2TJ233NGNQPIJUSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "DeleteToken": {
            "http": {
                "requestUri": "/backend/{appId}/challenge/{sessionId}/remove",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "SessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                },
                "required": [
                    "SessionId",
                    "AppId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "IsSuccess": {
                        "locationName": "isSuccess",
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GenerateBackendAPIModels": {
            "http": {
                "requestUri": "/backend/{appId}/api/{backendEnvironmentName}/generateModels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GetBackend": {
            "http": {
                "requestUri": "/backend/{appId}/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    }
                },
                "required": [
                    "AppId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AmplifyFeatureFlags": {
                        "locationName": "amplifyFeatureFlags"
                    },
                    "AmplifyMetaConfig": {
                        "locationName": "amplifyMetaConfig"
                    },
                    "AppId": {
                        "locationName": "appId"
                    },
                    "AppName": {
                        "locationName": "appName"
                    },
                    "BackendEnvironmentList": {
                        "shape": "S11",
                        "locationName": "backendEnvironmentList"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GetBackendAPI": {
            "http": {
                "requestUri": "/backend/{appId}/api/{backendEnvironmentName}/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "shape": "S8",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "ResourceConfig": {
                        "shape": "S8",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GetBackendAPIModels": {
            "http": {
                "requestUri": "/backend/{appId}/api/{backendEnvironmentName}/getModels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Models": {
                        "locationName": "models"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GetBackendAuth": {
            "http": {
                "requestUri": "/backend/{appId}/auth/{backendEnvironmentName}/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "ResourceConfig": {
                        "shape": "Si",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GetBackendJob": {
            "http": {
                "method": "GET",
                "requestUri": "/backend/{appId}/job/{backendEnvironmentName}/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "JobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "JobId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "CreateTime": {
                        "locationName": "createTime"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    },
                    "UpdateTime": {
                        "locationName": "updateTime"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GetBackendStorage": {
            "http": {
                "requestUri": "/backend/{appId}/storage/{backendEnvironmentName}/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "locationName": "resourceConfig",
                        "type": "structure",
                        "members": {
                            "BucketName": {
                                "locationName": "bucketName"
                            },
                            "Imported": {
                                "locationName": "imported",
                                "type": "boolean"
                            },
                            "Permissions": {
                                "shape": "S1h",
                                "locationName": "permissions"
                            },
                            "ServiceName": {
                                "locationName": "serviceName"
                            }
                        },
                        "required": [
                            "ServiceName",
                            "Imported"
                        ]
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S32WFAQHNUWRDRUT4VTFAJIFCQM3JALJPPXVPWDGE6HQN675UYKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBBQHJJSZ54JD3PAKFWDOTJPQUVJOOUZKFXJKR4XS4ROIJZF2EJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25NBVYJAHQTZB5E4WWOUIZ4X3NKDNQTVD2D2Z2S4YIH2QYSIEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36BYVPYN2DE2PPISFDKQN7MCWA2J6MK6R3HJT4SKLSYN5ODLHZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEIXOGDMUTQQS5FJELVQBTEQ47UWF5WISE7YKP7THTKUXRPNDQJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFI2QIV2A3PNEF5Y4G2MYYXVKP2MQDWUG2TJ233NGNQPIJUSCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GetToken": {
            "http": {
                "method": "GET",
                "requestUri": "/backend/{appId}/challenge/{sessionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "SessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                },
                "required": [
                    "SessionId",
                    "AppId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "ChallengeCode": {
                        "locationName": "challengeCode"
                    },
                    "SessionId": {
                        "locationName": "sessionId"
                    },
                    "Ttl": {
                        "locationName": "ttl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
[...]
