{
    "metadata": {
        "apiVersion": "2020-08-11",
        "endpointPrefix": "amplifybackend",
        "signingName": "amplifybackend",
        "serviceFullName": "AmplifyBackend",
        "serviceId": "AmplifyBackend",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "amplifybackend-2020-08-11",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CloneBackend": {
            "http": {
                "requestUri": "/backend/{appId}/environments/{backendEnvironmentName}/clone",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "TargetEnvironmentName": {
                        "locationName": "targetEnvironmentName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "TargetEnvironmentName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateBackend": {
            "http": {
                "requestUri": "/backend",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "AppName": {
                        "locationName": "appName"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "locationName": "resourceConfig",
                        "type": "structure",
                        "members": {}
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "AppName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateBackendAPI": {
            "http": {
                "requestUri": "/backend/{appId}/api",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "shape": "S8",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "ResourceName",
                    "BackendEnvironmentName",
                    "ResourceConfig"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateBackendAuth": {
            "http": {
                "requestUri": "/backend/{appId}/auth",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "shape": "Si",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "ResourceName",
                    "BackendEnvironmentName",
                    "ResourceConfig"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateBackendConfig": {
            "http": {
                "requestUri": "/backend/{appId}/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendManagerAppId": {
                        "locationName": "backendManagerAppId"
                    }
                },
                "required": [
                    "AppId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateBackendStorage": {
            "http": {
                "requestUri": "/backend/{appId}/storage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "locationName": "resourceConfig",
                        "type": "structure",
                        "members": {
                            "BucketName": {
                                "locationName": "bucketName"
                            },
                            "Permissions": {
                                "shape": "S1h",
                                "locationName": "permissions"
                            },
                            "ServiceName": {
                                "locationName": "serviceName"
                            }
                        },
                        "required": [
                            "ServiceName",
                            "Permissions"
                        ]
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "ResourceName",
                    "BackendEnvironmentName",
                    "ResourceConfig"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateToken": {
            "http": {
                "requestUri": "/backend/{appId}/challenge",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                },
                "required": [
                    "AppId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "ChallengeCode": {
                        "locationName": "challengeCode"
                    },
                    "SessionId": {
                        "locationName": "sessionId"
                    },
                    "Ttl": {
                        "locationName": "ttl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteBackend": {
            "http": {
                "requestUri": "/backend/{appId}/environments/{backendEnvironmentName}/remove",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteBackendAPI": {
            "http": {
                "requestUri": "/backend/{appId}/api/{backendEnvironmentName}/remove",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "shape": "S8",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteBackendAuth": {
            "http": {
                "requestUri": "/backend/{appId}/auth/{backendEnvironmentName}/remove",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteBackendStorage": {
            "http": {
                "requestUri": "/backend/{appId}/storage/{backendEnvironmentName}/remove",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    },
                    "ServiceName": {
                        "locationName": "serviceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ServiceName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteToken": {
            "http": {
                "requestUri": "/backend/{appId}/challenge/{sessionId}/remove",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "SessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                },
                "required": [
                    "SessionId",
                    "AppId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "IsSuccess": {
                        "locationName": "isSuccess",
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GenerateBackendAPIModels": {
            "http": {
                "requestUri": "/backend/{appId}/api/{backendEnvironmentName}/generateModels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetBackend": {
            "http": {
                "requestUri": "/backend/{appId}/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    }
                },
                "required": [
                    "AppId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AmplifyFeatureFlags": {
                        "locationName": "amplifyFeatureFlags"
                    },
                    "AmplifyMetaConfig": {
                        "locationName": "amplifyMetaConfig"
                    },
                    "AppId": {
                        "locationName": "appId"
                    },
                    "AppName": {
                        "locationName": "appName"
                    },
                    "BackendEnvironmentList": {
                        "shape": "S11",
                        "locationName": "backendEnvironmentList"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetBackendAPI": {
            "http": {
                "requestUri": "/backend/{appId}/api/{backendEnvironmentName}/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "shape": "S8",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "ResourceConfig": {
                        "shape": "S8",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetBackendAPIModels": {
            "http": {
                "requestUri": "/backend/{appId}/api/{backendEnvironmentName}/getModels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Models": {
                        "locationName": "models"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetBackendAuth": {
            "http": {
                "requestUri": "/backend/{appId}/auth/{backendEnvironmentName}/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "ResourceConfig": {
                        "shape": "Si",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetBackendJob": {
            "http": {
                "method": "GET",
                "requestUri": "/backend/{appId}/job/{backendEnvironmentName}/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "JobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "JobId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "CreateTime": {
                        "locationName": "createTime"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    },
                    "UpdateTime": {
                        "locationName": "updateTime"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetBackendStorage": {
            "http": {
                "requestUri": "/backend/{appId}/storage/{backendEnvironmentName}/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "locationName": "resourceConfig",
                        "type": "structure",
                        "members": {
                            "BucketName": {
                                "locationName": "bucketName"
                            },
                            "Imported": {
                                "locationName": "imported",
                                "type": "boolean"
                            },
                            "Permissions": {
                                "shape": "S1h",
                                "locationName": "permissions"
                            },
                            "ServiceName": {
                                "locationName": "serviceName"
                            }
                        },
                        "required": [
                            "ServiceName",
                            "Imported"
                        ]
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetToken": {
            "http": {
                "method": "GET",
                "requestUri": "/backend/{appId}/challenge/{sessionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "SessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                },
                "required": [
                    "SessionId",
                    "AppId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "ChallengeCode": {
                        "locationName": "challengeCode"
                    },
                    "SessionId": {
                        "locationName": "sessionId"
                    },
                    "Ttl": {
                        "locationName": "ttl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIK4HETEUP7Q2QIO42YBWX2OAAUKEITSU5DVXVNFLNE4M3IZ3HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ImportBackendAuth": {
            "http": {
                "requestUri": "/backend/{appId}/auth/{backendEnvironmentName}/import",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "IdentityPoolId": {
                        "locationName": "identityPoolId"
                    },
                    "NativeClientId": {
                        "locationName": "nativeClientId"
                    },
                    "UserPoolId": {
                        "locationName": "userPoolId"
                    },
                    "WebClientId": {
                        "locationName": "webClientId"
[...]
