{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "amplify",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amplify",
        "serviceFullName": "AWS Amplify",
        "serviceId": "Amplify",
        "signatureVersion": "v4",
        "signingName": "amplify",
        "uid": "amplify-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
        ]
    },
    "operations": {
        "CreateApp": {
            "http": {
                "requestUri": "/apps"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "repository": {},
                    "platform": {},
                    "iamServiceRoleArn": {},
                    "oauthToken": {
                        "shape": "S7"
                    },
                    "accessToken": {
                        "shape": "S8"
                    },
                    "environmentVariables": {
                        "shape": "S9"
                    },
                    "enableBranchAutoBuild": {
                        "type": "boolean"
                    },
                    "enableBranchAutoDeletion": {
                        "type": "boolean"
                    },
                    "enableBasicAuth": {
                        "type": "boolean"
                    },
                    "basicAuthCredentials": {
                        "shape": "Sf"
                    },
                    "customRules": {
                        "shape": "Sg"
                    },
                    "tags": {
                        "shape": "Sm"
                    },
                    "buildSpec": {
                        "shape": "Sp"
                    },
                    "customHeaders": {},
                    "enableAutoBranchCreation": {
                        "type": "boolean"
                    },
                    "autoBranchCreationPatterns": {
                        "shape": "Ss"
                    },
                    "autoBranchCreationConfig": {
                        "shape": "Su"
                    },
                    "buildConfiguration": {
                        "shape": "S11"
                    },
                    "cacheConfig": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "CreateBackendEnvironment": {
            "http": {
                "requestUri": "/apps/{appId}/backendenvironments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "environmentName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {},
                    "stackName": {},
                    "deploymentArtifacts": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "backendEnvironment"
                ],
                "members": {
                    "backendEnvironment": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "CreateBranch": {
            "http": {
                "requestUri": "/apps/{appId}/branches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {},
                    "description": {},
                    "stage": {},
                    "framework": {},
                    "enableNotification": {
                        "type": "boolean"
                    },
                    "enableAutoBuild": {
                        "type": "boolean"
                    },
                    "environmentVariables": {
                        "shape": "S9"
                    },
                    "basicAuthCredentials": {
                        "shape": "Sf"
                    },
                    "enableBasicAuth": {
                        "type": "boolean"
                    },
                    "enablePerformanceMode": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "Sm"
                    },
                    "buildSpec": {
                        "shape": "Sp"
                    },
                    "ttl": {},
                    "displayName": {},
                    "enablePullRequestPreview": {
                        "type": "boolean"
                    },
                    "pullRequestEnvironmentName": {},
                    "backendEnvironmentArn": {},
                    "backend": {
                        "shape": "S1s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "branch"
                ],
                "members": {
                    "branch": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "CreateDeployment": {
            "http": {
                "requestUri": "/apps/{appId}/branches/{branchName}/deployments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "fileMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "fileUploadUrls",
                    "zipUploadUrl"
                ],
                "members": {
                    "jobId": {},
                    "fileUploadUrls": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "zipUploadUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "CreateDomainAssociation": {
            "http": {
                "requestUri": "/apps/{appId}/domains"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "domainName",
                    "subDomainSettings"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "domainName": {},
                    "enableAutoSubDomain": {
                        "type": "boolean"
                    },
                    "subDomainSettings": {
                        "shape": "S28"
                    },
                    "autoSubDomainCreationPatterns": {
                        "shape": "S2b"
                    },
                    "autoSubDomainIAMRole": {},
                    "certificateSettings": {
                        "shape": "S2k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainAssociation"
                ],
                "members": {
                    "domainAssociation": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "CreateWebhook": {
            "http": {
                "requestUri": "/apps/{appId}/webhooks"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "webhook"
                ],
                "members": {
                    "webhook": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "DeleteApp": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "DeleteBackendEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/backendenvironments/{environmentName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "environmentName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {
                        "location": "uri",
                        "locationName": "environmentName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "backendEnvironment"
                ],
                "members": {
                    "backendEnvironment": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "DeleteBranch": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/branches/{branchName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "branch"
                ],
                "members": {
                    "branch": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "DeleteDomainAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/domains/{domainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "domainName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainAssociation"
                ],
                "members": {
                    "domainAssociation": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "DeleteJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName",
                    "jobId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobSummary"
                ],
                "members": {
                    "jobSummary": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "DeleteWebhook": {
            "http": {
                "method": "DELETE",
                "requestUri": "/webhooks/{webhookId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "webhookId"
                ],
                "members": {
                    "webhookId": {
                        "location": "uri",
                        "locationName": "webhookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "webhook"
                ],
                "members": {
                    "webhook": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "GenerateAccessLogs": {
            "http": {
                "requestUri": "/apps/{appId}/accesslogs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName",
                    "appId"
                ],
                "members": {
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "domainName": {},
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "GetApp": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "GetArtifactUrl": {
            "http": {
                "method": "GET",
                "requestUri": "/artifacts/{artifactId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "artifactId"
                ],
                "members": {
                    "artifactId": {
                        "location": "uri",
                        "locationName": "artifactId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "artifactId",
                    "artifactUrl"
                ],
                "members": {
                    "artifactId": {},
                    "artifactUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "GetBackendEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/backendenvironments/{environmentName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "environmentName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {
                        "location": "uri",
                        "locationName": "environmentName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "backendEnvironment"
                ],
                "members": {
                    "backendEnvironment": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "GetBranch": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/branches/{branchName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "branch"
                ],
                "members": {
                    "branch": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "GetDomainAssociation": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/domains/{domainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "domainName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainAssociation"
                ],
                "members": {
                    "domainAssociation": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "GetJob": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName",
                    "jobId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "job"
                ],
                "members": {
                    "job": {
                        "type": "structure",
                        "required": [
                            "summary",
                            "steps"
                        ],
                        "members": {
                            "summary": {
                                "shape": "S34"
                            },
                            "steps": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "stepName",
                                        "startTime",
                                        "status",
                                        "endTime"
                                    ],
                                    "members": {
                                        "stepName": {},
                                        "startTime": {
                                            "type": "timestamp"
                                        },
                                        "status": {},
                                        "endTime": {
                                            "type": "timestamp"
                                        },
                                        "logUrl": {},
                                        "artifactsUrl": {},
                                        "testArtifactsUrl": {},
                                        "testConfigUrl": {},
                                        "screenshots": {
                                            "type": "map",
                                            "key": {},
                                            "value": {}
                                        },
                                        "statusReason": {},
                                        "context": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "GetWebhook": {
            "http": {
                "method": "GET",
                "requestUri": "/webhooks/{webhookId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "webhookId"
                ],
                "members": {
                    "webhookId": {
                        "location": "uri",
                        "locationName": "webhookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "webhook"
                ],
                "members": {
                    "webhook": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "ListApps": {
            "http": {
                "method": "GET",
                "requestUri": "/apps"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "apps"
                ],
                "members": {
                    "apps": {
                        "type": "list",
                        "member": {
                            "shape": "S12"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "ListArtifacts": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}/artifacts"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName",
                    "jobId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "artifacts"
                ],
                "members": {
                    "artifacts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "artifactFileName",
                                "artifactId"
                            ],
                            "members": {
                                "artifactFileName": {},
                                "artifactId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBV5C5KHQP2YYDPS5NA3YEVXN6NKM2PBKAWZBZDJHTFPCPV7A6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JXZ3F3CS5QEPQSJBTAWM4UJAYL4IBHCSNBHHBPLEUORVNJUO2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KTWAJAALKDTI3CAJISLUL4FWLTHFB5UDNPXIT5UZCXUOPMKWJPA/vendors.js"
            ]
        },
        "ListBackendEnvironments": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/backendenvironments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {
                        "location": "querystring",
                        "locationName": "environmentName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
[...]
