{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "amplify",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amplify",
        "serviceFullName": "AWS Amplify",
        "serviceId": "Amplify",
        "signatureVersion": "v4",
        "signingName": "amplify",
        "uid": "amplify-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
        ]
    },
    "operations": {
        "CreateApp": {
            "http": {
                "requestUri": "/apps"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "repository": {},
                    "platform": {},
                    "iamServiceRoleArn": {},
                    "oauthToken": {
                        "shape": "S7"
                    },
                    "accessToken": {
                        "shape": "S8"
                    },
                    "environmentVariables": {
                        "shape": "S9"
                    },
                    "enableBranchAutoBuild": {
                        "type": "boolean"
                    },
                    "enableBranchAutoDeletion": {
                        "type": "boolean"
                    },
                    "enableBasicAuth": {
                        "type": "boolean"
                    },
                    "basicAuthCredentials": {
                        "shape": "Sf"
                    },
                    "customRules": {
                        "shape": "Sg"
                    },
                    "tags": {
                        "shape": "Sm"
                    },
                    "buildSpec": {
                        "shape": "Sp"
                    },
                    "customHeaders": {},
                    "enableAutoBranchCreation": {
                        "type": "boolean"
                    },
                    "autoBranchCreationPatterns": {
                        "shape": "Ss"
                    },
                    "autoBranchCreationConfig": {
                        "shape": "Su"
                    },
                    "buildConfiguration": {
                        "shape": "S11"
                    },
                    "cacheConfig": {
                        "shape": "S15"
                    },
                    "computeRoleArn": {},
                    "jobConfig": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "CreateBackendEnvironment": {
            "http": {
                "requestUri": "/apps/{appId}/backendenvironments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "environmentName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {},
                    "stackName": {},
                    "deploymentArtifacts": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "backendEnvironment"
                ],
                "members": {
                    "backendEnvironment": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "CreateBranch": {
            "http": {
                "requestUri": "/apps/{appId}/branches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {},
                    "description": {},
                    "stage": {},
                    "framework": {},
                    "enableNotification": {
                        "type": "boolean"
                    },
                    "enableAutoBuild": {
                        "type": "boolean"
                    },
                    "environmentVariables": {
                        "shape": "S9"
                    },
                    "basicAuthCredentials": {
                        "shape": "Sf"
                    },
                    "enableBasicAuth": {
                        "type": "boolean"
                    },
                    "enablePerformanceMode": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "Sm"
                    },
                    "buildSpec": {
                        "shape": "Sp"
                    },
                    "ttl": {},
                    "displayName": {},
                    "enablePullRequestPreview": {
                        "type": "boolean"
                    },
                    "pullRequestEnvironmentName": {},
                    "backendEnvironmentArn": {},
                    "backend": {
                        "shape": "S1s"
                    },
                    "enableSkewProtection": {
                        "type": "boolean"
                    },
                    "computeRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "branch"
                ],
                "members": {
                    "branch": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "CreateDeployment": {
            "http": {
                "requestUri": "/apps/{appId}/branches/{branchName}/deployments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "fileMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "fileUploadUrls",
                    "zipUploadUrl"
                ],
                "members": {
                    "jobId": {},
                    "fileUploadUrls": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "zipUploadUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "CreateDomainAssociation": {
            "http": {
                "requestUri": "/apps/{appId}/domains"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "domainName",
                    "subDomainSettings"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "domainName": {},
                    "enableAutoSubDomain": {
                        "type": "boolean"
                    },
                    "subDomainSettings": {
                        "shape": "S28"
                    },
                    "autoSubDomainCreationPatterns": {
                        "shape": "S2b"
                    },
                    "autoSubDomainIAMRole": {},
                    "certificateSettings": {
                        "shape": "S2k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainAssociation"
                ],
                "members": {
                    "domainAssociation": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "CreateWebhook": {
            "http": {
                "requestUri": "/apps/{appId}/webhooks"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "webhook"
                ],
                "members": {
                    "webhook": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "DeleteApp": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "DeleteBackendEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/backendenvironments/{environmentName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "environmentName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {
                        "location": "uri",
                        "locationName": "environmentName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "backendEnvironment"
                ],
                "members": {
                    "backendEnvironment": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "DeleteBranch": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/branches/{branchName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "branch"
                ],
                "members": {
                    "branch": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "DeleteDomainAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/domains/{domainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "domainName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainAssociation"
                ],
                "members": {
                    "domainAssociation": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "DeleteJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName",
                    "jobId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobSummary"
                ],
                "members": {
                    "jobSummary": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "DeleteWebhook": {
            "http": {
                "method": "DELETE",
                "requestUri": "/webhooks/{webhookId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "webhookId"
                ],
                "members": {
                    "webhookId": {
                        "location": "uri",
                        "locationName": "webhookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "webhook"
                ],
                "members": {
                    "webhook": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GenerateAccessLogs": {
            "http": {
                "requestUri": "/apps/{appId}/accesslogs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName",
                    "appId"
                ],
                "members": {
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "domainName": {},
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GetApp": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GetArtifactUrl": {
            "http": {
                "method": "GET",
                "requestUri": "/artifacts/{artifactId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "artifactId"
                ],
                "members": {
                    "artifactId": {
                        "location": "uri",
                        "locationName": "artifactId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "artifactId",
                    "artifactUrl"
                ],
                "members": {
                    "artifactId": {},
                    "artifactUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GetBackendEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/backendenvironments/{environmentName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "environmentName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {
                        "location": "uri",
                        "locationName": "environmentName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "backendEnvironment"
                ],
                "members": {
                    "backendEnvironment": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GetBranch": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/branches/{branchName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "branch"
                ],
                "members": {
                    "branch": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GetDomainAssociation": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/domains/{domainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "domainName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainAssociation"
                ],
                "members": {
                    "domainAssociation": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GetJob": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName",
                    "jobId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "job"
                ],
                "members": {
                    "job": {
                        "type": "structure",
                        "required": [
                            "summary",
                            "steps"
                        ],
                        "members": {
                            "summary": {
                                "shape": "S34"
                            },
                            "steps": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "stepName",
                                        "startTime",
                                        "status",
                                        "endTime"
                                    ],
                                    "members": {
                                        "stepName": {},
                                        "startTime": {
                                            "type": "timestamp"
                                        },
                                        "status": {},
                                        "endTime": {
                                            "type": "timestamp"
                                        },
                                        "logUrl": {},
                                        "artifactsUrl": {},
                                        "testArtifactsUrl": {},
                                        "testConfigUrl": {},
                                        "screenshots": {
                                            "type": "map",
                                            "key": {},
                                            "value": {}
                                        },
                                        "statusReason": {},
                                        "context": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GetWebhook": {
            "http": {
                "method": "GET",
                "requestUri": "/webhooks/{webhookId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "webhookId"
                ],
                "members": {
                    "webhookId": {
                        "location": "uri",
                        "locationName": "webhookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "webhook"
                ],
                "members": {
                    "webhook": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "ListApps": {
            "http": {
                "method": "GET",
                "requestUri": "/apps"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "apps"
                ],
                "members": {
                    "apps": {
                        "type": "list",
                        "member": {
                            "shape": "S12"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5PZ7NKL2EP4NPDACOC3JZTSKGDJSVT4WCLE6H6HTFIZZPBGXEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QRLHRQPMSNHEGDAVWDAIHYYJGBY3MLIRLHUZ4FSUREPIUNHXTZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7AUXQYPEHSR6BFAF2JAON6EKYRWUQZLQN5R3OT3BNRE2HZXTL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37CN2NDGPEH64XXBMRAWTKXC6O5LG2VCZ7HV6YF5DIAFFYCFLFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA3JKF3CCCLYC3BHVHKJ3GTYOHIKCWXGXDNRMSBLERERYAK2FRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EC335G53SG4EGW5CVKE5OAMI6WRNQYBWE3WZJRFR7KFGVJ4YMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7OE2O5KVNC5OWMFGNCJUOVC6EC7MZKJQM2C2T3XKGXTRKBRD7GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "ListArtifacts": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}/artifacts"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName",
                    "jobId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "artifacts"
                ],
                "members": {
                    "artifacts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "artifactFileName",
                                "artifactId"
                            ],
                            "members": {
                                "artifactFileName": {},
                                "artifactId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQUEP6O5K4TBZNCXZNWLMJCI3VISKDML42MXIEM7F7JPT4DSL27Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIHNR56E45UYCEEWZAG4XEELHDTIYTOOTJNZNSWFPLOY6ZJP64TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXMXYAABLXEZ4RRYIC6HEVGOSXQCKMKENSVJNCUREGIEVRIKFHFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3SQNW6ZSYJRFRQPKLZOWPUXO4HUFFSBTBR54UMSVO7OEPJV6MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
[...]
