{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "amplify",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amplify",
        "serviceFullName": "AWS Amplify",
        "serviceId": "Amplify",
        "signatureVersion": "v4",
        "signingName": "amplify",
        "uid": "amplify-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
        ]
    },
    "operations": {
        "CreateApp": {
            "http": {
                "requestUri": "/apps"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "repository": {},
                    "platform": {},
                    "iamServiceRoleArn": {},
                    "oauthToken": {
                        "shape": "S7"
                    },
                    "accessToken": {
                        "shape": "S8"
                    },
                    "environmentVariables": {
                        "shape": "S9"
                    },
                    "enableBranchAutoBuild": {
                        "type": "boolean"
                    },
                    "enableBranchAutoDeletion": {
                        "type": "boolean"
                    },
                    "enableBasicAuth": {
                        "type": "boolean"
                    },
                    "basicAuthCredentials": {
                        "shape": "Sf"
                    },
                    "customRules": {
                        "shape": "Sg"
                    },
                    "tags": {
                        "shape": "Sm"
                    },
                    "buildSpec": {
                        "shape": "Sp"
                    },
                    "customHeaders": {},
                    "enableAutoBranchCreation": {
                        "type": "boolean"
                    },
                    "autoBranchCreationPatterns": {
                        "shape": "Ss"
                    },
                    "autoBranchCreationConfig": {
                        "shape": "Su"
                    },
                    "buildConfiguration": {
                        "shape": "S11"
                    },
                    "cacheConfig": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "CreateBackendEnvironment": {
            "http": {
                "requestUri": "/apps/{appId}/backendenvironments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "environmentName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {},
                    "stackName": {},
                    "deploymentArtifacts": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "backendEnvironment"
                ],
                "members": {
                    "backendEnvironment": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "CreateBranch": {
            "http": {
                "requestUri": "/apps/{appId}/branches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {},
                    "description": {},
                    "stage": {},
                    "framework": {},
                    "enableNotification": {
                        "type": "boolean"
                    },
                    "enableAutoBuild": {
                        "type": "boolean"
                    },
                    "environmentVariables": {
                        "shape": "S9"
                    },
                    "basicAuthCredentials": {
                        "shape": "Sf"
                    },
                    "enableBasicAuth": {
                        "type": "boolean"
                    },
                    "enablePerformanceMode": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "Sm"
                    },
                    "buildSpec": {
                        "shape": "Sp"
                    },
                    "ttl": {},
                    "displayName": {},
                    "enablePullRequestPreview": {
                        "type": "boolean"
                    },
                    "pullRequestEnvironmentName": {},
                    "backendEnvironmentArn": {},
                    "backend": {
                        "shape": "S1s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "branch"
                ],
                "members": {
                    "branch": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "CreateDeployment": {
            "http": {
                "requestUri": "/apps/{appId}/branches/{branchName}/deployments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "fileMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "fileUploadUrls",
                    "zipUploadUrl"
                ],
                "members": {
                    "jobId": {},
                    "fileUploadUrls": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "zipUploadUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "CreateDomainAssociation": {
            "http": {
                "requestUri": "/apps/{appId}/domains"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "domainName",
                    "subDomainSettings"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "domainName": {},
                    "enableAutoSubDomain": {
                        "type": "boolean"
                    },
                    "subDomainSettings": {
                        "shape": "S28"
                    },
                    "autoSubDomainCreationPatterns": {
                        "shape": "S2b"
                    },
                    "autoSubDomainIAMRole": {},
                    "certificateSettings": {
                        "shape": "S2k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainAssociation"
                ],
                "members": {
                    "domainAssociation": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "CreateWebhook": {
            "http": {
                "requestUri": "/apps/{appId}/webhooks"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "webhook"
                ],
                "members": {
                    "webhook": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "DeleteApp": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "DeleteBackendEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/backendenvironments/{environmentName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "environmentName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {
                        "location": "uri",
                        "locationName": "environmentName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "backendEnvironment"
                ],
                "members": {
                    "backendEnvironment": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "DeleteBranch": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/branches/{branchName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "branch"
                ],
                "members": {
                    "branch": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "DeleteDomainAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/domains/{domainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "domainName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainAssociation"
                ],
                "members": {
                    "domainAssociation": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "DeleteJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName",
                    "jobId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobSummary"
                ],
                "members": {
                    "jobSummary": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "DeleteWebhook": {
            "http": {
                "method": "DELETE",
                "requestUri": "/webhooks/{webhookId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "webhookId"
                ],
                "members": {
                    "webhookId": {
                        "location": "uri",
                        "locationName": "webhookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "webhook"
                ],
                "members": {
                    "webhook": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "GenerateAccessLogs": {
            "http": {
                "requestUri": "/apps/{appId}/accesslogs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName",
                    "appId"
                ],
                "members": {
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "domainName": {},
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "GetApp": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "GetArtifactUrl": {
            "http": {
                "method": "GET",
                "requestUri": "/artifacts/{artifactId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "artifactId"
                ],
                "members": {
                    "artifactId": {
                        "location": "uri",
                        "locationName": "artifactId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "artifactId",
                    "artifactUrl"
                ],
                "members": {
                    "artifactId": {},
                    "artifactUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "GetBackendEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/backendenvironments/{environmentName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "environmentName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {
                        "location": "uri",
                        "locationName": "environmentName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "backendEnvironment"
                ],
                "members": {
                    "backendEnvironment": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "GetBranch": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/branches/{branchName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "branch"
                ],
                "members": {
                    "branch": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "GetDomainAssociation": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/domains/{domainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "domainName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainAssociation"
                ],
                "members": {
                    "domainAssociation": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "GetJob": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName",
                    "jobId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "job"
                ],
                "members": {
                    "job": {
                        "type": "structure",
                        "required": [
                            "summary",
                            "steps"
                        ],
                        "members": {
                            "summary": {
                                "shape": "S34"
                            },
                            "steps": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "stepName",
                                        "startTime",
                                        "status",
                                        "endTime"
                                    ],
                                    "members": {
                                        "stepName": {},
                                        "startTime": {
                                            "type": "timestamp"
                                        },
                                        "status": {},
                                        "endTime": {
                                            "type": "timestamp"
                                        },
                                        "logUrl": {},
                                        "artifactsUrl": {},
                                        "testArtifactsUrl": {},
                                        "testConfigUrl": {},
                                        "screenshots": {
                                            "type": "map",
                                            "key": {},
                                            "value": {}
                                        },
                                        "statusReason": {},
                                        "context": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "GetWebhook": {
            "http": {
                "method": "GET",
                "requestUri": "/webhooks/{webhookId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "webhookId"
                ],
                "members": {
                    "webhookId": {
                        "location": "uri",
                        "locationName": "webhookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "webhook"
                ],
                "members": {
                    "webhook": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "ListApps": {
            "http": {
                "method": "GET",
                "requestUri": "/apps"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "apps"
                ],
                "members": {
                    "apps": {
                        "type": "list",
                        "member": {
                            "shape": "S12"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "ListArtifacts": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}/artifacts"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName",
                    "jobId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "artifacts"
                ],
                "members": {
                    "artifacts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "artifactFileName",
                                "artifactId"
                            ],
                            "members": {
                                "artifactFileName": {},
                                "artifactId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCKSJN2ITUH2ZYQ2VKTVRHG3KK6R3TAIUDCYXCZPUQ7G77D6VMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTATDQHW24FDJTGAOJFKFT4DO7ITKQCXVTBURXEOUZ5S5AV3ECEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GX32SE6G2KRWMGZS73Z3PPNY7HJONNARCXJDHWFSBVSK2F3RLYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQUKEWECPBILBL74MWRUPUOVAYSQVT4BFJVJ36P2AQ64QFTZKVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVKTQIHQ2GB7M3WXICBUTSYSJVVS6HRGKTFBS4GNZZSMNE2DOJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2Y36R6RKTC5AEM3FIGWYBTCVT26O7MOFMQOKUPA76WA5HZ7KHTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBORTGALDZYQOEK4I3PXVSXUOETVUPLM753FQFGX7FGAJ4WBXBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLGPLDXULNLREUNA3N4RIUVVCYVPEZJZBQEBD4WV2TXRVJUKQKJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js"
            ]
        },
        "ListBackendEnvironments": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/backendenvironments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {
                        "location": "querystring",
                        "locationName": "environmentName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
[...]
