{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "amplify",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amplify",
        "serviceFullName": "AWS Amplify",
        "serviceId": "Amplify",
        "signatureVersion": "v4",
        "signingName": "amplify",
        "uid": "amplify-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateApp": {
            "http": {
                "requestUri": "/apps"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "repository": {},
                    "platform": {},
                    "iamServiceRoleArn": {},
                    "oauthToken": {
                        "shape": "S7"
                    },
                    "accessToken": {
                        "shape": "S8"
                    },
                    "environmentVariables": {
                        "shape": "S9"
                    },
                    "enableBranchAutoBuild": {
                        "type": "boolean"
                    },
                    "enableBranchAutoDeletion": {
                        "type": "boolean"
                    },
                    "enableBasicAuth": {
                        "type": "boolean"
                    },
                    "basicAuthCredentials": {
                        "shape": "Sf"
                    },
                    "customRules": {
                        "shape": "Sg"
                    },
                    "tags": {
                        "shape": "Sm"
                    },
                    "buildSpec": {
                        "shape": "Sp"
                    },
                    "customHeaders": {},
                    "enableAutoBranchCreation": {
                        "type": "boolean"
                    },
                    "autoBranchCreationPatterns": {
                        "shape": "Ss"
                    },
                    "autoBranchCreationConfig": {
                        "shape": "Su"
                    },
                    "buildConfiguration": {
                        "shape": "S11"
                    },
                    "cacheConfig": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateBackendEnvironment": {
            "http": {
                "requestUri": "/apps/{appId}/backendenvironments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "environmentName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {},
                    "stackName": {},
                    "deploymentArtifacts": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "backendEnvironment"
                ],
                "members": {
                    "backendEnvironment": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateBranch": {
            "http": {
                "requestUri": "/apps/{appId}/branches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {},
                    "description": {},
                    "stage": {},
                    "framework": {},
                    "enableNotification": {
                        "type": "boolean"
                    },
                    "enableAutoBuild": {
                        "type": "boolean"
                    },
                    "environmentVariables": {
                        "shape": "S9"
                    },
                    "basicAuthCredentials": {
                        "shape": "Sf"
                    },
                    "enableBasicAuth": {
                        "type": "boolean"
                    },
                    "enablePerformanceMode": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "Sm"
                    },
                    "buildSpec": {
                        "shape": "Sp"
                    },
                    "ttl": {},
                    "displayName": {},
                    "enablePullRequestPreview": {
                        "type": "boolean"
                    },
                    "pullRequestEnvironmentName": {},
                    "backendEnvironmentArn": {},
                    "backend": {
                        "shape": "S1s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "branch"
                ],
                "members": {
                    "branch": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateDeployment": {
            "http": {
                "requestUri": "/apps/{appId}/branches/{branchName}/deployments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "fileMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "fileUploadUrls",
                    "zipUploadUrl"
                ],
                "members": {
                    "jobId": {},
                    "fileUploadUrls": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "zipUploadUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateDomainAssociation": {
            "http": {
                "requestUri": "/apps/{appId}/domains"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "domainName",
                    "subDomainSettings"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "domainName": {},
                    "enableAutoSubDomain": {
                        "type": "boolean"
                    },
                    "subDomainSettings": {
                        "shape": "S28"
                    },
                    "autoSubDomainCreationPatterns": {
                        "shape": "S2b"
                    },
                    "autoSubDomainIAMRole": {},
                    "certificateSettings": {
                        "shape": "S2k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainAssociation"
                ],
                "members": {
                    "domainAssociation": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateWebhook": {
            "http": {
                "requestUri": "/apps/{appId}/webhooks"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "webhook"
                ],
                "members": {
                    "webhook": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteApp": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteBackendEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/backendenvironments/{environmentName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "environmentName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {
                        "location": "uri",
                        "locationName": "environmentName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "backendEnvironment"
                ],
                "members": {
                    "backendEnvironment": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteBranch": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/branches/{branchName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "branch"
                ],
                "members": {
                    "branch": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteDomainAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/domains/{domainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "domainName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainAssociation"
                ],
                "members": {
                    "domainAssociation": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName",
                    "jobId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobSummary"
                ],
                "members": {
                    "jobSummary": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteWebhook": {
            "http": {
                "method": "DELETE",
                "requestUri": "/webhooks/{webhookId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "webhookId"
                ],
                "members": {
                    "webhookId": {
                        "location": "uri",
                        "locationName": "webhookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "webhook"
                ],
                "members": {
                    "webhook": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GenerateAccessLogs": {
            "http": {
                "requestUri": "/apps/{appId}/accesslogs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName",
                    "appId"
                ],
                "members": {
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "domainName": {},
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "logUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetApp": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetArtifactUrl": {
            "http": {
                "method": "GET",
                "requestUri": "/artifacts/{artifactId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "artifactId"
                ],
                "members": {
                    "artifactId": {
                        "location": "uri",
                        "locationName": "artifactId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "artifactId",
                    "artifactUrl"
                ],
                "members": {
                    "artifactId": {},
                    "artifactUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetBackendEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/backendenvironments/{environmentName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "environmentName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {
                        "location": "uri",
                        "locationName": "environmentName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "backendEnvironment"
                ],
                "members": {
                    "backendEnvironment": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetBranch": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/branches/{branchName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "branch"
                ],
                "members": {
                    "branch": {
                        "shape": "S1p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDomainAssociation": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/domains/{domainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "domainName"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainAssociation"
                ],
                "members": {
                    "domainAssociation": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetJob": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName",
                    "jobId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "job"
                ],
                "members": {
                    "job": {
                        "type": "structure",
                        "required": [
                            "summary",
                            "steps"
                        ],
                        "members": {
                            "summary": {
                                "shape": "S34"
                            },
                            "steps": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "stepName",
                                        "startTime",
                                        "status",
                                        "endTime"
                                    ],
                                    "members": {
                                        "stepName": {},
                                        "startTime": {
                                            "type": "timestamp"
                                        },
                                        "status": {},
                                        "endTime": {
                                            "type": "timestamp"
                                        },
                                        "logUrl": {},
                                        "artifactsUrl": {},
                                        "testArtifactsUrl": {},
                                        "testConfigUrl": {},
                                        "screenshots": {
                                            "type": "map",
                                            "key": {},
                                            "value": {}
                                        },
                                        "statusReason": {},
                                        "context": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetWebhook": {
            "http": {
                "method": "GET",
                "requestUri": "/webhooks/{webhookId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "webhookId"
                ],
                "members": {
                    "webhookId": {
                        "location": "uri",
                        "locationName": "webhookId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "webhook"
                ],
                "members": {
                    "webhook": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListApps": {
            "http": {
                "method": "GET",
                "requestUri": "/apps"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "apps"
                ],
                "members": {
                    "apps": {
                        "type": "list",
                        "member": {
                            "shape": "S12"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListArtifacts": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}/artifacts"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId",
                    "branchName",
                    "jobId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "branchName": {
                        "location": "uri",
                        "locationName": "branchName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "artifacts"
                ],
                "members": {
                    "artifacts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "artifactFileName",
                                "artifactId"
                            ],
                            "members": {
                                "artifactFileName": {},
                                "artifactId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBPAVFJL4HUPBF7TPLYSBXNVQW4XZK4ACFBG4TK75HRL7ABGZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGMDQ2XHW36CAQMPDVRDEGMYCHX6ZGM72KEY4TMMQFQ5VX5GTMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListBackendEnvironments": {
            "http": {
                "method": "GET",
                "requestUri": "/apps/{appId}/backendenvironments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "environmentName": {
                        "location": "querystring",
                        "locationName": "environmentName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
[...]
