{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-08-17",
        "endpointPrefix": "amplify",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Amplify Console Extensions Service",
        "serviceId": "Amplify",
        "signatureVersion": "v4",
        "signingName": "amplify",
        "uid": "amplify-2021-08-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TXEDZQBBODAYGP3KDN3WXTR2GMQZTGITL7YJ7EJJCKIFCNUVZKFQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2R5GFL4J3J7JT2BZD3BNOGU7YOWPJYPHZ6VZC25QCSXORD6CFPQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TDNEYRUJSM27GGERFYD3YUE3A72DILOLOIIJ75UKZLDVD3JNBLBQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MHCNZT5IQT3LCP76RHFXUVKA2BFTJHUHKVV7DYF6EPS5HWNT2KVA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NK6VOT5DEA3DAOFGBTJOVN3X44UCS3HDZLCK7J4SY3WAQHYEHJKA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3SDWBO4TCPFKGLDLE42UDP4JQQYNXNFZLIX6XUZDXYDKJVJ3RRCQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D2WRZPMDH3LNT23ALYI2FO5EWHBA4P2GLTN2FIF3P4UUIVDHEXXQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7EHJM2QSZQSED3LIP3MLFPS4IRJHDO4EXPF75V4GRST5DMP42XA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPHQPP7IVISDR2E7WKHGBHHEU52355OUVXMGOH7IASAWNVM2FZOQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HGTXF435KXE6QHE3EDRHS7YA4Q2DJDTUFEQJSQYMZYIJOQRU4FPQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AENRM7XAH56RAEWA46IESBPMBAWDMMN34ZITU44XXD3PYUJB4CEQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZUZVV462LRJ7ABCL7FA2VICDYYEZVQSAYS4WPK7KLGWIP4DXLTQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYIPQ77BF4PPYFETCGFXSELTJBZ3MIQQDB74MZBCGDVYJIROZE6Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IVWSXOKMXCUZWKBEKLWWWTQ4KDH3G5ABKJDFJPYT2NSCHSIXYPBQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DL7WYNA6INA5L4SKGUQOC2EBGUAQRKKG3G5ENUJUGSE5ALRSOHLQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PQZY54LR7FQEUMY6ZHWHSSRP76SCXQD26XMOA6LTMZYGH33Y2CCA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/532WAOOJYUZEWTKK5WOWT2CQVSEALZGRJPAZZRM7CUY2JQB4KT7A/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SKDLECBNQ7DRDC7CBBYJ2TV6PG6Y532WBHE3IGQDBTT5ZAHAURMQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TOX2GLNLFZ43ECZ6MCHITB5Y5XOIU4DTVN24QRADNNOX724IEN5A/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVU2RI77ML3GTR76FIVAIACWHFGYI5KWVSDJ2R4O54BZVOYLLBLA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIG6ZHX3V2F2L3SKSF6XFEYWLAQGRZHT623SNXNVRWTJRKEEDGHA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JK7YMDKMPJ33Q7HWAHV45EBNS635MYMHGHADY3PXLM6HEUJGRS4Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3EQFBYOIANLHSUH27K43Z7EN4PHGJERCUTUHT4KLV5VOKOM4NRRQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JYSPCQE5VPILGCKNQGZWLCIPVXEUMLAY3W74TA3AB4NXK6GSMMVQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZK3ZKVKFKL64BVLZB2GIYKSWLDMRYDC24KCDNJ2LDFXPI7NRR75A/commons.js"
        ]
    },
    "operations": {
        "CreateApp": {
            "name": "CreateApp",
            "http": {
                "method": "POST",
                "requestUri": "/access-token",
                "responseCode": 200
            },
            "input": {
                "shape": "GenerateAccessTokenRequest"
            },
            "output": {
                "shape": "GenerateAccessTokenResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InvalidParameterException"
                }
            ],
            "documentation": "<p>Generates a Github access token required for the CreateApp operation</p>",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2R5GFL4J3J7JT2BZD3BNOGU7YOWPJYPHZ6VZC25QCSXORD6CFPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNEYRUJSM27GGERFYD3YUE3A72DILOLOIIJ75UKZLDVD3JNBLBQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHCNZT5IQT3LCP76RHFXUVKA2BFTJHUHKVV7DYF6EPS5HWNT2KVA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6VOT5DEA3DAOFGBTJOVN3X44UCS3HDZLCK7J4SY3WAQHYEHJKA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SDWBO4TCPFKGLDLE42UDP4JQQYNXNFZLIX6XUZDXYDKJVJ3RRCQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2WRZPMDH3LNT23ALYI2FO5EWHBA4P2GLTN2FIF3P4UUIVDHEXXQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7EHJM2QSZQSED3LIP3MLFPS4IRJHDO4EXPF75V4GRST5DMP42XA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPHQPP7IVISDR2E7WKHGBHHEU52355OUVXMGOH7IASAWNVM2FZOQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGTXF435KXE6QHE3EDRHS7YA4Q2DJDTUFEQJSQYMZYIJOQRU4FPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AENRM7XAH56RAEWA46IESBPMBAWDMMN34ZITU44XXD3PYUJB4CEQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZUZVV462LRJ7ABCL7FA2VICDYYEZVQSAYS4WPK7KLGWIP4DXLTQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYIPQ77BF4PPYFETCGFXSELTJBZ3MIQQDB74MZBCGDVYJIROZE6Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVWSXOKMXCUZWKBEKLWWWTQ4KDH3G5ABKJDFJPYT2NSCHSIXYPBQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DL7WYNA6INA5L4SKGUQOC2EBGUAQRKKG3G5ENUJUGSE5ALRSOHLQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQZY54LR7FQEUMY6ZHWHSSRP76SCXQD26XMOA6LTMZYGH33Y2CCA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532WAOOJYUZEWTKK5WOWT2CQVSEALZGRJPAZZRM7CUY2JQB4KT7A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKDLECBNQ7DRDC7CBBYJ2TV6PG6Y532WBHE3IGQDBTT5ZAHAURMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOX2GLNLFZ43ECZ6MCHITB5Y5XOIU4DTVN24QRADNNOX724IEN5A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVU2RI77ML3GTR76FIVAIACWHFGYI5KWVSDJ2R4O54BZVOYLLBLA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIG6ZHX3V2F2L3SKSF6XFEYWLAQGRZHT623SNXNVRWTJRKEEDGHA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JK7YMDKMPJ33Q7HWAHV45EBNS635MYMHGHADY3PXLM6HEUJGRS4Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EQFBYOIANLHSUH27K43Z7EN4PHGJERCUTUHT4KLV5VOKOM4NRRQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYSPCQE5VPILGCKNQGZWLCIPVXEUMLAY3W74TA3AB4NXK6GSMMVQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZK3ZKVKFKL64BVLZB2GIYKSWLDMRYDC24KCDNJ2LDFXPI7NRR75A/commons.js"
            ]
        }
    },
    "shapes": {
        "GenerateAccessTokenRequest": {
            "type": "structure",
            "required": [
                "clientId",
                "code",
                "repositoryType"
            ],
            "members": {
                "accountId": {
                    "shape": "String"
                },
                "clientId": {
                    "shape": "String"
                },
                "code": {
                    "shape": "SensitiveString"
                },
                "repositoryType": {
                    "shape": "String"
                },
                "state": {
                    "shape": "String"
                }
            }
        },
        "GenerateAccessTokenResponse": {
            "type": "structure",
            "required": [
                "body"
            ],
            "members": {
                "body": {
                    "shape": "GitHubBody"
                }
            },
            "payload": "body"
        },
        "GitHubBody": {
            "type": "structure",
            "required": [
                "accessToken"
            ],
            "members": {
                "accessToken": {
                    "shape": "SensitiveString"
                },
                "installationIds": {
                    "shape": "InstallationIds"
                }
            }
        },
        "InstallationIds": {
            "type": "list",
            "member": {
                "shape": "Integer"
            }
        },
        "Integer": {
            "type": "integer",
            "box": true
        },
        "InvalidParameterException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "exception": true
        },
        "SensitiveString": {
            "type": "string",
            "sensitive": true
        },
        "String": {
            "type": "string"
        },
        "ValidationException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "fieldList": {
                    "shape": "ValidationExceptionFieldList",
                    "documentation": "<p>A list of specific failures encountered while validating the input. A member can appear in this list more than once if it failed to satisfy multiple constraints.</p>"
                },
                "message": {
                    "shape": "String",
                    "documentation": "<p>A summary of the validation failure.</p>"
                }
            },
            "documentation": "<p>A standard error for input validation failures. This should be thrown by services when a member of the input structure falls outside of the modeled or documented constraints.</p>",
            "exception": true
        },
        "ValidationExceptionField": {
            "type": "structure",
            "required": [
                "message",
                "path"
            ],
            "members": {
                "message": {
                    "shape": "String",
                    "documentation": "<p>A detailed description of the validation failure.</p>"
                },
                "path": {
                    "shape": "String",
                    "documentation": "<p>A JSONPointer expression to the structure member whose value failed to satisfy the modeled constraints.</p>"
                }
            },
            "documentation": "<p>Describes one specific validation failure for an input member.</p>"
        },
        "ValidationExceptionFieldList": {
            "type": "list",
            "member": {
                "shape": "ValidationExceptionField"
            }
        }
    }
}