{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-08-17",
        "endpointPrefix": "amplify",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Amplify Console Extensions Service",
        "serviceId": "Amplify",
        "signatureVersion": "v4",
        "signingName": "amplify",
        "uid": "amplify-2021-08-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RP3LDZKMXU5TWSDALNCGHI7RJ5N5RM56HX3QNGCU5T4TJ5EDSNJQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VTHPUB4S32T5UWQQFPSXBGWOSG23X25UGKHW6UDREKXTZMDKWY6Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P7QXLUFXRGLFUVQFI4AL5H2LXA37GEBEIABA4CFIW3BN6WFVSGPA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGYXMCHO5ICPGC5WNOOFIVQXGRDOVMZMHEQEW2HVFFQ2QVLOATQA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/75MKY7OXBXCY34TXDE547OSUAWPUWNODZBBADWUNPYIOXIYMJIRA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IZM4TB6MBZG2BKMH4XQYIG2HK4E2A4TCQWDINE2ECICPUWOHBHSQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LND7TYIJW65GLSWB4FS3FPBTLDAXD55G7IUMRSVN6VJIVQPILWOQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7CMBBSE7BWAOA2AJUO2WWTV2FHI4VPRC7FXA7RQDMVVXNFHGVOBQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5EGFFM2V6B3K6ZQLWSDFFJFHPCFB4OF5SKYR2MMLQAXT3AEUSG2Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TT42C6IZ2WERRPO76RU6UEIZZCQO5UE7XSUHMEJDYJJCJBVRDNRQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FUJJL7DAZOX3EAGTQR6E5POZXFSOJQ4BMHFUFJPHCQB7PE7NYPRQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WZN5S3P7VAWJK6B2WOKW4KRUULIRPWENY7KTCP5YOH73XIFZVYOA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OASLXQUF7Q2GAUUSWMGSSWU35JCBTBZKSZXKTQBQD77LY7JWOVJA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4XAAEMCJLXNKDI3IP752HB7IPZJBQ36FMO2S3SXGU57YRUISII6Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3H6CVWOY6GHQUGLFZSRTXFDAYSA3WCKKR2JT474C2B3MBONB6AYQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJNXYVODXEVAVU77ISC4RCIUXCQOPZJ7BFEOOIDRIZYN6NW6PJLQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JFNQ77PO4HU3EGZ7AME5HPLPFQSRBQBDGB6CVVQXDNNSH7D5KBAA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RWYRKC4RSDV3FX7TTYW7CZHF4NVJ3CGGATQIHASKUHRRRW4EROVA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RINMVPBCPXALOZ3OEZARY4PIJTN2AX4QEEJL7I6VMGRZIOMVMFMA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/63SW4GWRJL4DIXSGBL4NQTQVBUTLG2LUWLHIMTU52ZYQ5GUEHAPA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7K4MGMS4VT4H232UEX3WUKIGGU7W2G25X3HF2IXY47E4HL7XEDMQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ROLBTKLYG25Y4C5GQAMZ6EGL636VM3C3EN73KS356KAMJPUM7BLA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BH3P5CVR5BJWQKIZJGLAQH7CNT3SHLNBU4X74ZUBQYLHYLTYWO5Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVGMVNBMDJUK3ZPZ5PCG7HD3OBXTZGYVDVFAWSZAMUZ6XQEKPHEQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZSHX3ACH73NOZ5NNKCEVW57NHJC3CGYJCOMV4MEVBQFJBYON2Q/commons.js"
        ]
    },
    "operations": {
        "CreateApp": {
            "name": "CreateApp",
            "http": {
                "method": "POST",
                "requestUri": "/access-token",
                "responseCode": 200
            },
            "input": {
                "shape": "GenerateAccessTokenRequest"
            },
            "output": {
                "shape": "GenerateAccessTokenResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InvalidParameterException"
                }
            ],
            "documentation": "<p>Generates a Github access token required for the CreateApp operation</p>",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3LDZKMXU5TWSDALNCGHI7RJ5N5RM56HX3QNGCU5T4TJ5EDSNJQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTHPUB4S32T5UWQQFPSXBGWOSG23X25UGKHW6UDREKXTZMDKWY6Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7QXLUFXRGLFUVQFI4AL5H2LXA37GEBEIABA4CFIW3BN6WFVSGPA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYXMCHO5ICPGC5WNOOFIVQXGRDOVMZMHEQEW2HVFFQ2QVLOATQA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75MKY7OXBXCY34TXDE547OSUAWPUWNODZBBADWUNPYIOXIYMJIRA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZM4TB6MBZG2BKMH4XQYIG2HK4E2A4TCQWDINE2ECICPUWOHBHSQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LND7TYIJW65GLSWB4FS3FPBTLDAXD55G7IUMRSVN6VJIVQPILWOQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7CMBBSE7BWAOA2AJUO2WWTV2FHI4VPRC7FXA7RQDMVVXNFHGVOBQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EGFFM2V6B3K6ZQLWSDFFJFHPCFB4OF5SKYR2MMLQAXT3AEUSG2Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TT42C6IZ2WERRPO76RU6UEIZZCQO5UE7XSUHMEJDYJJCJBVRDNRQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUJJL7DAZOX3EAGTQR6E5POZXFSOJQ4BMHFUFJPHCQB7PE7NYPRQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZN5S3P7VAWJK6B2WOKW4KRUULIRPWENY7KTCP5YOH73XIFZVYOA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OASLXQUF7Q2GAUUSWMGSSWU35JCBTBZKSZXKTQBQD77LY7JWOVJA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XAAEMCJLXNKDI3IP752HB7IPZJBQ36FMO2S3SXGU57YRUISII6Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3H6CVWOY6GHQUGLFZSRTXFDAYSA3WCKKR2JT474C2B3MBONB6AYQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJNXYVODXEVAVU77ISC4RCIUXCQOPZJ7BFEOOIDRIZYN6NW6PJLQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFNQ77PO4HU3EGZ7AME5HPLPFQSRBQBDGB6CVVQXDNNSH7D5KBAA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RWYRKC4RSDV3FX7TTYW7CZHF4NVJ3CGGATQIHASKUHRRRW4EROVA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RINMVPBCPXALOZ3OEZARY4PIJTN2AX4QEEJL7I6VMGRZIOMVMFMA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63SW4GWRJL4DIXSGBL4NQTQVBUTLG2LUWLHIMTU52ZYQ5GUEHAPA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7K4MGMS4VT4H232UEX3WUKIGGU7W2G25X3HF2IXY47E4HL7XEDMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROLBTKLYG25Y4C5GQAMZ6EGL636VM3C3EN73KS356KAMJPUM7BLA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BH3P5CVR5BJWQKIZJGLAQH7CNT3SHLNBU4X74ZUBQYLHYLTYWO5Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVGMVNBMDJUK3ZPZ5PCG7HD3OBXTZGYVDVFAWSZAMUZ6XQEKPHEQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7ZSHX3ACH73NOZ5NNKCEVW57NHJC3CGYJCOMV4MEVBQFJBYON2Q/commons.js"
            ]
        }
    },
    "shapes": {
        "GenerateAccessTokenRequest": {
            "type": "structure",
            "required": [
                "clientId",
                "code",
                "repositoryType"
            ],
            "members": {
                "accountId": {
                    "shape": "String"
                },
                "clientId": {
                    "shape": "String"
                },
                "code": {
                    "shape": "SensitiveString"
                },
                "repositoryType": {
                    "shape": "String"
                },
                "state": {
                    "shape": "String"
                }
            }
        },
        "GenerateAccessTokenResponse": {
            "type": "structure",
            "required": [
                "body"
            ],
            "members": {
                "body": {
                    "shape": "GitHubBody"
                }
            },
            "payload": "body"
        },
        "GitHubBody": {
            "type": "structure",
            "required": [
                "accessToken"
            ],
            "members": {
                "accessToken": {
                    "shape": "SensitiveString"
                },
                "installationIds": {
                    "shape": "InstallationIds"
                }
            }
        },
        "InstallationIds": {
            "type": "list",
            "member": {
                "shape": "Integer"
            }
        },
        "Integer": {
            "type": "integer",
            "box": true
        },
        "InvalidParameterException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "exception": true
        },
        "SensitiveString": {
            "type": "string",
            "sensitive": true
        },
        "String": {
            "type": "string"
        },
        "ValidationException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "fieldList": {
                    "shape": "ValidationExceptionFieldList",
                    "documentation": "<p>A list of specific failures encountered while validating the input. A member can appear in this list more than once if it failed to satisfy multiple constraints.</p>"
                },
                "message": {
                    "shape": "String",
                    "documentation": "<p>A summary of the validation failure.</p>"
                }
            },
            "documentation": "<p>A standard error for input validation failures. This should be thrown by services when a member of the input structure falls outside of the modeled or documented constraints.</p>",
            "exception": true
        },
        "ValidationExceptionField": {
            "type": "structure",
            "required": [
                "message",
                "path"
            ],
            "members": {
                "message": {
                    "shape": "String",
                    "documentation": "<p>A detailed description of the validation failure.</p>"
                },
                "path": {
                    "shape": "String",
                    "documentation": "<p>A JSONPointer expression to the structure member whose value failed to satisfy the modeled constraints.</p>"
                }
            },
            "documentation": "<p>Describes one specific validation failure for an input member.</p>"
        },
        "ValidationExceptionFieldList": {
            "type": "list",
            "member": {
                "shape": "ValidationExceptionField"
            }
        }
    }
}