{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-08-17",
        "endpointPrefix": "amplify",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Amplify Console Extensions Service",
        "serviceId": "Amplify",
        "signatureVersion": "v4",
        "signingName": "amplify",
        "uid": "amplify-2021-08-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPXV6REJOD34N57IOW3WQSNMTBN4JX4ZFLLIZ7OPXFWZGRFHYSPQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URI62KIZOZSJX3RFKY5IMVRPLIESE4W4FLX5XKISO3G5YS3AAD3A/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MMUWIQMLGWKANWOVXZJGBQ5LGR4AT54ILG4U4UYGWYJVH7ZTXGVQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5F5LHLZ7EGM6MABMIRGOPFTWRWPVCT5MEASYDVSE2R6J5J7HWNWA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVBV4ETORFFHRHFTOOW3STJVMBEIEMRK32KXVBXAIOT7Z4TB2XMQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KXNT3O7OROEL2EP3BK3W72JUQV4GA34OPH33Z4ZR66VQC4JZZMKA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q36NWWFCK3AROZ7VMUURBJWWR5YW4AHTXUZVWY7VCHM3OEZQJJRA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HNCR625XCTFUJH74DW4VLMJBEYNHAXCNTR4BVRHFCNHXE43N444Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HLOSGB7OXN55I3QUFDFTSTDQG5BXOBSXREYWIWY22ZMTRRUNZZ4A/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJPA4232VXIY6SESSW6237KLJQS2OUV6NKENN63DLWPIQ6GC7XQA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6CLM4YWA7YHC2WCF34GENXKNE2KHIO67OQ7JADVDUOXHVMYTJOVQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UAU5GUE3JFMKZJQSORHYWPGETF7FV6FPCYRJXLRQJK7XNIK2UIOA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QWSBNGRSTBJJICWBT3TWKULJEEKZUXWWACYGVAWZIAGAIGKVSKCA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2YLJKKZRQKC2FDSGFRAOLCFOWZ6B3HPPHQCNL5TSLFXM2A26IDGA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CASKWUNDVG24MKYD7UAX3X7BUY2HRUJ7HLR37RGMYPQF4VQA354A/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4RQCH26BOU6T7KKFHX2MCSY2WS6GZAIH5MZWXLC6H72R6JBJKVKQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ROLGLKR6RS2C6AHP5KZ5Y4LOSHN6VG2P3H37D4767TK6AHXUBJUQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BDWMWACODIKTR4HLLOMC6NUCX4LFG6VQZE7WECETDUPTV7QCWQQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LMB2HKIRHMTEYOX5UT775L2E5ZYPH3PRBKAKGBJWMU5S7YHWLQQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O5GBVPAIELFIDHXRXZRNF7LLFFS2MJ6U5TK7D7SL3TQI5E4ZR5HA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZJKFWAU7YL7PQR7NRRXCMHVTOOZE3YM23CBDTJ7SK6XWZLC65ONA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OBOBLKV3R3ITQ3VOQIVBJZQUXWLBUQWHXN7YXNW2LRFTFZFRDWYQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CC3JRYC55J23NSICASMELPECVZNQLAP7MNTG77KH7KQE54B32ZQA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IXS6QYF4XC2NUAXRH3ACUFWGNNWA5YI6PJ5XJACO5IUXL2S2467Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5VQCPCSWM5GA7OX5UDM6QS4UM7ZUDIODJZBTO56QLS5DXNYTMT2Q/commons.js"
        ]
    },
    "operations": {
        "CreateApp": {
            "name": "CreateApp",
            "http": {
                "method": "POST",
                "requestUri": "/access-token",
                "responseCode": 200
            },
            "input": {
                "shape": "GenerateAccessTokenRequest"
            },
            "output": {
                "shape": "GenerateAccessTokenResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InvalidParameterException"
                }
            ],
            "documentation": "<p>Generates a Github access token required for the CreateApp operation</p>",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPXV6REJOD34N57IOW3WQSNMTBN4JX4ZFLLIZ7OPXFWZGRFHYSPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URI62KIZOZSJX3RFKY5IMVRPLIESE4W4FLX5XKISO3G5YS3AAD3A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMUWIQMLGWKANWOVXZJGBQ5LGR4AT54ILG4U4UYGWYJVH7ZTXGVQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F5LHLZ7EGM6MABMIRGOPFTWRWPVCT5MEASYDVSE2R6J5J7HWNWA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVBV4ETORFFHRHFTOOW3STJVMBEIEMRK32KXVBXAIOT7Z4TB2XMQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXNT3O7OROEL2EP3BK3W72JUQV4GA34OPH33Z4ZR66VQC4JZZMKA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q36NWWFCK3AROZ7VMUURBJWWR5YW4AHTXUZVWY7VCHM3OEZQJJRA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNCR625XCTFUJH74DW4VLMJBEYNHAXCNTR4BVRHFCNHXE43N444Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLOSGB7OXN55I3QUFDFTSTDQG5BXOBSXREYWIWY22ZMTRRUNZZ4A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJPA4232VXIY6SESSW6237KLJQS2OUV6NKENN63DLWPIQ6GC7XQA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CLM4YWA7YHC2WCF34GENXKNE2KHIO67OQ7JADVDUOXHVMYTJOVQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAU5GUE3JFMKZJQSORHYWPGETF7FV6FPCYRJXLRQJK7XNIK2UIOA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWSBNGRSTBJJICWBT3TWKULJEEKZUXWWACYGVAWZIAGAIGKVSKCA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YLJKKZRQKC2FDSGFRAOLCFOWZ6B3HPPHQCNL5TSLFXM2A26IDGA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CASKWUNDVG24MKYD7UAX3X7BUY2HRUJ7HLR37RGMYPQF4VQA354A/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RQCH26BOU6T7KKFHX2MCSY2WS6GZAIH5MZWXLC6H72R6JBJKVKQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROLGLKR6RS2C6AHP5KZ5Y4LOSHN6VG2P3H37D4767TK6AHXUBJUQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BDWMWACODIKTR4HLLOMC6NUCX4LFG6VQZE7WECETDUPTV7QCWQQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LMB2HKIRHMTEYOX5UT775L2E5ZYPH3PRBKAKGBJWMU5S7YHWLQQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5GBVPAIELFIDHXRXZRNF7LLFFS2MJ6U5TK7D7SL3TQI5E4ZR5HA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJKFWAU7YL7PQR7NRRXCMHVTOOZE3YM23CBDTJ7SK6XWZLC65ONA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBOBLKV3R3ITQ3VOQIVBJZQUXWLBUQWHXN7YXNW2LRFTFZFRDWYQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CC3JRYC55J23NSICASMELPECVZNQLAP7MNTG77KH7KQE54B32ZQA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXS6QYF4XC2NUAXRH3ACUFWGNNWA5YI6PJ5XJACO5IUXL2S2467Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VQCPCSWM5GA7OX5UDM6QS4UM7ZUDIODJZBTO56QLS5DXNYTMT2Q/commons.js"
            ]
        }
    },
    "shapes": {
        "GenerateAccessTokenRequest": {
            "type": "structure",
            "required": [
                "clientId",
                "code",
                "repositoryType"
            ],
            "members": {
                "accountId": {
                    "shape": "String"
                },
                "clientId": {
                    "shape": "String"
                },
                "code": {
                    "shape": "SensitiveString"
                },
                "repositoryType": {
                    "shape": "String"
                },
                "state": {
                    "shape": "String"
                }
            }
        },
        "GenerateAccessTokenResponse": {
            "type": "structure",
            "required": [
                "body"
            ],
            "members": {
                "body": {
                    "shape": "GitHubBody"
                }
            },
            "payload": "body"
        },
        "GitHubBody": {
            "type": "structure",
            "required": [
                "accessToken"
            ],
            "members": {
                "accessToken": {
                    "shape": "SensitiveString"
                },
                "installationIds": {
                    "shape": "InstallationIds"
                }
            }
        },
        "InstallationIds": {
            "type": "list",
            "member": {
                "shape": "Integer"
            }
        },
        "Integer": {
            "type": "integer",
            "box": true
        },
        "InvalidParameterException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "exception": true
        },
        "SensitiveString": {
            "type": "string",
            "sensitive": true
        },
        "String": {
            "type": "string"
        },
        "ValidationException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "fieldList": {
                    "shape": "ValidationExceptionFieldList",
                    "documentation": "<p>A list of specific failures encountered while validating the input. A member can appear in this list more than once if it failed to satisfy multiple constraints.</p>"
                },
                "message": {
                    "shape": "String",
                    "documentation": "<p>A summary of the validation failure.</p>"
                }
            },
            "documentation": "<p>A standard error for input validation failures. This should be thrown by services when a member of the input structure falls outside of the modeled or documented constraints.</p>",
            "exception": true
        },
        "ValidationExceptionField": {
            "type": "structure",
            "required": [
                "message",
                "path"
            ],
            "members": {
                "message": {
                    "shape": "String",
                    "documentation": "<p>A detailed description of the validation failure.</p>"
                },
                "path": {
                    "shape": "String",
                    "documentation": "<p>A JSONPointer expression to the structure member whose value failed to satisfy the modeled constraints.</p>"
                }
            },
            "documentation": "<p>Describes one specific validation failure for an input member.</p>"
        },
        "ValidationExceptionFieldList": {
            "type": "list",
            "member": {
                "shape": "ValidationExceptionField"
            }
        }
    }
}