{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-08-17",
        "endpointPrefix": "amplify",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Amplify Console Extensions Service",
        "serviceId": "Amplify",
        "signatureVersion": "v4",
        "signingName": "amplify",
        "uid": "amplify-2021-08-17",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWLWXWHNA4ZK3Z75VMAGHBR5PKRCLIQQNQ77KB3UWZTIKI7USR3Q/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B4TKLQLIV4GUKYE2DOTGGPT4NW5VKUZXUZ43TXH5FOBSCHONIWXQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJYL63FRZZAVTLKNR2ZOLUJQPXKJY5MNBEPGUWAWR2WZR75QKJQA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3E6CDTPEMLDJ77K4W6H3ITZO2CYU4TXH7BQG4IK7VBPKIGMGU6NQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4UL5S5OWVCRSOR3GBZHHA5MYKWYRNPZT4523LASFTQPSLJXXBFZA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/POIRIDJFUV7UBFZ36MPYEFVR2CLV4UEXWVXSKH6K3QB4HZKALEZQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SC5AENRGWQ6PBSKZDPYE56F4ORX2ZDSO2OMN5BAQ3DMKDXXPGMMA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JE4W7XPZSXDLYQIYQCCRQBC64I2LA5UD5N3XNSJ7DDOAA6KVPVSA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2HLJEXXMF2E5KSKKLDYJD6NRPZO4KSZJGQ4PYWOXWED56JG2UHSA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEZ6ZGWHORF7OGPGMG4QHGQXPNNGII2GQZARDSYPVLMKMLVHWZMA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOZ2H6PE7UR7WLD5RPMDZNTAXPDLZGQ5IO53DKZABRRIC7RTIRNA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BP6YKXQEWJXBAYP2CSGWQRV42V2K3MNMEOG65S67R525W3WJR7SA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W7EQ3KRXWMAXOQHTBY7ATSAB45EZEEB5Q3QUZRYVV2FNVGELGQLA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PQLFMQUWBAJQI6CCQ35S37NRHPNVK3UEJUGBDGU6J3SDZSRZT4DQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PQDIT72T5D4ACQWLBMIWN7GRHEERPYS27T3AXPSRQZMJHVSOQBFQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVYOXBIPL3AUFPKKIO4HBHW4VU3GQKF6GQ5YRPRSR47EOSBFNZGA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7NHLPYVCLSJH4OGXG3IHCJ3K6QI45BE3SA25WS36H6CNEDKONZA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5F2NX26JY6LWCTIUDKEZMJUDJFIPLESDYR3JZ3GQEFDNX6JV6WBA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U7BPW2II4KHUSMQ3UPSZRSP4DAB6MMEHWQCX64GZNO2NVH2RYOLQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XR2I6KYBGN67GUXZPPK2CFDWTEV6P72T23SGDTIOYEW65DCO2BEA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TXEDZQBBODAYGP3KDN3WXTR2GMQZTGITL7YJ7EJJCKIFCNUVZKFQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2R5GFL4J3J7JT2BZD3BNOGU7YOWPJYPHZ6VZC25QCSXORD6CFPQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TDNEYRUJSM27GGERFYD3YUE3A72DILOLOIIJ75UKZLDVD3JNBLBQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MHCNZT5IQT3LCP76RHFXUVKA2BFTJHUHKVV7DYF6EPS5HWNT2KVA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NK6VOT5DEA3DAOFGBTJOVN3X44UCS3HDZLCK7J4SY3WAQHYEHJKA/commons.js"
        ]
    },
    "operations": {
        "CreateApp": {
            "name": "CreateApp",
            "http": {
                "method": "POST",
                "requestUri": "/access-token",
                "responseCode": 200
            },
            "input": {
                "shape": "GenerateAccessTokenRequest"
            },
            "output": {
                "shape": "GenerateAccessTokenResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InvalidParameterException"
                }
            ],
            "documentation": "<p>Generates a Github access token required for the CreateApp operation</p>",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWLWXWHNA4ZK3Z75VMAGHBR5PKRCLIQQNQ77KB3UWZTIKI7USR3Q/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4TKLQLIV4GUKYE2DOTGGPT4NW5VKUZXUZ43TXH5FOBSCHONIWXQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJYL63FRZZAVTLKNR2ZOLUJQPXKJY5MNBEPGUWAWR2WZR75QKJQA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3E6CDTPEMLDJ77K4W6H3ITZO2CYU4TXH7BQG4IK7VBPKIGMGU6NQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UL5S5OWVCRSOR3GBZHHA5MYKWYRNPZT4523LASFTQPSLJXXBFZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POIRIDJFUV7UBFZ36MPYEFVR2CLV4UEXWVXSKH6K3QB4HZKALEZQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5AENRGWQ6PBSKZDPYE56F4ORX2ZDSO2OMN5BAQ3DMKDXXPGMMA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE4W7XPZSXDLYQIYQCCRQBC64I2LA5UD5N3XNSJ7DDOAA6KVPVSA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HLJEXXMF2E5KSKKLDYJD6NRPZO4KSZJGQ4PYWOXWED56JG2UHSA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEZ6ZGWHORF7OGPGMG4QHGQXPNNGII2GQZARDSYPVLMKMLVHWZMA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOZ2H6PE7UR7WLD5RPMDZNTAXPDLZGQ5IO53DKZABRRIC7RTIRNA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP6YKXQEWJXBAYP2CSGWQRV42V2K3MNMEOG65S67R525W3WJR7SA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W7EQ3KRXWMAXOQHTBY7ATSAB45EZEEB5Q3QUZRYVV2FNVGELGQLA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLFMQUWBAJQI6CCQ35S37NRHPNVK3UEJUGBDGU6J3SDZSRZT4DQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQDIT72T5D4ACQWLBMIWN7GRHEERPYS27T3AXPSRQZMJHVSOQBFQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVYOXBIPL3AUFPKKIO4HBHW4VU3GQKF6GQ5YRPRSR47EOSBFNZGA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7NHLPYVCLSJH4OGXG3IHCJ3K6QI45BE3SA25WS36H6CNEDKONZA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F2NX26JY6LWCTIUDKEZMJUDJFIPLESDYR3JZ3GQEFDNX6JV6WBA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7BPW2II4KHUSMQ3UPSZRSP4DAB6MMEHWQCX64GZNO2NVH2RYOLQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR2I6KYBGN67GUXZPPK2CFDWTEV6P72T23SGDTIOYEW65DCO2BEA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXEDZQBBODAYGP3KDN3WXTR2GMQZTGITL7YJ7EJJCKIFCNUVZKFQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2R5GFL4J3J7JT2BZD3BNOGU7YOWPJYPHZ6VZC25QCSXORD6CFPQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDNEYRUJSM27GGERFYD3YUE3A72DILOLOIIJ75UKZLDVD3JNBLBQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHCNZT5IQT3LCP76RHFXUVKA2BFTJHUHKVV7DYF6EPS5HWNT2KVA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK6VOT5DEA3DAOFGBTJOVN3X44UCS3HDZLCK7J4SY3WAQHYEHJKA/commons.js"
            ]
        }
    },
    "shapes": {
        "GenerateAccessTokenRequest": {
            "type": "structure",
            "required": [
                "clientId",
                "code",
                "repositoryType"
            ],
            "members": {
                "accountId": {
                    "shape": "String"
                },
                "clientId": {
                    "shape": "String"
                },
                "code": {
                    "shape": "SensitiveString"
                },
                "repositoryType": {
                    "shape": "String"
                },
                "state": {
                    "shape": "String"
                }
            }
        },
        "GenerateAccessTokenResponse": {
            "type": "structure",
            "required": [
                "body"
            ],
            "members": {
                "body": {
                    "shape": "GitHubBody"
                }
            },
            "payload": "body"
        },
        "GitHubBody": {
            "type": "structure",
            "required": [
                "accessToken"
            ],
            "members": {
                "accessToken": {
                    "shape": "SensitiveString"
                },
                "installationIds": {
                    "shape": "InstallationIds"
                }
            }
        },
        "InstallationIds": {
            "type": "list",
            "member": {
                "shape": "Integer"
            }
        },
        "Integer": {
            "type": "integer",
            "box": true
        },
        "InvalidParameterException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "exception": true
        },
        "SensitiveString": {
            "type": "string",
            "sensitive": true
        },
        "String": {
            "type": "string"
        },
        "ValidationException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "fieldList": {
                    "shape": "ValidationExceptionFieldList",
                    "documentation": "<p>A list of specific failures encountered while validating the input. A member can appear in this list more than once if it failed to satisfy multiple constraints.</p>"
                },
                "message": {
                    "shape": "String",
                    "documentation": "<p>A summary of the validation failure.</p>"
                }
            },
            "documentation": "<p>A standard error for input validation failures. This should be thrown by services when a member of the input structure falls outside of the modeled or documented constraints.</p>",
            "exception": true
        },
        "ValidationExceptionField": {
            "type": "structure",
            "required": [
                "message",
                "path"
            ],
            "members": {
                "message": {
                    "shape": "String",
                    "documentation": "<p>A detailed description of the validation failure.</p>"
                },
                "path": {
                    "shape": "String",
                    "documentation": "<p>A JSONPointer expression to the structure member whose value failed to satisfy the modeled constraints.</p>"
                }
            },
            "documentation": "<p>Describes one specific validation failure for an input member.</p>"
        },
        "ValidationExceptionFieldList": {
            "type": "list",
            "member": {
                "shape": "ValidationExceptionField"
            }
        }
    }
}