{
    "metadata": {
        "apiVersion": "2020-08-11",
        "endpointPrefix": "amplifybackend",
        "signingName": "amplifybackend",
        "serviceFullName": "AmplifyBackend",
        "serviceId": "AmplifyBackend",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "amplifybackend-2020-08-11",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UYV7RGDL56J6OEIA7HOEE6WK5ALP5NCHPM7TTGLS2E7M7Z5DPJTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
        ]
    },
    "operations": {
        "CloneBackend": {
            "http": {
                "requestUri": "/backend/{appId}/environments/{backendEnvironmentName}/clone",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "TargetEnvironmentName": {
                        "locationName": "targetEnvironmentName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "TargetEnvironmentName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "CreateBackend": {
            "http": {
                "requestUri": "/backend",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "AppName": {
                        "locationName": "appName"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "locationName": "resourceConfig",
                        "type": "structure",
                        "members": {}
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "AppName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "CreateBackendAPI": {
            "http": {
                "requestUri": "/backend/{appId}/api",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "shape": "S8",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "ResourceName",
                    "BackendEnvironmentName",
                    "ResourceConfig"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "CreateBackendAuth": {
            "http": {
                "requestUri": "/backend/{appId}/auth",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "shape": "Si",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "ResourceName",
                    "BackendEnvironmentName",
                    "ResourceConfig"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "CreateBackendConfig": {
            "http": {
                "requestUri": "/backend/{appId}/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendManagerAppId": {
                        "locationName": "backendManagerAppId"
                    }
                },
                "required": [
                    "AppId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "CreateBackendStorage": {
            "http": {
                "requestUri": "/backend/{appId}/storage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "locationName": "resourceConfig",
                        "type": "structure",
                        "members": {
                            "BucketName": {
                                "locationName": "bucketName"
                            },
                            "Permissions": {
                                "shape": "S1h",
                                "locationName": "permissions"
                            },
                            "ServiceName": {
                                "locationName": "serviceName"
                            }
                        },
                        "required": [
                            "ServiceName",
                            "Permissions"
                        ]
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "ResourceName",
                    "BackendEnvironmentName",
                    "ResourceConfig"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "CreateToken": {
            "http": {
                "requestUri": "/backend/{appId}/challenge",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    }
                },
                "required": [
                    "AppId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "ChallengeCode": {
                        "locationName": "challengeCode"
                    },
                    "SessionId": {
                        "locationName": "sessionId"
                    },
                    "Ttl": {
                        "locationName": "ttl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "DeleteBackend": {
            "http": {
                "requestUri": "/backend/{appId}/environments/{backendEnvironmentName}/remove",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "DeleteBackendAPI": {
            "http": {
                "requestUri": "/backend/{appId}/api/{backendEnvironmentName}/remove",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "shape": "S8",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "DeleteBackendAuth": {
            "http": {
                "requestUri": "/backend/{appId}/auth/{backendEnvironmentName}/remove",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "DeleteBackendStorage": {
            "http": {
                "requestUri": "/backend/{appId}/storage/{backendEnvironmentName}/remove",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    },
                    "ServiceName": {
                        "locationName": "serviceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ServiceName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DeleteToken": {
            "http": {
                "requestUri": "/backend/{appId}/challenge/{sessionId}/remove",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "SessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                },
                "required": [
                    "SessionId",
                    "AppId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "IsSuccess": {
                        "locationName": "isSuccess",
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "GenerateBackendAPIModels": {
            "http": {
                "requestUri": "/backend/{appId}/api/{backendEnvironmentName}/generateModels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "GetBackend": {
            "http": {
                "requestUri": "/backend/{appId}/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    }
                },
                "required": [
                    "AppId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AmplifyFeatureFlags": {
                        "locationName": "amplifyFeatureFlags"
                    },
                    "AmplifyMetaConfig": {
                        "locationName": "amplifyMetaConfig"
                    },
                    "AppId": {
                        "locationName": "appId"
                    },
                    "AppName": {
                        "locationName": "appName"
                    },
                    "BackendEnvironmentList": {
                        "shape": "S11",
                        "locationName": "backendEnvironmentList"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "GetBackendAPI": {
            "http": {
                "requestUri": "/backend/{appId}/api/{backendEnvironmentName}/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "shape": "S8",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "ResourceConfig": {
                        "shape": "S8",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "GetBackendAPIModels": {
            "http": {
                "requestUri": "/backend/{appId}/api/{backendEnvironmentName}/getModels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "Models": {
                        "locationName": "models"
                    },
                    "Status": {
                        "locationName": "status"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "GetBackendAuth": {
            "http": {
                "requestUri": "/backend/{appId}/auth/{backendEnvironmentName}/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "ResourceConfig": {
                        "shape": "Si",
                        "locationName": "resourceConfig"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "GetBackendJob": {
            "http": {
                "method": "GET",
                "requestUri": "/backend/{appId}/job/{backendEnvironmentName}/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "JobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "JobId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "CreateTime": {
                        "locationName": "createTime"
                    },
                    "Error": {
                        "locationName": "error"
                    },
                    "JobId": {
                        "locationName": "jobId"
                    },
                    "Operation": {
                        "locationName": "operation"
                    },
                    "Status": {
                        "locationName": "status"
                    },
                    "UpdateTime": {
                        "locationName": "updateTime"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "GetBackendStorage": {
            "http": {
                "requestUri": "/backend/{appId}/storage/{backendEnvironmentName}/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "ResourceName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "locationName": "backendEnvironmentName"
                    },
                    "ResourceConfig": {
                        "locationName": "resourceConfig",
                        "type": "structure",
                        "members": {
                            "BucketName": {
                                "locationName": "bucketName"
                            },
                            "Imported": {
                                "locationName": "imported",
                                "type": "boolean"
                            },
                            "Permissions": {
                                "shape": "S1h",
                                "locationName": "permissions"
                            },
                            "ServiceName": {
                                "locationName": "serviceName"
                            }
                        },
                        "required": [
                            "ServiceName",
                            "Imported"
                        ]
                    },
                    "ResourceName": {
                        "locationName": "resourceName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetToken": {
            "http": {
                "method": "GET",
                "requestUri": "/backend/{appId}/challenge/{sessionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "SessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                },
                "required": [
                    "SessionId",
                    "AppId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "locationName": "appId"
                    },
                    "ChallengeCode": {
                        "locationName": "challengeCode"
                    },
                    "SessionId": {
                        "locationName": "sessionId"
                    },
                    "Ttl": {
                        "locationName": "ttl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS54DA2SBXBNOX7QT3LQUF4G7IY5TPUU4EWQP3MHP2VZLCSEXCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3QBZHSKKNDFBOEXPJIIQFKOWCD6EI5OJX3PB5I7JEVRLD7OYTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHIYDG2PQDDHI5PN42IXDCXJOE7AAIGWTSX5ZUVVBH6P5UD6Q4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXPBWHTASU7OIUAGIXBGXNG2SWK5Q6OCWCN2ANZGRZ4T5LTDRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFOYQBVJ6WDV42Q7KFJZ6HGKRORWQ76KOMIOQFR445DVEFETQ6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBCDMGQADU5X4DTADVVZXZRVDZQCCF6ADMJLGGE67L7JG7W342PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B73QLH2FY675P6FRMSMIHIP3GKEHEC3YJW6UC35HDOPS3J7JDXUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNVS5CNOLA2E4IYADZRY4P53ZBR7LVMGMG33K6OK6DZSLVPEBGZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4WYA3Z4TDV2QELRBRSB3T4P2NHBLUVWR44VSVY7HBJFF5RSFBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js"
            ]
        },
        "ImportBackendAuth": {
            "http": {
                "requestUri": "/backend/{appId}/auth/{backendEnvironmentName}/import",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AppId": {
                        "location": "uri",
                        "locationName": "appId"
                    },
                    "BackendEnvironmentName": {
                        "location": "uri",
                        "locationName": "backendEnvironmentName"
                    },
                    "IdentityPoolId": {
                        "locationName": "identityPoolId"
                    },
                    "NativeClientId": {
                        "locationName": "nativeClientId"
                    },
                    "UserPoolId": {
                        "locationName": "userPoolId"
                    },
                    "WebClientId": {
                        "locationName": "webClientId"
                    }
                },
                "required": [
                    "AppId",
                    "BackendEnvironmentName",
                    "UserPoolId",
                    "NativeClientId",
                    "WebClientId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
[...]
