{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-01-01",
        "endpointPrefix": "aosd",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceFullName": "Amazon OpenSearch Dashboards Application",
        "serviceId": "AOSD",
        "signatureVersion": "v4",
        "uid": "aosd-2023-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/MZY2LUQXIPUZAFUOQMHBJKIIBWFQCJCKJWRZKOQSFCPK6WD2W5BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4GBII7GVIE45KB5TR4SXILRD6A4XPDNJZZLEEW5B77ZRA2TLDREQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKQYLYKSF2V7H6TLD3WERPJ6ON324ME25PHES6U7SENXVZ2SR7NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
        ]
    },
    "operations": {
        "BatchUpdateAccessorForWebApp": {
            "http": {
                "requestUri": "/2023-01-01/aosd/batch-update-accessor-for-web-app",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "entries"
                ],
                "members": {
                    "id": {},
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "assignmentRequestType": {},
                                "accessorType": {},
                                "accessorId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successful": {
                        "shape": "S9"
                    },
                    "failed": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZY2LUQXIPUZAFUOQMHBJKIIBWFQCJCKJWRZKOQSFCPK6WD2W5BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GBII7GVIE45KB5TR4SXILRD6A4XPDNJZZLEEW5B77ZRA2TLDREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKQYLYKSF2V7H6TLD3WERPJ6ON324ME25PHES6U7SENXVZ2SR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "CreateWebApp": {
            "http": {
                "requestUri": "/2023-01-01/aosd/web-app",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "iamIdentityCenterInstanceArn",
                    "iamIdentityCenterRegion"
                ],
                "members": {
                    "name": {},
                    "iamIdentityCenterInstanceArn": {},
                    "iamIdentityCenterRegion": {},
                    "allowedDataSourceArns": {
                        "shape": "Sf"
                    },
                    "identityRoleMappings": {
                        "shape": "Sg"
                    },
                    "appConfigs": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZY2LUQXIPUZAFUOQMHBJKIIBWFQCJCKJWRZKOQSFCPK6WD2W5BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GBII7GVIE45KB5TR4SXILRD6A4XPDNJZZLEEW5B77ZRA2TLDREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKQYLYKSF2V7H6TLD3WERPJ6ON324ME25PHES6U7SENXVZ2SR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "DeleteWebApp": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2023-01-01/aosd/web-app/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZY2LUQXIPUZAFUOQMHBJKIIBWFQCJCKJWRZKOQSFCPK6WD2W5BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GBII7GVIE45KB5TR4SXILRD6A4XPDNJZZLEEW5B77ZRA2TLDREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKQYLYKSF2V7H6TLD3WERPJ6ON324ME25PHES6U7SENXVZ2SR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "GetWebApp": {
            "http": {
                "method": "GET",
                "requestUri": "/2023-01-01/aosd/web-app/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "arn": {},
                    "name": {},
                    "status": {},
                    "iamIdentityCenterInstanceArn": {},
                    "allowedDataSourceArns": {
                        "shape": "Sf"
                    },
                    "identityRoleMappings": {
                        "shape": "Sg"
                    },
                    "appConfigs": {
                        "shape": "Sj"
                    },
                    "endpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZY2LUQXIPUZAFUOQMHBJKIIBWFQCJCKJWRZKOQSFCPK6WD2W5BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GBII7GVIE45KB5TR4SXILRD6A4XPDNJZZLEEW5B77ZRA2TLDREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKQYLYKSF2V7H6TLD3WERPJ6ON324ME25PHES6U7SENXVZ2SR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "ListAccessorsForWebApp": {
            "http": {
                "method": "GET",
                "requestUri": "/2023-01-01/aosd/list-accessors-for-web-app/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "accessors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accessorType": {},
                                "accessorId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZY2LUQXIPUZAFUOQMHBJKIIBWFQCJCKJWRZKOQSFCPK6WD2W5BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GBII7GVIE45KB5TR4SXILRD6A4XPDNJZZLEEW5B77ZRA2TLDREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKQYLYKSF2V7H6TLD3WERPJ6ON324ME25PHES6U7SENXVZ2SR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "ListWebApps": {
            "http": {
                "method": "GET",
                "requestUri": "/2023-01-01/aosd/list-web-apps",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "name": {},
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "statuses": {
                        "type": "list",
                        "member": {}
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "webAppSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "arn": {},
                                "name": {},
                                "endpoint": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZY2LUQXIPUZAFUOQMHBJKIIBWFQCJCKJWRZKOQSFCPK6WD2W5BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GBII7GVIE45KB5TR4SXILRD6A4XPDNJZZLEEW5B77ZRA2TLDREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKQYLYKSF2V7H6TLD3WERPJ6ON324ME25PHES6U7SENXVZ2SR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        },
        "UpdateWebApp": {
            "http": {
                "method": "PUT",
                "requestUri": "/2023-01-01/aosd/web-app/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "allowedDataSourceArns": {
                        "shape": "Sf"
                    },
                    "identityRoleMappings": {
                        "shape": "Sg"
                    },
                    "appConfigs": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZY2LUQXIPUZAFUOQMHBJKIIBWFQCJCKJWRZKOQSFCPK6WD2W5BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GBII7GVIE45KB5TR4SXILRD6A4XPDNJZZLEEW5B77ZRA2TLDREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKQYLYKSF2V7H6TLD3WERPJ6ON324ME25PHES6U7SENXVZ2SR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHUHBZQDMXTFX2YLSHX5YZWRZXE7P4KDBTR6JRHKZTLRLVXFNOXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGT6BNJYKERJIZDCLM6R2JHZIU3APSGFZBP3POAL7JQ4WOOKGHXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKWYRJ6ASP3QMJSTEJ7EHVVDFFB5RZM7FD6VVXTKNANJQQ637C7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSRLQNS5YA3OEPDFL4AOJOKUTUN754KSJJITPO6ZFBZ3LTW7CJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3NBJBHH74BGGIZ6QXSLKQLOYVO62SLO32EMIMBQ642VLFUWIH5Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "id": {},
                    "assignmentRequestType": {},
                    "code": {},
                    "message": {}
                }
            }
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "id": {},
                    "accessorType": {},
                    "roleArn": {}
                }
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        }
    }
}