{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-09-27",
        "endpointPrefix": "apigateway",
        "protocol": "rest-json",
        "serviceFullName": "AmazonApiGatewayInternal",
        "uid": "apigateway-internal-2018-09-27",
        "signingName": "apigateway",
        "serviceId": "ApiGatewayInternal",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CNHCKK7CJDCQJJM3EH7GIW2M4G74AN2E6TEXIGLHDDXXKVEK3UAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XEHJQIKHXMOYHZYYHCU6VZMFBPJ3MDACUHJRLT4UQH25NOSMBCRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7GVMASG5GJHFKHCGZLJIOUJ2FHLLJFQZG6BYR7HL6RGUREKVVD7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RD5PQRCLOZCDCLC2UA62P2T4NHFTLUPKBMLQEGADUYVERDHXQIGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PNDI4L53IVN4YLETT2VAULFPUOQDBH6JFL3VKMXYH2QLJ4X536PQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDTNML76YQ2SNX3ZKL4RXTZVXJUJJ7Q4KDTGHNZ7RRVLMD7EUNEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EYIU6NKGYF7AHBBWBYZ7P4FJVDRLAXFVYBN4ZA24A4M5LS337YNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LLYWKGFPY66EDGUAMDBYJIJQSWKYBQ43EHOY3JZHXGHPMALVRDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ODLSXCP2O6OQY563RZ5MCNYEYIYVYCRQHCJZ4NQYSE734Y62UUJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6N72NJWAHLCOV4KMAQKNQE4HRBEOPFNYJS54SU55QOWOYQOCWJ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKB4IZ222NHSK3SPYTOZLKHD7GLBQCF6VVJGHY5SDMCN6DJ3E7LA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3ZQJNMAH3LBQQHGA7EXUQCTYD4RAXXYGVCDSVW2MAWID2F6WBUKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/main.js"
        ]
    },
    "operations": {
        "AssociateWebAcl": {
            "name": "AssociateWebAcl",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "AssociateWebAclRequest"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNHCKK7CJDCQJJM3EH7GIW2M4G74AN2E6TEXIGLHDDXXKVEK3UAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEHJQIKHXMOYHZYYHCU6VZMFBPJ3MDACUHJRLT4UQH25NOSMBCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVMASG5GJHFKHCGZLJIOUJ2FHLLJFQZG6BYR7HL6RGUREKVVD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD5PQRCLOZCDCLC2UA62P2T4NHFTLUPKBMLQEGADUYVERDHXQIGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDI4L53IVN4YLETT2VAULFPUOQDBH6JFL3VKMXYH2QLJ4X536PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTNML76YQ2SNX3ZKL4RXTZVXJUJJ7Q4KDTGHNZ7RRVLMD7EUNEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYIU6NKGYF7AHBBWBYZ7P4FJVDRLAXFVYBN4ZA24A4M5LS337YNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LLYWKGFPY66EDGUAMDBYJIJQSWKYBQ43EHOY3JZHXGHPMALVRDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODLSXCP2O6OQY563RZ5MCNYEYIYVYCRQHCJZ4NQYSE734Y62UUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N72NJWAHLCOV4KMAQKNQE4HRBEOPFNYJS54SU55QOWOYQOCWJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKB4IZ222NHSK3SPYTOZLKHD7GLBQCF6VVJGHY5SDMCN6DJ3E7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZQJNMAH3LBQQHGA7EXUQCTYD4RAXXYGVCDSVW2MAWID2F6WBUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/main.js"
            ]
        },
        "DisassociateWebAcl": {
            "name": "DisassociateWebAcl",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "DisassociateWebAclRequest"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNHCKK7CJDCQJJM3EH7GIW2M4G74AN2E6TEXIGLHDDXXKVEK3UAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEHJQIKHXMOYHZYYHCU6VZMFBPJ3MDACUHJRLT4UQH25NOSMBCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVMASG5GJHFKHCGZLJIOUJ2FHLLJFQZG6BYR7HL6RGUREKVVD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD5PQRCLOZCDCLC2UA62P2T4NHFTLUPKBMLQEGADUYVERDHXQIGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDI4L53IVN4YLETT2VAULFPUOQDBH6JFL3VKMXYH2QLJ4X536PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTNML76YQ2SNX3ZKL4RXTZVXJUJJ7Q4KDTGHNZ7RRVLMD7EUNEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYIU6NKGYF7AHBBWBYZ7P4FJVDRLAXFVYBN4ZA24A4M5LS337YNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LLYWKGFPY66EDGUAMDBYJIJQSWKYBQ43EHOY3JZHXGHPMALVRDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODLSXCP2O6OQY563RZ5MCNYEYIYVYCRQHCJZ4NQYSE734Y62UUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N72NJWAHLCOV4KMAQKNQE4HRBEOPFNYJS54SU55QOWOYQOCWJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKB4IZ222NHSK3SPYTOZLKHD7GLBQCF6VVJGHY5SDMCN6DJ3E7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZQJNMAH3LBQQHGA7EXUQCTYD4RAXXYGVCDSVW2MAWID2F6WBUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/main.js"
            ]
        },
        "GetDomainName": {
            "name": "GetDomainName",
            "http": {
                "method": "GET",
                "requestUri": "/private/domainnames/{domain_name}"
            },
            "input": {
                "shape": "GetDomainNameInternalRequest"
            },
            "output": {
                "shape": "DomainNameInternal"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ServiceUnavailableException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNHCKK7CJDCQJJM3EH7GIW2M4G74AN2E6TEXIGLHDDXXKVEK3UAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEHJQIKHXMOYHZYYHCU6VZMFBPJ3MDACUHJRLT4UQH25NOSMBCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVMASG5GJHFKHCGZLJIOUJ2FHLLJFQZG6BYR7HL6RGUREKVVD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD5PQRCLOZCDCLC2UA62P2T4NHFTLUPKBMLQEGADUYVERDHXQIGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDI4L53IVN4YLETT2VAULFPUOQDBH6JFL3VKMXYH2QLJ4X536PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTNML76YQ2SNX3ZKL4RXTZVXJUJJ7Q4KDTGHNZ7RRVLMD7EUNEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYIU6NKGYF7AHBBWBYZ7P4FJVDRLAXFVYBN4ZA24A4M5LS337YNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LLYWKGFPY66EDGUAMDBYJIJQSWKYBQ43EHOY3JZHXGHPMALVRDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODLSXCP2O6OQY563RZ5MCNYEYIYVYCRQHCJZ4NQYSE734Y62UUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N72NJWAHLCOV4KMAQKNQE4HRBEOPFNYJS54SU55QOWOYQOCWJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKB4IZ222NHSK3SPYTOZLKHD7GLBQCF6VVJGHY5SDMCN6DJ3E7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZQJNMAH3LBQQHGA7EXUQCTYD4RAXXYGVCDSVW2MAWID2F6WBUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/main.js"
            ]
        },
        "GetDomainNameCertificateStatus": {
            "name": "GetDomainNameCertificateStatus",
            "http": {
                "method": "GET",
                "requestUri": "/private/domainnames/{domain_name}/certificate/status"
            },
            "input": {
                "shape": "GetDomainNameCertificateStatusRequest"
            },
            "output": {
                "shape": "DomainNameStatus"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ServiceUnavailableException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "BadRequestException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNHCKK7CJDCQJJM3EH7GIW2M4G74AN2E6TEXIGLHDDXXKVEK3UAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEHJQIKHXMOYHZYYHCU6VZMFBPJ3MDACUHJRLT4UQH25NOSMBCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVMASG5GJHFKHCGZLJIOUJ2FHLLJFQZG6BYR7HL6RGUREKVVD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD5PQRCLOZCDCLC2UA62P2T4NHFTLUPKBMLQEGADUYVERDHXQIGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDI4L53IVN4YLETT2VAULFPUOQDBH6JFL3VKMXYH2QLJ4X536PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTNML76YQ2SNX3ZKL4RXTZVXJUJJ7Q4KDTGHNZ7RRVLMD7EUNEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYIU6NKGYF7AHBBWBYZ7P4FJVDRLAXFVYBN4ZA24A4M5LS337YNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LLYWKGFPY66EDGUAMDBYJIJQSWKYBQ43EHOY3JZHXGHPMALVRDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODLSXCP2O6OQY563RZ5MCNYEYIYVYCRQHCJZ4NQYSE734Y62UUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N72NJWAHLCOV4KMAQKNQE4HRBEOPFNYJS54SU55QOWOYQOCWJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKB4IZ222NHSK3SPYTOZLKHD7GLBQCF6VVJGHY5SDMCN6DJ3E7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZQJNMAH3LBQQHGA7EXUQCTYD4RAXXYGVCDSVW2MAWID2F6WBUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/main.js"
            ]
        },
        "GetDomainNames": {
            "name": "GetDomainNames",
            "http": {
                "method": "GET",
                "requestUri": "/private/domainnames"
            },
            "input": {
                "shape": "GetDomainNamesInternalRequest"
            },
            "output": {
                "shape": "DomainNamesInternal"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNHCKK7CJDCQJJM3EH7GIW2M4G74AN2E6TEXIGLHDDXXKVEK3UAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEHJQIKHXMOYHZYYHCU6VZMFBPJ3MDACUHJRLT4UQH25NOSMBCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVMASG5GJHFKHCGZLJIOUJ2FHLLJFQZG6BYR7HL6RGUREKVVD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD5PQRCLOZCDCLC2UA62P2T4NHFTLUPKBMLQEGADUYVERDHXQIGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDI4L53IVN4YLETT2VAULFPUOQDBH6JFL3VKMXYH2QLJ4X536PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTNML76YQ2SNX3ZKL4RXTZVXJUJJ7Q4KDTGHNZ7RRVLMD7EUNEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYIU6NKGYF7AHBBWBYZ7P4FJVDRLAXFVYBN4ZA24A4M5LS337YNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LLYWKGFPY66EDGUAMDBYJIJQSWKYBQ43EHOY3JZHXGHPMALVRDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODLSXCP2O6OQY563RZ5MCNYEYIYVYCRQHCJZ4NQYSE734Y62UUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N72NJWAHLCOV4KMAQKNQE4HRBEOPFNYJS54SU55QOWOYQOCWJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKB4IZ222NHSK3SPYTOZLKHD7GLBQCF6VVJGHY5SDMCN6DJ3E7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZQJNMAH3LBQQHGA7EXUQCTYD4RAXXYGVCDSVW2MAWID2F6WBUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/main.js"
            ]
        },
        "GetWebAclByResource": {
            "name": "GetWebAclByResource",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "GetWebAclByResourceRequest"
            },
            "output": {
                "shape": "WebAcl"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNHCKK7CJDCQJJM3EH7GIW2M4G74AN2E6TEXIGLHDDXXKVEK3UAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEHJQIKHXMOYHZYYHCU6VZMFBPJ3MDACUHJRLT4UQH25NOSMBCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVMASG5GJHFKHCGZLJIOUJ2FHLLJFQZG6BYR7HL6RGUREKVVD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD5PQRCLOZCDCLC2UA62P2T4NHFTLUPKBMLQEGADUYVERDHXQIGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDI4L53IVN4YLETT2VAULFPUOQDBH6JFL3VKMXYH2QLJ4X536PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTNML76YQ2SNX3ZKL4RXTZVXJUJJ7Q4KDTGHNZ7RRVLMD7EUNEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYIU6NKGYF7AHBBWBYZ7P4FJVDRLAXFVYBN4ZA24A4M5LS337YNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LLYWKGFPY66EDGUAMDBYJIJQSWKYBQ43EHOY3JZHXGHPMALVRDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODLSXCP2O6OQY563RZ5MCNYEYIYVYCRQHCJZ4NQYSE734Y62UUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N72NJWAHLCOV4KMAQKNQE4HRBEOPFNYJS54SU55QOWOYQOCWJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKB4IZ222NHSK3SPYTOZLKHD7GLBQCF6VVJGHY5SDMCN6DJ3E7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZQJNMAH3LBQQHGA7EXUQCTYD4RAXXYGVCDSVW2MAWID2F6WBUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/main.js"
            ]
        },
        "ListResourcesByWebAcl": {
            "name": "ListResourcesByWebAcl",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "ListResourcesByWebAclRequest"
            },
            "output": {
                "shape": "StageResourceList"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNHCKK7CJDCQJJM3EH7GIW2M4G74AN2E6TEXIGLHDDXXKVEK3UAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEHJQIKHXMOYHZYYHCU6VZMFBPJ3MDACUHJRLT4UQH25NOSMBCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVMASG5GJHFKHCGZLJIOUJ2FHLLJFQZG6BYR7HL6RGUREKVVD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD5PQRCLOZCDCLC2UA62P2T4NHFTLUPKBMLQEGADUYVERDHXQIGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDI4L53IVN4YLETT2VAULFPUOQDBH6JFL3VKMXYH2QLJ4X536PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTNML76YQ2SNX3ZKL4RXTZVXJUJJ7Q4KDTGHNZ7RRVLMD7EUNEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYIU6NKGYF7AHBBWBYZ7P4FJVDRLAXFVYBN4ZA24A4M5LS337YNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LLYWKGFPY66EDGUAMDBYJIJQSWKYBQ43EHOY3JZHXGHPMALVRDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODLSXCP2O6OQY563RZ5MCNYEYIYVYCRQHCJZ4NQYSE734Y62UUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N72NJWAHLCOV4KMAQKNQE4HRBEOPFNYJS54SU55QOWOYQOCWJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKB4IZ222NHSK3SPYTOZLKHD7GLBQCF6VVJGHY5SDMCN6DJ3E7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZQJNMAH3LBQQHGA7EXUQCTYD4RAXXYGVCDSVW2MAWID2F6WBUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/main.js"
            ]
        },
        "LockServiceLinkedRole": {
            "name": "LockServiceLinkedRole",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "LockServiceLinkedRoleRequest"
            },
            "output": {
                "shape": "LockServiceLinkedRoleResponse"
            },
            "errors": [
                {
                    "shape": "ServiceLinkedRoleLockServiceException"
                },
                {
                    "shape": "ServiceLinkedRoleLockClientException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNHCKK7CJDCQJJM3EH7GIW2M4G74AN2E6TEXIGLHDDXXKVEK3UAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEHJQIKHXMOYHZYYHCU6VZMFBPJ3MDACUHJRLT4UQH25NOSMBCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVMASG5GJHFKHCGZLJIOUJ2FHLLJFQZG6BYR7HL6RGUREKVVD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD5PQRCLOZCDCLC2UA62P2T4NHFTLUPKBMLQEGADUYVERDHXQIGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDI4L53IVN4YLETT2VAULFPUOQDBH6JFL3VKMXYH2QLJ4X536PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTNML76YQ2SNX3ZKL4RXTZVXJUJJ7Q4KDTGHNZ7RRVLMD7EUNEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYIU6NKGYF7AHBBWBYZ7P4FJVDRLAXFVYBN4ZA24A4M5LS337YNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LLYWKGFPY66EDGUAMDBYJIJQSWKYBQ43EHOY3JZHXGHPMALVRDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODLSXCP2O6OQY563RZ5MCNYEYIYVYCRQHCJZ4NQYSE734Y62UUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N72NJWAHLCOV4KMAQKNQE4HRBEOPFNYJS54SU55QOWOYQOCWJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKB4IZ222NHSK3SPYTOZLKHD7GLBQCF6VVJGHY5SDMCN6DJ3E7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZQJNMAH3LBQQHGA7EXUQCTYD4RAXXYGVCDSVW2MAWID2F6WBUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/main.js"
            ]
        },
        "PutSdkType": {
            "name": "PutSdkType",
            "http": {
                "method": "PUT",
                "requestUri": "/private/sdktypes/{sdktype_id}"
            },
            "input": {
                "shape": "PutSdkTypeRequest"
            },
            "output": {
                "shape": "SdkTypeInternal"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNHCKK7CJDCQJJM3EH7GIW2M4G74AN2E6TEXIGLHDDXXKVEK3UAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEHJQIKHXMOYHZYYHCU6VZMFBPJ3MDACUHJRLT4UQH25NOSMBCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVMASG5GJHFKHCGZLJIOUJ2FHLLJFQZG6BYR7HL6RGUREKVVD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD5PQRCLOZCDCLC2UA62P2T4NHFTLUPKBMLQEGADUYVERDHXQIGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDI4L53IVN4YLETT2VAULFPUOQDBH6JFL3VKMXYH2QLJ4X536PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTNML76YQ2SNX3ZKL4RXTZVXJUJJ7Q4KDTGHNZ7RRVLMD7EUNEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYIU6NKGYF7AHBBWBYZ7P4FJVDRLAXFVYBN4ZA24A4M5LS337YNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LLYWKGFPY66EDGUAMDBYJIJQSWKYBQ43EHOY3JZHXGHPMALVRDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODLSXCP2O6OQY563RZ5MCNYEYIYVYCRQHCJZ4NQYSE734Y62UUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N72NJWAHLCOV4KMAQKNQE4HRBEOPFNYJS54SU55QOWOYQOCWJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKB4IZ222NHSK3SPYTOZLKHD7GLBQCF6VVJGHY5SDMCN6DJ3E7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZQJNMAH3LBQQHGA7EXUQCTYD4RAXXYGVCDSVW2MAWID2F6WBUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/main.js"
            ]
        },
        "RotateDomainNameCertificate": {
            "name": "RotateDomainNameCertificate",
            "http": {
                "method": "PATCH",
                "requestUri": "/private/domainnames/{domain_name}/certificate/rotate"
            },
            "input": {
                "shape": "RotateDomainNameCertificateRequest"
            },
            "output": {
                "shape": "DomainNameInternal"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNHCKK7CJDCQJJM3EH7GIW2M4G74AN2E6TEXIGLHDDXXKVEK3UAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEHJQIKHXMOYHZYYHCU6VZMFBPJ3MDACUHJRLT4UQH25NOSMBCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVMASG5GJHFKHCGZLJIOUJ2FHLLJFQZG6BYR7HL6RGUREKVVD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD5PQRCLOZCDCLC2UA62P2T4NHFTLUPKBMLQEGADUYVERDHXQIGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDI4L53IVN4YLETT2VAULFPUOQDBH6JFL3VKMXYH2QLJ4X536PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTNML76YQ2SNX3ZKL4RXTZVXJUJJ7Q4KDTGHNZ7RRVLMD7EUNEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYIU6NKGYF7AHBBWBYZ7P4FJVDRLAXFVYBN4ZA24A4M5LS337YNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LLYWKGFPY66EDGUAMDBYJIJQSWKYBQ43EHOY3JZHXGHPMALVRDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODLSXCP2O6OQY563RZ5MCNYEYIYVYCRQHCJZ4NQYSE734Y62UUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N72NJWAHLCOV4KMAQKNQE4HRBEOPFNYJS54SU55QOWOYQOCWJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKB4IZ222NHSK3SPYTOZLKHD7GLBQCF6VVJGHY5SDMCN6DJ3E7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZQJNMAH3LBQQHGA7EXUQCTYD4RAXXYGVCDSVW2MAWID2F6WBUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/main.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "name": "UnlockServiceLinkedRole",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "UnlockServiceLinkedRoleRequest"
            },
            "output": {
                "shape": "UnlockServiceLinkedRoleResponse"
            },
            "errors": [
                {
                    "shape": "ServiceLinkedRoleLockServiceException"
                },
                {
                    "shape": "ServiceLinkedRoleLockClientException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNHCKK7CJDCQJJM3EH7GIW2M4G74AN2E6TEXIGLHDDXXKVEK3UAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEHJQIKHXMOYHZYYHCU6VZMFBPJ3MDACUHJRLT4UQH25NOSMBCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVMASG5GJHFKHCGZLJIOUJ2FHLLJFQZG6BYR7HL6RGUREKVVD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD5PQRCLOZCDCLC2UA62P2T4NHFTLUPKBMLQEGADUYVERDHXQIGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDI4L53IVN4YLETT2VAULFPUOQDBH6JFL3VKMXYH2QLJ4X536PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTNML76YQ2SNX3ZKL4RXTZVXJUJJ7Q4KDTGHNZ7RRVLMD7EUNEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYIU6NKGYF7AHBBWBYZ7P4FJVDRLAXFVYBN4ZA24A4M5LS337YNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LLYWKGFPY66EDGUAMDBYJIJQSWKYBQ43EHOY3JZHXGHPMALVRDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODLSXCP2O6OQY563RZ5MCNYEYIYVYCRQHCJZ4NQYSE734Y62UUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N72NJWAHLCOV4KMAQKNQE4HRBEOPFNYJS54SU55QOWOYQOCWJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKB4IZ222NHSK3SPYTOZLKHD7GLBQCF6VVJGHY5SDMCN6DJ3E7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZQJNMAH3LBQQHGA7EXUQCTYD4RAXXYGVCDSVW2MAWID2F6WBUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/main.js"
            ]
        },
        "UpdateDomainNameBackupCertificate": {
            "name": "UpdateDomainNameBackupCertificate",
            "http": {
                "method": "PATCH",
                "requestUri": "/private/domainnames/{domain_name}/certificate/backup"
            },
            "input": {
                "shape": "UpdateDomainNameBackupCertificateRequest"
            },
            "output": {
                "shape": "DomainNameInternal"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNHCKK7CJDCQJJM3EH7GIW2M4G74AN2E6TEXIGLHDDXXKVEK3UAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEHJQIKHXMOYHZYYHCU6VZMFBPJ3MDACUHJRLT4UQH25NOSMBCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GVMASG5GJHFKHCGZLJIOUJ2FHLLJFQZG6BYR7HL6RGUREKVVD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD5PQRCLOZCDCLC2UA62P2T4NHFTLUPKBMLQEGADUYVERDHXQIGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNDI4L53IVN4YLETT2VAULFPUOQDBH6JFL3VKMXYH2QLJ4X536PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDTNML76YQ2SNX3ZKL4RXTZVXJUJJ7Q4KDTGHNZ7RRVLMD7EUNEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYIU6NKGYF7AHBBWBYZ7P4FJVDRLAXFVYBN4ZA24A4M5LS337YNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LLYWKGFPY66EDGUAMDBYJIJQSWKYBQ43EHOY3JZHXGHPMALVRDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2E3J6ZXA4OQA5W56PCOIFAWGSDXS42AAL7ABCGNEA7ZD6OM5T7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQMTFBM224BCEUFWIXYT7E7MTQ6YR5BZE4YYIK4TFMVKUJUHCH2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3LOA6XZ6QPPHW4MH6AH6PYNEAIPTJXNHTLVPHMFWC7PZHGBSGSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCACOK2SLOY6M4TJNMXGXSRLZF6KCPJPS3AD3P7ABVBKH5QUIGBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNRFDHI4ON5QKBDU3AHST3L7TKXZZBHLLMZJBDJBOBTYAHXM4DEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FHWRUQBVT2FURKZYYNO6T2HNYEOJZ42H45XP7WS55AKYZRHI2R4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW5BODCZOZGJNP6DWC66QORUUBVXOFIIERQYTIZOYNHVCP5XDMRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJ6DI4WLYMEA6OJZ7FBI7Z52EAH3BJ6FZ2YJQWKMVMZ2EYSURTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODLSXCP2O6OQY563RZ5MCNYEYIYVYCRQHCJZ4NQYSE734Y62UUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N72NJWAHLCOV4KMAQKNQE4HRBEOPFNYJS54SU55QOWOYQOCWJ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKB4IZ222NHSK3SPYTOZLKHD7GLBQCF6VVJGHY5SDMCN6DJ3E7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZQJNMAH3LBQQHGA7EXUQCTYD4RAXXYGVCDSVW2MAWID2F6WBUKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZAJUCWTCYB5ZHQVY6FMSLWUBMP2CPUX4D5R6AZ2WW6HWA4BOOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/main.js"
            ]
        }
    },
    "shapes": {
        "ArnInfo": {
            "type": "structure",
            "required": [
                "stageArn",
                "webAclArn"
            ],
            "members": {
                "stageArn": {
                    "shape": "String"
                },
                "webAclArn": {
                    "shape": "String"
                }
            }
        },
        "AssociateWebAclRequest": {
            "type": "structure",
            "members": {
                "arnInfo": {
                    "shape": "ArnInfo"
                }
            }
        },
        "BadRequestException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 400
            },
            "exception": true
        },
        "Boolean": {
            "type": "boolean"
        },
        "DisassociateWebAclRequest": {
            "type": "structure",
            "members": {
                "arnInfo": {
                    "shape": "ArnInfo"
                }
            }
        },
        "DomainNameInternal": {
            "type": "structure",
            "members": {
                "certificateId": {
                    "shape": "String"
                },
                "backupCertificateName": {
                    "shape": "String"
                },
                "backupCertificateId": {
                    "shape": "String"
                },
                "backupCertificateArn": {
                    "shape": "String"
                },
                "backupCertificateUploadDate": {
                    "shape": "Timestamp"
                },
                "backupRegionalCertificateName": {
                    "shape": "String"
                },
                "backupRegionalCertificateArn": {
                    "shape": "String"
                },
                "vpcEndpointServiceConfiguration": {
                    "shape": "VpcEndpointServiceConfiguration"
                }
            }
        },
        "DomainNameStatus": {
            "type": "structure",
            "members": {
                "domainName": {
                    "shape": "String"
                },
                "status": {
                    "shape": "String"
                }
            }
        },
        "DomainNamesInternal": {
            "type": "structure",
            "members": {}
        },
        "GetDomainNameCertificateStatusRequest": {
            "type": "structure",
            "required": [
                "domainName"
            ],
            "members": {
                "domainName": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "domain_name"
                }
            }
        },
        "GetDomainNameInternalRequest": {
            "type": "structure",
            "members": {
                "domainName": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "domain_name"
                }
            },
            "required": [
                "domainName"
            ]
        },
        "GetDomainNamesInternalRequest": {
            "type": "structure",
            "members": {}
        },
        "GetWebAclByResourceRequest": {
            "type": "structure",
            "required": [
                "stageArn",
                "accountId"
            ],
            "members": {
                "stageArn": {
                    "shape": "String"
                },
                "accountId": {
                    "shape": "String"
                }
            }
        },
        "ListOfResources": {
            "type": "list",
            "member": {
                "shape": "StageResource"
            }
        },
        "ListOfSdkConfigurationProperty": {
            "type": "list",
            "member": {
                "shape": "SdkConfigurationProperty"
            }
        },
        "ListOfString": {
            "type": "list",
            "member": {
                "shape": "String"
            }
        },
        "ListResourcesByWebAclRequest": {
            "type": "structure",
            "required": [
                "webAclArn"
            ],
            "members": {
                "webAclArn": {
                    "shape": "String"
                }
            }
        },
        "LockServiceLinkedRoleRequest": {
            "type": "structure",
            "required": [
                "RoleArn",
                "Timeout"
            ],
            "members": {
                "RoleArn": {
                    "shape": "arnType"
                },
                "Timeout": {
                    "shape": "longType"
                }
            }
        },
        "LockServiceLinkedRoleResponse": {
            "type": "structure",
            "required": [
                "CanBeDeleted"
            ],
            "members": {
                "CanBeDeleted": {
                    "shape": "booleanType"
                },
                "ReasonOfFailure": {
                    "shape": "stringType"
                },
                "RelatedResources": {
                    "shape": "stringListType"
                }
            }
        },
        "NotFoundException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 404
            },
            "exception": true
        },
        "PutSdkTypeRequest": {
            "type": "structure",
            "required": [
                "id",
                "putSdkTypeInput"
            ],
            "members": {
                "id": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "sdktype_id"
                },
                "putSdkTypeInput": {
                    "shape": "SdkTypeInternal"
                }
            },
            "payload": "putSdkTypeInput"
        },
        "RotateDomainNameCertificateInput": {
            "type": "structure",
            "required": [
                "domainName",
                "currentCertificateId",
                "newCertificateId"
            ],
            "members": {
                "domainName": {
                    "shape": "String"
                },
                "currentCertificateId": {
                    "shape": "String"
                },
                "newCertificateId": {
                    "shape": "String"
                }
            }
        },
        "RotateDomainNameCertificateRequest": {
            "type": "structure",
            "required": [
                "domainName"
            ],
            "members": {
                "domainName": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "domain_name"
                },
                "rotateDomainNameCertificateInput": {
                    "shape": "RotateDomainNameCertificateInput"
                }
            },
            "payload": "rotateDomainNameCertificateInput"
        },
        "SdkConfigurationProperty": {
            "type": "structure",
            "members": {
                "name": {
                    "shape": "String"
                },
                "friendlyName": {
                    "shape": "String"
                },
                "description": {
                    "shape": "String"
                },
                "required": {
                    "shape": "Boolean"
                },
                "defaultValue": {
                    "shape": "String"
                }
            }
        },
        "SdkTypeInternal": {
            "type": "structure",
            "required": [
                "id",
                "functionArn"
            ],
            "members": {
                "id": {
                    "shape": "String"
                },
                "name": {
                    "shape": "String"
                },
                "description": {
                    "shape": "String"
                },
                "functionArn": {
                    "shape": "String"
                },
                "configurationProperties": {
                    "shape": "ListOfSdkConfigurationProperty"
                }
            }
        },
        "ServiceLinkedRoleLockClientException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "errorMessage"
                }
            },
            "error": {
                "httpStatusCode": 400
            },
            "exception": true
        },
        "ServiceLinkedRoleLockServiceException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "errorMessage"
                }
            },
            "error": {
                "httpStatusCode": 500
            },
            "exception": true
        },
        "ServiceUnavailableException": {
            "type": "structure",
            "members": {
                "retryAfterSeconds": {
                    "shape": "String",
                    "location": "header",
                    "locationName": "Retry-After"
                },
                "message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 503
            },
            "exception": true,
            "fault": true
        },
        "StageResource": {
            "type": "structure",
            "members": {
                "stageArn": {
                    "shape": "String"
                }
            }
        },
        "StageResourceList": {
            "type": "structure",
            "members": {
                "stageResources": {
                    "shape": "ListOfResources"
                }
            }
        },
        "String": {
            "type": "string"
        },
        "Timestamp": {
            "type": "timestamp"
        },
        "TooManyRequestsException": {
            "type": "structure",
            "members": {
                "retryAfterSeconds": {
                    "shape": "String",
                    "location": "header",
                    "locationName": "Retry-After"
                },
                "message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 429
            },
            "exception": true
        },
        "UnauthorizedException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 401
            },
            "exception": true
        },
        "UnlockServiceLinkedRoleRequest": {
            "type": "structure",
            "required": [
                "RoleArn"
            ],
            "members": {
                "RoleArn": {
                    "shape": "arnType"
                },
                "DeletionStatus": {
                    "shape": "deletionStatus"
                }
            }
        },
        "UnlockServiceLinkedRoleResponse": {
            "type": "structure",
            "members": {}
        },
        "UpdateDomainNameBackupCertificateInput": {
            "type": "structure",
            "required": [
                "domainName"
            ],
            "members": {
                "domainName": {
                    "shape": "String"
                },
                "certificateName": {
                    "shape": "String"
                },
                "certificateBody": {
                    "shape": "String"
                },
                "certificatePrivateKey": {
                    "shape": "String"
                },
                "certificateChain": {
                    "shape": "String"
                },
                "certificateArn": {
                    "shape": "String"
                },
                "regionalCertificateName": {
                    "shape": "String"
                },
                "regionalCertificateArn": {
                    "shape": "String"
                }
            }
        },
        "UpdateDomainNameBackupCertificateRequest": {
            "type": "structure",
            "required": [
                "domainName"
            ],
            "members": {
                "domainName": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "domain_name"
                },
                "updateDomainNameBackupCertificateInput": {
                    "shape": "UpdateDomainNameBackupCertificateInput"
                }
            },
            "payload": "updateDomainNameBackupCertificateInput"
        },
        "VpcEndpointServiceConfiguration": {
            "type": "structure",
            "members": {
                "vpceServiceId": {
                    "shape": "String"
                },
                "vpcEndpointIds": {
                    "shape": "ListOfString"
                }
            }
        },
        "WebAcl": {
            "type": "structure",
            "members": {
                "webAclArn": {
                    "shape": "String"
                }
            }
        },
        "arnType": {
            "type": "string",
            "max": 2048,
            "min": 20
        },
        "booleanType": {
            "type": "boolean"
        },
        "deletionStatus": {
            "type": "string",
            "enum": [
                "SUCCEEDED",
                "FAILED"
            ]
        },
        "errorMessage": {
            "type": "string"
        },
        "longType": {
            "type": "long"
        },
        "stringListType": {
            "type": "list",
            "member": {
                "shape": "stringType"
            }
        },
        "stringType": {
            "type": "string"
        }
    }
}