{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-09-27",
        "endpointPrefix": "apigateway",
        "protocol": "rest-json",
        "serviceFullName": "AmazonApiGatewayInternal",
        "uid": "apigateway-internal-2018-09-27",
        "signingName": "apigateway",
        "serviceId": "ApiGatewayInternal",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RMGI2ZUX5NX6RE7YIVU5OJX3HCPP3WWYYVQDP63SN6K7Q4KP5DWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHLH2HUAQQM6ZYW55IDJW2UQCO3NQDADAYKNWUWPEENHL44RWDGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LXHU3G6EVOKK24BSZQNAQ5KWIOXHW7RVQQ2CKGJPLPXRKSTQJ4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YKRCDPOYYILTIOFHKGDRGPKU2R5PXQOIVFJNA4MNWUOVBZXTAJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMSWYBYQ32TLCECLNAUJDYJ4ZELQPM4XYUC2GH6KRFT623AOFKDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OJGMXNINVMKTYXTW2CSY62LLX6ZDJGUXSCFXCYKZ4ZAXM3SPE7SQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RDCANKCV5X4ATCCASBD4G362EYUYP5ELGMIQ7XAJZE62X22ZZXBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/44OIYDISFGGZH3QMBEL4IXEO4ZDJ4VOUCFPH44U474RKPFMTVXDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W67276PAF2JNTGRD6J4H5YK25MXYKKFZFZPYGEHKXK7ZUYMPXF3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7RSJ5FWUAHOEQ3FJTFGUQLBLI276K3ZY2VWB276PHWATL76XMEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GHMH3F6HWEEZB2GL467PWJ6RNTM7FQ56THMXP73YCE67HLVPVFSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I2E5RRAIPQ4IO6CPV7EO7OIQ5FSNLQFOGG2P2RVETV3COD4CN4XQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FCTYKUMKLHQ6QSKZK2DGE4FYF4NSMCDSURFD2EA7VXG3HQCXFGAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPPMUQ4TNQWSWGIFMS6XGB34ZSRQ7JEBOSDMSNNWDEGUK55T4VHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CGM7RGOOC5KI2CGMH4S73AHXKLSPUWPJQJYNTCSRS3KITFKBAJKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCUR7XUAQA43SKAXB2ZUWRRRWZAXXVEOHMEVFZWEGJVYVI3HFZTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5PWBR7DOL52LZGSB3F36HYUZRK4LX3W6E4NR3BQORQG7IDSL3YQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIKCAA6OWKDPQUHTYKCWEV76JNRPLYNSICL5K7HLPI6C6673DITA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEZOOC5U7XF2AX4UOM7UGAA5N7FJK6QIDPXXHEI3VR5T6WVCGU7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OBLOOKVP23UABXWPJTT2TQNE6YIGNLUP4P7E3KMLR5SP5NYYEW3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6M3FEH4C3XL5L7ALOWQNQED3ZXZS56IWBF6C4PTPVH4GPDJOQOTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/42BRMLS7GTE4EPKYAU4NFRHPKBIIP4GSBD3KNPUWOCGUMC765IDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNBRK3YL7ZZ3QO74REXIXOW6LSFNNPEOTOSXZNAW7QKOYVHPEIKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQQFCDPL2IHYX6O4LW43RS3QLVAPGCFV67KA5TUHQLZLEOLHLSTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEN2QBD2FGGDROEV6Z5JYL6UH6U3YYAXGU6NY6U2FK4E2CGUDTQQ/main.js"
        ]
    },
    "operations": {
        "AssociateWebAcl": {
            "name": "AssociateWebAcl",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "AssociateWebAclRequest"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHLH2HUAQQM6ZYW55IDJW2UQCO3NQDADAYKNWUWPEENHL44RWDGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LXHU3G6EVOKK24BSZQNAQ5KWIOXHW7RVQQ2CKGJPLPXRKSTQJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YKRCDPOYYILTIOFHKGDRGPKU2R5PXQOIVFJNA4MNWUOVBZXTAJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMSWYBYQ32TLCECLNAUJDYJ4ZELQPM4XYUC2GH6KRFT623AOFKDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJGMXNINVMKTYXTW2CSY62LLX6ZDJGUXSCFXCYKZ4ZAXM3SPE7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDCANKCV5X4ATCCASBD4G362EYUYP5ELGMIQ7XAJZE62X22ZZXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44OIYDISFGGZH3QMBEL4IXEO4ZDJ4VOUCFPH44U474RKPFMTVXDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W67276PAF2JNTGRD6J4H5YK25MXYKKFZFZPYGEHKXK7ZUYMPXF3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7RSJ5FWUAHOEQ3FJTFGUQLBLI276K3ZY2VWB276PHWATL76XMEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHMH3F6HWEEZB2GL467PWJ6RNTM7FQ56THMXP73YCE67HLVPVFSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2E5RRAIPQ4IO6CPV7EO7OIQ5FSNLQFOGG2P2RVETV3COD4CN4XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCTYKUMKLHQ6QSKZK2DGE4FYF4NSMCDSURFD2EA7VXG3HQCXFGAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPPMUQ4TNQWSWGIFMS6XGB34ZSRQ7JEBOSDMSNNWDEGUK55T4VHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGM7RGOOC5KI2CGMH4S73AHXKLSPUWPJQJYNTCSRS3KITFKBAJKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCUR7XUAQA43SKAXB2ZUWRRRWZAXXVEOHMEVFZWEGJVYVI3HFZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PWBR7DOL52LZGSB3F36HYUZRK4LX3W6E4NR3BQORQG7IDSL3YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIKCAA6OWKDPQUHTYKCWEV76JNRPLYNSICL5K7HLPI6C6673DITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEZOOC5U7XF2AX4UOM7UGAA5N7FJK6QIDPXXHEI3VR5T6WVCGU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBLOOKVP23UABXWPJTT2TQNE6YIGNLUP4P7E3KMLR5SP5NYYEW3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M3FEH4C3XL5L7ALOWQNQED3ZXZS56IWBF6C4PTPVH4GPDJOQOTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42BRMLS7GTE4EPKYAU4NFRHPKBIIP4GSBD3KNPUWOCGUMC765IDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNBRK3YL7ZZ3QO74REXIXOW6LSFNNPEOTOSXZNAW7QKOYVHPEIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQQFCDPL2IHYX6O4LW43RS3QLVAPGCFV67KA5TUHQLZLEOLHLSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEN2QBD2FGGDROEV6Z5JYL6UH6U3YYAXGU6NY6U2FK4E2CGUDTQQ/main.js"
            ]
        },
        "DisassociateWebAcl": {
            "name": "DisassociateWebAcl",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "DisassociateWebAclRequest"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHLH2HUAQQM6ZYW55IDJW2UQCO3NQDADAYKNWUWPEENHL44RWDGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LXHU3G6EVOKK24BSZQNAQ5KWIOXHW7RVQQ2CKGJPLPXRKSTQJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YKRCDPOYYILTIOFHKGDRGPKU2R5PXQOIVFJNA4MNWUOVBZXTAJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMSWYBYQ32TLCECLNAUJDYJ4ZELQPM4XYUC2GH6KRFT623AOFKDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJGMXNINVMKTYXTW2CSY62LLX6ZDJGUXSCFXCYKZ4ZAXM3SPE7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDCANKCV5X4ATCCASBD4G362EYUYP5ELGMIQ7XAJZE62X22ZZXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44OIYDISFGGZH3QMBEL4IXEO4ZDJ4VOUCFPH44U474RKPFMTVXDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W67276PAF2JNTGRD6J4H5YK25MXYKKFZFZPYGEHKXK7ZUYMPXF3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7RSJ5FWUAHOEQ3FJTFGUQLBLI276K3ZY2VWB276PHWATL76XMEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHMH3F6HWEEZB2GL467PWJ6RNTM7FQ56THMXP73YCE67HLVPVFSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2E5RRAIPQ4IO6CPV7EO7OIQ5FSNLQFOGG2P2RVETV3COD4CN4XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCTYKUMKLHQ6QSKZK2DGE4FYF4NSMCDSURFD2EA7VXG3HQCXFGAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPPMUQ4TNQWSWGIFMS6XGB34ZSRQ7JEBOSDMSNNWDEGUK55T4VHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGM7RGOOC5KI2CGMH4S73AHXKLSPUWPJQJYNTCSRS3KITFKBAJKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCUR7XUAQA43SKAXB2ZUWRRRWZAXXVEOHMEVFZWEGJVYVI3HFZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PWBR7DOL52LZGSB3F36HYUZRK4LX3W6E4NR3BQORQG7IDSL3YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIKCAA6OWKDPQUHTYKCWEV76JNRPLYNSICL5K7HLPI6C6673DITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEZOOC5U7XF2AX4UOM7UGAA5N7FJK6QIDPXXHEI3VR5T6WVCGU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBLOOKVP23UABXWPJTT2TQNE6YIGNLUP4P7E3KMLR5SP5NYYEW3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M3FEH4C3XL5L7ALOWQNQED3ZXZS56IWBF6C4PTPVH4GPDJOQOTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42BRMLS7GTE4EPKYAU4NFRHPKBIIP4GSBD3KNPUWOCGUMC765IDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNBRK3YL7ZZ3QO74REXIXOW6LSFNNPEOTOSXZNAW7QKOYVHPEIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQQFCDPL2IHYX6O4LW43RS3QLVAPGCFV67KA5TUHQLZLEOLHLSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEN2QBD2FGGDROEV6Z5JYL6UH6U3YYAXGU6NY6U2FK4E2CGUDTQQ/main.js"
            ]
        },
        "GetDomainName": {
            "name": "GetDomainName",
            "http": {
                "method": "GET",
                "requestUri": "/private/domainnames/{domain_name}"
            },
            "input": {
                "shape": "GetDomainNameInternalRequest"
            },
            "output": {
                "shape": "DomainNameInternal"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ServiceUnavailableException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHLH2HUAQQM6ZYW55IDJW2UQCO3NQDADAYKNWUWPEENHL44RWDGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LXHU3G6EVOKK24BSZQNAQ5KWIOXHW7RVQQ2CKGJPLPXRKSTQJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YKRCDPOYYILTIOFHKGDRGPKU2R5PXQOIVFJNA4MNWUOVBZXTAJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMSWYBYQ32TLCECLNAUJDYJ4ZELQPM4XYUC2GH6KRFT623AOFKDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJGMXNINVMKTYXTW2CSY62LLX6ZDJGUXSCFXCYKZ4ZAXM3SPE7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDCANKCV5X4ATCCASBD4G362EYUYP5ELGMIQ7XAJZE62X22ZZXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44OIYDISFGGZH3QMBEL4IXEO4ZDJ4VOUCFPH44U474RKPFMTVXDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W67276PAF2JNTGRD6J4H5YK25MXYKKFZFZPYGEHKXK7ZUYMPXF3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7RSJ5FWUAHOEQ3FJTFGUQLBLI276K3ZY2VWB276PHWATL76XMEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHMH3F6HWEEZB2GL467PWJ6RNTM7FQ56THMXP73YCE67HLVPVFSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2E5RRAIPQ4IO6CPV7EO7OIQ5FSNLQFOGG2P2RVETV3COD4CN4XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCTYKUMKLHQ6QSKZK2DGE4FYF4NSMCDSURFD2EA7VXG3HQCXFGAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPPMUQ4TNQWSWGIFMS6XGB34ZSRQ7JEBOSDMSNNWDEGUK55T4VHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGM7RGOOC5KI2CGMH4S73AHXKLSPUWPJQJYNTCSRS3KITFKBAJKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCUR7XUAQA43SKAXB2ZUWRRRWZAXXVEOHMEVFZWEGJVYVI3HFZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PWBR7DOL52LZGSB3F36HYUZRK4LX3W6E4NR3BQORQG7IDSL3YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIKCAA6OWKDPQUHTYKCWEV76JNRPLYNSICL5K7HLPI6C6673DITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEZOOC5U7XF2AX4UOM7UGAA5N7FJK6QIDPXXHEI3VR5T6WVCGU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBLOOKVP23UABXWPJTT2TQNE6YIGNLUP4P7E3KMLR5SP5NYYEW3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M3FEH4C3XL5L7ALOWQNQED3ZXZS56IWBF6C4PTPVH4GPDJOQOTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42BRMLS7GTE4EPKYAU4NFRHPKBIIP4GSBD3KNPUWOCGUMC765IDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNBRK3YL7ZZ3QO74REXIXOW6LSFNNPEOTOSXZNAW7QKOYVHPEIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQQFCDPL2IHYX6O4LW43RS3QLVAPGCFV67KA5TUHQLZLEOLHLSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEN2QBD2FGGDROEV6Z5JYL6UH6U3YYAXGU6NY6U2FK4E2CGUDTQQ/main.js"
            ]
        },
        "GetDomainNameCertificateStatus": {
            "name": "GetDomainNameCertificateStatus",
            "http": {
                "method": "GET",
                "requestUri": "/private/domainnames/{domain_name}/certificate/status"
            },
            "input": {
                "shape": "GetDomainNameCertificateStatusRequest"
            },
            "output": {
                "shape": "DomainNameStatus"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ServiceUnavailableException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "BadRequestException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHLH2HUAQQM6ZYW55IDJW2UQCO3NQDADAYKNWUWPEENHL44RWDGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LXHU3G6EVOKK24BSZQNAQ5KWIOXHW7RVQQ2CKGJPLPXRKSTQJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YKRCDPOYYILTIOFHKGDRGPKU2R5PXQOIVFJNA4MNWUOVBZXTAJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMSWYBYQ32TLCECLNAUJDYJ4ZELQPM4XYUC2GH6KRFT623AOFKDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJGMXNINVMKTYXTW2CSY62LLX6ZDJGUXSCFXCYKZ4ZAXM3SPE7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDCANKCV5X4ATCCASBD4G362EYUYP5ELGMIQ7XAJZE62X22ZZXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44OIYDISFGGZH3QMBEL4IXEO4ZDJ4VOUCFPH44U474RKPFMTVXDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W67276PAF2JNTGRD6J4H5YK25MXYKKFZFZPYGEHKXK7ZUYMPXF3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7RSJ5FWUAHOEQ3FJTFGUQLBLI276K3ZY2VWB276PHWATL76XMEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHMH3F6HWEEZB2GL467PWJ6RNTM7FQ56THMXP73YCE67HLVPVFSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2E5RRAIPQ4IO6CPV7EO7OIQ5FSNLQFOGG2P2RVETV3COD4CN4XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCTYKUMKLHQ6QSKZK2DGE4FYF4NSMCDSURFD2EA7VXG3HQCXFGAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPPMUQ4TNQWSWGIFMS6XGB34ZSRQ7JEBOSDMSNNWDEGUK55T4VHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGM7RGOOC5KI2CGMH4S73AHXKLSPUWPJQJYNTCSRS3KITFKBAJKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCUR7XUAQA43SKAXB2ZUWRRRWZAXXVEOHMEVFZWEGJVYVI3HFZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PWBR7DOL52LZGSB3F36HYUZRK4LX3W6E4NR3BQORQG7IDSL3YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIKCAA6OWKDPQUHTYKCWEV76JNRPLYNSICL5K7HLPI6C6673DITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEZOOC5U7XF2AX4UOM7UGAA5N7FJK6QIDPXXHEI3VR5T6WVCGU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBLOOKVP23UABXWPJTT2TQNE6YIGNLUP4P7E3KMLR5SP5NYYEW3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M3FEH4C3XL5L7ALOWQNQED3ZXZS56IWBF6C4PTPVH4GPDJOQOTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42BRMLS7GTE4EPKYAU4NFRHPKBIIP4GSBD3KNPUWOCGUMC765IDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNBRK3YL7ZZ3QO74REXIXOW6LSFNNPEOTOSXZNAW7QKOYVHPEIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQQFCDPL2IHYX6O4LW43RS3QLVAPGCFV67KA5TUHQLZLEOLHLSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEN2QBD2FGGDROEV6Z5JYL6UH6U3YYAXGU6NY6U2FK4E2CGUDTQQ/main.js"
            ]
        },
        "GetDomainNames": {
            "name": "GetDomainNames",
            "http": {
                "method": "GET",
                "requestUri": "/private/domainnames"
            },
            "input": {
                "shape": "GetDomainNamesInternalRequest"
            },
            "output": {
                "shape": "DomainNamesInternal"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHLH2HUAQQM6ZYW55IDJW2UQCO3NQDADAYKNWUWPEENHL44RWDGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LXHU3G6EVOKK24BSZQNAQ5KWIOXHW7RVQQ2CKGJPLPXRKSTQJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YKRCDPOYYILTIOFHKGDRGPKU2R5PXQOIVFJNA4MNWUOVBZXTAJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMSWYBYQ32TLCECLNAUJDYJ4ZELQPM4XYUC2GH6KRFT623AOFKDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJGMXNINVMKTYXTW2CSY62LLX6ZDJGUXSCFXCYKZ4ZAXM3SPE7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDCANKCV5X4ATCCASBD4G362EYUYP5ELGMIQ7XAJZE62X22ZZXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44OIYDISFGGZH3QMBEL4IXEO4ZDJ4VOUCFPH44U474RKPFMTVXDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W67276PAF2JNTGRD6J4H5YK25MXYKKFZFZPYGEHKXK7ZUYMPXF3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7RSJ5FWUAHOEQ3FJTFGUQLBLI276K3ZY2VWB276PHWATL76XMEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHMH3F6HWEEZB2GL467PWJ6RNTM7FQ56THMXP73YCE67HLVPVFSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2E5RRAIPQ4IO6CPV7EO7OIQ5FSNLQFOGG2P2RVETV3COD4CN4XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCTYKUMKLHQ6QSKZK2DGE4FYF4NSMCDSURFD2EA7VXG3HQCXFGAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPPMUQ4TNQWSWGIFMS6XGB34ZSRQ7JEBOSDMSNNWDEGUK55T4VHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGM7RGOOC5KI2CGMH4S73AHXKLSPUWPJQJYNTCSRS3KITFKBAJKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCUR7XUAQA43SKAXB2ZUWRRRWZAXXVEOHMEVFZWEGJVYVI3HFZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PWBR7DOL52LZGSB3F36HYUZRK4LX3W6E4NR3BQORQG7IDSL3YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIKCAA6OWKDPQUHTYKCWEV76JNRPLYNSICL5K7HLPI6C6673DITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEZOOC5U7XF2AX4UOM7UGAA5N7FJK6QIDPXXHEI3VR5T6WVCGU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBLOOKVP23UABXWPJTT2TQNE6YIGNLUP4P7E3KMLR5SP5NYYEW3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M3FEH4C3XL5L7ALOWQNQED3ZXZS56IWBF6C4PTPVH4GPDJOQOTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42BRMLS7GTE4EPKYAU4NFRHPKBIIP4GSBD3KNPUWOCGUMC765IDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNBRK3YL7ZZ3QO74REXIXOW6LSFNNPEOTOSXZNAW7QKOYVHPEIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQQFCDPL2IHYX6O4LW43RS3QLVAPGCFV67KA5TUHQLZLEOLHLSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEN2QBD2FGGDROEV6Z5JYL6UH6U3YYAXGU6NY6U2FK4E2CGUDTQQ/main.js"
            ]
        },
        "GetWebAclByResource": {
            "name": "GetWebAclByResource",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "GetWebAclByResourceRequest"
            },
            "output": {
                "shape": "WebAcl"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHLH2HUAQQM6ZYW55IDJW2UQCO3NQDADAYKNWUWPEENHL44RWDGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LXHU3G6EVOKK24BSZQNAQ5KWIOXHW7RVQQ2CKGJPLPXRKSTQJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YKRCDPOYYILTIOFHKGDRGPKU2R5PXQOIVFJNA4MNWUOVBZXTAJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMSWYBYQ32TLCECLNAUJDYJ4ZELQPM4XYUC2GH6KRFT623AOFKDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJGMXNINVMKTYXTW2CSY62LLX6ZDJGUXSCFXCYKZ4ZAXM3SPE7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDCANKCV5X4ATCCASBD4G362EYUYP5ELGMIQ7XAJZE62X22ZZXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44OIYDISFGGZH3QMBEL4IXEO4ZDJ4VOUCFPH44U474RKPFMTVXDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W67276PAF2JNTGRD6J4H5YK25MXYKKFZFZPYGEHKXK7ZUYMPXF3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7RSJ5FWUAHOEQ3FJTFGUQLBLI276K3ZY2VWB276PHWATL76XMEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHMH3F6HWEEZB2GL467PWJ6RNTM7FQ56THMXP73YCE67HLVPVFSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2E5RRAIPQ4IO6CPV7EO7OIQ5FSNLQFOGG2P2RVETV3COD4CN4XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCTYKUMKLHQ6QSKZK2DGE4FYF4NSMCDSURFD2EA7VXG3HQCXFGAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPPMUQ4TNQWSWGIFMS6XGB34ZSRQ7JEBOSDMSNNWDEGUK55T4VHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGM7RGOOC5KI2CGMH4S73AHXKLSPUWPJQJYNTCSRS3KITFKBAJKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCUR7XUAQA43SKAXB2ZUWRRRWZAXXVEOHMEVFZWEGJVYVI3HFZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PWBR7DOL52LZGSB3F36HYUZRK4LX3W6E4NR3BQORQG7IDSL3YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIKCAA6OWKDPQUHTYKCWEV76JNRPLYNSICL5K7HLPI6C6673DITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEZOOC5U7XF2AX4UOM7UGAA5N7FJK6QIDPXXHEI3VR5T6WVCGU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBLOOKVP23UABXWPJTT2TQNE6YIGNLUP4P7E3KMLR5SP5NYYEW3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M3FEH4C3XL5L7ALOWQNQED3ZXZS56IWBF6C4PTPVH4GPDJOQOTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42BRMLS7GTE4EPKYAU4NFRHPKBIIP4GSBD3KNPUWOCGUMC765IDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNBRK3YL7ZZ3QO74REXIXOW6LSFNNPEOTOSXZNAW7QKOYVHPEIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQQFCDPL2IHYX6O4LW43RS3QLVAPGCFV67KA5TUHQLZLEOLHLSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEN2QBD2FGGDROEV6Z5JYL6UH6U3YYAXGU6NY6U2FK4E2CGUDTQQ/main.js"
            ]
        },
        "ListResourcesByWebAcl": {
            "name": "ListResourcesByWebAcl",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "ListResourcesByWebAclRequest"
            },
            "output": {
                "shape": "StageResourceList"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHLH2HUAQQM6ZYW55IDJW2UQCO3NQDADAYKNWUWPEENHL44RWDGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LXHU3G6EVOKK24BSZQNAQ5KWIOXHW7RVQQ2CKGJPLPXRKSTQJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YKRCDPOYYILTIOFHKGDRGPKU2R5PXQOIVFJNA4MNWUOVBZXTAJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMSWYBYQ32TLCECLNAUJDYJ4ZELQPM4XYUC2GH6KRFT623AOFKDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJGMXNINVMKTYXTW2CSY62LLX6ZDJGUXSCFXCYKZ4ZAXM3SPE7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDCANKCV5X4ATCCASBD4G362EYUYP5ELGMIQ7XAJZE62X22ZZXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44OIYDISFGGZH3QMBEL4IXEO4ZDJ4VOUCFPH44U474RKPFMTVXDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W67276PAF2JNTGRD6J4H5YK25MXYKKFZFZPYGEHKXK7ZUYMPXF3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7RSJ5FWUAHOEQ3FJTFGUQLBLI276K3ZY2VWB276PHWATL76XMEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHMH3F6HWEEZB2GL467PWJ6RNTM7FQ56THMXP73YCE67HLVPVFSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2E5RRAIPQ4IO6CPV7EO7OIQ5FSNLQFOGG2P2RVETV3COD4CN4XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCTYKUMKLHQ6QSKZK2DGE4FYF4NSMCDSURFD2EA7VXG3HQCXFGAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPPMUQ4TNQWSWGIFMS6XGB34ZSRQ7JEBOSDMSNNWDEGUK55T4VHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGM7RGOOC5KI2CGMH4S73AHXKLSPUWPJQJYNTCSRS3KITFKBAJKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCUR7XUAQA43SKAXB2ZUWRRRWZAXXVEOHMEVFZWEGJVYVI3HFZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PWBR7DOL52LZGSB3F36HYUZRK4LX3W6E4NR3BQORQG7IDSL3YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIKCAA6OWKDPQUHTYKCWEV76JNRPLYNSICL5K7HLPI6C6673DITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEZOOC5U7XF2AX4UOM7UGAA5N7FJK6QIDPXXHEI3VR5T6WVCGU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBLOOKVP23UABXWPJTT2TQNE6YIGNLUP4P7E3KMLR5SP5NYYEW3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M3FEH4C3XL5L7ALOWQNQED3ZXZS56IWBF6C4PTPVH4GPDJOQOTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42BRMLS7GTE4EPKYAU4NFRHPKBIIP4GSBD3KNPUWOCGUMC765IDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNBRK3YL7ZZ3QO74REXIXOW6LSFNNPEOTOSXZNAW7QKOYVHPEIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQQFCDPL2IHYX6O4LW43RS3QLVAPGCFV67KA5TUHQLZLEOLHLSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEN2QBD2FGGDROEV6Z5JYL6UH6U3YYAXGU6NY6U2FK4E2CGUDTQQ/main.js"
            ]
        },
        "LockServiceLinkedRole": {
            "name": "LockServiceLinkedRole",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "LockServiceLinkedRoleRequest"
            },
            "output": {
                "shape": "LockServiceLinkedRoleResponse"
            },
            "errors": [
                {
                    "shape": "ServiceLinkedRoleLockServiceException"
                },
                {
                    "shape": "ServiceLinkedRoleLockClientException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHLH2HUAQQM6ZYW55IDJW2UQCO3NQDADAYKNWUWPEENHL44RWDGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LXHU3G6EVOKK24BSZQNAQ5KWIOXHW7RVQQ2CKGJPLPXRKSTQJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YKRCDPOYYILTIOFHKGDRGPKU2R5PXQOIVFJNA4MNWUOVBZXTAJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMSWYBYQ32TLCECLNAUJDYJ4ZELQPM4XYUC2GH6KRFT623AOFKDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJGMXNINVMKTYXTW2CSY62LLX6ZDJGUXSCFXCYKZ4ZAXM3SPE7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDCANKCV5X4ATCCASBD4G362EYUYP5ELGMIQ7XAJZE62X22ZZXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44OIYDISFGGZH3QMBEL4IXEO4ZDJ4VOUCFPH44U474RKPFMTVXDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W67276PAF2JNTGRD6J4H5YK25MXYKKFZFZPYGEHKXK7ZUYMPXF3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7RSJ5FWUAHOEQ3FJTFGUQLBLI276K3ZY2VWB276PHWATL76XMEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHMH3F6HWEEZB2GL467PWJ6RNTM7FQ56THMXP73YCE67HLVPVFSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2E5RRAIPQ4IO6CPV7EO7OIQ5FSNLQFOGG2P2RVETV3COD4CN4XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCTYKUMKLHQ6QSKZK2DGE4FYF4NSMCDSURFD2EA7VXG3HQCXFGAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPPMUQ4TNQWSWGIFMS6XGB34ZSRQ7JEBOSDMSNNWDEGUK55T4VHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGM7RGOOC5KI2CGMH4S73AHXKLSPUWPJQJYNTCSRS3KITFKBAJKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCUR7XUAQA43SKAXB2ZUWRRRWZAXXVEOHMEVFZWEGJVYVI3HFZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PWBR7DOL52LZGSB3F36HYUZRK4LX3W6E4NR3BQORQG7IDSL3YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIKCAA6OWKDPQUHTYKCWEV76JNRPLYNSICL5K7HLPI6C6673DITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEZOOC5U7XF2AX4UOM7UGAA5N7FJK6QIDPXXHEI3VR5T6WVCGU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBLOOKVP23UABXWPJTT2TQNE6YIGNLUP4P7E3KMLR5SP5NYYEW3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M3FEH4C3XL5L7ALOWQNQED3ZXZS56IWBF6C4PTPVH4GPDJOQOTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42BRMLS7GTE4EPKYAU4NFRHPKBIIP4GSBD3KNPUWOCGUMC765IDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNBRK3YL7ZZ3QO74REXIXOW6LSFNNPEOTOSXZNAW7QKOYVHPEIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQQFCDPL2IHYX6O4LW43RS3QLVAPGCFV67KA5TUHQLZLEOLHLSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEN2QBD2FGGDROEV6Z5JYL6UH6U3YYAXGU6NY6U2FK4E2CGUDTQQ/main.js"
            ]
        },
        "PutSdkType": {
            "name": "PutSdkType",
            "http": {
                "method": "PUT",
                "requestUri": "/private/sdktypes/{sdktype_id}"
            },
            "input": {
                "shape": "PutSdkTypeRequest"
            },
            "output": {
                "shape": "SdkTypeInternal"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHLH2HUAQQM6ZYW55IDJW2UQCO3NQDADAYKNWUWPEENHL44RWDGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LXHU3G6EVOKK24BSZQNAQ5KWIOXHW7RVQQ2CKGJPLPXRKSTQJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YKRCDPOYYILTIOFHKGDRGPKU2R5PXQOIVFJNA4MNWUOVBZXTAJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMSWYBYQ32TLCECLNAUJDYJ4ZELQPM4XYUC2GH6KRFT623AOFKDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJGMXNINVMKTYXTW2CSY62LLX6ZDJGUXSCFXCYKZ4ZAXM3SPE7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDCANKCV5X4ATCCASBD4G362EYUYP5ELGMIQ7XAJZE62X22ZZXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44OIYDISFGGZH3QMBEL4IXEO4ZDJ4VOUCFPH44U474RKPFMTVXDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W67276PAF2JNTGRD6J4H5YK25MXYKKFZFZPYGEHKXK7ZUYMPXF3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7RSJ5FWUAHOEQ3FJTFGUQLBLI276K3ZY2VWB276PHWATL76XMEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHMH3F6HWEEZB2GL467PWJ6RNTM7FQ56THMXP73YCE67HLVPVFSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2E5RRAIPQ4IO6CPV7EO7OIQ5FSNLQFOGG2P2RVETV3COD4CN4XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCTYKUMKLHQ6QSKZK2DGE4FYF4NSMCDSURFD2EA7VXG3HQCXFGAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPPMUQ4TNQWSWGIFMS6XGB34ZSRQ7JEBOSDMSNNWDEGUK55T4VHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGM7RGOOC5KI2CGMH4S73AHXKLSPUWPJQJYNTCSRS3KITFKBAJKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCUR7XUAQA43SKAXB2ZUWRRRWZAXXVEOHMEVFZWEGJVYVI3HFZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PWBR7DOL52LZGSB3F36HYUZRK4LX3W6E4NR3BQORQG7IDSL3YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIKCAA6OWKDPQUHTYKCWEV76JNRPLYNSICL5K7HLPI6C6673DITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEZOOC5U7XF2AX4UOM7UGAA5N7FJK6QIDPXXHEI3VR5T6WVCGU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBLOOKVP23UABXWPJTT2TQNE6YIGNLUP4P7E3KMLR5SP5NYYEW3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M3FEH4C3XL5L7ALOWQNQED3ZXZS56IWBF6C4PTPVH4GPDJOQOTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42BRMLS7GTE4EPKYAU4NFRHPKBIIP4GSBD3KNPUWOCGUMC765IDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNBRK3YL7ZZ3QO74REXIXOW6LSFNNPEOTOSXZNAW7QKOYVHPEIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQQFCDPL2IHYX6O4LW43RS3QLVAPGCFV67KA5TUHQLZLEOLHLSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEN2QBD2FGGDROEV6Z5JYL6UH6U3YYAXGU6NY6U2FK4E2CGUDTQQ/main.js"
            ]
        },
        "RotateDomainNameCertificate": {
            "name": "RotateDomainNameCertificate",
            "http": {
                "method": "PATCH",
                "requestUri": "/private/domainnames/{domain_name}/certificate/rotate"
            },
            "input": {
                "shape": "RotateDomainNameCertificateRequest"
            },
            "output": {
                "shape": "DomainNameInternal"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHLH2HUAQQM6ZYW55IDJW2UQCO3NQDADAYKNWUWPEENHL44RWDGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LXHU3G6EVOKK24BSZQNAQ5KWIOXHW7RVQQ2CKGJPLPXRKSTQJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YKRCDPOYYILTIOFHKGDRGPKU2R5PXQOIVFJNA4MNWUOVBZXTAJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMSWYBYQ32TLCECLNAUJDYJ4ZELQPM4XYUC2GH6KRFT623AOFKDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJGMXNINVMKTYXTW2CSY62LLX6ZDJGUXSCFXCYKZ4ZAXM3SPE7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDCANKCV5X4ATCCASBD4G362EYUYP5ELGMIQ7XAJZE62X22ZZXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44OIYDISFGGZH3QMBEL4IXEO4ZDJ4VOUCFPH44U474RKPFMTVXDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W67276PAF2JNTGRD6J4H5YK25MXYKKFZFZPYGEHKXK7ZUYMPXF3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7RSJ5FWUAHOEQ3FJTFGUQLBLI276K3ZY2VWB276PHWATL76XMEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHMH3F6HWEEZB2GL467PWJ6RNTM7FQ56THMXP73YCE67HLVPVFSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2E5RRAIPQ4IO6CPV7EO7OIQ5FSNLQFOGG2P2RVETV3COD4CN4XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCTYKUMKLHQ6QSKZK2DGE4FYF4NSMCDSURFD2EA7VXG3HQCXFGAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPPMUQ4TNQWSWGIFMS6XGB34ZSRQ7JEBOSDMSNNWDEGUK55T4VHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGM7RGOOC5KI2CGMH4S73AHXKLSPUWPJQJYNTCSRS3KITFKBAJKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCUR7XUAQA43SKAXB2ZUWRRRWZAXXVEOHMEVFZWEGJVYVI3HFZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PWBR7DOL52LZGSB3F36HYUZRK4LX3W6E4NR3BQORQG7IDSL3YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIKCAA6OWKDPQUHTYKCWEV76JNRPLYNSICL5K7HLPI6C6673DITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEZOOC5U7XF2AX4UOM7UGAA5N7FJK6QIDPXXHEI3VR5T6WVCGU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBLOOKVP23UABXWPJTT2TQNE6YIGNLUP4P7E3KMLR5SP5NYYEW3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M3FEH4C3XL5L7ALOWQNQED3ZXZS56IWBF6C4PTPVH4GPDJOQOTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42BRMLS7GTE4EPKYAU4NFRHPKBIIP4GSBD3KNPUWOCGUMC765IDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNBRK3YL7ZZ3QO74REXIXOW6LSFNNPEOTOSXZNAW7QKOYVHPEIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQQFCDPL2IHYX6O4LW43RS3QLVAPGCFV67KA5TUHQLZLEOLHLSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEN2QBD2FGGDROEV6Z5JYL6UH6U3YYAXGU6NY6U2FK4E2CGUDTQQ/main.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "name": "UnlockServiceLinkedRole",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "UnlockServiceLinkedRoleRequest"
            },
            "output": {
                "shape": "UnlockServiceLinkedRoleResponse"
            },
            "errors": [
                {
                    "shape": "ServiceLinkedRoleLockServiceException"
                },
                {
                    "shape": "ServiceLinkedRoleLockClientException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHLH2HUAQQM6ZYW55IDJW2UQCO3NQDADAYKNWUWPEENHL44RWDGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LXHU3G6EVOKK24BSZQNAQ5KWIOXHW7RVQQ2CKGJPLPXRKSTQJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YKRCDPOYYILTIOFHKGDRGPKU2R5PXQOIVFJNA4MNWUOVBZXTAJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMSWYBYQ32TLCECLNAUJDYJ4ZELQPM4XYUC2GH6KRFT623AOFKDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJGMXNINVMKTYXTW2CSY62LLX6ZDJGUXSCFXCYKZ4ZAXM3SPE7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDCANKCV5X4ATCCASBD4G362EYUYP5ELGMIQ7XAJZE62X22ZZXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44OIYDISFGGZH3QMBEL4IXEO4ZDJ4VOUCFPH44U474RKPFMTVXDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W67276PAF2JNTGRD6J4H5YK25MXYKKFZFZPYGEHKXK7ZUYMPXF3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7RSJ5FWUAHOEQ3FJTFGUQLBLI276K3ZY2VWB276PHWATL76XMEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHMH3F6HWEEZB2GL467PWJ6RNTM7FQ56THMXP73YCE67HLVPVFSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2E5RRAIPQ4IO6CPV7EO7OIQ5FSNLQFOGG2P2RVETV3COD4CN4XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCTYKUMKLHQ6QSKZK2DGE4FYF4NSMCDSURFD2EA7VXG3HQCXFGAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPPMUQ4TNQWSWGIFMS6XGB34ZSRQ7JEBOSDMSNNWDEGUK55T4VHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGM7RGOOC5KI2CGMH4S73AHXKLSPUWPJQJYNTCSRS3KITFKBAJKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCUR7XUAQA43SKAXB2ZUWRRRWZAXXVEOHMEVFZWEGJVYVI3HFZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PWBR7DOL52LZGSB3F36HYUZRK4LX3W6E4NR3BQORQG7IDSL3YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIKCAA6OWKDPQUHTYKCWEV76JNRPLYNSICL5K7HLPI6C6673DITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEZOOC5U7XF2AX4UOM7UGAA5N7FJK6QIDPXXHEI3VR5T6WVCGU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBLOOKVP23UABXWPJTT2TQNE6YIGNLUP4P7E3KMLR5SP5NYYEW3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M3FEH4C3XL5L7ALOWQNQED3ZXZS56IWBF6C4PTPVH4GPDJOQOTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42BRMLS7GTE4EPKYAU4NFRHPKBIIP4GSBD3KNPUWOCGUMC765IDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNBRK3YL7ZZ3QO74REXIXOW6LSFNNPEOTOSXZNAW7QKOYVHPEIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQQFCDPL2IHYX6O4LW43RS3QLVAPGCFV67KA5TUHQLZLEOLHLSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEN2QBD2FGGDROEV6Z5JYL6UH6U3YYAXGU6NY6U2FK4E2CGUDTQQ/main.js"
            ]
        },
        "UpdateDomainNameBackupCertificate": {
            "name": "UpdateDomainNameBackupCertificate",
            "http": {
                "method": "PATCH",
                "requestUri": "/private/domainnames/{domain_name}/certificate/backup"
            },
            "input": {
                "shape": "UpdateDomainNameBackupCertificateRequest"
            },
            "output": {
                "shape": "DomainNameInternal"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHLH2HUAQQM6ZYW55IDJW2UQCO3NQDADAYKNWUWPEENHL44RWDGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LXHU3G6EVOKK24BSZQNAQ5KWIOXHW7RVQQ2CKGJPLPXRKSTQJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YKRCDPOYYILTIOFHKGDRGPKU2R5PXQOIVFJNA4MNWUOVBZXTAJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMSWYBYQ32TLCECLNAUJDYJ4ZELQPM4XYUC2GH6KRFT623AOFKDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJGMXNINVMKTYXTW2CSY62LLX6ZDJGUXSCFXCYKZ4ZAXM3SPE7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDCANKCV5X4ATCCASBD4G362EYUYP5ELGMIQ7XAJZE62X22ZZXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44OIYDISFGGZH3QMBEL4IXEO4ZDJ4VOUCFPH44U474RKPFMTVXDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W67276PAF2JNTGRD6J4H5YK25MXYKKFZFZPYGEHKXK7ZUYMPXF3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7RSJ5FWUAHOEQ3FJTFGUQLBLI276K3ZY2VWB276PHWATL76XMEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHMH3F6HWEEZB2GL467PWJ6RNTM7FQ56THMXP73YCE67HLVPVFSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2E5RRAIPQ4IO6CPV7EO7OIQ5FSNLQFOGG2P2RVETV3COD4CN4XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCTYKUMKLHQ6QSKZK2DGE4FYF4NSMCDSURFD2EA7VXG3HQCXFGAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPPMUQ4TNQWSWGIFMS6XGB34ZSRQ7JEBOSDMSNNWDEGUK55T4VHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGM7RGOOC5KI2CGMH4S73AHXKLSPUWPJQJYNTCSRS3KITFKBAJKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCUR7XUAQA43SKAXB2ZUWRRRWZAXXVEOHMEVFZWEGJVYVI3HFZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PWBR7DOL52LZGSB3F36HYUZRK4LX3W6E4NR3BQORQG7IDSL3YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIKCAA6OWKDPQUHTYKCWEV76JNRPLYNSICL5K7HLPI6C6673DITA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEZOOC5U7XF2AX4UOM7UGAA5N7FJK6QIDPXXHEI3VR5T6WVCGU7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OBLOOKVP23UABXWPJTT2TQNE6YIGNLUP4P7E3KMLR5SP5NYYEW3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M3FEH4C3XL5L7ALOWQNQED3ZXZS56IWBF6C4PTPVH4GPDJOQOTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42BRMLS7GTE4EPKYAU4NFRHPKBIIP4GSBD3KNPUWOCGUMC765IDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNBRK3YL7ZZ3QO74REXIXOW6LSFNNPEOTOSXZNAW7QKOYVHPEIKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQQFCDPL2IHYX6O4LW43RS3QLVAPGCFV67KA5TUHQLZLEOLHLSTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEN2QBD2FGGDROEV6Z5JYL6UH6U3YYAXGU6NY6U2FK4E2CGUDTQQ/main.js"
            ]
        }
    },
    "shapes": {
        "ArnInfo": {
            "type": "structure",
            "required": [
                "stageArn",
                "webAclArn"
            ],
            "members": {
                "stageArn": {
                    "shape": "String"
                },
                "webAclArn": {
                    "shape": "String"
                }
            }
        },
        "AssociateWebAclRequest": {
            "type": "structure",
            "members": {
                "arnInfo": {
                    "shape": "ArnInfo"
                }
            }
        },
        "BadRequestException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 400
            },
            "exception": true
        },
        "Boolean": {
            "type": "boolean"
        },
        "DisassociateWebAclRequest": {
            "type": "structure",
            "members": {
                "arnInfo": {
                    "shape": "ArnInfo"
                }
            }
        },
        "DomainNameInternal": {
            "type": "structure",
            "members": {
                "certificateId": {
                    "shape": "String"
                },
                "backupCertificateName": {
                    "shape": "String"
                },
                "backupCertificateId": {
                    "shape": "String"
                },
                "backupCertificateArn": {
                    "shape": "String"
                },
                "backupCertificateUploadDate": {
                    "shape": "Timestamp"
                },
                "backupRegionalCertificateName": {
                    "shape": "String"
                },
                "backupRegionalCertificateArn": {
                    "shape": "String"
                },
                "vpcEndpointServiceConfiguration": {
                    "shape": "VpcEndpointServiceConfiguration"
                }
            }
        },
        "DomainNameStatus": {
            "type": "structure",
            "members": {
                "domainName": {
                    "shape": "String"
                },
                "status": {
                    "shape": "String"
                }
            }
        },
        "DomainNamesInternal": {
            "type": "structure",
            "members": {}
        },
        "GetDomainNameCertificateStatusRequest": {
            "type": "structure",
            "required": [
                "domainName"
            ],
            "members": {
                "domainName": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "domain_name"
                }
            }
        },
        "GetDomainNameInternalRequest": {
            "type": "structure",
            "members": {
                "domainName": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "domain_name"
                }
            },
            "required": [
                "domainName"
            ]
        },
        "GetDomainNamesInternalRequest": {
            "type": "structure",
            "members": {}
        },
        "GetWebAclByResourceRequest": {
            "type": "structure",
            "required": [
                "stageArn",
                "accountId"
            ],
            "members": {
                "stageArn": {
                    "shape": "String"
                },
                "accountId": {
                    "shape": "String"
                }
            }
        },
        "ListOfResources": {
            "type": "list",
            "member": {
                "shape": "StageResource"
            }
        },
        "ListOfSdkConfigurationProperty": {
            "type": "list",
            "member": {
                "shape": "SdkConfigurationProperty"
            }
        },
        "ListOfString": {
            "type": "list",
            "member": {
                "shape": "String"
            }
        },
        "ListResourcesByWebAclRequest": {
            "type": "structure",
            "required": [
                "webAclArn"
            ],
            "members": {
                "webAclArn": {
                    "shape": "String"
                }
            }
        },
        "LockServiceLinkedRoleRequest": {
            "type": "structure",
            "required": [
                "RoleArn",
                "Timeout"
            ],
            "members": {
                "RoleArn": {
                    "shape": "arnType"
                },
                "Timeout": {
                    "shape": "longType"
                }
            }
        },
        "LockServiceLinkedRoleResponse": {
            "type": "structure",
            "required": [
                "CanBeDeleted"
            ],
            "members": {
                "CanBeDeleted": {
                    "shape": "booleanType"
                },
                "ReasonOfFailure": {
                    "shape": "stringType"
                },
                "RelatedResources": {
                    "shape": "stringListType"
                }
            }
        },
        "NotFoundException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 404
            },
            "exception": true
        },
        "PutSdkTypeRequest": {
            "type": "structure",
            "required": [
                "id",
                "putSdkTypeInput"
            ],
            "members": {
                "id": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "sdktype_id"
                },
                "putSdkTypeInput": {
                    "shape": "SdkTypeInternal"
                }
            },
            "payload": "putSdkTypeInput"
        },
        "RotateDomainNameCertificateInput": {
            "type": "structure",
            "required": [
                "domainName",
                "currentCertificateId",
                "newCertificateId"
            ],
            "members": {
                "domainName": {
                    "shape": "String"
                },
                "currentCertificateId": {
                    "shape": "String"
                },
                "newCertificateId": {
                    "shape": "String"
                }
            }
        },
        "RotateDomainNameCertificateRequest": {
            "type": "structure",
            "required": [
                "domainName"
            ],
            "members": {
                "domainName": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "domain_name"
                },
                "rotateDomainNameCertificateInput": {
                    "shape": "RotateDomainNameCertificateInput"
                }
            },
            "payload": "rotateDomainNameCertificateInput"
        },
        "SdkConfigurationProperty": {
            "type": "structure",
            "members": {
                "name": {
                    "shape": "String"
                },
                "friendlyName": {
                    "shape": "String"
                },
                "description": {
                    "shape": "String"
                },
                "required": {
                    "shape": "Boolean"
                },
                "defaultValue": {
                    "shape": "String"
                }
            }
        },
        "SdkTypeInternal": {
            "type": "structure",
            "required": [
                "id",
                "functionArn"
            ],
            "members": {
                "id": {
                    "shape": "String"
                },
                "name": {
                    "shape": "String"
                },
                "description": {
                    "shape": "String"
                },
                "functionArn": {
                    "shape": "String"
                },
                "configurationProperties": {
                    "shape": "ListOfSdkConfigurationProperty"
                }
            }
        },
        "ServiceLinkedRoleLockClientException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "errorMessage"
                }
            },
            "error": {
                "httpStatusCode": 400
            },
            "exception": true
        },
        "ServiceLinkedRoleLockServiceException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "errorMessage"
                }
            },
            "error": {
                "httpStatusCode": 500
            },
            "exception": true
        },
        "ServiceUnavailableException": {
            "type": "structure",
            "members": {
                "retryAfterSeconds": {
                    "shape": "String",
                    "location": "header",
                    "locationName": "Retry-After"
                },
                "message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 503
            },
            "exception": true,
            "fault": true
        },
        "StageResource": {
            "type": "structure",
            "members": {
                "stageArn": {
                    "shape": "String"
                }
            }
        },
        "StageResourceList": {
            "type": "structure",
            "members": {
                "stageResources": {
                    "shape": "ListOfResources"
                }
            }
        },
        "String": {
            "type": "string"
        },
        "Timestamp": {
            "type": "timestamp"
        },
        "TooManyRequestsException": {
            "type": "structure",
            "members": {
                "retryAfterSeconds": {
                    "shape": "String",
                    "location": "header",
                    "locationName": "Retry-After"
                },
                "message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 429
            },
            "exception": true
        },
        "UnauthorizedException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 401
            },
            "exception": true
        },
        "UnlockServiceLinkedRoleRequest": {
            "type": "structure",
            "required": [
                "RoleArn"
            ],
            "members": {
                "RoleArn": {
                    "shape": "arnType"
                },
                "DeletionStatus": {
                    "shape": "deletionStatus"
                }
            }
        },
        "UnlockServiceLinkedRoleResponse": {
            "type": "structure",
            "members": {}
        },
        "UpdateDomainNameBackupCertificateInput": {
            "type": "structure",
            "required": [
                "domainName"
            ],
            "members": {
                "domainName": {
                    "shape": "String"
                },
                "certificateName": {
                    "shape": "String"
                },
                "certificateBody": {
                    "shape": "String"
                },
                "certificatePrivateKey": {
                    "shape": "String"
                },
                "certificateChain": {
                    "shape": "String"
                },
                "certificateArn": {
                    "shape": "String"
                },
                "regionalCertificateName": {
                    "shape": "String"
                },
                "regionalCertificateArn": {
                    "shape": "String"
                }
            }
        },
        "UpdateDomainNameBackupCertificateRequest": {
            "type": "structure",
            "required": [
                "domainName"
            ],
            "members": {
                "domainName": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "domain_name"
                },
                "updateDomainNameBackupCertificateInput": {
                    "shape": "UpdateDomainNameBackupCertificateInput"
                }
            },
            "payload": "updateDomainNameBackupCertificateInput"
        },
        "VpcEndpointServiceConfiguration": {
            "type": "structure",
            "members": {
                "vpceServiceId": {
                    "shape": "String"
                },
                "vpcEndpointIds": {
                    "shape": "ListOfString"
                }
            }
        },
        "WebAcl": {
            "type": "structure",
            "members": {
                "webAclArn": {
                    "shape": "String"
                }
            }
        },
        "arnType": {
            "type": "string",
            "max": 2048,
            "min": 20
        },
        "booleanType": {
            "type": "boolean"
        },
        "deletionStatus": {
            "type": "string",
            "enum": [
                "SUCCEEDED",
                "FAILED"
            ]
        },
        "errorMessage": {
            "type": "string"
        },
        "longType": {
            "type": "long"
        },
        "stringListType": {
            "type": "list",
            "member": {
                "shape": "stringType"
            }
        },
        "stringType": {
            "type": "string"
        }
    }
}