{
    "metadata": {
        "apiVersion": "2018-11-29",
        "endpointPrefix": "apigateway",
        "signingName": "apigateway",
        "serviceFullName": "AmazonApiGatewayV2",
        "serviceId": "ApiGatewayV2",
        "protocol": "rest-json",
        "jsonVersion": "1.1",
        "uid": "apigatewayv2-2018-11-29",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "CreateApi": {
            "http": {
                "requestUri": "/v2/apis",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApiKeySelectionExpression": {
                        "locationName": "apiKeySelectionExpression"
                    },
                    "CorsConfiguration": {
                        "shape": "S3",
                        "locationName": "corsConfiguration"
                    },
                    "CredentialsArn": {
                        "locationName": "credentialsArn"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "DisableSchemaValidation": {
                        "locationName": "disableSchemaValidation",
                        "type": "boolean"
                    },
                    "DisableExecuteApiEndpoint": {
                        "locationName": "disableExecuteApiEndpoint",
                        "type": "boolean"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "ProtocolType": {
                        "locationName": "protocolType"
                    },
                    "RouteKey": {
                        "locationName": "routeKey"
                    },
                    "RouteSelectionExpression": {
                        "locationName": "routeSelectionExpression"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    },
                    "Target": {
                        "locationName": "target"
                    },
                    "Version": {
                        "locationName": "version"
                    }
                },
                "required": [
                    "ProtocolType",
                    "Name"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiEndpoint": {
                        "locationName": "apiEndpoint"
                    },
                    "ApiGatewayManaged": {
                        "locationName": "apiGatewayManaged",
                        "type": "boolean"
                    },
                    "ApiId": {
                        "locationName": "apiId"
                    },
                    "ApiKeySelectionExpression": {
                        "locationName": "apiKeySelectionExpression"
                    },
                    "CorsConfiguration": {
                        "shape": "S3",
                        "locationName": "corsConfiguration"
                    },
                    "CreatedDate": {
                        "shape": "Sl",
                        "locationName": "createdDate"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "DisableSchemaValidation": {
                        "locationName": "disableSchemaValidation",
                        "type": "boolean"
                    },
                    "DisableExecuteApiEndpoint": {
                        "locationName": "disableExecuteApiEndpoint",
                        "type": "boolean"
                    },
                    "ImportInfo": {
                        "shape": "Sm",
                        "locationName": "importInfo"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "ProtocolType": {
                        "locationName": "protocolType"
                    },
                    "RouteSelectionExpression": {
                        "locationName": "routeSelectionExpression"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    },
                    "Version": {
                        "locationName": "version"
                    },
                    "Warnings": {
                        "shape": "Sm",
                        "locationName": "warnings"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateApiMapping": {
            "http": {
                "requestUri": "/v2/domainnames/{domainName}/apimappings",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApiId": {
                        "locationName": "apiId"
                    },
                    "ApiMappingKey": {
                        "locationName": "apiMappingKey"
                    },
                    "DomainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    },
                    "Stage": {
                        "locationName": "stage"
                    }
                },
                "required": [
                    "DomainName",
                    "Stage",
                    "ApiId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiId": {
                        "locationName": "apiId"
                    },
                    "ApiMappingId": {
                        "locationName": "apiMappingId"
                    },
                    "ApiMappingKey": {
                        "locationName": "apiMappingKey"
                    },
                    "Stage": {
                        "locationName": "stage"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateAuthorizer": {
            "http": {
                "requestUri": "/v2/apis/{apiId}/authorizers",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "AuthorizerCredentialsArn": {
                        "locationName": "authorizerCredentialsArn"
                    },
                    "AuthorizerPayloadFormatVersion": {
                        "locationName": "authorizerPayloadFormatVersion"
                    },
                    "AuthorizerResultTtlInSeconds": {
                        "locationName": "authorizerResultTtlInSeconds",
                        "type": "integer"
                    },
                    "AuthorizerType": {
                        "locationName": "authorizerType"
                    },
                    "AuthorizerUri": {
                        "locationName": "authorizerUri"
                    },
                    "EnableSimpleResponses": {
                        "locationName": "enableSimpleResponses",
                        "type": "boolean"
                    },
                    "IdentitySource": {
                        "shape": "Ss",
                        "locationName": "identitySource"
                    },
                    "IdentityValidationExpression": {
                        "locationName": "identityValidationExpression"
                    },
                    "JwtConfiguration": {
                        "shape": "St",
                        "locationName": "jwtConfiguration"
                    },
                    "Name": {
                        "locationName": "name"
                    }
                },
                "required": [
                    "ApiId",
                    "AuthorizerType",
                    "IdentitySource",
                    "Name"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AuthorizerCredentialsArn": {
                        "locationName": "authorizerCredentialsArn"
                    },
                    "AuthorizerId": {
                        "locationName": "authorizerId"
                    },
                    "AuthorizerPayloadFormatVersion": {
                        "locationName": "authorizerPayloadFormatVersion"
                    },
                    "AuthorizerResultTtlInSeconds": {
                        "locationName": "authorizerResultTtlInSeconds",
                        "type": "integer"
                    },
                    "AuthorizerType": {
                        "locationName": "authorizerType"
                    },
                    "AuthorizerUri": {
                        "locationName": "authorizerUri"
                    },
                    "EnableSimpleResponses": {
                        "locationName": "enableSimpleResponses",
                        "type": "boolean"
                    },
                    "IdentitySource": {
                        "shape": "Ss",
                        "locationName": "identitySource"
                    },
                    "IdentityValidationExpression": {
                        "locationName": "identityValidationExpression"
                    },
                    "JwtConfiguration": {
                        "shape": "St",
                        "locationName": "jwtConfiguration"
                    },
                    "Name": {
                        "locationName": "name"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateDeployment": {
            "http": {
                "requestUri": "/v2/apis/{apiId}/deployments",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "StageName": {
                        "locationName": "stageName"
                    }
                },
                "required": [
                    "ApiId"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AutoDeployed": {
                        "locationName": "autoDeployed",
                        "type": "boolean"
                    },
                    "CreatedDate": {
                        "shape": "Sl",
                        "locationName": "createdDate"
                    },
                    "DeploymentId": {
                        "locationName": "deploymentId"
                    },
                    "DeploymentStatus": {
                        "locationName": "deploymentStatus"
                    },
                    "DeploymentStatusMessage": {
                        "locationName": "deploymentStatusMessage"
                    },
                    "Description": {
                        "locationName": "description"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateDomainName": {
            "http": {
                "requestUri": "/v2/domainnames",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "DomainName": {
                        "locationName": "domainName"
                    },
                    "DomainNameConfigurations": {
                        "shape": "S10",
                        "locationName": "domainNameConfigurations"
                    },
                    "MutualTlsAuthentication": {
                        "shape": "S15",
                        "locationName": "mutualTlsAuthentication"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "DomainName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiMappingSelectionExpression": {
                        "locationName": "apiMappingSelectionExpression"
                    },
                    "DomainName": {
                        "locationName": "domainName"
                    },
                    "DomainNameConfigurations": {
                        "shape": "S10",
                        "locationName": "domainNameConfigurations"
                    },
                    "MutualTlsAuthentication": {
                        "shape": "S17",
                        "locationName": "mutualTlsAuthentication"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateIntegration": {
            "http": {
                "requestUri": "/v2/apis/{apiId}/integrations",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "ConnectionId": {
                        "locationName": "connectionId"
                    },
                    "ConnectionType": {
                        "locationName": "connectionType"
                    },
                    "ContentHandlingStrategy": {
                        "locationName": "contentHandlingStrategy"
                    },
                    "CredentialsArn": {
                        "locationName": "credentialsArn"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "IntegrationMethod": {
                        "locationName": "integrationMethod"
                    },
                    "IntegrationSubtype": {
                        "locationName": "integrationSubtype"
                    },
                    "IntegrationType": {
                        "locationName": "integrationType"
                    },
                    "IntegrationUri": {
                        "locationName": "integrationUri"
                    },
                    "PassthroughBehavior": {
                        "locationName": "passthroughBehavior"
                    },
                    "PayloadFormatVersion": {
                        "locationName": "payloadFormatVersion"
                    },
                    "RequestParameters": {
                        "shape": "S1e",
                        "locationName": "requestParameters"
                    },
                    "RequestTemplates": {
                        "shape": "S1f",
                        "locationName": "requestTemplates"
                    },
                    "ResponseParameters": {
                        "shape": "S1h",
                        "locationName": "responseParameters"
                    },
                    "TemplateSelectionExpression": {
                        "locationName": "templateSelectionExpression"
                    },
                    "TimeoutInMillis": {
                        "locationName": "timeoutInMillis",
                        "type": "integer"
                    },
                    "TlsConfig": {
                        "shape": "S1j",
                        "locationName": "tlsConfig"
                    }
                },
                "required": [
                    "ApiId",
                    "IntegrationType"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiGatewayManaged": {
                        "locationName": "apiGatewayManaged",
                        "type": "boolean"
                    },
                    "ConnectionId": {
                        "locationName": "connectionId"
                    },
                    "ConnectionType": {
                        "locationName": "connectionType"
                    },
                    "ContentHandlingStrategy": {
                        "locationName": "contentHandlingStrategy"
                    },
                    "CredentialsArn": {
                        "locationName": "credentialsArn"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "IntegrationId": {
                        "locationName": "integrationId"
                    },
                    "IntegrationMethod": {
                        "locationName": "integrationMethod"
                    },
                    "IntegrationResponseSelectionExpression": {
                        "locationName": "integrationResponseSelectionExpression"
                    },
                    "IntegrationSubtype": {
                        "locationName": "integrationSubtype"
                    },
                    "IntegrationType": {
                        "locationName": "integrationType"
                    },
                    "IntegrationUri": {
                        "locationName": "integrationUri"
                    },
                    "PassthroughBehavior": {
                        "locationName": "passthroughBehavior"
                    },
                    "PayloadFormatVersion": {
                        "locationName": "payloadFormatVersion"
                    },
                    "RequestParameters": {
                        "shape": "S1e",
                        "locationName": "requestParameters"
                    },
                    "RequestTemplates": {
                        "shape": "S1f",
                        "locationName": "requestTemplates"
                    },
                    "ResponseParameters": {
                        "shape": "S1h",
                        "locationName": "responseParameters"
                    },
                    "TemplateSelectionExpression": {
                        "locationName": "templateSelectionExpression"
                    },
                    "TimeoutInMillis": {
                        "locationName": "timeoutInMillis",
                        "type": "integer"
                    },
                    "TlsConfig": {
                        "shape": "S1l",
                        "locationName": "tlsConfig"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateIntegrationResponse": {
            "http": {
                "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "ContentHandlingStrategy": {
                        "locationName": "contentHandlingStrategy"
                    },
                    "IntegrationId": {
                        "location": "uri",
                        "locationName": "integrationId"
                    },
                    "IntegrationResponseKey": {
                        "locationName": "integrationResponseKey"
                    },
                    "ResponseParameters": {
                        "shape": "S1e",
                        "locationName": "responseParameters"
                    },
                    "ResponseTemplates": {
                        "shape": "S1f",
                        "locationName": "responseTemplates"
                    },
                    "TemplateSelectionExpression": {
                        "locationName": "templateSelectionExpression"
                    }
                },
                "required": [
                    "ApiId",
                    "IntegrationId",
                    "IntegrationResponseKey"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentHandlingStrategy": {
                        "locationName": "contentHandlingStrategy"
                    },
                    "IntegrationResponseId": {
                        "locationName": "integrationResponseId"
                    },
                    "IntegrationResponseKey": {
                        "locationName": "integrationResponseKey"
                    },
                    "ResponseParameters": {
                        "shape": "S1e",
                        "locationName": "responseParameters"
                    },
                    "ResponseTemplates": {
                        "shape": "S1f",
                        "locationName": "responseTemplates"
                    },
                    "TemplateSelectionExpression": {
                        "locationName": "templateSelectionExpression"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateModel": {
            "http": {
                "requestUri": "/v2/apis/{apiId}/models",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "ContentType": {
                        "locationName": "contentType"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "Schema": {
                        "locationName": "schema"
                    }
                },
                "required": [
                    "ApiId",
                    "Schema",
                    "Name"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContentType": {
                        "locationName": "contentType"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "ModelId": {
                        "locationName": "modelId"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "Schema": {
                        "locationName": "schema"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateRoute": {
            "http": {
                "requestUri": "/v2/apis/{apiId}/routes",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "ApiKeyRequired": {
                        "locationName": "apiKeyRequired",
                        "type": "boolean"
                    },
                    "AuthorizationScopes": {
                        "shape": "S1s",
                        "locationName": "authorizationScopes"
                    },
                    "AuthorizationType": {
                        "locationName": "authorizationType"
                    },
                    "AuthorizerId": {
                        "locationName": "authorizerId"
                    },
                    "ModelSelectionExpression": {
                        "locationName": "modelSelectionExpression"
                    },
                    "OperationName": {
                        "locationName": "operationName"
                    },
                    "RequestModels": {
                        "shape": "S1u",
                        "locationName": "requestModels"
                    },
                    "RequestParameters": {
                        "shape": "S1v",
                        "locationName": "requestParameters"
                    },
                    "RouteKey": {
                        "locationName": "routeKey"
                    },
                    "RouteResponseSelectionExpression": {
                        "locationName": "routeResponseSelectionExpression"
                    },
                    "Target": {
                        "locationName": "target"
                    }
                },
                "required": [
                    "ApiId",
                    "RouteKey"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiGatewayManaged": {
                        "locationName": "apiGatewayManaged",
                        "type": "boolean"
                    },
                    "ApiKeyRequired": {
                        "locationName": "apiKeyRequired",
                        "type": "boolean"
                    },
                    "AuthorizationScopes": {
                        "shape": "S1s",
                        "locationName": "authorizationScopes"
                    },
                    "AuthorizationType": {
                        "locationName": "authorizationType"
                    },
                    "AuthorizerId": {
                        "locationName": "authorizerId"
                    },
                    "ModelSelectionExpression": {
                        "locationName": "modelSelectionExpression"
                    },
                    "OperationName": {
                        "locationName": "operationName"
                    },
                    "RequestModels": {
                        "shape": "S1u",
                        "locationName": "requestModels"
                    },
                    "RequestParameters": {
                        "shape": "S1v",
                        "locationName": "requestParameters"
                    },
                    "RouteId": {
                        "locationName": "routeId"
                    },
                    "RouteKey": {
                        "locationName": "routeKey"
                    },
                    "RouteResponseSelectionExpression": {
                        "locationName": "routeResponseSelectionExpression"
                    },
                    "Target": {
                        "locationName": "target"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateRouteResponse": {
            "http": {
                "requestUri": "/v2/apis/{apiId}/routes/{routeId}/routeresponses",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "ModelSelectionExpression": {
                        "locationName": "modelSelectionExpression"
                    },
                    "ResponseModels": {
                        "shape": "S1u",
                        "locationName": "responseModels"
                    },
                    "ResponseParameters": {
                        "shape": "S1v",
                        "locationName": "responseParameters"
                    },
                    "RouteId": {
                        "location": "uri",
                        "locationName": "routeId"
                    },
                    "RouteResponseKey": {
                        "locationName": "routeResponseKey"
                    }
                },
                "required": [
                    "ApiId",
                    "RouteId",
                    "RouteResponseKey"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "ModelSelectionExpression": {
                        "locationName": "modelSelectionExpression"
                    },
                    "ResponseModels": {
                        "shape": "S1u",
                        "locationName": "responseModels"
                    },
                    "ResponseParameters": {
                        "shape": "S1v",
                        "locationName": "responseParameters"
                    },
                    "RouteResponseId": {
                        "locationName": "routeResponseId"
                    },
                    "RouteResponseKey": {
                        "locationName": "routeResponseKey"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateStage": {
            "http": {
                "requestUri": "/v2/apis/{apiId}/stages",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "AccessLogSettings": {
                        "shape": "S21",
                        "locationName": "accessLogSettings"
                    },
                    "ApiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "AutoDeploy": {
                        "locationName": "autoDeploy",
                        "type": "boolean"
                    },
                    "ClientCertificateId": {
                        "locationName": "clientCertificateId"
                    },
                    "DefaultRouteSettings": {
                        "shape": "S22",
                        "locationName": "defaultRouteSettings"
                    },
                    "DeploymentId": {
                        "locationName": "deploymentId"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "RouteSettings": {
                        "shape": "S26",
                        "locationName": "routeSettings"
                    },
                    "StageName": {
                        "locationName": "stageName"
                    },
                    "StageVariables": {
                        "shape": "S27",
                        "locationName": "stageVariables"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "ApiId",
                    "StageName"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessLogSettings": {
                        "shape": "S21",
                        "locationName": "accessLogSettings"
                    },
                    "ApiGatewayManaged": {
                        "locationName": "apiGatewayManaged",
                        "type": "boolean"
                    },
                    "AutoDeploy": {
                        "locationName": "autoDeploy",
                        "type": "boolean"
                    },
                    "ClientCertificateId": {
                        "locationName": "clientCertificateId"
                    },
                    "CreatedDate": {
                        "shape": "Sl",
                        "locationName": "createdDate"
                    },
                    "DefaultRouteSettings": {
                        "shape": "S22",
                        "locationName": "defaultRouteSettings"
                    },
                    "DeploymentId": {
                        "locationName": "deploymentId"
                    },
                    "Description": {
                        "locationName": "description"
                    },
                    "LastDeploymentStatusMessage": {
                        "locationName": "lastDeploymentStatusMessage"
                    },
                    "LastUpdatedDate": {
                        "shape": "Sl",
                        "locationName": "lastUpdatedDate"
                    },
                    "RouteSettings": {
                        "shape": "S26",
                        "locationName": "routeSettings"
                    },
                    "StageName": {
                        "locationName": "stageName"
                    },
                    "StageVariables": {
                        "shape": "S27",
                        "locationName": "stageVariables"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateVpcLink": {
            "http": {
                "requestUri": "/v2/vpclinks",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "Name": {
                        "locationName": "name"
                    },
                    "SecurityGroupIds": {
                        "shape": "S2b",
                        "locationName": "securityGroupIds"
                    },
                    "SubnetIds": {
                        "shape": "S2c",
                        "locationName": "subnetIds"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    }
                },
                "required": [
                    "SubnetIds",
                    "Name"
                ]
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreatedDate": {
                        "shape": "Sl",
                        "locationName": "createdDate"
                    },
                    "Name": {
                        "locationName": "name"
                    },
                    "SecurityGroupIds": {
                        "shape": "S2b",
                        "locationName": "securityGroupIds"
                    },
                    "SubnetIds": {
                        "shape": "S2c",
                        "locationName": "subnetIds"
                    },
                    "Tags": {
                        "shape": "Sg",
                        "locationName": "tags"
                    },
                    "VpcLinkId": {
                        "locationName": "vpcLinkId"
                    },
                    "VpcLinkStatus": {
                        "locationName": "vpcLinkStatus"
                    },
                    "VpcLinkStatusMessage": {
                        "locationName": "vpcLinkStatusMessage"
                    },
                    "VpcLinkVersion": {
                        "locationName": "vpcLinkVersion"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteAccessLogSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/apis/{apiId}/stages/{stageName}/accesslogsettings",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "StageName": {
                        "location": "uri",
                        "locationName": "stageName"
                    }
                },
                "required": [
                    "StageName",
                    "ApiId"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteApi": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/apis/{apiId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    }
                },
                "required": [
                    "ApiId"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteApiMapping": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domainnames/{domainName}/apimappings/{apiMappingId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApiMappingId": {
                        "location": "uri",
                        "locationName": "apiMappingId"
                    },
                    "DomainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                },
                "required": [
                    "ApiMappingId",
                    "DomainName"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteAuthorizer": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/apis/{apiId}/authorizers/{authorizerId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "AuthorizerId": {
                        "location": "uri",
                        "locationName": "authorizerId"
                    }
                },
                "required": [
                    "AuthorizerId",
                    "ApiId"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteCorsConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/apis/{apiId}/cors",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    }
                },
                "required": [
                    "ApiId"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteDeployment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/apis/{apiId}/deployments/{deploymentId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "DeploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    }
                },
                "required": [
                    "ApiId",
                    "DeploymentId"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VHOUZ5VSBJRQHHYJYRF47Z6VUC7ZAUOFGNRLUJNCBFFEZNDGUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteDomainName": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/domainnames/{domainName}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                },
                "required": [
                    "DomainName"
                ]
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GHBQ7T3RTB2D3PHLA22YVDE6RCHPVHODCWCAU3MFBSWVOVEFO5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
[...]
