{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-09-27",
        "endpointPrefix": "apigateway",
        "protocol": "rest-json",
        "serviceFullName": "AmazonApiGatewayInternal",
        "uid": "apigateway-internal-2018-09-27",
        "signingName": "apigateway",
        "serviceId": "ApiGatewayInternal",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQH4XASDXMKYT42BQA2FCRM5XLLS7DB7UDRSMXUASYC2HDXAXBHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HCWCSHUUOQCMEAFDXOUJGZLBHY74CXSTVQXNX6CWNOW6WD4Y3YCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RG7FFFVXL5O7P633VAZJH5OKV7MXLQZIQB57UTKNFV5YXUCWMEKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EICRKQJYAELXDVSW6OFBY4GJTHLHZVUIIBE54OGD2JM5Q7KLH2DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/II77XL3H7Y7YXHZYC3UZV2VI535LBFTMRL7GMO72DG243GWUJ6NQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PSKGD6JWDT2PRRTRVJQNM5RLCK7NW2UGSF4U3O4ACFI3MLK3LLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTJAZ3HXYPPW4IXSILBW3FBDGS2YQITTG64OFH4UT3GHD57WG2MA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWBNYAWCJZTYFM6V5DFF4XIGRIETJIW4TFLOKRTE453QIDJIISZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76YVQ6F7OAPANWNUMOXHGEDG5XVRKQ3UKEIE5NFTBFTU62GHCVJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/main.js"
        ]
    },
    "operations": {
        "AssociateWebAcl": {
            "name": "AssociateWebAcl",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "AssociateWebAclRequest"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQH4XASDXMKYT42BQA2FCRM5XLLS7DB7UDRSMXUASYC2HDXAXBHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCWCSHUUOQCMEAFDXOUJGZLBHY74CXSTVQXNX6CWNOW6WD4Y3YCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7FFFVXL5O7P633VAZJH5OKV7MXLQZIQB57UTKNFV5YXUCWMEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EICRKQJYAELXDVSW6OFBY4GJTHLHZVUIIBE54OGD2JM5Q7KLH2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II77XL3H7Y7YXHZYC3UZV2VI535LBFTMRL7GMO72DG243GWUJ6NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PSKGD6JWDT2PRRTRVJQNM5RLCK7NW2UGSF4U3O4ACFI3MLK3LLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTJAZ3HXYPPW4IXSILBW3FBDGS2YQITTG64OFH4UT3GHD57WG2MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWBNYAWCJZTYFM6V5DFF4XIGRIETJIW4TFLOKRTE453QIDJIISZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76YVQ6F7OAPANWNUMOXHGEDG5XVRKQ3UKEIE5NFTBFTU62GHCVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/main.js"
            ]
        },
        "DisassociateWebAcl": {
            "name": "DisassociateWebAcl",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "DisassociateWebAclRequest"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQH4XASDXMKYT42BQA2FCRM5XLLS7DB7UDRSMXUASYC2HDXAXBHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCWCSHUUOQCMEAFDXOUJGZLBHY74CXSTVQXNX6CWNOW6WD4Y3YCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7FFFVXL5O7P633VAZJH5OKV7MXLQZIQB57UTKNFV5YXUCWMEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EICRKQJYAELXDVSW6OFBY4GJTHLHZVUIIBE54OGD2JM5Q7KLH2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II77XL3H7Y7YXHZYC3UZV2VI535LBFTMRL7GMO72DG243GWUJ6NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PSKGD6JWDT2PRRTRVJQNM5RLCK7NW2UGSF4U3O4ACFI3MLK3LLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTJAZ3HXYPPW4IXSILBW3FBDGS2YQITTG64OFH4UT3GHD57WG2MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWBNYAWCJZTYFM6V5DFF4XIGRIETJIW4TFLOKRTE453QIDJIISZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76YVQ6F7OAPANWNUMOXHGEDG5XVRKQ3UKEIE5NFTBFTU62GHCVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/main.js"
            ]
        },
        "GetDomainName": {
            "name": "GetDomainName",
            "http": {
                "method": "GET",
                "requestUri": "/private/domainnames/{domain_name}"
            },
            "input": {
                "shape": "GetDomainNameInternalRequest"
            },
            "output": {
                "shape": "DomainNameInternal"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ServiceUnavailableException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQH4XASDXMKYT42BQA2FCRM5XLLS7DB7UDRSMXUASYC2HDXAXBHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCWCSHUUOQCMEAFDXOUJGZLBHY74CXSTVQXNX6CWNOW6WD4Y3YCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7FFFVXL5O7P633VAZJH5OKV7MXLQZIQB57UTKNFV5YXUCWMEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EICRKQJYAELXDVSW6OFBY4GJTHLHZVUIIBE54OGD2JM5Q7KLH2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II77XL3H7Y7YXHZYC3UZV2VI535LBFTMRL7GMO72DG243GWUJ6NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PSKGD6JWDT2PRRTRVJQNM5RLCK7NW2UGSF4U3O4ACFI3MLK3LLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTJAZ3HXYPPW4IXSILBW3FBDGS2YQITTG64OFH4UT3GHD57WG2MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWBNYAWCJZTYFM6V5DFF4XIGRIETJIW4TFLOKRTE453QIDJIISZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76YVQ6F7OAPANWNUMOXHGEDG5XVRKQ3UKEIE5NFTBFTU62GHCVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/main.js"
            ]
        },
        "GetDomainNameCertificateStatus": {
            "name": "GetDomainNameCertificateStatus",
            "http": {
                "method": "GET",
                "requestUri": "/private/domainnames/{domain_name}/certificate/status"
            },
            "input": {
                "shape": "GetDomainNameCertificateStatusRequest"
            },
            "output": {
                "shape": "DomainNameStatus"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "ServiceUnavailableException"
                },
                {
                    "shape": "TooManyRequestsException"
                },
                {
                    "shape": "BadRequestException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQH4XASDXMKYT42BQA2FCRM5XLLS7DB7UDRSMXUASYC2HDXAXBHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCWCSHUUOQCMEAFDXOUJGZLBHY74CXSTVQXNX6CWNOW6WD4Y3YCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7FFFVXL5O7P633VAZJH5OKV7MXLQZIQB57UTKNFV5YXUCWMEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EICRKQJYAELXDVSW6OFBY4GJTHLHZVUIIBE54OGD2JM5Q7KLH2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II77XL3H7Y7YXHZYC3UZV2VI535LBFTMRL7GMO72DG243GWUJ6NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PSKGD6JWDT2PRRTRVJQNM5RLCK7NW2UGSF4U3O4ACFI3MLK3LLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTJAZ3HXYPPW4IXSILBW3FBDGS2YQITTG64OFH4UT3GHD57WG2MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWBNYAWCJZTYFM6V5DFF4XIGRIETJIW4TFLOKRTE453QIDJIISZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76YVQ6F7OAPANWNUMOXHGEDG5XVRKQ3UKEIE5NFTBFTU62GHCVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/main.js"
            ]
        },
        "GetDomainNames": {
            "name": "GetDomainNames",
            "http": {
                "method": "GET",
                "requestUri": "/private/domainnames"
            },
            "input": {
                "shape": "GetDomainNamesInternalRequest"
            },
            "output": {
                "shape": "DomainNamesInternal"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQH4XASDXMKYT42BQA2FCRM5XLLS7DB7UDRSMXUASYC2HDXAXBHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCWCSHUUOQCMEAFDXOUJGZLBHY74CXSTVQXNX6CWNOW6WD4Y3YCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7FFFVXL5O7P633VAZJH5OKV7MXLQZIQB57UTKNFV5YXUCWMEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EICRKQJYAELXDVSW6OFBY4GJTHLHZVUIIBE54OGD2JM5Q7KLH2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II77XL3H7Y7YXHZYC3UZV2VI535LBFTMRL7GMO72DG243GWUJ6NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PSKGD6JWDT2PRRTRVJQNM5RLCK7NW2UGSF4U3O4ACFI3MLK3LLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTJAZ3HXYPPW4IXSILBW3FBDGS2YQITTG64OFH4UT3GHD57WG2MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWBNYAWCJZTYFM6V5DFF4XIGRIETJIW4TFLOKRTE453QIDJIISZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76YVQ6F7OAPANWNUMOXHGEDG5XVRKQ3UKEIE5NFTBFTU62GHCVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/main.js"
            ]
        },
        "GetWebAclByResource": {
            "name": "GetWebAclByResource",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "GetWebAclByResourceRequest"
            },
            "output": {
                "shape": "WebAcl"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQH4XASDXMKYT42BQA2FCRM5XLLS7DB7UDRSMXUASYC2HDXAXBHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCWCSHUUOQCMEAFDXOUJGZLBHY74CXSTVQXNX6CWNOW6WD4Y3YCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7FFFVXL5O7P633VAZJH5OKV7MXLQZIQB57UTKNFV5YXUCWMEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EICRKQJYAELXDVSW6OFBY4GJTHLHZVUIIBE54OGD2JM5Q7KLH2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II77XL3H7Y7YXHZYC3UZV2VI535LBFTMRL7GMO72DG243GWUJ6NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PSKGD6JWDT2PRRTRVJQNM5RLCK7NW2UGSF4U3O4ACFI3MLK3LLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTJAZ3HXYPPW4IXSILBW3FBDGS2YQITTG64OFH4UT3GHD57WG2MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWBNYAWCJZTYFM6V5DFF4XIGRIETJIW4TFLOKRTE453QIDJIISZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76YVQ6F7OAPANWNUMOXHGEDG5XVRKQ3UKEIE5NFTBFTU62GHCVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/main.js"
            ]
        },
        "ListResourcesByWebAcl": {
            "name": "ListResourcesByWebAcl",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "ListResourcesByWebAclRequest"
            },
            "output": {
                "shape": "StageResourceList"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQH4XASDXMKYT42BQA2FCRM5XLLS7DB7UDRSMXUASYC2HDXAXBHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCWCSHUUOQCMEAFDXOUJGZLBHY74CXSTVQXNX6CWNOW6WD4Y3YCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7FFFVXL5O7P633VAZJH5OKV7MXLQZIQB57UTKNFV5YXUCWMEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EICRKQJYAELXDVSW6OFBY4GJTHLHZVUIIBE54OGD2JM5Q7KLH2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II77XL3H7Y7YXHZYC3UZV2VI535LBFTMRL7GMO72DG243GWUJ6NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PSKGD6JWDT2PRRTRVJQNM5RLCK7NW2UGSF4U3O4ACFI3MLK3LLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTJAZ3HXYPPW4IXSILBW3FBDGS2YQITTG64OFH4UT3GHD57WG2MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWBNYAWCJZTYFM6V5DFF4XIGRIETJIW4TFLOKRTE453QIDJIISZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76YVQ6F7OAPANWNUMOXHGEDG5XVRKQ3UKEIE5NFTBFTU62GHCVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/main.js"
            ]
        },
        "LockServiceLinkedRole": {
            "name": "LockServiceLinkedRole",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "LockServiceLinkedRoleRequest"
            },
            "output": {
                "shape": "LockServiceLinkedRoleResponse"
            },
            "errors": [
                {
                    "shape": "ServiceLinkedRoleLockServiceException"
                },
                {
                    "shape": "ServiceLinkedRoleLockClientException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQH4XASDXMKYT42BQA2FCRM5XLLS7DB7UDRSMXUASYC2HDXAXBHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCWCSHUUOQCMEAFDXOUJGZLBHY74CXSTVQXNX6CWNOW6WD4Y3YCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7FFFVXL5O7P633VAZJH5OKV7MXLQZIQB57UTKNFV5YXUCWMEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EICRKQJYAELXDVSW6OFBY4GJTHLHZVUIIBE54OGD2JM5Q7KLH2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II77XL3H7Y7YXHZYC3UZV2VI535LBFTMRL7GMO72DG243GWUJ6NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PSKGD6JWDT2PRRTRVJQNM5RLCK7NW2UGSF4U3O4ACFI3MLK3LLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTJAZ3HXYPPW4IXSILBW3FBDGS2YQITTG64OFH4UT3GHD57WG2MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWBNYAWCJZTYFM6V5DFF4XIGRIETJIW4TFLOKRTE453QIDJIISZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76YVQ6F7OAPANWNUMOXHGEDG5XVRKQ3UKEIE5NFTBFTU62GHCVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/main.js"
            ]
        },
        "PutSdkType": {
            "name": "PutSdkType",
            "http": {
                "method": "PUT",
                "requestUri": "/private/sdktypes/{sdktype_id}"
            },
            "input": {
                "shape": "PutSdkTypeRequest"
            },
            "output": {
                "shape": "SdkTypeInternal"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQH4XASDXMKYT42BQA2FCRM5XLLS7DB7UDRSMXUASYC2HDXAXBHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCWCSHUUOQCMEAFDXOUJGZLBHY74CXSTVQXNX6CWNOW6WD4Y3YCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7FFFVXL5O7P633VAZJH5OKV7MXLQZIQB57UTKNFV5YXUCWMEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EICRKQJYAELXDVSW6OFBY4GJTHLHZVUIIBE54OGD2JM5Q7KLH2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II77XL3H7Y7YXHZYC3UZV2VI535LBFTMRL7GMO72DG243GWUJ6NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PSKGD6JWDT2PRRTRVJQNM5RLCK7NW2UGSF4U3O4ACFI3MLK3LLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTJAZ3HXYPPW4IXSILBW3FBDGS2YQITTG64OFH4UT3GHD57WG2MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWBNYAWCJZTYFM6V5DFF4XIGRIETJIW4TFLOKRTE453QIDJIISZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76YVQ6F7OAPANWNUMOXHGEDG5XVRKQ3UKEIE5NFTBFTU62GHCVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/main.js"
            ]
        },
        "RotateDomainNameCertificate": {
            "name": "RotateDomainNameCertificate",
            "http": {
                "method": "PATCH",
                "requestUri": "/private/domainnames/{domain_name}/certificate/rotate"
            },
            "input": {
                "shape": "RotateDomainNameCertificateRequest"
            },
            "output": {
                "shape": "DomainNameInternal"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQH4XASDXMKYT42BQA2FCRM5XLLS7DB7UDRSMXUASYC2HDXAXBHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCWCSHUUOQCMEAFDXOUJGZLBHY74CXSTVQXNX6CWNOW6WD4Y3YCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7FFFVXL5O7P633VAZJH5OKV7MXLQZIQB57UTKNFV5YXUCWMEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EICRKQJYAELXDVSW6OFBY4GJTHLHZVUIIBE54OGD2JM5Q7KLH2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II77XL3H7Y7YXHZYC3UZV2VI535LBFTMRL7GMO72DG243GWUJ6NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PSKGD6JWDT2PRRTRVJQNM5RLCK7NW2UGSF4U3O4ACFI3MLK3LLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTJAZ3HXYPPW4IXSILBW3FBDGS2YQITTG64OFH4UT3GHD57WG2MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWBNYAWCJZTYFM6V5DFF4XIGRIETJIW4TFLOKRTE453QIDJIISZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76YVQ6F7OAPANWNUMOXHGEDG5XVRKQ3UKEIE5NFTBFTU62GHCVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/main.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "name": "UnlockServiceLinkedRole",
            "http": {
                "method": "POST",
                "requestUri": "/private/"
            },
            "input": {
                "shape": "UnlockServiceLinkedRoleRequest"
            },
            "output": {
                "shape": "UnlockServiceLinkedRoleResponse"
            },
            "errors": [
                {
                    "shape": "ServiceLinkedRoleLockServiceException"
                },
                {
                    "shape": "ServiceLinkedRoleLockClientException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQH4XASDXMKYT42BQA2FCRM5XLLS7DB7UDRSMXUASYC2HDXAXBHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCWCSHUUOQCMEAFDXOUJGZLBHY74CXSTVQXNX6CWNOW6WD4Y3YCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7FFFVXL5O7P633VAZJH5OKV7MXLQZIQB57UTKNFV5YXUCWMEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EICRKQJYAELXDVSW6OFBY4GJTHLHZVUIIBE54OGD2JM5Q7KLH2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II77XL3H7Y7YXHZYC3UZV2VI535LBFTMRL7GMO72DG243GWUJ6NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PSKGD6JWDT2PRRTRVJQNM5RLCK7NW2UGSF4U3O4ACFI3MLK3LLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTJAZ3HXYPPW4IXSILBW3FBDGS2YQITTG64OFH4UT3GHD57WG2MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWBNYAWCJZTYFM6V5DFF4XIGRIETJIW4TFLOKRTE453QIDJIISZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76YVQ6F7OAPANWNUMOXHGEDG5XVRKQ3UKEIE5NFTBFTU62GHCVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/main.js"
            ]
        },
        "UpdateDomainNameBackupCertificate": {
            "name": "UpdateDomainNameBackupCertificate",
            "http": {
                "method": "PATCH",
                "requestUri": "/private/domainnames/{domain_name}/certificate/backup"
            },
            "input": {
                "shape": "UpdateDomainNameBackupCertificateRequest"
            },
            "output": {
                "shape": "DomainNameInternal"
            },
            "errors": [
                {
                    "shape": "UnauthorizedException"
                },
                {
                    "shape": "NotFoundException"
                },
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "TooManyRequestsException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQH4XASDXMKYT42BQA2FCRM5XLLS7DB7UDRSMXUASYC2HDXAXBHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCWCSHUUOQCMEAFDXOUJGZLBHY74CXSTVQXNX6CWNOW6WD4Y3YCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG7FFFVXL5O7P633VAZJH5OKV7MXLQZIQB57UTKNFV5YXUCWMEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EICRKQJYAELXDVSW6OFBY4GJTHLHZVUIIBE54OGD2JM5Q7KLH2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II77XL3H7Y7YXHZYC3UZV2VI535LBFTMRL7GMO72DG243GWUJ6NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PSKGD6JWDT2PRRTRVJQNM5RLCK7NW2UGSF4U3O4ACFI3MLK3LLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTJAZ3HXYPPW4IXSILBW3FBDGS2YQITTG64OFH4UT3GHD57WG2MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWBNYAWCJZTYFM6V5DFF4XIGRIETJIW4TFLOKRTE453QIDJIISZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76YVQ6F7OAPANWNUMOXHGEDG5XVRKQ3UKEIE5NFTBFTU62GHCVJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/main.js"
            ]
        }
    },
    "shapes": {
        "ArnInfo": {
            "type": "structure",
            "required": [
                "stageArn",
                "webAclArn"
            ],
            "members": {
                "stageArn": {
                    "shape": "String"
                },
                "webAclArn": {
                    "shape": "String"
                }
            }
        },
        "AssociateWebAclRequest": {
            "type": "structure",
            "members": {
                "arnInfo": {
                    "shape": "ArnInfo"
                }
            }
        },
        "BadRequestException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 400
            },
            "exception": true
        },
        "Boolean": {
            "type": "boolean"
        },
        "DisassociateWebAclRequest": {
            "type": "structure",
            "members": {
                "arnInfo": {
                    "shape": "ArnInfo"
                }
            }
        },
        "DomainNameInternal": {
            "type": "structure",
            "members": {
                "certificateId": {
                    "shape": "String"
                },
                "backupCertificateName": {
                    "shape": "String"
                },
                "backupCertificateId": {
                    "shape": "String"
                },
                "backupCertificateArn": {
                    "shape": "String"
                },
                "backupCertificateUploadDate": {
                    "shape": "Timestamp"
                },
                "backupRegionalCertificateName": {
                    "shape": "String"
                },
                "backupRegionalCertificateArn": {
                    "shape": "String"
                },
                "vpcEndpointServiceConfiguration": {
                    "shape": "VpcEndpointServiceConfiguration"
                }
            }
        },
        "DomainNameStatus": {
            "type": "structure",
            "members": {
                "domainName": {
                    "shape": "String"
                },
                "status": {
                    "shape": "String"
                }
            }
        },
        "DomainNamesInternal": {
            "type": "structure",
            "members": {}
        },
        "GetDomainNameCertificateStatusRequest": {
            "type": "structure",
            "required": [
                "domainName"
            ],
            "members": {
                "domainName": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "domain_name"
                }
            }
        },
        "GetDomainNameInternalRequest": {
            "type": "structure",
            "members": {
                "domainName": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "domain_name"
                }
            },
            "required": [
                "domainName"
            ]
        },
        "GetDomainNamesInternalRequest": {
            "type": "structure",
            "members": {}
        },
        "GetWebAclByResourceRequest": {
            "type": "structure",
            "required": [
                "stageArn",
                "accountId"
            ],
            "members": {
                "stageArn": {
                    "shape": "String"
                },
                "accountId": {
                    "shape": "String"
                }
            }
        },
        "ListOfResources": {
            "type": "list",
            "member": {
                "shape": "StageResource"
            }
        },
        "ListOfSdkConfigurationProperty": {
            "type": "list",
            "member": {
                "shape": "SdkConfigurationProperty"
            }
        },
        "ListOfString": {
            "type": "list",
            "member": {
                "shape": "String"
            }
        },
        "ListResourcesByWebAclRequest": {
            "type": "structure",
            "required": [
                "webAclArn"
            ],
            "members": {
                "webAclArn": {
                    "shape": "String"
                }
            }
        },
        "LockServiceLinkedRoleRequest": {
            "type": "structure",
            "required": [
                "RoleArn",
                "Timeout"
            ],
            "members": {
                "RoleArn": {
                    "shape": "arnType"
                },
                "Timeout": {
                    "shape": "longType"
                }
            }
        },
        "LockServiceLinkedRoleResponse": {
            "type": "structure",
            "required": [
                "CanBeDeleted"
            ],
            "members": {
                "CanBeDeleted": {
                    "shape": "booleanType"
                },
                "ReasonOfFailure": {
                    "shape": "stringType"
                },
                "RelatedResources": {
                    "shape": "stringListType"
                }
            }
        },
        "NotFoundException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 404
            },
            "exception": true
        },
        "PutSdkTypeRequest": {
            "type": "structure",
            "required": [
                "id",
                "putSdkTypeInput"
            ],
            "members": {
                "id": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "sdktype_id"
                },
                "putSdkTypeInput": {
                    "shape": "SdkTypeInternal"
                }
            },
            "payload": "putSdkTypeInput"
        },
        "RotateDomainNameCertificateInput": {
            "type": "structure",
            "required": [
                "domainName",
                "currentCertificateId",
                "newCertificateId"
            ],
            "members": {
                "domainName": {
                    "shape": "String"
                },
                "currentCertificateId": {
                    "shape": "String"
                },
                "newCertificateId": {
                    "shape": "String"
                }
            }
        },
        "RotateDomainNameCertificateRequest": {
            "type": "structure",
            "required": [
                "domainName"
            ],
            "members": {
                "domainName": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "domain_name"
                },
                "rotateDomainNameCertificateInput": {
                    "shape": "RotateDomainNameCertificateInput"
                }
            },
            "payload": "rotateDomainNameCertificateInput"
        },
        "SdkConfigurationProperty": {
            "type": "structure",
            "members": {
                "name": {
                    "shape": "String"
                },
                "friendlyName": {
                    "shape": "String"
                },
                "description": {
                    "shape": "String"
                },
                "required": {
                    "shape": "Boolean"
                },
                "defaultValue": {
                    "shape": "String"
                }
            }
        },
        "SdkTypeInternal": {
            "type": "structure",
            "required": [
                "id",
                "functionArn"
            ],
            "members": {
                "id": {
                    "shape": "String"
                },
                "name": {
                    "shape": "String"
                },
                "description": {
                    "shape": "String"
                },
                "functionArn": {
                    "shape": "String"
                },
                "configurationProperties": {
                    "shape": "ListOfSdkConfigurationProperty"
                }
            }
        },
        "ServiceLinkedRoleLockClientException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "errorMessage"
                }
            },
            "error": {
                "httpStatusCode": 400
            },
            "exception": true
        },
        "ServiceLinkedRoleLockServiceException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "errorMessage"
                }
            },
            "error": {
                "httpStatusCode": 500
            },
            "exception": true
        },
        "ServiceUnavailableException": {
            "type": "structure",
            "members": {
                "retryAfterSeconds": {
                    "shape": "String",
                    "location": "header",
                    "locationName": "Retry-After"
                },
                "message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 503
            },
            "exception": true,
            "fault": true
        },
        "StageResource": {
            "type": "structure",
            "members": {
                "stageArn": {
                    "shape": "String"
                }
            }
        },
        "StageResourceList": {
            "type": "structure",
            "members": {
                "stageResources": {
                    "shape": "ListOfResources"
                }
            }
        },
        "String": {
            "type": "string"
        },
        "Timestamp": {
            "type": "timestamp"
        },
        "TooManyRequestsException": {
            "type": "structure",
            "members": {
                "retryAfterSeconds": {
                    "shape": "String",
                    "location": "header",
                    "locationName": "Retry-After"
                },
                "message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 429
            },
            "exception": true
        },
        "UnauthorizedException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 401
            },
            "exception": true
        },
        "UnlockServiceLinkedRoleRequest": {
            "type": "structure",
            "required": [
                "RoleArn"
            ],
            "members": {
                "RoleArn": {
                    "shape": "arnType"
                },
                "DeletionStatus": {
                    "shape": "deletionStatus"
                }
            }
        },
        "UnlockServiceLinkedRoleResponse": {
            "type": "structure",
            "members": {}
        },
        "UpdateDomainNameBackupCertificateInput": {
            "type": "structure",
            "required": [
                "domainName"
            ],
            "members": {
                "domainName": {
                    "shape": "String"
                },
                "certificateName": {
                    "shape": "String"
                },
                "certificateBody": {
                    "shape": "String"
                },
                "certificatePrivateKey": {
                    "shape": "String"
                },
                "certificateChain": {
                    "shape": "String"
                },
                "certificateArn": {
                    "shape": "String"
                },
                "regionalCertificateName": {
                    "shape": "String"
                },
                "regionalCertificateArn": {
                    "shape": "String"
                }
            }
        },
        "UpdateDomainNameBackupCertificateRequest": {
            "type": "structure",
            "required": [
                "domainName"
            ],
            "members": {
                "domainName": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "domain_name"
                },
                "updateDomainNameBackupCertificateInput": {
                    "shape": "UpdateDomainNameBackupCertificateInput"
                }
            },
            "payload": "updateDomainNameBackupCertificateInput"
        },
        "VpcEndpointServiceConfiguration": {
            "type": "structure",
            "members": {
                "vpceServiceId": {
                    "shape": "String"
                },
                "vpcEndpointIds": {
                    "shape": "ListOfString"
                }
            }
        },
        "WebAcl": {
            "type": "structure",
            "members": {
                "webAclArn": {
                    "shape": "String"
                }
            }
        },
        "arnType": {
            "type": "string",
            "max": 2048,
            "min": 20
        },
        "booleanType": {
            "type": "boolean"
        },
        "deletionStatus": {
            "type": "string",
            "enum": [
                "SUCCEEDED",
                "FAILED"
            ]
        },
        "errorMessage": {
            "type": "string"
        },
        "longType": {
            "type": "long"
        },
        "stringListType": {
            "type": "list",
            "member": {
                "shape": "stringType"
            }
        },
        "stringType": {
            "type": "string"
        }
    }
}