{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-10-09",
        "endpointPrefix": "appconfig",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AppConfig",
        "serviceFullName": "Amazon AppConfig",
        "serviceId": "AppConfig",
        "signatureVersion": "v4",
        "signingName": "appconfig",
        "uid": "appconfig-2019-10-09",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FSQQHO2EPEFEQE6D5CM3UZT4DPYQ2DNHNYMSRFVAOCE4ETBTYWJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
            "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
        ]
    },
    "operations": {
        "CreateApplication": {
            "http": {
                "requestUri": "/applications",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "shape": "S7"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "CreateConfigurationProfile": {
            "http": {
                "requestUri": "/applications/{ApplicationId}/configurationprofiles",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId",
                    "Name",
                    "LocationUri"
                ],
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    },
                    "Name": {},
                    "Description": {},
                    "LocationUri": {},
                    "RetrievalRoleArn": {},
                    "Validators": {
                        "shape": "Sd"
                    },
                    "Tags": {
                        "shape": "S4"
                    },
                    "Type": {},
                    "KmsKeyIdentifier": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "shape": "Si"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "CreateDeploymentStrategy": {
            "http": {
                "requestUri": "/deploymentstrategies",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "DeploymentDurationInMinutes",
                    "GrowthFactor"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "DeploymentDurationInMinutes": {
                        "type": "integer"
                    },
                    "FinalBakeTimeInMinutes": {
                        "type": "integer"
                    },
                    "GrowthFactor": {
                        "type": "float"
                    },
                    "GrowthType": {},
                    "ReplicateTo": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "shape": "So"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "CreateEnvironment": {
            "http": {
                "requestUri": "/applications/{ApplicationId}/environments",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId",
                    "Name"
                ],
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    },
                    "Name": {},
                    "Description": {},
                    "Monitors": {
                        "shape": "Sr"
                    },
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "shape": "Su"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "CreateExtension": {
            "http": {
                "requestUri": "/extensions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Actions"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "Actions": {
                        "shape": "Sx"
                    },
                    "Parameters": {
                        "shape": "S12"
                    },
                    "Tags": {
                        "shape": "S4"
                    },
                    "LatestVersionNumber": {
                        "location": "header",
                        "locationName": "Latest-Version-Number",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "shape": "S16"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSQQHO2EPEFEQE6D5CM3UZT4DPYQ2DNHNYMSRFVAOCE4ETBTYWJA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "CreateExtensionAssociation": {
            "http": {
                "requestUri": "/extensionassociations",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ExtensionIdentifier",
                    "ResourceIdentifier"
                ],
                "members": {
                    "ExtensionIdentifier": {},
                    "ExtensionVersionNumber": {
                        "type": "integer"
                    },
                    "ResourceIdentifier": {},
                    "Parameters": {
                        "shape": "S19"
                    },
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "shape": "S1a"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSQQHO2EPEFEQE6D5CM3UZT4DPYQ2DNHNYMSRFVAOCE4ETBTYWJA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "CreateHostedConfigurationVersion": {
            "http": {
                "requestUri": "/applications/{ApplicationId}/configurationprofiles/{ConfigurationProfileId}/hostedconfigurationversions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId",
                    "ConfigurationProfileId",
                    "Content",
                    "ContentType"
                ],
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    },
                    "ConfigurationProfileId": {
                        "location": "uri",
                        "locationName": "ConfigurationProfileId"
                    },
                    "Description": {
                        "location": "header",
                        "locationName": "Description"
                    },
                    "Content": {
                        "shape": "S1c"
                    },
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "LatestVersionNumber": {
                        "location": "header",
                        "locationName": "Latest-Version-Number",
                        "type": "integer"
                    },
                    "VersionLabel": {
                        "location": "header",
                        "locationName": "VersionLabel"
                    }
                },
                "payload": "Content"
            },
            "output": {
                "shape": "S1e"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "DeleteApplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{ApplicationId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId"
                ],
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "DeleteConfigurationProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{ApplicationId}/configurationprofiles/{ConfigurationProfileId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId",
                    "ConfigurationProfileId"
                ],
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    },
                    "ConfigurationProfileId": {
                        "location": "uri",
                        "locationName": "ConfigurationProfileId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "DeleteDeploymentStrategy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/deployementstrategies/{DeploymentStrategyId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "DeploymentStrategyId"
                ],
                "members": {
                    "DeploymentStrategyId": {
                        "location": "uri",
                        "locationName": "DeploymentStrategyId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "DeleteEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{ApplicationId}/environments/{EnvironmentId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId",
                    "EnvironmentId"
                ],
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    },
                    "EnvironmentId": {
                        "location": "uri",
                        "locationName": "EnvironmentId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "DeleteExtension": {
            "http": {
                "method": "DELETE",
                "requestUri": "/extensions/{ExtensionIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ExtensionIdentifier"
                ],
                "members": {
                    "ExtensionIdentifier": {
                        "location": "uri",
                        "locationName": "ExtensionIdentifier"
                    },
                    "VersionNumber": {
                        "location": "querystring",
                        "locationName": "version",
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSQQHO2EPEFEQE6D5CM3UZT4DPYQ2DNHNYMSRFVAOCE4ETBTYWJA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "DeleteExtensionAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/extensionassociations/{ExtensionAssociationId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ExtensionAssociationId"
                ],
                "members": {
                    "ExtensionAssociationId": {
                        "location": "uri",
                        "locationName": "ExtensionAssociationId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSQQHO2EPEFEQE6D5CM3UZT4DPYQ2DNHNYMSRFVAOCE4ETBTYWJA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "DeleteHostedConfigurationVersion": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{ApplicationId}/configurationprofiles/{ConfigurationProfileId}/hostedconfigurationversions/{VersionNumber}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId",
                    "ConfigurationProfileId",
                    "VersionNumber"
                ],
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    },
                    "ConfigurationProfileId": {
                        "location": "uri",
                        "locationName": "ConfigurationProfileId"
                    },
                    "VersionNumber": {
                        "location": "uri",
                        "locationName": "VersionNumber",
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "GetApplication": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{ApplicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId"
                ],
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    }
                }
            },
            "output": {
                "shape": "S7"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "GetConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{Application}/environments/{Environment}/configurations/{Configuration}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Application",
                    "Environment",
                    "Configuration",
                    "ClientId"
                ],
                "members": {
                    "Application": {
                        "location": "uri",
                        "locationName": "Application"
                    },
                    "Environment": {
                        "location": "uri",
                        "locationName": "Environment"
                    },
                    "Configuration": {
                        "location": "uri",
                        "locationName": "Configuration"
                    },
                    "ClientId": {
                        "location": "querystring",
                        "locationName": "client_id"
                    },
                    "ClientConfigurationVersion": {
                        "location": "querystring",
                        "locationName": "client_configuration_version"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Content": {
                        "shape": "S1c"
                    },
                    "ConfigurationVersion": {
                        "location": "header",
                        "locationName": "Configuration-Version"
                    },
                    "ContentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    }
                },
                "payload": "Content"
            },
            "deprecated": true,
            "deprecatedMessage": "This API has been deprecated in favor of the GetLatestConfiguration API used in conjunction with StartConfigurationSession.",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "GetConfigurationProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{ApplicationId}/configurationprofiles/{ConfigurationProfileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId",
                    "ConfigurationProfileId"
                ],
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    },
                    "ConfigurationProfileId": {
                        "location": "uri",
                        "locationName": "ConfigurationProfileId"
                    }
                }
            },
            "output": {
                "shape": "Si"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "GetDeployment": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{ApplicationId}/environments/{EnvironmentId}/deployments/{DeploymentNumber}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId",
                    "EnvironmentId",
                    "DeploymentNumber"
                ],
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    },
                    "EnvironmentId": {
                        "location": "uri",
                        "locationName": "EnvironmentId"
                    },
                    "DeploymentNumber": {
                        "location": "uri",
                        "locationName": "DeploymentNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "shape": "S1v"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "GetDeploymentStrategy": {
            "http": {
                "method": "GET",
                "requestUri": "/deploymentstrategies/{DeploymentStrategyId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DeploymentStrategyId"
                ],
                "members": {
                    "DeploymentStrategyId": {
                        "location": "uri",
                        "locationName": "DeploymentStrategyId"
                    }
                }
            },
            "output": {
                "shape": "So"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "GetEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{ApplicationId}/environments/{EnvironmentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId",
                    "EnvironmentId"
                ],
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    },
                    "EnvironmentId": {
                        "location": "uri",
                        "locationName": "EnvironmentId"
                    }
                }
            },
            "output": {
                "shape": "Su"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "GetExtension": {
            "http": {
                "method": "GET",
                "requestUri": "/extensions/{ExtensionIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ExtensionIdentifier"
                ],
                "members": {
                    "ExtensionIdentifier": {
                        "location": "uri",
                        "locationName": "ExtensionIdentifier"
                    },
                    "VersionNumber": {
                        "location": "querystring",
                        "locationName": "version_number",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "shape": "S16"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSQQHO2EPEFEQE6D5CM3UZT4DPYQ2DNHNYMSRFVAOCE4ETBTYWJA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "GetExtensionAssociation": {
            "http": {
                "method": "GET",
                "requestUri": "/extensionassociations/{ExtensionAssociationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ExtensionAssociationId"
                ],
                "members": {
                    "ExtensionAssociationId": {
                        "location": "uri",
                        "locationName": "ExtensionAssociationId"
                    }
                }
            },
            "output": {
                "shape": "S1a"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B22Y25UOM2UJVWD57FRD23ZXEPSWOPBWFQQDUSFFK3KIRQTGFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GF7QF2GPXTVGGGQ6ULBM2JFB3L75EVPK7GIF4GD57NXAYXPJKVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BZM3JEAT2O23UC3KLPZ6UXHKO3PMQFG2H7ZJOYZU4MNLEPAIV3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMNXWG54MZIOG75W5XUMLYKPUYRVRTCC4Z3CORH6ILUKUJ4376DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEBI5OF5N5SDBO3TMLTWGIDJXXKBXNED3GU5SZYJJHDOKTB6DB4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSQQHO2EPEFEQE6D5CM3UZT4DPYQ2DNHNYMSRFVAOCE4ETBTYWJA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "GetHostedConfigurationVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{ApplicationId}/configurationprofiles/{ConfigurationProfileId}/hostedconfigurationversions/{VersionNumber}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId",
                    "ConfigurationProfileId",
                    "VersionNumber"
                ],
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    },
                    "ConfigurationProfileId": {
                        "location": "uri",
                        "locationName": "ConfigurationProfileId"
                    },
                    "VersionNumber": {
                        "location": "uri",
                        "locationName": "VersionNumber",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "shape": "S1e"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "ListApplications": {
            "http": {
                "method": "GET",
                "requestUri": "/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max_results",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next_token"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/9d58eb3c-18e3-452f-be45-63c805f5beff/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLAIR2DBEO33UIZZ7G2I3BJSJYWH6HBR4XHRVJDRCYBAUTHJN56Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K74PT5JF4WE5BHTBARLTOZIXGF3HHYB5QO6AMYVPOF5QVQPEP5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRHEM34FNDLS3SRNHL2KSS5ES5BDQEUB6I42J66RIULG3AM5TA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67MKT2ESA6LNYZK6UWBZVKDM3KJYZZ6POKLIIR4VC22UXA4KMIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGV3443CJD67SHDLLP6I2XNQJMNCM77NT2YZEMEIS6XOWDZRXQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEMLG2KXXJYJZDX3T3ZVK4XQYOVOXMSZRRT4E4NTELIYQTKWLQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZMGAXORNICWZIMYDXAL626EASRDD46LZ273E2WLXRP7ROEBGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3ZN4P26JESPKUTWKUKJVS5SAOTTRDBLQTBFQYH4XLGCJNQ6E32Q/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/00f9aed6-5b78-43c2-baa3-45e847aaaab6/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJ2JIKVQBWXQ2DOJ4WZNQV2ARY2XET5H3G7GWSHVL6CE2XLFHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VORWSGEQ4XTKK6HAXYESVM2IXLNUHMZMSSLKYJSDQQQGOOXU6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2HJM44OFLOHQ3YX4Z5GL2NV7TXX7TEURTQUNAZFFBACV5GR62VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/8b0ad4c9-faf3-4ab8-9096-63188c6d0e72/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/08c5192b-f850-4f76-8f53-0913f00ebc99/main.js"
            ]
        },
        "ListConfigurationProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{ApplicationId}/configurationprofiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId"
                ],
                "members": {
                    "ApplicationId": {
                        "location": "uri",
                        "locationName": "ApplicationId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max_results",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next_token"
                    },
                    "Type": {
                        "location": "querystring",
                        "locationName": "type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "Id": {},
                                "Name": {},
                                "LocationUri": {},
                                "ValidatorTypes": {
                                    "type": "list",
                                    "member": {}
                                },
[...]
