{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-11-26",
        "endpointPrefix": "appfabric",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AppFabric",
        "serviceId": "AppFabric",
        "signatureVersion": "v4",
        "signingName": "appfabric",
        "uid": "appfabric-2023-11-26",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/EGQYJAZ7PXOFXLHZL226WA6J2GNZ52JWXLX6GGLVLP72X6VCPT2Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
        ]
    },
    "operations": {
        "BatchGetUserAccessTasks": {
            "http": {
                "requestUri": "/useraccess/batchget",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "taskIdList"
                ],
                "members": {
                    "appBundleIdentifier": {},
                    "taskIdList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userAccessResultsList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "app": {},
                                "tenantId": {},
                                "tenantDisplayName": {},
                                "taskId": {},
                                "resultStatus": {},
                                "email": {
                                    "shape": "Sc"
                                },
                                "userId": {
                                    "shape": "Sd"
                                },
                                "userFullName": {
                                    "shape": "Sd"
                                },
                                "userFirstName": {
                                    "shape": "Sd"
                                },
                                "userLastName": {
                                    "shape": "Sd"
                                },
                                "userStatus": {},
                                "taskError": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "ConnectAppAuthorization": {
            "http": {
                "requestUri": "/appbundles/{appBundleIdentifier}/appauthorizations/{appAuthorizationIdentifier}/connect",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "appAuthorizationIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "appAuthorizationIdentifier": {
                        "location": "uri",
                        "locationName": "appAuthorizationIdentifier"
                    },
                    "authRequest": {
                        "type": "structure",
                        "required": [
                            "redirectUri",
                            "code"
                        ],
                        "members": {
                            "redirectUri": {},
                            "code": {
                                "shape": "Sd"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appAuthorizationSummary"
                ],
                "members": {
                    "appAuthorizationSummary": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "CreateAppAuthorization": {
            "http": {
                "requestUri": "/appbundles/{appBundleIdentifier}/appauthorizations",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "app",
                    "credential",
                    "tenant",
                    "authType"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "app": {},
                    "credential": {
                        "shape": "Sq"
                    },
                    "tenant": {
                        "shape": "Sm"
                    },
                    "authType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appAuthorization"
                ],
                "members": {
                    "appAuthorization": {
                        "shape": "Sz"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "CreateAppBundle": {
            "http": {
                "requestUri": "/appbundles",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "customerManagedKeyIdentifier": {},
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appBundle"
                ],
                "members": {
                    "appBundle": {
                        "shape": "S13"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "CreateAppClient": {
            "http": {
                "requestUri": "/appclients",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "appName",
                    "description",
                    "redirectUrls",
                    "starterUserEmails"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "appName": {},
                    "description": {},
                    "redirectUrls": {
                        "shape": "S15"
                    },
                    "starterUserEmails": {
                        "shape": "S17"
                    },
                    "iconUrl": {},
                    "customerManagedKeyIdentifier": {},
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appClientSummary"
                ],
                "members": {
                    "appClientSummary": {
                        "shape": "S19"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "CreateIngestion": {
            "http": {
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "app",
                    "tenantId",
                    "ingestionType"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "app": {},
                    "tenantId": {},
                    "ingestionType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestion"
                ],
                "members": {
                    "ingestion": {
                        "shape": "S1e"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "CreateIngestionDestination": {
            "http": {
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/ingestiondestinations",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier",
                    "processingConfiguration",
                    "destinationConfiguration"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    },
                    "processingConfiguration": {
                        "shape": "S1h"
                    },
                    "destinationConfiguration": {
                        "shape": "S1l"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestionDestination"
                ],
                "members": {
                    "ingestionDestination": {
                        "shape": "S1u"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "DeleteAppAuthorization": {
            "http": {
                "method": "DELETE",
                "requestUri": "/appbundles/{appBundleIdentifier}/appauthorizations/{appAuthorizationIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "appAuthorizationIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "appAuthorizationIdentifier": {
                        "location": "uri",
                        "locationName": "appAuthorizationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "DeleteAppBundle": {
            "http": {
                "method": "DELETE",
                "requestUri": "/appbundles/{appBundleIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "DeleteAppClient": {
            "http": {
                "method": "DELETE",
                "requestUri": "/appclients/{appClientIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "appClientIdentifier"
                ],
                "members": {
                    "appClientIdentifier": {
                        "location": "uri",
                        "locationName": "appClientIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "DeleteIngestion": {
            "http": {
                "method": "DELETE",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "DeleteIngestionDestination": {
            "http": {
                "method": "DELETE",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/ingestiondestinations/{ingestionDestinationIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier",
                    "ingestionDestinationIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    },
                    "ingestionDestinationIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionDestinationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "GetAppAuthorization": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/appauthorizations/{appAuthorizationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "appAuthorizationIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "appAuthorizationIdentifier": {
                        "location": "uri",
                        "locationName": "appAuthorizationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appAuthorization"
                ],
                "members": {
                    "appAuthorization": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "GetAppBundle": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appBundle"
                ],
                "members": {
                    "appBundle": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "GetAppClient": {
            "http": {
                "method": "GET",
                "requestUri": "/appclients/{appClientIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appClientIdentifier"
                ],
                "members": {
                    "appClientIdentifier": {
                        "location": "uri",
                        "locationName": "appClientIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appClient"
                ],
                "members": {
                    "appClient": {
                        "shape": "S2c"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "GetIngestion": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestion"
                ],
                "members": {
                    "ingestion": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "GetIngestionDestination": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/ingestiondestinations/{ingestionDestinationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier",
                    "ingestionDestinationIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    },
                    "ingestionDestinationIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionDestinationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestionDestination"
                ],
                "members": {
                    "ingestionDestination": {
                        "shape": "S1u"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "ListAppAuthorizations": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/appauthorizations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appAuthorizationSummaryList"
                ],
                "members": {
                    "appAuthorizationSummaryList": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "ListAppBundles": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appBundleSummaryList"
                ],
                "members": {
                    "appBundleSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "ListAppClients": {
            "http": {
                "method": "GET",
                "requestUri": "/appclients",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appClientList"
                ],
                "members": {
                    "appClientList": {
                        "type": "list",
                        "member": {
                            "shape": "S19"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "ListIngestionDestinations": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/ingestiondestinations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestionDestinations"
                ],
                "members": {
                    "ingestionDestinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "ListIngestions": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestions"
                ],
                "members": {
                    "ingestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "app",
                                "tenantId",
                                "state"
                            ],
                            "members": {
                                "arn": {},
                                "app": {},
                                "tenantId": {},
                                "state": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XXDIRJEMUWPGRPDD52CDFQPM5MIPBL7BJZB3HMHKJFL7TWWEEXKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTSFISCEOC2EQTA7WL7OS3XLQCUDDPU3NJG256D6UNHRM5LZAPZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FUJFIFNWIELYX6UWGKHYZFZNEJUNJJ6C34AWPV3OMRBRTGYZVI2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/INJBBGAGANSACEWNRNIPURYR56ZZF4HJ25XCA33ZUVDFTU7TPWRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MEJVOP43GBG5XPBX7XT3CZ43HWJYIOP3SBQIYHV5EMQE5W5FSZPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDUUDCHEYQAQNRG5C4YTKQJB5KYNAV3ZEA2Z4IYKRIGWX5HJSVXA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HDS67ZNN6CVGNWMJFRPIBF475XQ3RGNURKK63AVOIJLLHKYHNZVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NNQUIQCUIFCSV24AH57QI7JLRKV3Z7O6VUCTFKMMGJ4LRWDW6JBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EC2R2KGG2QWB62AFGZV7NGLSJSNHCW5BNDYEQRO5BBTPGBPEOFTQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/54GQC3UNW2GZ4FHLXE66ILOLTXTSUU3WCQMO5AMU3ZLAHXNL4EJQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3R5T5UPENPICHBT66SC32H4XMPLPB226KCK4MHU4OCEG2FIER7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K4HKMVQYOA7TQB7WXC46VVHGSZT3PIBV7IQEGAWI524JRDO5U37A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L6GMPZ4PGDB3KSDOV6DC3VHSI3YV2BWVTQFUZ5NHY64XRSLMJZLA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J5GCPBKQTUVZGA2SUR6OKKQS6CNT44QT7D7DB2Z6GXO7RSYGAIEA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B3VBAAIAM6VXQRZBKU7Z2N2LBD7GA67RRUWET6EIEB2OZZWTHIFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42FATNNXGLAMMZFIW23JWUD3WCXHD3RYUNINVSNS3GONJEE3BDMQ/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/74SYJ2F2B5R3YNP7VTX2GXWSL7YVCWFKCJKCRWUBZB3FAYWGYB2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L3BWJE77527K3YUYWHTVJJ4A46WGV6DSP33UE6VULDM35EWWICMQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YC6I6HM5UAYZMRUWRCSIFVHDURUZK2OXTTRWBGQFEGE2ZZJYNQIQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HW5ZT37RPUPMWHTMEB2TLEA4MWWQY4KB74RK75EBHMNT6MNLKM4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7SI5IGJMB2ZY2W3JWJWA75JO3KB4GX5OYMY242YNGIUJQAKYVI7A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IIRB2ZPUGEH3ZUGEUFZZYAWAPFGKREPYS7UDQWOBCYXLY26R6M3Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EWBZNVXK3QWZG35A23A3XQ2MTQINSMD7SHVAM7B3MI4DXUNOGUYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/I7YK5F2YO54G7OUOHXAS5Y4REVXKFLNZ5CDNFEZQF2RUICLW7YHQ/main.js",
[...]
