{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2024-03-04",
        "endpointPrefix": "appfabric",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AppFabric",
        "serviceId": "AppFabric",
        "signatureVersion": "v4",
        "signingName": "appfabric",
        "uid": "appfabric-2024-03-04",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
        ]
    },
    "operations": {
        "BatchGetUserAccessTasks": {
            "http": {
                "requestUri": "/useraccess/batchget",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "taskIdList"
                ],
                "members": {
                    "appBundleIdentifier": {},
                    "taskIdList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userAccessResultsList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "app": {},
                                "tenantId": {},
                                "tenantDisplayName": {},
                                "taskId": {},
                                "resultStatus": {},
                                "email": {
                                    "shape": "Sc"
                                },
                                "userId": {
                                    "shape": "Sd"
                                },
                                "userFullName": {
                                    "shape": "Sd"
                                },
                                "userFirstName": {
                                    "shape": "Sd"
                                },
                                "userLastName": {
                                    "shape": "Sd"
                                },
                                "userStatus": {},
                                "taskError": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "ConnectAppAuthorization": {
            "http": {
                "requestUri": "/appbundles/{appBundleIdentifier}/appauthorizations/{appAuthorizationIdentifier}/connect",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "appAuthorizationIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "appAuthorizationIdentifier": {
                        "location": "uri",
                        "locationName": "appAuthorizationIdentifier"
                    },
                    "authRequest": {
                        "type": "structure",
                        "required": [
                            "redirectUri",
                            "code"
                        ],
                        "members": {
                            "redirectUri": {},
                            "code": {
                                "shape": "Sd"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appAuthorizationSummary"
                ],
                "members": {
                    "appAuthorizationSummary": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "CreateAppAuthorization": {
            "http": {
                "requestUri": "/appbundles/{appBundleIdentifier}/appauthorizations",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "app",
                    "credential",
                    "tenant",
                    "authType"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "app": {},
                    "credential": {
                        "shape": "Sq"
                    },
                    "tenant": {
                        "shape": "Sm"
                    },
                    "authType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appAuthorization"
                ],
                "members": {
                    "appAuthorization": {
                        "shape": "Sz"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "CreateAppBundle": {
            "http": {
                "requestUri": "/appbundles",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "customerManagedKeyIdentifier": {},
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appBundle"
                ],
                "members": {
                    "appBundle": {
                        "shape": "S13"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "CreateAppClient": {
            "http": {
                "requestUri": "/appclients",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "appName",
                    "description",
                    "redirectUrls",
                    "starterUserEmails"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "appName": {
                        "shape": "S15"
                    },
                    "description": {
                        "shape": "S16"
                    },
                    "redirectUrls": {
                        "shape": "S17"
                    },
                    "starterUserEmails": {
                        "shape": "S19"
                    },
                    "iconUrl": {
                        "shape": "S16"
                    },
                    "customerManagedKeyIdentifier": {},
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appClientSummary"
                ],
                "members": {
                    "appClientSummary": {
                        "shape": "S1b"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "CreateIngestion": {
            "http": {
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "app",
                    "tenantId",
                    "ingestionType"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "app": {},
                    "tenantId": {},
                    "ingestionType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestion"
                ],
                "members": {
                    "ingestion": {
                        "shape": "S1g"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "CreateIngestionDestination": {
            "http": {
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/ingestiondestinations",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier",
                    "processingConfiguration",
                    "destinationConfiguration"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    },
                    "processingConfiguration": {
                        "shape": "S1j"
                    },
                    "destinationConfiguration": {
                        "shape": "S1n"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestionDestination"
                ],
                "members": {
                    "ingestionDestination": {
                        "shape": "S1w"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "DeleteAppAuthorization": {
            "http": {
                "method": "DELETE",
                "requestUri": "/appbundles/{appBundleIdentifier}/appauthorizations/{appAuthorizationIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "appAuthorizationIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "appAuthorizationIdentifier": {
                        "location": "uri",
                        "locationName": "appAuthorizationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "DeleteAppBundle": {
            "http": {
                "method": "DELETE",
                "requestUri": "/appbundles/{appBundleIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "DeleteAppClient": {
            "http": {
                "method": "DELETE",
                "requestUri": "/appclients/{appClientIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "appClientIdentifier"
                ],
                "members": {
                    "appClientIdentifier": {
                        "location": "uri",
                        "locationName": "appClientIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "DeleteIngestion": {
            "http": {
                "method": "DELETE",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "DeleteIngestionDestination": {
            "http": {
                "method": "DELETE",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/ingestiondestinations/{ingestionDestinationIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier",
                    "ingestionDestinationIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    },
                    "ingestionDestinationIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionDestinationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "GetAppAuthorization": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/appauthorizations/{appAuthorizationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "appAuthorizationIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "appAuthorizationIdentifier": {
                        "location": "uri",
                        "locationName": "appAuthorizationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appAuthorization"
                ],
                "members": {
                    "appAuthorization": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "GetAppBundle": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appBundle"
                ],
                "members": {
                    "appBundle": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "GetAppClient": {
            "http": {
                "method": "GET",
                "requestUri": "/appclients/{appClientIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appClientIdentifier"
                ],
                "members": {
                    "appClientIdentifier": {
                        "location": "uri",
                        "locationName": "appClientIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appClient"
                ],
                "members": {
                    "appClient": {
                        "shape": "S2e"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "GetIngestion": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestion"
                ],
                "members": {
                    "ingestion": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "GetIngestionDestination": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/ingestiondestinations/{ingestionDestinationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier",
                    "ingestionDestinationIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    },
                    "ingestionDestinationIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionDestinationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestionDestination"
                ],
                "members": {
                    "ingestionDestination": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "ListAppAuthorizations": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/appauthorizations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appAuthorizationSummaryList"
                ],
                "members": {
                    "appAuthorizationSummaryList": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "ListAppBundles": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appBundleSummaryList"
                ],
                "members": {
                    "appBundleSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "ListAppClients": {
            "http": {
                "method": "GET",
                "requestUri": "/appclients",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appClientList"
                ],
                "members": {
                    "appClientList": {
                        "type": "list",
                        "member": {
                            "shape": "S1b"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "ListIngestionDestinations": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/ingestiondestinations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestionDestinations"
                ],
                "members": {
                    "ingestionDestinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "ListIngestions": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestions"
                ],
                "members": {
                    "ingestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "app",
                                "tenantId",
                                "state"
                            ],
                            "members": {
                                "arn": {},
                                "app": {},
                                "tenantId": {},
                                "state": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZCIBGD6QR4HJLKRHI3VCDS26I2YHBRBCUF4G3AFI5QYVBO55Q7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KH5WBUKOEZXWXYTVVV2OBZXA7BTA6GTWCXH6WZPERSTXTLJ7IWXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VV5HNE2O4ABL4ZKEHS7JKZQ4BYHSZWMLTHORJFTSITTB4BYVBKUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BYZPKPOEPHLIL2IWG2NINNBPSEUZRQ4VAOBPWYW4HNC7AVQJWHHQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4UVZZPJJJ46QR2JPY5MNMOMXT3C3IRT5VC5H66EL4E3XF3YH3KRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72FZBJ6BYV2QXFMRV77LQQCFAD52NFACSZWDITA3HC2R2DXTJ2FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVWV6RIK5OBFQEJQ2NCVQCGIJ3H32G5VYQ2UKGNYOIRD2PEUDDSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZLPTAIZEGWQ75G32U7TJV2STBYFAGF4K2VU3OBER7WOYJUEBULA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX46MNB76MUFHJEY6RVV4R3BA5AK6W65VKRJD5AAZ2AIDAVFFOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWSW2CJ6QLBPTIPZDRPFOSSCP5TS2ZJ3JDT3SBNXRU74FRRYITBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTI7ISJORE2M6LGR4XOMXXIBR6AS663PD7F3MBMA2EKLAOVNFA2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZTSGMEREBIKSKVMGKRPIMMFPV6KVAKQWNR6PXT6HC5TDXBRB7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LQRQ5H5FFZAM42UOKKNTJ6UCRYKQPCK6A6Z5V5BBI3TVY5RQRIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKBW5BYQSMLPAUF4KRYPA4XKTWPGPFLKWIJ27HHYTJDCKGYBSUWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LY7GEC67QK5E6V3QDRZEHLR2GMZOOGKYK64X3L3IEHTLU6Z5OYOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHURZLIKFJFNCGW233HTWT6MOUPO746377YTEVEQORFZ2FUSMZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFO3S3P5Q54NX3RQOB2ZZRMQEZIN34ILED2ROFXAAXY6QKTJKF2Q/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/F5KO6N4ROUW7BWLBCVNYRUWW6ECQWLDUTPOWRQCAKT64MWZGMHOA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CXICL5YOFC2YLOJLZLZPFMBBY24KB3HT2HVU6EZSBXQST3LSALKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HTR3Y3GFHSPCEL3MNT3BBRMSKA7WBARJFLUAYQZMV4WL6XMR676A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W3F3C2EAUIU4XDYZVJ3CPZHGABHYOTBBH2SBAHU63ZB2VZPJM3GA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/57VU7G5MHXTATRQBYSRM2JWLQW5G4JSESCTA2ETAB2DZCXRBTWQA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y7YSGGGI2A7FMED3P7W3YJVIYFU4YRJW4KKMEOUGDCB3HEOSISRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IOG5Q57EF73MXJPUWGVD7DQMOBEBZB4TEFMSTQGVWSLYJXXOFZFQ/main.js",
[...]
