{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-01-01",
        "endpointPrefix": "appflow-catalog",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AppFlow Catalog",
        "serviceId": "AppFlow Catalog",
        "signatureVersion": "v4",
        "signingName": "appflow-catalog",
        "uid": "appflow-catalog-2023-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7EWDZWTOXNU4X7PU2BU2LMZOIQAVSFQ7764OGCZUKYTQI4TJLAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEFWEEJJW4MX3QOKJFAX5JI6ZJGLXE3BITFFYI5CI6JL36N6DORA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5F5Z7NQFMGNRKURUYQN3OQMAC2JMRKKYUJQPTUFT5METMXJKGPQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNWDZQ47YQ4KGK7GSDPDAVAGHVLOLNFOITIFGUQYXFZ2LLEWP45Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZGCP5Z7HBJ7NUFSX3MYZAWK63S7Y3L6IQLVDDV7ZC6ALQSDHKL3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFK4IAMSFGFWV4VI5YNCYQYUHNOS3V4OHP3DRQ4DIPDBK3333T3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7BKAY34GDKHGVVMMMODHFSU2PZU7A7GUTELEWKAFG4NXB5YLCUGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MDMT7A7Y7DS36RQ3UU2QIBVMIWBJOSJG7SHY7G5RGXFSNF6JOJHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V5EISUNBMPLBV4NUJPMSCRAJLR54RMJOYZBERIQXGNFHUKVL3WBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COFRN6IAUXYPZJRTGN3SPZ3RYGMULUT7OTZXEQ5PMEKJT325ZU3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBFVNK2CKH2GO243COHASA5LD2B6ECDC44C52BOTSY4VAOA4P72A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTDVIDZ3ICGDCG7TFUWZGAJN7DZD4XR2VRZ3FQYAXMIGBW6JPBLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WDHZX5ZQO3DYPWH7I4TEMB27JIMBF7SHZKVJ3OFUPNLVCXHV3ZYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5HRFZMD72MT7F6VFU6LCHE6MAMQ2P7ACH4EJIQBOKG2CWD2TGOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ATCWTB6BSAL5AO6CIUE4FWAG25WDZZX7P2Z5MBGO4FKZRL35NQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3KDQFEZ4PFUTJ672ZDRLNYFIZFWJQHXHXM4FZZFLM7NZI463TWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js"
        ]
    },
    "operations": {
        "SearchRecipes": {
            "http": {
                "requestUri": "/v0/search-recipes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "Query": {
                        "location": "querystring",
                        "locationName": "Query"
                    },
                    "RecipeGeneration": {
                        "location": "querystring",
                        "locationName": "RecipeGeneration",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Recipes",
                    "QueryId"
                ],
                "members": {
                    "Recipes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "RecipeName",
                                "RecipeContent",
                                "CreateTime"
                            ],
                            "members": {
                                "RecipeName": {},
                                "RecipeContent": {},
                                "RecipeDescription": {},
                                "AccessControlPrincipals": {
                                    "type": "list",
                                    "member": {}
                                },
                                "CreateTime": {
                                    "shape": "Sa"
                                },
                                "UpdateTime": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "QueryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7EWDZWTOXNU4X7PU2BU2LMZOIQAVSFQ7764OGCZUKYTQI4TJLAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEFWEEJJW4MX3QOKJFAX5JI6ZJGLXE3BITFFYI5CI6JL36N6DORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F5Z7NQFMGNRKURUYQN3OQMAC2JMRKKYUJQPTUFT5METMXJKGPQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNWDZQ47YQ4KGK7GSDPDAVAGHVLOLNFOITIFGUQYXFZ2LLEWP45Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGCP5Z7HBJ7NUFSX3MYZAWK63S7Y3L6IQLVDDV7ZC6ALQSDHKL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFK4IAMSFGFWV4VI5YNCYQYUHNOS3V4OHP3DRQ4DIPDBK3333T3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BKAY34GDKHGVVMMMODHFSU2PZU7A7GUTELEWKAFG4NXB5YLCUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDMT7A7Y7DS36RQ3UU2QIBVMIWBJOSJG7SHY7G5RGXFSNF6JOJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5EISUNBMPLBV4NUJPMSCRAJLR54RMJOYZBERIQXGNFHUKVL3WBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COFRN6IAUXYPZJRTGN3SPZ3RYGMULUT7OTZXEQ5PMEKJT325ZU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBFVNK2CKH2GO243COHASA5LD2B6ECDC44C52BOTSY4VAOA4P72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTDVIDZ3ICGDCG7TFUWZGAJN7DZD4XR2VRZ3FQYAXMIGBW6JPBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDHZX5ZQO3DYPWH7I4TEMB27JIMBF7SHZKVJ3OFUPNLVCXHV3ZYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5HRFZMD72MT7F6VFU6LCHE6MAMQ2P7ACH4EJIQBOKG2CWD2TGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ATCWTB6BSAL5AO6CIUE4FWAG25WDZZX7P2Z5MBGO4FKZRL35NQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3KDQFEZ4PFUTJ672ZDRLNYFIZFWJQHXHXM4FZZFLM7NZI463TWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sb": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        }
    }
}