{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-01-01",
        "endpointPrefix": "appflow-catalog",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AppFlow Catalog",
        "serviceId": "AppFlow Catalog",
        "signatureVersion": "v4",
        "signingName": "appflow-catalog",
        "uid": "appflow-catalog-2023-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJIUDRVRNUN6CV6NEKWLAQVYEGYU7O5Y3J4EWGW4RFOL7NEUA47A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZCB3E3NMJFR7CVTITFWE45AX3WGH2SUXCYQKWUWHTL7EHDGNOWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/72EZGJIJJ5PKZT46Y6DCR4M7A3D3CYFMCBGKEF2ZCY6PVWBGKIEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GQ7MW5XE3INDZVEQJ3VJ6QW74W4KAMPPV35TGT4ENDVE4LHGJ4PQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QUQUW3DBHSJH74WDZEFCPGFKKUZO2IUUX4ZEA3J5XYRFN5AQRJMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z6R6G2JY33B6YO6VSUCXIPNA3KELTO6FYMZEHRWUXG6TOCFHC67Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V6JWTL5EDSJKGGHWPMWRL6WTE5QEWHQHBWWOFO4NBQKFJOXIUSZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P4XDVFBLZDM6IJCARZLM27GO76C3IA6754GANTTDVHDNHI7UGBHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MYXKVCJFWKNXKJM6IUJW7P7A635ZVYI5NVS2GPISN2JQEEWN5Z6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MRZDSIGCDIXRTXH7V2YW73XQO35D6V37FQYMEKVX3XMMGIQSCOUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SVYJ6EXECF6WTD5K3ZURARRNH3PZIRMP73MC2WWL6RGKNV5T2HBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKJ7C6EJREZEVYW3VARI3IDM3PZFP4VCYM36WPCV4EYMTZJB33YQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VGVRMEXXXZGDTZRYHVUIPCL2RRPLNSKJF5XRUOJCOQTVH3WBJFNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MCZLHHVG2XPBKDQYRHH2WEARD6H3CAGZIFWFIWDVWMIZXDYWXY7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6A4KU4PFSG76GO7D4T5NJDOFJZF47GLM36K72XVBHU34CS2HH5EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HIY6BZD67TY3KLXSDXLEBX4QRFYPYRAMSBPMVLYM5TNO7BT7IUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7EWDZWTOXNU4X7PU2BU2LMZOIQAVSFQ7764OGCZUKYTQI4TJLAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEFWEEJJW4MX3QOKJFAX5JI6ZJGLXE3BITFFYI5CI6JL36N6DORA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js"
        ]
    },
    "operations": {
        "SearchRecipes": {
            "http": {
                "requestUri": "/v0/search-recipes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "Query": {
                        "location": "querystring",
                        "locationName": "Query"
                    },
                    "RecipeGeneration": {
                        "location": "querystring",
                        "locationName": "RecipeGeneration",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Recipes",
                    "QueryId"
                ],
                "members": {
                    "Recipes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "RecipeName",
                                "RecipeContent",
                                "CreateTime"
                            ],
                            "members": {
                                "RecipeName": {},
                                "RecipeContent": {},
                                "RecipeDescription": {},
                                "AccessControlPrincipals": {
                                    "type": "list",
                                    "member": {}
                                },
                                "CreateTime": {
                                    "shape": "Sa"
                                },
                                "UpdateTime": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "QueryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZCB3E3NMJFR7CVTITFWE45AX3WGH2SUXCYQKWUWHTL7EHDGNOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72EZGJIJJ5PKZT46Y6DCR4M7A3D3CYFMCBGKEF2ZCY6PVWBGKIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ7MW5XE3INDZVEQJ3VJ6QW74W4KAMPPV35TGT4ENDVE4LHGJ4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUQUW3DBHSJH74WDZEFCPGFKKUZO2IUUX4ZEA3J5XYRFN5AQRJMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6R6G2JY33B6YO6VSUCXIPNA3KELTO6FYMZEHRWUXG6TOCFHC67Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6JWTL5EDSJKGGHWPMWRL6WTE5QEWHQHBWWOFO4NBQKFJOXIUSZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4XDVFBLZDM6IJCARZLM27GO76C3IA6754GANTTDVHDNHI7UGBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXKVCJFWKNXKJM6IUJW7P7A635ZVYI5NVS2GPISN2JQEEWN5Z6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MRZDSIGCDIXRTXH7V2YW73XQO35D6V37FQYMEKVX3XMMGIQSCOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVYJ6EXECF6WTD5K3ZURARRNH3PZIRMP73MC2WWL6RGKNV5T2HBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKJ7C6EJREZEVYW3VARI3IDM3PZFP4VCYM36WPCV4EYMTZJB33YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGVRMEXXXZGDTZRYHVUIPCL2RRPLNSKJF5XRUOJCOQTVH3WBJFNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCZLHHVG2XPBKDQYRHH2WEARD6H3CAGZIFWFIWDVWMIZXDYWXY7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6A4KU4PFSG76GO7D4T5NJDOFJZF47GLM36K72XVBHU34CS2HH5EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIY6BZD67TY3KLXSDXLEBX4QRFYPYRAMSBPMVLYM5TNO7BT7IUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYXYOZ2ZGMXX4DF4JKGFGCAYQB6RGZSOZNBAGI7FSMGTEGAOAIUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OA3R4IGOUA6HISQAGLLOONOZBV2JVC5IKGHRAWVYO7P5JMNFZ2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHWFYF3PHYDZ4SQCZ2E4QBJEVJFRLXLRAW2P45OHKY5B5F3MDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UDLJ5NIYEO5AXBNZZ534JK4FZ3AFMUY5LODWAFSKDE2AAGH74TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7EWDZWTOXNU4X7PU2BU2LMZOIQAVSFQ7764OGCZUKYTQI4TJLAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEFWEEJJW4MX3QOKJFAX5JI6ZJGLXE3BITFFYI5CI6JL36N6DORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sb": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        }
    }
}