{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-01-01",
        "endpointPrefix": "appflow-catalog",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AppFlow Catalog",
        "serviceId": "AppFlow Catalog",
        "signatureVersion": "v4",
        "signingName": "appflow-catalog",
        "uid": "appflow-catalog-2023-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQWM56VD44TCTOXVRNJXI7NWMYKFSXGKEDSSMEVSCRIX3QZ7MSZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3MFM7MKOGUDTPPXIITFP3T2PALPGVC362V7A3FXNHDSJ7UUWTGKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDLYPWFUR77BGV2TRNW3ZY47ZMPGMX3GIPQLNAE33U57PDJW2IVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T6P5SPHUCBW4SEM2FPRCBLMSG7DACYQTU2LVSHMC3BWAERQH6NVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNWYM5QG2OONX4DLNG6M242JUDTNU4ZGX4U2INB2LH5ASZ2F7AHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVMBIEIG6SKAKYQG3XCP26PLGMPVQV5TD553QBTNS6YEIUVOXDVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2J2NVVEARKM7CRNB3P6GDYQK7SU6WDIKBEKBDSZDEFJ3CVG5NVRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WHXH5HWS4VIJ3MHHQEIZY2RXHV3TIBRDSHZN46CS5PJ3ISJHWBIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLZTNVSONURID7SH6N76YN7H37PZPDO44ATKDNTCZBNDH4WPYT7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4YPMQTVDVZ2VEMZ6IWQUBV3WHFCKX4E7X4QFQ4RLRNFLSFPKLUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IU7NQALYK3SFBUWYPI64VMGPBD4EWPWXAZKHQ2VNMLBP2CKMPNEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UFC33YY5GREVOZIQDNH5CADHYW5VQEQA3SUFC34B46PKP77WDNHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S6EB2WWTMNSQ6HMKEIXTITYX6O7CIPA52TVIYJYXCG6TPGLII4SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJIOC4GZZCDHIUMQKS7BPWIVQKQIYXHJNBNBC2PNJ5N7J4NV5XFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DEBRSMUNLIBISUSSF2A4DX3MRKE5VHSB5K7GOE6QXI3BLHYWEDRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O5NSLZJWZC5RNHGFBMC3FATRJXVWRPV3CSXRYHXGAAOF5BHZXFCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V7TNIWGUBRZ3F5GCVDKSE63MSQH4NC34QBYV2HSBNRHZ3VFH6BJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEV2Q2JEXVXUE6OKKMJFDEICSBKLGYRU3CAOZ4OPWLCVOF4VHGIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ME3BKGBV5WM4OS44L2SVSN34X3FLUG4R2DWR3GYYR57Z7LVPUGPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPXP5II43W6ZREFHIMKO6OCOXMF35U3442BFJSAZHLFSTKDA4YXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XUAHMFXU4NWBWWP72L534Q43BOXR5KD7ORQZY3BGCNOWK7RCXN3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6S5NTUW4Y5HAYUVDITV27DHIQIKNN3LNKVTDCILRYZ2WCAVCM72Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M3Q6QTTD4OZ7LKKLVHEMWSV6TM2HXYH5FSFWZCSVOFJW7N6WZN4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7VXNRLVUWL2BDBJ7ULPJ7CFK4P2GHNNKHECBEXGYI7V272EXZMMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js"
        ]
    },
    "operations": {
        "SearchRecipes": {
            "http": {
                "requestUri": "/v0/search-recipes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "Query": {
                        "location": "querystring",
                        "locationName": "Query"
                    },
                    "RecipeGeneration": {
                        "location": "querystring",
                        "locationName": "RecipeGeneration",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Recipes",
                    "QueryId"
                ],
                "members": {
                    "Recipes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "RecipeName",
                                "RecipeContent",
                                "CreateTime"
                            ],
                            "members": {
                                "RecipeName": {},
                                "RecipeContent": {},
                                "RecipeDescription": {},
                                "AccessControlPrincipals": {
                                    "type": "list",
                                    "member": {}
                                },
                                "CreateTime": {
                                    "shape": "Sa"
                                },
                                "UpdateTime": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "QueryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MFM7MKOGUDTPPXIITFP3T2PALPGVC362V7A3FXNHDSJ7UUWTGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDLYPWFUR77BGV2TRNW3ZY47ZMPGMX3GIPQLNAE33U57PDJW2IVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T6P5SPHUCBW4SEM2FPRCBLMSG7DACYQTU2LVSHMC3BWAERQH6NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNWYM5QG2OONX4DLNG6M242JUDTNU4ZGX4U2INB2LH5ASZ2F7AHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVMBIEIG6SKAKYQG3XCP26PLGMPVQV5TD553QBTNS6YEIUVOXDVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J2NVVEARKM7CRNB3P6GDYQK7SU6WDIKBEKBDSZDEFJ3CVG5NVRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHXH5HWS4VIJ3MHHQEIZY2RXHV3TIBRDSHZN46CS5PJ3ISJHWBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZTNVSONURID7SH6N76YN7H37PZPDO44ATKDNTCZBNDH4WPYT7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4YPMQTVDVZ2VEMZ6IWQUBV3WHFCKX4E7X4QFQ4RLRNFLSFPKLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU7NQALYK3SFBUWYPI64VMGPBD4EWPWXAZKHQ2VNMLBP2CKMPNEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFC33YY5GREVOZIQDNH5CADHYW5VQEQA3SUFC34B46PKP77WDNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6EB2WWTMNSQ6HMKEIXTITYX6O7CIPA52TVIYJYXCG6TPGLII4SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJIOC4GZZCDHIUMQKS7BPWIVQKQIYXHJNBNBC2PNJ5N7J4NV5XFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEBRSMUNLIBISUSSF2A4DX3MRKE5VHSB5K7GOE6QXI3BLHYWEDRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5NSLZJWZC5RNHGFBMC3FATRJXVWRPV3CSXRYHXGAAOF5BHZXFCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7TNIWGUBRZ3F5GCVDKSE63MSQH4NC34QBYV2HSBNRHZ3VFH6BJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEV2Q2JEXVXUE6OKKMJFDEICSBKLGYRU3CAOZ4OPWLCVOF4VHGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ME3BKGBV5WM4OS44L2SVSN34X3FLUG4R2DWR3GYYR57Z7LVPUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPXP5II43W6ZREFHIMKO6OCOXMF35U3442BFJSAZHLFSTKDA4YXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUAHMFXU4NWBWWP72L534Q43BOXR5KD7ORQZY3BGCNOWK7RCXN3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6S5NTUW4Y5HAYUVDITV27DHIQIKNN3LNKVTDCILRYZ2WCAVCM72Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3Q6QTTD4OZ7LKKLVHEMWSV6TM2HXYH5FSFWZCSVOFJW7N6WZN4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXNRLVUWL2BDBJ7ULPJ7CFK4P2GHNNKHECBEXGYI7V272EXZMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YC23VNRZCQK3ZHVPSC5K2BOBXRMLPM6C763IEQ3LKYINJW2RWFA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sb": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        }
    }
}