{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-05-19",
        "endpointPrefix": "appfabric",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AppFabric",
        "serviceId": "AppFabric",
        "signatureVersion": "v4",
        "signingName": "appfabric",
        "uid": "appfabric-2023-05-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "BatchGetUserAccessTasks": {
            "http": {
                "requestUri": "/useraccess/batchget",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "taskIdList"
                ],
                "members": {
                    "appBundleIdentifier": {},
                    "taskIdList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userAccessResultsList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "app": {},
                                "tenantId": {},
                                "tenantDisplayName": {},
                                "taskId": {},
                                "resultStatus": {},
                                "email": {
                                    "shape": "Sc"
                                },
                                "userId": {
                                    "shape": "Sd"
                                },
                                "userFullName": {
                                    "shape": "Sd"
                                },
                                "userFirstName": {
                                    "shape": "Sd"
                                },
                                "userLastName": {
                                    "shape": "Sd"
                                },
                                "userStatus": {},
                                "taskError": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ConnectAppAuthorization": {
            "http": {
                "requestUri": "/appbundles/{appBundleIdentifier}/appauthorizations/{appAuthorizationIdentifier}/connect",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "appAuthorizationIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "appAuthorizationIdentifier": {
                        "location": "uri",
                        "locationName": "appAuthorizationIdentifier"
                    },
                    "authRequest": {
                        "type": "structure",
                        "required": [
                            "redirectUri",
                            "code"
                        ],
                        "members": {
                            "redirectUri": {},
                            "code": {
                                "shape": "Sd"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appAuthorizationSummary"
                ],
                "members": {
                    "appAuthorizationSummary": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateAppAuthorization": {
            "http": {
                "requestUri": "/appbundles/{appBundleIdentifier}/appauthorizations",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "app",
                    "credential",
                    "tenant",
                    "authType"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "app": {},
                    "credential": {
                        "shape": "Sq"
                    },
                    "tenant": {
                        "shape": "Sm"
                    },
                    "authType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appAuthorization"
                ],
                "members": {
                    "appAuthorization": {
                        "shape": "Sz"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateAppBundle": {
            "http": {
                "requestUri": "/appbundles",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "customerManagedKeyIdentifier": {},
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appBundle"
                ],
                "members": {
                    "appBundle": {
                        "shape": "S13"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateIngestion": {
            "http": {
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "app",
                    "tenantId",
                    "ingestionType"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "app": {},
                    "tenantId": {},
                    "ingestionType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestion"
                ],
                "members": {
                    "ingestion": {
                        "shape": "S17"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateIngestionDestination": {
            "http": {
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/ingestiondestinations",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier",
                    "processingConfiguration",
                    "destinationConfiguration"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    },
                    "processingConfiguration": {
                        "shape": "S1a"
                    },
                    "destinationConfiguration": {
                        "shape": "S1e"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestionDestination"
                ],
                "members": {
                    "ingestionDestination": {
                        "shape": "S1n"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAppAuthorization": {
            "http": {
                "method": "DELETE",
                "requestUri": "/appbundles/{appBundleIdentifier}/appauthorizations/{appAuthorizationIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "appAuthorizationIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "appAuthorizationIdentifier": {
                        "location": "uri",
                        "locationName": "appAuthorizationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAppBundle": {
            "http": {
                "method": "DELETE",
                "requestUri": "/appbundles/{appBundleIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteIngestion": {
            "http": {
                "method": "DELETE",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteIngestionDestination": {
            "http": {
                "method": "DELETE",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/ingestiondestinations/{ingestionDestinationIdentifier}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier",
                    "ingestionDestinationIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    },
                    "ingestionDestinationIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionDestinationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAppAuthorization": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/appauthorizations/{appAuthorizationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "appAuthorizationIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "appAuthorizationIdentifier": {
                        "location": "uri",
                        "locationName": "appAuthorizationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appAuthorization"
                ],
                "members": {
                    "appAuthorization": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAppBundle": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appBundle"
                ],
                "members": {
                    "appBundle": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetIngestion": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestion"
                ],
                "members": {
                    "ingestion": {
                        "shape": "S17"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetIngestionDestination": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/ingestiondestinations/{ingestionDestinationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier",
                    "ingestionDestinationIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    },
                    "ingestionDestinationIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionDestinationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestionDestination"
                ],
                "members": {
                    "ingestionDestination": {
                        "shape": "S1n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListAppAuthorizations": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/appauthorizations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appAuthorizationSummaryList"
                ],
                "members": {
                    "appAuthorizationSummaryList": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListAppBundles": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appBundleSummaryList"
                ],
                "members": {
                    "appBundleSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListIngestionDestinations": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/ingestiondestinations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "ingestionIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestionDestinations"
                ],
                "members": {
                    "ingestionDestinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn"
                            ],
                            "members": {
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListIngestions": {
            "http": {
                "method": "GET",
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier"
                ],
                "members": {
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ingestions"
                ],
                "members": {
                    "ingestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "app",
                                "tenantId",
                                "state"
                            ],
                            "members": {
                                "arn": {},
                                "app": {},
                                "tenantId": {},
                                "state": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StartIngestion": {
            "http": {
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ingestionIdentifier",
                    "appBundleIdentifier"
                ],
                "members": {
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    },
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StartUserAccessTasks": {
            "http": {
                "requestUri": "/useraccess/start",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "appBundleIdentifier",
                    "email"
                ],
                "members": {
                    "appBundleIdentifier": {},
                    "email": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userAccessTasksList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "app",
                                "tenantId"
                            ],
                            "members": {
                                "app": {},
                                "tenantId": {},
                                "taskId": {},
                                "error": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StopIngestion": {
            "http": {
                "requestUri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ingestionIdentifier",
                    "appBundleIdentifier"
                ],
                "members": {
                    "ingestionIdentifier": {
                        "location": "uri",
                        "locationName": "ingestionIdentifier"
                    },
                    "appBundleIdentifier": {
                        "location": "uri",
                        "locationName": "appBundleIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6MAQNMCZRHIIGJ3IZJBY3ZYATNTTDQFQNE6L272EX3RCWXC5EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EPQTALZHGWG6VJHW7JYHQRBEIYGZJRBWJNTOITJLINSSSQDDDMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZBMI2VJJB4PDTQETMCP7GYRAQ2C4MWM4VPQUVJSRATTXZJRB2TA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5OUUP563WZVXAHFBRCBTBRMMUV72PIL2WHQ2TBXCZO2RULK2I5DQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VS7GNI26HNOFL5EAICZ5ZX3MWGUEA3Q6MYPHHLFY4ETRDE5C2NSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JTTCUOXGKQCAOBNV42UN75AML5QMNRQGNWGG5QEIPOG4ED57ZTOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGHVB733QVMW63UZRAVEZGLLAXBIAVUZ764CCS2DGVSSPO5266PA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RZSVQB6MG2YTVWXY75Y3JX37MBMHPJXCB3SFPINEHHTVVJ3TMTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HU6FIFZVWM4AMEYETQRSR2E42FKBXHOLMSOZAI4ORRYSLY36A65Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZTSQ2LBG7CAV4ZLBIQAEEPFDFTMX23HOELVVLLR3H6HNCJ37KYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAUR6IQ7INWS36BF6VCLTH77T6IU5D2QKKSYVU6HSEPGAYYYHPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
[...]
