{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-07-29",
        "endpointPrefix": "app-integrations",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon AppIntegrations Service",
        "serviceId": "AppIntegrations",
        "signatureVersion": "v4",
        "signingName": "app-integrations",
        "uid": "appintegrations-2020-07-29",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GREF56PIZISO7F7UBXLXBMTMTT6OGLDTLYLTFRGZE6VK5EHW6DJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QQPENZC4BIPSIYGEB4SHMH5M4ZE3TOR7W2NMCAZIMBDXZIPT27A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateDataIntegration": {
            "http": {
                "requestUri": "/dataIntegrations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "KmsKey": {},
                    "SourceURI": {},
                    "ScheduleConfig": {
                        "shape": "S5"
                    },
                    "Tags": {
                        "shape": "S8"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "FileConfiguration": {
                        "shape": "St"
                    },
                    "ObjectConfiguration": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {},
                    "Name": {},
                    "Description": {},
                    "KmsKey": {},
                    "SourceURI": {},
                    "ScheduleConfiguration": {
                        "shape": "S5"
                    },
                    "Tags": {
                        "shape": "S8"
                    },
                    "ClientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GREF56PIZISO7F7UBXLXBMTMTT6OGLDTLYLTFRGZE6VK5EHW6DJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QQPENZC4BIPSIYGEB4SHMH5M4ZE3TOR7W2NMCAZIMBDXZIPT27A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js"
            ]
        },
        "CreateEventIntegration": {
            "http": {
                "requestUri": "/eventIntegrations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "EventFilter",
                    "EventBridgeBus"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "EventFilter": {
                        "shape": "Sg"
                    },
                    "EventBridgeBus": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventIntegrationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GREF56PIZISO7F7UBXLXBMTMTT6OGLDTLYLTFRGZE6VK5EHW6DJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QQPENZC4BIPSIYGEB4SHMH5M4ZE3TOR7W2NMCAZIMBDXZIPT27A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js"
            ]
        },
        "DeleteDataIntegration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/dataIntegrations/{Identifier}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataIntegrationIdentifier"
                ],
                "members": {
                    "DataIntegrationIdentifier": {
                        "location": "uri",
                        "locationName": "Identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GREF56PIZISO7F7UBXLXBMTMTT6OGLDTLYLTFRGZE6VK5EHW6DJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QQPENZC4BIPSIYGEB4SHMH5M4ZE3TOR7W2NMCAZIMBDXZIPT27A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js"
            ]
        },
        "DeleteEventIntegration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/eventIntegrations/{Name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GREF56PIZISO7F7UBXLXBMTMTT6OGLDTLYLTFRGZE6VK5EHW6DJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QQPENZC4BIPSIYGEB4SHMH5M4ZE3TOR7W2NMCAZIMBDXZIPT27A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js"
            ]
        },
        "GetDataIntegration": {
            "http": {
                "method": "GET",
                "requestUri": "/dataIntegrations/{Identifier}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "Identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {},
                    "Name": {},
                    "Description": {},
                    "KmsKey": {},
                    "SourceURI": {},
                    "ScheduleConfiguration": {
                        "shape": "S5"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GREF56PIZISO7F7UBXLXBMTMTT6OGLDTLYLTFRGZE6VK5EHW6DJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QQPENZC4BIPSIYGEB4SHMH5M4ZE3TOR7W2NMCAZIMBDXZIPT27A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js"
            ]
        },
        "GetEventIntegration": {
            "http": {
                "method": "GET",
                "requestUri": "/eventIntegrations/{Name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Description": {},
                    "EventIntegrationArn": {},
                    "EventBridgeBus": {},
                    "EventFilter": {
                        "shape": "Sg"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GREF56PIZISO7F7UBXLXBMTMTT6OGLDTLYLTFRGZE6VK5EHW6DJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QQPENZC4BIPSIYGEB4SHMH5M4ZE3TOR7W2NMCAZIMBDXZIPT27A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js"
            ]
        },
        "ListDataIntegrationAssociations": {
            "http": {
                "method": "GET",
                "requestUri": "/dataIntegrations/{Identifier}/associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataIntegrationIdentifier"
                ],
                "members": {
                    "DataIntegrationIdentifier": {
                        "location": "uri",
                        "locationName": "Identifier"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataIntegrationAssociations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DataIntegrationAssociationArn": {},
                                "DataIntegrationArn": {},
                                "ClientId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GREF56PIZISO7F7UBXLXBMTMTT6OGLDTLYLTFRGZE6VK5EHW6DJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QQPENZC4BIPSIYGEB4SHMH5M4ZE3TOR7W2NMCAZIMBDXZIPT27A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js"
            ]
        },
        "ListDataIntegrations": {
            "http": {
                "method": "GET",
                "requestUri": "/dataIntegrations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataIntegrations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Name": {},
                                "SourceURI": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GREF56PIZISO7F7UBXLXBMTMTT6OGLDTLYLTFRGZE6VK5EHW6DJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QQPENZC4BIPSIYGEB4SHMH5M4ZE3TOR7W2NMCAZIMBDXZIPT27A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js"
            ]
        },
        "ListEventIntegrationAssociations": {
            "http": {
                "method": "GET",
                "requestUri": "/eventIntegrations/{Name}/associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EventIntegrationName"
                ],
                "members": {
                    "EventIntegrationName": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventIntegrationAssociations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EventIntegrationAssociationArn": {},
                                "EventIntegrationAssociationId": {},
                                "EventIntegrationName": {},
                                "ClientId": {},
                                "EventBridgeRuleName": {},
                                "ClientAssociationMetadata": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GREF56PIZISO7F7UBXLXBMTMTT6OGLDTLYLTFRGZE6VK5EHW6DJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QQPENZC4BIPSIYGEB4SHMH5M4ZE3TOR7W2NMCAZIMBDXZIPT27A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js"
            ]
        },
        "ListEventIntegrations": {
            "http": {
                "method": "GET",
                "requestUri": "/eventIntegrations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventIntegrations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EventIntegrationArn": {},
                                "Name": {},
                                "Description": {},
                                "EventFilter": {
                                    "shape": "Sg"
                                },
                                "EventBridgeBus": {},
                                "Tags": {
                                    "shape": "S8"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GREF56PIZISO7F7UBXLXBMTMTT6OGLDTLYLTFRGZE6VK5EHW6DJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QQPENZC4BIPSIYGEB4SHMH5M4ZE3TOR7W2NMCAZIMBDXZIPT27A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GREF56PIZISO7F7UBXLXBMTMTT6OGLDTLYLTFRGZE6VK5EHW6DJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QQPENZC4BIPSIYGEB4SHMH5M4ZE3TOR7W2NMCAZIMBDXZIPT27A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GREF56PIZISO7F7UBXLXBMTMTT6OGLDTLYLTFRGZE6VK5EHW6DJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QQPENZC4BIPSIYGEB4SHMH5M4ZE3TOR7W2NMCAZIMBDXZIPT27A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GREF56PIZISO7F7UBXLXBMTMTT6OGLDTLYLTFRGZE6VK5EHW6DJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QQPENZC4BIPSIYGEB4SHMH5M4ZE3TOR7W2NMCAZIMBDXZIPT27A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js"
            ]
        },
        "UpdateDataIntegration": {
            "http": {
                "method": "PATCH",
                "requestUri": "/dataIntegrations/{Identifier}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "Identifier"
                    },
                    "Name": {},
                    "Description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GREF56PIZISO7F7UBXLXBMTMTT6OGLDTLYLTFRGZE6VK5EHW6DJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QQPENZC4BIPSIYGEB4SHMH5M4ZE3TOR7W2NMCAZIMBDXZIPT27A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js"
            ]
        },
        "UpdateEventIntegration": {
            "http": {
                "method": "PATCH",
                "requestUri": "/eventIntegrations/{Name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "Description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSDOYWQ5PHSRRZFCIUD6BWHQWBJFKNOXFUD7MZNL7O5ZMF76EXVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFROBT5EFJPMKA6GWREOSZGVZ4TNDALJRNDD2IJ3DZGSLX6J2YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GREF56PIZISO7F7UBXLXBMTMTT6OGLDTLYLTFRGZE6VK5EHW6DJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QQPENZC4BIPSIYGEB4SHMH5M4ZE3TOR7W2NMCAZIMBDXZIPT27A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js"
            ]
        },
        "CreateApplication": {
            "http": {
                "requestUri": "/applications"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Description",
                    "ApplicationSourceConfig"
                ],
                "members": {
                    "Name": {},
                    "Namespace": {},
                    "Description": {},
                    "ApplicationSourceConfig": {
                        "shape": "S5"
                    },
                    "Subscriptions": {
                        "shape": "Sa"
                    },
                    "Publications": {
                        "shape": "Sd"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sh"
                    },
                    "Permissions": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "CreateDataIntegrationAssociation": {
            "http": {
                "requestUri": "/dataIntegrations/{Identifier}/associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataIntegrationIdentifier",
                    "ClientId",
                    "ClientAssociationMetadata"
                ],
                "members": {
                    "DataIntegrationIdentifier": {
                        "location": "uri",
                        "locationName": "Identifier"
                    },
                    "ClientId": {},
                    "ObjectConfiguration": {
                        "shape": "Sz"
                    },
                    "ClientAssociationMetadata": {
                        "shape": "S14"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "DestinationURI": {},
                    "ExecutionConfiguration": {
                        "shape": "S1b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataIntegrationAssociationId": {},
                    "DataIntegrationArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "CreateEventIntegrationAssociation": {
            "http": {
                "requestUri": "/eventIntegrations/{Name}/associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "EventIntegrationName"
                ],
                "members": {
                    "ClientId": {},
                    "EventIntegrationName": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "ClientAssociationMetadata": {
                        "shape": "S14"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventIntegrationName": {},
                    "EventIntegrationAssociationId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DeleteApplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{Arn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SBTMMMWBWIWYKLDWK3M2BWW6TEKPXNFC46UCGTIMQSVSLLJAHBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DeleteDataIntegrationAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/dataIntegrations/{Identifier}/associations/{DataIntegrationAssociationIdentifier}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataIntegrationIdentifier",
                    "DataIntegrationAssociationIdentifier"
                ],
                "members": {
                    "DataIntegrationIdentifier": {
                        "location": "uri",
                        "locationName": "Identifier"
                    },
                    "DataIntegrationAssociationIdentifier": {
                        "location": "uri",
                        "locationName": "DataIntegrationAssociationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DeleteEventIntegrationAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/eventIntegrations/{Name}/associations/{EventIntegrationAssociationId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EventIntegrationName",
                    "EventIntegrationAssociationId"
                ],
                "members": {
                    "EventIntegrationName": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "EventIntegrationAssociationId": {
                        "location": "uri",
                        "locationName": "EventIntegrationAssociationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "GetApplication": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{Arn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {},
                    "Name": {},
                    "Namespace": {},
                    "Description": {},
                    "ApplicationSourceConfig": {
                        "shape": "S5"
                    },
                    "Subscriptions": {
                        "shape": "Sa"
                    },
                    "Publications": {
                        "shape": "Sd"
                    },
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "ListApplicationVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{Arn}/versions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Versions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Arn": {},
                                "Version": {},
                                "Name": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWXTVGDZQENGUMCPNQE47SVEZA5QPJJVXX3YFKLBTLHI7WJNT6DQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMTOBM7A7I6V2UMGD5Q5RF53EGXTC3YJ4O47XTW7GTUO5UTPR7QA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QSEW5S5GIXGEWCNRI34QEMTINRYZSBOPMIC2EXQ3HX7VP7L53B4A/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DUZQGTEZEXBDOM2CDCQREC7TOA4QDKTXAMZSTIC5PKB7SINAWAHQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YTQPCPWTDVF27I5RVQRKJEEZNPG2JULMNIPEO4SBCRQMW7O2AXFQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2YEW4AO3PL44OCYX2LPPJ2QX3DTJ5HT75EC2BJ2EGBNW7E3YL5GA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UXD6SFCREGC45TGA5OZT75G5DCI2HJIELE2BRMH55VWHNQSZQGIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWWA6PQOORJDSM272ZOMAD5H2ZJTS4ECCRWULFHKXFYUOK2GD5CQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PE3HPVTCLFQJ4RHNPUKKRSY7NZXL3E37LTXYQHJGWIHLYR4WINDQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5DFIJ6RUHT3R552LZJHNIBGI6VKLMZB4VCRK3E4KDO33I2VAXSA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6CNWGL6Q5EY5XBNHG7IYMFGVOI5QX2UBWRZWQGBOVTC7AJDAIDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV3BFM524XZELZY37HDPIFNHTKPN42KW4AHAUECBKWAYSOEXOTBQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJHL5W7OFVJK7ZXEWKDGD65OXTVCWLAIWIFTOGOQCXMQHCR7AWDA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y45UNCJCM4GGIRZ3LY3TKJDTLXLQEYXEJQA4FJX7EJYGAV7HIC2A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHJYVRBCQM62IYSJ6XTI35F642TKKIF732AOI263D5HOLPI7YVVA/main.min.js",
[...]
