{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-07-29",
        "endpointPrefix": "app-integrations",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon AppIntegrations Service",
        "serviceId": "AppIntegrations",
        "signatureVersion": "v4",
        "signingName": "app-integrations",
        "uid": "appintegrations-2020-07-29",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateDataIntegration": {
            "http": {
                "requestUri": "/dataIntegrations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "KmsKey": {},
                    "SourceURI": {},
                    "ScheduleConfig": {
                        "shape": "S5"
                    },
                    "Tags": {
                        "shape": "S8"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "FileConfiguration": {
                        "shape": "St"
                    },
                    "ObjectConfiguration": {
                        "shape": "Sz"
                    },
                    "SecretArn": {},
                    "IntegrationType": {},
                    "DestinationURI": {},
                    "RoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {},
                    "Name": {},
                    "Description": {},
                    "KmsKey": {},
                    "SourceURI": {},
                    "ScheduleConfiguration": {
                        "shape": "S5"
                    },
                    "Tags": {
                        "shape": "S8"
                    },
                    "ClientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "CreateEventIntegration": {
            "http": {
                "requestUri": "/eventIntegrations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "EventFilter",
                    "EventBridgeBus"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "EventFilter": {
                        "shape": "Sg"
                    },
                    "EventBridgeBus": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventIntegrationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "DeleteDataIntegration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/dataIntegrations/{Identifier}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataIntegrationIdentifier"
                ],
                "members": {
                    "DataIntegrationIdentifier": {
                        "location": "uri",
                        "locationName": "Identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "DeleteEventIntegration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/eventIntegrations/{Name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "GetDataIntegration": {
            "http": {
                "method": "GET",
                "requestUri": "/dataIntegrations/{Identifier}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "Identifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {},
                    "Name": {},
                    "Description": {},
                    "KmsKey": {},
                    "SourceURI": {},
                    "ScheduleConfiguration": {
                        "shape": "S5"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "GetEventIntegration": {
            "http": {
                "method": "GET",
                "requestUri": "/eventIntegrations/{Name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Description": {},
                    "EventIntegrationArn": {},
                    "EventBridgeBus": {},
                    "EventFilter": {
                        "shape": "Sg"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "ListDataIntegrationAssociations": {
            "http": {
                "method": "GET",
                "requestUri": "/dataIntegrations/{Identifier}/associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataIntegrationIdentifier"
                ],
                "members": {
                    "DataIntegrationIdentifier": {
                        "location": "uri",
                        "locationName": "Identifier"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataIntegrationAssociations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DataIntegrationAssociationArn": {},
                                "DataIntegrationArn": {},
                                "ClientId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "ListDataIntegrations": {
            "http": {
                "method": "GET",
                "requestUri": "/dataIntegrations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataIntegrations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "Name": {},
                                "SourceURI": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "ListEventIntegrationAssociations": {
            "http": {
                "method": "GET",
                "requestUri": "/eventIntegrations/{Name}/associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EventIntegrationName"
                ],
                "members": {
                    "EventIntegrationName": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventIntegrationAssociations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EventIntegrationAssociationArn": {},
                                "EventIntegrationAssociationId": {},
                                "EventIntegrationName": {},
                                "ClientId": {},
                                "EventBridgeRuleName": {},
                                "ClientAssociationMetadata": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "ListEventIntegrations": {
            "http": {
                "method": "GET",
                "requestUri": "/eventIntegrations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventIntegrations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EventIntegrationArn": {},
                                "Name": {},
                                "Description": {},
                                "EventFilter": {
                                    "shape": "Sg"
                                },
                                "EventBridgeBus": {},
                                "Tags": {
                                    "shape": "S8"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "UpdateDataIntegration": {
            "http": {
                "method": "PATCH",
                "requestUri": "/dataIntegrations/{Identifier}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Identifier"
                ],
                "members": {
                    "Identifier": {
                        "location": "uri",
                        "locationName": "Identifier"
                    },
                    "Name": {},
                    "Description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "UpdateEventIntegration": {
            "http": {
                "method": "PATCH",
                "requestUri": "/eventIntegrations/{Name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "Description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "CreateApplication": {
            "http": {
                "requestUri": "/applications"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Description",
                    "ApplicationSourceConfig"
                ],
                "members": {
                    "Name": {},
                    "Namespace": {},
                    "Description": {},
                    "ApplicationSourceConfig": {
                        "shape": "S5"
                    },
                    "Subscriptions": {
                        "shape": "Sa"
                    },
                    "Publications": {
                        "shape": "Sd"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sh"
                    },
                    "Permissions": {
                        "shape": "Sk"
                    },
                    "IsService": {
                        "type": "boolean"
                    },
                    "InitializationTimeout": {
                        "type": "integer"
                    },
                    "ApplicationConfig": {
                        "shape": "So"
                    },
                    "IframeConfig": {
                        "shape": "Sr"
                    },
                    "ApplicationType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "CreateDataIntegrationAssociation": {
            "http": {
                "requestUri": "/dataIntegrations/{Identifier}/associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataIntegrationIdentifier",
                    "ClientId",
                    "ClientAssociationMetadata"
                ],
                "members": {
                    "DataIntegrationIdentifier": {
                        "location": "uri",
                        "locationName": "Identifier"
                    },
                    "ClientId": {},
                    "ObjectConfiguration": {
                        "shape": "Sz"
                    },
                    "ClientAssociationMetadata": {
                        "shape": "S14"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "DestinationURI": {},
                    "ExecutionConfiguration": {
                        "shape": "S1b"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataIntegrationAssociationId": {},
                    "DataIntegrationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FZZDSWCPMHBHLQQCGSEA5QOE65V6D4GZIAG6RT24ADQVFTZ4BOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBSW55G4NNZYC6QVCYI6IIDHKPEPD4NGTQP3TT2PZNYTQX6ZOAQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "CreateEventIntegrationAssociation": {
            "http": {
                "requestUri": "/eventIntegrations/{Name}/associations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "EventIntegrationName"
                ],
                "members": {
                    "ClientId": {},
                    "EventIntegrationName": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "ClientAssociationMetadata": {
                        "shape": "S14"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventIntegrationName": {},
                    "EventIntegrationAssociationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteApplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{Arn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "DeleteDataIntegrationAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/dataIntegrations/{Identifier}/associations/{DataIntegrationAssociationIdentifier}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataIntegrationIdentifier",
                    "DataIntegrationAssociationIdentifier"
                ],
                "members": {
                    "DataIntegrationIdentifier": {
                        "location": "uri",
                        "locationName": "Identifier"
                    },
                    "DataIntegrationAssociationIdentifier": {
                        "location": "uri",
                        "locationName": "DataIntegrationAssociationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteEventIntegrationAssociation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/eventIntegrations/{Name}/associations/{EventIntegrationAssociationId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EventIntegrationName",
                    "EventIntegrationAssociationId"
                ],
                "members": {
                    "EventIntegrationName": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "EventIntegrationAssociationId": {
                        "location": "uri",
                        "locationName": "EventIntegrationAssociationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetApplication": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{Arn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Id": {},
                    "Name": {},
                    "Namespace": {},
                    "Description": {},
                    "ApplicationSourceConfig": {
                        "shape": "S5"
                    },
                    "Subscriptions": {
                        "shape": "Sa"
                    },
                    "Publications": {
                        "shape": "Sd"
                    },
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "ListApplicationVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{Arn}/versions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {
                        "location": "uri",
                        "locationName": "Arn"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
[...]
