{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-01",
        "endpointPrefix": "appmesh",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS App Mesh",
        "serviceId": "App Mesh",
        "signatureVersion": "v4",
        "signingName": "appmesh",
        "uid": "appmesh-2018-10-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/236T7VP3TJ753PFKPO6JUHFOCS2TJ6SAG3LELXCD3H4AWVVG3G3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateMesh": {
            "http": {
                "method": "PUT",
                "requestUri": "/meshes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mesh": {
                        "shape": "S5"
                    }
                },
                "payload": "mesh"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateRoute": {
            "http": {
                "method": "PUT",
                "requestUri": "/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "routeName",
                    "spec",
                    "virtualRouterName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "routeName": {},
                    "spec": {
                        "shape": "Sd"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "route": {
                        "shape": "Sl"
                    }
                },
                "payload": "route"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateVirtualNode": {
            "http": {
                "method": "PUT",
                "requestUri": "/meshes/{meshName}/virtualNodes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "spec",
                    "virtualNodeName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "spec": {
                        "shape": "Sp"
                    },
                    "virtualNodeName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "virtualNode": {
                        "shape": "S14"
                    }
                },
                "payload": "virtualNode"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateVirtualRouter": {
            "http": {
                "method": "PUT",
                "requestUri": "/meshes/{meshName}/virtualRouters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "spec",
                    "virtualRouterName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "spec": {
                        "shape": "S18"
                    },
                    "virtualRouterName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "virtualRouter": {
                        "shape": "S1b"
                    }
                },
                "payload": "virtualRouter"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteMesh": {
            "http": {
                "method": "DELETE",
                "requestUri": "/meshes/{meshName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mesh": {
                        "shape": "S5"
                    }
                },
                "payload": "mesh"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteRoute": {
            "http": {
                "method": "DELETE",
                "requestUri": "/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "routeName",
                    "virtualRouterName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "routeName": {
                        "location": "uri",
                        "locationName": "routeName"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "route": {
                        "shape": "Sl"
                    }
                },
                "payload": "route"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteVirtualNode": {
            "http": {
                "method": "DELETE",
                "requestUri": "/meshes/{meshName}/virtualNodes/{virtualNodeName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualNodeName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "virtualNodeName": {
                        "location": "uri",
                        "locationName": "virtualNodeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "virtualNode": {
                        "shape": "S14"
                    }
                },
                "payload": "virtualNode"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteVirtualRouter": {
            "http": {
                "method": "DELETE",
                "requestUri": "/meshes/{meshName}/virtualRouters/{virtualRouterName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualRouterName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "virtualRouter": {
                        "shape": "S1b"
                    }
                },
                "payload": "virtualRouter"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeMesh": {
            "http": {
                "method": "GET",
                "requestUri": "/meshes/{meshName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mesh": {
                        "shape": "S5"
                    }
                },
                "payload": "mesh"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeRoute": {
            "http": {
                "method": "GET",
                "requestUri": "/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "routeName",
                    "virtualRouterName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "routeName": {
                        "location": "uri",
                        "locationName": "routeName"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "route": {
                        "shape": "Sl"
                    }
                },
                "payload": "route"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeVirtualNode": {
            "http": {
                "method": "GET",
                "requestUri": "/meshes/{meshName}/virtualNodes/{virtualNodeName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualNodeName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "virtualNodeName": {
                        "location": "uri",
                        "locationName": "virtualNodeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "virtualNode": {
                        "shape": "S14"
                    }
                },
                "payload": "virtualNode"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeVirtualRouter": {
            "http": {
                "method": "GET",
                "requestUri": "/meshes/{meshName}/virtualRouters/{virtualRouterName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualRouterName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "virtualRouter": {
                        "shape": "S1b"
                    }
                },
                "payload": "virtualRouter"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListMeshes": {
            "http": {
                "method": "GET",
                "requestUri": "/meshes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "meshes"
                ],
                "members": {
                    "meshes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "meshName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListRoutes": {
            "http": {
                "method": "GET",
                "requestUri": "/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualRouterName"
                ],
                "members": {
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "routes"
                ],
                "members": {
                    "nextToken": {},
                    "routes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "meshName": {},
                                "routeName": {},
                                "virtualRouterName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListVirtualNodes": {
            "http": {
                "method": "GET",
                "requestUri": "/meshes/{meshName}/virtualNodes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName"
                ],
                "members": {
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "virtualNodes"
                ],
                "members": {
                    "nextToken": {},
                    "virtualNodes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "meshName": {},
                                "virtualNodeName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListVirtualRouters": {
            "http": {
                "method": "GET",
                "requestUri": "/meshes/{meshName}/virtualRouters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName"
                ],
                "members": {
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "virtualRouters"
                ],
                "members": {
                    "nextToken": {},
                    "virtualRouters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "meshName": {},
                                "virtualRouterName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateRoute": {
            "http": {
                "method": "PUT",
                "requestUri": "/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "routeName",
                    "spec",
                    "virtualRouterName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "routeName": {
                        "location": "uri",
                        "locationName": "routeName"
                    },
                    "spec": {
                        "shape": "Sd"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "route": {
                        "shape": "Sl"
                    }
                },
                "payload": "route"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateVirtualNode": {
            "http": {
                "method": "PUT",
                "requestUri": "/meshes/{meshName}/virtualNodes/{virtualNodeName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "spec",
                    "virtualNodeName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "spec": {
                        "shape": "Sp"
                    },
                    "virtualNodeName": {
                        "location": "uri",
                        "locationName": "virtualNodeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "virtualNode": {
                        "shape": "S14"
                    }
                },
                "payload": "virtualNode"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateVirtualRouter": {
            "http": {
                "method": "PUT",
                "requestUri": "/meshes/{meshName}/virtualRouters/{virtualRouterName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "spec",
                    "virtualRouterName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "spec": {
                        "shape": "S18"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "virtualRouter": {
                        "shape": "S1b"
                    }
                },
                "payload": "virtualRouter"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "meshName",
                "metadata"
            ],
            "members": {
                "meshName": {},
                "metadata": {
                    "shape": "S6"
                },
                "status": {
                    "type": "structure",
                    "members": {
                        "status": {}
                    }
                }
            }
        },
        "S6": {
            "type": "structure",
            "members": {
                "arn": {},
                "createdAt": {
                    "type": "timestamp"
                },
                "lastUpdatedAt": {
                    "type": "timestamp"
                },
                "uid": {},
                "version": {
                    "type": "long"
                }
            }
        },
        "Sd": {
            "type": "structure",
            "members": {
                "httpRoute": {
                    "type": "structure",
                    "members": {
                        "action": {
                            "type": "structure",
                            "members": {
                                "weightedTargets": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "virtualNode": {},
                                            "weight": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "match": {
                            "type": "structure",
                            "members": {
                                "prefix": {}
                            }
                        }
                    }
                }
            }
        },
        "Sl": {
            "type": "structure",
            "required": [
                "meshName",
                "routeName",
                "virtualRouterName"
            ],
            "members": {
                "meshName": {},
                "metadata": {
                    "shape": "S6"
                },
                "routeName": {},
                "spec": {
                    "shape": "Sd"
                },
                "status": {
                    "type": "structure",
                    "members": {
                        "status": {}
                    }
                },
                "virtualRouterName": {}
            }
        },
        "Sp": {
            "type": "structure",
            "members": {
                "backends": {
                    "type": "list",
                    "member": {}
                },
                "listeners": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "healthCheck": {
                                "type": "structure",
                                "required": [
                                    "healthyThreshold",
                                    "intervalMillis",
                                    "protocol",
                                    "timeoutMillis",
                                    "unhealthyThreshold"
                                ],
                                "members": {
                                    "healthyThreshold": {
                                        "type": "integer"
                                    },
                                    "intervalMillis": {
                                        "type": "long"
                                    },
                                    "path": {},
                                    "port": {
                                        "type": "integer"
                                    },
                                    "protocol": {},
                                    "timeoutMillis": {
                                        "type": "long"
                                    },
                                    "unhealthyThreshold": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "portMapping": {
                                "type": "structure",
                                "members": {
                                    "port": {
                                        "type": "integer"
                                    },
                                    "protocol": {}
                                }
                            }
                        }
                    }
                },
                "serviceDiscovery": {
                    "type": "structure",
                    "members": {
                        "dns": {
                            "type": "structure",
                            "members": {
                                "serviceName": {}
                            }
                        }
                    }
                }
            }
        },
        "S14": {
            "type": "structure",
            "required": [
                "meshName",
                "virtualNodeName"
            ],
            "members": {
                "meshName": {},
                "metadata": {
                    "shape": "S6"
                },
                "spec": {
                    "shape": "Sp"
                },
                "status": {
                    "type": "structure",
                    "members": {
                        "status": {}
                    }
                },
                "virtualNodeName": {}
            }
        },
        "S18": {
            "type": "structure",
            "members": {
                "serviceNames": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S1b": {
            "type": "structure",
            "required": [
                "meshName",
                "virtualRouterName"
            ],
            "members": {
                "meshName": {},
                "metadata": {
                    "shape": "S6"
                },
                "spec": {
                    "shape": "S18"
                },
                "status": {
                    "type": "structure",
                    "members": {
                        "status": {}
                    }
                },
                "virtualRouterName": {}
            }
        }
    }
}