{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-01-25",
        "endpointPrefix": "appmesh",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS App Mesh",
        "serviceId": "App Mesh",
        "signatureVersion": "v4",
        "signingName": "appmesh",
        "uid": "appmesh-2019-01-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
        ]
    },
    "operations": {
        "CreateGatewayRoute": {
            "http": {
                "method": "PUT",
                "requestUri": "/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "gatewayRouteName",
                    "meshName",
                    "spec",
                    "virtualGatewayName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "gatewayRouteName": {},
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "spec": {
                        "shape": "S5"
                    },
                    "tags": {
                        "shape": "S1a"
                    },
                    "virtualGatewayName": {
                        "location": "uri",
                        "locationName": "virtualGatewayName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "gatewayRoute"
                ],
                "members": {
                    "gatewayRoute": {
                        "shape": "S1f"
                    }
                },
                "payload": "gatewayRoute"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "CreateMesh": {
            "http": {
                "method": "PUT",
                "requestUri": "/v20190125/meshes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {},
                    "spec": {
                        "shape": "S1m"
                    },
                    "tags": {
                        "shape": "S1a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "mesh"
                ],
                "members": {
                    "mesh": {
                        "shape": "S1s"
                    }
                },
                "payload": "mesh"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "CreateRoute": {
            "http": {
                "method": "PUT",
                "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "routeName",
                    "spec",
                    "virtualRouterName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "routeName": {},
                    "spec": {
                        "shape": "S1w"
                    },
                    "tags": {
                        "shape": "S1a"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "route"
                ],
                "members": {
                    "route": {
                        "shape": "S2x"
                    }
                },
                "payload": "route"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "CreateVirtualGateway": {
            "http": {
                "method": "PUT",
                "requestUri": "/v20190125/meshes/{meshName}/virtualGateways",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "spec",
                    "virtualGatewayName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "spec": {
                        "shape": "S31"
                    },
                    "tags": {
                        "shape": "S1a"
                    },
                    "virtualGatewayName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "virtualGateway"
                ],
                "members": {
                    "virtualGateway": {
                        "shape": "S4h"
                    }
                },
                "payload": "virtualGateway"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "CreateVirtualNode": {
            "http": {
                "method": "PUT",
                "requestUri": "/v20190125/meshes/{meshName}/virtualNodes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "spec",
                    "virtualNodeName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "spec": {
                        "shape": "S4l"
                    },
                    "tags": {
                        "shape": "S1a"
                    },
                    "virtualNodeName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "virtualNode"
                ],
                "members": {
                    "virtualNode": {
                        "shape": "S63"
                    }
                },
                "payload": "virtualNode"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "CreateVirtualRouter": {
            "http": {
                "method": "PUT",
                "requestUri": "/v20190125/meshes/{meshName}/virtualRouters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "spec",
                    "virtualRouterName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "spec": {
                        "shape": "S67"
                    },
                    "tags": {
                        "shape": "S1a"
                    },
                    "virtualRouterName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "virtualRouter"
                ],
                "members": {
                    "virtualRouter": {
                        "shape": "S6b"
                    }
                },
                "payload": "virtualRouter"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "CreateVirtualService": {
            "http": {
                "method": "PUT",
                "requestUri": "/v20190125/meshes/{meshName}/virtualServices",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "spec",
                    "virtualServiceName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "spec": {
                        "shape": "S6f"
                    },
                    "tags": {
                        "shape": "S1a"
                    },
                    "virtualServiceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "virtualService"
                ],
                "members": {
                    "virtualService": {
                        "shape": "S6k"
                    }
                },
                "payload": "virtualService"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DeleteGatewayRoute": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes/{gatewayRouteName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "gatewayRouteName",
                    "meshName",
                    "virtualGatewayName"
                ],
                "members": {
                    "gatewayRouteName": {
                        "location": "uri",
                        "locationName": "gatewayRouteName"
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "virtualGatewayName": {
                        "location": "uri",
                        "locationName": "virtualGatewayName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "gatewayRoute"
                ],
                "members": {
                    "gatewayRoute": {
                        "shape": "S1f"
                    }
                },
                "payload": "gatewayRoute"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DeleteMesh": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20190125/meshes/{meshName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "meshOwner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "mesh"
                ],
                "members": {
                    "mesh": {
                        "shape": "S1s"
                    }
                },
                "payload": "mesh"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DeleteRoute": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "routeName",
                    "virtualRouterName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "routeName": {
                        "location": "uri",
                        "locationName": "routeName"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "route"
                ],
                "members": {
                    "route": {
                        "shape": "S2x"
                    }
                },
                "payload": "route"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DeleteVirtualGateway": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20190125/meshes/{meshName}/virtualGateways/{virtualGatewayName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualGatewayName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "virtualGatewayName": {
                        "location": "uri",
                        "locationName": "virtualGatewayName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "virtualGateway"
                ],
                "members": {
                    "virtualGateway": {
                        "shape": "S4h"
                    }
                },
                "payload": "virtualGateway"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DeleteVirtualNode": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualNodeName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "virtualNodeName": {
                        "location": "uri",
                        "locationName": "virtualNodeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "virtualNode"
                ],
                "members": {
                    "virtualNode": {
                        "shape": "S63"
                    }
                },
                "payload": "virtualNode"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DeleteVirtualRouter": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualRouterName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "virtualRouter"
                ],
                "members": {
                    "virtualRouter": {
                        "shape": "S6b"
                    }
                },
                "payload": "virtualRouter"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DeleteVirtualService": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualServiceName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "virtualServiceName": {
                        "location": "uri",
                        "locationName": "virtualServiceName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "virtualService"
                ],
                "members": {
                    "virtualService": {
                        "shape": "S6k"
                    }
                },
                "payload": "virtualService"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DescribeGatewayRoute": {
            "http": {
                "method": "GET",
                "requestUri": "/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes/{gatewayRouteName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "gatewayRouteName",
                    "meshName",
                    "virtualGatewayName"
                ],
                "members": {
                    "gatewayRouteName": {
                        "location": "uri",
                        "locationName": "gatewayRouteName"
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "virtualGatewayName": {
                        "location": "uri",
                        "locationName": "virtualGatewayName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "gatewayRoute"
                ],
                "members": {
                    "gatewayRoute": {
                        "shape": "S1f"
                    }
                },
                "payload": "gatewayRoute"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DescribeMesh": {
            "http": {
                "method": "GET",
                "requestUri": "/v20190125/meshes/{meshName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "mesh"
                ],
                "members": {
                    "mesh": {
                        "shape": "S1s"
                    }
                },
                "payload": "mesh"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DescribeRoute": {
            "http": {
                "method": "GET",
                "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "routeName",
                    "virtualRouterName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "routeName": {
                        "location": "uri",
                        "locationName": "routeName"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "route"
                ],
                "members": {
                    "route": {
                        "shape": "S2x"
                    }
                },
                "payload": "route"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DescribeVirtualGateway": {
            "http": {
                "method": "GET",
                "requestUri": "/v20190125/meshes/{meshName}/virtualGateways/{virtualGatewayName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualGatewayName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "virtualGatewayName": {
                        "location": "uri",
                        "locationName": "virtualGatewayName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "virtualGateway"
                ],
                "members": {
                    "virtualGateway": {
                        "shape": "S4h"
                    }
                },
                "payload": "virtualGateway"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DescribeVirtualNode": {
            "http": {
                "method": "GET",
                "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualNodeName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "virtualNodeName": {
                        "location": "uri",
                        "locationName": "virtualNodeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "virtualNode"
                ],
                "members": {
                    "virtualNode": {
                        "shape": "S63"
                    }
                },
                "payload": "virtualNode"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DescribeVirtualRouter": {
            "http": {
                "method": "GET",
                "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualRouterName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "virtualRouter"
                ],
                "members": {
                    "virtualRouter": {
                        "shape": "S6b"
                    }
                },
                "payload": "virtualRouter"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "DescribeVirtualService": {
            "http": {
                "method": "GET",
                "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualServiceName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "virtualServiceName": {
                        "location": "uri",
                        "locationName": "virtualServiceName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "virtualService"
                ],
                "members": {
                    "virtualService": {
                        "shape": "S6k"
                    }
                },
                "payload": "virtualService"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUEL3RPSYXYOGQF6VCIAE3GUBXZ6SY2YRJYTHKYZW3ZM633XXCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSZ5YVIVUGXCPDIYPSPTRRSYRVVQFOMS4UOA3DFDSCL76MQLWNNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILD6PSEXNDXXAJMQWGPGVU7ZZMDVQMU26NJXOVD4FXXNKEBDYAHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBATRKNA4AUQ7LAH7QUJA6YKW4DKDNOSHVXZ4AMU6WXKXYJCVSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUIZ7UVXWUN4F3TLQQKYUYN6RMSHOUOKAZQLOA3CZRYSB4WNXGGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA6Z3OCWD4KUWANGEXNH3ZSPCYOM6KN5YPHQRLWV54UEPNUXXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K75KYMVWYHXOID57WSZOXHJJTJQQ3N3VEQEAVKX7GEZOWZHOXUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W36COJCBPYZOHBNDSVAY5WYKW36R36HCX6Q5ID2VNR6FAAF5J5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXW62DLHVTDYWEHYBUDBNVBCRQYYJERXJSZPXJ3GNFGKKX4OM6CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMZUBWU7VWIKRIUDYY2WCUVA56WI237RHXQXZAGIAHID523S5GJQ/vendors.js"
            ]
        },
        "ListGatewayRoutes": {
            "http": {
                "method": "GET",
                "requestUri": "/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualGatewayName"
                ],
                "members": {
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "meshOwner": {
                        "location": "querystring",
                        "locationName": "meshOwner"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "virtualGatewayName": {
                        "location": "uri",
                        "locationName": "virtualGatewayName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "gatewayRoutes"
                ],
                "members": {
                    "gatewayRoutes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "createdAt",
                                "gatewayRouteName",
                                "lastUpdatedAt",
                                "meshName",
                                "meshOwner",
[...]
