{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-01",
        "endpointPrefix": "appmesh",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS App Mesh",
        "serviceId": "App Mesh",
        "signatureVersion": "v4",
        "signingName": "appmesh",
        "uid": "appmesh-2018-10-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
        ]
    },
    "operations": {
        "CreateMesh": {
            "http": {
                "method": "PUT",
                "requestUri": "/meshes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mesh": {
                        "shape": "S5"
                    }
                },
                "payload": "mesh"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateRoute": {
            "http": {
                "method": "PUT",
                "requestUri": "/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "routeName",
                    "spec",
                    "virtualRouterName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "routeName": {},
                    "spec": {
                        "shape": "Sd"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "route": {
                        "shape": "Sl"
                    }
                },
                "payload": "route"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateVirtualNode": {
            "http": {
                "method": "PUT",
                "requestUri": "/meshes/{meshName}/virtualNodes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "spec",
                    "virtualNodeName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "spec": {
                        "shape": "Sp"
                    },
                    "virtualNodeName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "virtualNode": {
                        "shape": "S14"
                    }
                },
                "payload": "virtualNode"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateVirtualRouter": {
            "http": {
                "method": "PUT",
                "requestUri": "/meshes/{meshName}/virtualRouters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "spec",
                    "virtualRouterName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "spec": {
                        "shape": "S18"
                    },
                    "virtualRouterName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "virtualRouter": {
                        "shape": "S1b"
                    }
                },
                "payload": "virtualRouter"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteMesh": {
            "http": {
                "method": "DELETE",
                "requestUri": "/meshes/{meshName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mesh": {
                        "shape": "S5"
                    }
                },
                "payload": "mesh"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteRoute": {
            "http": {
                "method": "DELETE",
                "requestUri": "/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "routeName",
                    "virtualRouterName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "routeName": {
                        "location": "uri",
                        "locationName": "routeName"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "route": {
                        "shape": "Sl"
                    }
                },
                "payload": "route"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteVirtualNode": {
            "http": {
                "method": "DELETE",
                "requestUri": "/meshes/{meshName}/virtualNodes/{virtualNodeName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualNodeName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "virtualNodeName": {
                        "location": "uri",
                        "locationName": "virtualNodeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "virtualNode": {
                        "shape": "S14"
                    }
                },
                "payload": "virtualNode"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteVirtualRouter": {
            "http": {
                "method": "DELETE",
                "requestUri": "/meshes/{meshName}/virtualRouters/{virtualRouterName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualRouterName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "virtualRouter": {
                        "shape": "S1b"
                    }
                },
                "payload": "virtualRouter"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeMesh": {
            "http": {
                "method": "GET",
                "requestUri": "/meshes/{meshName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mesh": {
                        "shape": "S5"
                    }
                },
                "payload": "mesh"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeRoute": {
            "http": {
                "method": "GET",
                "requestUri": "/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "routeName",
                    "virtualRouterName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "routeName": {
                        "location": "uri",
                        "locationName": "routeName"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "route": {
                        "shape": "Sl"
                    }
                },
                "payload": "route"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeVirtualNode": {
            "http": {
                "method": "GET",
                "requestUri": "/meshes/{meshName}/virtualNodes/{virtualNodeName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualNodeName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "virtualNodeName": {
                        "location": "uri",
                        "locationName": "virtualNodeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "virtualNode": {
                        "shape": "S14"
                    }
                },
                "payload": "virtualNode"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeVirtualRouter": {
            "http": {
                "method": "GET",
                "requestUri": "/meshes/{meshName}/virtualRouters/{virtualRouterName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualRouterName"
                ],
                "members": {
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "virtualRouter": {
                        "shape": "S1b"
                    }
                },
                "payload": "virtualRouter"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListMeshes": {
            "http": {
                "method": "GET",
                "requestUri": "/meshes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "meshes"
                ],
                "members": {
                    "meshes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "meshName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListRoutes": {
            "http": {
                "method": "GET",
                "requestUri": "/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "virtualRouterName"
                ],
                "members": {
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "routes"
                ],
                "members": {
                    "nextToken": {},
                    "routes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "meshName": {},
                                "routeName": {},
                                "virtualRouterName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListVirtualNodes": {
            "http": {
                "method": "GET",
                "requestUri": "/meshes/{meshName}/virtualNodes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName"
                ],
                "members": {
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "virtualNodes"
                ],
                "members": {
                    "nextToken": {},
                    "virtualNodes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "meshName": {},
                                "virtualNodeName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListVirtualRouters": {
            "http": {
                "method": "GET",
                "requestUri": "/meshes/{meshName}/virtualRouters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName"
                ],
                "members": {
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "virtualRouters"
                ],
                "members": {
                    "nextToken": {},
                    "virtualRouters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "meshName": {},
                                "virtualRouterName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "UpdateRoute": {
            "http": {
                "method": "PUT",
                "requestUri": "/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "routeName",
                    "spec",
                    "virtualRouterName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "routeName": {
                        "location": "uri",
                        "locationName": "routeName"
                    },
                    "spec": {
                        "shape": "Sd"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "route": {
                        "shape": "Sl"
                    }
                },
                "payload": "route"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "UpdateVirtualNode": {
            "http": {
                "method": "PUT",
                "requestUri": "/meshes/{meshName}/virtualNodes/{virtualNodeName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "spec",
                    "virtualNodeName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "spec": {
                        "shape": "Sp"
                    },
                    "virtualNodeName": {
                        "location": "uri",
                        "locationName": "virtualNodeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "virtualNode": {
                        "shape": "S14"
                    }
                },
                "payload": "virtualNode"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "UpdateVirtualRouter": {
            "http": {
                "method": "PUT",
                "requestUri": "/meshes/{meshName}/virtualRouters/{virtualRouterName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "meshName",
                    "spec",
                    "virtualRouterName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "meshName": {
                        "location": "uri",
                        "locationName": "meshName"
                    },
                    "spec": {
                        "shape": "S18"
                    },
                    "virtualRouterName": {
                        "location": "uri",
                        "locationName": "virtualRouterName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "virtualRouter": {
                        "shape": "S1b"
                    }
                },
                "payload": "virtualRouter"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXHNVZ53XXHQ6TI2F5PCFUEGZ53VTRMCK6LVOK2EMRLLH3XXGKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "meshName",
                "metadata"
            ],
            "members": {
                "meshName": {},
                "metadata": {
                    "shape": "S6"
                },
                "status": {
                    "type": "structure",
                    "members": {
                        "status": {}
                    }
                }
            }
        },
        "S6": {
            "type": "structure",
            "members": {
                "arn": {},
                "createdAt": {
                    "type": "timestamp"
                },
                "lastUpdatedAt": {
                    "type": "timestamp"
                },
                "uid": {},
                "version": {
                    "type": "long"
                }
            }
        },
        "Sd": {
            "type": "structure",
            "members": {
                "httpRoute": {
                    "type": "structure",
                    "members": {
                        "action": {
                            "type": "structure",
                            "members": {
                                "weightedTargets": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "virtualNode": {},
                                            "weight": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "match": {
                            "type": "structure",
                            "members": {
                                "prefix": {}
                            }
                        }
                    }
                }
            }
        },
        "Sl": {
            "type": "structure",
            "required": [
                "meshName",
                "routeName",
                "virtualRouterName"
            ],
            "members": {
                "meshName": {},
                "metadata": {
                    "shape": "S6"
                },
                "routeName": {},
                "spec": {
                    "shape": "Sd"
                },
                "status": {
                    "type": "structure",
                    "members": {
                        "status": {}
                    }
                },
                "virtualRouterName": {}
            }
        },
        "Sp": {
            "type": "structure",
            "members": {
                "backends": {
                    "type": "list",
                    "member": {}
                },
                "listeners": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "healthCheck": {
                                "type": "structure",
                                "required": [
                                    "healthyThreshold",
                                    "intervalMillis",
                                    "protocol",
                                    "timeoutMillis",
                                    "unhealthyThreshold"
                                ],
                                "members": {
                                    "healthyThreshold": {
                                        "type": "integer"
                                    },
                                    "intervalMillis": {
                                        "type": "long"
                                    },
                                    "path": {},
                                    "port": {
                                        "type": "integer"
                                    },
                                    "protocol": {},
                                    "timeoutMillis": {
                                        "type": "long"
                                    },
                                    "unhealthyThreshold": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "portMapping": {
                                "type": "structure",
                                "members": {
                                    "port": {
                                        "type": "integer"
                                    },
                                    "protocol": {}
                                }
                            }
                        }
                    }
                },
                "serviceDiscovery": {
                    "type": "structure",
                    "members": {
                        "dns": {
                            "type": "structure",
                            "members": {
                                "serviceName": {}
                            }
                        }
                    }
                }
            }
        },
        "S14": {
            "type": "structure",
            "required": [
                "meshName",
                "virtualNodeName"
            ],
            "members": {
                "meshName": {},
                "metadata": {
                    "shape": "S6"
                },
                "spec": {
                    "shape": "Sp"
                },
                "status": {
                    "type": "structure",
                    "members": {
                        "status": {}
                    }
                },
                "virtualNodeName": {}
            }
        },
        "S18": {
            "type": "structure",
            "members": {
                "serviceNames": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S1b": {
            "type": "structure",
            "required": [
                "meshName",
                "virtualRouterName"
            ],
            "members": {
                "meshName": {},
                "metadata": {
                    "shape": "S6"
                },
                "spec": {
                    "shape": "S18"
                },
                "status": {
                    "type": "structure",
                    "members": {
                        "status": {}
                    }
                },
                "virtualRouterName": {}
            }
        }
    }
}