{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-05-15",
        "endpointPrefix": "apprunner",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS App Runner",
        "serviceId": "AppRunner",
        "signatureVersion": "v4",
        "signingName": "apprunner",
        "targetPrefix": "AppRunner",
        "uid": "apprunner-2020-05-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateCustomDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn",
                    "DomainName"
                ],
                "members": {
                    "ServiceArn": {},
                    "DomainName": {},
                    "EnableWWWSubdomain": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DNSTarget",
                    "ServiceArn",
                    "CustomDomain",
                    "VpcDNSTargets"
                ],
                "members": {
                    "DNSTarget": {},
                    "ServiceArn": {},
                    "CustomDomain": {
                        "shape": "S7"
                    },
                    "VpcDNSTargets": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateAutoScalingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoScalingConfigurationName"
                ],
                "members": {
                    "AutoScalingConfigurationName": {},
                    "MaxConcurrency": {
                        "type": "integer"
                    },
                    "MinSize": {
                        "type": "integer"
                    },
                    "MaxSize": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoScalingConfiguration"
                ],
                "members": {
                    "AutoScalingConfiguration": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionName",
                    "ProviderType"
                ],
                "members": {
                    "ConnectionName": {},
                    "ProviderType": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Connection"
                ],
                "members": {
                    "Connection": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateObservabilityConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ObservabilityConfigurationName"
                ],
                "members": {
                    "ObservabilityConfigurationName": {},
                    "TraceConfiguration": {
                        "shape": "S11"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObservabilityConfiguration"
                ],
                "members": {
                    "ObservabilityConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/e6142a439cb30a6139b7de993b22b924.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/f0f325c609ffaf0a93aef4a9a9b013cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js"
            ]
        },
        "CreateService": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceName",
                    "SourceConfiguration"
                ],
                "members": {
                    "ServiceName": {},
                    "SourceConfiguration": {
                        "shape": "S18"
                    },
                    "InstanceConfiguration": {
                        "shape": "S1r"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "EncryptionConfiguration": {
                        "shape": "S1u"
                    },
                    "HealthCheckConfiguration": {
                        "shape": "S1w"
                    },
                    "AutoScalingConfigurationArn": {},
                    "NetworkConfiguration": {
                        "shape": "S23"
                    },
                    "ObservabilityConfiguration": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Service",
                    "OperationId"
                ],
                "members": {
                    "Service": {
                        "shape": "S29"
                    },
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateVpcConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcConnectorName",
                    "Subnets"
                ],
                "members": {
                    "VpcConnectorName": {},
                    "Subnets": {
                        "shape": "S2g"
                    },
                    "SecurityGroups": {
                        "shape": "S2g"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcConnector"
                ],
                "members": {
                    "VpcConnector": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/e6142a439cb30a6139b7de993b22b924.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/f0f325c609ffaf0a93aef4a9a9b013cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js"
            ]
        },
        "CreateVpcIngressConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn",
                    "VpcIngressConnectionName",
                    "IngressVpcConfiguration"
                ],
                "members": {
                    "ServiceArn": {},
                    "VpcIngressConnectionName": {},
                    "IngressVpcConfiguration": {
                        "shape": "S2m"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcIngressConnection"
                ],
                "members": {
                    "VpcIngressConnection": {
                        "shape": "S2o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/e6142a439cb30a6139b7de993b22b924.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/f0f325c609ffaf0a93aef4a9a9b013cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js"
            ]
        },
        "DeleteAutoScalingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoScalingConfigurationArn"
                ],
                "members": {
                    "AutoScalingConfigurationArn": {},
                    "DeleteAllRevisions": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoScalingConfiguration"
                ],
                "members": {
                    "AutoScalingConfiguration": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connection": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteObservabilityConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ObservabilityConfigurationArn"
                ],
                "members": {
                    "ObservabilityConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObservabilityConfiguration"
                ],
                "members": {
                    "ObservabilityConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/e6142a439cb30a6139b7de993b22b924.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/f0f325c609ffaf0a93aef4a9a9b013cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js"
            ]
        },
        "DeleteService": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn"
                ],
                "members": {
                    "ServiceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Service",
                    "OperationId"
                ],
                "members": {
                    "Service": {
                        "shape": "S29"
                    },
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteVpcConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcConnectorArn"
                ],
                "members": {
                    "VpcConnectorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcConnector"
                ],
                "members": {
                    "VpcConnector": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/e6142a439cb30a6139b7de993b22b924.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/f0f325c609ffaf0a93aef4a9a9b013cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js"
            ]
        },
        "DeleteVpcIngressConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcIngressConnectionArn"
                ],
                "members": {
                    "VpcIngressConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcIngressConnection"
                ],
                "members": {
                    "VpcIngressConnection": {
                        "shape": "S2o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/e6142a439cb30a6139b7de993b22b924.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/f0f325c609ffaf0a93aef4a9a9b013cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js"
            ]
        },
        "DescribeAutoScalingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoScalingConfigurationArn"
                ],
                "members": {
                    "AutoScalingConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoScalingConfiguration"
                ],
                "members": {
                    "AutoScalingConfiguration": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeCustomDomains": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn"
                ],
                "members": {
                    "ServiceArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DNSTarget",
                    "ServiceArn",
                    "CustomDomains",
                    "VpcDNSTargets"
                ],
                "members": {
                    "DNSTarget": {},
                    "ServiceArn": {},
                    "CustomDomains": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "VpcDNSTargets": {
                        "shape": "Sc"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeObservabilityConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ObservabilityConfigurationArn"
                ],
                "members": {
                    "ObservabilityConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObservabilityConfiguration"
                ],
                "members": {
                    "ObservabilityConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/e6142a439cb30a6139b7de993b22b924.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/f0f325c609ffaf0a93aef4a9a9b013cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js"
            ]
        },
        "DescribeService": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn"
                ],
                "members": {
                    "ServiceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Service"
                ],
                "members": {
                    "Service": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeVpcConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcConnectorArn"
                ],
                "members": {
                    "VpcConnectorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcConnector"
                ],
                "members": {
                    "VpcConnector": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/e6142a439cb30a6139b7de993b22b924.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/f0f325c609ffaf0a93aef4a9a9b013cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js"
            ]
        },
        "DescribeVpcIngressConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcIngressConnectionArn"
                ],
                "members": {
                    "VpcIngressConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcIngressConnection"
                ],
                "members": {
                    "VpcIngressConnection": {
                        "shape": "S2o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/e6142a439cb30a6139b7de993b22b924.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/f0f325c609ffaf0a93aef4a9a9b013cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js"
            ]
        },
        "DisassociateCustomDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn",
                    "DomainName"
                ],
                "members": {
                    "ServiceArn": {},
                    "DomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DNSTarget",
                    "ServiceArn",
                    "CustomDomain",
                    "VpcDNSTargets"
                ],
                "members": {
                    "DNSTarget": {},
                    "ServiceArn": {},
                    "CustomDomain": {
                        "shape": "S7"
                    },
                    "VpcDNSTargets": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListAutoScalingConfigurations": {
            "input": {
                "type": "structure",
                "members": {
                    "AutoScalingConfigurationName": {},
                    "LatestOnly": {
                        "type": "boolean"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoScalingConfigurationSummaryList"
                ],
                "members": {
                    "AutoScalingConfigurationSummaryList": {
                        "type": "list",
                        "member": {
                            "shape": "S2c"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListConnections": {
            "input": {
                "type": "structure",
                "members": {
                    "ConnectionName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectionSummaryList"
                ],
                "members": {
                    "ConnectionSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ConnectionName": {},
                                "ConnectionArn": {},
                                "ProviderType": {},
                                "Status": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "ListObservabilityConfigurations": {
            "input": {
                "type": "structure",
                "members": {
                    "ObservabilityConfigurationName": {},
                    "LatestOnly": {
                        "type": "boolean"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObservabilityConfigurationSummaryList"
                ],
                "members": {
                    "ObservabilityConfigurationSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ObservabilityConfigurationArn": {},
                                "ObservabilityConfigurationName": {},
                                "ObservabilityConfigurationRevision": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
[...]
