{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-05-15",
        "endpointPrefix": "apprunner",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS App Runner",
        "serviceId": "AppRunner",
        "signatureVersion": "v4",
        "signingName": "apprunner",
        "targetPrefix": "AppRunner",
        "uid": "apprunner-2020-05-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/15a3eee53017f14fa50f22a129e20d8c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateCustomDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn",
                    "DomainName"
                ],
                "members": {
                    "ServiceArn": {},
                    "DomainName": {},
                    "EnableWWWSubdomain": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DNSTarget",
                    "ServiceArn",
                    "CustomDomain",
                    "VpcDNSTargets"
                ],
                "members": {
                    "DNSTarget": {},
                    "ServiceArn": {},
                    "CustomDomain": {
                        "shape": "S7"
                    },
                    "VpcDNSTargets": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateAutoScalingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoScalingConfigurationName"
                ],
                "members": {
                    "AutoScalingConfigurationName": {},
                    "MaxConcurrency": {
                        "type": "integer"
                    },
                    "MinSize": {
                        "type": "integer"
                    },
                    "MaxSize": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoScalingConfiguration"
                ],
                "members": {
                    "AutoScalingConfiguration": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionName",
                    "ProviderType"
                ],
                "members": {
                    "ConnectionName": {},
                    "ProviderType": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Connection"
                ],
                "members": {
                    "Connection": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateObservabilityConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ObservabilityConfigurationName"
                ],
                "members": {
                    "ObservabilityConfigurationName": {},
                    "TraceConfiguration": {
                        "shape": "S11"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObservabilityConfiguration"
                ],
                "members": {
                    "ObservabilityConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6GOA2ULVDXT3NCHE26SZIJBH3ER3SJUCACCHE565YQJHLY36ASQ/bd7361d6aca8d4f3378a4d66cdcc49b2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW7WAQIG5BAQTSYX7AOUSXYGA4OGKGL7BLVXJOLNJGJ56AWXP4RQ/c06ef46623e2b1f6eae6ef682279958a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/d72b4c5211f64d8822c9b02bdc7d38d3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/15a3eee53017f14fa50f22a129e20d8c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateService": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceName",
                    "SourceConfiguration"
                ],
                "members": {
                    "ServiceName": {},
                    "SourceConfiguration": {
                        "shape": "S18"
                    },
                    "InstanceConfiguration": {
                        "shape": "S1r"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "EncryptionConfiguration": {
                        "shape": "S1u"
                    },
                    "HealthCheckConfiguration": {
                        "shape": "S1w"
                    },
                    "AutoScalingConfigurationArn": {},
                    "NetworkConfiguration": {
                        "shape": "S23"
                    },
                    "ObservabilityConfiguration": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Service",
                    "OperationId"
                ],
                "members": {
                    "Service": {
                        "shape": "S29"
                    },
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateVpcConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcConnectorName",
                    "Subnets"
                ],
                "members": {
                    "VpcConnectorName": {},
                    "Subnets": {
                        "shape": "S2g"
                    },
                    "SecurityGroups": {
                        "shape": "S2g"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcConnector"
                ],
                "members": {
                    "VpcConnector": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6GOA2ULVDXT3NCHE26SZIJBH3ER3SJUCACCHE565YQJHLY36ASQ/bd7361d6aca8d4f3378a4d66cdcc49b2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW7WAQIG5BAQTSYX7AOUSXYGA4OGKGL7BLVXJOLNJGJ56AWXP4RQ/c06ef46623e2b1f6eae6ef682279958a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/d72b4c5211f64d8822c9b02bdc7d38d3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/15a3eee53017f14fa50f22a129e20d8c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateVpcIngressConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn",
                    "VpcIngressConnectionName",
                    "IngressVpcConfiguration"
                ],
                "members": {
                    "ServiceArn": {},
                    "VpcIngressConnectionName": {},
                    "IngressVpcConfiguration": {
                        "shape": "S2m"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcIngressConnection"
                ],
                "members": {
                    "VpcIngressConnection": {
                        "shape": "S2o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6GOA2ULVDXT3NCHE26SZIJBH3ER3SJUCACCHE565YQJHLY36ASQ/bd7361d6aca8d4f3378a4d66cdcc49b2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW7WAQIG5BAQTSYX7AOUSXYGA4OGKGL7BLVXJOLNJGJ56AWXP4RQ/c06ef46623e2b1f6eae6ef682279958a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/d72b4c5211f64d8822c9b02bdc7d38d3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/15a3eee53017f14fa50f22a129e20d8c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteAutoScalingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoScalingConfigurationArn"
                ],
                "members": {
                    "AutoScalingConfigurationArn": {},
                    "DeleteAllRevisions": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoScalingConfiguration"
                ],
                "members": {
                    "AutoScalingConfiguration": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connection": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteObservabilityConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ObservabilityConfigurationArn"
                ],
                "members": {
                    "ObservabilityConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObservabilityConfiguration"
                ],
                "members": {
                    "ObservabilityConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6GOA2ULVDXT3NCHE26SZIJBH3ER3SJUCACCHE565YQJHLY36ASQ/bd7361d6aca8d4f3378a4d66cdcc49b2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW7WAQIG5BAQTSYX7AOUSXYGA4OGKGL7BLVXJOLNJGJ56AWXP4RQ/c06ef46623e2b1f6eae6ef682279958a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/d72b4c5211f64d8822c9b02bdc7d38d3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/15a3eee53017f14fa50f22a129e20d8c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteService": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn"
                ],
                "members": {
                    "ServiceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Service",
                    "OperationId"
                ],
                "members": {
                    "Service": {
                        "shape": "S29"
                    },
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteVpcConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcConnectorArn"
                ],
                "members": {
                    "VpcConnectorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcConnector"
                ],
                "members": {
                    "VpcConnector": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6GOA2ULVDXT3NCHE26SZIJBH3ER3SJUCACCHE565YQJHLY36ASQ/bd7361d6aca8d4f3378a4d66cdcc49b2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW7WAQIG5BAQTSYX7AOUSXYGA4OGKGL7BLVXJOLNJGJ56AWXP4RQ/c06ef46623e2b1f6eae6ef682279958a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/d72b4c5211f64d8822c9b02bdc7d38d3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/15a3eee53017f14fa50f22a129e20d8c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteVpcIngressConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcIngressConnectionArn"
                ],
                "members": {
                    "VpcIngressConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcIngressConnection"
                ],
                "members": {
                    "VpcIngressConnection": {
                        "shape": "S2o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6GOA2ULVDXT3NCHE26SZIJBH3ER3SJUCACCHE565YQJHLY36ASQ/bd7361d6aca8d4f3378a4d66cdcc49b2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW7WAQIG5BAQTSYX7AOUSXYGA4OGKGL7BLVXJOLNJGJ56AWXP4RQ/c06ef46623e2b1f6eae6ef682279958a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/d72b4c5211f64d8822c9b02bdc7d38d3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/15a3eee53017f14fa50f22a129e20d8c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeAutoScalingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoScalingConfigurationArn"
                ],
                "members": {
                    "AutoScalingConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoScalingConfiguration"
                ],
                "members": {
                    "AutoScalingConfiguration": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeCustomDomains": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn"
                ],
                "members": {
                    "ServiceArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DNSTarget",
                    "ServiceArn",
                    "CustomDomains",
                    "VpcDNSTargets"
                ],
                "members": {
                    "DNSTarget": {},
                    "ServiceArn": {},
                    "CustomDomains": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "VpcDNSTargets": {
                        "shape": "Sc"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeObservabilityConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ObservabilityConfigurationArn"
                ],
                "members": {
                    "ObservabilityConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObservabilityConfiguration"
                ],
                "members": {
                    "ObservabilityConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6GOA2ULVDXT3NCHE26SZIJBH3ER3SJUCACCHE565YQJHLY36ASQ/bd7361d6aca8d4f3378a4d66cdcc49b2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW7WAQIG5BAQTSYX7AOUSXYGA4OGKGL7BLVXJOLNJGJ56AWXP4RQ/c06ef46623e2b1f6eae6ef682279958a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/d72b4c5211f64d8822c9b02bdc7d38d3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/15a3eee53017f14fa50f22a129e20d8c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeService": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn"
                ],
                "members": {
                    "ServiceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Service"
                ],
                "members": {
                    "Service": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeVpcConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcConnectorArn"
                ],
                "members": {
                    "VpcConnectorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcConnector"
                ],
                "members": {
                    "VpcConnector": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6GOA2ULVDXT3NCHE26SZIJBH3ER3SJUCACCHE565YQJHLY36ASQ/bd7361d6aca8d4f3378a4d66cdcc49b2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW7WAQIG5BAQTSYX7AOUSXYGA4OGKGL7BLVXJOLNJGJ56AWXP4RQ/c06ef46623e2b1f6eae6ef682279958a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/d72b4c5211f64d8822c9b02bdc7d38d3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/15a3eee53017f14fa50f22a129e20d8c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeVpcIngressConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcIngressConnectionArn"
                ],
                "members": {
                    "VpcIngressConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcIngressConnection"
                ],
                "members": {
                    "VpcIngressConnection": {
                        "shape": "S2o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6GOA2ULVDXT3NCHE26SZIJBH3ER3SJUCACCHE565YQJHLY36ASQ/bd7361d6aca8d4f3378a4d66cdcc49b2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW7WAQIG5BAQTSYX7AOUSXYGA4OGKGL7BLVXJOLNJGJ56AWXP4RQ/c06ef46623e2b1f6eae6ef682279958a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/d72b4c5211f64d8822c9b02bdc7d38d3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/15a3eee53017f14fa50f22a129e20d8c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateCustomDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn",
                    "DomainName"
                ],
                "members": {
                    "ServiceArn": {},
                    "DomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DNSTarget",
                    "ServiceArn",
                    "CustomDomain",
                    "VpcDNSTargets"
                ],
                "members": {
                    "DNSTarget": {},
                    "ServiceArn": {},
                    "CustomDomain": {
                        "shape": "S7"
                    },
                    "VpcDNSTargets": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListAutoScalingConfigurations": {
            "input": {
                "type": "structure",
                "members": {
                    "AutoScalingConfigurationName": {},
                    "LatestOnly": {
                        "type": "boolean"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoScalingConfigurationSummaryList"
                ],
                "members": {
                    "AutoScalingConfigurationSummaryList": {
                        "type": "list",
                        "member": {
                            "shape": "S2c"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListConnections": {
            "input": {
                "type": "structure",
                "members": {
                    "ConnectionName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectionSummaryList"
                ],
                "members": {
                    "ConnectionSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ConnectionName": {},
                                "ConnectionArn": {},
                                "ProviderType": {},
                                "Status": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListObservabilityConfigurations": {
            "input": {
                "type": "structure",
                "members": {
                    "ObservabilityConfigurationName": {},
                    "LatestOnly": {
                        "type": "boolean"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObservabilityConfigurationSummaryList"
                ],
                "members": {
                    "ObservabilityConfigurationSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ObservabilityConfigurationArn": {},
                                "ObservabilityConfigurationName": {},
                                "ObservabilityConfigurationRevision": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBI6EM6ZQG6SASY3KNXXKNDGGLL4Q5NIG6PARUGCU37ZAWQE47WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6GOA2ULVDXT3NCHE26SZIJBH3ER3SJUCACCHE565YQJHLY36ASQ/bd7361d6aca8d4f3378a4d66cdcc49b2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C4RJCIDIZEN4DKGMCIPXPTB7MNFKLROL7MY5FAQP72QMDGNTFWWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW7WAQIG5BAQTSYX7AOUSXYGA4OGKGL7BLVXJOLNJGJ56AWXP4RQ/c06ef46623e2b1f6eae6ef682279958a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/d72b4c5211f64d8822c9b02bdc7d38d3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUNYMPT5C37UTAT3SOR36U5BJ4WH4SPUCHVSOQGHCE5P3M4WVQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/15a3eee53017f14fa50f22a129e20d8c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/b4682136b363d7d271e6dbcb808c69fd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VIAZ4GQQQOJPSLBO5BF3PQ3D4F22JCTFY52GALY6DUK7DJVQ55NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/bd0ccd9844e0b9cf6c291f3ab828fe8e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTGWY2SX7YLMCTOQ7GTSU4M3SY7HUD3AOZHYURCLB6PVV4T5WM2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VLVPRWEWQHPTNTMHUEXPKL6EU3IOJACQAUBZ56M5OOWMGENZSH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP3MEHJVNNPOI3VQBQAOQ7LFFTVRET5DDR7BVO4U6L63EDMPDZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZY6EDN24NLZZACQLOLRYOSNSFAIAFJ3S2HEHYMFK3MKWGGDPTYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
[...]
