{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-05-15",
        "endpointPrefix": "apprunner",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS App Runner",
        "serviceId": "AppRunner",
        "signatureVersion": "v4",
        "signingName": "apprunner",
        "targetPrefix": "AppRunner",
        "uid": "apprunner-2020-05-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
        ]
    },
    "operations": {
        "AssociateCustomDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn",
                    "DomainName"
                ],
                "members": {
                    "ServiceArn": {},
                    "DomainName": {},
                    "EnableWWWSubdomain": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DNSTarget",
                    "ServiceArn",
                    "CustomDomain",
                    "VpcDNSTargets"
                ],
                "members": {
                    "DNSTarget": {},
                    "ServiceArn": {},
                    "CustomDomain": {
                        "shape": "S7"
                    },
                    "VpcDNSTargets": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateAutoScalingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoScalingConfigurationName"
                ],
                "members": {
                    "AutoScalingConfigurationName": {},
                    "MaxConcurrency": {
                        "type": "integer"
                    },
                    "MinSize": {
                        "type": "integer"
                    },
                    "MaxSize": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoScalingConfiguration"
                ],
                "members": {
                    "AutoScalingConfiguration": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionName",
                    "ProviderType"
                ],
                "members": {
                    "ConnectionName": {},
                    "ProviderType": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Connection"
                ],
                "members": {
                    "Connection": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateObservabilityConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ObservabilityConfigurationName"
                ],
                "members": {
                    "ObservabilityConfigurationName": {},
                    "TraceConfiguration": {
                        "shape": "S11"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObservabilityConfiguration"
                ],
                "members": {
                    "ObservabilityConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateService": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceName",
                    "SourceConfiguration"
                ],
                "members": {
                    "ServiceName": {},
                    "SourceConfiguration": {
                        "shape": "S18"
                    },
                    "InstanceConfiguration": {
                        "shape": "S1r"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "EncryptionConfiguration": {
                        "shape": "S1u"
                    },
                    "HealthCheckConfiguration": {
                        "shape": "S1w"
                    },
                    "AutoScalingConfigurationArn": {},
                    "NetworkConfiguration": {
                        "shape": "S23"
                    },
                    "ObservabilityConfiguration": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Service",
                    "OperationId"
                ],
                "members": {
                    "Service": {
                        "shape": "S29"
                    },
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateVpcConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcConnectorName",
                    "Subnets"
                ],
                "members": {
                    "VpcConnectorName": {},
                    "Subnets": {
                        "shape": "S2g"
                    },
                    "SecurityGroups": {
                        "shape": "S2g"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcConnector"
                ],
                "members": {
                    "VpcConnector": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateVpcIngressConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn",
                    "VpcIngressConnectionName",
                    "IngressVpcConfiguration"
                ],
                "members": {
                    "ServiceArn": {},
                    "VpcIngressConnectionName": {},
                    "IngressVpcConfiguration": {
                        "shape": "S2m"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcIngressConnection"
                ],
                "members": {
                    "VpcIngressConnection": {
                        "shape": "S2o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteAutoScalingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoScalingConfigurationArn"
                ],
                "members": {
                    "AutoScalingConfigurationArn": {},
                    "DeleteAllRevisions": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoScalingConfiguration"
                ],
                "members": {
                    "AutoScalingConfiguration": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connection": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteObservabilityConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ObservabilityConfigurationArn"
                ],
                "members": {
                    "ObservabilityConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObservabilityConfiguration"
                ],
                "members": {
                    "ObservabilityConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteService": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn"
                ],
                "members": {
                    "ServiceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Service",
                    "OperationId"
                ],
                "members": {
                    "Service": {
                        "shape": "S29"
                    },
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteVpcConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcConnectorArn"
                ],
                "members": {
                    "VpcConnectorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcConnector"
                ],
                "members": {
                    "VpcConnector": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DeleteVpcIngressConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcIngressConnectionArn"
                ],
                "members": {
                    "VpcIngressConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcIngressConnection"
                ],
                "members": {
                    "VpcIngressConnection": {
                        "shape": "S2o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeAutoScalingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoScalingConfigurationArn"
                ],
                "members": {
                    "AutoScalingConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoScalingConfiguration"
                ],
                "members": {
                    "AutoScalingConfiguration": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeCustomDomains": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn"
                ],
                "members": {
                    "ServiceArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DNSTarget",
                    "ServiceArn",
                    "CustomDomains",
                    "VpcDNSTargets"
                ],
                "members": {
                    "DNSTarget": {},
                    "ServiceArn": {},
                    "CustomDomains": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "VpcDNSTargets": {
                        "shape": "Sc"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeObservabilityConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ObservabilityConfigurationArn"
                ],
                "members": {
                    "ObservabilityConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObservabilityConfiguration"
                ],
                "members": {
                    "ObservabilityConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeService": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn"
                ],
                "members": {
                    "ServiceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Service"
                ],
                "members": {
                    "Service": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeVpcConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcConnectorArn"
                ],
                "members": {
                    "VpcConnectorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcConnector"
                ],
                "members": {
                    "VpcConnector": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeVpcIngressConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcIngressConnectionArn"
                ],
                "members": {
                    "VpcIngressConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcIngressConnection"
                ],
                "members": {
                    "VpcIngressConnection": {
                        "shape": "S2o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DisassociateCustomDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn",
                    "DomainName"
                ],
                "members": {
                    "ServiceArn": {},
                    "DomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DNSTarget",
                    "ServiceArn",
                    "CustomDomain",
                    "VpcDNSTargets"
                ],
                "members": {
                    "DNSTarget": {},
                    "ServiceArn": {},
                    "CustomDomain": {
                        "shape": "S7"
                    },
                    "VpcDNSTargets": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "ListAutoScalingConfigurations": {
            "input": {
                "type": "structure",
                "members": {
                    "AutoScalingConfigurationName": {},
                    "LatestOnly": {
                        "type": "boolean"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoScalingConfigurationSummaryList"
                ],
                "members": {
                    "AutoScalingConfigurationSummaryList": {
                        "type": "list",
                        "member": {
                            "shape": "S2c"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "ListConnections": {
            "input": {
                "type": "structure",
                "members": {
                    "ConnectionName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectionSummaryList"
                ],
                "members": {
                    "ConnectionSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ConnectionName": {},
                                "ConnectionArn": {},
                                "ProviderType": {},
                                "Status": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "ListObservabilityConfigurations": {
            "input": {
                "type": "structure",
                "members": {
                    "ObservabilityConfigurationName": {},
                    "LatestOnly": {
                        "type": "boolean"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObservabilityConfigurationSummaryList"
                ],
                "members": {
                    "ObservabilityConfigurationSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ObservabilityConfigurationArn": {},
                                "ObservabilityConfigurationName": {},
                                "ObservabilityConfigurationRevision": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "ListOperations": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn"
                ],
                "members": {
                    "ServiceArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Type": {},
                                "Status": {},
                                "TargetArn": {},
                                "StartedAt": {
                                    "type": "timestamp"
                                },
                                "EndedAt": {
                                    "type": "timestamp"
                                },
                                "UpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZMCB5CZYG5Q22LZ2TU7ZBAO2542FGN6YY2RD4U6GWJG6HNVQY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3LGQLQFHGOGEDGZ2OYWGTS75KBU2LDQZT5AFT3RIVRFQGGRKR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZZO2QAWMZUJ4F3P4B37ACLB7VOSPP42AKBR745XPZJ2EZPMPI7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNV5HEYX4CVOWRADSGG75WLD53GSC5WJONYI2K43L7TC7JXS7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL5ZNM4E2VU4RTFZFSCR6QJUFJZZ6SCXNALLKRRBFHZK44BYELAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLRJMCRD7GPIDHHJFYYFKUWA7AV346CY4BM7OSBVUQPOLYG6BMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSTJKMVF3D7BJYB4PZ6XH55IOXJW577OZS76V3GMO2IAYT44YKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLZEJX6T6XZFM2GYKYXXSFT47Y3VZESEQ6Y6ZZVR6H2463O2EWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXRMZ32F3JGIRL4QZM4H44C7GHXFKAC34CXGHANZ5V3GSB2CCOHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWXGM42VL35NOEH2VWVHQA73GSFSN6WPRANVDUBF7JNYMBDJPLXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FU2EWMSR2MQOVR45FQFQ6V5BTU7J2EVBQLWLINHEFO5LAVNRZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "ListServices": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServiceSummaryList"
                ],
                "members": {
                    "ServiceSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServiceName": {},
                                "ServiceId": {},
                                "ServiceArn": {},
                                "ServiceUrl": {},
                                "CreatedAt": {
[...]
