{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-05-15",
        "endpointPrefix": "apprunner",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS App Runner",
        "serviceId": "AppRunner",
        "signatureVersion": "v4",
        "signingName": "apprunner",
        "targetPrefix": "AppRunner",
        "uid": "apprunner-2020-05-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
        ]
    },
    "operations": {
        "AssociateCustomDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn",
                    "DomainName"
                ],
                "members": {
                    "ServiceArn": {},
                    "DomainName": {},
                    "EnableWWWSubdomain": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DNSTarget",
                    "ServiceArn",
                    "CustomDomain",
                    "VpcDNSTargets"
                ],
                "members": {
                    "DNSTarget": {},
                    "ServiceArn": {},
                    "CustomDomain": {
                        "shape": "S7"
                    },
                    "VpcDNSTargets": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateAutoScalingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoScalingConfigurationName"
                ],
                "members": {
                    "AutoScalingConfigurationName": {},
                    "MaxConcurrency": {
                        "type": "integer"
                    },
                    "MinSize": {
                        "type": "integer"
                    },
                    "MaxSize": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoScalingConfiguration"
                ],
                "members": {
                    "AutoScalingConfiguration": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionName",
                    "ProviderType"
                ],
                "members": {
                    "ConnectionName": {},
                    "ProviderType": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Connection"
                ],
                "members": {
                    "Connection": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateObservabilityConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ObservabilityConfigurationName"
                ],
                "members": {
                    "ObservabilityConfigurationName": {},
                    "TraceConfiguration": {
                        "shape": "S11"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObservabilityConfiguration"
                ],
                "members": {
                    "ObservabilityConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateService": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceName",
                    "SourceConfiguration"
                ],
                "members": {
                    "ServiceName": {},
                    "SourceConfiguration": {
                        "shape": "S18"
                    },
                    "InstanceConfiguration": {
                        "shape": "S1r"
                    },
                    "Tags": {
                        "shape": "Sj"
                    },
                    "EncryptionConfiguration": {
                        "shape": "S1u"
                    },
                    "HealthCheckConfiguration": {
                        "shape": "S1w"
                    },
                    "AutoScalingConfigurationArn": {},
                    "NetworkConfiguration": {
                        "shape": "S23"
                    },
                    "ObservabilityConfiguration": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Service",
                    "OperationId"
                ],
                "members": {
                    "Service": {
                        "shape": "S29"
                    },
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateVpcConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcConnectorName",
                    "Subnets"
                ],
                "members": {
                    "VpcConnectorName": {},
                    "Subnets": {
                        "shape": "S2g"
                    },
                    "SecurityGroups": {
                        "shape": "S2g"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcConnector"
                ],
                "members": {
                    "VpcConnector": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "CreateVpcIngressConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn",
                    "VpcIngressConnectionName",
                    "IngressVpcConfiguration"
                ],
                "members": {
                    "ServiceArn": {},
                    "VpcIngressConnectionName": {},
                    "IngressVpcConfiguration": {
                        "shape": "S2m"
                    },
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcIngressConnection"
                ],
                "members": {
                    "VpcIngressConnection": {
                        "shape": "S2o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteAutoScalingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoScalingConfigurationArn"
                ],
                "members": {
                    "AutoScalingConfigurationArn": {},
                    "DeleteAllRevisions": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoScalingConfiguration"
                ],
                "members": {
                    "AutoScalingConfiguration": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connection": {
                        "shape": "Sx"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteObservabilityConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ObservabilityConfigurationArn"
                ],
                "members": {
                    "ObservabilityConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObservabilityConfiguration"
                ],
                "members": {
                    "ObservabilityConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteService": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn"
                ],
                "members": {
                    "ServiceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Service",
                    "OperationId"
                ],
                "members": {
                    "Service": {
                        "shape": "S29"
                    },
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteVpcConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcConnectorArn"
                ],
                "members": {
                    "VpcConnectorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcConnector"
                ],
                "members": {
                    "VpcConnector": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DeleteVpcIngressConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcIngressConnectionArn"
                ],
                "members": {
                    "VpcIngressConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcIngressConnection"
                ],
                "members": {
                    "VpcIngressConnection": {
                        "shape": "S2o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DescribeAutoScalingConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "AutoScalingConfigurationArn"
                ],
                "members": {
                    "AutoScalingConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoScalingConfiguration"
                ],
                "members": {
                    "AutoScalingConfiguration": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DescribeCustomDomains": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn"
                ],
                "members": {
                    "ServiceArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DNSTarget",
                    "ServiceArn",
                    "CustomDomains",
                    "VpcDNSTargets"
                ],
                "members": {
                    "DNSTarget": {},
                    "ServiceArn": {},
                    "CustomDomains": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "VpcDNSTargets": {
                        "shape": "Sc"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DescribeObservabilityConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ObservabilityConfigurationArn"
                ],
                "members": {
                    "ObservabilityConfigurationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObservabilityConfiguration"
                ],
                "members": {
                    "ObservabilityConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DescribeService": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn"
                ],
                "members": {
                    "ServiceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Service"
                ],
                "members": {
                    "Service": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DescribeVpcConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcConnectorArn"
                ],
                "members": {
                    "VpcConnectorArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcConnector"
                ],
                "members": {
                    "VpcConnector": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DescribeVpcIngressConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "VpcIngressConnectionArn"
                ],
                "members": {
                    "VpcIngressConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcIngressConnection"
                ],
                "members": {
                    "VpcIngressConnection": {
                        "shape": "S2o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "DisassociateCustomDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceArn",
                    "DomainName"
                ],
                "members": {
                    "ServiceArn": {},
                    "DomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DNSTarget",
                    "ServiceArn",
                    "CustomDomain",
                    "VpcDNSTargets"
                ],
                "members": {
                    "DNSTarget": {},
                    "ServiceArn": {},
                    "CustomDomain": {
                        "shape": "S7"
                    },
                    "VpcDNSTargets": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "ListAutoScalingConfigurations": {
            "input": {
                "type": "structure",
                "members": {
                    "AutoScalingConfigurationName": {},
                    "LatestOnly": {
                        "type": "boolean"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AutoScalingConfigurationSummaryList"
                ],
                "members": {
                    "AutoScalingConfigurationSummaryList": {
                        "type": "list",
                        "member": {
                            "shape": "S2c"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "ListConnections": {
            "input": {
                "type": "structure",
                "members": {
                    "ConnectionName": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectionSummaryList"
                ],
                "members": {
                    "ConnectionSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ConnectionName": {},
                                "ConnectionArn": {},
                                "ProviderType": {},
                                "Status": {},
                                "CreatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OH2JSSC7WBZK4SMWSJ5AL3JJDBLKBOOLOIJP7R6HLH2VGVQDZP5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGUTPJZABDDBXJKHV4BDQHR2RFSQEBJJFWHNF5VO33Z2EWRRK74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWN6O7MSHF6PSEV4UITJUDSKRL73MKU6HUOQMS6AFSXOKOLJ5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/37d71699057fb3103a6055e174045a3b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/e50a6fb6c31bf7d51e4441687ab0f9f1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/b23a797b874350169ae89b3f6c7e298f.js"
            ]
        },
        "ListObservabilityConfigurations": {
            "input": {
                "type": "structure",
                "members": {
                    "ObservabilityConfigurationName": {},
                    "LatestOnly": {
                        "type": "boolean"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObservabilityConfigurationSummaryList"
                ],
                "members": {
                    "ObservabilityConfigurationSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ObservabilityConfigurationArn": {},
                                "ObservabilityConfigurationName": {},
                                "ObservabilityConfigurationRevision": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWNIIC5HFLWOEYRHZP6AMVR4ZJ4PST3W7URI5TTW6BCTZUAJQIXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEGQNP3MC2PIWW3HVUBPZJUXRZ75DJLYWSF56AHHSJRBUVK73SVA/4f1fcf7ba80aafd30bd5b0ccbd1d48fc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJYZKTDX4TRPX2MSVLLFA74PW43KEM2EIBSNRV2SETSNX5SIPHYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3RINSSNKXXEWBIAV6IIAQ3VEZEZAOWDFYRSFTSEVYXNHMLCEXGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEC5NMN3GV5JOU3NVIH67WKH45GEMEKWNJHANLPNFJ2MHSBEOJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
[...]
