{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-25",
        "endpointPrefix": "appsauth",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AppsAuthControl Service",
        "serviceId": "appsauth",
        "signatureVersion": "v4",
        "targetPrefix": "AppsAuthControlPlaneService",
        "uid": "appsauth-control-2018-10-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
        ]
    },
    "operations": {
        "BatchDeleteSession": {
            "input": {
                "type": "structure",
                "required": [
                    "SessionIds"
                ],
                "members": {
                    "SessionIds": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SessionsDeleted"
                ],
                "members": {
                    "SessionsDeleted": {
                        "shape": "S2"
                    },
                    "Errors": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "BatchGetSession": {
            "input": {
                "type": "structure",
                "required": [
                    "SessionIds"
                ],
                "members": {
                    "SessionIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SessionList"
                ],
                "members": {
                    "SessionList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "userId": {},
                                "sessionId": {},
                                "ipAddress": {
                                    "shape": "Sf"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "sessionNotValidAfter": {
                                    "type": "timestamp"
                                },
                                "userAgent": {}
                            }
                        }
                    },
                    "Errors": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "BatchListMfaDevicesForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "userList"
                ],
                "members": {
                    "userList": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userMfaDevicesEntryList"
                ],
                "members": {
                    "userMfaDevicesEntryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "user": {
                                    "shape": "Sj"
                                },
                                "mfaDevices": {
                                    "shape": "Sq"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CompleteVirtualMfaDeviceRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "user",
                    "authenticationCode1"
                ],
                "members": {
                    "user": {
                        "shape": "Sj"
                    },
                    "deviceName": {},
                    "deviceId": {},
                    "authenticationCode1": {
                        "type": "string",
                        "sensitive": true
                    },
                    "cloudTrailAdditionalMetadata": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaDevice": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CompleteWebAuthnDeviceRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "user",
                    "deviceId",
                    "publicKeyCredentialJSON"
                ],
                "members": {
                    "user": {
                        "shape": "Sj"
                    },
                    "deviceId": {},
                    "publicKeyCredentialJSON": {},
                    "cloudTrailAdditionalMetadata": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaDevice": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateAuthenticationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accessType",
                    "directoryId",
                    "authenticationConfigurations"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S17"
                    },
                    "accessType": {},
                    "directoryId": {},
                    "authenticationConfigurations": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {},
                    "samlConfiguration": {
                        "type": "structure",
                        "members": {
                            "idpConfig": {
                                "shape": "S1e"
                            },
                            "idpMetadata": {
                                "shape": "S1i"
                            },
                            "idpCertificate": {}
                        }
                    },
                    "oidcConfiguration": {
                        "type": "structure",
                        "required": [
                            "idpConfig"
                        ],
                        "members": {
                            "idpConfig": {
                                "shape": "S1l"
                            },
                            "clientSecret": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    },
                    "idpSAMLConfig": {
                        "shape": "S1e"
                    },
                    "idpSAMLMetadata": {
                        "shape": "S1i"
                    },
                    "idpCertificate": {},
                    "justInTimeProvisioningConfiguration": {
                        "shape": "S1t"
                    },
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idpId"
                ],
                "members": {
                    "idpId": {},
                    "idpCertificateId": {},
                    "idpCertificateIds": {
                        "shape": "S1w"
                    },
                    "awsSPSAMLConfig": {
                        "shape": "S1x"
                    },
                    "awsSPCertificateId": {},
                    "awsSPOIDCConfig": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateTrustedTokenIssuerConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "idCInstanceId",
                    "maxTrustedTokenIssuer",
                    "idempotencyToken",
                    "trustedTokenIssuerName",
                    "trustedTokenIssuerType",
                    "trustedTokenIssuerConfiguration"
                ],
                "members": {
                    "idCInstanceId": {},
                    "maxTrustedTokenIssuer": {
                        "type": "integer"
                    },
                    "idempotencyToken": {},
                    "trustedTokenIssuerName": {},
                    "trustedTokenIssuerType": {},
                    "trustedTokenIssuerConfiguration": {
                        "shape": "S27"
                    },
                    "accountId": {},
                    "tags": {
                        "shape": "S2f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trustedTokenIssuerConfigId"
                ],
                "members": {
                    "trustedTokenIssuerConfigId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteAuthenticationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accessType"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S17"
                    },
                    "accessType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteExternalIdPCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId",
                    "certificateId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {},
                    "certificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteMfaDeviceForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "user"
                ],
                "members": {
                    "user": {
                        "shape": "Sj"
                    },
                    "deviceId": {},
                    "deviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteTrustedTokenIssuerConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "trustedTokenIssuerConfigId",
                    "idCInstanceId"
                ],
                "members": {
                    "trustedTokenIssuerConfigId": {},
                    "idCInstanceId": {},
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DisableExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "EnableExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {},
                    "allowedIdPs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "authenticationType"
                            ],
                            "members": {
                                "authenticationType": {},
                                "idpId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetAWSSPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "awsSPSAMLConfig",
                    "awsSPCertificateIds",
                    "awsSPOIDCConfig"
                ],
                "members": {
                    "awsSPSAMLConfig": {
                        "shape": "S1x"
                    },
                    "awsSPCertificateIds": {
                        "shape": "S1w"
                    },
                    "awsSPOIDCConfig": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetAppAuthenticationConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AuthenticationMode"
                ],
                "members": {
                    "AuthenticationMode": {},
                    "noMFASignInBehavior": {},
                    "noPasswordSignInBehavior": {},
                    "allowedMfaTypes": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetAuthenticationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accessType"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S17"
                    },
                    "accessType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "authenticationConfigurations": {
                        "shape": "S19"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetAuthenticationTypeForDirectoryPrivate": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "authenticationType"
                ],
                "members": {
                    "authenticationType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetMfaDeviceManagementForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userPermission"
                ],
                "members": {
                    "userPermission": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetSessionConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {},
                    "principal": {
                        "shape": "S42"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "sessionConfiguration": {
                        "shape": "S3a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetTrustedTokenIssuerConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "trustedTokenIssuerConfigId",
                    "idCInstanceId"
                ],
                "members": {
                    "trustedTokenIssuerConfigId": {},
                    "idCInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idCInstanceId",
                    "trustedTokenIssuerName",
                    "trustedTokenIssuerConfiguration"
                ],
                "members": {
                    "idCInstanceId": {},
                    "trustedTokenIssuerName": {},
                    "trustedTokenIssuerConfiguration": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetUserCapabilities": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "allowedMfaTypes",
                    "userPermission"
                ],
                "members": {
                    "allowedMfaTypes": {
                        "shape": "S2z"
                    },
                    "userPermission": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ImportExternalIdPCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId",
                    "x509CertificateInPEM",
                    "certificateUse"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {},
                    "x509CertificateInPEM": {},
                    "certificateUse": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "certificateId"
                ],
                "members": {
                    "certificateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ListExternalIdPCertificates": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idPCertificates"
                ],
                "members": {
                    "idPCertificates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "certificateId",
                                "serialNumber",
                                "subjectName",
                                "issuerName",
                                "signatureAlgorithmName",
                                "publicKey",
                                "notBefore",
                                "notAfter",
                                "version",
                                "x509CertificateInPEM"
                            ],
                            "members": {
                                "certificateId": {},
                                "serialNumber": {
                                    "type": "biginteger"
                                },
                                "serialNumberString": {},
                                "subjectName": {},
                                "issuerName": {},
                                "signatureAlgorithmName": {},
                                "publicKey": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "notBefore": {
                                    "type": "timestamp"
                                },
                                "notAfter": {
                                    "type": "timestamp"
                                },
                                "version": {
                                    "type": "integer"
                                },
                                "x509CertificateInPEM": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
[...]
