{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "appsync",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWSAppSync",
        "serviceFullName": "AWS AppSync",
        "serviceId": "AppSync",
        "signatureVersion": "v4",
        "signingName": "appsync",
        "uid": "appsync-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DOQKKUQFYVWW5WEWTSC7WL6N4B7EX7QDHNB6KNLW47CIZBSAY3IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateApi": {
            "http": {
                "requestUri": "/v1/domainnames/{domainName}/apiassociation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName",
                    "apiId"
                ],
                "members": {
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    },
                    "apiId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "apiAssociation": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/f0f325c609ffaf0a93aef4a9a9b013cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js"
            ]
        },
        "CreateApiCache": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/ApiCaches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "ttl",
                    "apiCachingBehavior",
                    "type"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "ttl": {
                        "type": "long"
                    },
                    "transitEncryptionEnabled": {
                        "type": "boolean"
                    },
                    "atRestEncryptionEnabled": {
                        "type": "boolean"
                    },
                    "apiCachingBehavior": {},
                    "type": {},
                    "healthMetricsConfig": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "apiCache": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOQKKUQFYVWW5WEWTSC7WL6N4B7EX7QDHNB6KNLW47CIZBSAY3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "CreateApiKey": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/apikeys"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "description": {},
                    "expires": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "apiKey": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOQKKUQFYVWW5WEWTSC7WL6N4B7EX7QDHNB6KNLW47CIZBSAY3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "CreateDataSource": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/datasources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "name",
                    "type"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "name": {},
                    "description": {},
                    "type": {},
                    "serviceRoleArn": {},
                    "dynamodbConfig": {
                        "shape": "Sl"
                    },
                    "lambdaConfig": {
                        "shape": "Sn"
                    },
                    "elasticsearchConfig": {
                        "shape": "So"
                    },
                    "openSearchServiceConfig": {
                        "shape": "Sp"
                    },
                    "httpConfig": {
                        "shape": "Sq"
                    },
                    "relationalDatabaseConfig": {
                        "shape": "Su"
                    },
                    "eventBridgeConfig": {
                        "shape": "S16"
                    },
                    "metricsConfig": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataSource": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOQKKUQFYVWW5WEWTSC7WL6N4B7EX7QDHNB6KNLW47CIZBSAY3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "CreateDomainName": {
            "http": {
                "requestUri": "/v1/domainnames"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName",
                    "certificateArn"
                ],
                "members": {
                    "domainName": {},
                    "certificateArn": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domainNameConfig": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/f0f325c609ffaf0a93aef4a9a9b013cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js"
            ]
        },
        "CreateFunction": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/functions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "name",
                    "dataSourceName"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "name": {},
                    "description": {},
                    "dataSourceName": {},
                    "requestMappingTemplate": {},
                    "responseMappingTemplate": {},
                    "functionVersion": {},
                    "syncConfig": {
                        "shape": "S16"
                    },
                    "maxBatchSize": {
                        "type": "integer"
                    },
                    "runtime": {
                        "shape": "S1b"
                    },
                    "code": {},
                    "cachingConfig": {
                        "shape": "S1i",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "functionConfiguration": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOQKKUQFYVWW5WEWTSC7WL6N4B7EX7QDHNB6KNLW47CIZBSAY3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "CreateGraphqlApi": {
            "http": {
                "requestUri": "/v1/apis"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "authenticationType"
                ],
                "members": {
                    "name": {},
                    "logConfig": {
                        "shape": "S1h"
                    },
                    "authenticationType": {},
                    "userPoolConfig": {
                        "shape": "S1k"
                    },
                    "openIDConnectConfig": {
                        "shape": "S1m"
                    },
                    "tags": {
                        "shape": "S1n"
                    },
                    "additionalAuthenticationProviders": {
                        "shape": "S1q"
                    },
                    "xrayEnabled": {
                        "type": "boolean"
                    },
                    "lambdaAuthorizerConfig": {
                        "shape": "S1t"
                    },
                    "visibility": {},
                    "apiType": {},
                    "mergedApiExecutionRoleArn": {},
                    "ownerContact": {},
                    "introspectionConfig": {},
                    "queryDepthLimit": {
                        "type": "integer"
                    },
                    "resolverCountLimit": {
                        "type": "integer"
                    },
                    "enhancedMetricsConfig": {
                        "shape": "S2g",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "graphqlApi": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOQKKUQFYVWW5WEWTSC7WL6N4B7EX7QDHNB6KNLW47CIZBSAY3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "CreateResolver": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "typeName",
                    "fieldName"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "typeName": {
                        "location": "uri",
                        "locationName": "typeName"
                    },
                    "fieldName": {},
                    "dataSourceName": {},
                    "requestMappingTemplate": {},
                    "responseMappingTemplate": {},
                    "kind": {},
                    "pipelineConfig": {
                        "shape": "S20"
                    },
                    "syncConfig": {
                        "shape": "S16"
                    },
                    "cachingConfig": {
                        "shape": "S22"
                    },
                    "maxBatchSize": {
                        "type": "integer"
                    },
                    "runtime": {
                        "shape": "S1b"
                    },
                    "code": {},
                    "metricsConfig": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resolver": {
                        "shape": "S25"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOQKKUQFYVWW5WEWTSC7WL6N4B7EX7QDHNB6KNLW47CIZBSAY3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "CreateType": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/types"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "definition",
                    "format"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "definition": {},
                    "format": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "type": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOQKKUQFYVWW5WEWTSC7WL6N4B7EX7QDHNB6KNLW47CIZBSAY3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "DeleteApiCache": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/ApiCaches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOQKKUQFYVWW5WEWTSC7WL6N4B7EX7QDHNB6KNLW47CIZBSAY3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "DeleteApiKey": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/apikeys/{id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "id"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOQKKUQFYVWW5WEWTSC7WL6N4B7EX7QDHNB6KNLW47CIZBSAY3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "DeleteDataSource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/datasources/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "name"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOQKKUQFYVWW5WEWTSC7WL6N4B7EX7QDHNB6KNLW47CIZBSAY3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "DeleteDomainName": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/domainnames/{domainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName"
                ],
                "members": {
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/f0f325c609ffaf0a93aef4a9a9b013cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js"
            ]
        },
        "DeleteFunction": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/functions/{functionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "functionId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "functionId": {
                        "location": "uri",
                        "locationName": "functionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOQKKUQFYVWW5WEWTSC7WL6N4B7EX7QDHNB6KNLW47CIZBSAY3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "DeleteGraphqlApi": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOQKKUQFYVWW5WEWTSC7WL6N4B7EX7QDHNB6KNLW47CIZBSAY3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "DeleteResolver": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "typeName",
                    "fieldName"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "typeName": {
                        "location": "uri",
                        "locationName": "typeName"
                    },
                    "fieldName": {
                        "location": "uri",
                        "locationName": "fieldName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOQKKUQFYVWW5WEWTSC7WL6N4B7EX7QDHNB6KNLW47CIZBSAY3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "DeleteType": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/types/{typeName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "typeName"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "typeName": {
                        "location": "uri",
                        "locationName": "typeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOQKKUQFYVWW5WEWTSC7WL6N4B7EX7QDHNB6KNLW47CIZBSAY3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "DisassociateApi": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/domainnames/{domainName}/apiassociation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName"
                ],
                "members": {
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/f0f325c609ffaf0a93aef4a9a9b013cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js"
            ]
        },
        "EvaluateCode": {
            "http": {
                "requestUri": "/v1/dataplane-evaluatecode"
            },
            "input": {
                "type": "structure",
                "required": [
                    "runtime",
                    "code",
                    "context"
                ],
                "members": {
                    "runtime": {
                        "shape": "S1b"
                    },
                    "code": {},
                    "context": {},
                    "function": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "evaluationResult": {},
                    "error": {
                        "type": "structure",
                        "members": {
                            "message": {},
                            "codeErrors": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "errorType": {},
                                        "value": {},
                                        "location": {
                                            "type": "structure",
                                            "members": {
                                                "line": {
                                                    "type": "integer"
                                                },
                                                "column": {
                                                    "type": "integer"
                                                },
                                                "span": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "logs": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/e6142a439cb30a6139b7de993b22b924.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/f0f325c609ffaf0a93aef4a9a9b013cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js"
            ]
        },
        "EvaluateMappingTemplate": {
            "http": {
                "requestUri": "/v1/dataplane-evaluatetemplate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "template",
                    "context"
                ],
                "members": {
                    "template": {},
                    "context": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "evaluationResult": {},
                    "error": {
                        "type": "structure",
                        "members": {
                            "message": {}
                        }
                    },
                    "logs": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/e6142a439cb30a6139b7de993b22b924.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/f0f325c609ffaf0a93aef4a9a9b013cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js"
            ]
        },
        "FlushApiCache": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/FlushCache"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/af955f3e029279f27965556319f9d6cf.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DOQKKUQFYVWW5WEWTSC7WL6N4B7EX7QDHNB6KNLW47CIZBSAY3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/7eec5f62793f21643ca6564e6c7ca1bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "GetApiAssociation": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/domainnames/{domainName}/apiassociation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName"
                ],
                "members": {
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "apiAssociation": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/f0f325c609ffaf0a93aef4a9a9b013cd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/b0fb5d523ca67517c2ea5a1bb8239ea4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/51ecf8c827afb500c9264ef6f57882dd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/832658b3b7fd2f8f7b6398ade2a29d53.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/db4062caf9759fe284a05a6278cb3493.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGVSMOKIWOACE75DW2JWPR2TO5OIHLD5AIXLHU65BXLFAIB7DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/52d2ec7007c5238ef0713513cdf17020.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/972245d0e6b1c7aa2aafd2521ff7c374.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/16488d443b502a8292aaf0cb649f4fa8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/af955f3e029279f27965556319f9d6cf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
[...]
