{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "appsync",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWSAppSync",
        "serviceFullName": "AWS AppSync",
        "serviceId": "AppSync",
        "signatureVersion": "v4",
        "signingName": "appsync",
        "uid": "appsync-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
        ]
    },
    "operations": {
        "AssociateApi": {
            "http": {
                "requestUri": "/v1/domainnames/{domainName}/apiassociation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName",
                    "apiId"
                ],
                "members": {
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    },
                    "apiId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "apiAssociation": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "CreateApiCache": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/ApiCaches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "ttl",
                    "apiCachingBehavior",
                    "type"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "ttl": {
                        "type": "long"
                    },
                    "transitEncryptionEnabled": {
                        "type": "boolean"
                    },
                    "atRestEncryptionEnabled": {
                        "type": "boolean"
                    },
                    "apiCachingBehavior": {},
                    "type": {},
                    "healthMetricsConfig": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "apiCache": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "CreateApiKey": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/apikeys"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "description": {},
                    "expires": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "apiKey": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "CreateDataSource": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/datasources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "name",
                    "type"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "name": {},
                    "description": {},
                    "type": {},
                    "serviceRoleArn": {},
                    "dynamodbConfig": {
                        "shape": "Sl"
                    },
                    "lambdaConfig": {
                        "shape": "Sn"
                    },
                    "elasticsearchConfig": {
                        "shape": "So"
                    },
                    "openSearchServiceConfig": {
                        "shape": "Sp"
                    },
                    "httpConfig": {
                        "shape": "Sq"
                    },
                    "relationalDatabaseConfig": {
                        "shape": "Su"
                    },
                    "eventBridgeConfig": {
                        "shape": "S16"
                    },
                    "metricsConfig": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataSource": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "CreateDomainName": {
            "http": {
                "requestUri": "/v1/domainnames"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName",
                    "certificateArn"
                ],
                "members": {
                    "domainName": {},
                    "certificateArn": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domainNameConfig": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "CreateFunction": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/functions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "name",
                    "dataSourceName"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "name": {},
                    "description": {},
                    "dataSourceName": {},
                    "requestMappingTemplate": {},
                    "responseMappingTemplate": {},
                    "functionVersion": {},
                    "syncConfig": {
                        "shape": "S16"
                    },
                    "maxBatchSize": {
                        "type": "integer"
                    },
                    "runtime": {
                        "shape": "S1b"
                    },
                    "code": {},
                    "cachingConfig": {
                        "shape": "S1i",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "functionConfiguration": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "CreateGraphqlApi": {
            "http": {
                "requestUri": "/v1/apis"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "authenticationType"
                ],
                "members": {
                    "name": {},
                    "logConfig": {
                        "shape": "S1h"
                    },
                    "authenticationType": {},
                    "userPoolConfig": {
                        "shape": "S1k"
                    },
                    "openIDConnectConfig": {
                        "shape": "S1m"
                    },
                    "tags": {
                        "shape": "S1n"
                    },
                    "additionalAuthenticationProviders": {
                        "shape": "S1q"
                    },
                    "xrayEnabled": {
                        "type": "boolean"
                    },
                    "lambdaAuthorizerConfig": {
                        "shape": "S1t"
                    },
                    "visibility": {},
                    "apiType": {},
                    "mergedApiExecutionRoleArn": {},
                    "ownerContact": {},
                    "introspectionConfig": {},
                    "queryDepthLimit": {
                        "type": "integer"
                    },
                    "resolverCountLimit": {
                        "type": "integer"
                    },
                    "enhancedMetricsConfig": {
                        "shape": "S2g",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "graphqlApi": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "CreateResolver": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "typeName",
                    "fieldName"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "typeName": {
                        "location": "uri",
                        "locationName": "typeName"
                    },
                    "fieldName": {},
                    "dataSourceName": {},
                    "requestMappingTemplate": {},
                    "responseMappingTemplate": {},
                    "kind": {},
                    "pipelineConfig": {
                        "shape": "S20"
                    },
                    "syncConfig": {
                        "shape": "S16"
                    },
                    "cachingConfig": {
                        "shape": "S22"
                    },
                    "maxBatchSize": {
                        "type": "integer"
                    },
                    "runtime": {
                        "shape": "S1b"
                    },
                    "code": {},
                    "metricsConfig": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resolver": {
                        "shape": "S25"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "CreateType": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/types"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "definition",
                    "format"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "definition": {},
                    "format": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "type": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "DeleteApiCache": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/ApiCaches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "DeleteApiKey": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/apikeys/{id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "id"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "DeleteDataSource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/datasources/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "name"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "DeleteDomainName": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/domainnames/{domainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName"
                ],
                "members": {
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "DeleteFunction": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/functions/{functionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "functionId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "functionId": {
                        "location": "uri",
                        "locationName": "functionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "DeleteGraphqlApi": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "DeleteResolver": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "typeName",
                    "fieldName"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "typeName": {
                        "location": "uri",
                        "locationName": "typeName"
                    },
                    "fieldName": {
                        "location": "uri",
                        "locationName": "fieldName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "DeleteType": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/types/{typeName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "typeName"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "typeName": {
                        "location": "uri",
                        "locationName": "typeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "DisassociateApi": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/domainnames/{domainName}/apiassociation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName"
                ],
                "members": {
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "EvaluateCode": {
            "http": {
                "requestUri": "/v1/dataplane-evaluatecode"
            },
            "input": {
                "type": "structure",
                "required": [
                    "runtime",
                    "code",
                    "context"
                ],
                "members": {
                    "runtime": {
                        "shape": "S1b"
                    },
                    "code": {},
                    "context": {},
                    "function": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "evaluationResult": {},
                    "error": {
                        "type": "structure",
                        "members": {
                            "message": {},
                            "codeErrors": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "errorType": {},
                                        "value": {},
                                        "location": {
                                            "type": "structure",
                                            "members": {
                                                "line": {
                                                    "type": "integer"
                                                },
                                                "column": {
                                                    "type": "integer"
                                                },
                                                "span": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "logs": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "EvaluateMappingTemplate": {
            "http": {
                "requestUri": "/v1/dataplane-evaluatetemplate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "template",
                    "context"
                ],
                "members": {
                    "template": {},
                    "context": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "evaluationResult": {},
                    "error": {
                        "type": "structure",
                        "members": {
                            "message": {}
                        }
                    },
                    "logs": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "FlushApiCache": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/FlushCache"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZK7YRCON7BVAC7GQVHCBAETTYDPHRI2PCT5JHA2XDMJ234ZJ6JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "GetApiAssociation": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/domainnames/{domainName}/apiassociation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName"
                ],
                "members": {
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "apiAssociation": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEXLVG5QEBJWEZN7M45NKOVS7R3SZHEWVFKG2GHYZYXAC4V6G72Q/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3TSSNC6HFLQMZJ6MVNCSZCR5MOHNTHG4GYGVISFO65YVTAUUSMQ/382ebe082e25b125e721cf88e00427bd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2O2E232FTZKKP5EYMCUDB6IEG7FUTCS4P6CMEE73USNZBBS32OQ/7a006e2ee213f649e1b750c157caec96.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2SG2KUA5J7TK52S576R2QAY6EQ6ULGSNYJEI4TDUVCWI5P2NF3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DIQNMJOHDSFVCCDJ45BTJIE5JU6FHTFA7VTNXTEZZC4XC2KYLJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/1ff71b59aacf8ace3fac100a100ef8ca.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPXNKWU3GOWMLDDOLGACCARHPT24I562WPCNW66NUFE72QBUOTWA/vendors.js"
            ]
        },
        "GetApiCache": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/apis/{apiId}/ApiCaches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "apiCache": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/aaa8e4d1481cccbdcf073053d121457a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOXH5Z7FWWR2W62N74CXKVD6T5TVOTESGQYF2LUA3SJEYL5KP67A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL6MQJXJQFTKL5HVVQSGEM4QL3MEQC3WRFOAWOLUDUQZKWRQI2XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/91a3205685fee5901e76cca0558398ff.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
[...]
