{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-25",
        "endpointPrefix": "appsauth",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AppsAuthControl Service",
        "serviceId": "appsauth",
        "signatureVersion": "v4",
        "targetPrefix": "AppsAuthControlPlaneService",
        "uid": "appsauth-control-2018-10-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
        ]
    },
    "operations": {
        "BatchDeleteSession": {
            "input": {
                "type": "structure",
                "required": [
                    "SessionIds"
                ],
                "members": {
                    "SessionIds": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SessionsDeleted"
                ],
                "members": {
                    "SessionsDeleted": {
                        "shape": "S2"
                    },
                    "Errors": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "BatchGetSession": {
            "input": {
                "type": "structure",
                "required": [
                    "SessionIds"
                ],
                "members": {
                    "SessionIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SessionList"
                ],
                "members": {
                    "SessionList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "userId": {},
                                "sessionId": {},
                                "ipAddress": {
                                    "shape": "Sf"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "sessionNotValidAfter": {
                                    "type": "timestamp"
                                },
                                "userAgent": {}
                            }
                        }
                    },
                    "Errors": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "BatchListMfaDevicesForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "userList"
                ],
                "members": {
                    "userList": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userMfaDevicesEntryList"
                ],
                "members": {
                    "userMfaDevicesEntryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "user": {
                                    "shape": "Sj"
                                },
                                "mfaDevices": {
                                    "shape": "Sq"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "CompleteVirtualMfaDeviceRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "user",
                    "authenticationCode1"
                ],
                "members": {
                    "user": {
                        "shape": "Sj"
                    },
                    "deviceName": {},
                    "deviceId": {},
                    "authenticationCode1": {
                        "type": "string",
                        "sensitive": true
                    },
                    "cloudTrailAdditionalMetadata": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaDevice": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "CompleteWebAuthnDeviceRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "user",
                    "deviceId",
                    "publicKeyCredentialJSON"
                ],
                "members": {
                    "user": {
                        "shape": "Sj"
                    },
                    "deviceId": {},
                    "publicKeyCredentialJSON": {},
                    "cloudTrailAdditionalMetadata": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaDevice": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "CreateAuthenticationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accessType",
                    "directoryId",
                    "authenticationConfigurations"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S17"
                    },
                    "accessType": {},
                    "directoryId": {},
                    "authenticationConfigurations": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "CreateExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {},
                    "samlConfiguration": {
                        "type": "structure",
                        "members": {
                            "idpConfig": {
                                "shape": "S1e"
                            },
                            "idpMetadata": {
                                "shape": "S1i"
                            },
                            "idpCertificate": {}
                        }
                    },
                    "oidcConfiguration": {
                        "type": "structure",
                        "required": [
                            "idpConfig"
                        ],
                        "members": {
                            "idpConfig": {
                                "shape": "S1l"
                            },
                            "clientSecret": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    },
                    "idpSAMLConfig": {
                        "shape": "S1e"
                    },
                    "idpSAMLMetadata": {
                        "shape": "S1i"
                    },
                    "idpCertificate": {},
                    "justInTimeProvisioningConfiguration": {
                        "shape": "S1t"
                    },
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idpId"
                ],
                "members": {
                    "idpId": {},
                    "idpCertificateId": {},
                    "idpCertificateIds": {
                        "shape": "S1w"
                    },
                    "awsSPSAMLConfig": {
                        "shape": "S1x"
                    },
                    "awsSPCertificateId": {},
                    "awsSPOIDCConfig": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "CreateTrustedTokenIssuerConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "idCInstanceId",
                    "maxTrustedTokenIssuer",
                    "idempotencyToken",
                    "trustedTokenIssuerName",
                    "trustedTokenIssuerType",
                    "trustedTokenIssuerConfiguration"
                ],
                "members": {
                    "idCInstanceId": {},
                    "maxTrustedTokenIssuer": {
                        "type": "integer"
                    },
                    "idempotencyToken": {},
                    "trustedTokenIssuerName": {},
                    "trustedTokenIssuerType": {},
                    "trustedTokenIssuerConfiguration": {
                        "shape": "S27"
                    },
                    "accountId": {},
                    "tags": {
                        "shape": "S2f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trustedTokenIssuerConfigId"
                ],
                "members": {
                    "trustedTokenIssuerConfigId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "DeleteAuthenticationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accessType"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S17"
                    },
                    "accessType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "DeleteExternalIdPCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId",
                    "certificateId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {},
                    "certificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "DeleteExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "DeleteMfaDeviceForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "user"
                ],
                "members": {
                    "user": {
                        "shape": "Sj"
                    },
                    "deviceId": {},
                    "deviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "DeleteTrustedTokenIssuerConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "trustedTokenIssuerConfigId",
                    "idCInstanceId"
                ],
                "members": {
                    "trustedTokenIssuerConfigId": {},
                    "idCInstanceId": {},
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "DisableExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "EnableExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {},
                    "allowedIdPs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "authenticationType"
                            ],
                            "members": {
                                "authenticationType": {},
                                "idpId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "GetAWSSPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "awsSPSAMLConfig",
                    "awsSPCertificateIds",
                    "awsSPOIDCConfig"
                ],
                "members": {
                    "awsSPSAMLConfig": {
                        "shape": "S1x"
                    },
                    "awsSPCertificateIds": {
                        "shape": "S1w"
                    },
                    "awsSPOIDCConfig": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "GetAppAuthenticationConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AuthenticationMode"
                ],
                "members": {
                    "AuthenticationMode": {},
                    "noMFASignInBehavior": {},
                    "noPasswordSignInBehavior": {},
                    "allowedMfaTypes": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "GetAuthenticationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accessType"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S17"
                    },
                    "accessType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "authenticationConfigurations": {
                        "shape": "S19"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "GetAuthenticationTypeForDirectoryPrivate": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "authenticationType"
                ],
                "members": {
                    "authenticationType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "GetMfaDeviceManagementForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userPermission"
                ],
                "members": {
                    "userPermission": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "GetSessionConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "sessionConfiguration": {
                        "shape": "S3a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "GetTrustedTokenIssuerConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "trustedTokenIssuerConfigId",
                    "idCInstanceId"
                ],
                "members": {
                    "trustedTokenIssuerConfigId": {},
                    "idCInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idCInstanceId",
                    "trustedTokenIssuerName",
                    "trustedTokenIssuerConfiguration"
                ],
                "members": {
                    "idCInstanceId": {},
                    "trustedTokenIssuerName": {},
                    "trustedTokenIssuerConfiguration": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "GetUserCapabilities": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "allowedMfaTypes",
                    "userPermission"
                ],
                "members": {
                    "allowedMfaTypes": {
                        "shape": "S2z"
                    },
                    "userPermission": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "ImportExternalIdPCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId",
                    "x509CertificateInPEM",
                    "certificateUse"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {},
                    "x509CertificateInPEM": {},
                    "certificateUse": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "certificateId"
                ],
                "members": {
                    "certificateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "ListExternalIdPCertificates": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idPCertificates"
                ],
                "members": {
                    "idPCertificates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "certificateId",
                                "serialNumber",
                                "subjectName",
                                "issuerName",
                                "signatureAlgorithmName",
                                "publicKey",
                                "notBefore",
                                "notAfter",
                                "version",
                                "x509CertificateInPEM"
                            ],
                            "members": {
                                "certificateId": {},
                                "serialNumber": {
                                    "type": "biginteger"
                                },
                                "serialNumberString": {},
                                "subjectName": {},
                                "issuerName": {},
                                "signatureAlgorithmName": {},
                                "publicKey": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "notBefore": {
                                    "type": "timestamp"
                                },
                                "notAfter": {
                                    "type": "timestamp"
                                },
                                "version": {
                                    "type": "integer"
                                },
                                "x509CertificateInPEM": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
[...]
