{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-25",
        "endpointPrefix": "appsauth",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AppsAuthControl Service",
        "serviceId": "appsauth",
        "signatureVersion": "v4",
        "targetPrefix": "AppsAuthControlPlaneService",
        "uid": "appsauth-control-2018-10-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
        ]
    },
    "operations": {
        "BatchDeleteSession": {
            "input": {
                "type": "structure",
                "required": [
                    "SessionIds"
                ],
                "members": {
                    "SessionIds": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SessionsDeleted"
                ],
                "members": {
                    "SessionsDeleted": {
                        "shape": "S2"
                    },
                    "Errors": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "BatchGetSession": {
            "input": {
                "type": "structure",
                "required": [
                    "SessionIds"
                ],
                "members": {
                    "SessionIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SessionList"
                ],
                "members": {
                    "SessionList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "userId": {},
                                "sessionId": {},
                                "ipAddress": {
                                    "shape": "Sf"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "sessionNotValidAfter": {
                                    "type": "timestamp"
                                },
                                "userAgent": {}
                            }
                        }
                    },
                    "Errors": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "BatchListMfaDevicesForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "userList"
                ],
                "members": {
                    "userList": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userMfaDevicesEntryList"
                ],
                "members": {
                    "userMfaDevicesEntryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "user": {
                                    "shape": "Sj"
                                },
                                "mfaDevices": {
                                    "shape": "Sq"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "CompleteVirtualMfaDeviceRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "user",
                    "authenticationCode1"
                ],
                "members": {
                    "user": {
                        "shape": "Sj"
                    },
                    "deviceName": {},
                    "deviceId": {},
                    "authenticationCode1": {
                        "type": "string",
                        "sensitive": true
                    },
                    "cloudTrailAdditionalMetadata": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaDevice": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "CompleteWebAuthnDeviceRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "user",
                    "deviceId",
                    "publicKeyCredentialJSON"
                ],
                "members": {
                    "user": {
                        "shape": "Sj"
                    },
                    "deviceId": {},
                    "publicKeyCredentialJSON": {},
                    "cloudTrailAdditionalMetadata": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaDevice": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "CreateAuthenticationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accessType",
                    "directoryId",
                    "authenticationConfigurations"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S17"
                    },
                    "accessType": {},
                    "directoryId": {},
                    "authenticationConfigurations": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "CreateExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {},
                    "samlConfiguration": {
                        "type": "structure",
                        "members": {
                            "idpConfig": {
                                "shape": "S1e"
                            },
                            "idpMetadata": {
                                "shape": "S1i"
                            },
                            "idpCertificate": {}
                        }
                    },
                    "oidcConfiguration": {
                        "type": "structure",
                        "required": [
                            "idpConfig"
                        ],
                        "members": {
                            "idpConfig": {
                                "shape": "S1l"
                            },
                            "clientSecret": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    },
                    "idpSAMLConfig": {
                        "shape": "S1e"
                    },
                    "idpSAMLMetadata": {
                        "shape": "S1i"
                    },
                    "idpCertificate": {},
                    "justInTimeProvisioningConfiguration": {
                        "shape": "S1t"
                    },
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idpId"
                ],
                "members": {
                    "idpId": {},
                    "idpCertificateId": {},
                    "idpCertificateIds": {
                        "shape": "S1w"
                    },
                    "awsSPSAMLConfig": {
                        "shape": "S1x"
                    },
                    "awsSPCertificateId": {},
                    "awsSPOIDCConfig": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "CreateTrustedTokenIssuerConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "idCInstanceId",
                    "maxTrustedTokenIssuer",
                    "idempotencyToken",
                    "trustedTokenIssuerName",
                    "trustedTokenIssuerType",
                    "trustedTokenIssuerConfiguration"
                ],
                "members": {
                    "idCInstanceId": {},
                    "maxTrustedTokenIssuer": {
                        "type": "integer"
                    },
                    "idempotencyToken": {},
                    "trustedTokenIssuerName": {},
                    "trustedTokenIssuerType": {},
                    "trustedTokenIssuerConfiguration": {
                        "shape": "S27"
                    },
                    "accountId": {},
                    "tags": {
                        "shape": "S2f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trustedTokenIssuerConfigId"
                ],
                "members": {
                    "trustedTokenIssuerConfigId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "DeleteAuthenticationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accessType"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S17"
                    },
                    "accessType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "DeleteExternalIdPCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId",
                    "certificateId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {},
                    "certificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "DeleteExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "DeleteMfaDeviceForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "user"
                ],
                "members": {
                    "user": {
                        "shape": "Sj"
                    },
                    "deviceId": {},
                    "deviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "DeleteTrustedTokenIssuerConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "trustedTokenIssuerConfigId",
                    "idCInstanceId"
                ],
                "members": {
                    "trustedTokenIssuerConfigId": {},
                    "idCInstanceId": {},
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "DisableExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "EnableExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {},
                    "allowedIdPs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "authenticationType"
                            ],
                            "members": {
                                "authenticationType": {},
                                "idpId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "GetAWSSPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "awsSPSAMLConfig",
                    "awsSPCertificateIds",
                    "awsSPOIDCConfig"
                ],
                "members": {
                    "awsSPSAMLConfig": {
                        "shape": "S1x"
                    },
                    "awsSPCertificateIds": {
                        "shape": "S1w"
                    },
                    "awsSPOIDCConfig": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "GetAppAuthenticationConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AuthenticationMode"
                ],
                "members": {
                    "AuthenticationMode": {},
                    "noMFASignInBehavior": {},
                    "noPasswordSignInBehavior": {},
                    "allowedMfaTypes": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "GetAuthenticationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accessType"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S17"
                    },
                    "accessType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "authenticationConfigurations": {
                        "shape": "S19"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "GetAuthenticationTypeForDirectoryPrivate": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "authenticationType"
                ],
                "members": {
                    "authenticationType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "GetMfaDeviceManagementForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userPermission"
                ],
                "members": {
                    "userPermission": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "GetSessionConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "sessionConfiguration": {
                        "shape": "S3a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "GetTrustedTokenIssuerConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "trustedTokenIssuerConfigId",
                    "idCInstanceId"
                ],
                "members": {
                    "trustedTokenIssuerConfigId": {},
                    "idCInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idCInstanceId",
                    "trustedTokenIssuerName",
                    "trustedTokenIssuerConfiguration"
                ],
                "members": {
                    "idCInstanceId": {},
                    "trustedTokenIssuerName": {},
                    "trustedTokenIssuerConfiguration": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "GetUserCapabilities": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "allowedMfaTypes",
                    "userPermission"
                ],
                "members": {
                    "allowedMfaTypes": {
                        "shape": "S2z"
                    },
                    "userPermission": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "ImportExternalIdPCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId",
                    "x509CertificateInPEM",
                    "certificateUse"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {},
                    "x509CertificateInPEM": {},
                    "certificateUse": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "certificateId"
                ],
                "members": {
                    "certificateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "ListExternalIdPCertificates": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idPCertificates"
                ],
                "members": {
                    "idPCertificates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "certificateId",
                                "serialNumber",
                                "subjectName",
                                "issuerName",
                                "signatureAlgorithmName",
                                "publicKey",
                                "notBefore",
                                "notAfter",
                                "version",
                                "x509CertificateInPEM"
                            ],
                            "members": {
                                "certificateId": {},
                                "serialNumber": {
                                    "type": "biginteger"
                                },
                                "serialNumberString": {},
                                "subjectName": {},
                                "issuerName": {},
                                "signatureAlgorithmName": {},
                                "publicKey": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "notBefore": {
                                    "type": "timestamp"
                                },
                                "notAfter": {
                                    "type": "timestamp"
                                },
                                "version": {
                                    "type": "integer"
                                },
                                "x509CertificateInPEM": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
[...]
