{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-25",
        "endpointPrefix": "appsauth",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AppsAuthControl Service",
        "serviceId": "appsauth",
        "signatureVersion": "v4",
        "targetPrefix": "AppsAuthControlPlaneService",
        "uid": "appsauth-control-2018-10-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
        ]
    },
    "operations": {
        "BatchDeleteSession": {
            "input": {
                "type": "structure",
                "required": [
                    "SessionIds"
                ],
                "members": {
                    "SessionIds": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SessionsDeleted"
                ],
                "members": {
                    "SessionsDeleted": {
                        "shape": "S2"
                    },
                    "Errors": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "BatchGetSession": {
            "input": {
                "type": "structure",
                "required": [
                    "SessionIds"
                ],
                "members": {
                    "SessionIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SessionList"
                ],
                "members": {
                    "SessionList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "userId": {},
                                "sessionId": {},
                                "ipAddress": {
                                    "shape": "Sf"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "sessionNotValidAfter": {
                                    "type": "timestamp"
                                },
                                "userAgent": {}
                            }
                        }
                    },
                    "Errors": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "BatchListMfaDevicesForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "userList"
                ],
                "members": {
                    "userList": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userMfaDevicesEntryList"
                ],
                "members": {
                    "userMfaDevicesEntryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "user": {
                                    "shape": "Sj"
                                },
                                "mfaDevices": {
                                    "shape": "Sq"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "CompleteVirtualMfaDeviceRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "user",
                    "authenticationCode1"
                ],
                "members": {
                    "user": {
                        "shape": "Sj"
                    },
                    "deviceName": {},
                    "deviceId": {},
                    "authenticationCode1": {
                        "type": "string",
                        "sensitive": true
                    },
                    "cloudTrailAdditionalMetadata": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaDevice": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "CompleteWebAuthnDeviceRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "user",
                    "deviceId",
                    "publicKeyCredentialJSON"
                ],
                "members": {
                    "user": {
                        "shape": "Sj"
                    },
                    "deviceId": {},
                    "publicKeyCredentialJSON": {},
                    "cloudTrailAdditionalMetadata": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaDevice": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "CreateAuthenticationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accessType",
                    "directoryId",
                    "authenticationConfigurations"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S17"
                    },
                    "accessType": {},
                    "directoryId": {},
                    "authenticationConfigurations": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "CreateExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {},
                    "samlConfiguration": {
                        "type": "structure",
                        "members": {
                            "idpConfig": {
                                "shape": "S1e"
                            },
                            "idpMetadata": {
                                "shape": "S1i"
                            },
                            "idpCertificate": {}
                        }
                    },
                    "oidcConfiguration": {
                        "type": "structure",
                        "required": [
                            "idpConfig"
                        ],
                        "members": {
                            "idpConfig": {
                                "shape": "S1l"
                            },
                            "clientSecret": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    },
                    "idpSAMLConfig": {
                        "shape": "S1e"
                    },
                    "idpSAMLMetadata": {
                        "shape": "S1i"
                    },
                    "idpCertificate": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idpId"
                ],
                "members": {
                    "idpId": {},
                    "idpCertificateId": {},
                    "idpCertificateIds": {
                        "shape": "S1w"
                    },
                    "awsSPSAMLConfig": {
                        "shape": "S1x"
                    },
                    "awsSPCertificateId": {},
                    "awsSPOIDCConfig": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "CreateTrustedTokenIssuerConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "idCInstanceId",
                    "maxTrustedTokenIssuer",
                    "idempotencyToken",
                    "trustedTokenIssuerName",
                    "trustedTokenIssuerType",
                    "trustedTokenIssuerConfiguration"
                ],
                "members": {
                    "idCInstanceId": {},
                    "maxTrustedTokenIssuer": {
                        "type": "integer"
                    },
                    "idempotencyToken": {},
                    "trustedTokenIssuerName": {},
                    "trustedTokenIssuerType": {},
                    "trustedTokenIssuerConfiguration": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trustedTokenIssuerConfigId"
                ],
                "members": {
                    "trustedTokenIssuerConfigId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DeleteAuthenticationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accessType"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S17"
                    },
                    "accessType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DeleteExternalIdPCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId",
                    "certificateId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {},
                    "certificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DeleteExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DeleteMfaDeviceForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "user"
                ],
                "members": {
                    "user": {
                        "shape": "Sj"
                    },
                    "deviceId": {},
                    "deviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DeleteTrustedTokenIssuerConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "trustedTokenIssuerConfigId",
                    "idCInstanceId"
                ],
                "members": {
                    "trustedTokenIssuerConfigId": {},
                    "idCInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DisableExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "EnableExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetAWSSPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "awsSPSAMLConfig",
                    "awsSPCertificateIds",
                    "awsSPOIDCConfig"
                ],
                "members": {
                    "awsSPSAMLConfig": {
                        "shape": "S1x"
                    },
                    "awsSPCertificateIds": {
                        "shape": "S1w"
                    },
                    "awsSPOIDCConfig": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetAppAuthenticationConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AuthenticationMode"
                ],
                "members": {
                    "AuthenticationMode": {},
                    "noMFASignInBehavior": {},
                    "noPasswordSignInBehavior": {},
                    "allowedMfaTypes": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetAuthenticationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accessType"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S17"
                    },
                    "accessType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "authenticationConfigurations": {
                        "shape": "S19"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetAuthenticationTypeForDirectoryPrivate": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "authenticationType"
                ],
                "members": {
                    "authenticationType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetMfaDeviceManagementForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userPermission"
                ],
                "members": {
                    "userPermission": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetSessionConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "sessionConfiguration": {
                        "shape": "S3a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetTrustedTokenIssuerConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "trustedTokenIssuerConfigId",
                    "idCInstanceId"
                ],
                "members": {
                    "trustedTokenIssuerConfigId": {},
                    "idCInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idCInstanceId",
                    "trustedTokenIssuerName",
                    "trustedTokenIssuerConfiguration"
                ],
                "members": {
                    "idCInstanceId": {},
                    "trustedTokenIssuerName": {},
                    "trustedTokenIssuerConfiguration": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetUserCapabilities": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "allowedMfaTypes",
                    "userPermission"
                ],
                "members": {
                    "allowedMfaTypes": {
                        "shape": "S2z"
                    },
                    "userPermission": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ImportExternalIdPCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId",
                    "x509CertificateInPEM",
                    "certificateUse"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {},
                    "x509CertificateInPEM": {},
                    "certificateUse": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "certificateId"
                ],
                "members": {
                    "certificateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ListExternalIdPCertificates": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idPCertificates"
                ],
                "members": {
                    "idPCertificates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "certificateId",
                                "serialNumber",
                                "subjectName",
                                "issuerName",
                                "signatureAlgorithmName",
                                "publicKey",
                                "notBefore",
                                "notAfter",
                                "version",
                                "x509CertificateInPEM"
                            ],
                            "members": {
                                "certificateId": {},
                                "serialNumber": {
                                    "type": "biginteger"
                                },
                                "serialNumberString": {},
                                "subjectName": {},
                                "issuerName": {},
                                "signatureAlgorithmName": {},
                                "publicKey": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "notBefore": {
                                    "type": "timestamp"
                                },
                                "notAfter": {
                                    "type": "timestamp"
                                },
                                "version": {
                                    "type": "integer"
                                },
                                "x509CertificateInPEM": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ListExternalIdPConfigurationsForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "associations"
                ],
                "members": {
                    "associations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "idpId",
                                "isEnabled"
                            ],
                            "members": {
                                "idpId": {},
                                "isEnabled": {
                                    "type": "boolean"
                                },
                                "idpSAMLAssociationValue": {
                                    "type": "structure",
                                    "required": [
                                        "idpSAMLConfig",
                                        "idpCertificateIds"
                                    ],
                                    "members": {
                                        "idpSAMLConfig": {
                                            "shape": "S1e"
                                        },
                                        "idpCertificateIds": {
                                            "shape": "S40"
                                        }
                                    }
                                },
                                "idpOIDCAssociationValue": {
                                    "type": "structure",
                                    "required": [
                                        "idpOIDCConfig"
                                    ],
                                    "members": {
                                        "idpOIDCConfig": {
                                            "shape": "S1l"
                                        }
                                    }
                                },
                                "idpSAMLConfig": {
                                    "shape": "S1e"
                                },
                                "idpCertificateIds": {
                                    "shape": "S40"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ListMfaDevicesForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userMfaDeviceList"
                ],
                "members": {
                    "userMfaDeviceList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "user": {
                                    "shape": "Sj"
                                },
                                "mfaDevice": {
                                    "shape": "Sr"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ListMfaDevicesForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "user"
                ],
                "members": {
                    "user": {
                        "shape": "Sj"
                    },
                    "cloudTrailAdditionalMetadata": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "mfaDevices"
                ],
                "members": {
                    "mfaDevices": {
                        "shape": "Sq"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ListSessions": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserId": {},
                    "SessionIds": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ListTrustedTokenIssuerConfigs": {
            "input": {
                "type": "structure",
                "required": [
                    "idCInstanceId"
                ],
                "members": {
                    "idCInstanceId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trustedTokenIssuerConfigIdList"
                ],
                "members": {
                    "trustedTokenIssuerConfigIdList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "PutAppAuthenticationConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "authenticationMode"
                ],
                "members": {
                    "accountId": {},
                    "authenticationMode": {},
                    "noMFASignInBehavior": {},
                    "noPasswordSignInBehavior": {},
                    "allowedMfaTypes": {
                        "shape": "S2z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "PutDirectoryAccountMapping": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "accountId"
                ],
                "members": {
                    "directoryId": {},
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "PutMfaDeviceManagementForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "userPermission"
                ],
                "members": {
                    "directoryId": {},
                    "userPermission": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "PutSessionConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "sessionConfiguration"
                ],
                "members": {
                    "accountId": {},
                    "sessionConfiguration": {
                        "shape": "S3a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
[...]
