{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "appsync",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWSAppSync",
        "serviceFullName": "AWS AppSync",
        "serviceId": "AppSync",
        "signatureVersion": "v4",
        "signingName": "appsync",
        "uid": "appsync-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YQ6L3IJFJUG7CT5C3TSVRUSIN2IGZDENSAXPXC3TBQ74WIEIRJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateApi": {
            "http": {
                "requestUri": "/v1/domainnames/{domainName}/apiassociation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName",
                    "apiId"
                ],
                "members": {
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    },
                    "apiId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "apiAssociation": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateApiCache": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/ApiCaches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "ttl",
                    "apiCachingBehavior",
                    "type"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "ttl": {
                        "type": "long"
                    },
                    "transitEncryptionEnabled": {
                        "type": "boolean"
                    },
                    "atRestEncryptionEnabled": {
                        "type": "boolean"
                    },
                    "apiCachingBehavior": {},
                    "type": {},
                    "healthMetricsConfig": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "apiCache": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateApiKey": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/apikeys"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "description": {},
                    "expires": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "apiKey": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateDataSource": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/datasources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "name",
                    "type"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "name": {},
                    "description": {},
                    "type": {},
                    "serviceRoleArn": {},
                    "dynamodbConfig": {
                        "shape": "Sl"
                    },
                    "lambdaConfig": {
                        "shape": "Sn"
                    },
                    "elasticsearchConfig": {
                        "shape": "So"
                    },
                    "openSearchServiceConfig": {
                        "shape": "Sp"
                    },
                    "httpConfig": {
                        "shape": "Sq"
                    },
                    "relationalDatabaseConfig": {
                        "shape": "Su"
                    },
                    "eventBridgeConfig": {
                        "shape": "S16"
                    },
                    "metricsConfig": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataSource": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateDomainName": {
            "http": {
                "requestUri": "/v1/domainnames"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName",
                    "certificateArn"
                ],
                "members": {
                    "domainName": {},
                    "certificateArn": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domainNameConfig": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateFunction": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/functions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "name",
                    "dataSourceName"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "name": {},
                    "description": {},
                    "dataSourceName": {},
                    "requestMappingTemplate": {},
                    "responseMappingTemplate": {},
                    "functionVersion": {},
                    "syncConfig": {
                        "shape": "S16"
                    },
                    "maxBatchSize": {
                        "type": "integer"
                    },
                    "runtime": {
                        "shape": "S1b"
                    },
                    "code": {},
                    "cachingConfig": {
                        "shape": "S1i",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "functionConfiguration": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateGraphqlApi": {
            "http": {
                "requestUri": "/v1/apis"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "authenticationType"
                ],
                "members": {
                    "name": {},
                    "logConfig": {
                        "shape": "S1h"
                    },
                    "authenticationType": {},
                    "userPoolConfig": {
                        "shape": "S1k"
                    },
                    "openIDConnectConfig": {
                        "shape": "S1m"
                    },
                    "tags": {
                        "shape": "S1n"
                    },
                    "additionalAuthenticationProviders": {
                        "shape": "S1q"
                    },
                    "xrayEnabled": {
                        "type": "boolean"
                    },
                    "lambdaAuthorizerConfig": {
                        "shape": "S1t"
                    },
                    "visibility": {},
                    "apiType": {},
                    "mergedApiExecutionRoleArn": {},
                    "ownerContact": {},
                    "introspectionConfig": {},
                    "queryDepthLimit": {
                        "type": "integer"
                    },
                    "resolverCountLimit": {
                        "type": "integer"
                    },
                    "enhancedMetricsConfig": {
                        "shape": "S2g",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "graphqlApi": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateResolver": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "typeName",
                    "fieldName"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "typeName": {
                        "location": "uri",
                        "locationName": "typeName"
                    },
                    "fieldName": {},
                    "dataSourceName": {},
                    "requestMappingTemplate": {},
                    "responseMappingTemplate": {},
                    "kind": {},
                    "pipelineConfig": {
                        "shape": "S20"
                    },
                    "syncConfig": {
                        "shape": "S16"
                    },
                    "cachingConfig": {
                        "shape": "S22"
                    },
                    "maxBatchSize": {
                        "type": "integer"
                    },
                    "runtime": {
                        "shape": "S1b"
                    },
                    "code": {},
                    "metricsConfig": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resolver": {
                        "shape": "S25"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateType": {
            "http": {
                "requestUri": "/v1/apis/{apiId}/types"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "definition",
                    "format"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "definition": {},
                    "format": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "type": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteApiCache": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/ApiCaches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteApiKey": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/apikeys/{id}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "id"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteDataSource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/datasources/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "name"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteDomainName": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/domainnames/{domainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName"
                ],
                "members": {
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteFunction": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/functions/{functionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "functionId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "functionId": {
                        "location": "uri",
                        "locationName": "functionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteGraphqlApi": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteResolver": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "typeName",
                    "fieldName"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "typeName": {
                        "location": "uri",
                        "locationName": "typeName"
                    },
                    "fieldName": {
                        "location": "uri",
                        "locationName": "fieldName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteType": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/types/{typeName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "typeName"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "typeName": {
                        "location": "uri",
                        "locationName": "typeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateApi": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/domainnames/{domainName}/apiassociation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName"
                ],
                "members": {
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "EvaluateCode": {
            "http": {
                "requestUri": "/v1/dataplane-evaluatecode"
            },
            "input": {
                "type": "structure",
                "required": [
                    "runtime",
                    "code",
                    "context"
                ],
                "members": {
                    "runtime": {
                        "shape": "S1b"
                    },
                    "code": {},
                    "context": {},
                    "function": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "evaluationResult": {},
                    "error": {
                        "type": "structure",
                        "members": {
                            "message": {},
                            "codeErrors": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "errorType": {},
                                        "value": {},
                                        "location": {
                                            "type": "structure",
                                            "members": {
                                                "line": {
                                                    "type": "integer"
                                                },
                                                "column": {
                                                    "type": "integer"
                                                },
                                                "span": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "logs": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "EvaluateMappingTemplate": {
            "http": {
                "requestUri": "/v1/dataplane-evaluatetemplate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "template",
                    "context"
                ],
                "members": {
                    "template": {},
                    "context": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "evaluationResult": {},
                    "error": {
                        "type": "structure",
                        "members": {
                            "message": {}
                        }
                    },
                    "logs": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "FlushApiCache": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/apis/{apiId}/FlushCache"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetApiAssociation": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/domainnames/{domainName}/apiassociation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainName"
                ],
                "members": {
                    "domainName": {
                        "location": "uri",
                        "locationName": "domainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "apiAssociation": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/945b383b94c17747eb3ea231241114cc.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRL2Q2ZALARSQUQ2WYLFWYFC5TXJ7RBUFFGOE32UCORHOYCMNVIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W27CPRDX5F3V4NAKHIOK254L3A4KCQYUAA2VH3LPWAYHL6RSR3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VBANXH2TWKHS6GQQROZEWIIUMSY4I5ZDCPCRSQABAMVKNLKTMZXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetApiCache": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/apis/{apiId}/ApiCaches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "apiCache": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/6UUF47WETZFXNTGJMJYEQJAJPJUKCWKJICE5WXOSTPEJYPZN34VA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5DFEXW56LZOUXULZBVYMJJ3SUOFWIQGS52TJCI42FJ6EU6K2HGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/a0176fefb220a91473ddb7a4bcad18ce.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SHCZLJKF6TCKWZSHCS4GFSFN7U2Z52KR6MVHXLG73YDBSRNBF4UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYVYSJCUAXIACG3C577LKQ65ATEATPJQYMRZGCOUMQRK5DJIPGLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6I7LDBXSHIDRNPWCFJ6SWLBZUKILAMS5B5WO2AHISD22G4MPHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJC54V3WW7OQ6FTMD4MVJO2XKRIJYJRKBANN7LQXWXMGEGP7NAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/93184ac09d3647d8184d6c58b80da71f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B44I7ZJZHQPYN4QZNZRWHGPKGRFTDGUIGYRL6F3LTFIKEH55G4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NQVC37K6MMKSTG5FARVRBXFGRN7DXL2BU7S3FHBGOIC2RSREDT4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4be155983de553b4a3e1db0360d121a5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3VEXMJ3MXQ2VF7NVRBZC3TP2RW4MEE4IDUK6FLPTPFEPTWQW4MYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDataSource": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/apis/{apiId}/datasources/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "apiId",
                    "name"
                ],
                "members": {
                    "apiId": {
                        "location": "uri",
                        "locationName": "apiId"
                    },
                    "name": {
                        "location": "uri",
[...]
