{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-25",
        "endpointPrefix": "appsauth",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AppsAuthControl Service",
        "serviceId": "appsauth",
        "signatureVersion": "v4",
        "targetPrefix": "AppsAuthControlPlaneService",
        "uid": "appsauth-control-2018-10-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
        ]
    },
    "operations": {
        "BatchDeleteSession": {
            "input": {
                "type": "structure",
                "required": [
                    "SessionIds"
                ],
                "members": {
                    "SessionIds": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SessionsDeleted"
                ],
                "members": {
                    "SessionsDeleted": {
                        "shape": "S2"
                    },
                    "Errors": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "BatchGetSession": {
            "input": {
                "type": "structure",
                "required": [
                    "SessionIds"
                ],
                "members": {
                    "SessionIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SessionList"
                ],
                "members": {
                    "SessionList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "userId": {},
                                "sessionId": {},
                                "ipAddress": {
                                    "shape": "Sf"
                                },
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "sessionNotValidAfter": {
                                    "type": "timestamp"
                                },
                                "userAgent": {}
                            }
                        }
                    },
                    "Errors": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "BatchListMfaDevicesForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "userList"
                ],
                "members": {
                    "userList": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userMfaDevicesEntryList"
                ],
                "members": {
                    "userMfaDevicesEntryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "user": {
                                    "shape": "Sj"
                                },
                                "mfaDevices": {
                                    "shape": "Sq"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "CompleteVirtualMfaDeviceRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "user",
                    "authenticationCode1"
                ],
                "members": {
                    "user": {
                        "shape": "Sj"
                    },
                    "deviceName": {},
                    "deviceId": {},
                    "authenticationCode1": {
                        "type": "string",
                        "sensitive": true
                    },
                    "cloudTrailAdditionalMetadata": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaDevice": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "CompleteWebAuthnDeviceRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "user",
                    "deviceId",
                    "publicKeyCredentialJSON"
                ],
                "members": {
                    "user": {
                        "shape": "Sj"
                    },
                    "deviceId": {},
                    "publicKeyCredentialJSON": {},
                    "cloudTrailAdditionalMetadata": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaDevice": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "CreateAuthenticationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accessType",
                    "directoryId",
                    "authenticationConfigurations"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S17"
                    },
                    "accessType": {},
                    "directoryId": {},
                    "authenticationConfigurations": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "CreateExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {},
                    "samlConfiguration": {
                        "type": "structure",
                        "members": {
                            "idpConfig": {
                                "shape": "S1e"
                            },
                            "idpMetadata": {
                                "shape": "S1i"
                            },
                            "idpCertificate": {}
                        }
                    },
                    "oidcConfiguration": {
                        "type": "structure",
                        "required": [
                            "idpConfig"
                        ],
                        "members": {
                            "idpConfig": {
                                "shape": "S1l"
                            },
                            "clientSecret": {
                                "type": "string",
                                "sensitive": true
                            }
                        }
                    },
                    "idpSAMLConfig": {
                        "shape": "S1e"
                    },
                    "idpSAMLMetadata": {
                        "shape": "S1i"
                    },
                    "idpCertificate": {},
                    "justInTimeProvisioningConfiguration": {
                        "shape": "S1t"
                    },
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idpId"
                ],
                "members": {
                    "idpId": {},
                    "idpCertificateId": {},
                    "idpCertificateIds": {
                        "shape": "S1w"
                    },
                    "awsSPSAMLConfig": {
                        "shape": "S1x"
                    },
                    "awsSPCertificateId": {},
                    "awsSPOIDCConfig": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "CreateTrustedTokenIssuerConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "idCInstanceId",
                    "maxTrustedTokenIssuer",
                    "idempotencyToken",
                    "trustedTokenIssuerName",
                    "trustedTokenIssuerType",
                    "trustedTokenIssuerConfiguration"
                ],
                "members": {
                    "idCInstanceId": {},
                    "maxTrustedTokenIssuer": {
                        "type": "integer"
                    },
                    "idempotencyToken": {},
                    "trustedTokenIssuerName": {},
                    "trustedTokenIssuerType": {},
                    "trustedTokenIssuerConfiguration": {
                        "shape": "S27"
                    },
                    "accountId": {},
                    "tags": {
                        "shape": "S2f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trustedTokenIssuerConfigId"
                ],
                "members": {
                    "trustedTokenIssuerConfigId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "DeleteAuthenticationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accessType"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S17"
                    },
                    "accessType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "DeleteExternalIdPCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId",
                    "certificateId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {},
                    "certificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "DeleteExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "DeleteMfaDeviceForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "user"
                ],
                "members": {
                    "user": {
                        "shape": "Sj"
                    },
                    "deviceId": {},
                    "deviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "DeleteTrustedTokenIssuerConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "trustedTokenIssuerConfigId",
                    "idCInstanceId"
                ],
                "members": {
                    "trustedTokenIssuerConfigId": {},
                    "idCInstanceId": {},
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "DisableExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "EnableExternalIdPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {},
                    "allowedIdPs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "authenticationType"
                            ],
                            "members": {
                                "authenticationType": {},
                                "idpId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "GetAWSSPConfigurationForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "awsSPSAMLConfig",
                    "awsSPCertificateIds",
                    "awsSPOIDCConfig"
                ],
                "members": {
                    "awsSPSAMLConfig": {
                        "shape": "S1x"
                    },
                    "awsSPCertificateIds": {
                        "shape": "S1w"
                    },
                    "awsSPOIDCConfig": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "GetAppAuthenticationConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AuthenticationMode"
                ],
                "members": {
                    "AuthenticationMode": {},
                    "noMFASignInBehavior": {},
                    "noPasswordSignInBehavior": {},
                    "allowedMfaTypes": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "GetAuthenticationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accessType"
                ],
                "members": {
                    "instanceId": {
                        "shape": "S17"
                    },
                    "accessType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "authenticationConfigurations": {
                        "shape": "S19"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "GetAuthenticationTypeForDirectoryPrivate": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "authenticationType"
                ],
                "members": {
                    "authenticationType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "GetMfaDeviceManagementForDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userPermission"
                ],
                "members": {
                    "userPermission": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "GetSessionConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "sessionConfiguration": {
                        "shape": "S3a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "GetTrustedTokenIssuerConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "trustedTokenIssuerConfigId",
                    "idCInstanceId"
                ],
                "members": {
                    "trustedTokenIssuerConfigId": {},
                    "idCInstanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idCInstanceId",
                    "trustedTokenIssuerName",
                    "trustedTokenIssuerConfiguration"
                ],
                "members": {
                    "idCInstanceId": {},
                    "trustedTokenIssuerName": {},
                    "trustedTokenIssuerConfiguration": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "GetUserCapabilities": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId"
                ],
                "members": {
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "allowedMfaTypes",
                    "userPermission"
                ],
                "members": {
                    "allowedMfaTypes": {
                        "shape": "S2z"
                    },
                    "userPermission": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "ImportExternalIdPCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId",
                    "x509CertificateInPEM",
                    "certificateUse"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {},
                    "x509CertificateInPEM": {},
                    "certificateUse": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "certificateId"
                ],
                "members": {
                    "certificateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "ListExternalIdPCertificates": {
            "input": {
                "type": "structure",
                "required": [
                    "idpId",
                    "directoryId"
                ],
                "members": {
                    "idpId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "idPCertificates"
                ],
                "members": {
                    "idPCertificates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "certificateId",
                                "serialNumber",
                                "subjectName",
                                "issuerName",
                                "signatureAlgorithmName",
                                "publicKey",
                                "notBefore",
                                "notAfter",
                                "version",
                                "x509CertificateInPEM"
                            ],
                            "members": {
                                "certificateId": {},
                                "serialNumber": {
                                    "type": "biginteger"
                                },
                                "serialNumberString": {},
                                "subjectName": {},
                                "issuerName": {},
                                "signatureAlgorithmName": {},
                                "publicKey": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "notBefore": {
                                    "type": "timestamp"
                                },
                                "notAfter": {
                                    "type": "timestamp"
                                },
                                "version": {
                                    "type": "integer"
                                },
                                "x509CertificateInPEM": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXLFOH3OPU5FLGS45GEIRCQN3UVTBWCI755NTBHCNEXJDCKCEJ6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWHKNPUCUKK555BBSG4LYG3XRACQEZD72WXDXUKN363SW53SMFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
[...]
