{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-12-06",
        "endpointPrefix": "apptest",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AwsApptestControlPlaneService",
        "serviceId": "apptest",
        "signatureVersion": "v4",
        "signingName": "apptest",
        "uid": "apptest-2022-12-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SC4BCEEC4ANEQF52PMG3RLJEI6FC3UZ3TX4F34E5PNDLNO4DXDAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
        ]
    },
    "operations": {
        "CancelManualTestScenarioCapture": {
            "http": {
                "requestUri": "/testScenario/{testScenarioId}/manual-capture/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "testScenarioId"
                ],
                "members": {
                    "testScenarioId": {
                        "location": "uri",
                        "locationName": "testScenarioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "testScenarioRecordingStatus"
                ],
                "members": {
                    "testScenarioRecordingStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CancelSession": {
            "http": {
                "requestUri": "/session/{sessionId}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "currentSessionStatus"
                ],
                "members": {
                    "sessionId": {},
                    "currentSessionStatus": {},
                    "cancelationRequestedSessionIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CompareTestCase": {
            "http": {
                "requestUri": "/testcase/{testCaseId}/compare",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "testCaseId",
                    "replayTestCaseId"
                ],
                "members": {
                    "testCaseId": {
                        "location": "uri",
                        "locationName": "testCaseId"
                    },
                    "replayTestCaseId": {
                        "location": "querystring",
                        "locationName": "testReplayId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "testCaseCompareSessionId"
                ],
                "members": {
                    "testCaseCompareSessionId": {},
                    "execStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateInitialCondition": {
            "http": {
                "requestUri": "/initialcondition",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "description"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "instructions": {},
                    "cfnTemplateS3StoragePath": {},
                    "cfnTemplateContent": {},
                    "cfnTemplateParameterValues": {
                        "shape": "Sh"
                    },
                    "cfnTemplateTargetType": {},
                    "supportedTestCaseTypes": {
                        "shape": "Sk"
                    },
                    "supportedAdditionalDataTypes": {
                        "shape": "Sm"
                    },
                    "ddlS3Path": {},
                    "tags": {
                        "shape": "So"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "initialConditionId"
                ],
                "members": {
                    "initialConditionId": {},
                    "newInitialConditionVersionNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateTestCase": {
            "http": {
                "requestUri": "/testcase",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "testType",
                    "description"
                ],
                "members": {
                    "name": {},
                    "testType": {},
                    "description": {},
                    "instructions": {},
                    "testingApplicationIds": {
                        "shape": "St"
                    },
                    "additionalDataSourceTypes": {
                        "shape": "Sm"
                    },
                    "comments": {
                        "shape": "Su"
                    },
                    "parameters": {
                        "shape": "Sw"
                    },
                    "parametersForReplay": {
                        "shape": "Sw"
                    },
                    "tags": {
                        "shape": "So"
                    },
                    "testProjectIds": {
                        "shape": "Sv"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "steps": {
                        "type": "structure",
                        "members": {
                            "member": {
                                "shape": "Sz"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "testCaseId"
                ],
                "members": {
                    "testCaseId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateTestScenario": {
            "http": {
                "requestUri": "/testscenario",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "description"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "initialConditionId": {},
                    "testingApplicationIds": {
                        "shape": "St"
                    },
                    "testCaseIds": {
                        "shape": "S16"
                    },
                    "comments": {
                        "shape": "Su"
                    },
                    "tags": {
                        "shape": "So"
                    },
                    "testProjectIds": {
                        "shape": "Sv"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "testScenarioId"
                ],
                "members": {
                    "testScenarioId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateTestingApplication": {
            "http": {
                "requestUri": "/testingapplication",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "description"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "tags": {
                        "shape": "So"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "testingApplicationId"
                ],
                "members": {
                    "testingApplicationId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteInitialCondition": {
            "http": {
                "method": "DELETE",
                "requestUri": "/initialcondition/{initialConditionId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "initialConditionId"
                ],
                "members": {
                    "initialConditionId": {
                        "location": "uri",
                        "locationName": "initialConditionId"
                    },
                    "generation": {
                        "location": "querystring",
                        "locationName": "generation",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteTestCase": {
            "http": {
                "method": "DELETE",
                "requestUri": "/testcase/{testCaseId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "testCaseId"
                ],
                "members": {
                    "testCaseId": {
                        "location": "uri",
                        "locationName": "testCaseId"
                    },
                    "generation": {
                        "location": "querystring",
                        "locationName": "generation",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteTestScenario": {
            "http": {
                "method": "DELETE",
                "requestUri": "/testscenario/{testScenarioId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "testScenarioId"
                ],
                "members": {
                    "testScenarioId": {
                        "location": "uri",
                        "locationName": "testScenarioId"
                    },
                    "generation": {
                        "location": "querystring",
                        "locationName": "generation",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteTestingApplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/testingapplication/{testingApplicationId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "testingApplicationId"
                ],
                "members": {
                    "testingApplicationId": {
                        "location": "uri",
                        "locationName": "testingApplicationId"
                    },
                    "generation": {
                        "location": "querystring",
                        "locationName": "generation",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetInitialCondition": {
            "http": {
                "method": "GET",
                "requestUri": "/initialcondition/{initialConditionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "initialConditionId"
                ],
                "members": {
                    "initialConditionId": {
                        "location": "uri",
                        "locationName": "initialConditionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "initialConditionId"
                ],
                "members": {
                    "name": {},
                    "initialConditionId": {},
                    "description": {},
                    "instructions": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "numberOfVersions": {
                        "type": "integer"
                    },
                    "generation": {
                        "type": "integer"
                    },
                    "initialConditionArn": {},
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "lastVersionCfnTemplateS3StoragePath": {},
                    "lastVersionCfnTemplateTargetType": {},
                    "lastVersionCfnTemplateParameterValues": {
                        "shape": "Sh"
                    },
                    "lastSupportedTestCaseTypes": {
                        "shape": "Sk"
                    },
                    "lastSupportedAdditionalDataTypes": {
                        "shape": "Sm"
                    },
                    "lastDdlS3Path": {},
                    "associatedTestScenariosNumber": {
                        "type": "integer"
                    },
                    "tags": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetInitialConditionVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/initialcondition/{initialConditionId}/version/{initialConditionVersionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "initialConditionVersionId",
                    "initialConditionId"
                ],
                "members": {
                    "initialConditionVersionId": {
                        "location": "uri",
                        "locationName": "initialConditionVersionId"
                    },
                    "initialConditionId": {
                        "location": "uri",
                        "locationName": "initialConditionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "initialConditionVersionId",
                    "initialConditionId",
                    "versionNumber",
                    "cfnTemplateStoragePath",
                    "cfnHashCode",
                    "creationTime"
                ],
                "members": {
                    "initialConditionVersionId": {},
                    "initialConditionId": {},
                    "versionNumber": {
                        "type": "integer"
                    },
                    "cfnTemplateStoragePath": {},
                    "cfnHashCode": {},
                    "outputVariableNames": {
                        "type": "list",
                        "member": {}
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "cfnTemplateParameterValues": {
                        "shape": "Sh"
                    },
                    "cfnTemplateTargetType": {},
                    "supportedTestCaseTypes": {
                        "shape": "Sk"
                    },
                    "supportedAdditionalDataTypes": {
                        "shape": "Sm"
                    },
                    "ddlS3Path": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetRecordedDataSource": {
            "http": {
                "method": "GET",
                "requestUri": "/testcase/{testCaseId}/recorded-data-source/{recordedDataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "recordedDataSourceId",
                    "testCaseId"
                ],
                "members": {
                    "recordedDataSourceId": {
                        "location": "uri",
                        "locationName": "recordedDataSourceId"
                    },
                    "testCaseId": {
                        "location": "uri",
                        "locationName": "testCaseId"
                    },
                    "withDetails": {
                        "location": "querystring",
                        "locationName": "withDetails",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "recordedDataSourceId",
                    "testCaseId"
                ],
                "members": {
                    "recordedDataSourceId": {},
                    "testCaseId": {},
                    "connectorEndPointLabel": {},
                    "dataType": {},
                    "toolType": {},
                    "recordingTime": {
                        "type": "timestamp"
                    },
                    "recordingStatus": {},
                    "s3Path": {},
                    "s3FileDescriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "fileType": {},
                                "name": {},
                                "size": {
                                    "type": "long"
                                },
                                "s3Location": {},
                                "format": {}
                            }
                        }
                    },
                    "equivalenceRulesContent": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetRestoredInitialCondition": {
            "http": {
                "method": "GET",
                "requestUri": "/initialcondition/{initialConditionId}/restored/{restoredInitialConditionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "restoredInitialConditionId",
                    "initialConditionId"
                ],
                "members": {
                    "restoredInitialConditionId": {
                        "location": "uri",
                        "locationName": "restoredInitialConditionId"
                    },
                    "initialConditionId": {
                        "location": "uri",
                        "locationName": "initialConditionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "restoredInitialConditionId",
                    "initialConditionId",
                    "initialConditionVersionId",
                    "restorationStatus",
                    "versionNumber"
                ],
                "members": {
                    "restoredInitialConditionId": {},
                    "initialConditionId": {},
                    "initialConditionVersionId": {},
                    "restorationStatus": {},
                    "versionNumber": {
                        "type": "integer"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "removalStatus": {},
                    "endTime": {
                        "type": "timestamp"
                    },
                    "cfnStackName": {},
                    "cfnStackId": {},
                    "stackEventsS3Path": {},
                    "outputVariableValues": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetSession": {
            "http": {
                "method": "GET",
                "requestUri": "/session/{sessionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "itemId",
                    "sessionType",
                    "userArn",
                    "startTime",
                    "executionStatus"
                ],
                "members": {
                    "sessionId": {},
                    "referenceItemId": {},
                    "itemId": {},
                    "sessionType": {},
                    "userArn": {},
                    "parentSessionId": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "durationMs": {
                        "type": "integer"
                    },
                    "executionStatus": {},
                    "compareObjectId": {},
                    "comparisonStatus": {},
                    "comparisonExecStatus": {},
                    "comparisonProgressPercentage": {
                        "type": "integer"
                    },
                    "cancelationRequested": {
                        "type": "boolean"
                    },
                    "hasSubSessions": {
                        "type": "boolean"
                    },
                    "sessionArn": {},
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetTestCase": {
            "http": {
                "method": "GET",
                "requestUri": "/testcase/{testCaseId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "testCaseId"
                ],
                "members": {
                    "testCaseId": {
                        "location": "uri",
                        "locationName": "testCaseId"
                    },
                    "version": {
                        "location": "querystring",
                        "locationName": "version",
                        "type": "integer"
                    },
                    "testCaseVersion": {
                        "location": "querystring",
                        "locationName": "testCaseVersion",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "testCaseId",
                    "testCaseType"
                ],
                "members": {
                    "name": {},
                    "testCaseId": {},
                    "testCaseType": {},
                    "additionalDataSourceTypes": {
                        "shape": "Sm"
                    },
                    "parameters": {
                        "shape": "Sw"
                    },
                    "parametersForReplay": {
                        "shape": "Sw"
                    },
                    "description": {},
                    "instructions": {},
                    "comments": {
                        "shape": "Su"
                    },
                    "testingApplicationIds": {
                        "shape": "St"
                    },
                    "isReplay": {
                        "type": "boolean"
                    },
                    "referenceTestCaseId": {},
                    "recordingTime": {
                        "type": "timestamp"
                    },
                    "recordingStatus": {},
                    "isRecorded": {
                        "type": "boolean"
                    },
                    "isReplayed": {
                        "type": "boolean"
                    },
                    "isLastReplay": {
                        "type": "boolean"
                    },
                    "lastComparisonExecStatus": {},
                    "lastComparisonStatus": {},
                    "lastComparisonTime": {
                        "type": "timestamp"
                    },
                    "durationMs": {
                        "type": "integer"
                    },
                    "parentTestScenarioId": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastEditionTime": {
                        "type": "timestamp"
                    },
                    "generation": {
                        "type": "integer"
                    },
                    "initialConditionVersionId": {},
                    "lastReplayTime": {
                        "type": "timestamp"
                    },
                    "lastReplayStatus": {},
                    "runningCompareSessionIds": {
                        "shape": "S2c"
                    },
                    "testCaseArn": {},
                    "tags": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetTestCaseComparison": {
            "http": {
                "method": "GET",
                "requestUri": "/testcase/{testCaseId}/comparisons/{testCaseComparisonId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "testCaseComparisonId",
                    "testCaseId"
                ],
                "members": {
                    "testCaseComparisonId": {
                        "location": "uri",
                        "locationName": "testCaseComparisonId"
                    },
                    "testCaseId": {
                        "location": "uri",
                        "locationName": "testCaseId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "testCaseComparisonId"
                ],
                "members": {
                    "testCaseComparisonId": {},
                    "leftTestCaseId": {},
                    "rightTestCaseId": {},
                    "comparisonTime": {
                        "type": "timestamp"
                    },
                    "comparisonExecStatus": {},
                    "comparisonStatus": {},
                    "testScenarioComparisonId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetTestCaseDataSourceComparison": {
            "http": {
                "method": "GET",
                "requestUri": "/testcase/{testCaseId}/comparisons/{testCaseComparisonId}/data-source-comparison/{testCaseDataSourceComparisonId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "testCaseDataSourceComparisonId",
                    "testCaseId",
                    "testCaseComparisonId"
                ],
                "members": {
                    "testCaseDataSourceComparisonId": {
                        "location": "uri",
                        "locationName": "testCaseDataSourceComparisonId"
                    },
                    "testCaseId": {
                        "location": "uri",
                        "locationName": "testCaseId"
                    },
                    "testCaseComparisonId": {
                        "location": "uri",
                        "locationName": "testCaseComparisonId"
                    },
                    "withDetails": {
                        "location": "querystring",
                        "locationName": "withDetails",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "testCaseDataSourceComparisonId",
                    "testCaseComparisonId",
                    "dataType"
                ],
                "members": {
                    "testCaseDataSourceComparisonId": {},
                    "testCaseComparisonId": {},
                    "leftRecordedDataSourceId": {},
                    "rightRecordedDataSourceId": {},
                    "dataType": {},
                    "lastComparisonTime": {
                        "type": "timestamp"
                    },
                    "durationMs": {
                        "type": "integer"
                    },
                    "comparisonExecStatus": {},
                    "lastComparisonStatus": {},
                    "s3Path": {},
                    "comparisonReports": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "reportType": {},
                                "name": {},
                                "size": {
                                    "type": "integer"
                                },
                                "s3Location": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetTestScenario": {
            "http": {
                "method": "GET",
                "requestUri": "/testscenario/{testScenarioId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "testScenarioId"
                ],
                "members": {
                    "testScenarioId": {
                        "location": "uri",
                        "locationName": "testScenarioId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "testScenarioId"
                ],
                "members": {
                    "name": {},
                    "testScenarioId": {},
                    "initialConditionId": {},
                    "testCaseIds": {
                        "shape": "S16"
                    },
                    "description": {},
                    "testingApplicationIds": {
                        "shape": "St"
                    },
                    "comments": {
                        "shape": "Su"
                    },
                    "referenceTestScenarioId": {},
                    "testSuiteId": {},
                    "isReplay": {
                        "type": "boolean"
                    },
                    "isLastReplay": {
                        "type": "boolean"
                    },
                    "isRecorded": {
                        "type": "boolean"
                    },
                    "isReplayed": {
                        "type": "boolean"
                    },
                    "recordingTime": {
                        "type": "timestamp"
                    },
                    "recordingStatus": {},
                    "recordingDurationMs": {
                        "type": "integer"
                    },
                    "comparisonExecStatus": {},
                    "comparisonStatus": {},
                    "comparisonTime": {
                        "type": "timestamp"
                    },
                    "initialConditionsVersionId": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastEditionTime": {
                        "type": "timestamp"
                    },
                    "generation": {
                        "type": "integer"
                    },
                    "lastReplayTime": {
                        "type": "timestamp"
                    },
                    "lastReplayStatus": {},
                    "runningReplaySessionIds": {
                        "shape": "S2m"
                    },
                    "testScenarioArn": {},
                    "tags": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZQJDQTL4PZPGNDG2ZBHOURKNEGSR4AIZZBCROJE7COHGKAX3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZAANIEYRE6OUOITJI3J474RC2GTTS72RDMFGYQMDAZD5T737ZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJYWHDIYGSPAZL6IT7XKOJQU6ABOROXKNMB4YIQEZDYPETTLXLUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LODBPLTD2DGMQANKRPEJXSVTV7UJSCVPXFRCFFBXZQ7D62FFWABQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUVXLGGORMP5XIKZMV36BIUXVPWUVAHRCLT65EZ5ODN4TKN5NNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66A4CR3ZHQRZS2CQD7HHSLKC2BSGH7IP7TFSVCE33GWW54FL7LFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BLNQYCAC5IUPDKCCH5TAEH2LXYDSW7GVS42T2GKVY2E2AMCYMYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNEL3WZFCCZ6ATDBT5HKKGHPEHKUN3UVBXGYZCSYSN62BWKCHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O5LEPU4HGUMZPDKTBFN6GATFJ6NOBWAKSOX5F6SDUQ4ZIEHEPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZW76G2DIC74CGHPJQB625YX2SYARL2CKVOSTMUKZO366P3BPHFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIFQ6LPT6ROLLIV7NYRXERBW4IUK5VT53S7MKXKTDPJUAXOT2OIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWY5VVEVTKJFBQACKHFITNURM7W524TBGWWLSG353YJE2VMWD7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BHOCTCHHDOXRAMUY3I75Q44GPEQFKPT65NINFLZDMLI5UIY2U5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetTestScenarioComparison": {
            "http": {
                "method": "GET",
                "requestUri": "/testscenario/{testScenarioId}/comparison/{testScenarioComparisonId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "testScenarioComparisonId",
                    "testScenarioId"
                ],
                "members": {
                    "testScenarioComparisonId": {
                        "location": "uri",
                        "locationName": "testScenarioComparisonId"
                    },
                    "testScenarioId": {
                        "location": "uri",
                        "locationName": "testScenarioId"
                    }
[...]
