{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-10-30",
        "endpointPrefix": "arc-zonal-shift",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS ARC - Zonal Shift",
        "serviceId": "ARC Zonal Shift",
        "signatureVersion": "v4",
        "signingName": "arc-zonal-shift",
        "uid": "arc-zonal-shift-2022-10-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "CancelZonalShift": {
            "http": {
                "method": "DELETE",
                "requestUri": "/zonalshifts/{zonalShiftId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "zonalShiftId"
                ],
                "members": {
                    "zonalShiftId": {
                        "location": "uri",
                        "locationName": "zonalShiftId"
                    }
                }
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetManagedResource": {
            "http": {
                "method": "GET",
                "requestUri": "/managedresources/{resourceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appliedWeights",
                    "zonalShifts"
                ],
                "members": {
                    "appliedWeights": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "float"
                        }
                    },
                    "arn": {},
                    "name": {},
                    "zonalShifts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "appliedStatus",
                                "awayFrom",
                                "comment",
                                "expiryTime",
                                "resourceIdentifier",
                                "startTime",
                                "zonalShiftId"
                            ],
                            "members": {
                                "appliedStatus": {},
                                "awayFrom": {},
                                "comment": {},
                                "expiryTime": {
                                    "type": "timestamp"
                                },
                                "resourceIdentifier": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "zonalShiftId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListManagedResources": {
            "http": {
                "method": "GET",
                "requestUri": "/managedresources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "items"
                ],
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "availabilityZones"
                            ],
                            "members": {
                                "arn": {},
                                "availabilityZones": {
                                    "type": "list",
                                    "member": {}
                                },
                                "name": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListZonalShifts": {
            "http": {
                "method": "GET",
                "requestUri": "/zonalshifts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "resourceIdentifier": {
                        "location": "querystring",
                        "locationName": "resourceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "awayFrom",
                                "comment",
                                "expiryTime",
                                "resourceIdentifier",
                                "startTime",
                                "status",
                                "zonalShiftId"
                            ],
                            "members": {
                                "awayFrom": {},
                                "comment": {},
                                "expiryTime": {
                                    "type": "timestamp"
                                },
                                "resourceIdentifier": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "status": {},
                                "zonalShiftId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "StartZonalShift": {
            "http": {
                "requestUri": "/zonalshifts",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "awayFrom",
                    "comment",
                    "expiresIn",
                    "resourceIdentifier"
                ],
                "members": {
                    "awayFrom": {},
                    "comment": {},
                    "expiresIn": {},
                    "resourceIdentifier": {},
                    "startPractice": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "UpdateZonalShift": {
            "http": {
                "method": "PATCH",
                "requestUri": "/zonalshifts/{zonalShiftId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "zonalShiftId"
                ],
                "members": {
                    "comment": {},
                    "expiresIn": {},
                    "zonalShiftId": {
                        "location": "uri",
                        "locationName": "zonalShiftId"
                    },
                    "practiceResult": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetAzWeatherAlert": {
            "http": {
                "method": "GET",
                "requestUri": "/weather/alert/{alertId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "alertId"
                ],
                "members": {
                    "alertId": {
                        "location": "uri",
                        "locationName": "alertId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "azWeatherAlert": {
                        "shape": "Sd"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH6YJ7RC2PLQYFXUQF4FX3OZ5PLP3HFAYT5A2AKZU3BWQMXSPNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FCKGDGAZ5PHNZEFDBE7JIS5CPD7ELVLPXQEXUKATVULCMN7Z4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M75Z6XZNVKEA33BGDHLSYGGPX7252RTL4IU7GOHD4OTTPTT3HP3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSGBD4XARNNEIHSWPDIBGDMPNP2AZCFI26HEHQVKREWRYWSU4TNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6RGBVM3AXXKVWXMULY3CLMUIQ3CUVSM4O5GU7SVDX74QX5NMMJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLEETGWKGFPYL3DPN2XJJGU6V65I6YBRNGBVWI25FOPNQLLQV5CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRDZJP2DTHHXAKQJUK3LBX53LLMP467BTDFWGGUI6Q5NTN7LGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE5YMQLNSGN3CX7DJS7LCC3NFQZA566NY6OUIOTCBUSNO2BITD2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF2P7LJQFLOEBIDZL2L3NFCLL444A2DZXU3FKT7QRMNZV7GD2OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW5ULAOH57ULSDZHC5YO4DMTAYWVSCJGDIQQXECK66X4ZTO7KBZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPEJ4ZLR5GBUWFDFXV4JB4RNW4WJWB5PFOGSZRJNKDE6P64RS7AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAQ4W45QL3YUUZLLHBOOHX3F3TNQZ4EK5FUJKOWLFXL277P6YGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBNQJPUZQ5PDFH6RKJXZWFYDSL3BRKTCI55VKYMSHJ2AQDJ4OZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "ListAzWeatherAlerts": {
            "http": {
                "method": "GET",
                "requestUri": "/weather/alerts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "isActiveOnly": {
                        "location": "querystring",
                        "locationName": "isActiveOnly",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "azWeatherAlerts": {
                        "shape": "Sy"
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH6YJ7RC2PLQYFXUQF4FX3OZ5PLP3HFAYT5A2AKZU3BWQMXSPNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FCKGDGAZ5PHNZEFDBE7JIS5CPD7ELVLPXQEXUKATVULCMN7Z4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M75Z6XZNVKEA33BGDHLSYGGPX7252RTL4IU7GOHD4OTTPTT3HP3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSGBD4XARNNEIHSWPDIBGDMPNP2AZCFI26HEHQVKREWRYWSU4TNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6RGBVM3AXXKVWXMULY3CLMUIQ3CUVSM4O5GU7SVDX74QX5NMMJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLEETGWKGFPYL3DPN2XJJGU6V65I6YBRNGBVWI25FOPNQLLQV5CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRDZJP2DTHHXAKQJUK3LBX53LLMP467BTDFWGGUI6Q5NTN7LGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE5YMQLNSGN3CX7DJS7LCC3NFQZA566NY6OUIOTCBUSNO2BITD2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF2P7LJQFLOEBIDZL2L3NFCLL444A2DZXU3FKT7QRMNZV7GD2OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW5ULAOH57ULSDZHC5YO4DMTAYWVSCJGDIQQXECK66X4ZTO7KBZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPEJ4ZLR5GBUWFDFXV4JB4RNW4WJWB5PFOGSZRJNKDE6P64RS7AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAQ4W45QL3YUUZLLHBOOHX3F3TNQZ4EK5FUJKOWLFXL277P6YGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBNQJPUZQ5PDFH6RKJXZWFYDSL3BRKTCI55VKYMSHJ2AQDJ4OZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "StartAzWeatherAlert": {
            "http": {
                "requestUri": "/weather/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "alertId"
                ],
                "members": {
                    "alertId": {},
                    "fabrics": {
                        "shape": "Se"
                    },
                    "azId": {},
                    "internalAzName": {},
                    "comment": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "azWeatherAlert"
                ],
                "members": {
                    "azWeatherAlert": {
                        "shape": "Sd"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH6YJ7RC2PLQYFXUQF4FX3OZ5PLP3HFAYT5A2AKZU3BWQMXSPNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FCKGDGAZ5PHNZEFDBE7JIS5CPD7ELVLPXQEXUKATVULCMN7Z4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M75Z6XZNVKEA33BGDHLSYGGPX7252RTL4IU7GOHD4OTTPTT3HP3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSGBD4XARNNEIHSWPDIBGDMPNP2AZCFI26HEHQVKREWRYWSU4TNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6RGBVM3AXXKVWXMULY3CLMUIQ3CUVSM4O5GU7SVDX74QX5NMMJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLEETGWKGFPYL3DPN2XJJGU6V65I6YBRNGBVWI25FOPNQLLQV5CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRDZJP2DTHHXAKQJUK3LBX53LLMP467BTDFWGGUI6Q5NTN7LGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE5YMQLNSGN3CX7DJS7LCC3NFQZA566NY6OUIOTCBUSNO2BITD2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF2P7LJQFLOEBIDZL2L3NFCLL444A2DZXU3FKT7QRMNZV7GD2OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW5ULAOH57ULSDZHC5YO4DMTAYWVSCJGDIQQXECK66X4ZTO7KBZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPEJ4ZLR5GBUWFDFXV4JB4RNW4WJWB5PFOGSZRJNKDE6P64RS7AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAQ4W45QL3YUUZLLHBOOHX3F3TNQZ4EK5FUJKOWLFXL277P6YGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBNQJPUZQ5PDFH6RKJXZWFYDSL3BRKTCI55VKYMSHJ2AQDJ4OZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "StopAzWeatherAlert": {
            "http": {
                "requestUri": "/weather/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "comment": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "azWeatherAlerts"
                ],
                "members": {
                    "azWeatherAlerts": {
                        "shape": "Sy"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH6YJ7RC2PLQYFXUQF4FX3OZ5PLP3HFAYT5A2AKZU3BWQMXSPNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FCKGDGAZ5PHNZEFDBE7JIS5CPD7ELVLPXQEXUKATVULCMN7Z4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M75Z6XZNVKEA33BGDHLSYGGPX7252RTL4IU7GOHD4OTTPTT3HP3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSGBD4XARNNEIHSWPDIBGDMPNP2AZCFI26HEHQVKREWRYWSU4TNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6RGBVM3AXXKVWXMULY3CLMUIQ3CUVSM4O5GU7SVDX74QX5NMMJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLEETGWKGFPYL3DPN2XJJGU6V65I6YBRNGBVWI25FOPNQLLQV5CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRDZJP2DTHHXAKQJUK3LBX53LLMP467BTDFWGGUI6Q5NTN7LGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE5YMQLNSGN3CX7DJS7LCC3NFQZA566NY6OUIOTCBUSNO2BITD2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF2P7LJQFLOEBIDZL2L3NFCLL444A2DZXU3FKT7QRMNZV7GD2OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW5ULAOH57ULSDZHC5YO4DMTAYWVSCJGDIQQXECK66X4ZTO7KBZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPEJ4ZLR5GBUWFDFXV4JB4RNW4WJWB5PFOGSZRJNKDE6P64RS7AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAQ4W45QL3YUUZLLHBOOHX3F3TNQZ4EK5FUJKOWLFXL277P6YGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBNQJPUZQ5PDFH6RKJXZWFYDSL3BRKTCI55VKYMSHJ2AQDJ4OZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "UpdateAzWeatherAlert": {
            "http": {
                "method": "PATCH",
                "requestUri": "/weather/alert/{alertId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "alertId"
                ],
                "members": {
                    "alertId": {
                        "location": "uri",
                        "locationName": "alertId"
                    },
                    "fabrics": {
                        "shape": "Se"
                    },
                    "comment": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "azWeatherAlert"
                ],
                "members": {
                    "azWeatherAlert": {
                        "shape": "Sd"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH6YJ7RC2PLQYFXUQF4FX3OZ5PLP3HFAYT5A2AKZU3BWQMXSPNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FCKGDGAZ5PHNZEFDBE7JIS5CPD7ELVLPXQEXUKATVULCMN7Z4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M75Z6XZNVKEA33BGDHLSYGGPX7252RTL4IU7GOHD4OTTPTT3HP3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSGBD4XARNNEIHSWPDIBGDMPNP2AZCFI26HEHQVKREWRYWSU4TNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6RGBVM3AXXKVWXMULY3CLMUIQ3CUVSM4O5GU7SVDX74QX5NMMJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLEETGWKGFPYL3DPN2XJJGU6V65I6YBRNGBVWI25FOPNQLLQV5CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRDZJP2DTHHXAKQJUK3LBX53LLMP467BTDFWGGUI6Q5NTN7LGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE5YMQLNSGN3CX7DJS7LCC3NFQZA566NY6OUIOTCBUSNO2BITD2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF2P7LJQFLOEBIDZL2L3NFCLL444A2DZXU3FKT7QRMNZV7GD2OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW5ULAOH57ULSDZHC5YO4DMTAYWVSCJGDIQQXECK66X4ZTO7KBZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPEJ4ZLR5GBUWFDFXV4JB4RNW4WJWB5PFOGSZRJNKDE6P64RS7AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAQ4W45QL3YUUZLLHBOOHX3F3TNQZ4EK5FUJKOWLFXL277P6YGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBNQJPUZQ5PDFH6RKJXZWFYDSL3BRKTCI55VKYMSHJ2AQDJ4OZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "UpdateAutoShiftConfiguration": {
            "http": {
                "method": "PUT",
                "requestUri": "/managedresources/{resourceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier",
                    "autoShiftStatus"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    },
                    "autoShiftStatus": {},
                    "practiceModeStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceIdentifier",
                    "autoShiftStatus"
                ],
                "members": {
                    "resourceIdentifier": {},
                    "autoShiftStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH6YJ7RC2PLQYFXUQF4FX3OZ5PLP3HFAYT5A2AKZU3BWQMXSPNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FCKGDGAZ5PHNZEFDBE7JIS5CPD7ELVLPXQEXUKATVULCMN7Z4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M75Z6XZNVKEA33BGDHLSYGGPX7252RTL4IU7GOHD4OTTPTT3HP3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSGBD4XARNNEIHSWPDIBGDMPNP2AZCFI26HEHQVKREWRYWSU4TNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6RGBVM3AXXKVWXMULY3CLMUIQ3CUVSM4O5GU7SVDX74QX5NMMJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLEETGWKGFPYL3DPN2XJJGU6V65I6YBRNGBVWI25FOPNQLLQV5CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRDZJP2DTHHXAKQJUK3LBX53LLMP467BTDFWGGUI6Q5NTN7LGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE5YMQLNSGN3CX7DJS7LCC3NFQZA566NY6OUIOTCBUSNO2BITD2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF2P7LJQFLOEBIDZL2L3NFCLL444A2DZXU3FKT7QRMNZV7GD2OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW5ULAOH57ULSDZHC5YO4DMTAYWVSCJGDIQQXECK66X4ZTO7KBZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPEJ4ZLR5GBUWFDFXV4JB4RNW4WJWB5PFOGSZRJNKDE6P64RS7AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAQ4W45QL3YUUZLLHBOOHX3F3TNQZ4EK5FUJKOWLFXL277P6YGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBNQJPUZQ5PDFH6RKJXZWFYDSL3BRKTCI55VKYMSHJ2AQDJ4OZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "CreatePracticeConfiguration": {
            "http": {
                "requestUri": "/configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier",
                    "stopConditions",
                    "successConditions"
                ],
                "members": {
                    "resourceIdentifier": {},
                    "blockedTimes": {
                        "shape": "Sb"
                    },
                    "blockedDays": {
                        "shape": "Sd"
                    },
                    "stopConditions": {
                        "shape": "Sf"
                    },
                    "successConditions": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "name",
                    "autoShiftStatus",
                    "practiceConfiguration"
                ],
                "members": {
                    "arn": {},
                    "name": {},
                    "autoShiftStatus": {},
                    "practiceConfiguration": {
                        "shape": "Sm"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "DeletePracticeConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/configuration/{resourceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "name",
                    "autoShiftStatus"
                ],
                "members": {
                    "arn": {},
                    "name": {},
                    "autoShiftStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "UpdatePracticeConfiguration": {
            "http": {
                "method": "PATCH",
                "requestUri": "/configuration/{resourceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    },
                    "blockedTimes": {
                        "shape": "Sb"
                    },
                    "blockedDays": {
                        "shape": "Sd"
                    },
                    "stopConditions": {
                        "shape": "Sf"
                    },
                    "successConditions": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "name",
                    "autoShiftStatus",
                    "practiceConfiguration"
                ],
                "members": {
                    "arn": {},
                    "name": {},
                    "autoShiftStatus": {},
                    "practiceConfiguration": {
                        "shape": "Sm"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "ListAutoShifts": {
            "http": {
                "method": "GET",
                "requestUri": "/autoshifts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "awayFrom",
                                "comment",
                                "endTime",
                                "startTime",
                                "status"
                            ],
                            "members": {
                                "awayFrom": {},
                                "comment": {},
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "StopActiveAutoshift": {
            "http": {
                "method": "PATCH",
                "requestUri": "/autoshifts/{resourceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "name",
                    "appliedWeights",
                    "zonalShifts",
                    "autoShift"
                ],
                "members": {
                    "arn": {},
                    "name": {},
                    "appliedWeights": {
                        "shape": "S12"
                    },
                    "zonalShifts": {
                        "shape": "S14"
                    },
                    "autoShift": {
                        "type": "structure",
                        "required": [
                            "appliedStatus",
                            "awayFrom",
                            "comment",
                            "startTime"
                        ],
                        "members": {
                            "appliedStatus": {},
                            "awayFrom": {},
                            "comment": {},
                            "startTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "CreatePracticeRunConfiguration": {
            "http": {
                "requestUri": "/configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "outcomeAlarms",
                    "resourceIdentifier"
                ],
                "members": {
                    "blockedDates": {
                        "shape": "Sb"
                    },
                    "blockedWindows": {
                        "shape": "Sd"
                    },
                    "blockingAlarms": {
                        "shape": "Sf"
                    },
                    "outcomeAlarms": {
                        "shape": "Sf"
                    },
                    "resourceIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "name",
                    "practiceRunConfiguration",
                    "zonalAutoshiftStatus"
                ],
                "members": {
                    "arn": {},
                    "name": {},
                    "practiceRunConfiguration": {
                        "shape": "Sl"
                    },
                    "zonalAutoshiftStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeletePracticeRunConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/configuration/{resourceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "name",
                    "zonalAutoshiftStatus"
                ],
                "members": {
                    "arn": {},
                    "name": {},
                    "zonalAutoshiftStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListAutoshifts": {
            "http": {
                "method": "GET",
                "requestUri": "/autoshifts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "awayFrom",
                                "endTime",
                                "startTime",
                                "status"
                            ],
                            "members": {
                                "awayFrom": {},
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "UpdatePracticeRunConfiguration": {
            "http": {
                "method": "PATCH",
                "requestUri": "/configuration/{resourceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier"
                ],
                "members": {
                    "blockedDates": {
                        "shape": "Sb"
                    },
                    "blockedWindows": {
                        "shape": "Sd"
                    },
                    "blockingAlarms": {
                        "shape": "Sf"
                    },
                    "outcomeAlarms": {
                        "shape": "Sf"
                    },
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "name",
                    "practiceRunConfiguration",
                    "zonalAutoshiftStatus"
                ],
                "members": {
                    "arn": {},
                    "name": {},
                    "practiceRunConfiguration": {
                        "shape": "Sl"
                    },
                    "zonalAutoshiftStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "UpdateZonalAutoshiftConfiguration": {
            "http": {
                "method": "PUT",
                "requestUri": "/managedresources/{resourceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier",
                    "zonalAutoshiftStatus"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    },
                    "zonalAutoshiftStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceIdentifier",
                    "zonalAutoshiftStatus"
                ],
                "members": {
                    "resourceIdentifier": {},
                    "zonalAutoshiftStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "required": [
                "awayFrom",
                "comment",
                "expiryTime",
                "resourceIdentifier",
                "startTime",
                "status",
                "zonalShiftId"
            ],
            "members": {
                "awayFrom": {},
                "comment": {},
                "expiryTime": {
                    "type": "timestamp"
                },
                "resourceIdentifier": {},
                "startTime": {
                    "type": "timestamp"
                },
                "status": {},
                "zonalShiftId": {}
            }
        },
        "Sd": {
            "type": "structure",
            "members": {
                "alertId": {},
                "azId": {},
                "fabrics": {
                    "shape": "Se"
                },
                "internalAzName": {},
                "active": {
                    "type": "boolean"
                },
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "comments": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sy": {
            "type": "list",
            "member": {
                "shape": "Sd"
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "type",
                "id"
            ],
            "members": {
                "type": {},
                "id": {}
            }
        },
        "S14": {
            "type": "list",
            "member": {
                "shape": "Sd"
            }
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {
                "shape": "Sg"
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "type",
                "id"
            ],
            "members": {
                "type": {},
                "id": {}
            }
        },
        "Sm": {
            "type": "structure",
            "required": [
                "stopCondition",
                "successCondition"
            ],
            "members": {
                "stopCondition": {
                    "shape": "Sg"
                },
                "successCondition": {
                    "shape": "Sg"
                },
                "blockedTimes": {
                    "shape": "Sb"
                },
                "blockedDays": {
                    "shape": "Sd"
                }
            }
        },
        "Ss": {
            "type": "structure",
            "members": {
                "alertId": {},
                "azId": {},
                "fabrics": {
                    "shape": "St"
                },
                "internalAzName": {},
                "active": {
                    "type": "boolean"
                },
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "comments": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "St": {
            "type": "list",
            "member": {}
        },
        "S1b": {
            "type": "list",
            "member": {
                "shape": "Ss"
            }
        },
        "S12": {
            "type": "map",
            "key": {},
            "value": {
                "type": "float"
            }
        },
        "S1g": {
            "type": "list",
            "member": {
                "shape": "Ss"
            }
        },
        "Sl": {
            "type": "structure",
            "required": [
                "outcomeAlarms"
            ],
            "members": {
                "blockedDates": {
                    "shape": "Sb"
                },
                "blockedWindows": {
                    "shape": "Sd"
                },
                "blockingAlarms": {
                    "shape": "Sf"
                },
                "outcomeAlarms": {
                    "shape": "Sf"
                }
            }
        },
        "Sr": {
            "type": "map",
            "key": {},
            "value": {
                "type": "float"
            }
        },
        "Sw": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "appliedStatus",
                    "awayFrom",
                    "comment",
                    "expiryTime",
                    "resourceIdentifier",
                    "startTime",
                    "zonalShiftId"
                ],
                "members": {
                    "appliedStatus": {},
                    "awayFrom": {},
                    "comment": {},
                    "expiryTime": {
                        "type": "timestamp"
                    },
                    "practiceRunOutcome": {},
                    "resourceIdentifier": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "zonalShiftId": {}
                }
            }
        }
    }
}