{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-07-26",
        "endpointPrefix": "arc-region-switch-beta.ram",
        "jsonVersion": "1.0",
        "protocol": "json",
        "protocols": [
            "json"
        ],
        "serviceAbbreviation": "ARCRegionSwitchBeta",
        "serviceFullName": "ARC - Region Switch Beta",
        "serviceId": "ARC Region Switch Beta",
        "signatureVersion": "v4",
        "signingName": "arc-region-switch-beta",
        "targetPrefix": "ArcRegionSwitchBeta",
        "uid": "arc-region-switch-beta-2022-07-26",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5H4YDZN23M3XIYSZZ6RXKE3KZ25UY7F7JIHD5MAILVXJOJ6UU3GA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
        ]
    },
    "operations": {
        "ApprovePlanExecutionStep": {
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "executionId",
                    "stepName",
                    "approval"
                ],
                "members": {
                    "arn": {},
                    "executionId": {},
                    "stepName": {},
                    "approval": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "CancelPlanExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "executionId"
                ],
                "members": {
                    "arn": {},
                    "executionId": {},
                    "comment": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "CreatePlan": {
            "input": {
                "type": "structure",
                "required": [
                    "workflows",
                    "executionRole",
                    "name",
                    "regions",
                    "recoveryApproach"
                ],
                "members": {
                    "description": {},
                    "workflows": {
                        "shape": "Sa"
                    },
                    "executionRole": {},
                    "recoveryTimeObjective": {
                        "type": "integer"
                    },
                    "name": {},
                    "regions": {
                        "shape": "S1o"
                    },
                    "recoveryApproach": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "plan": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "DeletePlan": {
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "DeleteResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "DeleteResourceShareNotification": {
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "consumerAccountID"
                ],
                "members": {
                    "arn": {},
                    "consumerAccountID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "GetPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "workflows",
                    "executionRole",
                    "name",
                    "regions",
                    "recoveryApproach"
                ],
                "members": {
                    "arn": {},
                    "description": {},
                    "workflows": {
                        "shape": "Sa"
                    },
                    "executionRole": {},
                    "recoveryTimeObjective": {
                        "type": "integer"
                    },
                    "updated": {
                        "type": "timestamp"
                    },
                    "name": {},
                    "regions": {
                        "shape": "S1o"
                    },
                    "recoveryApproach": {},
                    "owner": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "GetPlanExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "executionId"
                ],
                "members": {
                    "arn": {},
                    "executionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "executionId",
                    "startTime",
                    "mode",
                    "executionState",
                    "executionAction",
                    "executionRegion"
                ],
                "members": {
                    "arn": {},
                    "executionId": {},
                    "planVersion": {
                        "type": "integer"
                    },
                    "comment": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "mode": {},
                    "executionState": {},
                    "executionAction": {},
                    "executionRegion": {},
                    "stepStates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "status": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "stepMode": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "GetResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "resourcePolicy"
                ],
                "members": {
                    "arn": {},
                    "resourcePolicy": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "GetResourceShareNotification": {
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "consumerAccountID"
                ],
                "members": {
                    "arn": {},
                    "consumerAccountID": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "consumerAccountID",
                    "sequenceNumber",
                    "sharingAction"
                ],
                "members": {
                    "arn": {},
                    "consumerAccountID": {},
                    "sequenceNumber": {
                        "type": "integer"
                    },
                    "sharingAction": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "ListPlanExecutionEvents": {
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "executionId"
                ],
                "members": {
                    "arn": {},
                    "executionId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "eventId"
                            ],
                            "members": {
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "type": {},
                                "stepName": {},
                                "executionBlockType": {},
                                "resources": {
                                    "type": "list",
                                    "member": {}
                                },
                                "error": {},
                                "description": {},
                                "eventId": {},
                                "previousEventId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "ListPlanExecutions": {
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "state": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "executionId",
                                "startTime",
                                "mode",
                                "executionState",
                                "executionAction",
                                "executionRegion"
                            ],
                            "members": {
                                "arn": {},
                                "executionId": {},
                                "planVersion": {
                                    "type": "integer"
                                },
                                "comment": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "mode": {},
                                "executionState": {},
                                "executionAction": {},
                                "executionRegion": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "ListPlans": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "plans": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "name",
                                "regions",
                                "recoveryApproach"
                            ],
                            "members": {
                                "arn": {},
                                "updated": {
                                    "type": "timestamp"
                                },
                                "owner": {},
                                "name": {},
                                "regions": {
                                    "shape": "S1o"
                                },
                                "recoveryApproach": {},
                                "description": {},
                                "executionRole": {},
                                "activePlanExecution": {},
                                "recoveryTimeObjective": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "PutResourcePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "resourcePolicy"
                ],
                "members": {
                    "arn": {},
                    "resourcePolicy": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "StartPlanExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "targetRegion",
                    "action"
                ],
                "members": {
                    "arn": {},
                    "targetRegion": {},
                    "action": {},
                    "mode": {},
                    "comment": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "executionId": {},
                    "plan": {},
                    "planVersion": {
                        "type": "integer"
                    },
                    "activateRegion": {},
                    "deactivateRegion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "UpdatePlan": {
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "workflows",
                    "executionRole"
                ],
                "members": {
                    "arn": {},
                    "description": {},
                    "workflows": {
                        "shape": "Sa"
                    },
                    "executionRole": {},
                    "recoveryTimeObjective": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "plan": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "UpdatePlanExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "executionId",
                    "action"
                ],
                "members": {
                    "arn": {},
                    "executionId": {},
                    "action": {},
                    "comment": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        },
        "UpdatePlanExecutionStep": {
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "executionId",
                    "comment",
                    "stepName",
                    "actionToTake"
                ],
                "members": {
                    "arn": {},
                    "executionId": {},
                    "comment": {},
                    "stepName": {},
                    "actionToTake": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDK3WQXGV6SFLMHQFW5O3DTJ4KW25J64VGERJRY6OSPNBADTIGEQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IBVSC7VHMBW4RJNQMSNQT7LB3HTW6FLHOCLGXYWJT2446SV3EWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKCZOGXTQG4TB56YWTQER7RWFX5RUHVQSEJW3PYIQ6XO4YKH2C6A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4CO7F4O336DA7OM4QC5Q5IJID6FOUBSGYXMY74FLM6GK43XA76Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTTW5QENDVLY2FVDWLM2HI6EOPIDYA6FEXNCNNIGMMHS2VAWZWYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FBJG3G5FNG2SN5N63637UTPD67DNB4TKYBUYAT4YMYR2F5POH23Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKA3W7P4CY62F75R7E3FZA7QTARLQFS7OTGMOHSACWDKJ5LPTMQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGNJYTB6LKO4DE2NQ66JKB2OTD5U4GJTBBUUA35LVF62WSZTPUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VXGNZZWELJPZG7GOGKT45FQAMULYMADSDWMP4FZOWEEUO5IA7WQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDQXBU62N2GWWWRC4HUFFRUZW7MSGJ7CTZQPUYC7ZLP5S2TMPDEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQOBOZFWOH5LW2RAIYKPRFG64WHG2PR2OSHBYSAXFMTAV4I5T62Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FX2UBOKVBGHFP3PEZKTIAPZU3UHSY5ZVDSEJPIACFWNY5INOGBVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJ3CN3HJMXR3YOIGQJAQTVZ6AB3SPOOZTZUF4ZHUMYBF435Q7E4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2UUIWJ2L2ZVZNQKXBTJXZOFPEBDPVKNEL3FZPKFDO3MDUGHWWQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57OWDB73XTQAVHBMWRGQER4LK5F6AS2UCIFZFT5ADODPL6Q7VIJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4D243DGGI74X6PS76PHJ6TISGRTUZF6Z77A6SQ3NNV2JQH7DGSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNQDEH2N7VZ55SKGDWBGF6L6FA7OBTEVE6X3WRGIIW57FGVJA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIT2XSXJ3U6V7PJRVLJ7PKH42VFWWVS4FXGHCUJTAY7NUDPDK7UA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVBBF7FYTO64TGFOHNIZW3KVE4ZNCSCVQZGGF624GANXDU5IQZFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUDAJNHRGYWFYJ26MHBC7MFGCJFDFJVLKEI3PHZMEUD3GCPOTWLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPI7BV4S56U7WIKFQD36P7J3GYLF3Z3VP6PM6PAG3DTIVRUHXO3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIOQT56YI5KXFJZPMDFFLMGTUQA5JB3WPPSI2A7TGUHTBQEBZORA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XNXRRVCASGJLGR36V7IIVIYBWDVVG6PRO7R5LZDTEZYKVX67OQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33GCBMXOZHNI6DHIIWFYJ5CI5ZP2ITWPXH7WRVPWAWC4FI7EDBQ/main.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "workflowTargetAction"
                ],
                "members": {
                    "steps": {
                        "shape": "Sc"
                    },
                    "workflowTargetAction": {},
                    "workflowTargetRegion": {},
                    "workflowDescription": {}
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "executionBlockConfiguration",
                    "executionBlockType"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "executionBlockConfiguration": {
                        "type": "structure",
                        "members": {
                            "CustomActionLambdaConfig": {
                                "type": "structure",
                                "required": [
                                    "lambdas",
                                    "retryInterval",
                                    "regionToRun"
                                ],
                                "members": {
                                    "timeout": {},
                                    "lambdas": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "crossAccountRole": {
                                                    "internalonly": true
                                                },
                                                "externalId": {
                                                    "internalonly": true
                                                },
                                                "arn": {}
                                            }
                                        }
                                    },
                                    "retryInterval": {},
                                    "regionToRun": {},
                                    "ungraceful": {
                                        "type": "structure",
                                        "members": {
                                            "behavior": {}
                                        }
                                    }
                                }
                            },
                            "Ec2AsgCapacityIncreaseConfig": {
                                "type": "structure",
                                "required": [
                                    "asgs"
                                ],
                                "members": {
                                    "timeout": {},
                                    "asgs": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "crossAccountRole": {
                                                    "internalonly": true
                                                },
                                                "externalId": {
                                                    "internalonly": true
                                                },
                                                "arn": {}
                                            }
                                        }
                                    },
                                    "ungraceful": {
                                        "type": "structure",
                                        "required": [
                                            "minimumSuccessPercentage"
                                        ],
                                        "members": {
                                            "minimumSuccessPercentage": {
                                                "type": "integer"
                                            }
                                        }
                                    },
                                    "targetPercent": {
                                        "type": "integer"
                                    },
                                    "capacityMonitoringApproach": {}
                                }
                            },
                            "ExecutionApprovalConfig": {
                                "type": "structure",
                                "required": [
                                    "approvalRole"
                                ],
                                "members": {
                                    "timeout": {},
                                    "approvalRole": {}
                                }
                            },
                            "ArcRoutingControlConfig": {
                                "type": "structure",
                                "required": [
                                    "regionAndRoutingControls"
                                ],
                                "members": {
                                    "timeout": {},
                                    "crossAccountRole": {
                                        "internalonly": true
                                    },
                                    "externalId": {
                                        "internalonly": true
                                    },
                                    "regionAndRoutingControls": {
                                        "type": "map",
                                        "key": {},
                                        "value": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "routingControlArn",
                                                    "state"
                                                ],
                                                "members": {
                                                    "routingControlArn": {},
                                                    "state": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "GlobalAuroraConfig": {
                                "type": "structure",
                                "required": [
                                    "behavior",
                                    "globalClusterIdentifier",
                                    "databaseClusterArns"
                                ],
                                "members": {
                                    "timeout": {},
                                    "crossAccountRole": {
                                        "internalonly": true
                                    },
                                    "externalId": {
                                        "internalonly": true
                                    },
                                    "behavior": {},
                                    "ungraceful": {
                                        "type": "structure",
                                        "members": {
                                            "ungraceful": {}
                                        }
                                    },
                                    "globalClusterIdentifier": {},
                                    "databaseClusterArns": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            },
                            "ParallelConfig": {
                                "type": "structure",
                                "required": [
                                    "steps"
                                ],
                                "members": {
                                    "steps": {
                                        "shape": "Sc"
                                    }
                                }
                            },
                            "RegionSwitchPlanConfig": {
                                "type": "structure",
                                "required": [
                                    "arn"
                                ],
                                "members": {
                                    "crossAccountRole": {
                                        "internalonly": true
                                    },
                                    "externalId": {
                                        "internalonly": true
                                    },
                                    "arn": {}
                                }
                            },
                            "EcsCapacityIncreaseConfig": {
                                "internalonly": true,
                                "type": "structure",
                                "required": [
                                    "services"
                                ],
                                "members": {
                                    "timeout": {},
                                    "services": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "crossAccountRole": {
                                                    "internalonly": true
                                                },
                                                "externalId": {
                                                    "internalonly": true
                                                },
                                                "clusterArn": {
                                                    "type": "string",
                                                    "internalonly": true
                                                },
                                                "serviceArn": {
                                                    "type": "string",
                                                    "internalonly": true
                                                }
                                            },
                                            "internalonly": true
                                        },
                                        "internalonly": true
                                    },
                                    "ungraceful": {
                                        "type": "structure",
                                        "required": [
                                            "minimumSuccessPercentage"
                                        ],
                                        "members": {
                                            "minimumSuccessPercentage": {
                                                "type": "integer"
                                            }
                                        },
                                        "internalonly": true
                                    },
                                    "targetPercent": {
                                        "type": "integer"
                                    },
                                    "capacityMonitoringApproach": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "executionBlockType": {}
                }
            }
        },
        "S1o": {
            "type": "list",
            "member": {}
        },
        "S1r": {
            "type": "structure",
            "required": [
                "arn",
                "workflows",
                "executionRole",
                "name",
                "regions",
                "recoveryApproach"
            ],
            "members": {
                "arn": {},
                "description": {},
                "workflows": {
                    "shape": "Sa"
                },
                "executionRole": {},
                "recoveryTimeObjective": {
                    "type": "integer"
                },
                "updated": {
                    "type": "timestamp"
                },
                "name": {},
                "regions": {
                    "shape": "S1o"
                },
                "recoveryApproach": {},
                "owner": {}
            }
        }
    }
}