{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-10-30",
        "endpointPrefix": "arc-zonal-shift",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS ARC - Zonal Shift",
        "serviceId": "ARC Zonal Shift",
        "signatureVersion": "v4",
        "signingName": "arc-zonal-shift",
        "uid": "arc-zonal-shift-2022-10-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEA64E7TWCNU7L3HVKDJIZPN5FM4USFYDD6ADQXRSAHXFBEEOG6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
        ]
    },
    "operations": {
        "CancelZonalShift": {
            "http": {
                "method": "DELETE",
                "requestUri": "/zonalshifts/{zonalShiftId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "zonalShiftId"
                ],
                "members": {
                    "zonalShiftId": {
                        "location": "uri",
                        "locationName": "zonalShiftId"
                    }
                }
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "GetManagedResource": {
            "http": {
                "method": "GET",
                "requestUri": "/managedresources/{resourceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appliedWeights",
                    "zonalShifts"
                ],
                "members": {
                    "appliedWeights": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "float"
                        }
                    },
                    "arn": {},
                    "name": {},
                    "zonalShifts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "appliedStatus",
                                "awayFrom",
                                "comment",
                                "expiryTime",
                                "resourceIdentifier",
                                "startTime",
                                "zonalShiftId"
                            ],
                            "members": {
                                "appliedStatus": {},
                                "awayFrom": {},
                                "comment": {},
                                "expiryTime": {
                                    "type": "timestamp"
                                },
                                "resourceIdentifier": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "zonalShiftId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "ListManagedResources": {
            "http": {
                "method": "GET",
                "requestUri": "/managedresources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "items"
                ],
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "availabilityZones"
                            ],
                            "members": {
                                "arn": {},
                                "availabilityZones": {
                                    "type": "list",
                                    "member": {}
                                },
                                "name": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "ListZonalShifts": {
            "http": {
                "method": "GET",
                "requestUri": "/zonalshifts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "resourceIdentifier": {
                        "location": "querystring",
                        "locationName": "resourceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "awayFrom",
                                "comment",
                                "expiryTime",
                                "resourceIdentifier",
                                "startTime",
                                "status",
                                "zonalShiftId"
                            ],
                            "members": {
                                "awayFrom": {},
                                "comment": {},
                                "expiryTime": {
                                    "type": "timestamp"
                                },
                                "resourceIdentifier": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "status": {},
                                "zonalShiftId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "StartZonalShift": {
            "http": {
                "requestUri": "/zonalshifts",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "awayFrom",
                    "comment",
                    "expiresIn",
                    "resourceIdentifier"
                ],
                "members": {
                    "awayFrom": {},
                    "comment": {},
                    "expiresIn": {},
                    "resourceIdentifier": {},
                    "startPractice": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "UpdateZonalShift": {
            "http": {
                "method": "PATCH",
                "requestUri": "/zonalshifts/{zonalShiftId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "zonalShiftId"
                ],
                "members": {
                    "comment": {},
                    "expiresIn": {},
                    "zonalShiftId": {
                        "location": "uri",
                        "locationName": "zonalShiftId"
                    },
                    "practiceResult": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6XHSE5VWX3T2RPLBIAXADEUETNZ43IKT72CEGYAHN6ZRAXXGSBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6TPFYA3PEGDMCDW7KXHXY5CJ7RH7AXWYI2Z4KKUZ6JCHWCR5PQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DZ2U6F5MEPZ4PZUQYAFLYYK2FUAPWLVPEVWZQDZVLO3FVXIPACQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "GetAzWeatherAlert": {
            "http": {
                "method": "GET",
                "requestUri": "/weather/alert/{alertId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "alertId"
                ],
                "members": {
                    "alertId": {
                        "location": "uri",
                        "locationName": "alertId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "azWeatherAlert": {
                        "shape": "Sd"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH6YJ7RC2PLQYFXUQF4FX3OZ5PLP3HFAYT5A2AKZU3BWQMXSPNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FCKGDGAZ5PHNZEFDBE7JIS5CPD7ELVLPXQEXUKATVULCMN7Z4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M75Z6XZNVKEA33BGDHLSYGGPX7252RTL4IU7GOHD4OTTPTT3HP3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSGBD4XARNNEIHSWPDIBGDMPNP2AZCFI26HEHQVKREWRYWSU4TNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6RGBVM3AXXKVWXMULY3CLMUIQ3CUVSM4O5GU7SVDX74QX5NMMJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLEETGWKGFPYL3DPN2XJJGU6V65I6YBRNGBVWI25FOPNQLLQV5CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRDZJP2DTHHXAKQJUK3LBX53LLMP467BTDFWGGUI6Q5NTN7LGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE5YMQLNSGN3CX7DJS7LCC3NFQZA566NY6OUIOTCBUSNO2BITD2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF2P7LJQFLOEBIDZL2L3NFCLL444A2DZXU3FKT7QRMNZV7GD2OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW5ULAOH57ULSDZHC5YO4DMTAYWVSCJGDIQQXECK66X4ZTO7KBZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPEJ4ZLR5GBUWFDFXV4JB4RNW4WJWB5PFOGSZRJNKDE6P64RS7AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAQ4W45QL3YUUZLLHBOOHX3F3TNQZ4EK5FUJKOWLFXL277P6YGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBNQJPUZQ5PDFH6RKJXZWFYDSL3BRKTCI55VKYMSHJ2AQDJ4OZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "ListAzWeatherAlerts": {
            "http": {
                "method": "GET",
                "requestUri": "/weather/alerts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "isActiveOnly": {
                        "location": "querystring",
                        "locationName": "isActiveOnly",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "azWeatherAlerts": {
                        "shape": "Sy"
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH6YJ7RC2PLQYFXUQF4FX3OZ5PLP3HFAYT5A2AKZU3BWQMXSPNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FCKGDGAZ5PHNZEFDBE7JIS5CPD7ELVLPXQEXUKATVULCMN7Z4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M75Z6XZNVKEA33BGDHLSYGGPX7252RTL4IU7GOHD4OTTPTT3HP3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSGBD4XARNNEIHSWPDIBGDMPNP2AZCFI26HEHQVKREWRYWSU4TNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6RGBVM3AXXKVWXMULY3CLMUIQ3CUVSM4O5GU7SVDX74QX5NMMJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLEETGWKGFPYL3DPN2XJJGU6V65I6YBRNGBVWI25FOPNQLLQV5CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRDZJP2DTHHXAKQJUK3LBX53LLMP467BTDFWGGUI6Q5NTN7LGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE5YMQLNSGN3CX7DJS7LCC3NFQZA566NY6OUIOTCBUSNO2BITD2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF2P7LJQFLOEBIDZL2L3NFCLL444A2DZXU3FKT7QRMNZV7GD2OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW5ULAOH57ULSDZHC5YO4DMTAYWVSCJGDIQQXECK66X4ZTO7KBZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPEJ4ZLR5GBUWFDFXV4JB4RNW4WJWB5PFOGSZRJNKDE6P64RS7AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAQ4W45QL3YUUZLLHBOOHX3F3TNQZ4EK5FUJKOWLFXL277P6YGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBNQJPUZQ5PDFH6RKJXZWFYDSL3BRKTCI55VKYMSHJ2AQDJ4OZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "StartAzWeatherAlert": {
            "http": {
                "requestUri": "/weather/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "alertId"
                ],
                "members": {
                    "alertId": {},
                    "fabrics": {
                        "shape": "Se"
                    },
                    "azId": {},
                    "internalAzName": {},
                    "comment": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "azWeatherAlert"
                ],
                "members": {
                    "azWeatherAlert": {
                        "shape": "Sd"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH6YJ7RC2PLQYFXUQF4FX3OZ5PLP3HFAYT5A2AKZU3BWQMXSPNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FCKGDGAZ5PHNZEFDBE7JIS5CPD7ELVLPXQEXUKATVULCMN7Z4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M75Z6XZNVKEA33BGDHLSYGGPX7252RTL4IU7GOHD4OTTPTT3HP3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSGBD4XARNNEIHSWPDIBGDMPNP2AZCFI26HEHQVKREWRYWSU4TNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6RGBVM3AXXKVWXMULY3CLMUIQ3CUVSM4O5GU7SVDX74QX5NMMJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLEETGWKGFPYL3DPN2XJJGU6V65I6YBRNGBVWI25FOPNQLLQV5CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRDZJP2DTHHXAKQJUK3LBX53LLMP467BTDFWGGUI6Q5NTN7LGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE5YMQLNSGN3CX7DJS7LCC3NFQZA566NY6OUIOTCBUSNO2BITD2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF2P7LJQFLOEBIDZL2L3NFCLL444A2DZXU3FKT7QRMNZV7GD2OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW5ULAOH57ULSDZHC5YO4DMTAYWVSCJGDIQQXECK66X4ZTO7KBZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPEJ4ZLR5GBUWFDFXV4JB4RNW4WJWB5PFOGSZRJNKDE6P64RS7AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAQ4W45QL3YUUZLLHBOOHX3F3TNQZ4EK5FUJKOWLFXL277P6YGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBNQJPUZQ5PDFH6RKJXZWFYDSL3BRKTCI55VKYMSHJ2AQDJ4OZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "StopAzWeatherAlert": {
            "http": {
                "requestUri": "/weather/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "comment": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "azWeatherAlerts"
                ],
                "members": {
                    "azWeatherAlerts": {
                        "shape": "Sy"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH6YJ7RC2PLQYFXUQF4FX3OZ5PLP3HFAYT5A2AKZU3BWQMXSPNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FCKGDGAZ5PHNZEFDBE7JIS5CPD7ELVLPXQEXUKATVULCMN7Z4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M75Z6XZNVKEA33BGDHLSYGGPX7252RTL4IU7GOHD4OTTPTT3HP3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSGBD4XARNNEIHSWPDIBGDMPNP2AZCFI26HEHQVKREWRYWSU4TNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6RGBVM3AXXKVWXMULY3CLMUIQ3CUVSM4O5GU7SVDX74QX5NMMJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLEETGWKGFPYL3DPN2XJJGU6V65I6YBRNGBVWI25FOPNQLLQV5CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRDZJP2DTHHXAKQJUK3LBX53LLMP467BTDFWGGUI6Q5NTN7LGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE5YMQLNSGN3CX7DJS7LCC3NFQZA566NY6OUIOTCBUSNO2BITD2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF2P7LJQFLOEBIDZL2L3NFCLL444A2DZXU3FKT7QRMNZV7GD2OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW5ULAOH57ULSDZHC5YO4DMTAYWVSCJGDIQQXECK66X4ZTO7KBZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPEJ4ZLR5GBUWFDFXV4JB4RNW4WJWB5PFOGSZRJNKDE6P64RS7AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAQ4W45QL3YUUZLLHBOOHX3F3TNQZ4EK5FUJKOWLFXL277P6YGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBNQJPUZQ5PDFH6RKJXZWFYDSL3BRKTCI55VKYMSHJ2AQDJ4OZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "UpdateAzWeatherAlert": {
            "http": {
                "method": "PATCH",
                "requestUri": "/weather/alert/{alertId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "alertId"
                ],
                "members": {
                    "alertId": {
                        "location": "uri",
                        "locationName": "alertId"
                    },
                    "fabrics": {
                        "shape": "Se"
                    },
                    "comment": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "azWeatherAlert"
                ],
                "members": {
                    "azWeatherAlert": {
                        "shape": "Sd"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH6YJ7RC2PLQYFXUQF4FX3OZ5PLP3HFAYT5A2AKZU3BWQMXSPNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FCKGDGAZ5PHNZEFDBE7JIS5CPD7ELVLPXQEXUKATVULCMN7Z4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M75Z6XZNVKEA33BGDHLSYGGPX7252RTL4IU7GOHD4OTTPTT3HP3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSGBD4XARNNEIHSWPDIBGDMPNP2AZCFI26HEHQVKREWRYWSU4TNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6RGBVM3AXXKVWXMULY3CLMUIQ3CUVSM4O5GU7SVDX74QX5NMMJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLEETGWKGFPYL3DPN2XJJGU6V65I6YBRNGBVWI25FOPNQLLQV5CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRDZJP2DTHHXAKQJUK3LBX53LLMP467BTDFWGGUI6Q5NTN7LGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE5YMQLNSGN3CX7DJS7LCC3NFQZA566NY6OUIOTCBUSNO2BITD2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF2P7LJQFLOEBIDZL2L3NFCLL444A2DZXU3FKT7QRMNZV7GD2OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW5ULAOH57ULSDZHC5YO4DMTAYWVSCJGDIQQXECK66X4ZTO7KBZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPEJ4ZLR5GBUWFDFXV4JB4RNW4WJWB5PFOGSZRJNKDE6P64RS7AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAQ4W45QL3YUUZLLHBOOHX3F3TNQZ4EK5FUJKOWLFXL277P6YGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBNQJPUZQ5PDFH6RKJXZWFYDSL3BRKTCI55VKYMSHJ2AQDJ4OZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "UpdateAutoShiftConfiguration": {
            "http": {
                "method": "PUT",
                "requestUri": "/managedresources/{resourceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier",
                    "autoShiftStatus"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    },
                    "autoShiftStatus": {},
                    "practiceModeStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourceIdentifier",
                    "autoShiftStatus"
                ],
                "members": {
                    "resourceIdentifier": {},
                    "autoShiftStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH6YJ7RC2PLQYFXUQF4FX3OZ5PLP3HFAYT5A2AKZU3BWQMXSPNUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FCKGDGAZ5PHNZEFDBE7JIS5CPD7ELVLPXQEXUKATVULCMN7Z4VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M75Z6XZNVKEA33BGDHLSYGGPX7252RTL4IU7GOHD4OTTPTT3HP3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSGBD4XARNNEIHSWPDIBGDMPNP2AZCFI26HEHQVKREWRYWSU4TNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6RGBVM3AXXKVWXMULY3CLMUIQ3CUVSM4O5GU7SVDX74QX5NMMJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLEETGWKGFPYL3DPN2XJJGU6V65I6YBRNGBVWI25FOPNQLLQV5CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SRDZJP2DTHHXAKQJUK3LBX53LLMP467BTDFWGGUI6Q5NTN7LGZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE5YMQLNSGN3CX7DJS7LCC3NFQZA566NY6OUIOTCBUSNO2BITD2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF2P7LJQFLOEBIDZL2L3NFCLL444A2DZXU3FKT7QRMNZV7GD2OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW5ULAOH57ULSDZHC5YO4DMTAYWVSCJGDIQQXECK66X4ZTO7KBZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPEJ4ZLR5GBUWFDFXV4JB4RNW4WJWB5PFOGSZRJNKDE6P64RS7AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAQ4W45QL3YUUZLLHBOOHX3F3TNQZ4EK5FUJKOWLFXL277P6YGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBNQJPUZQ5PDFH6RKJXZWFYDSL3BRKTCI55VKYMSHJ2AQDJ4OZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "CreatePracticeConfiguration": {
            "http": {
                "requestUri": "/configuration",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier",
                    "stopConditions",
                    "successConditions"
                ],
                "members": {
                    "resourceIdentifier": {},
                    "blockedTimes": {
                        "shape": "Sb"
                    },
                    "blockedDays": {
                        "shape": "Sd"
                    },
                    "stopConditions": {
                        "shape": "Sf"
                    },
                    "successConditions": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "name",
                    "autoShiftStatus",
                    "practiceConfiguration"
                ],
                "members": {
                    "arn": {},
                    "name": {},
                    "autoShiftStatus": {},
                    "practiceConfiguration": {
                        "shape": "Sm"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "DeletePracticeConfiguration": {
            "http": {
                "method": "DELETE",
                "requestUri": "/configuration/{resourceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "name",
                    "autoShiftStatus"
                ],
                "members": {
                    "arn": {},
                    "name": {},
                    "autoShiftStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "UpdatePracticeConfiguration": {
            "http": {
                "method": "PATCH",
                "requestUri": "/configuration/{resourceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    },
                    "blockedTimes": {
                        "shape": "Sb"
                    },
                    "blockedDays": {
                        "shape": "Sd"
                    },
                    "stopConditions": {
                        "shape": "Sf"
                    },
                    "successConditions": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "name",
                    "autoShiftStatus",
                    "practiceConfiguration"
                ],
                "members": {
                    "arn": {},
                    "name": {},
                    "autoShiftStatus": {},
                    "practiceConfiguration": {
                        "shape": "Sm"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCWMG6ESIBXW4JNHG7CZR6TICHAJTVEZCNDFELA6PDGUHLGYQVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "ListAutoShifts": {
            "http": {
                "method": "GET",
                "requestUri": "/autoshifts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "awayFrom",
                                "comment",
                                "endTime",
                                "startTime",
                                "status"
                            ],
                            "members": {
                                "awayFrom": {},
                                "comment": {},
                                "endTime": {
                                    "type": "timestamp"
                                },
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        },
        "StopActiveAutoshift": {
            "http": {
                "method": "PATCH",
                "requestUri": "/autoshifts/{resourceIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceIdentifier"
                ],
                "members": {
                    "resourceIdentifier": {
                        "location": "uri",
                        "locationName": "resourceIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "name",
                    "appliedWeights",
                    "zonalShifts",
                    "autoShift"
                ],
                "members": {
                    "arn": {},
                    "name": {},
                    "appliedWeights": {
                        "shape": "S12"
                    },
                    "zonalShifts": {
                        "shape": "S14"
                    },
                    "autoShift": {
                        "type": "structure",
                        "required": [
                            "appliedStatus",
                            "awayFrom",
                            "comment",
                            "startTime"
                        ],
                        "members": {
                            "appliedStatus": {},
                            "awayFrom": {},
                            "comment": {},
                            "startTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WDAZO7N6YCJGFHHIBAFVIJL6KZUYDTJNYY4E27FJDOHS7OUNPTOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RDTZA5PBTOE6CSEXJHPIMH4CW7JGDLG6PDKO7CVNDPRWQYZ35VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YY245G3JVXUDP6BRVJ5Q6ITOYJKYWCGQSEDZ5V7Q3EOPKL3I2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQLBS46LAOSMJTPEAM4R5KMGR5QKOX4ADWUZUUJV7HY6FSF5BV2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUZPDTSSG6VDDM2DDXIVHR26HIANQXMVAL4I2KFQCDWIZL2PFDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J56BQSJ533MVZ2BE75MK4LZYDTOWO4JRZDSLOUQA3ZQCZEZ3R47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NR5OLI7ASEQB6ODI5XQYBAE5EEY5K7JGEHYZQ63T2KXXCJF4GPMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LA4FZU2CGVDMDSI75FK26WH537VXHORUANSC2FSBPAYVVZKGSTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYVSLAKF63PEIHEKNNX7EVJEY4DGRXFBQGKBG3HA2XHV62H7A2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYCK4LESM667I25WFLPDEXVQEHKYX3TIQQD3R23EMHHZDSWJ757A/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "required": [
                "awayFrom",
                "comment",
                "expiryTime",
                "resourceIdentifier",
                "startTime",
                "status",
                "zonalShiftId"
            ],
            "members": {
                "awayFrom": {},
                "comment": {},
                "expiryTime": {
                    "type": "timestamp"
                },
                "resourceIdentifier": {},
                "startTime": {
                    "type": "timestamp"
                },
                "status": {},
                "zonalShiftId": {}
            }
        },
        "Sd": {
            "type": "structure",
            "members": {
                "alertId": {},
                "azId": {},
                "fabrics": {
                    "shape": "Se"
                },
                "internalAzName": {},
                "active": {
                    "type": "boolean"
                },
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "comments": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sy": {
            "type": "list",
            "member": {
                "shape": "Sd"
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "type",
                "id"
            ],
            "members": {
                "type": {},
                "id": {}
            }
        },
        "S14": {
            "type": "list",
            "member": {
                "shape": "Sd"
            }
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {
                "shape": "Sg"
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "type",
                "id"
            ],
            "members": {
                "type": {},
                "id": {}
            }
        },
        "Sm": {
            "type": "structure",
            "required": [
                "stopCondition",
                "successCondition"
            ],
            "members": {
                "stopCondition": {
                    "shape": "Sg"
                },
                "successCondition": {
                    "shape": "Sg"
                },
                "blockedTimes": {
                    "shape": "Sb"
                },
                "blockedDays": {
                    "shape": "Sd"
                }
            }
        },
        "Ss": {
            "type": "structure",
            "members": {
                "alertId": {},
                "azId": {},
                "fabrics": {
                    "shape": "St"
                },
                "internalAzName": {},
                "active": {
                    "type": "boolean"
                },
                "startTime": {
                    "type": "timestamp"
                },
                "endTime": {
                    "type": "timestamp"
                },
                "comments": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "St": {
            "type": "list",
            "member": {}
        },
        "S1b": {
            "type": "list",
            "member": {
                "shape": "Ss"
            }
        },
        "S12": {
            "type": "map",
            "key": {},
            "value": {
                "type": "float"
            }
        },
        "S1g": {
            "type": "list",
            "member": {
                "shape": "Ss"
            }
        }
    }
}