{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-04-27",
        "endpointPrefix": "athena",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Athena",
        "signatureVersion": "v4",
        "targetPrefix": "AmazonAthena",
        "uid": "athena-2016-04-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
        ]
    },
    "operations": {
        "BatchGetNamedQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "NamedQueryIds"
                ],
                "members": {
                    "NamedQueryIds": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NamedQueries": {
                        "type": "list",
                        "member": {
                            "shape": "S6"
                        }
                    },
                    "UnprocessedNamedQueryIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "NamedQueryId": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "BatchGetPreparedStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "PreparedStatementNames",
                    "WorkGroup"
                ],
                "members": {
                    "PreparedStatementNames": {
                        "type": "list",
                        "member": {}
                    },
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PreparedStatements": {
                        "type": "list",
                        "member": {
                            "shape": "Sl"
                        }
                    },
                    "UnprocessedPreparedStatementNames": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StatementName": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "BatchGetQueryExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionIds"
                ],
                "members": {
                    "QueryExecutionIds": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueryExecutions": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "UnprocessedQueryExecutionIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "QueryExecutionId": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "CancelCapacityReservation": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "CancelQueryExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionId"
                ],
                "members": {
                    "QueryExecutionId": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "deprecated": true,
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2KQFFNHKMSHWC5KI52L7FV3BMLDFFRFZRXB65UJVTQOZFD4FQFA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js"
            ]
        },
        "CheckQueryCompatibility": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroup",
                    "CompatibilityType"
                ],
                "members": {
                    "WorkGroup": {},
                    "CompatibilityType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IncompatibleQueries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "QueryId": {},
                                "ResolutionStrategy": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "CreateCapacityReservation": {
            "input": {
                "type": "structure",
                "required": [
                    "TargetDpus",
                    "Name"
                ],
                "members": {
                    "TargetDpus": {
                        "type": "integer"
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "CreateDataCatalog": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Type"
                ],
                "members": {
                    "Name": {},
                    "Type": {},
                    "Description": {},
                    "Parameters": {
                        "shape": "S2b"
                    },
                    "Tags": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "CreateNamedQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Database",
                    "QueryString"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "Database": {},
                    "QueryString": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NamedQueryId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "CreateNotebook": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroup",
                    "Name"
                ],
                "members": {
                    "WorkGroup": {},
                    "Name": {},
                    "ClientRequestToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NotebookId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "CreatePreparedStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "StatementName",
                    "WorkGroup",
                    "QueryStatement"
                ],
                "members": {
                    "StatementName": {},
                    "WorkGroup": {},
                    "QueryStatement": {},
                    "Description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "CreatePresignedNotebookUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "SessionId"
                ],
                "members": {
                    "SessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "NotebookUrl",
                    "AuthToken",
                    "AuthTokenExpirationTime"
                ],
                "members": {
                    "NotebookUrl": {},
                    "AuthToken": {},
                    "AuthTokenExpirationTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "CreateWorkGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Configuration": {
                        "shape": "S2u"
                    },
                    "Configurations": {
                        "shape": "S2z",
                        "deprecated": true,
                        "deprecatedMessage": "Kepler Post GA Tasks : https://sim.amazon.com/issues/ATHENA-39828"
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "DeleteDataCatalog": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "DeleteCatalogOnly": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "DeleteNamedQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "NamedQueryId"
                ],
                "members": {
                    "NamedQueryId": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "DeleteNotebook": {
            "input": {
                "type": "structure",
                "required": [
                    "NotebookId"
                ],
                "members": {
                    "NotebookId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "DeletePreparedStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "StatementName",
                    "WorkGroup"
                ],
                "members": {
                    "StatementName": {},
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "DeleteQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryId"
                ],
                "members": {
                    "QueryId": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "deprecated": true,
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2KQFFNHKMSHWC5KI52L7FV3BMLDFFRFZRXB65UJVTQOZFD4FQFA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js"
            ]
        },
        "DeleteWorkGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroup"
                ],
                "members": {
                    "WorkGroup": {},
                    "RecursiveDeleteOption": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "ExportNotebook": {
            "input": {
                "type": "structure",
                "required": [
                    "NotebookId"
                ],
                "members": {
                    "NotebookId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NotebookMetadata": {
                        "shape": "S3j"
                    },
                    "Payload": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "GetAccountConfiguration": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountConfiguration": {
                        "type": "structure",
                        "members": {
                            "ResultConfiguration": {
                                "shape": "Sx"
                            },
                            "QueryConfiguration": {
                                "shape": "S3p"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6QSM4IKOJ4JKNZRHRMJ6TIHLZR6YSASTKDTBJMJ4LNSE3NTKTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVLYZ3ZEFX2XCH5K6QECJ5ZAWCULPIHELAIF6KEMGCOPXCAU6W5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2KQFFNHKMSHWC5KI52L7FV3BMLDFFRFZRXB65UJVTQOZFD4FQFA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js"
            ]
        },
        "GetCalculationExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "CalculationExecutionId"
                ],
                "members": {
                    "CalculationExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CalculationExecutionId": {},
                    "SessionId": {},
                    "Description": {},
                    "WorkingDirectory": {},
                    "Status": {
                        "shape": "S3t"
                    },
                    "Statistics": {
                        "shape": "S3v"
                    },
                    "Result": {
                        "type": "structure",
                        "members": {
                            "StdOutS3Uri": {},
                            "StdErrorS3Uri": {},
                            "ResultS3Uri": {},
                            "ResultType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "GetCalculationExecutionCode": {
            "input": {
                "type": "structure",
                "required": [
                    "CalculationExecutionId"
                ],
                "members": {
                    "CalculationExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CodeBlock": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "GetCalculationExecutionStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "CalculationExecutionId"
                ],
                "members": {
                    "CalculationExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {
                        "shape": "S3t"
                    },
                    "Statistics": {
                        "shape": "S3v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "GetCapacityAssignmentConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "CapacityReservationName"
                ],
                "members": {
                    "CapacityReservationName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CapacityAssignmentConfiguration"
                ],
                "members": {
                    "CapacityAssignmentConfiguration": {
                        "type": "structure",
                        "members": {
                            "CapacityReservationName": {},
                            "CapacityAssignments": {
                                "shape": "S46"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "GetCapacityReservation": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CapacityReservation"
                ],
                "members": {
                    "CapacityReservation": {
                        "shape": "S4b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
[...]
