{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-04-27",
        "endpointPrefix": "athena",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Athena",
        "signatureVersion": "v4",
        "targetPrefix": "AmazonAthena",
        "uid": "athena-2016-04-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/D364OLMQ6SH44A7WPTCLPG5TBOQHFRXIA4VGURPMH56MZMJECZSA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
        ]
    },
    "operations": {
        "BatchGetNamedQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "NamedQueryIds"
                ],
                "members": {
                    "NamedQueryIds": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NamedQueries": {
                        "type": "list",
                        "member": {
                            "shape": "S6"
                        }
                    },
                    "UnprocessedNamedQueryIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "NamedQueryId": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "BatchGetPreparedStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "PreparedStatementNames",
                    "WorkGroup"
                ],
                "members": {
                    "PreparedStatementNames": {
                        "type": "list",
                        "member": {}
                    },
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PreparedStatements": {
                        "type": "list",
                        "member": {
                            "shape": "Sl"
                        }
                    },
                    "UnprocessedPreparedStatementNames": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StatementName": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "BatchGetQueryExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionIds"
                ],
                "members": {
                    "QueryExecutionIds": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueryExecutions": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "UnprocessedQueryExecutionIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "QueryExecutionId": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CancelCapacityReservation": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CancelQueryExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionId"
                ],
                "members": {
                    "QueryExecutionId": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "deprecated": true,
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CheckQueryCompatibility": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroup",
                    "CompatibilityType"
                ],
                "members": {
                    "WorkGroup": {},
                    "CompatibilityType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IncompatibleQueries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "QueryId": {},
                                "ResolutionStrategy": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreateCapacityReservation": {
            "input": {
                "type": "structure",
                "required": [
                    "TargetDpus",
                    "Name"
                ],
                "members": {
                    "TargetDpus": {
                        "type": "integer"
                    },
                    "Name": {},
                    "Tags": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreateDataCatalog": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Type"
                ],
                "members": {
                    "Name": {},
                    "Type": {},
                    "Description": {},
                    "Parameters": {
                        "shape": "S2b"
                    },
                    "Tags": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreateNamedQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Database",
                    "QueryString"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "Database": {},
                    "QueryString": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NamedQueryId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreateNotebook": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroup",
                    "Name"
                ],
                "members": {
                    "WorkGroup": {},
                    "Name": {},
                    "ClientRequestToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NotebookId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreatePreparedStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "StatementName",
                    "WorkGroup",
                    "QueryStatement"
                ],
                "members": {
                    "StatementName": {},
                    "WorkGroup": {},
                    "QueryStatement": {},
                    "Description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreatePresignedNotebookUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "SessionId"
                ],
                "members": {
                    "SessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "NotebookUrl",
                    "AuthToken",
                    "AuthTokenExpirationTime"
                ],
                "members": {
                    "NotebookUrl": {},
                    "AuthToken": {},
                    "AuthTokenExpirationTime": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreateWorkGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Configuration": {
                        "shape": "S2u"
                    },
                    "Configurations": {
                        "shape": "S2z",
                        "deprecated": true,
                        "deprecatedMessage": "Kepler Post GA Tasks : https://sim.amazon.com/issues/ATHENA-39828"
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DeleteDataCatalog": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DeleteNamedQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "NamedQueryId"
                ],
                "members": {
                    "NamedQueryId": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DeleteNotebook": {
            "input": {
                "type": "structure",
                "required": [
                    "NotebookId"
                ],
                "members": {
                    "NotebookId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DeletePreparedStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "StatementName",
                    "WorkGroup"
                ],
                "members": {
                    "StatementName": {},
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DeleteQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryId"
                ],
                "members": {
                    "QueryId": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "deprecated": true,
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DeleteWorkGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroup"
                ],
                "members": {
                    "WorkGroup": {},
                    "RecursiveDeleteOption": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "ExportNotebook": {
            "input": {
                "type": "structure",
                "required": [
                    "NotebookId"
                ],
                "members": {
                    "NotebookId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NotebookMetadata": {
                        "shape": "S3j"
                    },
                    "Payload": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetAccountConfiguration": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountConfiguration": {
                        "type": "structure",
                        "members": {
                            "ResultConfiguration": {
                                "shape": "Sx"
                            },
                            "QueryConfiguration": {
                                "shape": "S3p"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetCalculationExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "CalculationExecutionId"
                ],
                "members": {
                    "CalculationExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CalculationExecutionId": {},
                    "SessionId": {},
                    "Description": {},
                    "WorkingDirectory": {},
                    "Status": {
                        "shape": "S3t"
                    },
                    "Statistics": {
                        "shape": "S3v"
                    },
                    "Result": {
                        "type": "structure",
                        "members": {
                            "StdOutS3Uri": {},
                            "StdErrorS3Uri": {},
                            "ResultS3Uri": {},
                            "ResultType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetCalculationExecutionCode": {
            "input": {
                "type": "structure",
                "required": [
                    "CalculationExecutionId"
                ],
                "members": {
                    "CalculationExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CodeBlock": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetCalculationExecutionStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "CalculationExecutionId"
                ],
                "members": {
                    "CalculationExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {
                        "shape": "S3t"
                    },
                    "Statistics": {
                        "shape": "S3v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetCapacityAssignmentConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "CapacityReservationName"
                ],
                "members": {
                    "CapacityReservationName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CapacityAssignmentConfiguration"
                ],
                "members": {
                    "CapacityAssignmentConfiguration": {
                        "type": "structure",
                        "members": {
                            "CapacityReservationName": {},
                            "CapacityAssignments": {
                                "shape": "S46"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetCapacityReservation": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CapacityReservation"
                ],
                "members": {
                    "CapacityReservation": {
                        "shape": "S4b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetCatalogImportStatus": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ImportStatus": {
                        "type": "structure",
                        "members": {
                            "ImportCompleted": {
                                "type": "boolean"
                            },
                            "ImportTime": {
[...]
