{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-05-18",
        "endpointPrefix": "athena",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Athena",
        "serviceId": "Athena",
        "signatureVersion": "v4",
        "targetPrefix": "AmazonAthena",
        "uid": "athena-2017-05-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
        ]
    },
    "operations": {
        "BatchGetNamedQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "NamedQueryIds"
                ],
                "members": {
                    "NamedQueryIds": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NamedQueries": {
                        "type": "list",
                        "member": {
                            "shape": "S6"
                        }
                    },
                    "UnprocessedNamedQueryIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "NamedQueryId": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "BatchGetQueryExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionIds"
                ],
                "members": {
                    "QueryExecutionIds": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueryExecutions": {
                        "type": "list",
                        "member": {
                            "shape": "Sl"
                        }
                    },
                    "UnprocessedQueryExecutionIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "QueryExecutionId": {},
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateDataCatalog": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Type"
                ],
                "members": {
                    "Name": {},
                    "Type": {},
                    "Description": {},
                    "Parameters": {
                        "shape": "S13"
                    },
                    "Tags": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateNamedQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Database",
                    "QueryString"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "Database": {},
                    "QueryString": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NamedQueryId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreatePreparedStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "StatementName",
                    "WorkGroup",
                    "QueryStatement"
                ],
                "members": {
                    "StatementName": {},
                    "WorkGroup": {},
                    "QueryStatement": {},
                    "Description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateWorkGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Configuration": {
                        "shape": "S1i"
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteDataCatalog": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteNamedQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "NamedQueryId"
                ],
                "members": {
                    "NamedQueryId": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeletePreparedStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "StatementName",
                    "WorkGroup"
                ],
                "members": {
                    "StatementName": {},
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteWorkGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroup"
                ],
                "members": {
                    "WorkGroup": {},
                    "RecursiveDeleteOption": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetDataCatalog": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataCatalog": {
                        "type": "structure",
                        "required": [
                            "Name",
                            "Type"
                        ],
                        "members": {
                            "Name": {},
                            "Description": {},
                            "Type": {},
                            "Parameters": {
                                "shape": "S13"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetDatabase": {
            "input": {
                "type": "structure",
                "required": [
                    "CatalogName",
                    "DatabaseName"
                ],
                "members": {
                    "CatalogName": {},
                    "DatabaseName": {},
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Database": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetNamedQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "NamedQueryId"
                ],
                "members": {
                    "NamedQueryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NamedQuery": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetPreparedStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "StatementName",
                    "WorkGroup"
                ],
                "members": {
                    "StatementName": {},
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PreparedStatement": {
                        "type": "structure",
                        "members": {
                            "StatementName": {},
                            "QueryStatement": {},
                            "WorkGroupName": {},
                            "Description": {},
                            "LastModifiedTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetQueryExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionId"
                ],
                "members": {
                    "QueryExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueryExecution": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetQueryResults": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionId"
                ],
                "members": {
                    "QueryExecutionId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UpdateCount": {
                        "type": "long"
                    },
                    "ResultSet": {
                        "type": "structure",
                        "members": {
                            "Rows": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Data": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "VarCharValue": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "ResultSetMetadata": {
                                "type": "structure",
                                "members": {
                                    "ColumnInfo": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "Name",
                                                "Type"
                                            ],
                                            "members": {
                                                "CatalogName": {},
                                                "SchemaName": {},
                                                "TableName": {},
                                                "Name": {},
                                                "Label": {},
                                                "Type": {},
                                                "Precision": {
                                                    "type": "integer"
                                                },
                                                "Scale": {
                                                    "type": "integer"
                                                },
                                                "Nullable": {},
                                                "CaseSensitive": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetTableMetadata": {
            "input": {
                "type": "structure",
                "required": [
                    "CatalogName",
                    "DatabaseName",
                    "TableName"
                ],
                "members": {
                    "CatalogName": {},
                    "DatabaseName": {},
                    "TableName": {},
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TableMetadata": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetWorkGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroup"
                ],
                "members": {
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkGroup": {
                        "type": "structure",
                        "required": [
                            "Name"
                        ],
                        "members": {
                            "Name": {},
                            "State": {},
                            "Configuration": {
                                "shape": "S1i"
                            },
                            "Description": {},
                            "CreationTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListDataCatalogs": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataCatalogsSummary": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CatalogName": {},
                                "Type": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListDatabases": {
            "input": {
                "type": "structure",
                "required": [
                    "CatalogName"
                ],
                "members": {
                    "CatalogName": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DatabaseList": {
                        "type": "list",
                        "member": {
                            "shape": "S20"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListEngineVersions": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EngineVersions": {
                        "type": "list",
                        "member": {
                            "shape": "Sy"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListNamedQueries": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NamedQueryIds": {
                        "shape": "S2"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListPreparedStatements": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroup"
                ],
                "members": {
                    "WorkGroup": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PreparedStatements": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StatementName": {},
                                "LastModifiedTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListQueryExecutions": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "WorkGroup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueryExecutionIds": {
                        "shape": "Sh"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPHZ3DMKZMTVRI5WEGLZ6ZUCN4VRB5AU56CQNHMOI77UMXP4ROEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMHBWH2UBFMA26YEVN7KDZSA5FOOSB5OMMZP3E4RUDHV2E4WQ2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICZGNL2HKHRPGILCCOR7KO2NGS2HXWVCVQMVZBYBPL34IMRBZLMQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
[...]
