{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "auditmanager",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Audit Manager",
        "serviceId": "AuditManager",
        "signatureVersion": "v4",
        "signingName": "auditmanager",
        "uid": "auditmanager-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BZP347RBIE6EH5ODIUS64OXOOH6W33VDCXMN7TX4YIEQ5A4E66PA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateAssessmentReportEvidenceFolder": {
            "http": {
                "method": "PUT",
                "requestUri": "/assessments/{assessmentId}/associateToAssessmentReport"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assessmentId",
                    "evidenceFolderId"
                ],
                "members": {
                    "assessmentId": {
                        "location": "uri",
                        "locationName": "assessmentId"
                    },
                    "evidenceFolderId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "BatchAssociateAssessmentReportEvidence": {
            "http": {
                "method": "PUT",
                "requestUri": "/assessments/{assessmentId}/batchAssociateToAssessmentReport"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assessmentId",
                    "evidenceFolderId",
                    "evidenceIds"
                ],
                "members": {
                    "assessmentId": {
                        "location": "uri",
                        "locationName": "assessmentId"
                    },
                    "evidenceFolderId": {},
                    "evidenceIds": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "evidenceIds": {
                        "shape": "S5"
                    },
                    "errors": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "BatchCreateDelegationByAssessment": {
            "http": {
                "requestUri": "/assessments/{assessmentId}/delegations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "createDelegationRequests",
                    "assessmentId"
                ],
                "members": {
                    "createDelegationRequests": {
                        "type": "list",
                        "member": {
                            "shape": "Sd"
                        }
                    },
                    "assessmentId": {
                        "location": "uri",
                        "locationName": "assessmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "delegations": {
                        "shape": "Sj"
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "createDelegationRequest": {
                                    "shape": "Sd"
                                },
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "BatchDeleteDelegationByAssessment": {
            "http": {
                "method": "PUT",
                "requestUri": "/assessments/{assessmentId}/delegations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "delegationIds",
                    "assessmentId"
                ],
                "members": {
                    "delegationIds": {
                        "type": "list",
                        "member": {}
                    },
                    "assessmentId": {
                        "location": "uri",
                        "locationName": "assessmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "delegationId": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "BatchDisassociateAssessmentReportEvidence": {
            "http": {
                "method": "PUT",
                "requestUri": "/assessments/{assessmentId}/batchDisassociateFromAssessmentReport"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assessmentId",
                    "evidenceFolderId",
                    "evidenceIds"
                ],
                "members": {
                    "assessmentId": {
                        "location": "uri",
                        "locationName": "assessmentId"
                    },
                    "evidenceFolderId": {},
                    "evidenceIds": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "evidenceIds": {
                        "shape": "S5"
                    },
                    "errors": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "BatchImportEvidenceToAssessmentControl": {
            "http": {
                "requestUri": "/assessments/{assessmentId}/controlSets/{controlSetId}/controls/{controlId}/evidence"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assessmentId",
                    "controlSetId",
                    "controlId",
                    "manualEvidence"
                ],
                "members": {
                    "assessmentId": {
                        "location": "uri",
                        "locationName": "assessmentId"
                    },
                    "controlSetId": {
                        "location": "uri",
                        "locationName": "controlSetId"
                    },
                    "controlId": {
                        "location": "uri",
                        "locationName": "controlId"
                    },
                    "manualEvidence": {
                        "type": "list",
                        "member": {
                            "shape": "S10"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "manualEvidence": {
                                    "shape": "S10"
                                },
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateAssessment": {
            "http": {
                "requestUri": "/assessments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "assessmentReportsDestination",
                    "scope",
                    "roles",
                    "frameworkId"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "assessmentReportsDestination": {
                        "shape": "S17"
                    },
                    "scope": {
                        "shape": "S19"
                    },
                    "roles": {
                        "shape": "S1i"
                    },
                    "frameworkId": {},
                    "tags": {
                        "shape": "S1k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessment": {
                        "shape": "S1o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateAssessmentFramework": {
            "http": {
                "requestUri": "/assessmentFrameworks"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "controlSets"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "complianceType": {},
                    "controlSets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name"
                            ],
                            "members": {
                                "name": {},
                                "controls": {
                                    "shape": "S2j"
                                }
                            }
                        }
                    },
                    "tags": {
                        "shape": "S1k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "framework": {
                        "shape": "S2m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateAssessmentReport": {
            "http": {
                "requestUri": "/assessments/{assessmentId}/reports"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "assessmentId"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "assessmentId": {
                        "location": "uri",
                        "locationName": "assessmentId"
                    },
                    "queryStatement": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentReport": {
                        "type": "structure",
                        "members": {
                            "id": {},
                            "name": {},
                            "description": {},
                            "awsAccountId": {},
                            "assessmentId": {},
                            "assessmentName": {},
                            "author": {},
                            "status": {},
                            "creationTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateControl": {
            "http": {
                "requestUri": "/controls"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "controlMappingSources"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "testingInformation": {},
                    "actionPlanTitle": {},
                    "actionPlanInstructions": {},
                    "controlMappingSources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "sourceName": {},
                                "sourceDescription": {},
                                "sourceSetUpOption": {},
                                "sourceType": {},
                                "sourceKeyword": {
                                    "shape": "S33"
                                },
                                "sourceFrequency": {},
                                "troubleshootingText": {}
                            }
                        }
                    },
                    "tags": {
                        "shape": "S1k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "control": {
                        "shape": "S2s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAssessment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/assessments/{assessmentId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assessmentId"
                ],
                "members": {
                    "assessmentId": {
                        "location": "uri",
                        "locationName": "assessmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAssessmentFramework": {
            "http": {
                "method": "DELETE",
                "requestUri": "/assessmentFrameworks/{frameworkId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "frameworkId"
                ],
                "members": {
                    "frameworkId": {
                        "location": "uri",
                        "locationName": "frameworkId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAssessmentFrameworkShare": {
            "http": {
                "method": "DELETE",
                "requestUri": "/assessmentFrameworkShareRequests/{requestId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "requestId",
                    "requestType"
                ],
                "members": {
                    "requestId": {
                        "location": "uri",
                        "locationName": "requestId"
                    },
                    "requestType": {
                        "location": "querystring",
                        "locationName": "requestType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G2V6STACGEXQXL5FYAZUR2OZW7EPF774MAGK3XKWHJYS7RFDZHA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3EPBYZLAS6IOMAV3NLUYOIO2QDQUUFNN6AWBGI2D4RQ4HRXLDIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6JCIUDORG3TENXW2NTTDUOVNPXRBDGADM6EAGLUUZB6T7VFGFEA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3C2GPS675JXW4IOCKM7VQGIXVZDTS5PXOYKNA7ZBDQRN47E43UA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZP347RBIE6EH5ODIUS64OXOOH6W33VDCXMN7TX4YIEQ5A4E66PA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAssessmentReport": {
            "http": {
                "method": "DELETE",
                "requestUri": "/assessments/{assessmentId}/reports/{assessmentReportId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assessmentId",
                    "assessmentReportId"
                ],
                "members": {
                    "assessmentId": {
                        "location": "uri",
                        "locationName": "assessmentId"
                    },
                    "assessmentReportId": {
                        "location": "uri",
                        "locationName": "assessmentReportId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteControl": {
            "http": {
                "method": "DELETE",
                "requestUri": "/controls/{controlId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "controlId"
                ],
                "members": {
                    "controlId": {
                        "location": "uri",
                        "locationName": "controlId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeregisterAccount": {
            "http": {
                "requestUri": "/account/deregisterAccount"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeregisterOrganizationAdminAccount": {
            "http": {
                "requestUri": "/account/deregisterOrganizationAdminAccount"
            },
            "input": {
                "type": "structure",
                "members": {
                    "adminAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DisassociateAssessmentReportEvidenceFolder": {
            "http": {
                "method": "PUT",
                "requestUri": "/assessments/{assessmentId}/disassociateFromAssessmentReport"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assessmentId",
                    "evidenceFolderId"
                ],
                "members": {
                    "assessmentId": {
                        "location": "uri",
                        "locationName": "assessmentId"
                    },
                    "evidenceFolderId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAccountStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/account/status"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAssessment": {
            "http": {
                "method": "GET",
                "requestUri": "/assessments/{assessmentId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assessmentId"
                ],
                "members": {
                    "assessmentId": {
                        "location": "uri",
                        "locationName": "assessmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessment": {
                        "shape": "S1o"
                    },
                    "userRole": {
                        "shape": "S1j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAssessmentFramework": {
            "http": {
                "method": "GET",
                "requestUri": "/assessmentFrameworks/{frameworkId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "frameworkId"
                ],
                "members": {
                    "frameworkId": {
                        "location": "uri",
                        "locationName": "frameworkId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "framework": {
                        "shape": "S2m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAssessmentReportUrl": {
            "http": {
                "method": "GET",
                "requestUri": "/assessments/{assessmentId}/reports/{assessmentReportId}/url"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assessmentReportId",
                    "assessmentId"
                ],
                "members": {
                    "assessmentReportId": {
                        "location": "uri",
                        "locationName": "assessmentReportId"
                    },
                    "assessmentId": {
                        "location": "uri",
                        "locationName": "assessmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "preSignedUrl": {
                        "type": "structure",
                        "members": {
                            "hyperlinkName": {},
                            "link": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetChangeLogs": {
            "http": {
                "method": "GET",
                "requestUri": "/assessments/{assessmentId}/changelogs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assessmentId"
                ],
                "members": {
                    "assessmentId": {
                        "location": "uri",
                        "locationName": "assessmentId"
                    },
                    "controlSetId": {
                        "location": "querystring",
                        "locationName": "controlSetId"
                    },
                    "controlId": {
                        "location": "querystring",
                        "locationName": "controlId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "changeLogs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "objectType": {},
                                "objectName": {},
                                "action": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "createdBy": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetControl": {
            "http": {
                "method": "GET",
                "requestUri": "/controls/{controlId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "controlId"
                ],
                "members": {
                    "controlId": {
                        "location": "uri",
                        "locationName": "controlId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "control": {
                        "shape": "S2s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YTFVDQSWTIJCHBUFVMP6DGHH46FBJY4S57AHLK6Z5QIZCYFGYZJA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OV7ZEDUDAWOOMUY2LLQSQYV25FPK6R6MRYTTJQIS4JJLSWYJKYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UALFXWXUJQ3QH25WM4LDJIGINSHZHADJSQU43BZDY67DZLVDARGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJWIHTIB6OAIGXJOUVBKYOD2H6Y26DDJSXBLDI7RQ7U4EFFIMAVA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR34UXC7XT3MNCHRPD5H673GVRNDN6G76XNKBEKPCEDKZKAT724Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V37UZVEOUIACD2YEFZQGF3JGEHHXXVIWV2ILLV37QHZ47L5TRCVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
[...]
