{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-10-22",
        "endpointPrefix": "authnorchestrator",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AuthN Orchestrator",
        "serviceId": "authnorchestrator",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIDAuthnOrchestratorService",
        "uid": "authnorchestrator-2019-10-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
        ]
    },
    "operations": {
        "ExecuteChangePasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaLoginConfiguration": {
                        "shape": "S3"
                    },
                    "mfaLoginOptions": {
                        "shape": "S6"
                    },
                    "cloudTrail": {
                        "shape": "S9"
                    },
                    "cloudTrailEvents": {
                        "shape": "Sc"
                    },
                    "passwordRequired": {
                        "type": "boolean"
                    },
                    "emailContext": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ExecuteForgotPasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "cloudTrail": {
                        "shape": "S9"
                    },
                    "cloudTrailEvents": {
                        "shape": "Sc"
                    },
                    "passwordRequired": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ExecuteInviteUserWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaLoginConfiguration": {
                        "shape": "S3"
                    },
                    "mfaLoginOptions": {
                        "shape": "S6"
                    },
                    "passwordRequired": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ExecuteLoginWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaLoginConfiguration": {
                        "shape": "S3"
                    },
                    "mfaLoginOptions": {
                        "shape": "S6"
                    },
                    "loginPathOptions": {
                        "type": "structure",
                        "members": {
                            "primaryLoginPath": {
                                "shape": "S7"
                            },
                            "secondaryLoginPathList": {
                                "shape": "S8"
                            }
                        }
                    },
                    "cloudTrail": {
                        "shape": "S9"
                    },
                    "cloudTrailEvents": {
                        "shape": "Sc"
                    },
                    "passwordRequired": {
                        "type": "boolean"
                    },
                    "emailContext": {
                        "shape": "Se"
                    },
                    "passwordString": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ExecuteMFARegistrationWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaRegistrationConfiguration": {
                        "shape": "S3"
                    },
                    "mfaRegistrationOptions": {
                        "type": "structure",
                        "members": {
                            "primaryOption": {},
                            "secondaryOptionList": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "registeredMFADeviceInfo": {
                        "type": "structure",
                        "members": {
                            "mfaDefaultDescription": {},
                            "mfaType": {},
                            "mfaVendor": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ExecuteResetPasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaLoginConfiguration": {
                        "shape": "S3"
                    },
                    "mfaLoginOptions": {
                        "shape": "S6"
                    },
                    "passwordRequired": {
                        "type": "boolean"
                    },
                    "emailContext": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ExecuteUserRegistrationWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "passwordRequired": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "RedeemLoginWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "userAuthenticationAssertion": {},
                    "authcode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "StartChangePasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "StartForgotPasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "StartInviteUserWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "executionTarget": {},
                    "workflowStateHandle": {},
                    "inviteUserURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "StartLoginWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "executionTarget": {},
                    "workflowStateHandle": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "StartMFARegistrationWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "executionTarget": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "StartResetPasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "executionTarget": {},
                    "workflowStateHandle": {},
                    "resetPasswordURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "StartUserRegistrationWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AF6YSVXDGP53GK7WMGY3F46XL5GGLLIZGV5ZGJRJ7BJXJCKS5UMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G46MWOXE2KFYBPBHDCS2LPGFSPJM4XWD5RGETYCFFUPFBY6W5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7P4XUD7ALHV26Q4OMH6OSWWNUZ23MLCXLEEWHQDLRFWIIIRFRGDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTYPTXKANIHEOFR4DKAKKEV7VNHIJMN6LNLXFIHDL4TBCGVS6YYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP3IFTNLGDACGJXJYAEU7ITVUKUCENWP2BJH3LLOVD6LOGZI664A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2OS3WXROCDYTLJDXWY26535CXJ64DSWA5HTGFSWE7T43YT3DDDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKKNCIZPP52K575HMR7HX2WHJCBPP4ZTUCFH3D2PMYF6K5YW7OGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5AGR6TXLDM4NMXLZJPONFC7MU2D4PSYVGAWMUOBDO6VZMUNHJLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEDXREX3KGNRMM6DNFSVUMFAWICLVHEPGVFMQ7L27NK2F65TPJMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "members": {
                "mfaType": {},
                "mfaDeviceId": {}
            }
        },
        "S6": {
            "type": "structure",
            "members": {
                "primaryMFAOption": {
                    "shape": "S7"
                },
                "secondaryMFAOptionList": {
                    "shape": "S8"
                }
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "type": {},
                "loginPathId": {}
            }
        },
        "S8": {
            "type": "list",
            "member": {
                "shape": "S7"
            }
        },
        "S9": {
            "type": "structure",
            "members": {
                "result": {},
                "eventName": {},
                "logMessage": {},
                "auditIdentity": {
                    "type": "structure",
                    "members": {
                        "accountId": {},
                        "userName": {}
                    }
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {
                "shape": "S9"
            }
        },
        "Se": {
            "type": "structure",
            "members": {
                "sender": {},
                "destination": {},
                "emailType": {},
                "customLink": {},
                "identityStoreId": {}
            }
        }
    }
}