{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-25",
        "endpointPrefix": "sso-directory",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWSPasswordControlPlaneService",
        "serviceId": "pcp",
        "signatureVersion": "v4",
        "targetPrefix": "AWSPasswordControlPlaneService",
        "uid": "authn-password-cp-2018-10-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
        ]
    },
    "operations": {
        "ChangePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "PasswordChangeAssertion",
                    "NewPassword"
                ],
                "members": {
                    "PasswordChangeAssertion": {
                        "type": "string",
                        "sensitive": true
                    },
                    "NewPassword": {
                        "shape": "S3"
                    },
                    "CustomerRequestAttributes": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Email": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreatePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "Password"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "Password": {
                        "shape": "S3"
                    },
                    "AdditionalPasswordMetadata": {
                        "type": "structure",
                        "members": {
                            "Algorithm": {},
                            "SRPIdentifier": {}
                        }
                    },
                    "CustomerRequestAttributes": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PasswordAssertionToken"
                ],
                "members": {
                    "PasswordAssertionToken": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreatePasswordPolicyForIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "PasswordPolicy",
                    "IdentityStoreId"
                ],
                "members": {
                    "PasswordPolicy": {
                        "shape": "Se"
                    },
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreatePasswordWithSRP": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "SRPVerifier",
                    "SRPSalt",
                    "SRPIdentifier"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "SRPVerifier": {},
                    "SRPSalt": {
                        "type": "blob"
                    },
                    "SRPIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeletePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeletePasswordPolicyForIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "EnableMOCDForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/53PSUXK6R5SVBFM3DCGUEGVIARUJKROIRXT7C2NDKTO4MDLR5DIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5F72RGFAUTV6VGZZKM536FXSPS5A5SCDFZVQQHB6U2UGNGRBYUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IWDFR3TJKDP2W4KWGAPZQ37YJK5ZSRDCYGCWCM7GXL7XYEQQ3JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4RMM3VK5MGZD7YB7VDLXYUJKMRWAIBX6AHWUKU4ZOVNFB7SXBXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENX5UY4NQBYJDTEVGMTXCVX3WBDHD26J7ZCINPAOLEX3J56262XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBRPDXDY7HSJXTWIKSMQWBB7TRFJXOTMWS2VUWTVLYUQJFHQ2KVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGYNN7MJ2QZ6AF6PJKHTUO5IUDG6YOUXQOVE537M2E65JWYE3C7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIR7FS3YFT5S47CSB3ZNELD7Z54723YCMUIREI7ZYEI377JPFXMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js"
            ]
        },
        "GetPasswordPolicyForIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PasswordPolicy"
                ],
                "members": {
                    "PasswordPolicy": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetResetPasswordURL": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "ResetType"
                ],
                "members": {
                    "UserId": {},
                    "UserName": {},
                    "IdentityStoreId": {},
                    "Alias": {},
                    "ResetType": {},
                    "ClientId": {},
                    "CustomerRequestAttributes": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "URL",
                    "Email"
                ],
                "members": {
                    "URL": {},
                    "Email": {},
                    "Token": {
                        "shape": "S14"
                    },
                    "UserId": {},
                    "EmailSent": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ImportUserCredentialInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "UserName"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PasswordExistForUser": {
                        "type": "boolean"
                    },
                    "AlreadyMigrated": {
                        "type": "boolean"
                    },
                    "UserExistsInStarbase": {
                        "type": "boolean"
                    },
                    "PasswordMigrationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/53PSUXK6R5SVBFM3DCGUEGVIARUJKROIRXT7C2NDKTO4MDLR5DIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5F72RGFAUTV6VGZZKM536FXSPS5A5SCDFZVQQHB6U2UGNGRBYUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IWDFR3TJKDP2W4KWGAPZQ37YJK5ZSRDCYGCWCM7GXL7XYEQQ3JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4RMM3VK5MGZD7YB7VDLXYUJKMRWAIBX6AHWUKU4ZOVNFB7SXBXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENX5UY4NQBYJDTEVGMTXCVX3WBDHD26J7ZCINPAOLEX3J56262XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBRPDXDY7HSJXTWIKSMQWBB7TRFJXOTMWS2VUWTVLYUQJFHQ2KVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGYNN7MJ2QZ6AF6PJKHTUO5IUDG6YOUXQOVE537M2E65JWYE3C7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIR7FS3YFT5S47CSB3ZNELD7Z54723YCMUIREI7ZYEI377JPFXMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js"
            ]
        },
        "InitializePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "EncryptedPublicKey"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "EncryptedPublicKey": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SingleUsePassword"
                ],
                "members": {
                    "SingleUsePassword": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ListUsersWithPasswordForIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserList"
                ],
                "members": {
                    "UserList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ResetPassword": {
            "input": {
                "type": "structure",
                "required": [
                    "Token",
                    "Password"
                ],
                "members": {
                    "Token": {
                        "shape": "S14"
                    },
                    "Password": {
                        "shape": "S3"
                    },
                    "CustomerRequestAttributes": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Email": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "StartEmailVerification": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "UpdatePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "Password"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "Password": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "UpdatePasswordPolicyForIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "PasswordPolicy",
                    "IdentityStoreId"
                ],
                "members": {
                    "PasswordPolicy": {
                        "shape": "Se"
                    },
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "UpdateUserMigrationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "UserMigrationStatus"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserMigrationStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/53PSUXK6R5SVBFM3DCGUEGVIARUJKROIRXT7C2NDKTO4MDLR5DIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJRYF4WFNRQ2IJYXFWYIWP6PMTZFXR3UEVKXUYIIJZS6BUZH43TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLLCMMMLCCZIBQPNQUFFNU6TVAUBLOUH3DAVO2NHOOITTSP7WYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5F72RGFAUTV6VGZZKM536FXSPS5A5SCDFZVQQHB6U2UGNGRBYUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O43T3CTFUTHAA7GMOFXACQS6H4NACTHYHMFQ2PQ5YUPFFFCSX5UQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74GV3UNQFHLE2VFJ4WVEHORRXQ24WKDY34N6VBR3FD7T7QPN2N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NX4ZO5MMOVHFRGSYWTCKIPPQ2GRSEEK6PKJBKDTPMKDWFB2O4TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IWDFR3TJKDP2W4KWGAPZQ37YJK5ZSRDCYGCWCM7GXL7XYEQQ3JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4RMM3VK5MGZD7YB7VDLXYUJKMRWAIBX6AHWUKU4ZOVNFB7SXBXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSBPFKJOKS4N4GZOWYKPP7SAT57QJMXA7CXUUCQWYKFP3U4SYBEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENX5UY4NQBYJDTEVGMTXCVX3WBDHD26J7ZCINPAOLEX3J56262XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6PQT4FKMARBHVQBHMIPM5P7XDSYX2VTOWQFVN2DZJTXVK7T64QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYXVRWHDZ2PYS4ZUQ2DIXQBQPISMNHPTYOJHWXMUN7NQK7O7KWTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBRPDXDY7HSJXTWIKSMQWBB7TRFJXOTMWS2VUWTVLYUQJFHQ2KVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGYNN7MJ2QZ6AF6PJKHTUO5IUDG6YOUXQOVE537M2E65JWYE3C7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDBY4MPLQWPJKQU5APQUL23MMUXYG33B24OJQGBT3LBPOOOS6PHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIR7FS3YFT5S47CSB3ZNELD7Z54723YCMUIREI7ZYEI377JPFXMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJ3EYIOZRJYEZ77UCSD62CFJCR44JFBUI47A5O66THSTCOU7OEKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7ARIZDSOWA44PUMMUK4ISAYRXUINS62KTLK2ACY6ERLVLQPN44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js"
            ]
        },
        "ValidateToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Token"
                ],
                "members": {
                    "Token": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserName"
                ],
                "members": {
                    "UserName": {},
                    "IdentityStoreId": {},
                    "TokenType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "BackfillReplicaRegionsAttribute": {
            "input": {
                "type": "structure",
                "required": [
                    "TenantId",
                    "TableId",
                    "ActionType",
                    "BackfillRegionsList"
                ],
                "members": {
                    "TenantId": {},
                    "TableId": {},
                    "ActionType": {},
                    "BackfillRegionsList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ImportCredentialsInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "CredentialType",
                    "UserName"
                ],
                "members": {
                    "CredentialType": {},
                    "UserName": {},
                    "DevicePoolId": {},
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserPoolId": {},
                    "ComparisonMode": {
                        "type": "boolean"
                    },
                    "TargetService": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "isReMigrated": {
                        "type": "boolean"
                    },
                    "PasswordId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMICNNSLRN5DM4PXTJDLAFTLVFRNGPMI3IVK6HAZXU5HEYBEVCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IL2WGLIIDX46VSJP4VVYA4W2FIKQJNR6A656O3PHXTAPX6WMELTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MKSUAK453V3JS3DHVABHCXV2L6UIMRIJJ4N6HT2XSD5CGMXDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "BackfillCredMappingAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "MaxResults",
                    "Segment",
                    "TotalSegment"
                ],
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Segment": {
                        "type": "integer"
                    },
                    "TotalSegment": {
                        "type": "integer"
                    },
                    "CredentialMappingSnapshotTableName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "SetPasswordAndVerifier": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "Password",
                    "SRPVerifier",
                    "SRPSalt"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "Password": {
                        "shape": "Sh"
                    },
                    "AdditionalPasswordMetadata": {
                        "shape": "Sq"
                    },
                    "SRPVerifier": {},
                    "SRPSalt": {
                        "type": "blob"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PasswordAssertionToken": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3MAESV4LBJ5KFPTZH4YGPZY6KLARKWNYFMDNWLVFPCCSEAW3APA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQKYZEAJNGEAHOETOF5KTAR5Q74IXTY3YHJFZA3XQZCR5Y2EUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7IDQSMFA2LAU4X5OHMIKUWRRDSVMCILV7GGYIACX7W2PWH6NRCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "string",
            "sensitive": true
        },
        "Se": {
            "type": "structure",
            "required": [
                "MinimumLength",
                "MaximumLength",
                "RequireUppercase",
                "RequireLowercase",
                "RequireNumbers",
                "RequireSpecialCharacters",
                "SingleUsePasswordMaxAgeSeconds",
                "RequireSingleUsePasswordMaxAgeCheck"
            ],
            "members": {
                "MinimumLength": {
                    "type": "integer"
                },
                "MaximumLength": {
                    "type": "integer"
                },
                "RequireUppercase": {
                    "type": "boolean"
                },
                "RequireLowercase": {
                    "type": "boolean"
                },
                "RequireNumbers": {
                    "type": "boolean"
                },
                "RequireSpecialCharacters": {
                    "type": "boolean"
                },
                "SingleUsePasswordMaxAgeSeconds": {
                    "type": "integer"
                },
                "EnforcePasswordHistorySize": {
                    "type": "integer"
                },
                "RequireSingleUsePasswordMaxAgeCheck": {
                    "type": "boolean"
                }
            }
        },
        "S14": {
            "type": "string",
            "sensitive": true
        },
        "Sb": {
            "type": "string",
            "sensitive": true
        },
        "Sm": {
            "type": "structure",
            "required": [
                "MinimumLength",
                "MaximumLength",
                "RequireUppercase",
                "RequireLowercase",
                "RequireNumbers",
                "RequireSpecialCharacters",
                "SingleUsePasswordMaxAgeSeconds",
                "RequireSingleUsePasswordMaxAgeCheck"
            ],
            "members": {
                "MinimumLength": {
                    "type": "integer"
                },
                "MaximumLength": {
                    "type": "integer"
                },
                "RequireUppercase": {
                    "type": "boolean"
                },
                "RequireLowercase": {
                    "type": "boolean"
                },
                "RequireNumbers": {
                    "type": "boolean"
                },
                "RequireSpecialCharacters": {
                    "type": "boolean"
                },
                "SingleUsePasswordMaxAgeSeconds": {
                    "type": "integer"
                },
                "EnforcePasswordHistorySize": {
                    "type": "integer"
                },
                "RequireSingleUsePasswordMaxAgeCheck": {
                    "type": "boolean"
                }
            }
        },
        "S1c": {
            "type": "string",
            "sensitive": true
        },
        "Sh": {
            "type": "string",
            "sensitive": true
        },
        "Si": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sq": {
            "type": "structure",
            "members": {
                "Algorithm": {},
                "SRPIdentifier": {}
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "MinimumLength",
                "MaximumLength",
                "RequireUppercase",
                "RequireLowercase",
                "RequireNumbers",
                "RequireSpecialCharacters",
                "SingleUsePasswordMaxAgeSeconds",
                "RequireSingleUsePasswordMaxAgeCheck"
            ],
            "members": {
                "MinimumLength": {
                    "type": "integer"
                },
                "MaximumLength": {
                    "type": "integer"
                },
                "RequireUppercase": {
                    "type": "boolean"
                },
                "RequireLowercase": {
                    "type": "boolean"
                },
                "RequireNumbers": {
                    "type": "boolean"
                },
                "RequireSpecialCharacters": {
                    "type": "boolean"
                },
                "SingleUsePasswordMaxAgeSeconds": {
                    "type": "integer"
                },
                "EnforcePasswordHistorySize": {
                    "type": "integer"
                },
                "RequireSingleUsePasswordMaxAgeCheck": {
                    "type": "boolean"
                }
            }
        },
        "S1i": {
            "type": "string",
            "sensitive": true
        }
    }
}