{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-25",
        "endpointPrefix": "sso-directory",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWSPasswordControlPlaneService",
        "serviceId": "pcp",
        "signatureVersion": "v4",
        "targetPrefix": "AWSPasswordControlPlaneService",
        "uid": "authn-password-cp-2018-10-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
        ]
    },
    "operations": {
        "ChangePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "PasswordChangeAssertion",
                    "NewPassword"
                ],
                "members": {
                    "PasswordChangeAssertion": {
                        "type": "string",
                        "sensitive": true
                    },
                    "NewPassword": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Email": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "CreatePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "Password"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "Password": {
                        "shape": "S3"
                    },
                    "AdditionalPasswordMetadata": {
                        "type": "structure",
                        "members": {
                            "Algorithm": {},
                            "SRPIdentifier": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PasswordAssertionToken"
                ],
                "members": {
                    "PasswordAssertionToken": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "CreatePasswordPolicyForIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "PasswordPolicy",
                    "IdentityStoreId"
                ],
                "members": {
                    "PasswordPolicy": {
                        "shape": "Se"
                    },
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "CreatePasswordWithSRP": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "SRPVerifier",
                    "SRPSalt",
                    "SRPIdentifier"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "SRPVerifier": {},
                    "SRPSalt": {
                        "type": "blob"
                    },
                    "SRPIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DeletePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "DeletePasswordPolicyForIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "EnableMOCDForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetPasswordPolicyForIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PasswordPolicy"
                ],
                "members": {
                    "PasswordPolicy": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "GetResetPasswordURL": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "ResetType"
                ],
                "members": {
                    "UserId": {},
                    "UserName": {},
                    "IdentityStoreId": {},
                    "Alias": {},
                    "ResetType": {},
                    "ClientId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "URL",
                    "Email"
                ],
                "members": {
                    "URL": {},
                    "Email": {},
                    "Token": {
                        "shape": "S14"
                    },
                    "UserId": {},
                    "EmailSent": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ImportUserCredentialInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "UserName"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PasswordExistForUser": {
                        "type": "boolean"
                    },
                    "AlreadyMigrated": {
                        "type": "boolean"
                    },
                    "UserExistsInStarbase": {
                        "type": "boolean"
                    },
                    "PasswordMigrationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "InitializePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "EncryptedPublicKey"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "EncryptedPublicKey": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SingleUsePassword"
                ],
                "members": {
                    "SingleUsePassword": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ListUsersWithPasswordForIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserList"
                ],
                "members": {
                    "UserList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ResetPassword": {
            "input": {
                "type": "structure",
                "required": [
                    "Token",
                    "Password"
                ],
                "members": {
                    "Token": {
                        "shape": "S14"
                    },
                    "Password": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Email": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "StartEmailVerification": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "UpdatePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "Password"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "Password": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "UpdatePasswordPolicyForIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "PasswordPolicy",
                    "IdentityStoreId"
                ],
                "members": {
                    "PasswordPolicy": {
                        "shape": "Se"
                    },
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "UpdateUserMigrationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "UserMigrationStatus"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserMigrationStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        },
        "ValidateToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Token"
                ],
                "members": {
                    "Token": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserName"
                ],
                "members": {
                    "UserName": {},
                    "IdentityStoreId": {},
                    "TokenType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "string",
            "sensitive": true
        },
        "Se": {
            "type": "structure",
            "required": [
                "MinimumLength",
                "MaximumLength",
                "RequireUppercase",
                "RequireLowercase",
                "RequireNumbers",
                "RequireSpecialCharacters",
                "SingleUsePasswordMaxAgeSeconds",
                "RequireSingleUsePasswordMaxAgeCheck"
            ],
            "members": {
                "MinimumLength": {
                    "type": "integer"
                },
                "MaximumLength": {
                    "type": "integer"
                },
                "RequireUppercase": {
                    "type": "boolean"
                },
                "RequireLowercase": {
                    "type": "boolean"
                },
                "RequireNumbers": {
                    "type": "boolean"
                },
                "RequireSpecialCharacters": {
                    "type": "boolean"
                },
                "SingleUsePasswordMaxAgeSeconds": {
                    "type": "integer"
                },
                "EnforcePasswordHistorySize": {
                    "type": "integer"
                },
                "RequireSingleUsePasswordMaxAgeCheck": {
                    "type": "boolean"
                }
            }
        },
        "S14": {
            "type": "string",
            "sensitive": true
        }
    }
}