{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-10-22",
        "endpointPrefix": "authnorchestrator",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AuthN Orchestrator",
        "serviceId": "authnorchestrator",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIDAuthnOrchestratorService",
        "uid": "authnorchestrator-2019-10-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
        ]
    },
    "operations": {
        "ExecuteChangePasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaLoginConfiguration": {
                        "shape": "S3"
                    },
                    "mfaLoginOptions": {
                        "shape": "S6"
                    },
                    "cloudTrail": {
                        "shape": "S9"
                    },
                    "cloudTrailEvents": {
                        "shape": "Sc"
                    },
                    "passwordRequired": {
                        "type": "boolean"
                    },
                    "emailContext": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "ExecuteForgotPasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "cloudTrail": {
                        "shape": "S9"
                    },
                    "cloudTrailEvents": {
                        "shape": "Sc"
                    },
                    "passwordRequired": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "ExecuteInviteUserWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaLoginConfiguration": {
                        "shape": "S3"
                    },
                    "mfaLoginOptions": {
                        "shape": "S6"
                    },
                    "passwordRequired": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "ExecuteLoginWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaLoginConfiguration": {
                        "shape": "S3"
                    },
                    "mfaLoginOptions": {
                        "shape": "S6"
                    },
                    "loginPathOptions": {
                        "type": "structure",
                        "members": {
                            "primaryLoginPath": {
                                "shape": "S7"
                            },
                            "secondaryLoginPathList": {
                                "shape": "S8"
                            }
                        }
                    },
                    "cloudTrail": {
                        "shape": "S9"
                    },
                    "cloudTrailEvents": {
                        "shape": "Sc"
                    },
                    "passwordRequired": {
                        "type": "boolean"
                    },
                    "emailContext": {
                        "shape": "Se"
                    },
                    "passwordString": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "ExecuteMFARegistrationWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaRegistrationConfiguration": {
                        "shape": "S3"
                    },
                    "mfaRegistrationOptions": {
                        "type": "structure",
                        "members": {
                            "primaryOption": {},
                            "secondaryOptionList": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "registeredMFADeviceInfo": {
                        "type": "structure",
                        "members": {
                            "mfaDefaultDescription": {},
                            "mfaType": {},
                            "mfaVendor": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "ExecuteResetPasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaLoginConfiguration": {
                        "shape": "S3"
                    },
                    "mfaLoginOptions": {
                        "shape": "S6"
                    },
                    "passwordRequired": {
                        "type": "boolean"
                    },
                    "emailContext": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "ExecuteUserRegistrationWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "passwordRequired": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "RedeemLoginWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "userAuthenticationAssertion": {},
                    "authcode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "StartChangePasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "StartForgotPasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "StartInviteUserWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "executionTarget": {},
                    "workflowStateHandle": {},
                    "inviteUserURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "StartLoginWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "executionTarget": {},
                    "workflowStateHandle": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "StartMFARegistrationWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "executionTarget": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "StartResetPasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "executionTarget": {},
                    "workflowStateHandle": {},
                    "resetPasswordURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        },
        "StartUserRegistrationWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "members": {
                "mfaType": {},
                "mfaDeviceId": {}
            }
        },
        "S6": {
            "type": "structure",
            "members": {
                "primaryMFAOption": {
                    "shape": "S7"
                },
                "secondaryMFAOptionList": {
                    "shape": "S8"
                }
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "type": {},
                "loginPathId": {}
            }
        },
        "S8": {
            "type": "list",
            "member": {
                "shape": "S7"
            }
        },
        "S9": {
            "type": "structure",
            "members": {
                "result": {},
                "eventName": {},
                "logMessage": {},
                "auditIdentity": {
                    "type": "structure",
                    "members": {
                        "accountId": {},
                        "userName": {}
                    }
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {
                "shape": "S9"
            }
        },
        "Se": {
            "type": "structure",
            "members": {
                "sender": {},
                "destination": {},
                "emailType": {},
                "customLink": {},
                "identityStoreId": {}
            }
        }
    }
}