{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-25",
        "endpointPrefix": "sso-directory",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWSPasswordControlPlaneService",
        "serviceId": "pcp",
        "signatureVersion": "v4",
        "targetPrefix": "AWSPasswordControlPlaneService",
        "uid": "authn-password-cp-2018-10-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
        ]
    },
    "operations": {
        "ChangePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "PasswordChangeAssertion",
                    "NewPassword"
                ],
                "members": {
                    "PasswordChangeAssertion": {
                        "type": "string",
                        "sensitive": true
                    },
                    "NewPassword": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Email": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "CreatePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "Password"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "Password": {
                        "shape": "S3"
                    },
                    "AdditionalPasswordMetadata": {
                        "type": "structure",
                        "members": {
                            "Algorithm": {},
                            "SRPIdentifier": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PasswordAssertionToken"
                ],
                "members": {
                    "PasswordAssertionToken": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "CreatePasswordPolicyForIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "PasswordPolicy",
                    "IdentityStoreId"
                ],
                "members": {
                    "PasswordPolicy": {
                        "shape": "Se"
                    },
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "CreatePasswordWithSRP": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "SRPVerifier",
                    "SRPSalt",
                    "SRPIdentifier"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "SRPVerifier": {},
                    "SRPSalt": {
                        "type": "blob"
                    },
                    "SRPIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "DeletePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "DeletePasswordPolicyForIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "EnableMOCDForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "GetPasswordPolicyForIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PasswordPolicy"
                ],
                "members": {
                    "PasswordPolicy": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "GetResetPasswordURL": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "ResetType"
                ],
                "members": {
                    "UserId": {},
                    "UserName": {},
                    "IdentityStoreId": {},
                    "Alias": {},
                    "ResetType": {},
                    "ClientId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "URL",
                    "Email"
                ],
                "members": {
                    "URL": {},
                    "Email": {},
                    "Token": {
                        "shape": "S14"
                    },
                    "UserId": {},
                    "EmailSent": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "ImportUserCredentialInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "UserName"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PasswordExistForUser": {
                        "type": "boolean"
                    },
                    "AlreadyMigrated": {
                        "type": "boolean"
                    },
                    "UserExistsInStarbase": {
                        "type": "boolean"
                    },
                    "PasswordMigrationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "InitializePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "EncryptedPublicKey"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "EncryptedPublicKey": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SingleUsePassword"
                ],
                "members": {
                    "SingleUsePassword": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "ListUsersWithPasswordForIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserList"
                ],
                "members": {
                    "UserList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "ResetPassword": {
            "input": {
                "type": "structure",
                "required": [
                    "Token",
                    "Password"
                ],
                "members": {
                    "Token": {
                        "shape": "S14"
                    },
                    "Password": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Email": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "StartEmailVerification": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "UpdatePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "Password"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "Password": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "UpdatePasswordPolicyForIdentityStore": {
            "input": {
                "type": "structure",
                "required": [
                    "PasswordPolicy",
                    "IdentityStoreId"
                ],
                "members": {
                    "PasswordPolicy": {
                        "shape": "Se"
                    },
                    "IdentityStoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "UpdateUserMigrationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "IdentityStoreId",
                    "UserMigrationStatus"
                ],
                "members": {
                    "UserId": {},
                    "IdentityStoreId": {},
                    "UserMigrationStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        },
        "ValidateToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Token"
                ],
                "members": {
                    "Token": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserName"
                ],
                "members": {
                    "UserName": {},
                    "IdentityStoreId": {},
                    "TokenType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "string",
            "sensitive": true
        },
        "Se": {
            "type": "structure",
            "required": [
                "MinimumLength",
                "MaximumLength",
                "RequireUppercase",
                "RequireLowercase",
                "RequireNumbers",
                "RequireSpecialCharacters",
                "SingleUsePasswordMaxAgeSeconds",
                "RequireSingleUsePasswordMaxAgeCheck"
            ],
            "members": {
                "MinimumLength": {
                    "type": "integer"
                },
                "MaximumLength": {
                    "type": "integer"
                },
                "RequireUppercase": {
                    "type": "boolean"
                },
                "RequireLowercase": {
                    "type": "boolean"
                },
                "RequireNumbers": {
                    "type": "boolean"
                },
                "RequireSpecialCharacters": {
                    "type": "boolean"
                },
                "SingleUsePasswordMaxAgeSeconds": {
                    "type": "integer"
                },
                "EnforcePasswordHistorySize": {
                    "type": "integer"
                },
                "RequireSingleUsePasswordMaxAgeCheck": {
                    "type": "boolean"
                }
            }
        },
        "S14": {
            "type": "string",
            "sensitive": true
        }
    }
}