{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-10-22",
        "endpointPrefix": "authnorchestrator",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AuthN Orchestrator",
        "serviceId": "authnorchestrator",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIDAuthnOrchestratorService",
        "uid": "authnorchestrator-2019-10-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js"
        ]
    },
    "operations": {
        "ExecuteChangePasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaLoginConfiguration": {
                        "shape": "S3"
                    },
                    "mfaLoginOptions": {
                        "shape": "S6"
                    },
                    "cloudTrail": {
                        "shape": "S9"
                    },
                    "cloudTrailEvents": {
                        "shape": "Sc"
                    },
                    "passwordRequired": {
                        "type": "boolean"
                    },
                    "emailContext": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js"
            ]
        },
        "ExecuteForgotPasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "cloudTrail": {
                        "shape": "S9"
                    },
                    "cloudTrailEvents": {
                        "shape": "Sc"
                    },
                    "passwordRequired": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js"
            ]
        },
        "ExecuteInviteUserWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaLoginConfiguration": {
                        "shape": "S3"
                    },
                    "mfaLoginOptions": {
                        "shape": "S6"
                    },
                    "passwordRequired": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js"
            ]
        },
        "ExecuteLoginWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaLoginConfiguration": {
                        "shape": "S3"
                    },
                    "mfaLoginOptions": {
                        "shape": "S6"
                    },
                    "loginPathOptions": {
                        "type": "structure",
                        "members": {
                            "primaryLoginPath": {
                                "shape": "S7"
                            },
                            "secondaryLoginPathList": {
                                "shape": "S8"
                            }
                        }
                    },
                    "cloudTrail": {
                        "shape": "S9"
                    },
                    "cloudTrailEvents": {
                        "shape": "Sc"
                    },
                    "passwordRequired": {
                        "type": "boolean"
                    },
                    "emailContext": {
                        "shape": "Se"
                    },
                    "passwordString": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js"
            ]
        },
        "ExecuteMFARegistrationWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaRegistrationConfiguration": {
                        "shape": "S3"
                    },
                    "mfaRegistrationOptions": {
                        "type": "structure",
                        "members": {
                            "primaryOption": {},
                            "secondaryOptionList": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "registeredMFADeviceInfo": {
                        "type": "structure",
                        "members": {
                            "mfaDefaultDescription": {},
                            "mfaType": {},
                            "mfaVendor": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js"
            ]
        },
        "ExecuteResetPasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "mfaLoginConfiguration": {
                        "shape": "S3"
                    },
                    "mfaLoginOptions": {
                        "shape": "S6"
                    },
                    "passwordRequired": {
                        "type": "boolean"
                    },
                    "emailContext": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js"
            ]
        },
        "ExecuteUserRegistrationWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "passwordRequired": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js"
            ]
        },
        "RedeemLoginWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "userAuthenticationAssertion": {},
                    "authcode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js"
            ]
        },
        "StartChangePasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js"
            ]
        },
        "StartForgotPasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js"
            ]
        },
        "StartInviteUserWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "executionTarget": {},
                    "workflowStateHandle": {},
                    "inviteUserURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js"
            ]
        },
        "StartLoginWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "executionTarget": {},
                    "workflowStateHandle": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js"
            ]
        },
        "StartMFARegistrationWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "executionTarget": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js"
            ]
        },
        "StartResetPasswordWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "executionTarget": {},
                    "workflowStateHandle": {},
                    "resetPasswordURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js"
            ]
        },
        "StartUserRegistrationWorkflow": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YGC45JG67XODRS46XPJI7RP7ARJHPGW7SCNENQW7NWV5RVCJYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "members": {
                "mfaType": {},
                "mfaDeviceId": {}
            }
        },
        "S6": {
            "type": "structure",
            "members": {
                "primaryMFAOption": {
                    "shape": "S7"
                },
                "secondaryMFAOptionList": {
                    "shape": "S8"
                }
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "type": {},
                "loginPathId": {}
            }
        },
        "S8": {
            "type": "list",
            "member": {
                "shape": "S7"
            }
        },
        "S9": {
            "type": "structure",
            "members": {
                "result": {},
                "eventName": {},
                "logMessage": {},
                "auditIdentity": {
                    "type": "structure",
                    "members": {
                        "accountId": {},
                        "userName": {}
                    }
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {
                "shape": "S9"
            }
        },
        "Se": {
            "type": "structure",
            "members": {
                "sender": {},
                "destination": {},
                "emailType": {},
                "customLink": {},
                "identityStoreId": {}
            }
        }
    }
}