{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-01-06",
        "endpointPrefix": "autoscaling-plans",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Auto Scaling Plans",
        "serviceId": "Auto Scaling Plans",
        "signatureVersion": "v4",
        "signingName": "autoscaling-plans",
        "targetPrefix": "AnyScaleScalingPlannerFrontendService",
        "uid": "autoscaling-plans-2018-01-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "CreateScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ApplicationSource",
                    "ScalingInstructions"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ApplicationSource": {
                        "shape": "S3"
                    },
                    "ScalingInstructions": {
                        "shape": "Sa"
                    },
                    "S3BucketNameForForecastArtifacts": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeScalingPlanResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ScalingPlanResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ScalingPlanName",
                                "ScalingPlanVersion",
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "ScalingStatusCode"
                            ],
                            "members": {
                                "ScalingPlanName": {},
                                "ScalingPlanVersion": {
                                    "type": "long"
                                },
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "ScalingPolicies": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "PolicyName",
                                            "PolicyType"
                                        ],
                                        "members": {
                                            "PolicyName": {},
                                            "PolicyType": {},
                                            "TargetTrackingConfiguration": {
                                                "shape": "Sh"
                                            }
                                        }
                                    }
                                },
                                "ScalingStatusCode": {},
                                "ScalingStatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeScalingPlans": {
            "input": {
                "type": "structure",
                "members": {
                    "ScalingPlanNames": {
                        "type": "list",
                        "member": {}
                    },
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ApplicationSources": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ScalingPlans": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ScalingPlanName",
                                "ScalingPlanVersion",
                                "ApplicationSource",
                                "ScalingInstructions",
                                "StatusCode"
                            ],
                            "members": {
                                "ScalingPlanName": {},
                                "ScalingPlanVersion": {
                                    "type": "long"
                                },
                                "ApplicationSource": {
                                    "shape": "S3"
                                },
                                "ScalingInstructions": {
                                    "shape": "Sa"
                                },
                                "StatusCode": {},
                                "StatusMessage": {},
                                "StatusStartTime": {
                                    "type": "timestamp"
                                },
                                "CreationTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetScalingPlanResourceForecastData": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ForecastDataType",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "ForecastDataType": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Datapoints"
                ],
                "members": {
                    "Datapoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "UpdateScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ApplicationSource": {
                        "shape": "S3"
                    },
                    "ScalingInstructions": {
                        "shape": "Sa"
                    },
                    "S3BucketNameForForecastArtifacts": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "BatchDeleteCapacityOverride": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "CapacityOverrideNames"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrideNames": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedCapacityOverrides"
                ],
                "members": {
                    "FailedCapacityOverrides": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6DSKITNHTJDGCNKDKNSHTHKFQPPEN5PI4ZAKDFCMRLR67JS3WYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js"
            ]
        },
        "BatchPutCapacityOverride": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "CapacityOverrides"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrides": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedCapacityOverrides"
                ],
                "members": {
                    "FailedCapacityOverrides": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6DSKITNHTJDGCNKDKNSHTHKFQPPEN5PI4ZAKDFCMRLR67JS3WYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js"
            ]
        },
        "DeleteDeploymentHistoryRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6DSKITNHTJDGCNKDKNSHTHKFQPPEN5PI4ZAKDFCMRLR67JS3WYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js"
            ]
        },
        "DeleteForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6DSKITNHTJDGCNKDKNSHTHKFQPPEN5PI4ZAKDFCMRLR67JS3WYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js"
            ]
        },
        "DescribeCapacityOverrides": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrideNames": {
                        "shape": "S7"
                    },
                    "CapacityOverrideEffectiveStartTime": {
                        "type": "timestamp"
                    },
                    "CapacityOverrideEffectiveEndTime": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CapacityOverrides"
                ],
                "members": {
                    "CapacityOverrides": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6DSKITNHTJDGCNKDKNSHTHKFQPPEN5PI4ZAKDFCMRLR67JS3WYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js"
            ]
        },
        "DescribeDeploymentHistoryRecords": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace"
                ],
                "members": {
                    "DeploymentHistoryName": {},
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeploymentHistoryRecords": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DeploymentHistoryName",
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "ResourceEffectiveTime"
                            ],
                            "members": {
                                "DeploymentHistoryName": {},
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "ResourceEffectiveTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6DSKITNHTJDGCNKDKNSHTHKFQPPEN5PI4ZAKDFCMRLR67JS3WYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js"
            ]
        },
        "GetForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6DSKITNHTJDGCNKDKNSHTHKFQPPEN5PI4ZAKDFCMRLR67JS3WYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js"
            ]
        },
        "GetScalingPlanResourceForecastDataInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ForecastDataType",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "MetricSpecification": {
                        "type": "structure",
                        "required": [
                            "MetricName",
                            "Namespace",
                            "Dimensions",
                            "Statistic"
                        ],
                        "members": {
                            "MetricName": {},
                            "Namespace": {},
                            "Dimensions": {
                                "shape": "S16"
                            },
                            "Statistic": {},
                            "Unit": {}
                        },
                        "internalonly": true
                    },
                    "ForecastDataType": {
                        "type": "string",
                        "internalonly": true
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Period": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Datapoints"
                ],
                "members": {
                    "Datapoints": {
                        "shape": "S2z"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6DSKITNHTJDGCNKDKNSHTHKFQPPEN5PI4ZAKDFCMRLR67JS3WYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js"
            ]
        },
        "ListApplicationResourceScalableTargets": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationResources"
                ],
                "members": {
                    "ApplicationResources": {
                        "shape": "S37"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationResourceScalableTargets"
                ],
                "members": {
                    "ApplicationResourceScalableTargets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "DesiredCapacity",
                                "ProposedMinCapacity",
                                "ProposedMaxCapacity"
                            ],
                            "members": {
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "DesiredCapacity": {
                                    "type": "integer"
                                },
                                "ProposedMinCapacity": {
                                    "type": "integer"
                                },
                                "ProposedMaxCapacity": {
                                    "type": "integer"
                                },
                                "ResourceIdForCloudFormation": {}
                            }
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6DSKITNHTJDGCNKDKNSHTHKFQPPEN5PI4ZAKDFCMRLR67JS3WYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js"
            ]
        },
        "ListApplicationResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespaces"
                ],
                "members": {
                    "TagFilters": {
                        "shape": "Sq"
                    },
                    "CloudFormationStackARN": {},
                    "ServiceNamespaces": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationResources"
                ],
                "members": {
                    "ApplicationResources": {
                        "shape": "S37"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6DSKITNHTJDGCNKDKNSHTHKFQPPEN5PI4ZAKDFCMRLR67JS3WYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js"
            ]
        },
        "ListDeploymentHistories": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "ScalableDimension": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeploymentHistorySummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DeploymentHistoryName",
                                "ServiceNamespace",
                                "ScalableDimension"
                            ],
                            "members": {
                                "DeploymentHistoryName": {},
                                "ServiceNamespace": {},
                                "ScalableDimension": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6DSKITNHTJDGCNKDKNSHTHKFQPPEN5PI4ZAKDFCMRLR67JS3WYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js"
            ]
        },
        "ListForecastInstructionCollections": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "ScalingPlanName"
                ],
                "members": {
                    "AccountId": {
                        "shape": "S1x"
                    },
                    "ScalingPlanName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollections": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ForecastInstructionCollectionIdentifier": {
                                    "shape": "S1u"
                                },
                                "ForecastInstructionCollectionJsonContent": {
                                    "shape": "S2v"
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6DSKITNHTJDGCNKDKNSHTHKFQPPEN5PI4ZAKDFCMRLR67JS3WYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6DSKITNHTJDGCNKDKNSHTHKFQPPEN5PI4ZAKDFCMRLR67JS3WYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js"
            ]
        },
        "PutDeploymentHistoryRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "DeploymentHistoryName",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ResourceEffectiveTime"
                ],
                "members": {
                    "DeploymentHistoryName": {},
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "ResourceEffectiveTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6DSKITNHTJDGCNKDKNSHTHKFQPPEN5PI4ZAKDFCMRLR67JS3WYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js"
            ]
        },
        "PutForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionJsonContent",
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    },
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6DSKITNHTJDGCNKDKNSHTHKFQPPEN5PI4ZAKDFCMRLR67JS3WYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js"
            ]
        },
        "ResolveForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace",
                    "AccountId",
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "AccountId": {
                        "shape": "S1x"
                    },
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6DSKITNHTJDGCNKDKNSHTHKFQPPEN5PI4ZAKDFCMRLR67JS3WYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
[...]
