{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-01-06",
        "endpointPrefix": "autoscaling-plans",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Auto Scaling Plans",
        "serviceId": "Auto Scaling Plans",
        "signatureVersion": "v4",
        "signingName": "autoscaling-plans",
        "targetPrefix": "AnyScaleScalingPlannerFrontendService",
        "uid": "autoscaling-plans-2018-01-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
        ]
    },
    "operations": {
        "CreateScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ApplicationSource",
                    "ScalingInstructions"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ApplicationSource": {
                        "shape": "S3"
                    },
                    "ScalingInstructions": {
                        "shape": "Sa"
                    },
                    "S3BucketNameForForecastArtifacts": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "DeleteScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "DescribeScalingPlanResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ScalingPlanResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ScalingPlanName",
                                "ScalingPlanVersion",
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "ScalingStatusCode"
                            ],
                            "members": {
                                "ScalingPlanName": {},
                                "ScalingPlanVersion": {
                                    "type": "long"
                                },
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "ScalingPolicies": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "PolicyName",
                                            "PolicyType"
                                        ],
                                        "members": {
                                            "PolicyName": {},
                                            "PolicyType": {},
                                            "TargetTrackingConfiguration": {
                                                "shape": "Sh"
                                            }
                                        }
                                    }
                                },
                                "ScalingStatusCode": {},
                                "ScalingStatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "DescribeScalingPlans": {
            "input": {
                "type": "structure",
                "members": {
                    "ScalingPlanNames": {
                        "type": "list",
                        "member": {}
                    },
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ApplicationSources": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ScalingPlans": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ScalingPlanName",
                                "ScalingPlanVersion",
                                "ApplicationSource",
                                "ScalingInstructions",
                                "StatusCode"
                            ],
                            "members": {
                                "ScalingPlanName": {},
                                "ScalingPlanVersion": {
                                    "type": "long"
                                },
                                "ApplicationSource": {
                                    "shape": "S3"
                                },
                                "ScalingInstructions": {
                                    "shape": "Sa"
                                },
                                "StatusCode": {},
                                "StatusMessage": {},
                                "StatusStartTime": {
                                    "type": "timestamp"
                                },
                                "CreationTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "GetScalingPlanResourceForecastData": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ForecastDataType",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "ForecastDataType": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Datapoints"
                ],
                "members": {
                    "Datapoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "UpdateScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ApplicationSource": {
                        "shape": "S3"
                    },
                    "ScalingInstructions": {
                        "shape": "Sa"
                    },
                    "S3BucketNameForForecastArtifacts": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "BatchDeleteCapacityOverride": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "CapacityOverrideNames"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrideNames": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedCapacityOverrides"
                ],
                "members": {
                    "FailedCapacityOverrides": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "BatchPutCapacityOverride": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "CapacityOverrides"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrides": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedCapacityOverrides"
                ],
                "members": {
                    "FailedCapacityOverrides": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "DeleteDeploymentHistoryRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "DeleteForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "DescribeCapacityOverrides": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrideNames": {
                        "shape": "S7"
                    },
                    "CapacityOverrideEffectiveStartTime": {
                        "type": "timestamp"
                    },
                    "CapacityOverrideEffectiveEndTime": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CapacityOverrides"
                ],
                "members": {
                    "CapacityOverrides": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "DescribeDeploymentHistoryRecords": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace"
                ],
                "members": {
                    "DeploymentHistoryName": {},
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeploymentHistoryRecords": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DeploymentHistoryName",
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "ResourceEffectiveTime"
                            ],
                            "members": {
                                "DeploymentHistoryName": {},
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "ResourceEffectiveTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "GetForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "GetScalingPlanResourceForecastDataInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ForecastDataType",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "MetricSpecification": {
                        "type": "structure",
                        "required": [
                            "MetricName",
                            "Namespace",
                            "Dimensions",
                            "Statistic"
                        ],
                        "members": {
                            "MetricName": {},
                            "Namespace": {},
                            "Dimensions": {
                                "shape": "S16"
                            },
                            "Statistic": {},
                            "Unit": {}
                        },
                        "internalonly": true
                    },
                    "ForecastDataType": {
                        "type": "string",
                        "internalonly": true
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Period": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Datapoints"
                ],
                "members": {
                    "Datapoints": {
                        "shape": "S2z"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "ListApplicationResourceScalableTargets": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationResources"
                ],
                "members": {
                    "ApplicationResources": {
                        "shape": "S37"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationResourceScalableTargets"
                ],
                "members": {
                    "ApplicationResourceScalableTargets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "DesiredCapacity",
                                "ProposedMinCapacity",
                                "ProposedMaxCapacity"
                            ],
                            "members": {
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "DesiredCapacity": {
                                    "type": "integer"
                                },
                                "ProposedMinCapacity": {
                                    "type": "integer"
                                },
                                "ProposedMaxCapacity": {
                                    "type": "integer"
                                },
                                "ResourceIdForCloudFormation": {}
                            }
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "ListApplicationResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespaces"
                ],
                "members": {
                    "TagFilters": {
                        "shape": "Sq"
                    },
                    "CloudFormationStackARN": {},
                    "ServiceNamespaces": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationResources"
                ],
                "members": {
                    "ApplicationResources": {
                        "shape": "S37"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "ListDeploymentHistories": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "ScalableDimension": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeploymentHistorySummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DeploymentHistoryName",
                                "ServiceNamespace",
                                "ScalableDimension"
                            ],
                            "members": {
                                "DeploymentHistoryName": {},
                                "ServiceNamespace": {},
                                "ScalableDimension": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "ListForecastInstructionCollections": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "ScalingPlanName"
                ],
                "members": {
                    "AccountId": {
                        "shape": "S1x"
                    },
                    "ScalingPlanName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollections": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ForecastInstructionCollectionIdentifier": {
                                    "shape": "S1u"
                                },
                                "ForecastInstructionCollectionJsonContent": {
                                    "shape": "S2v"
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "PutDeploymentHistoryRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "DeploymentHistoryName",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ResourceEffectiveTime"
                ],
                "members": {
                    "DeploymentHistoryName": {},
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "ResourceEffectiveTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "PutForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionJsonContent",
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    },
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "ResolveForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace",
                    "AccountId",
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "AccountId": {
                        "shape": "S1x"
                    },
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
[...]
