{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-01-06",
        "endpointPrefix": "autoscaling-plans",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Auto Scaling Plans",
        "serviceId": "Auto Scaling Plans",
        "signatureVersion": "v4",
        "signingName": "autoscaling-plans",
        "targetPrefix": "AnyScaleScalingPlannerFrontendService",
        "uid": "autoscaling-plans-2018-01-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
        ]
    },
    "operations": {
        "CreateScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ApplicationSource",
                    "ScalingInstructions"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ApplicationSource": {
                        "shape": "S3"
                    },
                    "ScalingInstructions": {
                        "shape": "Sa"
                    },
                    "S3BucketNameForForecastArtifacts": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeScalingPlanResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ScalingPlanResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ScalingPlanName",
                                "ScalingPlanVersion",
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "ScalingStatusCode"
                            ],
                            "members": {
                                "ScalingPlanName": {},
                                "ScalingPlanVersion": {
                                    "type": "long"
                                },
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "ScalingPolicies": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "PolicyName",
                                            "PolicyType"
                                        ],
                                        "members": {
                                            "PolicyName": {},
                                            "PolicyType": {},
                                            "TargetTrackingConfiguration": {
                                                "shape": "Sh"
                                            }
                                        }
                                    }
                                },
                                "ScalingStatusCode": {},
                                "ScalingStatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeScalingPlans": {
            "input": {
                "type": "structure",
                "members": {
                    "ScalingPlanNames": {
                        "type": "list",
                        "member": {}
                    },
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ApplicationSources": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ScalingPlans": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ScalingPlanName",
                                "ScalingPlanVersion",
                                "ApplicationSource",
                                "ScalingInstructions",
                                "StatusCode"
                            ],
                            "members": {
                                "ScalingPlanName": {},
                                "ScalingPlanVersion": {
                                    "type": "long"
                                },
                                "ApplicationSource": {
                                    "shape": "S3"
                                },
                                "ScalingInstructions": {
                                    "shape": "Sa"
                                },
                                "StatusCode": {},
                                "StatusMessage": {},
                                "StatusStartTime": {
                                    "type": "timestamp"
                                },
                                "CreationTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "GetScalingPlanResourceForecastData": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ForecastDataType",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "ForecastDataType": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Datapoints"
                ],
                "members": {
                    "Datapoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "UpdateScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ApplicationSource": {
                        "shape": "S3"
                    },
                    "ScalingInstructions": {
                        "shape": "Sa"
                    },
                    "S3BucketNameForForecastArtifacts": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVMSACDRA5IJGRWLUT2IV4BKGLBAWRYSJAZ2UFW7FNAYUS26T7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "BatchDeleteCapacityOverride": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "CapacityOverrideNames"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrideNames": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedCapacityOverrides"
                ],
                "members": {
                    "FailedCapacityOverrides": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        },
        "BatchPutCapacityOverride": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "CapacityOverrides"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrides": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedCapacityOverrides"
                ],
                "members": {
                    "FailedCapacityOverrides": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        },
        "DeleteDeploymentHistoryRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        },
        "DeleteForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        },
        "DescribeCapacityOverrides": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrideNames": {
                        "shape": "S7"
                    },
                    "CapacityOverrideEffectiveStartTime": {
                        "type": "timestamp"
                    },
                    "CapacityOverrideEffectiveEndTime": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CapacityOverrides"
                ],
                "members": {
                    "CapacityOverrides": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        },
        "DescribeDeploymentHistoryRecords": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace"
                ],
                "members": {
                    "DeploymentHistoryName": {},
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeploymentHistoryRecords": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DeploymentHistoryName",
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "ResourceEffectiveTime"
                            ],
                            "members": {
                                "DeploymentHistoryName": {},
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "ResourceEffectiveTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        },
        "GetForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        },
        "GetScalingPlanResourceForecastDataInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ForecastDataType",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "MetricSpecification": {
                        "type": "structure",
                        "required": [
                            "MetricName",
                            "Namespace",
                            "Dimensions",
                            "Statistic"
                        ],
                        "members": {
                            "MetricName": {},
                            "Namespace": {},
                            "Dimensions": {
                                "shape": "S16"
                            },
                            "Statistic": {},
                            "Unit": {}
                        },
                        "internalonly": true
                    },
                    "ForecastDataType": {
                        "type": "string",
                        "internalonly": true
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Period": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Datapoints"
                ],
                "members": {
                    "Datapoints": {
                        "shape": "S2z"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        },
        "ListApplicationResourceScalableTargets": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationResources"
                ],
                "members": {
                    "ApplicationResources": {
                        "shape": "S37"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationResourceScalableTargets"
                ],
                "members": {
                    "ApplicationResourceScalableTargets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "DesiredCapacity",
                                "ProposedMinCapacity",
                                "ProposedMaxCapacity"
                            ],
                            "members": {
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "DesiredCapacity": {
                                    "type": "integer"
                                },
                                "ProposedMinCapacity": {
                                    "type": "integer"
                                },
                                "ProposedMaxCapacity": {
                                    "type": "integer"
                                },
                                "ResourceIdForCloudFormation": {}
                            }
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        },
        "ListApplicationResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespaces"
                ],
                "members": {
                    "TagFilters": {
                        "shape": "Sq"
                    },
                    "CloudFormationStackARN": {},
                    "ServiceNamespaces": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationResources"
                ],
                "members": {
                    "ApplicationResources": {
                        "shape": "S37"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        },
        "ListDeploymentHistories": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "ScalableDimension": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeploymentHistorySummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DeploymentHistoryName",
                                "ServiceNamespace",
                                "ScalableDimension"
                            ],
                            "members": {
                                "DeploymentHistoryName": {},
                                "ServiceNamespace": {},
                                "ScalableDimension": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        },
        "ListForecastInstructionCollections": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "ScalingPlanName"
                ],
                "members": {
                    "AccountId": {
                        "shape": "S1x"
                    },
                    "ScalingPlanName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollections": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ForecastInstructionCollectionIdentifier": {
                                    "shape": "S1u"
                                },
                                "ForecastInstructionCollectionJsonContent": {
                                    "shape": "S2v"
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        },
        "PutDeploymentHistoryRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "DeploymentHistoryName",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ResourceEffectiveTime"
                ],
                "members": {
                    "DeploymentHistoryName": {},
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "ResourceEffectiveTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        },
        "PutForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionJsonContent",
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    },
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        },
        "ResolveForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace",
                    "AccountId",
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "AccountId": {
                        "shape": "S1x"
                    },
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T6YPTUGIKEGC5GZRP4QJYJATIVGDBCL2CFPXXMHQW57CIDNT6AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQKZVDME4HXD6VWGNBSYJLJ7M3AVKNDV34LAHPGISOZXRBEFJS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCAJ4VJR6ZLTUPVQ7ADW5ZWCBKQG4OT3N7BUSU7W4CGTXO7V5CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJTNGSXG2JP464MSMXXTLWUSGHLYLN4TWD4YYDKZKA7U6SELGHBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6HUVULPKI6AUWU6QQ4INCBGIQOFZ7W33RG5HHIJJDX5OQ5GFTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEJK33V6SEZCQCZL6377FYOEJ7JGCNYOPZ7VJCZBM6X7ZMHGBNSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKPA6TYB7VWRW5IWPFN2F7CUQS6FCG76O2PJQZ4URFTTQBC6UJZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJG43MCWGOPILZDLM6EASG74S7XXGXGL6HAGWCYRXX6LLTXA4OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVD7ILF3C6FEPEJK47YTO4UEEEOVL3ODDB5FWVSBZLWYHZX5NPHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UUQCDHN6T5KU4IK2WQF3YMWZZ7PPC7YR2OKQG4NC5JLBQNMWTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSHRMDZ3TN2F3DYEDQZY4WW37RS4KEW7RUMS2JEDMIIR76MPFJYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALMWR7YILFGKJDGUXRQJ3UMJW47YXJCL767BGQRIT6IV3EC4NLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2I3VBMKN6LZIEJZW5H4VJFHJDWD22BAPTYHSBCJN5U7IWVUGM4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FJNVLANBXDZMZUJSZK4BTUJPJLAODZIH5WFJOBQTGABF4QHPM2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWFM6523DIQ5RAUV345QERPWO22QAUSCGQVQXT624FFEOT7PH77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4Q3IQFNVGKCBWIVFHI6WIBFA5IMFKZDYAMDEKLBAP4ZT3P3AXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC26GYN657TJPLYESCAAMXAODAXAOXUJ7536TBRSN2FDNQ77ZTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V54OCF3Z4X3HGE54BYSGEKFVBM5UHOSJAOKF7E26OPFLZU4N6KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCEKWODXW6DUHMY2Y4AAXIW4PPWRU2TOE2ROXNE2OTB2273BP3SA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "members": {
                "CloudFormationStackARN": {},
                "TagFilters": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Key": {},
                            "Values": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            }
        },
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "MinCapacity",
                    "MaxCapacity",
                    "TargetTrackingConfigurations"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "MinCapacity": {
                        "type": "integer"
                    },
                    "MaxCapacity": {
                        "type": "integer"
                    },
                    "TargetTrackingConfigurations": {
                        "type": "list",
                        "member": {
                            "shape": "Sh"
                        }
                    },
                    "PredefinedLoadMetricSpecification": {
                        "type": "structure",
                        "required": [
                            "PredefinedLoadMetricType"
                        ],
                        "members": {
                            "PredefinedLoadMetricType": {},
                            "ResourceLabel": {}
                        }
                    },
                    "CustomizedLoadMetricSpecification": {
                        "type": "structure",
                        "required": [
                            "MetricName",
                            "Namespace",
                            "Statistic"
                        ],
                        "members": {
                            "MetricName": {},
                            "Namespace": {},
                            "Dimensions": {
                                "shape": "So"
                            },
                            "Statistic": {},
                            "Unit": {}
                        }
                    },
                    "ScheduledActionBufferTime": {
                        "type": "integer"
                    },
                    "PredictiveScalingMaxCapacityBehavior": {},
                    "PredictiveScalingMaxCapacityBuffer": {
                        "type": "integer"
                    },
                    "PredictiveScalingMode": {},
                    "ScalingPolicyUpdateBehavior": {},
                    "DisableDynamicScaling": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "TargetValue"
            ],
            "members": {
                "PredefinedScalingMetricSpecification": {
                    "type": "structure",
                    "required": [
                        "PredefinedScalingMetricType"
                    ],
                    "members": {
                        "PredefinedScalingMetricType": {},
                        "ResourceLabel": {}
                    }
                },
                "CustomizedScalingMetricSpecification": {
                    "type": "structure",
                    "required": [
                        "MetricName",
                        "Namespace",
                        "Statistic"
                    ],
                    "members": {
                        "MetricName": {},
                        "Namespace": {},
                        "Dimensions": {
                            "shape": "So"
                        },
                        "Statistic": {},
                        "Unit": {}
                    }
                },
                "TargetValue": {
                    "type": "double"
                },
                "DisableScaleIn": {
                    "type": "boolean"
                },
                "ScaleOutCooldown": {
                    "type": "integer"
                },
                "ScaleInCooldown": {
                    "type": "integer"
                },
                "EstimatedInstanceWarmup": {
                    "type": "integer"
                }
            }
        },
        "So": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S7": {
            "type": "list",
            "member": {}
        },
        "Sg": {
            "type": "structure",
            "required": [
                "CapacityOverrideName",
                "CapacityOverrideType",
                "StartTime",
                "Duration",
                "CapacityOverrideValue"
            ],
            "members": {
                "CapacityOverrideName": {},
                "CapacityOverrideType": {},
                "StartTime": {
                    "type": "timestamp"
                },
                "Duration": {
                    "type": "integer"
                },
                "CapacityOverrideValue": {
                    "type": "integer"
                },
                "DeleteOnExpiry": {
                    "internalonly": true,
                    "type": "boolean"
                },
                "Ttl": {
                    "internalonly": true,
                    "type": "timestamp"
                }
            }
        },
        "Sq": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Key": {},
                    "Values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "Sv": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "MinCapacity",
                    "MaxCapacity",
                    "TargetTrackingConfigurations"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "MinCapacity": {
                        "type": "integer"
                    },
                    "MaxCapacity": {
[...]
