{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-01-06",
        "endpointPrefix": "autoscaling-plans",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Auto Scaling Plans",
        "serviceId": "Auto Scaling Plans",
        "signatureVersion": "v4",
        "signingName": "autoscaling-plans",
        "targetPrefix": "AnyScaleScalingPlannerFrontendService",
        "uid": "autoscaling-plans-2018-01-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ApplicationSource",
                    "ScalingInstructions"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ApplicationSource": {
                        "shape": "S3"
                    },
                    "ScalingInstructions": {
                        "shape": "Sa"
                    },
                    "S3BucketNameForForecastArtifacts": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeScalingPlanResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ScalingPlanResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ScalingPlanName",
                                "ScalingPlanVersion",
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "ScalingStatusCode"
                            ],
                            "members": {
                                "ScalingPlanName": {},
                                "ScalingPlanVersion": {
                                    "type": "long"
                                },
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "ScalingPolicies": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "PolicyName",
                                            "PolicyType"
                                        ],
                                        "members": {
                                            "PolicyName": {},
                                            "PolicyType": {},
                                            "TargetTrackingConfiguration": {
                                                "shape": "Sh"
                                            }
                                        }
                                    }
                                },
                                "ScalingStatusCode": {},
                                "ScalingStatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeScalingPlans": {
            "input": {
                "type": "structure",
                "members": {
                    "ScalingPlanNames": {
                        "type": "list",
                        "member": {}
                    },
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ApplicationSources": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ScalingPlans": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ScalingPlanName",
                                "ScalingPlanVersion",
                                "ApplicationSource",
                                "ScalingInstructions",
                                "StatusCode"
                            ],
                            "members": {
                                "ScalingPlanName": {},
                                "ScalingPlanVersion": {
                                    "type": "long"
                                },
                                "ApplicationSource": {
                                    "shape": "S3"
                                },
                                "ScalingInstructions": {
                                    "shape": "Sa"
                                },
                                "StatusCode": {},
                                "StatusMessage": {},
                                "StatusStartTime": {
                                    "type": "timestamp"
                                },
                                "CreationTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetScalingPlanResourceForecastData": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ForecastDataType",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "ForecastDataType": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Datapoints"
                ],
                "members": {
                    "Datapoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ApplicationSource": {
                        "shape": "S3"
                    },
                    "ScalingInstructions": {
                        "shape": "Sa"
                    },
                    "S3BucketNameForForecastArtifacts": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchDeleteCapacityOverride": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "CapacityOverrideNames"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrideNames": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedCapacityOverrides"
                ],
                "members": {
                    "FailedCapacityOverrides": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVNHMLMBS4ZEJGYZRQQHUZEO2SKDOL7H56CCUU4DRAMX5ROVOSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js"
            ]
        },
        "BatchPutCapacityOverride": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "CapacityOverrides"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrides": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedCapacityOverrides"
                ],
                "members": {
                    "FailedCapacityOverrides": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVNHMLMBS4ZEJGYZRQQHUZEO2SKDOL7H56CCUU4DRAMX5ROVOSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js"
            ]
        },
        "DeleteDeploymentHistoryRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVNHMLMBS4ZEJGYZRQQHUZEO2SKDOL7H56CCUU4DRAMX5ROVOSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js"
            ]
        },
        "DeleteForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVNHMLMBS4ZEJGYZRQQHUZEO2SKDOL7H56CCUU4DRAMX5ROVOSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js"
            ]
        },
        "DescribeCapacityOverrides": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrideNames": {
                        "shape": "S7"
                    },
                    "CapacityOverrideEffectiveStartTime": {
                        "type": "timestamp"
                    },
                    "CapacityOverrideEffectiveEndTime": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CapacityOverrides"
                ],
                "members": {
                    "CapacityOverrides": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVNHMLMBS4ZEJGYZRQQHUZEO2SKDOL7H56CCUU4DRAMX5ROVOSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js"
            ]
        },
        "DescribeDeploymentHistoryRecords": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace"
                ],
                "members": {
                    "DeploymentHistoryName": {},
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeploymentHistoryRecords": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DeploymentHistoryName",
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "ResourceEffectiveTime"
                            ],
                            "members": {
                                "DeploymentHistoryName": {},
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "ResourceEffectiveTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVNHMLMBS4ZEJGYZRQQHUZEO2SKDOL7H56CCUU4DRAMX5ROVOSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js"
            ]
        },
        "GetForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVNHMLMBS4ZEJGYZRQQHUZEO2SKDOL7H56CCUU4DRAMX5ROVOSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js"
            ]
        },
        "GetScalingPlanResourceForecastDataInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ForecastDataType",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "MetricSpecification": {
                        "type": "structure",
                        "required": [
                            "MetricName",
                            "Namespace",
                            "Dimensions",
                            "Statistic"
                        ],
                        "members": {
                            "MetricName": {},
                            "Namespace": {},
                            "Dimensions": {
                                "shape": "S16"
                            },
                            "Statistic": {},
                            "Unit": {}
                        },
                        "internalonly": true
                    },
                    "ForecastDataType": {
                        "type": "string",
                        "internalonly": true
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Period": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Datapoints"
                ],
                "members": {
                    "Datapoints": {
                        "shape": "S2z"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVNHMLMBS4ZEJGYZRQQHUZEO2SKDOL7H56CCUU4DRAMX5ROVOSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js"
            ]
        },
        "ListApplicationResourceScalableTargets": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationResources"
                ],
                "members": {
                    "ApplicationResources": {
                        "shape": "S37"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationResourceScalableTargets"
                ],
                "members": {
                    "ApplicationResourceScalableTargets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "DesiredCapacity",
                                "ProposedMinCapacity",
                                "ProposedMaxCapacity"
                            ],
                            "members": {
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "DesiredCapacity": {
                                    "type": "integer"
                                },
                                "ProposedMinCapacity": {
                                    "type": "integer"
                                },
                                "ProposedMaxCapacity": {
                                    "type": "integer"
                                },
                                "ResourceIdForCloudFormation": {}
                            }
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVNHMLMBS4ZEJGYZRQQHUZEO2SKDOL7H56CCUU4DRAMX5ROVOSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js"
            ]
        },
        "ListApplicationResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespaces"
                ],
                "members": {
                    "TagFilters": {
                        "shape": "Sq"
                    },
                    "CloudFormationStackARN": {},
                    "ServiceNamespaces": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationResources"
                ],
                "members": {
                    "ApplicationResources": {
                        "shape": "S37"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVNHMLMBS4ZEJGYZRQQHUZEO2SKDOL7H56CCUU4DRAMX5ROVOSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js"
            ]
        },
        "ListDeploymentHistories": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "ScalableDimension": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeploymentHistorySummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DeploymentHistoryName",
                                "ServiceNamespace",
                                "ScalableDimension"
                            ],
                            "members": {
                                "DeploymentHistoryName": {},
                                "ServiceNamespace": {},
                                "ScalableDimension": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVNHMLMBS4ZEJGYZRQQHUZEO2SKDOL7H56CCUU4DRAMX5ROVOSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js"
            ]
        },
        "ListForecastInstructionCollections": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "ScalingPlanName"
                ],
                "members": {
                    "AccountId": {
                        "shape": "S1x"
                    },
                    "ScalingPlanName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollections": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ForecastInstructionCollectionIdentifier": {
                                    "shape": "S1u"
                                },
                                "ForecastInstructionCollectionJsonContent": {
                                    "shape": "S2v"
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVNHMLMBS4ZEJGYZRQQHUZEO2SKDOL7H56CCUU4DRAMX5ROVOSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVNHMLMBS4ZEJGYZRQQHUZEO2SKDOL7H56CCUU4DRAMX5ROVOSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js"
            ]
        },
        "PutDeploymentHistoryRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "DeploymentHistoryName",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ResourceEffectiveTime"
                ],
                "members": {
                    "DeploymentHistoryName": {},
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "ResourceEffectiveTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVNHMLMBS4ZEJGYZRQQHUZEO2SKDOL7H56CCUU4DRAMX5ROVOSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js"
            ]
        },
        "PutForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionJsonContent",
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    },
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVNHMLMBS4ZEJGYZRQQHUZEO2SKDOL7H56CCUU4DRAMX5ROVOSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js"
            ]
        },
        "ResolveForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace",
                    "AccountId",
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "AccountId": {
                        "shape": "S1x"
                    },
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVNAVJK2IKY77IZ72EHSP3OL4GMOQS3RMPSFSHZ4GM4ICPSHQAYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNU4I4W7JZS25URDPD6KUBSF2DUR5NAGCL72MTI5PRJM6MGEIF7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4O5QFYSQXPGCUBFZMXY7DLYMCSM2WEHKENJ5E2TGHJBS6VWJJBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDLNLKIUEUVY2VTZ3CQPD6WTHSZC5FUJ4DREK6ZPXAICSLMYOMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EBBCIUQALM5JTFISD5LD44TGCVHR4XT7YVUD3YPQI4MNCQX3CPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQJDTNXOLKXDAUR5BH7MFZQVWL3ZER5ZQZBHDOHLEOFJXM4SGARA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVESUQTJAABZZC3VGYFMX5J4RDS2L3SV7CV2TLJTWO53BUX3BCQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METBL2S35SICEEIYFWIRIDLFJ5SQL4YWDPFDSGSYZ2L66OWH5R5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVNHMLMBS4ZEJGYZRQQHUZEO2SKDOL7H56CCUU4DRAMX5ROVOSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVKTORKUMIKSYDMBDHW3L64ZAXOOEGGHMSHMVYCBDL36IXWG7EZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWOM7C2R6STTFH3INRUZO2FUWFGKJGH2YK6FIK5S6ZO3Y5F77L2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMKACLF7RDMVFLK66VL2DJV4YDZ6HZXFECXUMLRBA7TOJA4A2NTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOMQZEJEZMRIXPC3V35EL76AORMB7E4RU46WGZKTR2BB5Q4RZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDKA72XLET4F3NPUBGD6FCMCCLHRO4GZE5DWYGBR4W4QBJSRFADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHCQZOOFEMDPGR2M25PV3L4JKR7ZHDXLO4NWZJJQD3XLP36OOOQQ/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
[...]
