{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-01-06",
        "endpointPrefix": "autoscaling-plans",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Auto Scaling Plans",
        "serviceId": "Auto Scaling Plans",
        "signatureVersion": "v4",
        "signingName": "autoscaling-plans",
        "targetPrefix": "AnyScaleScalingPlannerFrontendService",
        "uid": "autoscaling-plans-2018-01-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
        ]
    },
    "operations": {
        "CreateScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ApplicationSource",
                    "ScalingInstructions"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ApplicationSource": {
                        "shape": "S3"
                    },
                    "ScalingInstructions": {
                        "shape": "Sa"
                    },
                    "S3BucketNameForForecastArtifacts": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "DeleteScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "DescribeScalingPlanResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ScalingPlanResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ScalingPlanName",
                                "ScalingPlanVersion",
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "ScalingStatusCode"
                            ],
                            "members": {
                                "ScalingPlanName": {},
                                "ScalingPlanVersion": {
                                    "type": "long"
                                },
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "ScalingPolicies": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "PolicyName",
                                            "PolicyType"
                                        ],
                                        "members": {
                                            "PolicyName": {},
                                            "PolicyType": {},
                                            "TargetTrackingConfiguration": {
                                                "shape": "Sh"
                                            }
                                        }
                                    }
                                },
                                "ScalingStatusCode": {},
                                "ScalingStatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "DescribeScalingPlans": {
            "input": {
                "type": "structure",
                "members": {
                    "ScalingPlanNames": {
                        "type": "list",
                        "member": {}
                    },
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ApplicationSources": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ScalingPlans": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ScalingPlanName",
                                "ScalingPlanVersion",
                                "ApplicationSource",
                                "ScalingInstructions",
                                "StatusCode"
                            ],
                            "members": {
                                "ScalingPlanName": {},
                                "ScalingPlanVersion": {
                                    "type": "long"
                                },
                                "ApplicationSource": {
                                    "shape": "S3"
                                },
                                "ScalingInstructions": {
                                    "shape": "Sa"
                                },
                                "StatusCode": {},
                                "StatusMessage": {},
                                "StatusStartTime": {
                                    "type": "timestamp"
                                },
                                "CreationTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "GetScalingPlanResourceForecastData": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ForecastDataType",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "ForecastDataType": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Datapoints"
                ],
                "members": {
                    "Datapoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "UpdateScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ApplicationSource": {
                        "shape": "S3"
                    },
                    "ScalingInstructions": {
                        "shape": "Sa"
                    },
                    "S3BucketNameForForecastArtifacts": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js"
            ]
        },
        "BatchDeleteCapacityOverride": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "CapacityOverrideNames"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrideNames": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedCapacityOverrides"
                ],
                "members": {
                    "FailedCapacityOverrides": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js"
            ]
        },
        "BatchPutCapacityOverride": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "CapacityOverrides"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrides": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedCapacityOverrides"
                ],
                "members": {
                    "FailedCapacityOverrides": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js"
            ]
        },
        "DeleteDeploymentHistoryRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js"
            ]
        },
        "DeleteForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js"
            ]
        },
        "DescribeCapacityOverrides": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrideNames": {
                        "shape": "S7"
                    },
                    "CapacityOverrideEffectiveStartTime": {
                        "type": "timestamp"
                    },
                    "CapacityOverrideEffectiveEndTime": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CapacityOverrides"
                ],
                "members": {
                    "CapacityOverrides": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js"
            ]
        },
        "DescribeDeploymentHistoryRecords": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace"
                ],
                "members": {
                    "DeploymentHistoryName": {},
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeploymentHistoryRecords": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DeploymentHistoryName",
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "ResourceEffectiveTime"
                            ],
                            "members": {
                                "DeploymentHistoryName": {},
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "ResourceEffectiveTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js"
            ]
        },
        "GetForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js"
            ]
        },
        "GetScalingPlanResourceForecastDataInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ForecastDataType",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "MetricSpecification": {
                        "type": "structure",
                        "required": [
                            "MetricName",
                            "Namespace",
                            "Dimensions",
                            "Statistic"
                        ],
                        "members": {
                            "MetricName": {},
                            "Namespace": {},
                            "Dimensions": {
                                "shape": "S16"
                            },
                            "Statistic": {},
                            "Unit": {}
                        },
                        "internalonly": true
                    },
                    "ForecastDataType": {
                        "type": "string",
                        "internalonly": true
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Period": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Datapoints"
                ],
                "members": {
                    "Datapoints": {
                        "shape": "S2z"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js"
            ]
        },
        "ListApplicationResourceScalableTargets": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationResources"
                ],
                "members": {
                    "ApplicationResources": {
                        "shape": "S37"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationResourceScalableTargets"
                ],
                "members": {
                    "ApplicationResourceScalableTargets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "DesiredCapacity",
                                "ProposedMinCapacity",
                                "ProposedMaxCapacity"
                            ],
                            "members": {
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "DesiredCapacity": {
                                    "type": "integer"
                                },
                                "ProposedMinCapacity": {
                                    "type": "integer"
                                },
                                "ProposedMaxCapacity": {
                                    "type": "integer"
                                },
                                "ResourceIdForCloudFormation": {}
                            }
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js"
            ]
        },
        "ListApplicationResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespaces"
                ],
                "members": {
                    "TagFilters": {
                        "shape": "Sq"
                    },
                    "CloudFormationStackARN": {},
                    "ServiceNamespaces": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationResources"
                ],
                "members": {
                    "ApplicationResources": {
                        "shape": "S37"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js"
            ]
        },
        "ListDeploymentHistories": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "ScalableDimension": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeploymentHistorySummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DeploymentHistoryName",
                                "ServiceNamespace",
                                "ScalableDimension"
                            ],
                            "members": {
                                "DeploymentHistoryName": {},
                                "ServiceNamespace": {},
                                "ScalableDimension": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js"
            ]
        },
        "ListForecastInstructionCollections": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "ScalingPlanName"
                ],
                "members": {
                    "AccountId": {
                        "shape": "S1x"
                    },
                    "ScalingPlanName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollections": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ForecastInstructionCollectionIdentifier": {
                                    "shape": "S1u"
                                },
                                "ForecastInstructionCollectionJsonContent": {
                                    "shape": "S2v"
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js"
            ]
        },
        "PutDeploymentHistoryRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "DeploymentHistoryName",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ResourceEffectiveTime"
                ],
                "members": {
                    "DeploymentHistoryName": {},
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "ResourceEffectiveTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js"
            ]
        },
        "PutForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionJsonContent",
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    },
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js"
            ]
        },
        "ResolveForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace",
                    "AccountId",
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "AccountId": {
                        "shape": "S1x"
                    },
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S7TW3CNQDZVV3HUXA7N67VDCY4OUZ5THMALYBIWUFMBWY4AIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJ3JG5MR4RNRQ47FQC5PWO476ORUBE77RUEB742KHEIA2PT7EJ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBO6MSQBMG7FNAHPYJVOYQO5JEMESV4FRL7ETHA2G55UPPWMKNMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I6RMX2SOJQ2IZDXR22RT3R6BWFOMANWUKQBYYQUYIX4BWM6756A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D67EBDKPSQJHTADHSDC7OGMVLBDPG5K7ZABPB6O2YTVOOGG7YZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2RFZCBHPXKWZT3WS34WPC6AZSMTEF7MHYZS5ZJXCVYQTVFTLYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GASAAMUILQF26IJN7Q7AUJK65UUOMAURRSPLIEHKSPRHNNTMHIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJI55BVDGRVLV3ELVUXXPXBCXXEQ6FAWI4U3RDHJMOUFMHTAWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCIH5SULN2MCMBLPQCKS6DEBGQDY4SBTIAREHH2DG7STHMXEHEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKAQOZIKPT2GXB74RWTUBF6P5GFJ7EFQPKJ7HJAO2A646OQWNFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZNSU7WZYJA3VPZ6POCLVALC5CRWJWQVOJOQJWYGQ5PBI3QHLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4UWFK5M34VROQ4W36EIDWROUIKVN5OMVMPPRJY3BEHPPCWMNJRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVG3PUS4ZSH7LXZCEAN7OMWLRNN5HDIM6LFHJSD6WTDVU3OIQLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSZSSLMV4CBU3VIYJ35ZZI73E3K5HODCX35I3CSSTKIJYONW3CPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAPTENLHIT22C4PHWINMA2YCH4EVT7OQ4DFHL7NGMHORCUVC4K2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEDRJQDXUAZ7UT6YH24CHQX3TXFYQDH7ECE7267QB5OOFYC2I7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJZQNHZA4ZBDOH54IM6I5TOEJX6MRJKN6ZT2IET6M2DNN4XK2LQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIFW7Y3XR3U2JD5DVZ3DTFNOYA6S36EXO4MEQ4XLBKWJ5SPWRX6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHMCYAQNQS7X2FFRBPNYYZLBK5N6OJ52ZZKAXDNPW5P3UKEAQ35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MERBKWNFZLJJTOQAKOR6BYCL77H3HENSCEY3G7E47VIUNRZXZR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNKEWK6E5JRIWDJIVVXDN5GCLDKAFI6HKTF56Z72ML776DTZL3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV5H64QXYMOFPIIQMBANA7L2PO4UZNU54VSJX4Q3KNZ3CGGOATRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ULHTMYXTX2MOT2BN6PM7GAGBVGRTORUSKT3P2LIPWBXAC6257KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GO2ZDQZHRI4ARAOY6RSMZRMJVMYPLJLMYQZJECG7LOAKGZXEOO3A/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
[...]
