{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-05-03",
        "endpointPrefix": "autoloop",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "ripServiceName": "awsvltrnhlcontrolplane",
        "serviceFullName": "Autoloop",
        "serviceId": "Autoloop",
        "signatureVersion": "v4",
        "signingName": "autoloop",
        "uid": "autoloop-2023-05-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
        ]
    },
    "operations": {
        "AllowVendedLogDeliveryForResource": {
            "http": {
                "requestUri": "/allowVendedLogDeliveryForResource",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArnBeingAuthorized",
                    "deliverySourceArn"
                ],
                "members": {
                    "resourceArnBeingAuthorized": {},
                    "deliverySourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "message": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "BatchAssociateDataSyncEngineSubscriptionObjects": {
            "http": {
                "requestUri": "/batchAssociateDataSyncEngineSubscriptionObjects",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "subscriptionIdentifier",
                    "associatedObjects"
                ],
                "members": {
                    "subscriptionIdentifier": {},
                    "associatedObjects": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "subscriptionArn",
                    "objectAssociationErrors"
                ],
                "members": {
                    "subscriptionArn": {},
                    "objectAssociationErrors": {
                        "shape": "Sb"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "objects-api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "BatchAssociateEdgeSubscriptionAttributes": {
            "http": {
                "requestUri": "/batchAssociateEdgeSubscriptionAttributes",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "edgeSubscriptionIdentifier",
                    "associatedAttributes"
                ],
                "members": {
                    "edgeSubscriptionIdentifier": {},
                    "associatedAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "attributeIdentifier",
                                "maxRateInMs"
                            ],
                            "members": {
                                "attributeIdentifier": {},
                                "maxRateInMs": {
                                    "type": "long"
                                },
                                "precision": {
                                    "type": "integer"
                                },
                                "consistencyGroup": {}
                            }
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "revision",
                    "errors"
                ],
                "members": {
                    "edgeSubscriptionArn": {},
                    "revision": {
                        "type": "long"
                    },
                    "errors": {
                        "shape": "Sn"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "BatchAssociateEdgeSubscriptionObjects": {
            "http": {
                "requestUri": "/batchAssociateEdgeSubscriptionObjects",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "edgeSubscriptionIdentifier",
                    "associatedObjects"
                ],
                "members": {
                    "edgeSubscriptionIdentifier": {},
                    "associatedObjects": {
                        "type": "list",
                        "member": {
                            "shape": "Sr"
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "edgeSubscriptionArn",
                    "errors"
                ],
                "members": {
                    "edgeSubscriptionArn": {},
                    "errors": {
                        "shape": "St"
                    },
                    "objectAssociationErrors": {
                        "shape": "St"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "objects-api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "BatchAssociateSubscriptionAttributes": {
            "http": {
                "requestUri": "/batchAssociateSubscriptionAttribute",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "subscriptionIdentifier",
                    "associationList"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "subscriptionIdentifier": {},
                    "associationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "attributeIdentifier",
                                "subscriptionAttributeType"
                            ],
                            "members": {
                                "attributeIdentifier": {},
                                "description": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "subscriptionAttributeType": {},
                                "metadata": {
                                    "type": "map",
                                    "key": {},
                                    "value": {},
                                    "sensitive": true
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "shape": "S14"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "BatchAssociateTransformerAttributes": {
            "http": {
                "requestUri": "/batchAssociateTransformerAttributes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "attributes",
                    "transformerIdentifier"
                ],
                "members": {
                    "attributes": {
                        "type": "list",
                        "member": {
                            "shape": "S19"
                        }
                    },
                    "transformerIdentifier": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "attributeName": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "BatchCreateAttributes": {
            "http": {
                "requestUri": "/batchCreateAttributes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier",
                    "createRequestEntries"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "catalogIdentifier": {},
                    "createRequestEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "attributePath",
                                "attributeName",
                                "valueType"
                            ],
                            "members": {
                                "attributePath": {},
                                "attributeName": {},
                                "description": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "valueType": {},
                                "attributeSchema": {},
                                "metadata": {
                                    "shape": "S1m"
                                },
                                "attributeTimeToLivePeriod": {},
                                "timeToLiveStatusEnum": {},
                                "sourceType": {},
                                "transformerIdentifier": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "attributes",
                    "errors"
                ],
                "members": {
                    "attributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "attributeName",
                                "attributeArn"
                            ],
                            "members": {
                                "attributeName": {},
                                "attributeArn": {}
                            }
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "attributeName",
                                "errorCode",
                                "errorMessage"
                            ],
                            "members": {
                                "attributeName": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "BatchCreateRoutingRules": {
            "http": {
                "requestUri": "/batchCreateRoutingRules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataConnectorIdentifier",
                    "routingRules"
                ],
                "members": {
                    "dataConnectorIdentifier": {},
                    "routingRules": {
                        "type": "list",
                        "member": {
                            "shape": "S1z"
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "shape": "S22"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "BatchDeleteAttributes": {
            "http": {
                "requestUri": "/batchDeleteAttributes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier",
                    "attributes"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "catalogIdentifier": {},
                    "attributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "attributeIdentifier"
                            ],
                            "members": {
                                "attributeIdentifier": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deletedAttributes",
                    "errors"
                ],
                "members": {
                    "deletedAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "attributeArn"
                            ],
                            "members": {
                                "attributeArn": {}
                            }
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "attributeIdentifier",
                                "errorCode",
                                "errorMessage"
                            ],
                            "members": {
                                "attributeIdentifier": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "BatchDeleteRoutingRules": {
            "http": {
                "requestUri": "/batchDeleteRoutingRules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataConnectorIdentifier",
                    "routingRules"
                ],
                "members": {
                    "dataConnectorIdentifier": {},
                    "routingRules": {
                        "type": "list",
                        "member": {}
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "shape": "S22"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "BatchDisassociateDataSyncEngineSubscriptionObjects": {
            "http": {
                "requestUri": "/batchDisassociateDataSyncEngineSubscriptionObjects",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "subscriptionIdentifier",
                    "disassociatedObjects"
                ],
                "members": {
                    "subscriptionIdentifier": {},
                    "disassociatedObjects": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "subscriptionArn",
                    "objectDisassociationErrors"
                ],
                "members": {
                    "subscriptionArn": {},
                    "objectDisassociationErrors": {
                        "shape": "Sb"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "objects-api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "BatchDisassociateEdgeSubscriptionAttributes": {
            "http": {
                "requestUri": "/batchDisassociateEdgeSubscriptionAttributes",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "edgeSubscriptionIdentifier",
                    "disassociatedAttributes"
                ],
                "members": {
                    "edgeSubscriptionIdentifier": {},
                    "disassociatedAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "attributeIdentifier"
                            ],
                            "members": {
                                "attributeIdentifier": {}
                            }
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "revision",
                    "errors"
                ],
                "members": {
                    "edgeSubscriptionArn": {},
                    "revision": {
                        "type": "long"
                    },
                    "errors": {
                        "shape": "Sn"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "BatchDisassociateEdgeSubscriptionObjects": {
            "http": {
                "requestUri": "/batchDisassociateEdgeSubscriptionObjects",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "edgeSubscriptionIdentifier",
                    "disassociatedObjects"
                ],
                "members": {
                    "edgeSubscriptionIdentifier": {},
                    "disassociatedObjects": {
                        "type": "list",
                        "member": {
                            "shape": "Sr"
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "edgeSubscriptionArn",
                    "errors"
                ],
                "members": {
                    "edgeSubscriptionArn": {},
                    "errors": {
                        "shape": "St"
                    },
                    "objectDisassociationErrors": {
                        "shape": "St"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "objects-api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "BatchDisassociateSubscriptionAttributes": {
            "http": {
                "requestUri": "/batchDisassociateSubscriptionAttribute",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "subscriptionIdentifier",
                    "disassociationList"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "subscriptionIdentifier": {},
                    "disassociationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "attributeIdentifier"
                            ],
                            "members": {
                                "attributeIdentifier": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "attributeName",
                                "errorCode",
                                "errorMessage"
                            ],
                            "members": {
                                "attributeName": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "BatchDisassociateTransformerAttributes": {
            "http": {
                "requestUri": "/batchDisassociateTransformerAttributes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "transformerIdentifier",
                    "attributes"
                ],
                "members": {
                    "transformerIdentifier": {},
                    "attributes": {
                        "type": "list",
                        "member": {
                            "shape": "S19"
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "attributeName": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "BatchUpdateAttributes": {
            "http": {
                "requestUri": "/batchUpdateAttributes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier",
                    "attributes"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "catalogIdentifier": {},
                    "attributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "attributeIdentifier"
                            ],
                            "members": {
                                "attributeIdentifier": {},
                                "attributePath": {},
                                "attributeDescription": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "metadata": {
                                    "shape": "S1m"
                                },
                                "attributeTimeToLivePeriod": {},
                                "timeToLiveStatusEnum": {},
                                "transformerIdentifier": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "updatedAttributes",
                    "errors"
                ],
                "members": {
                    "updatedAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "attributeArn": {}
                            }
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "attributeIdentifier": {},
                                "errorCode": {},
                                "errorMessage": {}
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "BatchUpdateRoutingRules": {
            "http": {
                "requestUri": "/batchUpdateRoutingRules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataConnectorIdentifier",
                    "routingRules"
                ],
                "members": {
                    "dataConnectorIdentifier": {},
                    "routingRules": {
                        "type": "list",
                        "member": {
                            "shape": "S1z"
                        }
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "shape": "S22"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "CreateCatalog": {
            "http": {
                "requestUri": "/createCatalog",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "catalogName": {},
                    "description": {
                        "shape": "S3d"
                    },
                    "policy": {
                        "shape": "S3e"
                    },
                    "tags": {
                        "shape": "S3f"
                    },
                    "kmsKeyId": {},
                    "defaultAttributeTimeToLivePeriod": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "catalogArn"
                ],
                "members": {
                    "catalogArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "CreateDataConnector": {
            "http": {
                "requestUri": "/createDataconnector",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier",
                    "type",
                    "dataConnectorName",
                    "sourceArn"
                ],
                "members": {
                    "catalogIdentifier": {},
                    "type": {},
                    "dataConnectorName": {},
                    "description": {
                        "type": "string",
                        "sensitive": true
                    },
                    "sourceArn": {},
                    "sourceRoleArn": {},
                    "mskConfiguration": {
                        "shape": "S3n"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S3f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataConnectorArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "CreateDataSyncEngine": {
            "http": {
                "requestUri": "/createDataSyncEngine",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "catalogIdentifier"
                ],
                "members": {
                    "name": {},
                    "catalogIdentifier": {},
                    "description": {
                        "shape": "S3d"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S3f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataSyncEngineArn"
                ],
                "members": {
                    "dataSyncEngineArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "CreateEdgeSubscription": {
            "http": {
                "requestUri": "/createEdgeSubscription",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "dataSyncEngineIdentifier"
                ],
                "members": {
                    "name": {},
                    "dataSyncEngineIdentifier": {},
                    "description": {
                        "shape": "S3d"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "userdata": {
                        "shape": "S3u"
                    },
                    "availableForAllObjects": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "S3f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "edgeSubscriptionArn"
                ],
                "members": {
                    "edgeSubscriptionArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "CreateSubscription": {
            "http": {
                "requestUri": "/createSubscription",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "subscriptionName",
                    "catalogIdentifier",
                    "type"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "subscriptionName": {},
                    "description": {
                        "shape": "S3d"
                    },
                    "catalogIdentifier": {},
                    "type": {},
                    "subscriptionKinesisConfiguration": {
                        "shape": "S40"
                    },
                    "stateSubscriptionConfiguration": {
                        "shape": "S42"
                    },
                    "dataSyncEngineSubscriptionConfiguration": {
                        "shape": "S43"
                    },
                    "tags": {
                        "shape": "S3f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptionArn": {},
                    "errors": {
                        "shape": "S14"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "CreateTransformer": {
            "http": {
                "requestUri": "/createTransformer",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier",
                    "transformerName",
                    "type"
                ],
                "members": {
                    "catalogIdentifier": {},
                    "transformerName": {},
                    "description": {
                        "type": "string",
                        "sensitive": true
                    },
                    "type": {},
                    "transformerLambdaConfiguration": {
                        "shape": "S48"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "S3f"
                    },
                    "transformerType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformerArn",
                    "catalogArn",
                    "status",
                    "statusMessage"
                ],
                "members": {
                    "transformerArn": {},
                    "catalogArn": {},
                    "status": {},
                    "statusMessage": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "DeleteAttributeFilterRuleset": {
            "http": {
                "requestUri": "/deleteAttributeFilterRuleset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier",
                    "attributeIdentifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "catalogIdentifier": {},
                    "attributeIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "DeleteAttributesData": {
            "http": {
                "requestUri": "/deleteAttributesData",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogArn",
                    "objectId"
                ],
                "members": {
                    "catalogArn": {},
                    "objectId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "state."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "DeleteCatalog": {
            "http": {
                "requestUri": "/deleteCatalog",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "catalogIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "DeleteCatalogPolicy": {
            "http": {
                "requestUri": "/deleteCatalogPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier",
                    "policyRevision"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "catalogIdentifier": {},
                    "policyRevision": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "DeleteDataConnector": {
            "http": {
                "requestUri": "/deleteDataconnector",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataConnectorIdentifier"
                ],
                "members": {
                    "dataConnectorIdentifier": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "DeleteDataSyncEngine": {
            "http": {
                "requestUri": "/deleteDataSyncEngine",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataSyncEngineIdentifier"
                ],
                "members": {
                    "dataSyncEngineIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "DeleteEdgeSubscription": {
            "http": {
                "requestUri": "/deleteEdgeSubscription",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "edgeSubscriptionIdentifier"
                ],
                "members": {
                    "edgeSubscriptionIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "DeleteSubscription": {
            "http": {
                "requestUri": "/deleteSubscription",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "subscriptionIdentifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "subscriptionIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "DeleteTransformer": {
            "http": {
                "requestUri": "/deleteTransformer",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "transformerIdentifier"
                ],
                "members": {
                    "transformerIdentifier": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "GetAttribute": {
            "http": {
                "requestUri": "/getAttribute",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier",
                    "attributeIdentifier"
                ],
                "members": {
                    "catalogIdentifier": {},
                    "attributeIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "attributePath",
                    "attributeName",
                    "attributeArn",
                    "valueType"
                ],
                "members": {
                    "attributePath": {},
                    "attributeName": {},
                    "attributeArn": {},
                    "attributeDescription": {
                        "shape": "S3d"
                    },
                    "valueType": {},
                    "attributeSchema": {},
                    "metadata": {
                        "shape": "S1m"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "attributeTimeToLivePeriod": {},
                    "timeToLiveStatus": {},
                    "sourceType": {},
                    "transformerArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "GetAttributeFilterRuleset": {
            "http": {
                "requestUri": "/getAttributeFilterRuleset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier",
                    "attributeIdentifier"
                ],
                "members": {
                    "catalogIdentifier": {},
                    "attributeIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ruleset"
                ],
                "members": {
                    "ruleset": {
                        "shape": "S52"
                    },
                    "status": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "GetCatalog": {
            "http": {
                "requestUri": "/getCatalog",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier"
                ],
                "members": {
                    "catalogIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "catalogArn",
                    "catalogName",
                    "status",
                    "statusMessage"
                ],
                "members": {
                    "catalogArn": {},
                    "catalogName": {},
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "description": {
                        "shape": "S3d"
                    },
                    "kmsKeyId": {},
                    "defaultAttributeTimeToLivePeriod": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "GetCatalogPolicy": {
            "http": {
                "requestUri": "/getCatalogPolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier"
                ],
                "members": {
                    "catalogIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policy",
                    "policyRevision"
                ],
                "members": {
                    "policy": {
                        "shape": "S3e"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "policyRevision": {
                        "type": "integer"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "GetDataConnector": {
            "http": {
                "requestUri": "/getDataconnector",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataConnectorIdentifier"
                ],
                "members": {
                    "dataConnectorIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataConnectorArn",
                    "dataConnectorName",
                    "catalogArn",
                    "type",
                    "sourceArn",
                    "sourceRoleArn",
                    "status",
                    "statusMessage"
                ],
                "members": {
                    "dataConnectorArn": {},
                    "dataConnectorName": {},
                    "description": {
                        "shape": "S3d"
                    },
                    "catalogArn": {},
                    "type": {},
                    "sourceArn": {},
                    "sourceRoleArn": {},
                    "mskConfiguration": {
                        "shape": "S3n"
                    },
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "GetDataSyncEngine": {
            "http": {
                "requestUri": "/getDataSyncEngine",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataSyncEngineIdentifier"
                ],
                "members": {
                    "dataSyncEngineIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataSyncEngineArn",
                    "catalogArn",
                    "name",
                    "status",
                    "statusMessage"
                ],
                "members": {
                    "dataSyncEngineArn": {},
                    "catalogArn": {},
                    "name": {},
                    "status": {},
                    "statusMessage": {},
                    "description": {
                        "shape": "S3d"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "GetEdgeSubscription": {
            "http": {
                "requestUri": "/getEdgeSubscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "edgeSubscriptionIdentifier"
                ],
                "members": {
                    "edgeSubscriptionIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "edgeSubscriptionArn",
                    "dataSyncEngineArn",
                    "name",
                    "revision",
                    "status",
                    "statusMessage"
                ],
                "members": {
                    "edgeSubscriptionArn": {},
                    "dataSyncEngineArn": {},
                    "name": {},
                    "revision": {
                        "type": "long"
                    },
                    "status": {},
                    "statusMessage": {},
                    "description": {
                        "shape": "S3d"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "userdata": {
                        "shape": "S3u"
                    },
                    "availableForAllObjects": {
                        "type": "boolean"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "GetResourcePolicyInternal": {
            "http": {
                "requestUri": "/getResourcePolicyInternal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "resourceArn": {},
                    "internalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "policy": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "GetStateSubscriptionAttributesData": {
            "http": {
                "requestUri": "/getStateSubscriptionAttributesData",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "stateSubscriptionArn",
                    "objectId"
                ],
                "members": {
                    "stateSubscriptionArn": {},
                    "objectId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attributesData": {
                        "type": "structure",
                        "members": {},
                        "document": true
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "state."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "GetSubscription": {
            "http": {
                "requestUri": "/getSubscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "subscriptionIdentifier"
                ],
                "members": {
                    "subscriptionIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptionArn": {},
                    "subscriptionName": {},
                    "catalogArn": {},
                    "status": {},
                    "statusMessage": {},
                    "type": {},
                    "description": {
                        "shape": "S3d"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "subscriptionKinesisConfiguration": {
                        "shape": "S40"
                    },
                    "stateSubscriptionConfiguration": {
                        "shape": "S42"
                    },
                    "dataSyncEngineSubscriptionConfiguration": {
                        "shape": "S43"
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "GetTransformer": {
            "http": {
                "requestUri": "/getTransformer",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "transformerIdentifier"
                ],
                "members": {
                    "transformerIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformerArn",
                    "transformerName",
                    "catalogArn",
                    "type",
                    "status",
                    "statusMessage"
                ],
                "members": {
                    "transformerArn": {},
                    "transformerName": {},
                    "catalogArn": {},
                    "dataConnectorName": {},
                    "description": {
                        "type": "string",
                        "sensitive": true
                    },
                    "type": {},
                    "transformerLambdaConfiguration": {
                        "shape": "S48"
                    },
                    "status": {},
                    "statusMessage": {},
                    "creationTime": {
                        "type": "timestamp"
                    },
                    "lastUpdatedTime": {
                        "type": "timestamp"
                    },
                    "retrievalAttributeName": {},
                    "transformerType": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "ListAttributeSubscriptionAssociations": {
            "http": {
                "requestUri": "/listAttributeSubscriptionAssociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "attributeIdentifier"
                ],
                "members": {
                    "attributeIdentifier": {},
                    "catalogIdentifier": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "subscriptions"
                ],
                "members": {
                    "subscriptions": {
                        "shape": "S65"
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "ListAttributeTransformerAssociations": {
            "http": {
                "requestUri": "/listAttributeTransformerAssociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "attributeIdentifier"
                ],
                "members": {
                    "attributeIdentifier": {},
                    "catalogIdentifier": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformers"
                ],
                "members": {
                    "transformers": {
                        "shape": "S6a"
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "ListAttributes": {
            "http": {
                "requestUri": "/listAttributes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier"
                ],
                "members": {
                    "catalogIdentifier": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "attributes"
                ],
                "members": {
                    "nextToken": {},
                    "attributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "attributePath": {},
                                "attributeName": {},
                                "attributeArn": {},
                                "description": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "valueType": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "sourceType": {},
                                "transformerArn": {}
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "ListCatalogDataConnectorAssociations": {
            "http": {
                "requestUri": "/listCatalogDataConnectorAssociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier"
                ],
                "members": {
                    "catalogIdentifier": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dataConnectors"
                ],
                "members": {
                    "dataConnectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "ListCatalogSubscriptionAssociations": {
            "http": {
                "requestUri": "/listCatalogSubscriptionAssociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier"
                ],
                "members": {
                    "catalogIdentifier": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "subscriptions"
                ],
                "members": {
                    "subscriptions": {
                        "shape": "S65"
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "ListCatalogSubscriptions": {
            "http": {
                "requestUri": "/listCatalogSubscriptions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier"
                ],
                "members": {
                    "catalogIdentifier": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "subscriptions"
                ],
                "members": {
                    "nextToken": {},
                    "subscriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "subscriptionArn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "ListCatalogTransformerAssociations": {
            "http": {
                "requestUri": "/listCatalogTransformerAssociations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "catalogIdentifier"
                ],
                "members": {
                    "catalogIdentifier": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformers"
                ],
                "members": {
                    "transformers": {
                        "shape": "S6a"
                    },
                    "nextToken": {}
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "ListCatalogs": {
            "http": {
                "requestUri": "/listCatalogs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "catalogs"
                ],
                "members": {
                    "nextToken": {},
                    "catalogs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "catalogArn": {},
                                "catalogName": {},
                                "description": {
                                    "shape": "S3d"
                                },
                                "status": {},
                                "statusMessage": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLC7DVNB3QCW2W5GQASWRJM3OCNVRWGZXVY7VB24HLE5T5Z4UAA/vendors.js"
            ]
        },
        "ListConsumerAccounts": {
            "http": {
                "requestUri": "/listConsumerAccounts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "resourceType": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "accountIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "api."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MT7MYVCCIBR3XCYFI2FFZB5252IQK5K44NRZWAKU7RUQ5IXFEB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6SWQJ4QBDOZN5DO672AZAHQI545ALKU2TUWEVTI44S6HNH6IOAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NSVOY66HV25MSAX2J7F6VH5T2HLYUWVYRYFWH6V7Q3RZAB64MKQ/vendors.js",
[...]
