{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-01-06",
        "endpointPrefix": "autoscaling-plans",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Auto Scaling Plans",
        "serviceId": "Auto Scaling Plans",
        "signatureVersion": "v4",
        "signingName": "autoscaling-plans",
        "targetPrefix": "AnyScaleScalingPlannerFrontendService",
        "uid": "autoscaling-plans-2018-01-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
        ]
    },
    "operations": {
        "CreateScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ApplicationSource",
                    "ScalingInstructions"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ApplicationSource": {
                        "shape": "S3"
                    },
                    "ScalingInstructions": {
                        "shape": "Sa"
                    },
                    "S3BucketNameForForecastArtifacts": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "DeleteScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "DescribeScalingPlanResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ScalingPlanResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ScalingPlanName",
                                "ScalingPlanVersion",
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "ScalingStatusCode"
                            ],
                            "members": {
                                "ScalingPlanName": {},
                                "ScalingPlanVersion": {
                                    "type": "long"
                                },
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "ScalingPolicies": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "PolicyName",
                                            "PolicyType"
                                        ],
                                        "members": {
                                            "PolicyName": {},
                                            "PolicyType": {},
                                            "TargetTrackingConfiguration": {
                                                "shape": "Sh"
                                            }
                                        }
                                    }
                                },
                                "ScalingStatusCode": {},
                                "ScalingStatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "DescribeScalingPlans": {
            "input": {
                "type": "structure",
                "members": {
                    "ScalingPlanNames": {
                        "type": "list",
                        "member": {}
                    },
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ApplicationSources": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ScalingPlans": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ScalingPlanName",
                                "ScalingPlanVersion",
                                "ApplicationSource",
                                "ScalingInstructions",
                                "StatusCode"
                            ],
                            "members": {
                                "ScalingPlanName": {},
                                "ScalingPlanVersion": {
                                    "type": "long"
                                },
                                "ApplicationSource": {
                                    "shape": "S3"
                                },
                                "ScalingInstructions": {
                                    "shape": "Sa"
                                },
                                "StatusCode": {},
                                "StatusMessage": {},
                                "StatusStartTime": {
                                    "type": "timestamp"
                                },
                                "CreationTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "GetScalingPlanResourceForecastData": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ForecastDataType",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "ForecastDataType": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Datapoints"
                ],
                "members": {
                    "Datapoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "Value": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "UpdateScalingPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ApplicationSource": {
                        "shape": "S3"
                    },
                    "ScalingInstructions": {
                        "shape": "Sa"
                    },
                    "S3BucketNameForForecastArtifacts": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "BatchDeleteCapacityOverride": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "CapacityOverrideNames"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrideNames": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedCapacityOverrides"
                ],
                "members": {
                    "FailedCapacityOverrides": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKKAQCC5MXOGQQV5KQTI64N32DVEMYAFK5XD7L433JLK7AQKDZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2DVKGSNHNZBKG3HT7WC7XCFCZ7FQ4C45LATARFES3RHMAX7BFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5YCODKPSMW7KGYAALGGNHT2ORMV3MMBPZW4ZCVTCNAPUWAI7HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV6B2HG2HCJ5MLUVH5GKPPXGRDXKMFTEL6GYIKXWQQSD33PM2GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNTXRPNOVAML6YW27YGNPZ36VRO2EZVB6I7NMEQZFTR4NVROUOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7XCCCNOLEUVJWTEGWHCBGKGSRK2E4KCQPUC3F566CSB6ZXG6JTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXM4GR6UFDXQFUVC32KMDSTO7222AFMV7JJ6XFU7E2HIADZE25YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT2TECPC642GPHSVKKZZFPJR4OJRVYTSXJIFFBHTKYTNXA6UNBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72XXTCDC3WWXEB22PSV7VRCPMWRGII6T2DOCE6S5LZU2S2THCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JUGBGBIANJZPYTI2H6BNU5MXCVOJZPSUOY3XTKNL6AYOAGYCTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "BatchPutCapacityOverride": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "CapacityOverrides"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrides": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "FailedCapacityOverrides"
                ],
                "members": {
                    "FailedCapacityOverrides": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKKAQCC5MXOGQQV5KQTI64N32DVEMYAFK5XD7L433JLK7AQKDZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2DVKGSNHNZBKG3HT7WC7XCFCZ7FQ4C45LATARFES3RHMAX7BFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5YCODKPSMW7KGYAALGGNHT2ORMV3MMBPZW4ZCVTCNAPUWAI7HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV6B2HG2HCJ5MLUVH5GKPPXGRDXKMFTEL6GYIKXWQQSD33PM2GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNTXRPNOVAML6YW27YGNPZ36VRO2EZVB6I7NMEQZFTR4NVROUOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7XCCCNOLEUVJWTEGWHCBGKGSRK2E4KCQPUC3F566CSB6ZXG6JTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXM4GR6UFDXQFUVC32KMDSTO7222AFMV7JJ6XFU7E2HIADZE25YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT2TECPC642GPHSVKKZZFPJR4OJRVYTSXJIFFBHTKYTNXA6UNBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72XXTCDC3WWXEB22PSV7VRCPMWRGII6T2DOCE6S5LZU2S2THCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JUGBGBIANJZPYTI2H6BNU5MXCVOJZPSUOY3XTKNL6AYOAGYCTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "DeleteDeploymentHistoryRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKKAQCC5MXOGQQV5KQTI64N32DVEMYAFK5XD7L433JLK7AQKDZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2DVKGSNHNZBKG3HT7WC7XCFCZ7FQ4C45LATARFES3RHMAX7BFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5YCODKPSMW7KGYAALGGNHT2ORMV3MMBPZW4ZCVTCNAPUWAI7HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV6B2HG2HCJ5MLUVH5GKPPXGRDXKMFTEL6GYIKXWQQSD33PM2GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNTXRPNOVAML6YW27YGNPZ36VRO2EZVB6I7NMEQZFTR4NVROUOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7XCCCNOLEUVJWTEGWHCBGKGSRK2E4KCQPUC3F566CSB6ZXG6JTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXM4GR6UFDXQFUVC32KMDSTO7222AFMV7JJ6XFU7E2HIADZE25YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT2TECPC642GPHSVKKZZFPJR4OJRVYTSXJIFFBHTKYTNXA6UNBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72XXTCDC3WWXEB22PSV7VRCPMWRGII6T2DOCE6S5LZU2S2THCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JUGBGBIANJZPYTI2H6BNU5MXCVOJZPSUOY3XTKNL6AYOAGYCTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "DeleteForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKKAQCC5MXOGQQV5KQTI64N32DVEMYAFK5XD7L433JLK7AQKDZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2DVKGSNHNZBKG3HT7WC7XCFCZ7FQ4C45LATARFES3RHMAX7BFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5YCODKPSMW7KGYAALGGNHT2ORMV3MMBPZW4ZCVTCNAPUWAI7HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV6B2HG2HCJ5MLUVH5GKPPXGRDXKMFTEL6GYIKXWQQSD33PM2GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNTXRPNOVAML6YW27YGNPZ36VRO2EZVB6I7NMEQZFTR4NVROUOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7XCCCNOLEUVJWTEGWHCBGKGSRK2E4KCQPUC3F566CSB6ZXG6JTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXM4GR6UFDXQFUVC32KMDSTO7222AFMV7JJ6XFU7E2HIADZE25YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT2TECPC642GPHSVKKZZFPJR4OJRVYTSXJIFFBHTKYTNXA6UNBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72XXTCDC3WWXEB22PSV7VRCPMWRGII6T2DOCE6S5LZU2S2THCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JUGBGBIANJZPYTI2H6BNU5MXCVOJZPSUOY3XTKNL6AYOAGYCTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "DescribeCapacityOverrides": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "CapacityOverrideNames": {
                        "shape": "S7"
                    },
                    "CapacityOverrideEffectiveStartTime": {
                        "type": "timestamp"
                    },
                    "CapacityOverrideEffectiveEndTime": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CapacityOverrides"
                ],
                "members": {
                    "CapacityOverrides": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKKAQCC5MXOGQQV5KQTI64N32DVEMYAFK5XD7L433JLK7AQKDZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2DVKGSNHNZBKG3HT7WC7XCFCZ7FQ4C45LATARFES3RHMAX7BFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5YCODKPSMW7KGYAALGGNHT2ORMV3MMBPZW4ZCVTCNAPUWAI7HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV6B2HG2HCJ5MLUVH5GKPPXGRDXKMFTEL6GYIKXWQQSD33PM2GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNTXRPNOVAML6YW27YGNPZ36VRO2EZVB6I7NMEQZFTR4NVROUOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7XCCCNOLEUVJWTEGWHCBGKGSRK2E4KCQPUC3F566CSB6ZXG6JTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXM4GR6UFDXQFUVC32KMDSTO7222AFMV7JJ6XFU7E2HIADZE25YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT2TECPC642GPHSVKKZZFPJR4OJRVYTSXJIFFBHTKYTNXA6UNBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72XXTCDC3WWXEB22PSV7VRCPMWRGII6T2DOCE6S5LZU2S2THCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JUGBGBIANJZPYTI2H6BNU5MXCVOJZPSUOY3XTKNL6AYOAGYCTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "DescribeDeploymentHistoryRecords": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace"
                ],
                "members": {
                    "DeploymentHistoryName": {},
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeploymentHistoryRecords": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DeploymentHistoryName",
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "ResourceEffectiveTime"
                            ],
                            "members": {
                                "DeploymentHistoryName": {},
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "ResourceEffectiveTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKKAQCC5MXOGQQV5KQTI64N32DVEMYAFK5XD7L433JLK7AQKDZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2DVKGSNHNZBKG3HT7WC7XCFCZ7FQ4C45LATARFES3RHMAX7BFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5YCODKPSMW7KGYAALGGNHT2ORMV3MMBPZW4ZCVTCNAPUWAI7HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV6B2HG2HCJ5MLUVH5GKPPXGRDXKMFTEL6GYIKXWQQSD33PM2GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNTXRPNOVAML6YW27YGNPZ36VRO2EZVB6I7NMEQZFTR4NVROUOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7XCCCNOLEUVJWTEGWHCBGKGSRK2E4KCQPUC3F566CSB6ZXG6JTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXM4GR6UFDXQFUVC32KMDSTO7222AFMV7JJ6XFU7E2HIADZE25YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT2TECPC642GPHSVKKZZFPJR4OJRVYTSXJIFFBHTKYTNXA6UNBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72XXTCDC3WWXEB22PSV7VRCPMWRGII6T2DOCE6S5LZU2S2THCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JUGBGBIANJZPYTI2H6BNU5MXCVOJZPSUOY3XTKNL6AYOAGYCTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "GetForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKKAQCC5MXOGQQV5KQTI64N32DVEMYAFK5XD7L433JLK7AQKDZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2DVKGSNHNZBKG3HT7WC7XCFCZ7FQ4C45LATARFES3RHMAX7BFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5YCODKPSMW7KGYAALGGNHT2ORMV3MMBPZW4ZCVTCNAPUWAI7HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV6B2HG2HCJ5MLUVH5GKPPXGRDXKMFTEL6GYIKXWQQSD33PM2GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNTXRPNOVAML6YW27YGNPZ36VRO2EZVB6I7NMEQZFTR4NVROUOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7XCCCNOLEUVJWTEGWHCBGKGSRK2E4KCQPUC3F566CSB6ZXG6JTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXM4GR6UFDXQFUVC32KMDSTO7222AFMV7JJ6XFU7E2HIADZE25YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT2TECPC642GPHSVKKZZFPJR4OJRVYTSXJIFFBHTKYTNXA6UNBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72XXTCDC3WWXEB22PSV7VRCPMWRGII6T2DOCE6S5LZU2S2THCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JUGBGBIANJZPYTI2H6BNU5MXCVOJZPSUOY3XTKNL6AYOAGYCTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "GetScalingPlanResourceForecastDataInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "ScalingPlanName",
                    "ScalingPlanVersion",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ForecastDataType",
                    "StartTime",
                    "EndTime"
                ],
                "members": {
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    },
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "MetricSpecification": {
                        "type": "structure",
                        "required": [
                            "MetricName",
                            "Namespace",
                            "Dimensions",
                            "Statistic"
                        ],
                        "members": {
                            "MetricName": {},
                            "Namespace": {},
                            "Dimensions": {
                                "shape": "S16"
                            },
                            "Statistic": {},
                            "Unit": {}
                        },
                        "internalonly": true
                    },
                    "ForecastDataType": {
                        "type": "string",
                        "internalonly": true
                    },
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "EndTime": {
                        "type": "timestamp"
                    },
                    "Period": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Datapoints"
                ],
                "members": {
                    "Datapoints": {
                        "shape": "S2z"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKKAQCC5MXOGQQV5KQTI64N32DVEMYAFK5XD7L433JLK7AQKDZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2DVKGSNHNZBKG3HT7WC7XCFCZ7FQ4C45LATARFES3RHMAX7BFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5YCODKPSMW7KGYAALGGNHT2ORMV3MMBPZW4ZCVTCNAPUWAI7HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV6B2HG2HCJ5MLUVH5GKPPXGRDXKMFTEL6GYIKXWQQSD33PM2GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNTXRPNOVAML6YW27YGNPZ36VRO2EZVB6I7NMEQZFTR4NVROUOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7XCCCNOLEUVJWTEGWHCBGKGSRK2E4KCQPUC3F566CSB6ZXG6JTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXM4GR6UFDXQFUVC32KMDSTO7222AFMV7JJ6XFU7E2HIADZE25YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT2TECPC642GPHSVKKZZFPJR4OJRVYTSXJIFFBHTKYTNXA6UNBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72XXTCDC3WWXEB22PSV7VRCPMWRGII6T2DOCE6S5LZU2S2THCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JUGBGBIANJZPYTI2H6BNU5MXCVOJZPSUOY3XTKNL6AYOAGYCTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "ListApplicationResourceScalableTargets": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationResources"
                ],
                "members": {
                    "ApplicationResources": {
                        "shape": "S37"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationResourceScalableTargets"
                ],
                "members": {
                    "ApplicationResourceScalableTargets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ServiceNamespace",
                                "ResourceId",
                                "ScalableDimension",
                                "DesiredCapacity",
                                "ProposedMinCapacity",
                                "ProposedMaxCapacity"
                            ],
                            "members": {
                                "ServiceNamespace": {},
                                "ResourceId": {},
                                "ScalableDimension": {},
                                "DesiredCapacity": {
                                    "type": "integer"
                                },
                                "ProposedMinCapacity": {
                                    "type": "integer"
                                },
                                "ProposedMaxCapacity": {
                                    "type": "integer"
                                },
                                "ResourceIdForCloudFormation": {}
                            }
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKKAQCC5MXOGQQV5KQTI64N32DVEMYAFK5XD7L433JLK7AQKDZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2DVKGSNHNZBKG3HT7WC7XCFCZ7FQ4C45LATARFES3RHMAX7BFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5YCODKPSMW7KGYAALGGNHT2ORMV3MMBPZW4ZCVTCNAPUWAI7HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV6B2HG2HCJ5MLUVH5GKPPXGRDXKMFTEL6GYIKXWQQSD33PM2GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNTXRPNOVAML6YW27YGNPZ36VRO2EZVB6I7NMEQZFTR4NVROUOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7XCCCNOLEUVJWTEGWHCBGKGSRK2E4KCQPUC3F566CSB6ZXG6JTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXM4GR6UFDXQFUVC32KMDSTO7222AFMV7JJ6XFU7E2HIADZE25YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT2TECPC642GPHSVKKZZFPJR4OJRVYTSXJIFFBHTKYTNXA6UNBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72XXTCDC3WWXEB22PSV7VRCPMWRGII6T2DOCE6S5LZU2S2THCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JUGBGBIANJZPYTI2H6BNU5MXCVOJZPSUOY3XTKNL6AYOAGYCTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "ListApplicationResources": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespaces"
                ],
                "members": {
                    "TagFilters": {
                        "shape": "Sq"
                    },
                    "CloudFormationStackARN": {},
                    "ServiceNamespaces": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplicationResources"
                ],
                "members": {
                    "ApplicationResources": {
                        "shape": "S37"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKKAQCC5MXOGQQV5KQTI64N32DVEMYAFK5XD7L433JLK7AQKDZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2DVKGSNHNZBKG3HT7WC7XCFCZ7FQ4C45LATARFES3RHMAX7BFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5YCODKPSMW7KGYAALGGNHT2ORMV3MMBPZW4ZCVTCNAPUWAI7HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV6B2HG2HCJ5MLUVH5GKPPXGRDXKMFTEL6GYIKXWQQSD33PM2GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNTXRPNOVAML6YW27YGNPZ36VRO2EZVB6I7NMEQZFTR4NVROUOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7XCCCNOLEUVJWTEGWHCBGKGSRK2E4KCQPUC3F566CSB6ZXG6JTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXM4GR6UFDXQFUVC32KMDSTO7222AFMV7JJ6XFU7E2HIADZE25YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT2TECPC642GPHSVKKZZFPJR4OJRVYTSXJIFFBHTKYTNXA6UNBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72XXTCDC3WWXEB22PSV7VRCPMWRGII6T2DOCE6S5LZU2S2THCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JUGBGBIANJZPYTI2H6BNU5MXCVOJZPSUOY3XTKNL6AYOAGYCTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "ListDeploymentHistories": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "ScalableDimension": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeploymentHistorySummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "DeploymentHistoryName",
                                "ServiceNamespace",
                                "ScalableDimension"
                            ],
                            "members": {
                                "DeploymentHistoryName": {},
                                "ServiceNamespace": {},
                                "ScalableDimension": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKKAQCC5MXOGQQV5KQTI64N32DVEMYAFK5XD7L433JLK7AQKDZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2DVKGSNHNZBKG3HT7WC7XCFCZ7FQ4C45LATARFES3RHMAX7BFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5YCODKPSMW7KGYAALGGNHT2ORMV3MMBPZW4ZCVTCNAPUWAI7HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV6B2HG2HCJ5MLUVH5GKPPXGRDXKMFTEL6GYIKXWQQSD33PM2GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNTXRPNOVAML6YW27YGNPZ36VRO2EZVB6I7NMEQZFTR4NVROUOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7XCCCNOLEUVJWTEGWHCBGKGSRK2E4KCQPUC3F566CSB6ZXG6JTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXM4GR6UFDXQFUVC32KMDSTO7222AFMV7JJ6XFU7E2HIADZE25YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT2TECPC642GPHSVKKZZFPJR4OJRVYTSXJIFFBHTKYTNXA6UNBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72XXTCDC3WWXEB22PSV7VRCPMWRGII6T2DOCE6S5LZU2S2THCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JUGBGBIANJZPYTI2H6BNU5MXCVOJZPSUOY3XTKNL6AYOAGYCTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "ListForecastInstructionCollections": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "ScalingPlanName"
                ],
                "members": {
                    "AccountId": {
                        "shape": "S1x"
                    },
                    "ScalingPlanName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollections": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ForecastInstructionCollectionIdentifier": {
                                    "shape": "S1u"
                                },
                                "ForecastInstructionCollectionJsonContent": {
                                    "shape": "S2v"
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKKAQCC5MXOGQQV5KQTI64N32DVEMYAFK5XD7L433JLK7AQKDZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2DVKGSNHNZBKG3HT7WC7XCFCZ7FQ4C45LATARFES3RHMAX7BFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5YCODKPSMW7KGYAALGGNHT2ORMV3MMBPZW4ZCVTCNAPUWAI7HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV6B2HG2HCJ5MLUVH5GKPPXGRDXKMFTEL6GYIKXWQQSD33PM2GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNTXRPNOVAML6YW27YGNPZ36VRO2EZVB6I7NMEQZFTR4NVROUOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7XCCCNOLEUVJWTEGWHCBGKGSRK2E4KCQPUC3F566CSB6ZXG6JTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXM4GR6UFDXQFUVC32KMDSTO7222AFMV7JJ6XFU7E2HIADZE25YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT2TECPC642GPHSVKKZZFPJR4OJRVYTSXJIFFBHTKYTNXA6UNBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72XXTCDC3WWXEB22PSV7VRCPMWRGII6T2DOCE6S5LZU2S2THCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JUGBGBIANJZPYTI2H6BNU5MXCVOJZPSUOY3XTKNL6AYOAGYCTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKKAQCC5MXOGQQV5KQTI64N32DVEMYAFK5XD7L433JLK7AQKDZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2DVKGSNHNZBKG3HT7WC7XCFCZ7FQ4C45LATARFES3RHMAX7BFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5YCODKPSMW7KGYAALGGNHT2ORMV3MMBPZW4ZCVTCNAPUWAI7HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV6B2HG2HCJ5MLUVH5GKPPXGRDXKMFTEL6GYIKXWQQSD33PM2GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNTXRPNOVAML6YW27YGNPZ36VRO2EZVB6I7NMEQZFTR4NVROUOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7XCCCNOLEUVJWTEGWHCBGKGSRK2E4KCQPUC3F566CSB6ZXG6JTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXM4GR6UFDXQFUVC32KMDSTO7222AFMV7JJ6XFU7E2HIADZE25YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT2TECPC642GPHSVKKZZFPJR4OJRVYTSXJIFFBHTKYTNXA6UNBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72XXTCDC3WWXEB22PSV7VRCPMWRGII6T2DOCE6S5LZU2S2THCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JUGBGBIANJZPYTI2H6BNU5MXCVOJZPSUOY3XTKNL6AYOAGYCTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "PutDeploymentHistoryRecord": {
            "input": {
                "type": "structure",
                "required": [
                    "DeploymentHistoryName",
                    "ServiceNamespace",
                    "ResourceId",
                    "ScalableDimension",
                    "ResourceEffectiveTime"
                ],
                "members": {
                    "DeploymentHistoryName": {},
                    "ServiceNamespace": {},
                    "ResourceId": {},
                    "ScalableDimension": {},
                    "ResourceEffectiveTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKKAQCC5MXOGQQV5KQTI64N32DVEMYAFK5XD7L433JLK7AQKDZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2DVKGSNHNZBKG3HT7WC7XCFCZ7FQ4C45LATARFES3RHMAX7BFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5YCODKPSMW7KGYAALGGNHT2ORMV3MMBPZW4ZCVTCNAPUWAI7HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV6B2HG2HCJ5MLUVH5GKPPXGRDXKMFTEL6GYIKXWQQSD33PM2GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNTXRPNOVAML6YW27YGNPZ36VRO2EZVB6I7NMEQZFTR4NVROUOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7XCCCNOLEUVJWTEGWHCBGKGSRK2E4KCQPUC3F566CSB6ZXG6JTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXM4GR6UFDXQFUVC32KMDSTO7222AFMV7JJ6XFU7E2HIADZE25YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT2TECPC642GPHSVKKZZFPJR4OJRVYTSXJIFFBHTKYTNXA6UNBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72XXTCDC3WWXEB22PSV7VRCPMWRGII6T2DOCE6S5LZU2S2THCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JUGBGBIANJZPYTI2H6BNU5MXCVOJZPSUOY3XTKNL6AYOAGYCTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "PutForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ForecastInstructionCollectionJsonContent",
                    "ForecastInstructionCollectionIdentifier"
                ],
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    },
                    "ForecastInstructionCollectionIdentifier": {
                        "shape": "S1u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKKAQCC5MXOGQQV5KQTI64N32DVEMYAFK5XD7L433JLK7AQKDZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2DVKGSNHNZBKG3HT7WC7XCFCZ7FQ4C45LATARFES3RHMAX7BFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5YCODKPSMW7KGYAALGGNHT2ORMV3MMBPZW4ZCVTCNAPUWAI7HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV6B2HG2HCJ5MLUVH5GKPPXGRDXKMFTEL6GYIKXWQQSD33PM2GPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNTXRPNOVAML6YW27YGNPZ36VRO2EZVB6I7NMEQZFTR4NVROUOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7XCCCNOLEUVJWTEGWHCBGKGSRK2E4KCQPUC3F566CSB6ZXG6JTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXM4GR6UFDXQFUVC32KMDSTO7222AFMV7JJ6XFU7E2HIADZE25YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HT2TECPC642GPHSVKKZZFPJR4OJRVYTSXJIFFBHTKYTNXA6UNBLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z72XXTCDC3WWXEB22PSV7VRCPMWRGII6T2DOCE6S5LZU2S2THCPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JUGBGBIANJZPYTI2H6BNU5MXCVOJZPSUOY3XTKNL6AYOAGYCTDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUJXAGQ3GB7O4JO3ATHACLZXKTN4QO4S5N5PX4JWKEVWX2YBK4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P26T6LMWRM43H2CHG3DAV6CX23RTGAGLKHGO5KFSP7Y6EWJ2RJHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFUOGVJJ3ULIYUMFQ4WX6QORQBWGUYKFLHC5GKXTMQE6RQMERIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RC6OTCIHBQB7ZQCIYGGGC3ZCUFUWEIDYHGMAJR5XCDJO6CENWA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZHGRGGZVZBGGTFWM72SX7KFXUS5XBLMDGBTILT2XF5WCXK7RQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LO4S4L6VVHRF5KZOSVIDTZHWNMJNBONIBRG24LHLKDUYVU36CW6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIDQVAMIMVKCBSZMUNBRQRWBNHMUAFNCFIELXLDNX73ZGPMSLTSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYHCP6LD6Q4W5NDP5BW67JIOC7JJAMIMHHFMUP55PYFNK662YBVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53KN3TLEEAMVLH2DLVKAGC6YOV7TEUQH7HDIOBYLG4VTVJ4OBVQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMQIRY7Q4YSCBKYX6T2G5JSQANFYADTOPE3GRPSJ3X5SCRAVWDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQHTTXV2RTJKEU34NAMI24TBYSYJQXF3VLUFIWRQQ2GD2STPSCGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZAYBOJCG6PN246FQ2P4SHIJINLHZDPXWMLPAMUHHC2UOQWMKFBEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MFATMA5UTFQLY5EHQL4BHEVJ7HSNYS2ULO25STZVC2IE67AOSWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZMRWURRZM6PTUINA73C35OQFY5TMX4X6L6ASNAK6QWJLWT4BPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVC5YJI4PBH3JW6WGULHUFL7WGMN3FWUE3CMJTTG5ELYVZCTZRPQ/vendors.js"
            ]
        },
        "ResolveForecastInstructionCollection": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceNamespace",
                    "AccountId",
                    "ScalingPlanName",
                    "ScalingPlanVersion"
                ],
                "members": {
                    "ServiceNamespace": {},
                    "AccountId": {
                        "shape": "S1x"
                    },
                    "ScalingPlanName": {},
                    "ScalingPlanVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ForecastInstructionCollectionJsonContent": {
                        "shape": "S2v"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKKAQCC5MXOGQQV5KQTI64N32DVEMYAFK5XD7L433JLK7AQKDZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2DVKGSNHNZBKG3HT7WC7XCFCZ7FQ4C45LATARFES3RHMAX7BFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5YCODKPSMW7KGYAALGGNHT2ORMV3MMBPZW4ZCVTCNAPUWAI7HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV6B2HG2HCJ5MLUVH5GKPPXGRDXKMFTEL6GYIKXWQQSD33PM2GPA/vendors.js",
[...]
