{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-04-30",
        "endpointPrefix": "resiliencehub",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Digito Control Plane Service.",
        "serviceId": "resiliencehub",
        "signatureVersion": "v4",
        "signingName": "resiliencehub",
        "swagger": {
            "basePath": "/",
            "crossAccountAuth": true,
            "enableCORS": true,
            "executionRoleReferenceGenerator": "com.amazonaws.coral2swagger.generator.references.SingletonReferenceGenerator",
            "gatewayResponses": {
                "DEFAULT_4XX": {
                    "headers": {
                        "Access-Control-Allow-Headers": {
                            "type": "string"
                        },
                        "Access-Control-Allow-Methods": {
                            "type": "string"
                        },
                        "Access-Control-Allow-Origin": {
                            "type": "string"
                        }
                    },
                    "responseParameters": {
                        "gatewayresponse.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token,X-Amz-Content-Sha256,X-Amz-User-Agent'",
                        "gatewayresponse.header.Access-Control-Allow-Methods": "'GET'",
                        "gatewayresponse.header.Access-Control-Allow-Origin": "'*'"
                    }
                },
                "DEFAULT_5XX": {
                    "headers": {
                        "Access-Control-Allow-Headers": {
                            "type": "string"
                        },
                        "Access-Control-Allow-Methods": {
                            "type": "string"
                        },
                        "Access-Control-Allow-Origin": {
                            "type": "string"
                        }
                    },
                    "responseParameters": {
                        "gatewayresponse.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token,X-Amz-Content-Sha256,X-Amz-User-Agent'",
                        "gatewayresponse.header.Access-Control-Allow-Methods": "'GET'",
                        "gatewayresponse.header.Access-Control-Allow-Origin": "'*'"
                    }
                }
            },
            "lambdaReferenceGenerator": "com.amazonaws.coral2swagger.generator.references.SingletonReferenceGenerator"
        },
        "uid": "aws-digito-control-plane-service-2020-04-30",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZK7JI2TJUJWARN3EDRU577PLJQR4I6QJJJMZM2BOIXIGX76LJUBA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
        ]
    },
    "operations": {
        "AddDraftAppVersionResourceMappings": {
            "http": {
                "requestUri": "/add-draft-app-version-resource-mappings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "resourceMappings"
                ],
                "members": {
                    "appArn": {},
                    "resourceMappings": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion",
                    "resourceMappings"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "resourceMappings": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "BatchUpdateRecommendationStatus": {
            "http": {
                "requestUri": "/batch-update-recommendation-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "requestEntries"
                ],
                "members": {
                    "appArn": {},
                    "requestEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "referenceId",
                                "item",
                                "excluded"
                            ],
                            "members": {
                                "entryId": {},
                                "referenceId": {},
                                "item": {
                                    "shape": "Si"
                                },
                                "excluded": {
                                    "type": "boolean"
                                },
                                "excludeReason": {
                                    "shape": "Sl"
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "successfulEntries",
                    "failedEntries"
                ],
                "members": {
                    "appArn": {},
                    "successfulEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "referenceId",
                                "item",
                                "excluded"
                            ],
                            "members": {
                                "entryId": {},
                                "referenceId": {},
                                "item": {
                                    "shape": "Si"
                                },
                                "excluded": {
                                    "type": "boolean"
                                },
                                "excludeReason": {
                                    "shape": "Sl"
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    },
                    "failedEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "errorMessage"
                            ],
                            "members": {
                                "entryId": {},
                                "errorMessage": {}
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "CreateApp": {
            "http": {
                "requestUri": "/create-app",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "policyArn": {},
                    "tags": {
                        "shape": "Su"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "assessmentSchedule": {},
                    "permissionModel": {
                        "shape": "Sz",
                        "internalonly": true
                    },
                    "eventSubscriptions": {
                        "shape": "S14"
                    },
                    "regulatoryPolicyArn": {
                        "internalonly": true
                    },
                    "awsApplicationArn": {
                        "internalonly": true
                    },
                    "complianceReadinessPolicyArn": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "CreateAppVersionAppComponent": {
            "http": {
                "requestUri": "/create-app-version-app-component",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "name",
                    "type"
                ],
                "members": {
                    "appArn": {},
                    "id": {},
                    "name": {},
                    "type": {},
                    "additionalInfo": {
                        "shape": "S1b"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "appComponent": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "CreateAppVersionResource": {
            "http": {
                "requestUri": "/create-app-version-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "logicalResourceId",
                    "physicalResourceId",
                    "resourceType",
                    "appComponents"
                ],
                "members": {
                    "appArn": {},
                    "resourceName": {},
                    "logicalResourceId": {
                        "shape": "S1i"
                    },
                    "physicalResourceId": {},
                    "awsRegion": {},
                    "awsAccountId": {},
                    "resourceType": {},
                    "appComponents": {
                        "shape": "S1k"
                    },
                    "additionalInfo": {
                        "shape": "S1b"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "physicalResource": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "CreateRecommendationTemplate": {
            "http": {
                "requestUri": "/create-recommendation-template",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "assessmentArn",
                    "name"
                ],
                "members": {
                    "recommendationIds": {
                        "shape": "S1q"
                    },
                    "format": {},
                    "recommendationTypes": {
                        "shape": "S1t"
                    },
                    "assessmentArn": {},
                    "name": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Su"
                    },
                    "bucketName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendationTemplate": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "CreateResiliencyPolicy": {
            "http": {
                "requestUri": "/create-resiliency-policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policyName",
                    "tier",
                    "policy"
                ],
                "members": {
                    "policyName": {},
                    "policyDescription": {},
                    "dataLocationConstraint": {},
                    "tier": {},
                    "policy": {
                        "shape": "S22"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policy"
                ],
                "members": {
                    "policy": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "DeleteApp": {
            "http": {
                "requestUri": "/delete-app",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn"
                ],
                "members": {
                    "appArn": {},
                    "forceDelete": {
                        "type": "boolean"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn"
                ],
                "members": {
                    "appArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "DeleteAppAssessment": {
            "http": {
                "requestUri": "/delete-app-assessment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "assessmentArn"
                ],
                "members": {
                    "assessmentArn": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "assessmentArn",
                    "assessmentStatus"
                ],
                "members": {
                    "assessmentArn": {},
                    "assessmentStatus": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "DeleteAppInputSource": {
            "http": {
                "requestUri": "/delete-app-input-source",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn"
                ],
                "members": {
                    "appArn": {},
                    "sourceArn": {},
                    "terraformSource": {
                        "shape": "S2f"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "eksSourceClusterNamespace": {
                        "shape": "S2h"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "appArn": {},
                    "appInputSource": {
                        "shape": "S2k"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "DeleteAppVersionAppComponent": {
            "http": {
                "requestUri": "/delete-app-version-app-component",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "id"
                ],
                "members": {
                    "appArn": {},
                    "id": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "appComponent": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "DeleteAppVersionResource": {
            "http": {
                "requestUri": "/delete-app-version-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn"
                ],
                "members": {
                    "appArn": {},
                    "resourceName": {},
                    "logicalResourceId": {
                        "shape": "S1i"
                    },
                    "physicalResourceId": {},
                    "awsRegion": {},
                    "awsAccountId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "physicalResource": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "DeleteRecommendationTemplate": {
            "http": {
                "requestUri": "/delete-recommendation-template",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "recommendationTemplateArn"
                ],
                "members": {
                    "recommendationTemplateArn": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "recommendationTemplateArn",
                    "status"
                ],
                "members": {
                    "recommendationTemplateArn": {},
                    "status": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "DeleteResiliencyPolicy": {
            "http": {
                "requestUri": "/delete-resiliency-policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policyArn"
                ],
                "members": {
                    "policyArn": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policyArn"
                ],
                "members": {
                    "policyArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "DescribeApp": {
            "http": {
                "requestUri": "/describe-app",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn"
                ],
                "members": {
                    "appArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "DescribeAppAssessment": {
            "http": {
                "requestUri": "/describe-app-assessment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "assessmentArn"
                ],
                "members": {
                    "assessmentArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "assessment"
                ],
                "members": {
                    "assessment": {
                        "shape": "S2y"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "DescribeAppVersion": {
            "http": {
                "requestUri": "/describe-app-version",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "additionalInfo": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "DescribeAppVersionAppComponent": {
            "http": {
                "requestUri": "/describe-app-version-app-component",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion",
                    "id"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "appComponent": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "DescribeAppVersionResource": {
            "http": {
                "requestUri": "/describe-app-version-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "resourceName": {},
                    "logicalResourceId": {
                        "shape": "S1i"
                    },
                    "physicalResourceId": {},
                    "awsRegion": {},
                    "awsAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "physicalResource": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "DescribeAppVersionResourcesResolutionStatus": {
            "http": {
                "requestUri": "/describe-app-version-resources-resolution-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "resolutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion",
                    "resolutionId",
                    "status"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "resolutionId": {},
                    "status": {},
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "DescribeAppVersionTemplate": {
            "http": {
                "requestUri": "/describe-app-version-template",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion",
                    "appTemplateBody"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "appTemplateBody": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "DescribeDraftAppVersionResourcesImportStatus": {
            "http": {
                "requestUri": "/describe-draft-app-version-resources-import-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn"
                ],
                "members": {
                    "appArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion",
                    "status",
                    "statusChangeTime"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "status": {},
                    "statusChangeTime": {
                        "type": "timestamp"
                    },
                    "errorMessage": {},
                    "importProgressStatus": {
                        "internalonly": true,
                        "type": "string"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3RGPTZQE4YMV7YTNEAGCPOLD6BY7SQGKDK46DJYRNLTVTOQITPAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4X4OSKFVT2SHKMUTR7N2XV2SNPMFV6CKONVDFBRNC2NRFAONAY4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPEHFIEBSIKNBFI7Y6TWOM7R7NMPYZVKEZ3HAX4CWR4FN5VS5ECQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H2SGZSXFL53SOIXN3GZPHIUQ4YSGF7URFXX43DKAJKQSRZZKNZ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPVJISTNLSEHHYYU3TT2BPRTESTPYJCBLWEOSIMGOPA7MRQU2MQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DQFCV7CFZWLUYGDUGXWZEDJUAF4DG3W5QU45Y5LMW3SXA3PLWVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A4PTJIKGAAYFDPJMHMMJD43EWDOOBGG53SPQABT2JW7GGCPSZKIA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJYEC66FZNSIZ5YLZJ5AV4QXWWGBVUMLPGM3MY3TMM7HK2VRLHRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PUDZYWWV5NZASJMWP3WLHSJM5GLTRENC7MSXYBEHC43PXAKJGWBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGGOF4EWQFNUKCK7YL3KOCBJQBLXGH4JISGQTCL33VN7QQRQEPRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGXGZCOO5JWSMSLD5FTYHSJCNNHPLCSHBKB3SRLFVLURZY6TYGYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QT6ZQ2XGQRFX6K2IEIKA3FEX7YAF3KBWFYCWUB4Q26PCBHMJZBOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XAFWFENR362GJFGR7F6EOMNBL4ASU3P3G2AL6TIYGPKF4VZ2ZBCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7GKKCIPDYUPH6M3JNNFWJ7DUIU2QQTWMFYO5MVLTDGNH3S6TSHQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MCUFAZ7H4QM3AGXL6524JEAAFWDTXNG6DN2ACZJXNV56IVX4NQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BIDWYIEF4FGLZOUYSHNGRQHJCGMGDJEFKUMLVEHYZT3XYYJIIEUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XCNKGVOOHUV6UNRFDJ5Z5KP6FO5BSCX4NBQH5GYBEGUJWD3UQW7A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DEKNIM4XTJ26AEY4UJN7K6GAU5SZIINETOF74JCMMOFWLANZ6EBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2KLUZ7RV64CAYGGDJ6ZCAMFDT2S2CPOGEB2DB6ND2CUPLSDCUQBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P7OZKBWUPYYFDRVRE7KNVH6HWOJB4SYFTZJ4YUETHLJMI7PNT3FA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FAVGKIBDO2EHNKT27TOK2RCKTEJ5UXGS7L3CF44EYA2EXJGJZ7IQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AM7WUJHLXSQRBHBNPJ6BSIUQOKLYOIAICSOYA7Z7U2BA2APW7IWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RVPC22KO4DD6SU7DUFTYRNL5PT32H2ARU4AMB6LIYKSPJ6DMILQA/vendors.js"
            ]
        },
        "DescribeResiliencyPolicy": {
            "http": {
                "requestUri": "/describe-resiliency-policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policyArn"
                ],
                "members": {
                    "policyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policy"
                ],
                "members": {
                    "policy": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/CLONNRL5ZW6T6BRBDNBGXKS5QY3CBHPX246OUMY6P2NXLE66NIOQ/vendors.js",
[...]
