{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-01-01",
        "endpointPrefix": "AWSThorProjectManagementServiceLambda",
        "protocol": "rest-json",
        "serviceFullName": "AWS Thor Project Management Service",
        "serviceId": "awsthorprojectmanagementservicelambda",
        "signatureVersion": "v4",
        "signingName": "thor",
        "uid": "aws-thor-project-management-service-lambda-2020-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NLWMVFSDMCKSS22JREBEWOG2CDNO5OWCXDQ7FINRKYTNFWU7ZSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
        ]
    },
    "operations": {
        "AssociateProjectAdminUser": {
            "name": "AssociateProjectAdminUser",
            "http": {
                "method": "POST",
                "requestUri": "/projects/{Name}/admins"
            },
            "input": {
                "shape": "AssociateProjectAdminUserRequest",
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "UserId": {}
                }
            },
            "output": {
                "shape": "AssociateProjectAdminUserResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        },
        "AssociateProjectGroup": {
            "name": "AssociateProjectGroup",
            "http": {
                "method": "POST",
                "requestUri": "/projects/{Name}/groups"
            },
            "input": {
                "shape": "AssociateProjectGroupRequest",
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "shape": "AssociateProjectGroupResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        },
        "CreateProject": {
            "name": "CreateProject",
            "http": {
                "method": "POST",
                "requestUri": "/projects"
            },
            "input": {
                "shape": "CreateProjectRequest",
                "members": {
                    "Name": {},
                    "DisplayName": {
                        "shape": "Sb"
                    },
                    "Type": {},
                    "Tags": {
                        "shape": "Sd"
                    },
                    "KmsKeyId": {},
                    "UserPoolSource": {},
                    "IdcApplicationArn": {},
                    "IdcInstanceArn": {},
                    "IdcInstanceRegion": {}
                }
            },
            "output": {
                "shape": "CreateProjectResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        },
        "DeleteProject": {
            "name": "DeleteProject",
            "http": {
                "method": "DELETE",
                "requestUri": "/projects/{Name}"
            },
            "input": {
                "shape": "DeleteProjectRequest",
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "shape": "DeleteProjectResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        },
        "DisassociateProjectAdminUser": {
            "name": "DisassociateProjectAdminUser",
            "http": {
                "method": "DELETE",
                "requestUri": "/projects/{Name}/admins/{UserId}"
            },
            "input": {
                "shape": "DisassociateProjectAdminUserRequest",
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "UserId": {
                        "location": "uri",
                        "locationName": "UserId"
                    }
                }
            },
            "output": {
                "shape": "DisassociateProjectAdminUserResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        },
        "DisassociateProjectGroup": {
            "name": "DisassociateProjectGroup",
            "http": {
                "method": "DELETE",
                "requestUri": "/projects/{Name}/groups/{GroupId}"
            },
            "input": {
                "shape": "DisassociateProjectGroupRequest",
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "GroupId": {
                        "location": "uri",
                        "locationName": "GroupId"
                    }
                }
            },
            "output": {
                "shape": "DisassociateProjectGroupResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        },
        "GetProject": {
            "name": "GetProject",
            "http": {
                "method": "GET",
                "requestUri": "/projects/{Name}"
            },
            "input": {
                "shape": "GetProjectRequest",
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    }
                }
            },
            "output": {
                "shape": "GetProjectResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        },
        "GetProjectAdminUser": {
            "name": "GetProjectAdminUser",
            "http": {
                "method": "GET",
                "requestUri": "/projects/{Name}/admins/{UserId}"
            },
            "input": {
                "shape": "GetProjectAdminUserRequest",
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "UserId": {
                        "location": "uri",
                        "locationName": "UserId"
                    }
                }
            },
            "output": {
                "shape": "GetProjectAdminUserResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        },
        "ListProjectAdminUsers": {
            "name": "ListProjectAdminUsers",
            "http": {
                "method": "GET",
                "requestUri": "/projects/{Name}/admins"
            },
            "input": {
                "shape": "ListProjectAdminUsersRequest",
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "shape": "ListProjectAdminUsersResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        },
        "ListProjects": {
            "name": "ListProjects",
            "http": {
                "method": "GET",
                "requestUri": "/projects"
            },
            "input": {
                "shape": "ListProjectsRequest",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "MaxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "shape": "ListProjectsResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        },
        "ListTagsForResource": {
            "name": "ListTagsForResource",
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}"
            },
            "input": {
                "shape": "ListTagsForResourceRequest",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "shape": "ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        },
        "LockServiceLinkedRole": {
            "name": "LockServiceLinkedRole",
            "http": {
                "method": "POST",
                "requestUri": "/slr-deletion/lock"
            },
            "input": {
                "shape": "LockServiceLinkedRoleRequest",
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "shape": "LockServiceLinkedRoleResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        },
        "TagResource": {
            "name": "TagResource",
            "http": {
                "method": "POST",
                "requestUri": "/tags/{ResourceArn}"
            },
            "input": {
                "shape": "TagResourceRequest",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "shape": "TagResourceResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "name": "UnlockServiceLinkedRole",
            "http": {
                "method": "POST",
                "requestUri": "/slr-deletion/unlock"
            },
            "input": {
                "shape": "UnlockServiceLinkedRoleRequest",
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "shape": "UnlockServiceLinkedRoleResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        },
        "UntagResource": {
            "name": "UntagResource",
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}"
            },
            "input": {
                "shape": "UntagResourceRequest",
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "shape": "UntagResourceResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        },
        "UpdateProject": {
            "name": "UpdateProject",
            "http": {
                "method": "PUT",
                "requestUri": "/projects/{Name}"
            },
            "input": {
                "shape": "UpdateProjectRequest",
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "DisplayName": {
                        "shape": "Sb"
                    },
                    "Type": {},
                    "DataExportConfiguration": {
                        "shape": "Sl"
                    },
                    "RecreateKMSGrant": {
                        "type": "boolean"
                    },
                    "FftDataExportConfiguration": {
                        "shape": "Sp"
                    }
                }
            },
            "output": {
                "shape": "UpdateProjectResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ResourceNotFoundException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        },
        "UpdateUserPoolSource": {
            "name": "UpdateUserPoolSource",
            "http": {
                "method": "PUT",
                "requestUri": "/projects/{Name}/userpoolsource/{UserPoolSource}"
            },
            "input": {
                "shape": "UpdateUserPoolSourceRequest",
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "Name"
                    },
                    "UserPoolSource": {
                        "location": "uri",
                        "locationName": "UserPoolSource"
                    }
                }
            },
            "output": {
                "shape": "UpdateUserPoolSourceResponse"
            },
            "errors": [
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBYKXR5E4ZWFBZVQO3UBX3ID63ZY5L66BCPLH6GT2SJZPLPNOARQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNDS75JLHFKQSFGTO4P2VNCO3GSRBPQELFJGWRCJ35MD6OCRAPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X27DV3YM5HGHJDJPVR2BGKB7LDSJNOM27AQW7DD3A2AXEGYBGRHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5IZ2M5HVDCN4ITABYS5JH2SQNACJVJFKEJULFRAFIW37B42MOBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVDCPYJNANWULFEWEWUW3T5BHBC2KVI7Y4U333Q5LVMXR6PNJTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDHJWBNB3XSPFDP4OJSRFBQUSOVM5DR7ZKQGJUSCV4CFXDI36RWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22KGATRQO4DWWN7X5OZFXHSXKK3DRATO6MF5OC54SSNB3YY7Q57A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4I5ULGUTCSLY7BI4R4SJT24VVSNKEHTPGZJNXKE6CCJPRYUEDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XDAHYZQAO3SNZFV2N6PSDDQX6IYZXTSGQ2AHDDULSVYVKXB7QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYA6T7T4KQQADCSIN6DZUAQYZZHMONFBSIH5DC67CXEMCTVB7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWZ6W56VMQ43RNG4ITNHM52YZQFZ3FLIO2WCBETOYSN2GBCW5MFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BAUMQR64L3DTE32ZQGE6V2RZK6POHP3NFPEMBPFHY53OLR72ZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KALENFFIBGP6NQFNSQGBEEY2T5CY7QABSEKR4VQ7H3JGP5TDTPEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/F52375U4PAYZKLFBRDX47GDNE34KMP7RVS3VXKMSS3DP4PVT6LUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7HA6N2CHSZXF3EDMZU6GV2LYNYBEI6GA4CSBIWMTNFU3RVQCQYSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3S7J5NNV335ZZESVDH4KFGVPLUZ6PH5P5OFZW6TZQHV7FCSNO7AA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E64GYPKHCZCBOFP2TN4EOBXUUYJU6SAT3JD5ADNN5SLINJPVDLIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JJOLYNGZMBAZP7P5FUYE2G7YCOGIPUOTEMFXMPXSFYYHC5JI7RUQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GFRVRIQSL37PHVPETWDRGZF7EEMTXKWZH2OE5OC26CHSH3LYYTSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ACKTFKLCVSCX3NCEREJCCCIEFJNZYUAXFKB4VW5AG4EW6EWTUB2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HO6IYEC4ZMWADUGHPFZU54PYO4L7TPD674ORAVF6DJ4GTUNRV4FQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LHDNOBNFL64KB7LGLRHT47PHWSLNELIAST7NHBIFSTXPFXVZMIAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js"
            ]
        }
    },
    "shapes": {
        "AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "ErrorMessage"
                }
            },
            "error": {
                "httpStatusCode": 403
            },
            "exception": true
        },
        "AccessorId": {
            "type": "string",
            "max": 512,
            "min": 1,
            "pattern": "^([a-zA-Z0-9]+[/.-]+)+([a-zA-Z0-9])+[.]?$"
        },
        "AdminUser": {
            "type": "structure",
            "required": [
                "Id",
                "Name",
                "DisplayName",
                "Email"
            ],
            "members": {
                "Id": {
                    "shape": "UserId"
                },
                "Name": {
                    "shape": "UserName"
                },
                "DisplayName": {
                    "shape": "DisplayName"
                },
                "Email": {
                    "shape": "Email"
                }
            },
            "sensitive": true
        },
        "AdminUsersList": {
            "type": "list",
            "member": {
                "shape": "AdminUser"
            }
        },
        "Arn": {
            "type": "string",
            "max": 1600,
            "min": 8,
            "pattern": "^arn:aws:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$"
        },
        "AssociateProjectAdminUserRequest": {
            "type": "structure",
            "required": [
                "Name",
                "UserId"
            ],
            "members": {
                "Name": {
                    "shape": "Name",
                    "location": "uri",
                    "locationName": "Name"
                },
                "UserId": {
                    "shape": "UserId"
                }
            }
        },
        "AssociateProjectAdminUserResponse": {
            "type": "structure",
            "members": {
                "ProjectUserAssociation": {
                    "shape": "ProjectUserAssociation"
                }
            }
        },
        "AssociateProjectGroupRequest": {
            "type": "structure",
            "required": [
                "Name",
                "GroupId"
            ],
            "members": {
                "Name": {
                    "shape": "Name",
                    "location": "uri",
                    "locationName": "Name"
                },
                "GroupId": {
                    "shape": "AccessorId"
                }
            }
        },
        "AssociateProjectGroupResponse": {
            "type": "structure",
            "members": {
                "ProjectGroupAssociation": {
                    "shape": "ProjectGroupAssociation"
                }
            }
        },
        "Boolean": {
            "type": "boolean"
        },
        "ConflictException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "ErrorMessage"
                }
            },
            "error": {
                "httpStatusCode": 409
            },
            "exception": true
        },
        "CreateProjectRequest": {
            "type": "structure",
            "required": [
                "Name",
                "DisplayName",
                "Type"
            ],
            "members": {
                "Name": {
                    "shape": "Name"
                },
                "DisplayName": {
                    "shape": "DisplayName"
                },
                "Type": {
                    "shape": "ProjectType"
                },
                "Tags": {
                    "shape": "TagMap"
                },
                "KmsKeyId": {
                    "shape": "KmsKeyId"
                },
                "UserPoolSource": {
                    "shape": "UserPoolSource"
                }
            }
        },
        "CreateProjectResponse": {
            "type": "structure",
            "members": {
                "Project": {
                    "shape": "Project"
                }
            }
        },
        "DataExportConfiguration": {
            "type": "structure",
            "members": {
                "KinesisDataExportConfiguration": {
                    "shape": "KinesisDataExportConfiguration"
                }
            }
        },
        "DeleteProjectRequest": {
            "type": "structure",
            "required": [
                "Name"
            ],
            "members": {
                "Name": {
                    "shape": "Name",
                    "location": "uri",
                    "locationName": "Name"
                }
            }
        },
        "DeleteProjectResponse": {
            "type": "structure",
            "members": {
                "Name": {
                    "shape": "Name"
                }
            }
        },
        "DisassociateProjectAdminUserRequest": {
            "type": "structure",
            "required": [
                "Name",
                "UserId"
            ],
            "members": {
                "Name": {
                    "shape": "Name",
                    "location": "uri",
                    "locationName": "Name"
                },
                "UserId": {
                    "shape": "UserId",
                    "location": "uri",
                    "locationName": "UserId"
                }
            }
        },
        "DisassociateProjectAdminUserResponse": {
            "type": "structure",
            "members": {
                "ProjectUserAssociation": {
                    "shape": "ProjectUserAssociation"
                }
            }
        },
        "DisassociateProjectGroupRequest": {
            "type": "structure",
            "required": [
                "Name",
                "GroupId"
            ],
            "members": {
                "Name": {
                    "shape": "Name",
                    "location": "uri",
                    "locationName": "Name"
                },
                "GroupId": {
                    "shape": "AccessorId",
                    "location": "uri",
                    "locationName": "GroupId"
                }
            }
        },
        "DisassociateProjectGroupResponse": {
            "type": "structure",
            "members": {
                "ProjectGroupAssociation": {
                    "shape": "ProjectGroupAssociation"
                }
            }
        },
        "DisplayName": {
            "type": "string",
            "max": 60,
            "min": 1,
            "pattern": "[p{L}p{N}p{P}p{Zs}]{1,60}",
            "sensitive": true
        },
        "Email": {
            "type": "string",
            "max": 254,
            "min": 3,
            "pattern": "S+@S+.S+",
            "sensitive": true
        },
        "ErrorMessage": {
            "type": "string"
        },
        "GetProjectAdminUserRequest": {
            "type": "structure",
            "required": [
                "Name",
                "UserId"
            ],
            "members": {
                "Name": {
                    "shape": "Name",
                    "location": "uri",
                    "locationName": "Name"
                },
                "UserId": {
                    "shape": "UserId",
                    "location": "uri",
                    "locationName": "UserId"
                }
            }
        },
        "GetProjectAdminUserResponse": {
            "type": "structure",
            "members": {
                "AdminUser": {
                    "shape": "AdminUser"
                }
            }
        },
        "GetProjectRequest": {
            "type": "structure",
            "required": [
                "Name"
            ],
            "members": {
                "Name": {
                    "shape": "Name",
                    "location": "uri",
                    "locationName": "Name"
                }
            }
        },
        "GetProjectResponse": {
            "type": "structure",
            "members": {
                "Project": {
                    "shape": "Project"
                }
            }
        },
        "InternalServerException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "ErrorMessage"
                }
            },
            "error": {
                "httpStatusCode": 500
            },
            "exception": true
        },
        "KMSConfiguration": {
            "type": "structure",
            "members": {
                "KeySelection": {
                    "shape": "KMSKeySelection"
                },
                "KeyId": {
                    "shape": "KmsKeyId"
                }
            }
        },
        "KMSKeySelection": {
            "type": "string",
            "enum": [
                "AMAZON_OWNED",
                "CUSTOMER_OWNED"
            ]
        },
        "KinesisDataExportConfiguration": {
            "type": "structure",
            "members": {
                "StreamArn": {
                    "shape": "Arn"
                },
                "SchemaVersion": {
                    "shape": "Version"
                }
            }
        },
        "KmsKeyId": {
            "type": "string",
            "max": 2048,
            "min": 1,
            "pattern": "^.*$"
        },
        "ListProjectAdminUsersRequest": {
            "type": "structure",
            "required": [
                "Name"
            ],
            "members": {
                "Name": {
                    "shape": "Name",
                    "location": "uri",
                    "locationName": "Name"
                },
                "NextToken": {
                    "shape": "Token",
                    "location": "querystring",
                    "locationName": "NextToken"
                },
                "MaxResults": {
                    "shape": "MaxResultsRequestRange",
                    "location": "querystring",
                    "locationName": "MaxResults"
                }
            }
        },
        "ListProjectAdminUsersResponse": {
            "type": "structure",
            "members": {
                "AdminUsers": {
                    "shape": "AdminUsersList"
                },
                "NextToken": {
                    "shape": "Token"
                }
            }
        },
        "ListProjectsRequest": {
            "type": "structure",
            "members": {
                "MaxResults": {
                    "shape": "MaxResultsRequestRange",
                    "location": "querystring",
                    "locationName": "MaxResults"
                },
                "NextToken": {
                    "shape": "Token",
                    "location": "querystring",
                    "locationName": "NextToken"
                }
            }
        },
        "ListProjectsResponse": {
            "type": "structure",
            "members": {
                "Projects": {
                    "shape": "ProjectList"
                },
                "NextToken": {
                    "shape": "Token"
                }
            }
        },
        "ListTagsForResourceRequest": {
            "type": "structure",
            "required": [
                "ResourceArn"
            ],
            "members": {
                "ResourceArn": {
                    "shape": "ProjectArn",
                    "location": "uri",
                    "locationName": "ResourceArn"
                }
            }
        },
        "ListTagsForResourceResponse": {
            "type": "structure",
            "members": {
                "Tags": {
                    "shape": "TagMap"
                }
            }
        },
        "LockServiceLinkedRoleRequest": {
            "type": "structure",
            "required": [
                "RoleArn",
                "Timeout"
            ],
            "members": {
                "RoleArn": {
                    "shape": "arnType"
                },
                "Timeout": {
                    "shape": "longType"
                }
            }
        },
        "LockServiceLinkedRoleResponse": {
            "type": "structure",
            "required": [
                "CanBeDeleted"
            ],
            "members": {
                "CanBeDeleted": {
                    "shape": "booleanType"
                },
                "ReasonOfFailure": {
                    "shape": "stringType"
                },
                "RelatedResources": {
                    "shape": "stringListType"
                }
            }
        },
        "MaxResultsRequestRange": {
            "type": "integer",
            "max": 50,
            "min": 0
        },
        "Name": {
            "type": "string",
            "max": 60,
            "min": 1,
            "pattern": "[0-9a-z-_]{1,60}"
        },
        "Project": {
            "type": "structure",
            "required": [
                "Name",
                "DisplayName",
                "Type",
                "ProjectLink"
            ],
            "members": {
                "Name": {
                    "shape": "Name"
                },
                "DisplayName": {
                    "shape": "DisplayName"
                },
                "Type": {
                    "shape": "ProjectType"
                },
                "ProjectLink": {
                    "shape": "String"
                },
                "DataExportConfiguration": {
                    "shape": "DataExportConfiguration"
                },
                "KMSConfiguration": {
                    "shape": "KMSConfiguration"
                },
                "Tags": {
                    "shape": "TagMap"
                },
                "UserPoolId": {
                    "shape": "String"
                },
                "UserPoolSource": {
                    "shape": "UserPoolSource"
                }
            }
        },
        "ProjectArn": {
            "type": "string",
            "max": 1600,
            "min": 13,
            "pattern": "^arn:aws:(thor|monitron):[A-Za-z0-9_/.-]{0,63}:[0-9]{12}:project/[a-z0-9-_]{1,60}$"
        },
        "ProjectGroupAssociation": {
            "type": "structure",
            "members": {
                "ProjectName": {
                    "shape": "Name"
                },
                "GroupId": {
                    "shape": "AccessorId"
                }
            }
        },
        "ProjectList": {
            "type": "list",
            "member": {
                "shape": "Project"
            }
        },
        "ProjectType": {
            "type": "string",
            "enum": [
                "ENTERPRISE",
                "STANDARD"
            ]
        },
        "ProjectUserAssociation": {
            "type": "structure",
            "members": {
                "ProjectName": {
                    "shape": "Name"
                },
                "UserId": {
                    "shape": "UserId"
                },
                "RoleName": {
                    "shape": "Name"
                }
            }
        },
        "ResourceNotFoundException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "ErrorMessage"
                }
            },
            "error": {
                "httpStatusCode": 404
            },
            "exception": true
        },
        "String": {
            "type": "string"
        },
        "TagKey": {
            "type": "string",
            "max": 128,
            "min": 1,
            "pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$"
        },
        "TagKeyList": {
            "type": "list",
            "member": {
                "shape": "TagKey"
            },
            "max": 50,
            "min": 1
        },
        "TagMap": {
            "type": "map",
            "key": {
                "shape": "TagKey"
            },
            "value": {
                "shape": "TagValue"
            },
            "max": 50,
            "min": 1
        },
        "TagResourceRequest": {
            "type": "structure",
            "required": [
                "ResourceArn",
                "Tags"
            ],
            "members": {
                "ResourceArn": {
                    "shape": "ProjectArn",
                    "location": "uri",
                    "locationName": "ResourceArn"
                },
                "Tags": {
                    "shape": "TagMap"
                }
            }
        },
        "TagResourceResponse": {
            "type": "structure",
            "members": {}
        },
        "TagValue": {
            "type": "string",
            "max": 256,
            "pattern": ".{0,255}"
        },
        "Token": {
            "type": "string",
            "max": 512,
            "min": 4,
            "pattern": "[a-zA-Z0-9=/+_.-]{4,512}"
        },
        "UnlockServiceLinkedRoleRequest": {
            "type": "structure",
            "required": [
                "RoleArn"
            ],
            "members": {
                "RoleArn": {
                    "shape": "arnType"
                },
                "DeletionStatus": {
                    "shape": "deletionStatus"
                }
            }
        },
        "UnlockServiceLinkedRoleResponse": {
            "type": "structure",
            "members": {}
        },
        "UntagResourceRequest": {
            "type": "structure",
            "required": [
                "ResourceArn",
                "TagKeys"
            ],
            "members": {
                "ResourceArn": {
                    "shape": "ProjectArn",
                    "location": "uri",
                    "locationName": "ResourceArn"
                },
                "TagKeys": {
                    "shape": "TagKeyList",
                    "location": "querystring",
                    "locationName": "tagKeys"
                }
            }
        },
        "UntagResourceResponse": {
            "type": "structure",
            "members": {}
        },
        "UpdateProjectRequest": {
            "type": "structure",
            "required": [
                "Name"
            ],
            "members": {
                "Name": {
                    "shape": "Name",
                    "location": "uri",
                    "locationName": "Name"
                },
                "DisplayName": {
                    "shape": "DisplayName"
                },
                "Type": {
                    "shape": "ProjectType"
                },
                "DataExportConfiguration": {
                    "shape": "DataExportConfiguration"
                },
                "RecreateKMSGrant": {
                    "shape": "Boolean"
                }
            }
        },
        "UpdateProjectResponse": {
            "type": "structure",
            "members": {
                "Project": {
                    "shape": "Project"
                }
            }
        },
        "UpdateUserPoolSourceRequest": {
            "type": "structure",
            "required": [
                "Name",
                "UserPoolSource"
            ],
            "members": {
                "Name": {
                    "shape": "Name",
                    "location": "uri",
                    "locationName": "Name"
                },
                "UserPoolSource": {
                    "shape": "UserPoolSource",
                    "location": "uri",
                    "locationName": "UserPoolSource"
                }
            }
        },
        "UpdateUserPoolSourceResponse": {
            "type": "structure",
            "members": {
                "Project": {
                    "shape": "Project"
                }
            }
        },
        "UserId": {
            "type": "string",
            "max": 256,
            "min": 1,
            "pattern": "[&w+-.@]+"
        },
        "UserName": {
            "type": "string",
            "max": 128,
            "min": 1,
            "pattern": "[p{L}p{M}p{S}p{N}p{P}]{1,128}"
        },
        "UserPoolSource": {
            "type": "string",
            "enum": [
                "GROUPS",
                "DIRECTORY"
            ]
        },
        "ValidationException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "ErrorMessage"
                }
            },
            "error": {
                "httpStatusCode": 400
            },
            "exception": true
        },
        "Version": {
            "type": "string",
            "max": 3,
            "min": 3,
            "pattern": "[1-9][.][0-9]"
        },
        "arnType": {
            "type": "string",
            "max": 2048,
            "min": 20
        },
        "booleanType": {
            "type": "boolean"
        },
        "deletionStatus": {
            "type": "string",
            "enum": [
                "SUCCEEDED",
                "FAILED"
            ]
        },
        "longType": {
            "type": "long"
        },
        "stringListType": {
            "type": "list",
            "member": {
                "shape": "stringType"
            }
        },
        "stringType": {
            "type": "string"
        },
        "S5": {
            "type": "structure",
            "members": {
                "ProjectName": {},
                "UserId": {},
                "RoleName": {}
            }
        },
        "S9": {
            "type": "structure",
            "required": [
                "ProjectName",
                "GroupId"
            ],
            "members": {
                "ProjectName": {},
                "GroupId": {}
            }
        },
        "Sb": {
            "type": "string",
            "sensitive": true
        },
        "Sd": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sj": {
            "type": "structure",
            "required": [
                "Name",
                "DisplayName",
                "Type",
                "ProjectLink"
            ],
            "members": {
                "Name": {},
                "DisplayName": {
                    "shape": "Sb"
                },
                "Type": {},
                "ProjectLink": {},
                "DataExportConfiguration": {
                    "shape": "Sl"
                },
                "KMSConfiguration": {
                    "type": "structure",
                    "members": {
                        "KeySelection": {},
                        "KeyId": {}
                    }
                },
                "Tags": {
                    "shape": "Sd"
                },
                "UserPoolId": {},
                "UserPoolSource": {}
            }
        },
        "Sl": {
            "type": "structure",
            "members": {
                "KinesisDataExportConfiguration": {
                    "type": "structure",
                    "members": {
                        "StreamArn": {},
                        "SchemaVersion": {}
                    }
                }
            }
        },
        "S11": {
            "type": "structure",
            "required": [
                "Id",
                "Name",
                "DisplayName",
                "Email"
            ],
            "members": {
                "Id": {},
                "Name": {},
                "DisplayName": {
                    "shape": "Sb"
                },
                "Email": {
                    "type": "string",
                    "sensitive": true
                }
            },
            "sensitive": true
        },
        "Sp": {
            "type": "structure",
            "members": {
                "S3DataExportConfiguration": {
                    "type": "structure",
                    "members": {
                        "BucketName": {}
                    }
                }
            }
        },
        "S14": {
            "type": "structure",
            "required": [
                "Id",
                "Name",
                "DisplayName",
                "Email"
            ],
            "members": {
                "Id": {},
                "Name": {},
                "DisplayName": {
                    "shape": "Sb"
                },
                "Email": {
                    "type": "string",
                    "sensitive": true
                }
            },
            "sensitive": true
        },
        "Sm": {
            "type": "structure",
            "members": {
                "KinesisDataExportConfiguration": {
                    "type": "structure",
                    "members": {
                        "StreamArn": {},
                        "SchemaVersion": {}
                    }
                }
            }
        }
    }
}