{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-04-30",
        "endpointPrefix": "resiliencehub",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Digito Control Plane Service.",
        "serviceId": "resiliencehub",
        "signatureVersion": "v4",
        "signingName": "resiliencehub",
        "swagger": {
            "basePath": "/",
            "crossAccountAuth": true,
            "enableCORS": true,
            "executionRoleReferenceGenerator": "com.amazonaws.coral2swagger.generator.references.SingletonReferenceGenerator",
            "gatewayResponses": {
                "DEFAULT_4XX": {
                    "headers": {
                        "Access-Control-Allow-Headers": {
                            "type": "string"
                        },
                        "Access-Control-Allow-Methods": {
                            "type": "string"
                        },
                        "Access-Control-Allow-Origin": {
                            "type": "string"
                        }
                    },
                    "responseParameters": {
                        "gatewayresponse.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token,X-Amz-Content-Sha256,X-Amz-User-Agent'",
                        "gatewayresponse.header.Access-Control-Allow-Methods": "'GET'",
                        "gatewayresponse.header.Access-Control-Allow-Origin": "'*'"
                    }
                },
                "DEFAULT_5XX": {
                    "headers": {
                        "Access-Control-Allow-Headers": {
                            "type": "string"
                        },
                        "Access-Control-Allow-Methods": {
                            "type": "string"
                        },
                        "Access-Control-Allow-Origin": {
                            "type": "string"
                        }
                    },
                    "responseParameters": {
                        "gatewayresponse.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token,X-Amz-Content-Sha256,X-Amz-User-Agent'",
                        "gatewayresponse.header.Access-Control-Allow-Methods": "'GET'",
                        "gatewayresponse.header.Access-Control-Allow-Origin": "'*'"
                    }
                }
            },
            "lambdaReferenceGenerator": "com.amazonaws.coral2swagger.generator.references.SingletonReferenceGenerator"
        },
        "uid": "aws-digito-control-plane-service-2020-04-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7CA5KVXJXEIGHHVIH46HFO2E7BO6BEN2ZBV6Q6QYLG5MO7U4FDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
        ]
    },
    "operations": {
        "AddDraftAppVersionResourceMappings": {
            "http": {
                "requestUri": "/add-draft-app-version-resource-mappings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "resourceMappings"
                ],
                "members": {
                    "appArn": {},
                    "resourceMappings": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion",
                    "resourceMappings"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "resourceMappings": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "BatchUpdateRecommendationStatus": {
            "http": {
                "requestUri": "/batch-update-recommendation-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "requestEntries"
                ],
                "members": {
                    "appArn": {},
                    "requestEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "referenceId",
                                "item",
                                "excluded"
                            ],
                            "members": {
                                "entryId": {},
                                "referenceId": {},
                                "item": {
                                    "shape": "Si"
                                },
                                "excluded": {
                                    "type": "boolean"
                                },
                                "excludeReason": {
                                    "shape": "Sl"
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "successfulEntries",
                    "failedEntries"
                ],
                "members": {
                    "appArn": {},
                    "successfulEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "referenceId",
                                "item",
                                "excluded"
                            ],
                            "members": {
                                "entryId": {},
                                "referenceId": {},
                                "item": {
                                    "shape": "Si"
                                },
                                "excluded": {
                                    "type": "boolean"
                                },
                                "excludeReason": {
                                    "shape": "Sl"
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    },
                    "failedEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "entryId",
                                "errorMessage"
                            ],
                            "members": {
                                "entryId": {},
                                "errorMessage": {}
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "CreateApp": {
            "http": {
                "requestUri": "/create-app",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "policyArn": {},
                    "tags": {
                        "shape": "Su"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "assessmentSchedule": {},
                    "permissionModel": {
                        "shape": "Sz",
                        "internalonly": true
                    },
                    "eventSubscriptions": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "CreateAppVersionAppComponent": {
            "http": {
                "requestUri": "/create-app-version-app-component",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "name",
                    "type"
                ],
                "members": {
                    "appArn": {},
                    "id": {},
                    "name": {},
                    "type": {},
                    "additionalInfo": {
                        "shape": "S1b"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "appComponent": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "CreateAppVersionResource": {
            "http": {
                "requestUri": "/create-app-version-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "logicalResourceId",
                    "physicalResourceId",
                    "resourceType",
                    "appComponents"
                ],
                "members": {
                    "appArn": {},
                    "resourceName": {},
                    "logicalResourceId": {
                        "shape": "S1i"
                    },
                    "physicalResourceId": {},
                    "awsRegion": {},
                    "awsAccountId": {},
                    "resourceType": {},
                    "appComponents": {
                        "shape": "S1k"
                    },
                    "additionalInfo": {
                        "shape": "S1b"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "physicalResource": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "CreateRecommendationTemplate": {
            "http": {
                "requestUri": "/create-recommendation-template",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "assessmentArn",
                    "name"
                ],
                "members": {
                    "recommendationIds": {
                        "shape": "S1q"
                    },
                    "format": {},
                    "recommendationTypes": {
                        "shape": "S1t"
                    },
                    "assessmentArn": {},
                    "name": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Su"
                    },
                    "bucketName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendationTemplate": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "CreateResiliencyPolicy": {
            "http": {
                "requestUri": "/create-resiliency-policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policyName",
                    "tier",
                    "policy"
                ],
                "members": {
                    "policyName": {},
                    "policyDescription": {},
                    "dataLocationConstraint": {},
                    "tier": {},
                    "policy": {
                        "shape": "S22"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policy"
                ],
                "members": {
                    "policy": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DeleteApp": {
            "http": {
                "requestUri": "/delete-app",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn"
                ],
                "members": {
                    "appArn": {},
                    "forceDelete": {
                        "type": "boolean"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn"
                ],
                "members": {
                    "appArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DeleteAppAssessment": {
            "http": {
                "requestUri": "/delete-app-assessment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "assessmentArn"
                ],
                "members": {
                    "assessmentArn": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "assessmentArn",
                    "assessmentStatus"
                ],
                "members": {
                    "assessmentArn": {},
                    "assessmentStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DeleteAppInputSource": {
            "http": {
                "requestUri": "/delete-app-input-source",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn"
                ],
                "members": {
                    "appArn": {},
                    "sourceArn": {},
                    "terraformSource": {
                        "shape": "S2f"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "eksSourceClusterNamespace": {
                        "shape": "S2h"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "appArn": {},
                    "appInputSource": {
                        "shape": "S2k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DeleteAppVersionAppComponent": {
            "http": {
                "requestUri": "/delete-app-version-app-component",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "id"
                ],
                "members": {
                    "appArn": {},
                    "id": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "appComponent": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DeleteAppVersionResource": {
            "http": {
                "requestUri": "/delete-app-version-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn"
                ],
                "members": {
                    "appArn": {},
                    "resourceName": {},
                    "logicalResourceId": {
                        "shape": "S1i"
                    },
                    "physicalResourceId": {},
                    "awsRegion": {},
                    "awsAccountId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "physicalResource": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DeleteRecommendationTemplate": {
            "http": {
                "requestUri": "/delete-recommendation-template",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "recommendationTemplateArn"
                ],
                "members": {
                    "recommendationTemplateArn": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "recommendationTemplateArn",
                    "status"
                ],
                "members": {
                    "recommendationTemplateArn": {},
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DeleteResiliencyPolicy": {
            "http": {
                "requestUri": "/delete-resiliency-policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policyArn"
                ],
                "members": {
                    "policyArn": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policyArn"
                ],
                "members": {
                    "policyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DescribeApp": {
            "http": {
                "requestUri": "/describe-app",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn"
                ],
                "members": {
                    "appArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "app"
                ],
                "members": {
                    "app": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DescribeAppAssessment": {
            "http": {
                "requestUri": "/describe-app-assessment",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "assessmentArn"
                ],
                "members": {
                    "assessmentArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "assessment"
                ],
                "members": {
                    "assessment": {
                        "shape": "S2y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DescribeAppVersion": {
            "http": {
                "requestUri": "/describe-app-version",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "additionalInfo": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DescribeAppVersionAppComponent": {
            "http": {
                "requestUri": "/describe-app-version-app-component",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion",
                    "id"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "appComponent": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DescribeAppVersionResource": {
            "http": {
                "requestUri": "/describe-app-version-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "resourceName": {},
                    "logicalResourceId": {
                        "shape": "S1i"
                    },
                    "physicalResourceId": {},
                    "awsRegion": {},
                    "awsAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "physicalResource": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DescribeAppVersionResourcesResolutionStatus": {
            "http": {
                "requestUri": "/describe-app-version-resources-resolution-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "resolutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion",
                    "resolutionId",
                    "status"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "resolutionId": {},
                    "status": {},
                    "errorMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DescribeAppVersionTemplate": {
            "http": {
                "requestUri": "/describe-app-version-template",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion",
                    "appTemplateBody"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "appTemplateBody": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DescribeDraftAppVersionResourcesImportStatus": {
            "http": {
                "requestUri": "/describe-draft-app-version-resources-import-status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "appArn"
                ],
                "members": {
                    "appArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "appArn",
                    "appVersion",
                    "status",
                    "statusChangeTime"
                ],
                "members": {
                    "appArn": {},
                    "appVersion": {},
                    "status": {},
                    "statusChangeTime": {
                        "type": "timestamp"
                    },
                    "errorMessage": {},
                    "importProgressStatus": {
                        "internalonly": true,
                        "type": "string"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5DIT6J33OUYBS3DCX5EPYJXPI3K4ABCWQLQ2OVCL2KWDBKKKUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4CHSICQVG5HC2GRJF2QPE75ECJJ6KHQWFVFEW4JK742RBPFKYLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIEWIMMAZHRZNVJEQ2J6MQ5UIIAMPQE4PUWH2NM5M5JRZQN5I3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D23X62XGPVEUBLUIXUACWXTA2E42EDWN53FQTWJWX33BXLGXKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDBJHJK3MB24EVCXGETEBKNFSOLAIGRVRKIQRJJSVW4V2GVMU5QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDM53J7DR3NCTTTSRQP2S47MGIKTYM4YNGA3WVLL2C4X3BERLGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ47IPX47HV5WT5P7PCZ7LZVFYQFVRS4JOXRCJ3RBTLAPVE55P5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKBULYDUDSY4735D2SQDH77LENMBZBECD4EOSGHAGVDGIR7PQZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OO726CIMWN4W7IOM3KFZ4NFTNBXUNQTLEDOLA2MWNI3IBFW3QZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRMU6GG4MLNXHE6O6UWFZQRY57RQ5N4IGXZYSXL2PN3NEP7BXL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZSBVSCOEGP7EFJ3YGSTLEXKBF3UX4NGUT35PHJPI74HB6PWQ26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKX62DNYB5IHKPZNBCNDKK3RGYFA5U6Q4QDKKBNURNM77OCJRCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CB4FJQHBOFPSPNKLVQAEVL2IVBNEFFOQX5DWRSRPXLGDWVJUM2ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVGS5CZDMSR6G6UPPVJDLVVGGG2VB7277HTL4MT6BIMRJ3KCWG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SENA2ABU5PTDM5KKQ5AFXXGPY3GQJCG2UKGUXMGBMEP4NECVAKQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBPSAMYQ767NXZG5JPQWGGFOGC6F5VFXGFRWV3CICRT5GARFPOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6I3QHHDKHCY5W4IPSEOVYARDOP5ZEW64R3JFSX5EVUMWHQFQKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKQNGLWLLY6BJ3NAO3LUIINP2P4R26ZFYFIAQBXAEANMCEDPVBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js"
            ]
        },
        "DescribeResiliencyPolicy": {
            "http": {
                "requestUri": "/describe-resiliency-policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policyArn"
                ],
                "members": {
                    "policyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policy"
                ],
                "members": {
                    "policy": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/23DQEZRXZNYZLMI2KISCJLB4LM4OWMDQX64YLS5RSQHJZIJ2Z3LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQRVH5KHGSV42J7DD7VERRD4LNPPTEAMNVUSQY6ERN42XVNJWDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7MUTSKUQGLM7FDA7PLDRDFUTWTAFIY5EGGY5LIX5APC2HHZFX2Q/vendors.js",
[...]
