{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-10-07",
        "endpointPrefix": "aws751internal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Aws751",
        "signatureVersion": "v4",
        "targetPrefix": "Aws751WebServiceInternal",
        "uid": "aws751internal-2016-10-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/K2KQFFNHKMSHWC5KI52L7FV3BMLDFFRFZRXB65UJVTQOZFD4FQFA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
        ]
    },
    "operations": {
        "BatchGetWorkGroupCacheConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroupInfos"
                ],
                "members": {
                    "WorkGroupInfos": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkGroupCacheConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroupInfo": {
                                    "shape": "S3"
                                },
                                "SubqueryResultCacheEnabled": {
                                    "type": "boolean"
                                },
                                "ProvisionedStorageSizeInGigaBytes": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "UnprocessedWorkGroupInfos": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroupInfo": {
                                    "shape": "S3"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
            ]
        },
        "BatchPutInternalWorkGroupExecutionUnitQuota": {
            "input": {
                "type": "structure",
                "members": {
                    "WorkGroupExecutionUnitQuotas": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
            ]
        },
        "HandleAgentResponse": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionId",
                    "QueryStatusResponse"
                ],
                "members": {
                    "QueryExecutionId": {},
                    "QueryStatusResponse": {
                        "type": "blob"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
            ]
        },
        "ListInternalExecutionUnitQuotas": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "WorkGroupExecutionUnitQuotas": {
                        "shape": "Sg"
                    },
                    "AccountExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
            ]
        },
        "Ping": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
            ]
        },
        "UpdateQueryStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionId"
                ],
                "members": {
                    "QueryExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
            ]
        },
        "BatchGetWorkGroupConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroupList"
                ],
                "members": {
                    "WorkGroupList": {
                        "type": "list",
                        "member": {
                            "shape": "Sh"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkGroupConfigurationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroupInformation": {
                                    "shape": "Sh"
                                },
                                "WorkGroupId": {}
                            }
                        }
                    },
                    "UnprocessedWorkGroupList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroup": {
                                    "shape": "Sh"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "members": {
                "AccountId": {},
                "WorkGroupName": {}
            }
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "WorkGroup": {},
                    "ExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "AccountId",
                "WorkGroupName"
            ],
            "members": {
                "AccountId": {},
                "WorkGroupName": {}
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "WorkGroup": {},
                    "ExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            }
        },
        "St": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "WorkGroup": {},
                    "ExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            }
        }
    }
}