{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-10-07",
        "endpointPrefix": "aws751internal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Aws751",
        "signatureVersion": "v4",
        "targetPrefix": "Aws751WebServiceInternal",
        "uid": "aws751internal-2016-10-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
        ]
    },
    "operations": {
        "BatchGetWorkGroupCacheConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroupInfos"
                ],
                "members": {
                    "WorkGroupInfos": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkGroupCacheConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroupInfo": {
                                    "shape": "S3"
                                },
                                "SubqueryResultCacheEnabled": {
                                    "type": "boolean"
                                },
                                "ProvisionedStorageSizeInGigaBytes": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "UnprocessedWorkGroupInfos": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroupInfo": {
                                    "shape": "S3"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "BatchPutInternalWorkGroupExecutionUnitQuota": {
            "input": {
                "type": "structure",
                "members": {
                    "WorkGroupExecutionUnitQuotas": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "HandleAgentResponse": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionId",
                    "QueryStatusResponse"
                ],
                "members": {
                    "QueryExecutionId": {},
                    "QueryStatusResponse": {
                        "type": "blob"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "ListInternalExecutionUnitQuotas": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "WorkGroupExecutionUnitQuotas": {
                        "shape": "Sg"
                    },
                    "AccountExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "Ping": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "UpdateQueryStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionId"
                ],
                "members": {
                    "QueryExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "BatchGetWorkGroupConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroupList"
                ],
                "members": {
                    "WorkGroupList": {
                        "type": "list",
                        "member": {
                            "shape": "Sh"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkGroupConfigurationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroupInformation": {
                                    "shape": "Sh"
                                },
                                "WorkGroupId": {}
                            }
                        }
                    },
                    "UnprocessedWorkGroupList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroup": {
                                    "shape": "Sh"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "members": {
                "AccountId": {},
                "WorkGroupName": {}
            }
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "WorkGroup": {},
                    "ExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "AccountId",
                "WorkGroupName"
            ],
            "members": {
                "AccountId": {},
                "WorkGroupName": {}
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "WorkGroup": {},
                    "ExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            }
        },
        "St": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "WorkGroup": {},
                    "ExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            }
        }
    }
}