{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-10-07",
        "endpointPrefix": "aws751internal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Aws751",
        "signatureVersion": "v4",
        "targetPrefix": "Aws751WebServiceInternal",
        "uid": "aws751internal-2016-10-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VCARGWB6KKF5IKVW5V75FKGE6IFCA2SJWU7SMD5UQO2V3JLYCT6Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/56RHHZNZGVTFD7T4USSOS6EHHFVCN3EJV4MGEWXVVMA5U6TBT5CQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVTFUSLGAYV4HLB45N2WEQSUUJPKD2WC2JPAVZE756W3TA4DI3IA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TOSBTY2UJISAB5EJKQPRIYPMHHOZFMJPDH6N4PCIMKF7WLKIAFOA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HRQHIGYA3JSAK5DEVHIUHGDY6DJIATSG7OVC7AG2TSU4XVVHXEA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I4PNKHLLQINLO3ZEHFWIEUD6I7SOOYX65WNUPZA5ZYXQO5JGJMNQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HSEBEAEFWFYIQZCBIPN3OVSQ67MIGA6LMBUNDNO4DBRMTZEXL4JQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKZII7TJ7D3BSGD3OX2L65TQKNOXGASLWPYLSHYHAV4QMHT2TM6Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNHEDAOIJDIAOXSCS33VQ472VNL5XM4OH47PH2I3NDAY5XVAGHNA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OK3PBFD75E7BJ2P7TKDMOE4VSD7UFC3XSUM7T2EW2FDTYURES2WA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VUW7XOJX4HGEXNWF7EDM6X3OLF65MINIOKPYJ44OILFOCZEJ5VQA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILZP43YLHXDMGN2BDRX5ITXREAIZO5DPBWSMERXXRFPUR3UQZVIA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ASBAQRF5HJUEQKWWPPDJWCR6BCT2NCHNJ7XQOPAUVSILDMYGUXXQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFT44VBNAF4TPX6V6N4OCYZ2VTEX7SGBGR3SSE4ZPGLB7RS7SXWQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js"
        ]
    },
    "operations": {
        "BatchGetWorkGroupCacheConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroupInfos"
                ],
                "members": {
                    "WorkGroupInfos": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkGroupCacheConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroupInfo": {
                                    "shape": "S3"
                                },
                                "SubqueryResultCacheEnabled": {
                                    "type": "boolean"
                                },
                                "ProvisionedStorageSizeInGigaBytes": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "UnprocessedWorkGroupInfos": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroupInfo": {
                                    "shape": "S3"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCARGWB6KKF5IKVW5V75FKGE6IFCA2SJWU7SMD5UQO2V3JLYCT6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RHHZNZGVTFD7T4USSOS6EHHFVCN3EJV4MGEWXVVMA5U6TBT5CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTFUSLGAYV4HLB45N2WEQSUUJPKD2WC2JPAVZE756W3TA4DI3IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOSBTY2UJISAB5EJKQPRIYPMHHOZFMJPDH6N4PCIMKF7WLKIAFOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HRQHIGYA3JSAK5DEVHIUHGDY6DJIATSG7OVC7AG2TSU4XVVHXEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4PNKHLLQINLO3ZEHFWIEUD6I7SOOYX65WNUPZA5ZYXQO5JGJMNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSEBEAEFWFYIQZCBIPN3OVSQ67MIGA6LMBUNDNO4DBRMTZEXL4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZII7TJ7D3BSGD3OX2L65TQKNOXGASLWPYLSHYHAV4QMHT2TM6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNHEDAOIJDIAOXSCS33VQ472VNL5XM4OH47PH2I3NDAY5XVAGHNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OK3PBFD75E7BJ2P7TKDMOE4VSD7UFC3XSUM7T2EW2FDTYURES2WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUW7XOJX4HGEXNWF7EDM6X3OLF65MINIOKPYJ44OILFOCZEJ5VQA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZP43YLHXDMGN2BDRX5ITXREAIZO5DPBWSMERXXRFPUR3UQZVIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBAQRF5HJUEQKWWPPDJWCR6BCT2NCHNJ7XQOPAUVSILDMYGUXXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFT44VBNAF4TPX6V6N4OCYZ2VTEX7SGBGR3SSE4ZPGLB7RS7SXWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js"
            ]
        },
        "BatchPutInternalWorkGroupExecutionUnitQuota": {
            "input": {
                "type": "structure",
                "members": {
                    "WorkGroupExecutionUnitQuotas": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCARGWB6KKF5IKVW5V75FKGE6IFCA2SJWU7SMD5UQO2V3JLYCT6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RHHZNZGVTFD7T4USSOS6EHHFVCN3EJV4MGEWXVVMA5U6TBT5CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTFUSLGAYV4HLB45N2WEQSUUJPKD2WC2JPAVZE756W3TA4DI3IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOSBTY2UJISAB5EJKQPRIYPMHHOZFMJPDH6N4PCIMKF7WLKIAFOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HRQHIGYA3JSAK5DEVHIUHGDY6DJIATSG7OVC7AG2TSU4XVVHXEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4PNKHLLQINLO3ZEHFWIEUD6I7SOOYX65WNUPZA5ZYXQO5JGJMNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSEBEAEFWFYIQZCBIPN3OVSQ67MIGA6LMBUNDNO4DBRMTZEXL4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZII7TJ7D3BSGD3OX2L65TQKNOXGASLWPYLSHYHAV4QMHT2TM6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNHEDAOIJDIAOXSCS33VQ472VNL5XM4OH47PH2I3NDAY5XVAGHNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OK3PBFD75E7BJ2P7TKDMOE4VSD7UFC3XSUM7T2EW2FDTYURES2WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUW7XOJX4HGEXNWF7EDM6X3OLF65MINIOKPYJ44OILFOCZEJ5VQA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZP43YLHXDMGN2BDRX5ITXREAIZO5DPBWSMERXXRFPUR3UQZVIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBAQRF5HJUEQKWWPPDJWCR6BCT2NCHNJ7XQOPAUVSILDMYGUXXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFT44VBNAF4TPX6V6N4OCYZ2VTEX7SGBGR3SSE4ZPGLB7RS7SXWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js"
            ]
        },
        "HandleAgentResponse": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionId",
                    "QueryStatusResponse"
                ],
                "members": {
                    "QueryExecutionId": {},
                    "QueryStatusResponse": {
                        "type": "blob"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCARGWB6KKF5IKVW5V75FKGE6IFCA2SJWU7SMD5UQO2V3JLYCT6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RHHZNZGVTFD7T4USSOS6EHHFVCN3EJV4MGEWXVVMA5U6TBT5CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTFUSLGAYV4HLB45N2WEQSUUJPKD2WC2JPAVZE756W3TA4DI3IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOSBTY2UJISAB5EJKQPRIYPMHHOZFMJPDH6N4PCIMKF7WLKIAFOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HRQHIGYA3JSAK5DEVHIUHGDY6DJIATSG7OVC7AG2TSU4XVVHXEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4PNKHLLQINLO3ZEHFWIEUD6I7SOOYX65WNUPZA5ZYXQO5JGJMNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSEBEAEFWFYIQZCBIPN3OVSQ67MIGA6LMBUNDNO4DBRMTZEXL4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZII7TJ7D3BSGD3OX2L65TQKNOXGASLWPYLSHYHAV4QMHT2TM6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNHEDAOIJDIAOXSCS33VQ472VNL5XM4OH47PH2I3NDAY5XVAGHNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OK3PBFD75E7BJ2P7TKDMOE4VSD7UFC3XSUM7T2EW2FDTYURES2WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUW7XOJX4HGEXNWF7EDM6X3OLF65MINIOKPYJ44OILFOCZEJ5VQA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZP43YLHXDMGN2BDRX5ITXREAIZO5DPBWSMERXXRFPUR3UQZVIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBAQRF5HJUEQKWWPPDJWCR6BCT2NCHNJ7XQOPAUVSILDMYGUXXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFT44VBNAF4TPX6V6N4OCYZ2VTEX7SGBGR3SSE4ZPGLB7RS7SXWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js"
            ]
        },
        "ListInternalExecutionUnitQuotas": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "WorkGroupExecutionUnitQuotas": {
                        "shape": "Sg"
                    },
                    "AccountExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCARGWB6KKF5IKVW5V75FKGE6IFCA2SJWU7SMD5UQO2V3JLYCT6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RHHZNZGVTFD7T4USSOS6EHHFVCN3EJV4MGEWXVVMA5U6TBT5CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTFUSLGAYV4HLB45N2WEQSUUJPKD2WC2JPAVZE756W3TA4DI3IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOSBTY2UJISAB5EJKQPRIYPMHHOZFMJPDH6N4PCIMKF7WLKIAFOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HRQHIGYA3JSAK5DEVHIUHGDY6DJIATSG7OVC7AG2TSU4XVVHXEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4PNKHLLQINLO3ZEHFWIEUD6I7SOOYX65WNUPZA5ZYXQO5JGJMNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSEBEAEFWFYIQZCBIPN3OVSQ67MIGA6LMBUNDNO4DBRMTZEXL4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZII7TJ7D3BSGD3OX2L65TQKNOXGASLWPYLSHYHAV4QMHT2TM6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNHEDAOIJDIAOXSCS33VQ472VNL5XM4OH47PH2I3NDAY5XVAGHNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OK3PBFD75E7BJ2P7TKDMOE4VSD7UFC3XSUM7T2EW2FDTYURES2WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUW7XOJX4HGEXNWF7EDM6X3OLF65MINIOKPYJ44OILFOCZEJ5VQA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZP43YLHXDMGN2BDRX5ITXREAIZO5DPBWSMERXXRFPUR3UQZVIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBAQRF5HJUEQKWWPPDJWCR6BCT2NCHNJ7XQOPAUVSILDMYGUXXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFT44VBNAF4TPX6V6N4OCYZ2VTEX7SGBGR3SSE4ZPGLB7RS7SXWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js"
            ]
        },
        "Ping": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCARGWB6KKF5IKVW5V75FKGE6IFCA2SJWU7SMD5UQO2V3JLYCT6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RHHZNZGVTFD7T4USSOS6EHHFVCN3EJV4MGEWXVVMA5U6TBT5CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTFUSLGAYV4HLB45N2WEQSUUJPKD2WC2JPAVZE756W3TA4DI3IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOSBTY2UJISAB5EJKQPRIYPMHHOZFMJPDH6N4PCIMKF7WLKIAFOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HRQHIGYA3JSAK5DEVHIUHGDY6DJIATSG7OVC7AG2TSU4XVVHXEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4PNKHLLQINLO3ZEHFWIEUD6I7SOOYX65WNUPZA5ZYXQO5JGJMNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSEBEAEFWFYIQZCBIPN3OVSQ67MIGA6LMBUNDNO4DBRMTZEXL4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZII7TJ7D3BSGD3OX2L65TQKNOXGASLWPYLSHYHAV4QMHT2TM6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNHEDAOIJDIAOXSCS33VQ472VNL5XM4OH47PH2I3NDAY5XVAGHNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OK3PBFD75E7BJ2P7TKDMOE4VSD7UFC3XSUM7T2EW2FDTYURES2WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUW7XOJX4HGEXNWF7EDM6X3OLF65MINIOKPYJ44OILFOCZEJ5VQA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZP43YLHXDMGN2BDRX5ITXREAIZO5DPBWSMERXXRFPUR3UQZVIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBAQRF5HJUEQKWWPPDJWCR6BCT2NCHNJ7XQOPAUVSILDMYGUXXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFT44VBNAF4TPX6V6N4OCYZ2VTEX7SGBGR3SSE4ZPGLB7RS7SXWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js"
            ]
        },
        "UpdateQueryStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionId"
                ],
                "members": {
                    "QueryExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCARGWB6KKF5IKVW5V75FKGE6IFCA2SJWU7SMD5UQO2V3JLYCT6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RHHZNZGVTFD7T4USSOS6EHHFVCN3EJV4MGEWXVVMA5U6TBT5CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTFUSLGAYV4HLB45N2WEQSUUJPKD2WC2JPAVZE756W3TA4DI3IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOSBTY2UJISAB5EJKQPRIYPMHHOZFMJPDH6N4PCIMKF7WLKIAFOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HRQHIGYA3JSAK5DEVHIUHGDY6DJIATSG7OVC7AG2TSU4XVVHXEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4PNKHLLQINLO3ZEHFWIEUD6I7SOOYX65WNUPZA5ZYXQO5JGJMNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSEBEAEFWFYIQZCBIPN3OVSQ67MIGA6LMBUNDNO4DBRMTZEXL4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZII7TJ7D3BSGD3OX2L65TQKNOXGASLWPYLSHYHAV4QMHT2TM6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNHEDAOIJDIAOXSCS33VQ472VNL5XM4OH47PH2I3NDAY5XVAGHNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OK3PBFD75E7BJ2P7TKDMOE4VSD7UFC3XSUM7T2EW2FDTYURES2WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUW7XOJX4HGEXNWF7EDM6X3OLF65MINIOKPYJ44OILFOCZEJ5VQA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZP43YLHXDMGN2BDRX5ITXREAIZO5DPBWSMERXXRFPUR3UQZVIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBAQRF5HJUEQKWWPPDJWCR6BCT2NCHNJ7XQOPAUVSILDMYGUXXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFT44VBNAF4TPX6V6N4OCYZ2VTEX7SGBGR3SSE4ZPGLB7RS7SXWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCARGWB6KKF5IKVW5V75FKGE6IFCA2SJWU7SMD5UQO2V3JLYCT6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RHHZNZGVTFD7T4USSOS6EHHFVCN3EJV4MGEWXVVMA5U6TBT5CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTFUSLGAYV4HLB45N2WEQSUUJPKD2WC2JPAVZE756W3TA4DI3IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOSBTY2UJISAB5EJKQPRIYPMHHOZFMJPDH6N4PCIMKF7WLKIAFOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HRQHIGYA3JSAK5DEVHIUHGDY6DJIATSG7OVC7AG2TSU4XVVHXEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4PNKHLLQINLO3ZEHFWIEUD6I7SOOYX65WNUPZA5ZYXQO5JGJMNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSEBEAEFWFYIQZCBIPN3OVSQ67MIGA6LMBUNDNO4DBRMTZEXL4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZII7TJ7D3BSGD3OX2L65TQKNOXGASLWPYLSHYHAV4QMHT2TM6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNHEDAOIJDIAOXSCS33VQ472VNL5XM4OH47PH2I3NDAY5XVAGHNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OK3PBFD75E7BJ2P7TKDMOE4VSD7UFC3XSUM7T2EW2FDTYURES2WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUW7XOJX4HGEXNWF7EDM6X3OLF65MINIOKPYJ44OILFOCZEJ5VQA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZP43YLHXDMGN2BDRX5ITXREAIZO5DPBWSMERXXRFPUR3UQZVIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBAQRF5HJUEQKWWPPDJWCR6BCT2NCHNJ7XQOPAUVSILDMYGUXXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFT44VBNAF4TPX6V6N4OCYZ2VTEX7SGBGR3SSE4ZPGLB7RS7SXWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js"
            ]
        },
        "BatchGetWorkGroupConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroupList"
                ],
                "members": {
                    "WorkGroupList": {
                        "type": "list",
                        "member": {
                            "shape": "Sh"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkGroupConfigurationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroupInformation": {
                                    "shape": "Sh"
                                },
                                "WorkGroupId": {}
                            }
                        }
                    },
                    "UnprocessedWorkGroupList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroup": {
                                    "shape": "Sh"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCARGWB6KKF5IKVW5V75FKGE6IFCA2SJWU7SMD5UQO2V3JLYCT6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56RHHZNZGVTFD7T4USSOS6EHHFVCN3EJV4MGEWXVVMA5U6TBT5CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVTFUSLGAYV4HLB45N2WEQSUUJPKD2WC2JPAVZE756W3TA4DI3IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOSBTY2UJISAB5EJKQPRIYPMHHOZFMJPDH6N4PCIMKF7WLKIAFOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HRQHIGYA3JSAK5DEVHIUHGDY6DJIATSG7OVC7AG2TSU4XVVHXEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4PNKHLLQINLO3ZEHFWIEUD6I7SOOYX65WNUPZA5ZYXQO5JGJMNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSEBEAEFWFYIQZCBIPN3OVSQ67MIGA6LMBUNDNO4DBRMTZEXL4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZII7TJ7D3BSGD3OX2L65TQKNOXGASLWPYLSHYHAV4QMHT2TM6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNHEDAOIJDIAOXSCS33VQ472VNL5XM4OH47PH2I3NDAY5XVAGHNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OK3PBFD75E7BJ2P7TKDMOE4VSD7UFC3XSUM7T2EW2FDTYURES2WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUW7XOJX4HGEXNWF7EDM6X3OLF65MINIOKPYJ44OILFOCZEJ5VQA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZP43YLHXDMGN2BDRX5ITXREAIZO5DPBWSMERXXRFPUR3UQZVIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASBAQRF5HJUEQKWWPPDJWCR6BCT2NCHNJ7XQOPAUVSILDMYGUXXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFT44VBNAF4TPX6V6N4OCYZ2VTEX7SGBGR3SSE4ZPGLB7RS7SXWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "members": {
                "AccountId": {},
                "WorkGroupName": {}
            }
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "WorkGroup": {},
                    "ExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "AccountId",
                "WorkGroupName"
            ],
            "members": {
                "AccountId": {},
                "WorkGroupName": {}
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "WorkGroup": {},
                    "ExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            }
        },
        "St": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "WorkGroup": {},
                    "ExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            }
        }
    }
}