{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-10-07",
        "endpointPrefix": "aws751internal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Aws751",
        "signatureVersion": "v4",
        "targetPrefix": "Aws751WebServiceInternal",
        "uid": "aws751internal-2016-10-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/D364OLMQ6SH44A7WPTCLPG5TBOQHFRXIA4VGURPMH56MZMJECZSA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
        ]
    },
    "operations": {
        "BatchGetWorkGroupCacheConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroupInfos"
                ],
                "members": {
                    "WorkGroupInfos": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkGroupCacheConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroupInfo": {
                                    "shape": "S3"
                                },
                                "SubqueryResultCacheEnabled": {
                                    "type": "boolean"
                                },
                                "ProvisionedStorageSizeInGigaBytes": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "UnprocessedWorkGroupInfos": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroupInfo": {
                                    "shape": "S3"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "BatchPutInternalWorkGroupExecutionUnitQuota": {
            "input": {
                "type": "structure",
                "members": {
                    "WorkGroupExecutionUnitQuotas": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "HandleAgentResponse": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionId",
                    "QueryStatusResponse"
                ],
                "members": {
                    "QueryExecutionId": {},
                    "QueryStatusResponse": {
                        "type": "blob"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "ListInternalExecutionUnitQuotas": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "WorkGroupExecutionUnitQuotas": {
                        "shape": "Sg"
                    },
                    "AccountExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "Ping": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "UpdateQueryStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionId"
                ],
                "members": {
                    "QueryExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "BatchGetWorkGroupConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroupList"
                ],
                "members": {
                    "WorkGroupList": {
                        "type": "list",
                        "member": {
                            "shape": "Sh"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkGroupConfigurationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroupInformation": {
                                    "shape": "Sh"
                                },
                                "WorkGroupId": {}
                            }
                        }
                    },
                    "UnprocessedWorkGroupList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroup": {
                                    "shape": "Sh"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "members": {
                "AccountId": {},
                "WorkGroupName": {}
            }
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "WorkGroup": {},
                    "ExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "AccountId",
                "WorkGroupName"
            ],
            "members": {
                "AccountId": {},
                "WorkGroupName": {}
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "WorkGroup": {},
                    "ExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            }
        }
    }
}