{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-10-07",
        "endpointPrefix": "aws751internal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Aws751",
        "signatureVersion": "v4",
        "targetPrefix": "Aws751WebServiceInternal",
        "uid": "aws751internal-2016-10-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
        ]
    },
    "operations": {
        "BatchGetWorkGroupCacheConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroupInfos"
                ],
                "members": {
                    "WorkGroupInfos": {
                        "type": "list",
                        "member": {
                            "shape": "S3"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkGroupCacheConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroupInfo": {
                                    "shape": "S3"
                                },
                                "SubqueryResultCacheEnabled": {
                                    "type": "boolean"
                                },
                                "ProvisionedStorageSizeInGigaBytes": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "UnprocessedWorkGroupInfos": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroupInfo": {
                                    "shape": "S3"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "BatchPutInternalWorkGroupExecutionUnitQuota": {
            "input": {
                "type": "structure",
                "members": {
                    "WorkGroupExecutionUnitQuotas": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "HandleAgentResponse": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionId",
                    "QueryStatusResponse"
                ],
                "members": {
                    "QueryExecutionId": {},
                    "QueryStatusResponse": {
                        "type": "blob"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "ListInternalExecutionUnitQuotas": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "WorkGroupExecutionUnitQuotas": {
                        "shape": "Sg"
                    },
                    "AccountExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "Ping": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "UpdateQueryStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryExecutionId"
                ],
                "members": {
                    "QueryExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "BatchGetWorkGroupConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkGroupList"
                ],
                "members": {
                    "WorkGroupList": {
                        "type": "list",
                        "member": {
                            "shape": "Sh"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkGroupConfigurationList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroupInformation": {
                                    "shape": "Sh"
                                },
                                "WorkGroupId": {}
                            }
                        }
                    },
                    "UnprocessedWorkGroupList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "WorkGroup": {
                                    "shape": "Sh"
                                },
                                "ErrorCode": {},
                                "ErrorMessage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "members": {
                "AccountId": {},
                "WorkGroupName": {}
            }
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "WorkGroup": {},
                    "ExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "AccountId",
                "WorkGroupName"
            ],
            "members": {
                "AccountId": {},
                "WorkGroupName": {}
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "WorkGroup": {},
                    "ExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            }
        },
        "St": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "WorkGroup": {},
                    "ExecutionUnitQuota": {
                        "type": "integer"
                    }
                }
            }
        }
    }
}