{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-09-10",
        "endpointPrefix": "application-cost-profiler",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Application Cost Profiler",
        "serviceId": "ApplicationCostProfiler",
        "signatureVersion": "v4",
        "signingName": "application-cost-profiler",
        "uid": "AWSApplicationCostProfiler-2020-09-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ARJS5BJDJE2B3DUGWGFEEL3ZX4Q3AKEIBQ7LD5N6K7EZBVJRWYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R65TZERVEX4GI6MOW4RFTWT7WAFVDR2VB5H32AP6UZFS6LOKYNAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "DeleteReportDefinition": {
            "http": {
                "method": "DELETE",
                "requestUri": "/reportDefinition/{reportId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "reportId"
                ],
                "members": {
                    "reportId": {
                        "location": "uri",
                        "locationName": "reportId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "reportId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65TZERVEX4GI6MOW4RFTWT7WAFVDR2VB5H32AP6UZFS6LOKYNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "GetReportDefinition": {
            "http": {
                "method": "GET",
                "requestUri": "/reportDefinition/{reportId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "reportId"
                ],
                "members": {
                    "reportId": {
                        "location": "uri",
                        "locationName": "reportId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "reportId",
                    "reportDescription",
                    "reportFrequency",
                    "format",
                    "destinationS3Location",
                    "createdAt",
                    "lastUpdated"
                ],
                "members": {
                    "reportId": {},
                    "reportDescription": {},
                    "reportFrequency": {},
                    "format": {},
                    "destinationS3Location": {
                        "shape": "S9"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "lastUpdated": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65TZERVEX4GI6MOW4RFTWT7WAFVDR2VB5H32AP6UZFS6LOKYNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ImportApplicationUsage": {
            "http": {
                "requestUri": "/importApplicationUsage"
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceS3Location"
                ],
                "members": {
                    "sourceS3Location": {
                        "type": "structure",
                        "required": [
                            "bucket",
                            "key"
                        ],
                        "members": {
                            "bucket": {},
                            "key": {},
                            "region": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "importId"
                ],
                "members": {
                    "importId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65TZERVEX4GI6MOW4RFTWT7WAFVDR2VB5H32AP6UZFS6LOKYNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ListReportDefinitions": {
            "http": {
                "method": "GET",
                "requestUri": "/reportDefinition"
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "reportDefinitions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "reportId": {},
                                "reportDescription": {},
                                "reportFrequency": {},
                                "format": {},
                                "destinationS3Location": {
                                    "shape": "S9"
                                },
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65TZERVEX4GI6MOW4RFTWT7WAFVDR2VB5H32AP6UZFS6LOKYNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "PutReportDefinition": {
            "http": {
                "requestUri": "/reportDefinition"
            },
            "input": {
                "type": "structure",
                "required": [
                    "reportId",
                    "reportDescription",
                    "reportFrequency",
                    "format",
                    "destinationS3Location"
                ],
                "members": {
                    "reportId": {},
                    "reportDescription": {},
                    "reportFrequency": {},
                    "format": {},
                    "destinationS3Location": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "reportId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65TZERVEX4GI6MOW4RFTWT7WAFVDR2VB5H32AP6UZFS6LOKYNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "UpdateReportDefinition": {
            "http": {
                "method": "PUT",
                "requestUri": "/reportDefinition/{reportId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "reportId",
                    "reportDescription",
                    "reportFrequency",
                    "format",
                    "destinationS3Location"
                ],
                "members": {
                    "reportId": {
                        "location": "uri",
                        "locationName": "reportId"
                    },
                    "reportDescription": {},
                    "reportFrequency": {},
                    "format": {},
                    "destinationS3Location": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "reportId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R65TZERVEX4GI6MOW4RFTWT7WAFVDR2VB5H32AP6UZFS6LOKYNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLGNHEFUQOQFSXVMFCDA5XNIULLM6RMYAB7PHH74VMF5WQY42O3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEFKHYU5RJUZAPXAVQT2YE4ILWF5UBLGTCC3LV5NT64TVANUVKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S9": {
            "type": "structure",
            "required": [
                "bucket",
                "prefix"
            ],
            "members": {
                "bucket": {},
                "prefix": {}
            }
        }
    }
}