{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-09-09",
        "endpointPrefix": "awsconsolecontrolservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWSConsoleControlService",
        "serviceId": "awsconsolecontrol",
        "signatureVersion": "v4",
        "signingName": "console-control",
        "uid": "awsconsolecontrol-2020-09-09",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
        ]
    },
    "operations": {
        "BatchDeleteSetting": {
            "name": "BatchDeleteSetting",
            "http": {
                "method": "POST",
                "requestUri": "/BatchDeleteSetting",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchDeleteSettingInput"
            },
            "output": {
                "shape": "BatchDeleteSettingOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "BatchGetSetting": {
            "name": "BatchGetSetting",
            "http": {
                "method": "POST",
                "requestUri": "/BatchGetSetting",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchGetSettingInput"
            },
            "output": {
                "shape": "BatchGetSettingOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "BatchUpdateSetting": {
            "name": "BatchUpdateSetting",
            "http": {
                "method": "POST",
                "requestUri": "/BatchUpdateSetting",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchUpdateSettingInput"
            },
            "output": {
                "shape": "BatchUpdateSettingOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "CreateSettingDefinition": {
            "name": "CreateSettingDefinition",
            "http": {
                "method": "POST",
                "requestUri": "/CreateSettingDefinition",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateSettingDefinitionInput"
            },
            "output": {
                "shape": "CreateSettingDefinitionOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "CreateSettingGroup": {
            "name": "CreateSettingGroup",
            "http": {
                "method": "POST",
                "requestUri": "/CreateSettingGroup",
                "responseCode": 200
            },
            "input": {
                "shape": "CreateSettingGroupInput"
            },
            "output": {
                "shape": "CreateSettingGroupOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "DeleteCallerDashboard": {
            "name": "DeleteCallerDashboard",
            "http": {
                "method": "POST",
                "requestUri": "/DeleteCallerDashboard",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteCallerDashboardInput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "DeleteSettingDefinition": {
            "name": "DeleteSettingDefinition",
            "http": {
                "method": "POST",
                "requestUri": "/DeleteSettingDefinition",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteSettingDefinitionInput"
            },
            "output": {
                "shape": "DeleteSettingDefinitionOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "DeleteSettingGroup": {
            "name": "DeleteSettingGroup",
            "http": {
                "method": "POST",
                "requestUri": "/DeleteSettingGroup",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteSettingGroupInput"
            },
            "output": {
                "shape": "DeleteSettingGroupOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "DiscoverEndpoint": {
            "name": "DiscoverEndpoint",
            "http": {
                "method": "GET",
                "requestUri": "/DiscoverEndpoint",
                "responseCode": 200
            },
            "input": {
                "shape": "DiscoverEndpointInput"
            },
            "output": {
                "shape": "DiscoverEndpointOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "GetCallerDashboard": {
            "name": "GetCallerDashboard",
            "http": {
                "method": "POST",
                "requestUri": "/GetCallerDashboard",
                "responseCode": 200
            },
            "input": {
                "shape": "GetCallerDashboardInput"
            },
            "output": {
                "shape": "GetCallerDashboardOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "GetCallerSettings": {
            "name": "GetCallerSettings",
            "http": {
                "method": "POST",
                "requestUri": "/GetCallerSettings",
                "responseCode": 200
            },
            "input": {
                "shape": "GetCallerSettingsInput"
            },
            "output": {
                "shape": "GetCallerSettingsOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "GetCommandCenterSettings": {
            "name": "GetCommandCenterSettings",
            "http": {
                "method": "POST",
                "requestUri": "/GetCommandCenterSettings",
                "responseCode": 200
            },
            "input": {
                "shape": "GetCommandCenterSettingsInput"
            },
            "output": {
                "shape": "GetCommandCenterSettingsOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN6R2F3BPMSX426S5DNP6UXCG5LZGYWGUJ4QNZIA6E3M5PE6XNDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNVDMMCJ67JQ7H75PIM6D3H3MDBZSSAQRP7NHHWMHEQV4XHNPDPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE2QQONKPOR6LWXGSJWMVP5L4XPMYB7QIKOKPS3VPVMMYUEEXC6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNJEITVIH6XXKPDOT5IGD5G6PMRRPL3ODDM7DGQNI7Y3AJ6MH76Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2YNAQ7WG6LRRSAOZDQVFVKSJRHU2FQFRUAD2KZV3I7FO7OBLKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHLPW6WENMFTJX7K5QKCERKQ3TIQHMIS5OWCFNWPXUWPCZLY352A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZRUWRN65MQWR3DLZOXGHI5UXTNNVSIZD4CNIWTILNUNMEC6M44Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FEBCZSRCQW7U66BPCSRFEVMNOFSY5QG3DMR73P7WXD2AEKP3OMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZJ4NXTE32L63WVSG4KGHICACB327BV7U3EMI5LIGJH2RILLVRPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVPXEWZIPK3EK4REWLE7PTMOFEL2332C4LFB6C2LJ7Z3JFYFGG2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QY2AHFC34QXGY3SKG3KRTATFWHEOE5RLRLSA3FYT5FDA3QCSY5AQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFSODYPZJLRMU3TS2Z4KHKIMJ4WKQBQK3PV54NNEU6GF4VV7QK3Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JYSB7K63AU5RTFC7KWKSR2T2HFIVXRCI4LG56LZRZLTJVSAWI2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VT7PLWWJDW3KTOKDWJCFPZ52QCNN2VBHYLFJIRIT6XE2D77SBWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY7CBAB4DAOANLV4ZV56ZB7XXWHDMKHAPOX64SJQ3BIEGSHY6Z2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPTGOJJ53VIHMRT7DWGLKSPYZV3MWPKUW7CLAEKMEUNSJISB5CBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQ3D34HYTMB3Y5L4HCCFRFXDPRQ2IYR6H27UUNY65Z4RYU5RVTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/vendors.js"
            ]
        },
        "GetPersonalizationSettings": {
            "name": "GetPersonalizationSettings",
            "http": {
                "method": "POST",
                "requestUri": "/GetPersonalizationSettings",
                "responseCode": 200
            },
            "input": {
                "shape": "GetPersonalizationSettingsInput"
            },
            "output": {
                "shape": "GetPersonalizationSettingsOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "GetSettingDefinition": {
            "name": "GetSettingDefinition",
            "http": {
                "method": "POST",
                "requestUri": "/GetSettingDefinition",
                "responseCode": 200
            },
            "input": {
                "shape": "GetSettingDefinitionInput"
            },
            "output": {
                "shape": "GetSettingDefinitionOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "GetSettingGroup": {
            "name": "GetSettingGroup",
            "http": {
                "method": "POST",
                "requestUri": "/GetSettingGroup",
                "responseCode": 200
            },
            "input": {
                "shape": "GetSettingGroupInput"
            },
            "output": {
                "shape": "GetSettingGroupOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "GetSettingsForConsoleSession": {
            "name": "GetSettingsForConsoleSession",
            "http": {
                "method": "POST",
                "requestUri": "/GetSettingsForConsoleSession",
                "responseCode": 200
            },
            "input": {
                "shape": "GetSettingsForConsoleSessionInput"
            },
            "output": {
                "shape": "GetSettingsForConsoleSessionOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "ListSettingDefinition": {
            "name": "ListSettingDefinition",
            "http": {
                "method": "GET",
                "requestUri": "/ListSettingDefinition",
                "responseCode": 200
            },
            "input": {
                "shape": "ListSettingDefinitionInput"
            },
            "output": {
                "shape": "ListSettingDefinitionOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "ListSettingGroup": {
            "name": "ListSettingGroup",
            "http": {
                "method": "GET",
                "requestUri": "/ListSettingGroup",
                "responseCode": 200
            },
            "input": {
                "shape": "ListSettingGroupInput"
            },
            "output": {
                "shape": "ListSettingGroupOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "PutCallerDashboard": {
            "name": "PutCallerDashboard",
            "http": {
                "method": "POST",
                "requestUri": "/PutCallerDashboard",
                "responseCode": 200
            },
            "input": {
                "shape": "PutCallerDashboardInput"
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "UpdateCallerFavorites": {
            "name": "UpdateCallerFavorites",
            "http": {
                "method": "POST",
                "requestUri": "/UpdateCallerFavorites",
                "responseCode": 200
            },
            "input": {
                "shape": "UpdateCallerFavoritesInput"
            },
            "output": {
                "shape": "UpdateCallerFavoritesOutput"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalServiceException"
                }
            ],
            "documentation": "<p>Update Caller Favorites.</p>",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "UpdateCallerRecents": {
            "name": "UpdateCallerRecents",
            "http": {
                "method": "POST",
                "requestUri": "/UpdateCallerRecents",
                "responseCode": 200
            },
            "input": {
                "shape": "UpdateCallerRecentsInput"
            },
            "output": {
                "shape": "UpdateCallerRecentsOutput"
            },
            "errors": [
                {
                    "shape": "BadRequestException"
                },
                {
                    "shape": "InternalServiceException"
                }
            ],
            "documentation": "<p>Update Caller Recently Visited.</p>",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "UpdateCallerSettings": {
            "name": "UpdateCallerSettings",
            "http": {
                "method": "POST",
                "requestUri": "/UpdateCallerSettings",
                "responseCode": 200
            },
            "input": {
                "shape": "UpdateCallerSettingsInput"
            },
            "output": {
                "shape": "UpdateCallerSettingsOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "UpdateCommandCenterSettings": {
            "name": "UpdateCommandCenterSettings",
            "http": {
                "method": "POST",
                "requestUri": "/UpdateCommandCenterSettings",
                "responseCode": 200
            },
            "input": {
                "shape": "UpdateCommandCenterSettingsInput"
            },
            "output": {
                "shape": "UpdateCommandCenterSettingsOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN6R2F3BPMSX426S5DNP6UXCG5LZGYWGUJ4QNZIA6E3M5PE6XNDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNVDMMCJ67JQ7H75PIM6D3H3MDBZSSAQRP7NHHWMHEQV4XHNPDPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE2QQONKPOR6LWXGSJWMVP5L4XPMYB7QIKOKPS3VPVMMYUEEXC6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNJEITVIH6XXKPDOT5IGD5G6PMRRPL3ODDM7DGQNI7Y3AJ6MH76Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2YNAQ7WG6LRRSAOZDQVFVKSJRHU2FQFRUAD2KZV3I7FO7OBLKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHLPW6WENMFTJX7K5QKCERKQ3TIQHMIS5OWCFNWPXUWPCZLY352A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QLIMJYMCWQGRQIVAQKX3CSOQH74QLKOPZ2HOSICCCTJEREZZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZRUWRN65MQWR3DLZOXGHI5UXTNNVSIZD4CNIWTILNUNMEC6M44Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FEBCZSRCQW7U66BPCSRFEVMNOFSY5QG3DMR73P7WXD2AEKP3OMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZJ4NXTE32L63WVSG4KGHICACB327BV7U3EMI5LIGJH2RILLVRPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVPXEWZIPK3EK4REWLE7PTMOFEL2332C4LFB6C2LJ7Z3JFYFGG2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QY2AHFC34QXGY3SKG3KRTATFWHEOE5RLRLSA3FYT5FDA3QCSY5AQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM75ZT7QDJFFCG7OHTSYMM45JXLNUPQCUUR34F5FQPTCFTJRXJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFSODYPZJLRMU3TS2Z4KHKIMJ4WKQBQK3PV54NNEU6GF4VV7QK3Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JYSB7K63AU5RTFC7KWKSR2T2HFIVXRCI4LG56LZRZLTJVSAWI2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAWAPIU7LRFVUATKIARBBGHMGG2I5RK5O5FJPJTFIW2MQGQDDVGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VT7PLWWJDW3KTOKDWJCFPZ52QCNN2VBHYLFJIRIT6XE2D77SBWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY7CBAB4DAOANLV4ZV56ZB7XXWHDMKHAPOX64SJQ3BIEGSHY6Z2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPTGOJJ53VIHMRT7DWGLKSPYZV3MWPKUW7CLAEKMEUNSJISB5CBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OL6OGNAI6EHZUVJRPPM3O4XSVGC56CB37LTBDOEWDOZH6VVKXLNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHSHNJNKK4PAF3FT4T3R4HIMOHYWCTZNRZXWAU5535RFOV2BUEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQ3D34HYTMB3Y5L4HCCFRFXDPRQ2IYR6H27UUNY65Z4RYU5RVTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBSTMGZWDYGOAX5NTQAMKQNEUFM4GUZLIBLRBYAXDW55TNLV2IJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAQ2JQHCEGLZBK4ZC46A6UKKSYOJ67ULTXQJFHLFBD3CKLBG4GZQ/vendors.js"
            ]
        },
        "UpdateSettingDefinition": {
            "name": "UpdateSettingDefinition",
            "http": {
                "method": "POST",
                "requestUri": "/UpdateSettingDefinition",
                "responseCode": 200
            },
            "input": {
                "shape": "UpdateSettingDefinitionInput"
            },
            "output": {
                "shape": "UpdateSettingDefinitionOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "PreflightEndpoint": {
            "name": "PreflightEndpoint",
            "http": {
                "method": "OPTIONS",
                "requestUri": "/",
                "responseCode": 200
            },
            "input": {
                "shape": "PreflightEndpointInput"
            },
            "output": {
                "shape": "PreflightEndpointOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNJEITVIH6XXKPDOT5IGD5G6PMRRPL3ODDM7DGQNI7Y3AJ6MH76Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2YNAQ7WG6LRRSAOZDQVFVKSJRHU2FQFRUAD2KZV3I7FO7OBLKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHLPW6WENMFTJX7K5QKCERKQ3TIQHMIS5OWCFNWPXUWPCZLY352A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZRUWRN65MQWR3DLZOXGHI5UXTNNVSIZD4CNIWTILNUNMEC6M44Q/amzn.js"
            ]
        },
        "SSOLoginEndpoint": {
            "name": "SSOLoginEndpoint",
            "http": {
                "method": "GET",
                "requestUri": "/sso/login",
                "responseCode": 200
            },
            "input": {
                "shape": "SSOLoginEndpointInput"
            },
            "output": {
                "shape": "SSOLoginEndpointOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "SSOLoginOptionsEndpoint": {
            "name": "SSOLoginOptionsEndpoint",
            "http": {
                "method": "OPTIONS",
                "requestUri": "/sso/login",
                "responseCode": 200
            },
            "input": {
                "shape": "SSOLoginEndpointInput"
            },
            "output": {
                "shape": "SSOLoginEndpointOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FEBCZSRCQW7U66BPCSRFEVMNOFSY5QG3DMR73P7WXD2AEKP3OMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZJ4NXTE32L63WVSG4KGHICACB327BV7U3EMI5LIGJH2RILLVRPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVPXEWZIPK3EK4REWLE7PTMOFEL2332C4LFB6C2LJ7Z3JFYFGG2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QY2AHFC34QXGY3SKG3KRTATFWHEOE5RLRLSA3FYT5FDA3QCSY5AQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFSODYPZJLRMU3TS2Z4KHKIMJ4WKQBQK3PV54NNEU6GF4VV7QK3Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VT7PLWWJDW3KTOKDWJCFPZ52QCNN2VBHYLFJIRIT6XE2D77SBWUA/amzn.js"
            ]
        },
        "GetMidwayEndpointSettings": {
            "name": "GetMidwayEndpointSettings",
            "http": {
                "method": "POST",
                "requestUri": "/GetMidwayEndpointSettings",
                "responseCode": 200
            },
            "input": {
                "shape": "GetMidwayEndpointSettingsInput"
            },
            "output": {
                "shape": "GetMidwayEndpointSettingsOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "UpdateMidwayEndpointSettings": {
            "name": "UpdateMidwayEndpointSettings",
            "http": {
                "method": "POST",
                "requestUri": "/UpdateMidwayEndpointSettings",
                "responseCode": 200
            },
            "input": {
                "shape": "UpdateMidwayEndpointSettingsInput"
            },
            "output": {
                "shape": "UpdateMidwayEndpointSettingsOutput"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRDEXFZ6Z663735GXJLE6MFHE4BVEI2NNFVZ5YIJEY6W7SWZA4GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSKGCGFXUZ72NRGSCF2ZUDT4R5LYO7QHSKCYQVSV4UV5KHPLKMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYPLOIZWFJSQSZVVYKLATYOA4XYWHT6IVJHN6B26G5ABGBVDNJDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GI2P4JODMWZOUCJB2KRQD7NOSJF45LNJE5IIBY2JWF5SG22A6PNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOBFHYMQP57KA3TKIHUIJYCK74E4775DEFSUQ4AWTZJDO5KURWVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUIMS32L4FKAXRJ5E3EGZGVECZZ4CYVM5YFJUYUYQXUVYZSTJBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2B6DQKSDZNPZGC2LCYNFFPLN4BQ7QCWX7EVBF2I673HB5IOWJMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TATGFZMZCMYZ3QMTA2EHE7ODZWU3NRCJNGYPFSOD7N7V4ZCRCACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2IXNQ7GYPFQRMWQTYMQYXT5HZOW4XEVV2VFHCERFATWMULRX2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWD6LIPNRQJO5KK5QEVJSQR6UPSEYSHAJK3KM6Q3YLOQRWCTW47Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGYTYLHFRTBU7DWOS5WSZFP5P3PIUWUIB535P55PJKCYJPZ43BQA/vendors.js"
            ]
        },
        "BatchGetSettingMidway": {
            "name": "BatchGetSettingMidway",
            "http": {
                "method": "POST",
[...]
