{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-30",
        "endpointPrefix": "aws-console-userprefs",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "UserPrefs",
        "serviceFullName": "AWSConsoleUserPreferenceService",
        "serviceId": "UserPreference",
        "serviceName": "userprefs",
        "signatureVersion": "v4",
        "signingName": "userprefs",
        "targetPrefix": "AWSConsoleUserPreferenceService",
        "uid": "awsconsoleuserpreferenceservice-2019-09-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MK32FFDG7XFRCF7D42SEWQC5WGSBLCARERZMECFFVW2EZ3ZXUULQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQSN55Q4ZZGN2L3T7XUBLF5REQLGMDARQLZ5DGDB2RGT77YUHCJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FCDLXFSTU5KAOKT6VORXZME3I6LAWVEWTNWOBKL3Q2QL5KJRLXAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S2BWRP26UQZUNG6HADQBV5GIXWEI72KS22OLKAZ6JGUDGUG6QTNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
            "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
            "https://d2ziyq7zksuzai.cloudfront.net/1668047178994/main.js"
        ]
    },
    "operations": {
        "DeletePreference": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK32FFDG7XFRCF7D42SEWQC5WGSBLCARERZMECFFVW2EZ3ZXUULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQSN55Q4ZZGN2L3T7XUBLF5REQLGMDARQLZ5DGDB2RGT77YUHCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCDLXFSTU5KAOKT6VORXZME3I6LAWVEWTNWOBKL3Q2QL5KJRLXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2BWRP26UQZUNG6HADQBV5GIXWEI72KS22OLKAZ6JGUDGUG6QTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1668047178994/main.js"
            ]
        },
        "GetDefaultRegion": {
            "input": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Region": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK32FFDG7XFRCF7D42SEWQC5WGSBLCARERZMECFFVW2EZ3ZXUULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQSN55Q4ZZGN2L3T7XUBLF5REQLGMDARQLZ5DGDB2RGT77YUHCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCDLXFSTU5KAOKT6VORXZME3I6LAWVEWTNWOBKL3Q2QL5KJRLXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2BWRP26UQZUNG6HADQBV5GIXWEI72KS22OLKAZ6JGUDGUG6QTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1668047178994/main.js"
            ]
        },
        "GetPreference": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK32FFDG7XFRCF7D42SEWQC5WGSBLCARERZMECFFVW2EZ3ZXUULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQSN55Q4ZZGN2L3T7XUBLF5REQLGMDARQLZ5DGDB2RGT77YUHCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCDLXFSTU5KAOKT6VORXZME3I6LAWVEWTNWOBKL3Q2QL5KJRLXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2BWRP26UQZUNG6HADQBV5GIXWEI72KS22OLKAZ6JGUDGUG6QTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1668047178994/main.js"
            ]
        },
        "GetPreferenceJSON": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK32FFDG7XFRCF7D42SEWQC5WGSBLCARERZMECFFVW2EZ3ZXUULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQSN55Q4ZZGN2L3T7XUBLF5REQLGMDARQLZ5DGDB2RGT77YUHCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCDLXFSTU5KAOKT6VORXZME3I6LAWVEWTNWOBKL3Q2QL5KJRLXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2BWRP26UQZUNG6HADQBV5GIXWEI72KS22OLKAZ6JGUDGUG6QTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1668047178994/main.js"
            ]
        },
        "SetPreference": {
            "input": {
                "shape": "S7"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK32FFDG7XFRCF7D42SEWQC5WGSBLCARERZMECFFVW2EZ3ZXUULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQSN55Q4ZZGN2L3T7XUBLF5REQLGMDARQLZ5DGDB2RGT77YUHCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCDLXFSTU5KAOKT6VORXZME3I6LAWVEWTNWOBKL3Q2QL5KJRLXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2BWRP26UQZUNG6HADQBV5GIXWEI72KS22OLKAZ6JGUDGUG6QTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1668047178994/main.js"
            ]
        },
        "SetPreferenceJSON": {
            "input": {
                "shape": "S7"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AATNVPNR7DSLV6T36LLHHTBHWNJI7QU2RZFRGAT26TNLYUYSICVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62K7NOYO4CGNMWYQEEUNURHUNUIQ45JO5JJZACPOIAEII2JMC44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CU2MTMYAQREUVE4MUWSHVNTZXCQEMVD43AU3VROS72RWGV6HDSVQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4O5Z6YJERXKKDZWGU2YBRRBWGEA642ZUFH3DQLGMDD4DJG25TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK32FFDG7XFRCF7D42SEWQC5WGSBLCARERZMECFFVW2EZ3ZXUULQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUPHODQE63RDQHKX7XLUSQJ3KZZMG7LNIUVLERSVU6IVLJJGR5A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQSN55Q4ZZGN2L3T7XUBLF5REQLGMDARQLZ5DGDB2RGT77YUHCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG4CPQNUMTFJM5FEWVSABYLOFJECXDVYAS264PQ23UKO5GOCNHMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2LW3BWQYXGLC2TYLKCJEZUZ5OAGKZRWDX44IBIVASWEZNO72WLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQEC2U33QL7Y75CHPWSYUI7PKOSLLBDWW6C7BSCDAHUWM75EPZHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUEPSESYMZITODOR7COQDRMIBJCTVRNH7OA3IVA3TZXO2F6Y5FZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCDLXFSTU5KAOKT6VORXZME3I6LAWVEWTNWOBKL3Q2QL5KJRLXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCV4BCE4TFGJIY6F46VXLJX2SFSF2NDGOFZC5PNOPKO3NUCB6BVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GINV2GH4C4PNQZIJITNLXWTQ2FXOQOAWORRFLNHNYJTMB22HHA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IDF7HINC3VMF24ICAG2XSZL7E75FLRSS7UWJRAXIGZC7TWNMRTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2BWRP26UQZUNG6HADQBV5GIXWEI72KS22OLKAZ6JGUDGUG6QTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1668047178994/main.js"
            ]
        }
    },
    "shapes": {
        "S1": {
            "type": "structure",
            "members": {
                "Partition": {},
                "Name": {},
                "CallingApolloEnvironmentName": {}
            }
        },
        "S3": {
            "type": "structure",
            "members": {
                "Status": {},
                "Preferences": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "Partition": {},
                "Name": {},
                "Value": {},
                "CallingApolloEnvironmentName": {}
            }
        }
    }
}