{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-04-18",
        "endpointPrefix": "AWSCognitoSyncService",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWSCognitoSyncService",
        "serviceId": "Cognito Sync",
        "signatureVersion": "v4",
        "signingName": "cognito-sync",
        "uid": "AWSCognitoSyncService-2016-04-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
        ]
    },
    "operations": {
        "BulkPublish": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/bulkpublish",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "DeleteDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dataset": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "DescribeDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dataset": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "DescribeIdentityPoolUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolUsage": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "DescribeIdentityUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityUsage": {
                        "type": "structure",
                        "members": {
                            "IdentityId": {},
                            "IdentityPoolId": {},
                            "LastModifiedDate": {
                                "type": "timestamp"
                            },
                            "DatasetCount": {
                                "type": "integer"
                            },
                            "DataStorage": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "GetBulkPublishDetails": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/getBulkPublishDetails",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "BulkPublishStartTime": {
                        "type": "timestamp"
                    },
                    "BulkPublishCompleteTime": {
                        "type": "timestamp"
                    },
                    "BulkPublishStatus": {},
                    "FailureMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "GetCognitoEvents": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/events",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Events": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "GetIdentityPoolConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "PushSync": {
                        "shape": "Sy"
                    },
                    "CognitoStreams": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "ListDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Datasets": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    },
                    "Count": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "ListIdentityPoolUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolUsages": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Count": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "ListRecords": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/records",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "LastSyncCount": {
                        "location": "querystring",
                        "locationName": "lastSyncCount"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults"
                    },
                    "SyncSessionToken": {
                        "location": "querystring",
                        "locationName": "syncSessionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "shape": "S1g"
                    },
                    "NextToken": {},
                    "Count": {
                        "type": "integer"
                    },
                    "DatasetSyncCount": {
                        "type": "long"
                    },
                    "LastModifiedBy": {},
                    "MergedDatasetNames": {
                        "type": "list",
                        "member": {}
                    },
                    "DatasetExists": {
                        "type": "boolean"
                    },
                    "DatasetDeletedAfterRequestedSyncCount": {
                        "type": "boolean"
                    },
                    "SyncSessionToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "QueryRecords": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/query",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityAlias": {},
                    "DatasetName": {},
                    "FieldsToGet": {
                        "shape": "S1o"
                    },
                    "QueryExpression": {},
                    "QueryExpressionValues": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "OrderBy": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Field": {},
                                "SortOrder": {}
                            }
                        }
                    },
                    "GroupBy": {
                        "shape": "S1o"
                    },
                    "Aggregations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "Field": {}
                            }
                        }
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityAlias": {},
                                "Key": {},
                                "Value": {}
                            }
                        }
                    },
                    "AggregateRecords": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "RegisterDevice": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identity/{IdentityId}/device",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "Platform",
                    "Token"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "Platform": {},
                    "Token": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeviceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "SetCognitoEvents": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/events",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Events"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "Events": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "SetDatasetConfiguration": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "Type": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Type": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "SetIdentityPoolConfiguration": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "PushSync": {
                        "shape": "Sy"
                    },
                    "CognitoStreams": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "PushSync": {
                        "shape": "Sy"
                    },
                    "CognitoStreams": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "SubscribeToDataset": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "DeviceId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {
                        "location": "uri",
                        "locationName": "DeviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "UnsubscribeFromDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "DeviceId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {
                        "location": "uri",
                        "locationName": "DeviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        },
        "UpdateRecords": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "SyncSessionToken"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {},
                    "RecordPatches": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Op",
                                "Key",
                                "SyncCount"
                            ],
                            "members": {
                                "Op": {},
                                "Key": {},
                                "Value": {},
                                "SyncCount": {
                                    "type": "long"
                                },
                                "DeviceLastModifiedDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "SyncSessionToken": {},
                    "ClientContext": {
                        "location": "header",
                        "locationName": "x-amz-Client-Context"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7X5MXJPBTI7A4S2K4QKBSLSNWVQY6G67X3HR7NOWOYTS4325OX5Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6Q6BJ53Q63UZSSCNO2OGDL5XLZBEHAD433SB3J7YQKQILSZJPPKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JVCUQ7YHZSWCEC6BGM4JKICCNCMMOXGBN2TQ425TSOB7B5XUPCPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/62HXGQ6F2GUYOTC6FLTB5B6X54OQEVLCCCYW4B35WX2M6653MERA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7I4SISSIG464DMJ5RY3SJS3H6YKVBLKVSQRXVKB3KPLSYYYEJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IPMNOFUUZGQIWIUMYCUT32WIE6HYGMZECZRUOPWHH2NB44GYF6KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FTP2DZDSCMYRQYBVGH4VV3E2RE7MJP5RES3RSMAIQ32EWOVWIH3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7AXGCGE7VHL4GVKAIRX4BLQV4SQRISULY5PO3LREA3RYTQBIVRFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEFABI5VI34LLDIVVJIE4KY6DQUYYXUCKGP467S5E6ZLUTO6G26Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6F3PWZFBPM5GJB43ELA5B4LSDNJSCIWM2HVKBCFGRCEZDBWGWRTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BZKIGW7W62FVKEHYPUQGBFZDRV55BCQVSJ6IM4XVCLJ524ROHEAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KQMYB6SXXXTNT4JX7BLVRPWUTPDX54P4APZVNPR4TE5ENKKX7CGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S8": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "DatasetName": {},
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                },
                "LastModifiedBy": {},
                "DataStorage": {
                    "type": "long"
                },
                "NumRecords": {
                    "type": "long"
                },
                "Type": {
                    "shape": "Sc"
                }
            }
        },
        "Sc": {
            "type": "structure",
            "members": {
                "Visibility": {},
                "Queryable": {
                    "type": "boolean"
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "IdentityPoolId": {},
                "SyncSessionsCount": {
                    "type": "long"
                },
                "DataStorage": {
                    "type": "long"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "St": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sy": {
            "type": "structure",
            "members": {
                "ApplicationArns": {
                    "type": "list",
                    "member": {}
                },
                "RoleArn": {}
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "StreamName": {},
                "RoleArn": {},
                "StreamingStatus": {},
                "DisabledReason": {}
            }
        },
        "S1g": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Key": {},
                    "Value": {},
                    "SyncCount": {
                        "type": "long"
                    },
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "LastModifiedBy": {},
                    "DeviceLastModifiedDate": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "S1o": {
            "type": "list",
            "member": {}
        }
    }
}