{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-04-18",
        "endpointPrefix": "AWSCognitoSignInService",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWSCognitoIdentityProviderInternalService",
        "serviceId": "Cognito Identity Provider",
        "signatureVersion": "v4",
        "signingName": "cognito-idp",
        "targetPrefix": "AWSCognitoIdentityProviderInternalService",
        "uid": "AWSCognitoSignInService-2016-04-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
        ]
    },
    "operations": {
        "AdminArchipelagoGetUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Username"
                ],
                "members": {
                    "Username": {
                        "shape": "S3"
                    },
                    "UserAttributes": {
                        "shape": "S5"
                    },
                    "UserCreateDate": {
                        "type": "timestamp"
                    },
                    "UserLastModifiedDate": {
                        "type": "timestamp"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "UserStatus": {},
                    "MFAOptions": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "AdminCreateOrUpdateIdPUser": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderName",
                    "UserAttributes",
                    "UserPoolId",
                    "ClientId"
                ],
                "members": {
                    "ProviderName": {},
                    "UserAttributes": {
                        "shape": "S5"
                    },
                    "UserPoolId": {},
                    "ClientId": {},
                    "UserContextData": {
                        "shape": "Si"
                    },
                    "SourceIpAddress": {},
                    "SourceHttpHeaders": {
                        "shape": "Sk"
                    },
                    "ChallengeResponse": {
                        "shape": "Sm"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    },
                    "IdpSessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "St"
                    },
                    "Challenge": {
                        "shape": "Sm"
                    },
                    "UserIdentifierHash": {},
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "AdminSignInWithProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderName",
                    "ProviderToken",
                    "UserPoolId",
                    "ClientId"
                ],
                "members": {
                    "ProviderName": {},
                    "ProviderToken": {},
                    "AuthnRequestId": {},
                    "Recipient": {},
                    "UserPoolId": {},
                    "ClientId": {},
                    "UserContextData": {
                        "shape": "Si"
                    },
                    "SourceIpAddress": {},
                    "SourceHttpHeaders": {
                        "shape": "Sk"
                    },
                    "ChallengeResponse": {
                        "shape": "Sm"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "St"
                    },
                    "Challenge": {
                        "shape": "Sm"
                    },
                    "IdpSessionId": {},
                    "UserIdentifierHash": {},
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "AssociateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "AssociatedResourceArn",
                    "WebAclArn"
                ],
                "members": {
                    "AssociatedResourceArn": {},
                    "WebAclArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CognitoConfirmForgotPassword": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username",
                    "ConfirmationCode",
                    "Password"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S12"
                    },
                    "Username": {
                        "shape": "S3"
                    },
                    "ConfirmationCode": {},
                    "Password": {
                        "shape": "S14"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S15"
                    },
                    "ContextData": {
                        "shape": "S16"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CognitoConfirmSignUp": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username",
                    "ConfirmationCode"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S12"
                    },
                    "Username": {
                        "shape": "S3"
                    },
                    "ConfirmationCode": {},
                    "ForceAliasCreation": {
                        "type": "boolean"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S15"
                    },
                    "ContextData": {
                        "shape": "S16"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserSub": {},
                    "ChallengeName": {},
                    "ChallengeParameters": {
                        "shape": "S1c"
                    },
                    "Session": {},
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CognitoForgotPassword": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S12"
                    },
                    "ContextData": {
                        "shape": "S16"
                    },
                    "Username": {
                        "shape": "S3"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S15"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CodeDeliveryDetails": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CognitoInitiateAuth": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "AuthFlow"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "AuthFlow": {},
                    "AuthParameters": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    },
                    "ContextData": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChallengeName": {},
                    "Session": {},
                    "ChallengeParameters": {
                        "shape": "S1c"
                    },
                    "AuthenticationResult": {
                        "shape": "S1k"
                    },
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CognitoResendConfirmationCode": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S12"
                    },
                    "ContextData": {
                        "shape": "S16"
                    },
                    "Username": {
                        "shape": "S3"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S15"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CodeDeliveryDetails": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CognitoRespondToAuthChallenge": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "ChallengeName"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "ChallengeName": {},
                    "ChallengeResponses": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "Session": {},
                    "ContextData": {
                        "shape": "S16"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChallengeName": {},
                    "Session": {},
                    "ChallengeParameters": {
                        "shape": "S1c"
                    },
                    "AuthenticationResult": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CognitoRevokeToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Token",
                    "ClientId"
                ],
                "members": {
                    "Token": {
                        "shape": "S1l"
                    },
                    "ClientId": {},
                    "ClientSecret": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CognitoSignUp": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username",
                    "Password"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S12"
                    },
                    "Username": {
                        "shape": "S3"
                    },
                    "Password": {
                        "shape": "S14"
                    },
                    "UserAttributes": {
                        "shape": "S5"
                    },
                    "ValidationData": {
                        "shape": "S5"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S15"
                    },
                    "ContextData": {
                        "shape": "S16"
                    },
                    "ChallengeResponse": {
                        "shape": "Sm"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserConfirmed": {
                        "type": "boolean"
                    },
                    "CodeDeliveryDetails": {
                        "shape": "S1f"
                    },
                    "UserSub": {},
                    "Challenge": {
                        "shape": "Sm"
                    },
                    "ChallengeName": {},
                    "ChallengeParameters": {
                        "shape": "S1c"
                    },
                    "Session": {},
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "ConsumeAuthorizationCode": {
            "input": {
                "type": "structure",
                "required": [
                    "AuthorizationCode",
                    "UserPoolId"
                ],
                "members": {
                    "AuthorizationCode": {},
                    "UserPoolId": {},
                    "ClientId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "UserName",
                    "Sub",
                    "RedirectUri",
                    "Scopes"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "ProviderName": {},
                    "UserName": {
                        "shape": "S3"
                    },
                    "Sub": {},
                    "RedirectUri": {},
                    "Scopes": {
                        "shape": "S24"
                    },
                    "CodeChallenge": {},
                    "CodeChallengeMethod": {},
                    "EventId": {},
                    "Nonce": {},
                    "MetricsContext": {
                        "shape": "S28"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CreateSignedSAML": {
            "input": {
                "type": "structure",
                "required": [
                    "InputXml",
                    "UserPoolId"
                ],
                "members": {
                    "InputXml": {},
                    "RequestMethod": {},
                    "UserPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SignedXml": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "DeleteAccountStatusCacheKey": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSAccountId"
                ],
                "members": {
                    "AWSAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "DescribeArchipelagoUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId"
                ],
                "members": {
                    "UserPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPool": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Name": {},
                            "Policies": {
                                "type": "structure",
                                "members": {
                                    "PasswordPolicy": {
                                        "type": "structure",
                                        "members": {
                                            "MinimumLength": {
                                                "type": "integer"
                                            },
                                            "RequireUppercase": {
                                                "type": "boolean"
                                            },
                                            "RequireLowercase": {
                                                "type": "boolean"
                                            },
                                            "RequireNumbers": {
                                                "type": "boolean"
                                            },
                                            "RequireSymbols": {
                                                "type": "boolean"
                                            },
                                            "TemporaryPasswordValidityDays": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            },
                            "DeletionProtection": {},
                            "LambdaConfig": {
                                "type": "structure",
                                "members": {
                                    "PreSignUp": {},
                                    "CustomMessage": {},
                                    "PostConfirmation": {},
                                    "PreAuthentication": {},
                                    "PostAuthentication": {},
                                    "DefineAuthChallenge": {},
                                    "CreateAuthChallenge": {},
                                    "VerifyAuthChallengeResponse": {},
                                    "PreTokenGeneration": {},
                                    "PreTokenGenerationConfig": {
                                        "type": "structure",
                                        "required": [
                                            "LambdaVersion",
                                            "LambdaArn"
                                        ],
                                        "members": {
                                            "LambdaVersion": {},
                                            "LambdaArn": {}
                                        }
                                    },
                                    "PreMutation": {},
                                    "UserMigration": {},
                                    "CustomSMSSender": {
                                        "type": "structure",
                                        "required": [
                                            "LambdaVersion",
                                            "LambdaArn"
                                        ],
                                        "members": {
                                            "LambdaVersion": {},
                                            "LambdaArn": {}
                                        }
                                    },
                                    "CustomEmailSender": {
                                        "type": "structure",
                                        "required": [
                                            "LambdaVersion",
                                            "LambdaArn"
                                        ],
                                        "members": {
                                            "LambdaVersion": {},
                                            "LambdaArn": {}
                                        }
                                    },
                                    "KMSKeyID": {}
                                }
                            },
                            "Status": {},
                            "LastModifiedDate": {
                                "type": "timestamp"
                            },
                            "CreationDate": {
                                "type": "timestamp"
                            },
                            "SchemaAttributes": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Name": {},
                                        "AttributeDataType": {},
                                        "DeveloperOnlyAttribute": {
                                            "type": "boolean"
                                        },
                                        "Mutable": {
                                            "type": "boolean"
                                        },
                                        "Required": {
                                            "type": "boolean"
                                        },
                                        "NumberAttributeConstraints": {
                                            "type": "structure",
                                            "members": {
                                                "MinValue": {},
                                                "MaxValue": {}
                                            }
                                        },
                                        "StringAttributeConstraints": {
                                            "type": "structure",
                                            "members": {
                                                "MinLength": {},
                                                "MaxLength": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "AutoVerifiedAttributes": {
                                "type": "list",
                                "member": {}
                            },
                            "AliasAttributes": {
                                "type": "list",
                                "member": {}
                            },
                            "UsernameAttributes": {
                                "type": "list",
                                "member": {}
                            },
                            "SmsVerificationMessage": {},
                            "EmailVerificationMessage": {},
                            "EmailVerificationSubject": {},
                            "VerificationMessageTemplate": {
                                "shape": "S3b"
                            },
                            "SmsAuthenticationMessage": {},
                            "VerifyAttributesBeforeUpdate": {},
                            "UserAttributeUpdateSettings": {
                                "type": "structure",
                                "members": {
                                    "AttributesRequireVerificationBeforeUpdate": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            },
                            "MfaConfiguration": {},
                            "DeviceConfiguration": {
                                "type": "structure",
                                "members": {
                                    "ChallengeRequiredOnNewDevice": {
                                        "type": "boolean"
                                    },
                                    "DeviceOnlyRememberedOnUserPrompt": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "EstimatedNumberOfUsers": {
                                "type": "integer"
                            },
                            "EmailConfiguration": {
                                "type": "structure",
                                "members": {
                                    "SourceArn": {},
                                    "ReplyToEmailAddress": {},
                                    "EmailSendingAccount": {},
                                    "From": {},
                                    "ConfigurationSet": {}
                                }
                            },
                            "SmsConfiguration": {
                                "type": "structure",
                                "required": [
                                    "SnsCallerArn"
                                ],
                                "members": {
                                    "SnsCallerArn": {},
                                    "ExternalId": {},
                                    "SnsRegion": {}
                                }
                            },
                            "UserPoolTags": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "SmsConfigurationFailure": {},
                            "EmailConfigurationFailure": {},
                            "Domain": {},
                            "CustomDomain": {},
                            "AdminCreateUserConfig": {
                                "type": "structure",
                                "members": {
                                    "AllowAdminCreateUserOnly": {
                                        "type": "boolean"
                                    },
                                    "UnusedAccountValidityDays": {
                                        "type": "integer"
                                    },
                                    "InviteMessageTemplate": {
                                        "type": "structure",
                                        "members": {
                                            "SMSMessage": {},
                                            "EmailMessage": {},
                                            "EmailSubject": {}
                                        }
                                    }
                                }
                            },
                            "UserPoolAddOns": {
                                "type": "structure",
                                "required": [
                                    "AdvancedSecurityMode"
                                ],
                                "members": {
                                    "AdvancedSecurityMode": {}
                                }
                            },
                            "UserLinkingConfiguration": {
                                "type": "structure",
                                "required": [
                                    "EnableStatus",
                                    "UnSupportedClientAction"
                                ],
                                "members": {
                                    "EnableStatus": {},
                                    "EmailVerificationMessageTemplate": {
                                        "shape": "S3b"
                                    },
                                    "UnSupportedClientAction": {},
                                    "EmailVerificationEnableStatus": {}
                                }
                            },
                            "UsernameConfiguration": {
                                "type": "structure",
                                "required": [
                                    "CaseSensitive"
                                ],
                                "members": {
                                    "CaseSensitive": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "Arn": {},
                            "AccountRecoverySetting": {
                                "type": "structure",
                                "members": {
                                    "RecoveryMechanisms": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "Priority",
                                                "Name"
                                            ],
                                            "members": {
                                                "Priority": {
                                                    "type": "integer"
                                                },
                                                "Name": {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "DisassociateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "AssociatedResourceArn"
                ],
                "members": {
                    "AssociatedResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebAclArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "GenerateAuthorizationCode": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "UserName",
                    "Sub",
                    "RedirectUri",
                    "Scopes"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "ProviderName": {},
                    "UserName": {
                        "shape": "S3"
                    },
                    "Sub": {},
                    "RedirectUri": {},
                    "Scopes": {
                        "shape": "S24"
                    },
                    "CodeChallenge": {},
                    "CodeChallengeMethod": {},
                    "EventId": {},
                    "Nonce": {},
                    "MetricsContext": {
                        "shape": "S28"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AuthorizationCode"
                ],
                "members": {
                    "AuthorizationCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "GenerateTokens": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "Scopes"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "ProviderName": {},
                    "UserName": {
                        "shape": "S3"
                    },
                    "Sub": {},
                    "Scopes": {
                        "shape": "S24"
                    },
                    "GenerateRefreshToken": {
                        "type": "boolean"
                    },
                    "EventId": {},
                    "Nonce": {},
                    "ClientMetadata": {
                        "shape": "Sr"
                    },
                    "MetricsContext": {
                        "shape": "S28"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AuthenticationResult"
                ],
                "members": {
                    "AuthenticationResult": {
                        "type": "structure",
                        "members": {
                            "AccessToken": {
                                "shape": "S1l"
                            },
                            "ExpiresIn": {
                                "type": "integer"
                            },
                            "TokenType": {},
                            "RefreshToken": {
                                "shape": "S1l"
                            },
                            "IdToken": {
                                "shape": "S1l"
                            },
                            "NewDeviceMetadata": {
                                "shape": "S1n"
                            }
                        }
                    },
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "GetMessageSendingCredentials": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "CustomerAccountId",
                    "SourceArn"
                ],
                "members": {
                    "RoleArn": {},
                    "ExternalId": {},
                    "CustomerAccountId": {},
                    "SourceArn": {},
                    "MessageMedium": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessKey": {},
                    "SecretKey": {},
                    "SessionToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
[...]
