{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-30",
        "endpointPrefix": "aws-console-userprefs",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "UserPrefs",
        "serviceFullName": "AWSConsoleUserPreferenceService",
        "serviceId": "UserPreference",
        "serviceName": "userprefs",
        "signatureVersion": "v4",
        "signingName": "userprefs",
        "targetPrefix": "AWSConsoleUserPreferenceService",
        "uid": "awsconsoleuserpreferenceservice-2019-09-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GYE6VBBSXPRP4BICJ7IJLEX5P36ENHB4EMEWV62MWYO5XL4KCLLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DI5RY6KP24RSY2FYC5QX63CFVGXA77BCFXQ7WCEAJUBZB3KG5LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVIWCV6FGRBCAXNJTC4LWLQGDGSRJH35AYARI5XJUQTGW7ZJV7QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
            "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.8354610a638b9fab19e3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EHHSBRZ2HZVY4D7BXG53NTIZ7T2YU34EFVMIJKK6VVHHZBNYZ44Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQCWQSCI4R2JQAW4S5575HWJEJYGYEQQHZWN7V4HIFPY5JARFWTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
            "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
            "https://d2ziyq7zksuzai.cloudfront.net/1690924662887/main.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
        ]
    },
    "operations": {
        "DeletePreference": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYE6VBBSXPRP4BICJ7IJLEX5P36ENHB4EMEWV62MWYO5XL4KCLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DI5RY6KP24RSY2FYC5QX63CFVGXA77BCFXQ7WCEAJUBZB3KG5LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVIWCV6FGRBCAXNJTC4LWLQGDGSRJH35AYARI5XJUQTGW7ZJV7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.8354610a638b9fab19e3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHHSBRZ2HZVY4D7BXG53NTIZ7T2YU34EFVMIJKK6VVHHZBNYZ44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQCWQSCI4R2JQAW4S5575HWJEJYGYEQQHZWN7V4HIFPY5JARFWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1690924662887/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "GetDefaultRegion": {
            "input": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Region": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYE6VBBSXPRP4BICJ7IJLEX5P36ENHB4EMEWV62MWYO5XL4KCLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DI5RY6KP24RSY2FYC5QX63CFVGXA77BCFXQ7WCEAJUBZB3KG5LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVIWCV6FGRBCAXNJTC4LWLQGDGSRJH35AYARI5XJUQTGW7ZJV7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.8354610a638b9fab19e3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHHSBRZ2HZVY4D7BXG53NTIZ7T2YU34EFVMIJKK6VVHHZBNYZ44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQCWQSCI4R2JQAW4S5575HWJEJYGYEQQHZWN7V4HIFPY5JARFWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1690924662887/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "GetPreference": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYE6VBBSXPRP4BICJ7IJLEX5P36ENHB4EMEWV62MWYO5XL4KCLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DI5RY6KP24RSY2FYC5QX63CFVGXA77BCFXQ7WCEAJUBZB3KG5LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVIWCV6FGRBCAXNJTC4LWLQGDGSRJH35AYARI5XJUQTGW7ZJV7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.8354610a638b9fab19e3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHHSBRZ2HZVY4D7BXG53NTIZ7T2YU34EFVMIJKK6VVHHZBNYZ44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQCWQSCI4R2JQAW4S5575HWJEJYGYEQQHZWN7V4HIFPY5JARFWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1690924662887/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "GetPreferenceJSON": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYE6VBBSXPRP4BICJ7IJLEX5P36ENHB4EMEWV62MWYO5XL4KCLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DI5RY6KP24RSY2FYC5QX63CFVGXA77BCFXQ7WCEAJUBZB3KG5LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVIWCV6FGRBCAXNJTC4LWLQGDGSRJH35AYARI5XJUQTGW7ZJV7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.8354610a638b9fab19e3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHHSBRZ2HZVY4D7BXG53NTIZ7T2YU34EFVMIJKK6VVHHZBNYZ44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQCWQSCI4R2JQAW4S5575HWJEJYGYEQQHZWN7V4HIFPY5JARFWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1690924662887/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "SetPreference": {
            "input": {
                "shape": "S7"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYE6VBBSXPRP4BICJ7IJLEX5P36ENHB4EMEWV62MWYO5XL4KCLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DI5RY6KP24RSY2FYC5QX63CFVGXA77BCFXQ7WCEAJUBZB3KG5LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVIWCV6FGRBCAXNJTC4LWLQGDGSRJH35AYARI5XJUQTGW7ZJV7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.8354610a638b9fab19e3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHHSBRZ2HZVY4D7BXG53NTIZ7T2YU34EFVMIJKK6VVHHZBNYZ44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQCWQSCI4R2JQAW4S5575HWJEJYGYEQQHZWN7V4HIFPY5JARFWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1690924662887/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "SetPreferenceJSON": {
            "input": {
                "shape": "S7"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVVQNECE43VQ5ZWPVXKJUNLH47FDJCZ3FZNKZO4VB35SDTWVVHQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHKHI73H5MHJKCXDCCTBECSGFMQTRVQF5NTS3RLRFTXDBAVD5J3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYEOZXSQT37SF3S7CJFYN5RPSHKT5NCI2AG7JS46ANFAL63PL2A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYE6VBBSXPRP4BICJ7IJLEX5P36ENHB4EMEWV62MWYO5XL4KCLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DI5RY6KP24RSY2FYC5QX63CFVGXA77BCFXQ7WCEAJUBZB3KG5LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7QRB6ZOTAHBHQWH43RLYYQJ2LULMB6CU5WYXQV2ID34VNEOUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPK4Q5W5KHS4G6S33SM7KIJVA6I76MR4TC5JMCWJCYH3HVVOPCQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVIWCV6FGRBCAXNJTC4LWLQGDGSRJH35AYARI5XJUQTGW7ZJV7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZBGYLHSXADRMNUJUQYWXLTOOMIUIXKOOXWKJAURQAOOMZR52CAA/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.8354610a638b9fab19e3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RY4MOCCMKM6SJECTW2YYDFXXVC6G4CR7D7NKSMKIPTQXCXFZUKRA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHHSBRZ2HZVY4D7BXG53NTIZ7T2YU34EFVMIJKK6VVHHZBNYZ44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQCWQSCI4R2JQAW4S5575HWJEJYGYEQQHZWN7V4HIFPY5JARFWTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CXUBAMEMYGIWVCW7KGWJH6KRWPPQ4IYLTCF5JVWW26IJTOG3ROA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20231108112507534/main.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1690924662887/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        }
    },
    "shapes": {
        "S1": {
            "type": "structure",
            "members": {
                "Partition": {},
                "Name": {},
                "CallingApolloEnvironmentName": {}
            }
        },
        "S3": {
            "type": "structure",
            "members": {
                "Status": {},
                "Preferences": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "Partition": {},
                "Name": {},
                "Value": {},
                "CallingApolloEnvironmentName": {}
            }
        }
    }
}