{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-30",
        "endpointPrefix": "aws-console-userprefs",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "UserPrefs",
        "serviceFullName": "AWSConsoleUserPreferenceService",
        "serviceId": "UserPreference",
        "serviceName": "userprefs",
        "signatureVersion": "v4",
        "signingName": "userprefs",
        "targetPrefix": "AWSConsoleUserPreferenceService",
        "uid": "awsconsoleuserpreferenceservice-2019-09-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKM3LEDVZRBFZV36SCWTKL2GF4RYDPOQ747GTTILSUJA7HVZWA4Q/vendors.js",
            "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/initial.d29ac14236d35ccc7cdd.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7A5ZBLGDD73DBUZ7YGAQVLOBXTWPMBDRJ2OMXRASNPBLHGSLHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVDLCJNFZLV5COJZJ32WWIWYJKWFZ5RRO3KYWQ5ABJ2OBGXALIPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGMVQ5PAY4I2BMXVUUHBYIAU27SBOUTQ3W7VPKEEP4CT7NQ5GXJA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFCGX2JNH4OLULACD64QE5QHTHP26PVTUDOIRASBVLQ3ECC5JDBQ/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HPEAW6FZ6WTZ6UYKZRQOYY66UY4P46FU4EL7MNS3FBCQXSF23L2A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJCQVGZ6VRYGQPEOLYHRDOGS23MEGTAYE6AY3NTJQYC4ZD337WJQ/amzn.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js"
        ]
    },
    "operations": {
        "DeletePreference": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKM3LEDVZRBFZV36SCWTKL2GF4RYDPOQ747GTTILSUJA7HVZWA4Q/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/initial.d29ac14236d35ccc7cdd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7A5ZBLGDD73DBUZ7YGAQVLOBXTWPMBDRJ2OMXRASNPBLHGSLHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPEAW6FZ6WTZ6UYKZRQOYY66UY4P46FU4EL7MNS3FBCQXSF23L2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVDLCJNFZLV5COJZJ32WWIWYJKWFZ5RRO3KYWQ5ABJ2OBGXALIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCQVGZ6VRYGQPEOLYHRDOGS23MEGTAYE6AY3NTJQYC4ZD337WJQ/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFCGX2JNH4OLULACD64QE5QHTHP26PVTUDOIRASBVLQ3ECC5JDBQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js"
            ]
        },
        "GetDefaultRegion": {
            "input": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Region": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKM3LEDVZRBFZV36SCWTKL2GF4RYDPOQ747GTTILSUJA7HVZWA4Q/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/initial.d29ac14236d35ccc7cdd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7A5ZBLGDD73DBUZ7YGAQVLOBXTWPMBDRJ2OMXRASNPBLHGSLHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPEAW6FZ6WTZ6UYKZRQOYY66UY4P46FU4EL7MNS3FBCQXSF23L2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVDLCJNFZLV5COJZJ32WWIWYJKWFZ5RRO3KYWQ5ABJ2OBGXALIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCQVGZ6VRYGQPEOLYHRDOGS23MEGTAYE6AY3NTJQYC4ZD337WJQ/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFCGX2JNH4OLULACD64QE5QHTHP26PVTUDOIRASBVLQ3ECC5JDBQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js"
            ]
        },
        "GetPreference": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKM3LEDVZRBFZV36SCWTKL2GF4RYDPOQ747GTTILSUJA7HVZWA4Q/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/initial.d29ac14236d35ccc7cdd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7A5ZBLGDD73DBUZ7YGAQVLOBXTWPMBDRJ2OMXRASNPBLHGSLHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPEAW6FZ6WTZ6UYKZRQOYY66UY4P46FU4EL7MNS3FBCQXSF23L2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVDLCJNFZLV5COJZJ32WWIWYJKWFZ5RRO3KYWQ5ABJ2OBGXALIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCQVGZ6VRYGQPEOLYHRDOGS23MEGTAYE6AY3NTJQYC4ZD337WJQ/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFCGX2JNH4OLULACD64QE5QHTHP26PVTUDOIRASBVLQ3ECC5JDBQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js"
            ]
        },
        "GetPreferenceJSON": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKM3LEDVZRBFZV36SCWTKL2GF4RYDPOQ747GTTILSUJA7HVZWA4Q/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/initial.d29ac14236d35ccc7cdd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7A5ZBLGDD73DBUZ7YGAQVLOBXTWPMBDRJ2OMXRASNPBLHGSLHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPEAW6FZ6WTZ6UYKZRQOYY66UY4P46FU4EL7MNS3FBCQXSF23L2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVDLCJNFZLV5COJZJ32WWIWYJKWFZ5RRO3KYWQ5ABJ2OBGXALIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCQVGZ6VRYGQPEOLYHRDOGS23MEGTAYE6AY3NTJQYC4ZD337WJQ/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFCGX2JNH4OLULACD64QE5QHTHP26PVTUDOIRASBVLQ3ECC5JDBQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js"
            ]
        },
        "SetPreference": {
            "input": {
                "shape": "S7"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKM3LEDVZRBFZV36SCWTKL2GF4RYDPOQ747GTTILSUJA7HVZWA4Q/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/initial.d29ac14236d35ccc7cdd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7A5ZBLGDD73DBUZ7YGAQVLOBXTWPMBDRJ2OMXRASNPBLHGSLHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPEAW6FZ6WTZ6UYKZRQOYY66UY4P46FU4EL7MNS3FBCQXSF23L2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVDLCJNFZLV5COJZJ32WWIWYJKWFZ5RRO3KYWQ5ABJ2OBGXALIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCQVGZ6VRYGQPEOLYHRDOGS23MEGTAYE6AY3NTJQYC4ZD337WJQ/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFCGX2JNH4OLULACD64QE5QHTHP26PVTUDOIRASBVLQ3ECC5JDBQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js"
            ]
        },
        "SetPreferenceJSON": {
            "input": {
                "shape": "S7"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKM3LEDVZRBFZV36SCWTKL2GF4RYDPOQ747GTTILSUJA7HVZWA4Q/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/initial.d29ac14236d35ccc7cdd.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7A5ZBLGDD73DBUZ7YGAQVLOBXTWPMBDRJ2OMXRASNPBLHGSLHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPEAW6FZ6WTZ6UYKZRQOYY66UY4P46FU4EL7MNS3FBCQXSF23L2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVDLCJNFZLV5COJZJ32WWIWYJKWFZ5RRO3KYWQ5ABJ2OBGXALIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCQVGZ6VRYGQPEOLYHRDOGS23MEGTAYE6AY3NTJQYC4ZD337WJQ/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGB6ET2GUI57FWGRCAPPT44RATFIEJBLGDY4FP3NZDITMSUXQ6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQ4NEORP4YURQF2MXYFI4PL3HS6IMR6QIJLU65PXJIZFL6OBTHRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFCGX2JNH4OLULACD64QE5QHTHP26PVTUDOIRASBVLQ3ECC5JDBQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FCRHXTG7E3ENBM3TFYPBSEUEQELEEH3DOHBG4DN64VC432FR6XQ/app.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNMBZVBSVRP3AY7CVXER4AZNE5NKUH73ZFLNFKUJEC2O5WDIVH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDINO7N7VTVFA2MBV7PPM6ARI6AZBZ6XGTZ73FJJXYDKWBUI5SKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js"
            ]
        }
    },
    "shapes": {
        "S1": {
            "type": "structure",
            "members": {
                "Partition": {},
                "Name": {},
                "CallingApolloEnvironmentName": {}
            }
        },
        "S3": {
            "type": "structure",
            "members": {
                "Status": {},
                "Preferences": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "Partition": {},
                "Name": {},
                "Value": {},
                "CallingApolloEnvironmentName": {}
            }
        }
    }
}