{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-30",
        "endpointPrefix": "aws-console-userprefs",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "UserPrefs",
        "serviceFullName": "AWSConsoleUserPreferenceService",
        "serviceId": "UserPreference",
        "serviceName": "userprefs",
        "signatureVersion": "v4",
        "signingName": "userprefs",
        "targetPrefix": "AWSConsoleUserPreferenceService",
        "uid": "awsconsoleuserpreferenceservice-2019-09-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTXPNAY72FOWIWY6WEZXELQ6ZYW25ECVPESDJT4FPBTD7UJ3ZHJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6F433DHK7YR5HPYZNCVKO7TG65JA2LVVJR6J6PPHGI6V7S4KEC4Q/vendor.awsui.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJ6GIN7EXDO3UAYUCYBNNVO7IOEPSKOQSM2ANODBZ2Z2SCVLZ75Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
            "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/initial.9f9adb7d75e8ec87df2d.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
            "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
        ]
    },
    "operations": {
        "DeletePreference": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTXPNAY72FOWIWY6WEZXELQ6ZYW25ECVPESDJT4FPBTD7UJ3ZHJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F433DHK7YR5HPYZNCVKO7TG65JA2LVVJR6J6PPHGI6V7S4KEC4Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ6GIN7EXDO3UAYUCYBNNVO7IOEPSKOQSM2ANODBZ2Z2SCVLZ75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/initial.9f9adb7d75e8ec87df2d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetDefaultRegion": {
            "input": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Region": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTXPNAY72FOWIWY6WEZXELQ6ZYW25ECVPESDJT4FPBTD7UJ3ZHJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F433DHK7YR5HPYZNCVKO7TG65JA2LVVJR6J6PPHGI6V7S4KEC4Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ6GIN7EXDO3UAYUCYBNNVO7IOEPSKOQSM2ANODBZ2Z2SCVLZ75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/initial.9f9adb7d75e8ec87df2d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetPreference": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTXPNAY72FOWIWY6WEZXELQ6ZYW25ECVPESDJT4FPBTD7UJ3ZHJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F433DHK7YR5HPYZNCVKO7TG65JA2LVVJR6J6PPHGI6V7S4KEC4Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ6GIN7EXDO3UAYUCYBNNVO7IOEPSKOQSM2ANODBZ2Z2SCVLZ75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/initial.9f9adb7d75e8ec87df2d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetPreferenceJSON": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTXPNAY72FOWIWY6WEZXELQ6ZYW25ECVPESDJT4FPBTD7UJ3ZHJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F433DHK7YR5HPYZNCVKO7TG65JA2LVVJR6J6PPHGI6V7S4KEC4Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ6GIN7EXDO3UAYUCYBNNVO7IOEPSKOQSM2ANODBZ2Z2SCVLZ75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/initial.9f9adb7d75e8ec87df2d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "SetPreference": {
            "input": {
                "shape": "S7"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTXPNAY72FOWIWY6WEZXELQ6ZYW25ECVPESDJT4FPBTD7UJ3ZHJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F433DHK7YR5HPYZNCVKO7TG65JA2LVVJR6J6PPHGI6V7S4KEC4Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ6GIN7EXDO3UAYUCYBNNVO7IOEPSKOQSM2ANODBZ2Z2SCVLZ75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/initial.9f9adb7d75e8ec87df2d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "SetPreferenceJSON": {
            "input": {
                "shape": "S7"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTXPNAY72FOWIWY6WEZXELQ6ZYW25ECVPESDJT4FPBTD7UJ3ZHJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6J7HBNDRU6XVFVNX4XGN7WQ6HIC5NRTIXBMPY5QJ2TL56IE22VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTKCM7UDJNU2SN5S6PSRWYZCYXZ5ESRMWRYYCTDUGF6T4LZ7GITA/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YT7R4XO7ACF7HQ4GMW57ARFUJRW3JAZMDHSXUJ7NT7MIYJLTAAMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F433DHK7YR5HPYZNCVKO7TG65JA2LVVJR6J6PPHGI6V7S4KEC4Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GOZS7CX5O4GF6AMCC4JZ6UK75GTLVJYM3UCRVVIUNHOIHNVFHGXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ6GIN7EXDO3UAYUCYBNNVO7IOEPSKOQSM2ANODBZ2Z2SCVLZ75Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPXTGJRIAEGKWOQBFBDZ4RHWATS5MMNSQGONKROYHWHOMD7VJ4VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/initial.9f9adb7d75e8ec87df2d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCYPU3QDPXYMF6T7U45DPDER54TVO5EOOWHVT5TWH2U7PTFCUB7Q/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KEDREPRSIVDOBNTUGNTJWLEIPDCRVVJZ5R4IGQA6Q5FHTYGUIM3Q/main.js",
                "https://dd25om75gc08l.cloudfront.net/20241111144622253/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S1": {
            "type": "structure",
            "members": {
                "Partition": {},
                "Name": {},
                "CallingApolloEnvironmentName": {}
            }
        },
        "S3": {
            "type": "structure",
            "members": {
                "Status": {},
                "Preferences": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "Partition": {},
                "Name": {},
                "Value": {},
                "CallingApolloEnvironmentName": {}
            }
        }
    }
}