{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-30",
        "endpointPrefix": "aws-console-userprefs",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "UserPrefs",
        "serviceFullName": "AWSConsoleUserPreferenceService",
        "serviceId": "UserPreference",
        "serviceName": "userprefs",
        "signatureVersion": "v4",
        "signingName": "userprefs",
        "targetPrefix": "AWSConsoleUserPreferenceService",
        "uid": "awsconsoleuserpreferenceservice-2019-09-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LVOX3KB4Y3VJQGSLXEXQVTGVHB4HXVMKVNERB66RDIJY5Z5PFPA/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
            "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.b113f238dce8196b9bd3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.internal.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PZ5FRXN2EL7NHE7IY5S4C3CON32ZPIKKCLMVPKLZPDHORIHCPXQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
            "https://dd25om75gc08l.cloudfront.net/20240829193621218/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7SE3JNHQHGL4E6MMPX7MMXX3TLOIEZZBD6DNHX7FBS4TYW3NKKGQ/chunk2660.js",
            "https://d2ziyq7zksuzai.cloudfront.net/1722008302592/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
        ]
    },
    "operations": {
        "DeletePreference": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LVOX3KB4Y3VJQGSLXEXQVTGVHB4HXVMKVNERB66RDIJY5Z5PFPA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.b113f238dce8196b9bd3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PZ5FRXN2EL7NHE7IY5S4C3CON32ZPIKKCLMVPKLZPDHORIHCPXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://dd25om75gc08l.cloudfront.net/20240829193621218/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SE3JNHQHGL4E6MMPX7MMXX3TLOIEZZBD6DNHX7FBS4TYW3NKKGQ/chunk2660.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1722008302592/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "GetDefaultRegion": {
            "input": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Region": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LVOX3KB4Y3VJQGSLXEXQVTGVHB4HXVMKVNERB66RDIJY5Z5PFPA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.b113f238dce8196b9bd3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PZ5FRXN2EL7NHE7IY5S4C3CON32ZPIKKCLMVPKLZPDHORIHCPXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://dd25om75gc08l.cloudfront.net/20240829193621218/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SE3JNHQHGL4E6MMPX7MMXX3TLOIEZZBD6DNHX7FBS4TYW3NKKGQ/chunk2660.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1722008302592/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "GetPreference": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LVOX3KB4Y3VJQGSLXEXQVTGVHB4HXVMKVNERB66RDIJY5Z5PFPA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.b113f238dce8196b9bd3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PZ5FRXN2EL7NHE7IY5S4C3CON32ZPIKKCLMVPKLZPDHORIHCPXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://dd25om75gc08l.cloudfront.net/20240829193621218/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SE3JNHQHGL4E6MMPX7MMXX3TLOIEZZBD6DNHX7FBS4TYW3NKKGQ/chunk2660.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1722008302592/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "GetPreferenceJSON": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LVOX3KB4Y3VJQGSLXEXQVTGVHB4HXVMKVNERB66RDIJY5Z5PFPA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.b113f238dce8196b9bd3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PZ5FRXN2EL7NHE7IY5S4C3CON32ZPIKKCLMVPKLZPDHORIHCPXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://dd25om75gc08l.cloudfront.net/20240829193621218/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SE3JNHQHGL4E6MMPX7MMXX3TLOIEZZBD6DNHX7FBS4TYW3NKKGQ/chunk2660.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1722008302592/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "SetPreference": {
            "input": {
                "shape": "S7"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LVOX3KB4Y3VJQGSLXEXQVTGVHB4HXVMKVNERB66RDIJY5Z5PFPA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.b113f238dce8196b9bd3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PZ5FRXN2EL7NHE7IY5S4C3CON32ZPIKKCLMVPKLZPDHORIHCPXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://dd25om75gc08l.cloudfront.net/20240829193621218/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SE3JNHQHGL4E6MMPX7MMXX3TLOIEZZBD6DNHX7FBS4TYW3NKKGQ/chunk2660.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1722008302592/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "SetPreferenceJSON": {
            "input": {
                "shape": "S7"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BCBRP6XI3STQIDQLMYNVHH4SCFUASGRCUO3YPRIFQQN3ZUN574Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY34HPU3PPRZSR7IYLFED42WKQLNYEIVN3D5NTDE2IFJOKVCCFEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LVOX3KB4Y3VJQGSLXEXQVTGVHB4HXVMKVNERB66RDIJY5Z5PFPA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.b113f238dce8196b9bd3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IHRWFGQCKLDQX5J5FNJRUE3H3QAZOX3PPTMNRXGNE5BAQTNG6AQ/vendors.internal.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PZ5FRXN2EL7NHE7IY5S4C3CON32ZPIKKCLMVPKLZPDHORIHCPXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://dd25om75gc08l.cloudfront.net/20240829193621218/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7SE3JNHQHGL4E6MMPX7MMXX3TLOIEZZBD6DNHX7FBS4TYW3NKKGQ/chunk2660.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1722008302592/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S1": {
            "type": "structure",
            "members": {
                "Partition": {},
                "Name": {},
                "CallingApolloEnvironmentName": {}
            }
        },
        "S3": {
            "type": "structure",
            "members": {
                "Status": {},
                "Preferences": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "Partition": {},
                "Name": {},
                "Value": {},
                "CallingApolloEnvironmentName": {}
            }
        }
    }
}