{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-30",
        "endpointPrefix": "aws-console-userprefs",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "UserPrefs",
        "serviceFullName": "AWSConsoleUserPreferenceService",
        "serviceId": "UserPreference",
        "serviceName": "userprefs",
        "signatureVersion": "v4",
        "signingName": "userprefs",
        "targetPrefix": "AWSConsoleUserPreferenceService",
        "uid": "awsconsoleuserpreferenceservice-2019-09-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4OTQE6MIPQXAKJ7LJOO5W2I3IBKC7FWUPNXZC2X5JKYRXPJ4KVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TVZXOUMFGHXBCN2TMBUKDUESX5TQTXO7JBMEE4T4644LEDJFVQ6A/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
            "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.1f454d7972c2b86ae3af.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5YWPQF6J2GO7ICI56ZZSAQW5XVFVTBSCNB5PIW2VIPKFEILMPAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
            "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
            "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
            "https://d2ziyq7zksuzai.cloudfront.net/1722008302592/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
        ]
    },
    "operations": {
        "DeletePreference": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4OTQE6MIPQXAKJ7LJOO5W2I3IBKC7FWUPNXZC2X5JKYRXPJ4KVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVZXOUMFGHXBCN2TMBUKDUESX5TQTXO7JBMEE4T4644LEDJFVQ6A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.1f454d7972c2b86ae3af.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5YWPQF6J2GO7ICI56ZZSAQW5XVFVTBSCNB5PIW2VIPKFEILMPAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1722008302592/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "GetDefaultRegion": {
            "input": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Region": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4OTQE6MIPQXAKJ7LJOO5W2I3IBKC7FWUPNXZC2X5JKYRXPJ4KVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVZXOUMFGHXBCN2TMBUKDUESX5TQTXO7JBMEE4T4644LEDJFVQ6A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.1f454d7972c2b86ae3af.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5YWPQF6J2GO7ICI56ZZSAQW5XVFVTBSCNB5PIW2VIPKFEILMPAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1722008302592/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "GetPreference": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4OTQE6MIPQXAKJ7LJOO5W2I3IBKC7FWUPNXZC2X5JKYRXPJ4KVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVZXOUMFGHXBCN2TMBUKDUESX5TQTXO7JBMEE4T4644LEDJFVQ6A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.1f454d7972c2b86ae3af.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5YWPQF6J2GO7ICI56ZZSAQW5XVFVTBSCNB5PIW2VIPKFEILMPAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1722008302592/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "GetPreferenceJSON": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4OTQE6MIPQXAKJ7LJOO5W2I3IBKC7FWUPNXZC2X5JKYRXPJ4KVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVZXOUMFGHXBCN2TMBUKDUESX5TQTXO7JBMEE4T4644LEDJFVQ6A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.1f454d7972c2b86ae3af.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5YWPQF6J2GO7ICI56ZZSAQW5XVFVTBSCNB5PIW2VIPKFEILMPAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1722008302592/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "SetPreference": {
            "input": {
                "shape": "S7"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4OTQE6MIPQXAKJ7LJOO5W2I3IBKC7FWUPNXZC2X5JKYRXPJ4KVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVZXOUMFGHXBCN2TMBUKDUESX5TQTXO7JBMEE4T4644LEDJFVQ6A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.1f454d7972c2b86ae3af.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5YWPQF6J2GO7ICI56ZZSAQW5XVFVTBSCNB5PIW2VIPKFEILMPAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1722008302592/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "SetPreferenceJSON": {
            "input": {
                "shape": "S7"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F7KJKGWYC3O2WVIE64A6SMJS7JT7FNKRQBZJ6QE5UZZT4TVZUKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4OTQE6MIPQXAKJ7LJOO5W2I3IBKC7FWUPNXZC2X5JKYRXPJ4KVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3JMWWM2BMYO22XC27QHHSEV6ROX6L5T6YDKXINMISR6V4QM36XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MET7VJXSZ4ENX5WAPLFGVDRLU477LVELEZ3NOLYBDANBPQR5A44Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVZXOUMFGHXBCN2TMBUKDUESX5TQTXO7JBMEE4T4644LEDJFVQ6A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.1f454d7972c2b86ae3af.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PAQPPNDL6R4ZWCZ5SQUIVARC3T2NDMS64IZSMYZDICXCOXAGXWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T2YTZ4CCTXDFWOFBW4LZPMKVU322E6BE2DD55DLUVVRYEWIXZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5YWPQF6J2GO7ICI56ZZSAQW5XVFVTBSCNB5PIW2VIPKFEILMPAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IKB6OBK7DEENVH5J4P6P6B2UWIFEB2HEFV66QXXRL3YEGOXDJKGA/main.js",
                "https://dd25om75gc08l.cloudfront.net/20240814173014790/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1722008302592/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S1": {
            "type": "structure",
            "members": {
                "Partition": {},
                "Name": {},
                "CallingApolloEnvironmentName": {}
            }
        },
        "S3": {
            "type": "structure",
            "members": {
                "Status": {},
                "Preferences": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "Partition": {},
                "Name": {},
                "Value": {},
                "CallingApolloEnvironmentName": {}
            }
        }
    }
}