{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-04-18",
        "endpointPrefix": "AWSCognitoSyncService",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWSCognitoSyncService",
        "serviceId": "Cognito Sync",
        "signatureVersion": "v4",
        "signingName": "cognito-sync",
        "uid": "AWSCognitoSyncService-2016-04-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/F5DLBNKVBLYK7T55YV6EUIK7TTPPFWQE5HVWACXEZTVYG57LMO4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
        ]
    },
    "operations": {
        "BulkPublish": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/bulkpublish",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "DeleteDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dataset": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "DescribeDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dataset": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "DescribeIdentityPoolUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolUsage": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "DescribeIdentityUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityUsage": {
                        "type": "structure",
                        "members": {
                            "IdentityId": {},
                            "IdentityPoolId": {},
                            "LastModifiedDate": {
                                "type": "timestamp"
                            },
                            "DatasetCount": {
                                "type": "integer"
                            },
                            "DataStorage": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "GetBulkPublishDetails": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/getBulkPublishDetails",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "BulkPublishStartTime": {
                        "type": "timestamp"
                    },
                    "BulkPublishCompleteTime": {
                        "type": "timestamp"
                    },
                    "BulkPublishStatus": {},
                    "FailureMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "GetCognitoEvents": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/events",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Events": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "GetIdentityPoolConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "PushSync": {
                        "shape": "Sy"
                    },
                    "CognitoStreams": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "ListDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Datasets": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    },
                    "Count": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "ListIdentityPoolUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolUsages": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Count": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "ListRecords": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/records",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "LastSyncCount": {
                        "location": "querystring",
                        "locationName": "lastSyncCount"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults"
                    },
                    "SyncSessionToken": {
                        "location": "querystring",
                        "locationName": "syncSessionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "shape": "S1g"
                    },
                    "NextToken": {},
                    "Count": {
                        "type": "integer"
                    },
                    "DatasetSyncCount": {
                        "type": "long"
                    },
                    "LastModifiedBy": {},
                    "MergedDatasetNames": {
                        "type": "list",
                        "member": {}
                    },
                    "DatasetExists": {
                        "type": "boolean"
                    },
                    "DatasetDeletedAfterRequestedSyncCount": {
                        "type": "boolean"
                    },
                    "SyncSessionToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "QueryRecords": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/query",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityAlias": {},
                    "DatasetName": {},
                    "FieldsToGet": {
                        "shape": "S1o"
                    },
                    "QueryExpression": {},
                    "QueryExpressionValues": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "OrderBy": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Field": {},
                                "SortOrder": {}
                            }
                        }
                    },
                    "GroupBy": {
                        "shape": "S1o"
                    },
                    "Aggregations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "Field": {}
                            }
                        }
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityAlias": {},
                                "Key": {},
                                "Value": {}
                            }
                        }
                    },
                    "AggregateRecords": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "RegisterDevice": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identity/{IdentityId}/device",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "Platform",
                    "Token"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "Platform": {},
                    "Token": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeviceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "SetCognitoEvents": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/events",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Events"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "Events": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "SetDatasetConfiguration": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "Type": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Type": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "SetIdentityPoolConfiguration": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "PushSync": {
                        "shape": "Sy"
                    },
                    "CognitoStreams": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "PushSync": {
                        "shape": "Sy"
                    },
                    "CognitoStreams": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "SubscribeToDataset": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "DeviceId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {
                        "location": "uri",
                        "locationName": "DeviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "UnsubscribeFromDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "DeviceId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {
                        "location": "uri",
                        "locationName": "DeviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "UpdateRecords": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "SyncSessionToken"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {},
                    "RecordPatches": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Op",
                                "Key",
                                "SyncCount"
                            ],
                            "members": {
                                "Op": {},
                                "Key": {},
                                "Value": {},
                                "SyncCount": {
                                    "type": "long"
                                },
                                "DeviceLastModifiedDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "SyncSessionToken": {},
                    "ClientContext": {
                        "location": "header",
                        "locationName": "x-amz-Client-Context"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S8": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "DatasetName": {},
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                },
                "LastModifiedBy": {},
                "DataStorage": {
                    "type": "long"
                },
                "NumRecords": {
                    "type": "long"
                },
                "Type": {
                    "shape": "Sc"
                }
            }
        },
        "Sc": {
            "type": "structure",
            "members": {
                "Visibility": {},
                "Queryable": {
                    "type": "boolean"
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "IdentityPoolId": {},
                "SyncSessionsCount": {
                    "type": "long"
                },
                "DataStorage": {
                    "type": "long"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "St": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sy": {
            "type": "structure",
            "members": {
                "ApplicationArns": {
                    "type": "list",
                    "member": {}
                },
                "RoleArn": {}
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "StreamName": {},
                "RoleArn": {},
                "StreamingStatus": {},
                "DisabledReason": {}
            }
        },
        "S1g": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Key": {},
                    "Value": {},
                    "SyncCount": {
                        "type": "long"
                    },
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "LastModifiedBy": {},
                    "DeviceLastModifiedDate": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "S1o": {
            "type": "list",
            "member": {}
        }
    }
}