{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-30",
        "endpointPrefix": "aws-console-userprefs",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "UserPrefs",
        "serviceFullName": "AWSConsoleUserPreferenceService",
        "serviceId": "UserPreference",
        "serviceName": "userprefs",
        "signatureVersion": "v4",
        "signingName": "userprefs",
        "targetPrefix": "AWSConsoleUserPreferenceService",
        "uid": "awsconsoleuserpreferenceservice-2019-09-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2IEMUD6WKSUYU54XHAG2J6OLRQSRFKCFNTR4BJ7DNEZL45XEQ6FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6G4535GZ5SLFF273TABWUMVFOCHXKL327VTOGS3NSVVR44TNEKA/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BW6CBPLRJC5QPJBOUSNYXV4WECYZQBOW56B75Z56CSHC4XFPSZUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZOBZ7EFST64JTKGC2JMNGUORSC2LEEUYUAEXSST3ALVITUMFTEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
            "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.9ca221f54a3b067fb35f.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
            "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
            "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
            "https://d2ziyq7zksuzai.cloudfront.net/1713930935343/main.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
        ]
    },
    "operations": {
        "DeletePreference": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IEMUD6WKSUYU54XHAG2J6OLRQSRFKCFNTR4BJ7DNEZL45XEQ6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6G4535GZ5SLFF273TABWUMVFOCHXKL327VTOGS3NSVVR44TNEKA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BW6CBPLRJC5QPJBOUSNYXV4WECYZQBOW56B75Z56CSHC4XFPSZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZOBZ7EFST64JTKGC2JMNGUORSC2LEEUYUAEXSST3ALVITUMFTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.9ca221f54a3b067fb35f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1713930935343/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "GetDefaultRegion": {
            "input": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Region": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IEMUD6WKSUYU54XHAG2J6OLRQSRFKCFNTR4BJ7DNEZL45XEQ6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6G4535GZ5SLFF273TABWUMVFOCHXKL327VTOGS3NSVVR44TNEKA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BW6CBPLRJC5QPJBOUSNYXV4WECYZQBOW56B75Z56CSHC4XFPSZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZOBZ7EFST64JTKGC2JMNGUORSC2LEEUYUAEXSST3ALVITUMFTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.9ca221f54a3b067fb35f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1713930935343/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "GetPreference": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IEMUD6WKSUYU54XHAG2J6OLRQSRFKCFNTR4BJ7DNEZL45XEQ6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6G4535GZ5SLFF273TABWUMVFOCHXKL327VTOGS3NSVVR44TNEKA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BW6CBPLRJC5QPJBOUSNYXV4WECYZQBOW56B75Z56CSHC4XFPSZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZOBZ7EFST64JTKGC2JMNGUORSC2LEEUYUAEXSST3ALVITUMFTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.9ca221f54a3b067fb35f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1713930935343/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "GetPreferenceJSON": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IEMUD6WKSUYU54XHAG2J6OLRQSRFKCFNTR4BJ7DNEZL45XEQ6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6G4535GZ5SLFF273TABWUMVFOCHXKL327VTOGS3NSVVR44TNEKA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BW6CBPLRJC5QPJBOUSNYXV4WECYZQBOW56B75Z56CSHC4XFPSZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZOBZ7EFST64JTKGC2JMNGUORSC2LEEUYUAEXSST3ALVITUMFTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.9ca221f54a3b067fb35f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1713930935343/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "SetPreference": {
            "input": {
                "shape": "S7"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IEMUD6WKSUYU54XHAG2J6OLRQSRFKCFNTR4BJ7DNEZL45XEQ6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6G4535GZ5SLFF273TABWUMVFOCHXKL327VTOGS3NSVVR44TNEKA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BW6CBPLRJC5QPJBOUSNYXV4WECYZQBOW56B75Z56CSHC4XFPSZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZOBZ7EFST64JTKGC2JMNGUORSC2LEEUYUAEXSST3ALVITUMFTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.9ca221f54a3b067fb35f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1713930935343/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "SetPreferenceJSON": {
            "input": {
                "shape": "S7"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IEMUD6WKSUYU54XHAG2J6OLRQSRFKCFNTR4BJ7DNEZL45XEQ6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DW6JV52L3DRNATPIG2N2F4UPS7LVNZLBJE534RDDTSPOU7H7A/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OLNONIYJMLQ42HEXYM5IULHPA5KNLQDJXMINEHIZ7GSIWYB5DUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6G4535GZ5SLFF273TABWUMVFOCHXKL327VTOGS3NSVVR44TNEKA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BW6CBPLRJC5QPJBOUSNYXV4WECYZQBOW56B75Z56CSHC4XFPSZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZOBZ7EFST64JTKGC2JMNGUORSC2LEEUYUAEXSST3ALVITUMFTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSQWZJAVT23WM3TZMKPAR7H5TK644ETOF7JVZGSL2HN54GPHESFA/vendors.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.9ca221f54a3b067fb35f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTB7GZ37TJAZZMW7MXO2VGY6HHYPOB5ASIEQ4N464WTK6NMZ4D2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWVQDWKJAZC647WFQMC2EICZQSXVXWBVROHWQV5T5SP5BHDHLVA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20240429145000784/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1713930935343/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        }
    },
    "shapes": {
        "S1": {
            "type": "structure",
            "members": {
                "Partition": {},
                "Name": {},
                "CallingApolloEnvironmentName": {}
            }
        },
        "S3": {
            "type": "structure",
            "members": {
                "Status": {},
                "Preferences": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "Partition": {},
                "Name": {},
                "Value": {},
                "CallingApolloEnvironmentName": {}
            }
        }
    }
}