{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-04-18",
        "endpointPrefix": "AWSCognitoSyncService",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWSCognitoSyncService",
        "serviceId": "Cognito Sync",
        "signatureVersion": "v4",
        "signingName": "cognito-sync",
        "uid": "AWSCognitoSyncService-2016-04-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
        ]
    },
    "operations": {
        "BulkPublish": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/bulkpublish",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "DeleteDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dataset": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "DescribeDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dataset": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "DescribeIdentityPoolUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolUsage": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "DescribeIdentityUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityUsage": {
                        "type": "structure",
                        "members": {
                            "IdentityId": {},
                            "IdentityPoolId": {},
                            "LastModifiedDate": {
                                "type": "timestamp"
                            },
                            "DatasetCount": {
                                "type": "integer"
                            },
                            "DataStorage": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "GetBulkPublishDetails": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/getBulkPublishDetails",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "BulkPublishStartTime": {
                        "type": "timestamp"
                    },
                    "BulkPublishCompleteTime": {
                        "type": "timestamp"
                    },
                    "BulkPublishStatus": {},
                    "FailureMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "GetCognitoEvents": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/events",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Events": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "GetIdentityPoolConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "PushSync": {
                        "shape": "Sy"
                    },
                    "CognitoStreams": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "ListDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Datasets": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    },
                    "Count": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "ListIdentityPoolUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolUsages": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Count": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "ListRecords": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/records",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "LastSyncCount": {
                        "location": "querystring",
                        "locationName": "lastSyncCount"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults"
                    },
                    "SyncSessionToken": {
                        "location": "querystring",
                        "locationName": "syncSessionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "shape": "S1g"
                    },
                    "NextToken": {},
                    "Count": {
                        "type": "integer"
                    },
                    "DatasetSyncCount": {
                        "type": "long"
                    },
                    "LastModifiedBy": {},
                    "MergedDatasetNames": {
                        "type": "list",
                        "member": {}
                    },
                    "DatasetExists": {
                        "type": "boolean"
                    },
                    "DatasetDeletedAfterRequestedSyncCount": {
                        "type": "boolean"
                    },
                    "SyncSessionToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "QueryRecords": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/query",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityAlias": {},
                    "DatasetName": {},
                    "FieldsToGet": {
                        "shape": "S1o"
                    },
                    "QueryExpression": {},
                    "QueryExpressionValues": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "OrderBy": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Field": {},
                                "SortOrder": {}
                            }
                        }
                    },
                    "GroupBy": {
                        "shape": "S1o"
                    },
                    "Aggregations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "Field": {}
                            }
                        }
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityAlias": {},
                                "Key": {},
                                "Value": {}
                            }
                        }
                    },
                    "AggregateRecords": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "RegisterDevice": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identity/{IdentityId}/device",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "Platform",
                    "Token"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "Platform": {},
                    "Token": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeviceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "SetCognitoEvents": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/events",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Events"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "Events": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "SetDatasetConfiguration": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "Type": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Type": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "SetIdentityPoolConfiguration": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "PushSync": {
                        "shape": "Sy"
                    },
                    "CognitoStreams": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "PushSync": {
                        "shape": "Sy"
                    },
                    "CognitoStreams": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "SubscribeToDataset": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "DeviceId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {
                        "location": "uri",
                        "locationName": "DeviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "UnsubscribeFromDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "DeviceId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {
                        "location": "uri",
                        "locationName": "DeviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        },
        "UpdateRecords": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "SyncSessionToken"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {},
                    "RecordPatches": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Op",
                                "Key",
                                "SyncCount"
                            ],
                            "members": {
                                "Op": {},
                                "Key": {},
                                "Value": {},
                                "SyncCount": {
                                    "type": "long"
                                },
                                "DeviceLastModifiedDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "SyncSessionToken": {},
                    "ClientContext": {
                        "location": "header",
                        "locationName": "x-amz-Client-Context"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6AYWES22PKE6VCHVCKY4LBOU3IOM6VATDBK67H4ZXT6EU7BI6UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HDMPIUA7P5BX6EUNRKVC5XEZC54DPRY6SHPMDGU2F6GEBLECCSKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MXX5WOT6SG3Y7GDLZDHQQQLEWV3CCQCLJLHSHMVLDTSNCFRZR7NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S8": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "DatasetName": {},
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                },
                "LastModifiedBy": {},
                "DataStorage": {
                    "type": "long"
                },
                "NumRecords": {
                    "type": "long"
                },
                "Type": {
                    "shape": "Sc"
                }
            }
        },
        "Sc": {
            "type": "structure",
            "members": {
                "Visibility": {},
                "Queryable": {
                    "type": "boolean"
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "IdentityPoolId": {},
                "SyncSessionsCount": {
                    "type": "long"
                },
                "DataStorage": {
                    "type": "long"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "St": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sy": {
            "type": "structure",
            "members": {
                "ApplicationArns": {
                    "type": "list",
                    "member": {}
                },
                "RoleArn": {}
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "StreamName": {},
                "RoleArn": {},
                "StreamingStatus": {},
                "DisabledReason": {}
            }
        },
        "S1g": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Key": {},
                    "Value": {},
                    "SyncCount": {
                        "type": "long"
                    },
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "LastModifiedBy": {},
                    "DeviceLastModifiedDate": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "S1o": {
            "type": "list",
            "member": {}
        }
    }
}