{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-04-18",
        "endpointPrefix": "AWSCognitoIdentityService",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWSCognitoIdentityServiceWithAnalytics",
        "serviceId": "Cognito Identity",
        "signatureVersion": "v4",
        "signingName": "cognito-identity",
        "targetPrefix": "AWSCognitoIdentityServiceWithAnalytics",
        "uid": "AWSCognitoIdentityService-2016-04-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQ4JOXY6NCKTKPWGD3NODJ5V454B6WBAEWOEAT2VK2U4A36HORZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
        ]
    },
    "operations": {
        "CreateIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolName",
                    "AllowUnauthenticatedIdentities"
                ],
                "members": {
                    "IdentityPoolName": {},
                    "AllowUnauthenticatedIdentities": {
                        "type": "boolean"
                    },
                    "AllowClassicFlow": {
                        "type": "boolean"
                    },
                    "SupportedLoginProviders": {
                        "shape": "S5"
                    },
                    "DeveloperProviderName": {},
                    "OpenIdConnectProviderARNs": {
                        "shape": "S9"
                    },
                    "CognitoIdentityProviders": {
                        "shape": "Sb"
                    },
                    "SamlProviderARNs": {
                        "shape": "Sg"
                    },
                    "IdentityPoolTags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "DeleteAccountStatusCacheKey": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSAccountId"
                ],
                "members": {
                    "AWSAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFRRTIZNAOKCG3TW372UX75AOZUVHI24AUU2UTVRKZ7LXBWFQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z373FKJRSAW5H53W6POVFIWDRIVUAQTP4V2NL2COWA7UULEGACIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFJU6IHSESPTPNWEMZT4T67VAPVABXYJTV4PIKNPJ6VXTQKGBS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLAZHIDYAHB3MZ6562XU6MEC6XUH6TGPSZDBA4O6HZ6EMQQOWZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZHRDNBEQRLFGNSGYJMHQNTNK7HSWV4QUBO3ZKAI35EY77WLUUOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QLQEM7ISDWJP3BLCU6GVQQGF7HPQRTFR4WHG2OVKM7URSEBAPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2J6BFRGX4TI626WKRCA7DK6JSCOFKDIJDTIK5LNSEXKN4EIX2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CUOCYKW45ZHQSA5FM26CJ3C6AAJZAZUMR2KDSOOTCGD4XAIVGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DONWWFD57TZJBWXTD7UIHBTK52Z2VPARH7RK2OMA6LD6D7GV5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBITSOSFCRX2M5FDUIEUZGBWAPXAWHHH6YTBXTJVOKRFIUF2XYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYQ57VC4JL25MSPKRATMDRG4IHD3RL42KR7WDJO6EEVDNDYPEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R56UWLKCGCSEI5G3DFBNRQTE3BIJIO3U4IGWAX46KIFSPELVLWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYX62PGXZ62XVE35FW67TKDCFEJFOXJYWRVMYWSYTY2XR6WCCCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUIL7IDIPHYOFACHNZRPAPXGCSSEHRK3K2SXK47IZQD6XL5YOJOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB7MJJBNNBQ2E5JGHO52GURDUEDKJUEHKSNCKVZ4JATCOACMXEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAPR46ECYZZ5AGDB74R63AZWLTR4UQ4XABDIUBC4QFLQJ7CTCURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ZITSDPVQJBNPXJMEU6ZO7VLZSFI6WJ7DEMVKJ6ZCS2XKILCNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5KDHHQEUWC7E6GWAN7IXWYPSMBA3VSAZDTSOEHQ3NCWEGQ7I4RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEIW2VDGJCYYMKGIW642OC63PEGKEBQ6CGPOYWKDKFMLOO4ZPVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBC5AEKGDN7MXL4GRMGT4NEX76MS6YVYFIDYFKX2I43NBXBZMHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVZFPEDETCJT34SZHYR5L4AELX7XLIZD2UPYE2MDMLOWBOOLOY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZXWKSB43I5VTMTJSRQLNUDYLC3OSN3OCBAMTWZ54MN2FDVYFAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZ44LE4QSLAHISGNX66CTO6QVURGNNRWGFGBMCKUTBR6TUWLZWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5DLBNKVBLYK7T55YV6EUIK7TTPPFWQE5HVWACXEZTVYG57LMO4Q/vendors.js"
            ]
        },
        "DeleteIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityIdsToDelete"
                ],
                "members": {
                    "IdentityIdsToDelete": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnprocessedIdentityIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityId": {},
                                "ErrorCode": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "DeleteIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "DescribeIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {}
                }
            },
            "output": {
                "shape": "Sz"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "DescribeIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "GetCredentialsForIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S13"
                    },
                    "CustomRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Credentials": {
                        "type": "structure",
                        "members": {
                            "AccessKeyId": {},
                            "SecretKey": {},
                            "SessionToken": {},
                            "Expiration": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "GetId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "AccountId": {},
                    "IdentityPoolId": {},
                    "Logins": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "GetIdentityPoolAnalytics": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "TotalIdentityCount": {
                        "type": "long"
                    },
                    "IdentityAnalyticsList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityProviderId": {},
                                "IdentityCount": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "GetIdentityPoolDailyAnalytics": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "StartDay": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityPoolDailyIdentities": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "GetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1p"
                    },
                    "RoleMappings": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "GetIdentityProviderDailyAnalytics": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderId": {},
                    "StartDay": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderId": {},
                    "IdentityProviderDailyIdentities": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "GetOpenIdToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "GetOpenIdTokenForDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Logins"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S13"
                    },
                    "PrincipalTags": {
                        "shape": "S27"
                    },
                    "TokenDuration": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "GetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "ListIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "MaxResults"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "HideDisabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Identities": {
                        "type": "list",
                        "member": {
                            "shape": "Sz"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "ListIdentityPools": {
            "input": {
                "type": "structure",
                "required": [
                    "MaxResults"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityPoolId": {},
                                "IdentityPoolName": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastModifiedDate": {
                                    "type": "timestamp"
                                },
                                "IdentityPoolArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "LookupDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "DeveloperUserIdentifier": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "DeveloperUserIdentifierList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "MergeDeveloperIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceUserIdentifier",
                    "DestinationUserIdentifier",
                    "DeveloperProviderName",
                    "IdentityPoolId"
                ],
                "members": {
                    "SourceUserIdentifier": {},
                    "DestinationUserIdentifier": {},
                    "DeveloperProviderName": {},
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "SetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Roles"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1p"
                    },
                    "RoleMappings": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "SetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "UnlinkDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId",
                    "DeveloperProviderName",
                    "DeveloperUserIdentifier"
                ],
                "members": {
                    "IdentityId": {},
                    "IdentityPoolId": {},
                    "DeveloperProviderName": {},
                    "DeveloperUserIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "UnlinkIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "Logins",
                    "LoginsToRemove"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S13"
                    },
                    "LoginsToRemove": {
                        "shape": "S10"
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJLFSE6AWNAOHAARAEQKVXGH6DVMGBJKI3BNSE6MVRPNQ2ZS5MFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DF4GP6XYB27Q5QLQ4KR234WNCIRLDKPDTUNG72USXW2CPTD5MMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQOD52FX5UPPASRU4IM773J2GU5II57T4K6BHWRXUD5B5VXKMSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWIZT57RZ2JMXD3765B23O32OJ4XXGVXXVBPB3AQ224MICOBG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBHBM6XEY7ETG6IF7E5BTVY52ZMTFDUKD4XQXVTKKNRA2U42H7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX4PGTNB632QVP74PCGEOMWWORMEP3BHFR6YVA3R6SUBXP2ZSI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PI74EWNSWIEU3BJ3WK2WWT4AY5BPDP3OJHDX56IU2LY3CUE3DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FQ7VZ7URHRGH5ZFGN65YUVAAIJQRMI74GZBYJSAZHO4Q4UTAEJ5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WDDBVIQSOLCH45LARQ4MHG6NOADS4LTFZ6PSEQ23JY7XQJWXTOQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OZ56MNTF2GGZJJHRNOJA2GLJJQ3YY3RQE5DNNZAMYXVBVVFK57JQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FSBKQZKVMK3EQ74I5L6FAKWZPT3J6NNDJA4UO4SWM466WVKC2HFA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33MCTNXF5DFJYPHLXEP3MPY3N7CQOO2GFEHXRO6RGKXVZY77H4UA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EJVJ33MDQD5X44X2ZINZKEUWJIGNJECSNUOYVHRF6F5Z4WTXQCNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMG7RVZTSI6CIGJZBWZDTHTYUAZEGXZATMHZF47R7Z5G7RPAAAKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QGFFTIPUUHRDBEVP5WXHTHH7YJRK2KLAMPITH7WBHDKZYKRKXCGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OWW6ITHJY467RBQRYTO4VSUKIJ6SKDLJ2RSOHHTR4RT3XYZL7QVA/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4SBWWVYUXCQEPSXDAAFMMZWVNJWQYDICL4EBPQKGFYXFKIYFVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2ZISR4B7JP4S3FAGGVFMPNWIEBKFBNHG3MOWDVQ5CEWJG2OSA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQVEFBFEFLOG6SJHINU2EYKFENUPLQZTLYYAO37DAWSZWAD7P3VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6SWUMXHWS7OERU2UZNENV2RPP6RSEDV72MAKBCUPF2AFMKFR5YMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22QHLAWP6Q5ALMCPKXEE624MUWDKRDNNCLTWQP5NMWKTCHELUD4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFSGH7SYOUFCYA6JRP2ZAPMPPQTNC3QKYMF6FVGUKD7MTENVGOVQ/vendors.js",
[...]
