{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-04-18",
        "endpointPrefix": "AWSCognitoIdentityService",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWSCognitoIdentityServiceWithAnalytics",
        "serviceId": "Cognito Identity",
        "signatureVersion": "v4",
        "signingName": "cognito-identity",
        "targetPrefix": "AWSCognitoIdentityServiceWithAnalytics",
        "uid": "AWSCognitoIdentityService-2016-04-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/F5DLBNKVBLYK7T55YV6EUIK7TTPPFWQE5HVWACXEZTVYG57LMO4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
        ]
    },
    "operations": {
        "CreateIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolName",
                    "AllowUnauthenticatedIdentities"
                ],
                "members": {
                    "IdentityPoolName": {},
                    "AllowUnauthenticatedIdentities": {
                        "type": "boolean"
                    },
                    "AllowClassicFlow": {
                        "type": "boolean"
                    },
                    "SupportedLoginProviders": {
                        "shape": "S5"
                    },
                    "DeveloperProviderName": {},
                    "OpenIdConnectProviderARNs": {
                        "shape": "S9"
                    },
                    "CognitoIdentityProviders": {
                        "shape": "Sb"
                    },
                    "SamlProviderARNs": {
                        "shape": "Sg"
                    },
                    "IdentityPoolTags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "DeleteAccountStatusCacheKey": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSAccountId"
                ],
                "members": {
                    "AWSAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFRRTIZNAOKCG3TW372UX75AOZUVHI24AUU2UTVRKZ7LXBWFQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z373FKJRSAW5H53W6POVFIWDRIVUAQTP4V2NL2COWA7UULEGACIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFJU6IHSESPTPNWEMZT4T67VAPVABXYJTV4PIKNPJ6VXTQKGBS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLAZHIDYAHB3MZ6562XU6MEC6XUH6TGPSZDBA4O6HZ6EMQQOWZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZHRDNBEQRLFGNSGYJMHQNTNK7HSWV4QUBO3ZKAI35EY77WLUUOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QLQEM7ISDWJP3BLCU6GVQQGF7HPQRTFR4WHG2OVKM7URSEBAPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2J6BFRGX4TI626WKRCA7DK6JSCOFKDIJDTIK5LNSEXKN4EIX2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CUOCYKW45ZHQSA5FM26CJ3C6AAJZAZUMR2KDSOOTCGD4XAIVGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DONWWFD57TZJBWXTD7UIHBTK52Z2VPARH7RK2OMA6LD6D7GV5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBITSOSFCRX2M5FDUIEUZGBWAPXAWHHH6YTBXTJVOKRFIUF2XYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYQ57VC4JL25MSPKRATMDRG4IHD3RL42KR7WDJO6EEVDNDYPEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R56UWLKCGCSEI5G3DFBNRQTE3BIJIO3U4IGWAX46KIFSPELVLWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYX62PGXZ62XVE35FW67TKDCFEJFOXJYWRVMYWSYTY2XR6WCCCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUIL7IDIPHYOFACHNZRPAPXGCSSEHRK3K2SXK47IZQD6XL5YOJOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB7MJJBNNBQ2E5JGHO52GURDUEDKJUEHKSNCKVZ4JATCOACMXEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAPR46ECYZZ5AGDB74R63AZWLTR4UQ4XABDIUBC4QFLQJ7CTCURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ZITSDPVQJBNPXJMEU6ZO7VLZSFI6WJ7DEMVKJ6ZCS2XKILCNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5KDHHQEUWC7E6GWAN7IXWYPSMBA3VSAZDTSOEHQ3NCWEGQ7I4RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEIW2VDGJCYYMKGIW642OC63PEGKEBQ6CGPOYWKDKFMLOO4ZPVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBC5AEKGDN7MXL4GRMGT4NEX76MS6YVYFIDYFKX2I43NBXBZMHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVZFPEDETCJT34SZHYR5L4AELX7XLIZD2UPYE2MDMLOWBOOLOY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZXWKSB43I5VTMTJSRQLNUDYLC3OSN3OCBAMTWZ54MN2FDVYFAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZ44LE4QSLAHISGNX66CTO6QVURGNNRWGFGBMCKUTBR6TUWLZWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5DLBNKVBLYK7T55YV6EUIK7TTPPFWQE5HVWACXEZTVYG57LMO4Q/vendors.js"
            ]
        },
        "DeleteIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityIdsToDelete"
                ],
                "members": {
                    "IdentityIdsToDelete": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnprocessedIdentityIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityId": {},
                                "ErrorCode": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "DeleteIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "DescribeIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {}
                }
            },
            "output": {
                "shape": "Sz"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "DescribeIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "GetCredentialsForIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S13"
                    },
                    "CustomRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Credentials": {
                        "type": "structure",
                        "members": {
                            "AccessKeyId": {},
                            "SecretKey": {},
                            "SessionToken": {},
                            "Expiration": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "GetId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "AccountId": {},
                    "IdentityPoolId": {},
                    "Logins": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "GetIdentityPoolAnalytics": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "TotalIdentityCount": {
                        "type": "long"
                    },
                    "IdentityAnalyticsList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityProviderId": {},
                                "IdentityCount": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "GetIdentityPoolDailyAnalytics": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "StartDay": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityPoolDailyIdentities": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "GetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1p"
                    },
                    "RoleMappings": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "GetIdentityProviderDailyAnalytics": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderId": {},
                    "StartDay": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderId": {},
                    "IdentityProviderDailyIdentities": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "GetOpenIdToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "GetOpenIdTokenForDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Logins"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S13"
                    },
                    "PrincipalTags": {
                        "shape": "S27"
                    },
                    "TokenDuration": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "GetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "ListIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "MaxResults"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "HideDisabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Identities": {
                        "type": "list",
                        "member": {
                            "shape": "Sz"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "ListIdentityPools": {
            "input": {
                "type": "structure",
                "required": [
                    "MaxResults"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityPoolId": {},
                                "IdentityPoolName": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastModifiedDate": {
                                    "type": "timestamp"
                                },
                                "IdentityPoolArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "LookupDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "DeveloperUserIdentifier": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "DeveloperUserIdentifierList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "MergeDeveloperIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceUserIdentifier",
                    "DestinationUserIdentifier",
                    "DeveloperProviderName",
                    "IdentityPoolId"
                ],
                "members": {
                    "SourceUserIdentifier": {},
                    "DestinationUserIdentifier": {},
                    "DeveloperProviderName": {},
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "SetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Roles"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1p"
                    },
                    "RoleMappings": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "SetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "UnlinkDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId",
                    "DeveloperProviderName",
                    "DeveloperUserIdentifier"
                ],
                "members": {
                    "IdentityId": {},
                    "IdentityPoolId": {},
                    "DeveloperProviderName": {},
                    "DeveloperUserIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "UnlinkIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "Logins",
                    "LoginsToRemove"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S13"
                    },
                    "LoginsToRemove": {
                        "shape": "S10"
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AL3HSMERBRY6U2AIRG6SKCKO6QPHCNNOJD3DW3A2KIPVQ3W2TGJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3VZV2BHJ22ZFBTUHT5AG75OMISVHYMBKZ7FTALPFVIKWI4SULHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXDP2DVTXI4Y26BJE6RZGYKJNJGFVNVUXQUA4RRVEV3U5GM2I7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5YT3USN6OI6ZXII5FVGMN33I2FUXIG7SHVHPCSSYFZRI3A4OOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK2TTKDBIBKGZ5P3D6JGCVIQUV7KUBHYAI6USIRF6IR5HBQDZ4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCLNKPNHKVLSN6ZNVGICWY6HK3CMYP3KPVK7PMSGMRQON5Q6BEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQHNZNQUZ7SSALYLUCSAKVOPWWWLQA5BL4X2NVP7OYBIP6ERN2UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKF7VDVS6Q7KPDLLOEHIQBTI3ZSMLSJIIZR7UZZQH7XJMCQTKIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF3USVW66ZWQV5JE2L5TR7B3QN7JYSSUCVEYBT7R7YCLG5GVWEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU6YQJA2IQSC7AEVRCXJDGRNYGM656EJWFTMP6DJCPMUBOF5C27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOTJ66NNLYMSPHK7K37FWI5LOD5WXYYNDIZ5VRQAWKRCFDR43W2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJV6K4G6V6XKF65MTDINZRMWWO7DODVEILEIOYHYKWKE2BBBBK5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYJZIBXIXSU6U5TETB22GJTSAMC6KUULZHX3WDTZ5VP7GVKKIT6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3YM5NG4V5NMATW5RK7DC2URNAACLDOYEWRICHFEYJP2UE6WDYPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPSPEQUYWBBCCRHXKAYKKGRS2QWITMWVBUSFSQ34M6ROYPXXIX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLIIAZ4E3FZHKCDWSZCSJGOWIREITFIYHCFKDUQYCSYEPDUHKHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRW72QCJD5HZDII3GBFE2HDFESIXSONAXNJOEAOMCZGCG4JJQKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2UPKN4CDIIEIMABB6F2UQQU32SOR6E5SQYCXFP3LTLHV5BGD6DQ/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6URT5NX2GC4W3PB4RAQJF7KJL3GKU5LM4XMLWPPO4HXMWXHEVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSZ4RHEXZK6ENMJKQDV5T4FMKC5GG675XSJ5NI7657Y5QIJ5G7SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWYT6TKOZVKA3WBKTKOMKHGCR6ARLK2YYZXLDYWQALX356PEBYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3WBJLCJQFMMKPKQEJXAYTB4FOEDAX6TCI4PFLAK5WYBQNINLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBLRTQM36IR2I6TVR3NELOMJJSAGMX67JT4R4XLPUZDQFKFNOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AN4BBV3TZ37I5ZFFXOWYO5ADILUGBKR4MHALCQSEKIK5XT2FQMA/vendors.js",
[...]
