{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-04-18",
        "endpointPrefix": "AWSCognitoSignInService",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWSCognitoIdentityProviderInternalService",
        "serviceId": "Cognito Identity Provider",
        "signatureVersion": "v4",
        "signingName": "cognito-idp",
        "targetPrefix": "AWSCognitoIdentityProviderInternalService",
        "uid": "AWSCognitoSignInService-2016-04-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
        ]
    },
    "operations": {
        "AdminArchipelagoGetUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Username"
                ],
                "members": {
                    "Username": {
                        "shape": "S3"
                    },
                    "UserAttributes": {
                        "shape": "S5"
                    },
                    "UserCreateDate": {
                        "type": "timestamp"
                    },
                    "UserLastModifiedDate": {
                        "type": "timestamp"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "UserStatus": {},
                    "MFAOptions": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminCreateOrUpdateIdPUser": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderName",
                    "UserAttributes",
                    "UserPoolId",
                    "ClientId"
                ],
                "members": {
                    "ProviderName": {},
                    "UserAttributes": {
                        "shape": "S5"
                    },
                    "UserPoolId": {},
                    "ClientId": {},
                    "UserContextData": {
                        "shape": "Si"
                    },
                    "SourceIpAddress": {},
                    "SourceHttpHeaders": {
                        "shape": "Sk"
                    },
                    "ChallengeResponse": {
                        "shape": "Sm"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "St"
                    },
                    "Challenge": {
                        "shape": "Sm"
                    },
                    "UserIdentifierHash": {},
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminSignInWithProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderName",
                    "ProviderToken",
                    "UserPoolId",
                    "ClientId"
                ],
                "members": {
                    "ProviderName": {},
                    "ProviderToken": {},
                    "AuthnRequestId": {},
                    "Recipient": {},
                    "UserPoolId": {},
                    "ClientId": {},
                    "UserContextData": {
                        "shape": "Si"
                    },
                    "SourceIpAddress": {},
                    "SourceHttpHeaders": {
                        "shape": "Sk"
                    },
                    "ChallengeResponse": {
                        "shape": "Sm"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "St"
                    },
                    "Challenge": {
                        "shape": "Sm"
                    },
                    "IdpSessionId": {},
                    "UserIdentifierHash": {},
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AssociateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "AssociatedResourceArn",
                    "WebAclArn"
                ],
                "members": {
                    "AssociatedResourceArn": {},
                    "WebAclArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "CognitoConfirmForgotPassword": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username",
                    "ConfirmationCode",
                    "Password"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S12"
                    },
                    "Username": {
                        "shape": "S3"
                    },
                    "ConfirmationCode": {},
                    "Password": {
                        "shape": "S14"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S15"
                    },
                    "ContextData": {
                        "shape": "S16"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "CognitoConfirmSignUp": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username",
                    "ConfirmationCode"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S12"
                    },
                    "Username": {
                        "shape": "S3"
                    },
                    "ConfirmationCode": {},
                    "ForceAliasCreation": {
                        "type": "boolean"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S15"
                    },
                    "ContextData": {
                        "shape": "S16"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserSub": {},
                    "ChallengeName": {},
                    "ChallengeParameters": {
                        "shape": "S1c"
                    },
                    "Session": {},
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "CognitoForgotPassword": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S12"
                    },
                    "ContextData": {
                        "shape": "S16"
                    },
                    "Username": {
                        "shape": "S3"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S15"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CodeDeliveryDetails": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "CognitoInitiateAuth": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "AuthFlow"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "AuthFlow": {},
                    "AuthParameters": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    },
                    "ContextData": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChallengeName": {},
                    "Session": {},
                    "ChallengeParameters": {
                        "shape": "S1c"
                    },
                    "AuthenticationResult": {
                        "shape": "S1k"
                    },
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "CognitoResendConfirmationCode": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S12"
                    },
                    "ContextData": {
                        "shape": "S16"
                    },
                    "Username": {
                        "shape": "S3"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S15"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CodeDeliveryDetails": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "CognitoRespondToAuthChallenge": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "ChallengeName"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "ChallengeName": {},
                    "ChallengeResponses": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "Session": {},
                    "ContextData": {
                        "shape": "S16"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChallengeName": {},
                    "Session": {},
                    "ChallengeParameters": {
                        "shape": "S1c"
                    },
                    "AuthenticationResult": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "CognitoRevokeToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Token",
                    "ClientId"
                ],
                "members": {
                    "Token": {
                        "shape": "S1l"
                    },
                    "ClientId": {},
                    "ClientSecret": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "CognitoSignUp": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username",
                    "Password"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S12"
                    },
                    "Username": {
                        "shape": "S3"
                    },
                    "Password": {
                        "shape": "S14"
                    },
                    "UserAttributes": {
                        "shape": "S5"
                    },
                    "ValidationData": {
                        "shape": "S5"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S15"
                    },
                    "ContextData": {
                        "shape": "S16"
                    },
                    "ChallengeResponse": {
                        "shape": "Sm"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserConfirmed": {
                        "type": "boolean"
                    },
                    "CodeDeliveryDetails": {
                        "shape": "S1f"
                    },
                    "UserSub": {},
                    "Challenge": {
                        "shape": "Sm"
                    },
                    "ChallengeName": {},
                    "ChallengeParameters": {
                        "shape": "S1c"
                    },
                    "Session": {},
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "ConsumeAuthorizationCode": {
            "input": {
                "type": "structure",
                "required": [
                    "AuthorizationCode",
                    "UserPoolId"
                ],
                "members": {
                    "AuthorizationCode": {},
                    "UserPoolId": {},
                    "ClientId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "UserName",
                    "Sub",
                    "RedirectUri",
                    "Scopes"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "ProviderName": {},
                    "UserName": {
                        "shape": "S3"
                    },
                    "Sub": {},
                    "RedirectUri": {},
                    "Scopes": {
                        "shape": "S24"
                    },
                    "CodeChallenge": {},
                    "CodeChallengeMethod": {},
                    "EventId": {},
                    "Nonce": {},
                    "MetricsContext": {
                        "shape": "S28"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "CreateSignedSAML": {
            "input": {
                "type": "structure",
                "required": [
                    "InputXml",
                    "UserPoolId"
                ],
                "members": {
                    "InputXml": {},
                    "RequestMethod": {},
                    "UserPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SignedXml": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "DeleteAccountStatusCacheKey": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSAccountId"
                ],
                "members": {
                    "AWSAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "DescribeArchipelagoUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId"
                ],
                "members": {
                    "UserPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPool": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Name": {},
                            "Policies": {
                                "type": "structure",
                                "members": {
                                    "PasswordPolicy": {
                                        "type": "structure",
                                        "members": {
                                            "MinimumLength": {
                                                "type": "integer"
                                            },
                                            "RequireUppercase": {
                                                "type": "boolean"
                                            },
                                            "RequireLowercase": {
                                                "type": "boolean"
                                            },
                                            "RequireNumbers": {
                                                "type": "boolean"
                                            },
                                            "RequireSymbols": {
                                                "type": "boolean"
                                            },
                                            "TemporaryPasswordValidityDays": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            },
                            "DeletionProtection": {},
                            "LambdaConfig": {
                                "type": "structure",
                                "members": {
                                    "PreSignUp": {},
                                    "CustomMessage": {},
                                    "PostConfirmation": {},
                                    "PreAuthentication": {},
                                    "PostAuthentication": {},
                                    "DefineAuthChallenge": {},
                                    "CreateAuthChallenge": {},
                                    "VerifyAuthChallengeResponse": {},
                                    "PreTokenGeneration": {},
                                    "PreTokenGenerationConfig": {
                                        "type": "structure",
                                        "required": [
                                            "LambdaVersion",
                                            "LambdaArn"
                                        ],
                                        "members": {
                                            "LambdaVersion": {},
                                            "LambdaArn": {}
                                        }
                                    },
                                    "PreMutation": {},
                                    "UserMigration": {},
                                    "CustomSMSSender": {
                                        "type": "structure",
                                        "required": [
                                            "LambdaVersion",
                                            "LambdaArn"
                                        ],
                                        "members": {
                                            "LambdaVersion": {},
                                            "LambdaArn": {}
                                        }
                                    },
                                    "CustomEmailSender": {
                                        "type": "structure",
                                        "required": [
                                            "LambdaVersion",
                                            "LambdaArn"
                                        ],
                                        "members": {
                                            "LambdaVersion": {},
                                            "LambdaArn": {}
                                        }
                                    },
                                    "KMSKeyID": {}
                                }
                            },
                            "Status": {},
                            "LastModifiedDate": {
                                "type": "timestamp"
                            },
                            "CreationDate": {
                                "type": "timestamp"
                            },
                            "SchemaAttributes": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Name": {},
                                        "AttributeDataType": {},
                                        "DeveloperOnlyAttribute": {
                                            "type": "boolean"
                                        },
                                        "Mutable": {
                                            "type": "boolean"
                                        },
                                        "Required": {
                                            "type": "boolean"
                                        },
                                        "NumberAttributeConstraints": {
                                            "type": "structure",
                                            "members": {
                                                "MinValue": {},
                                                "MaxValue": {}
                                            }
                                        },
                                        "StringAttributeConstraints": {
                                            "type": "structure",
                                            "members": {
                                                "MinLength": {},
                                                "MaxLength": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "AutoVerifiedAttributes": {
                                "type": "list",
                                "member": {}
                            },
                            "AliasAttributes": {
                                "type": "list",
                                "member": {}
                            },
                            "UsernameAttributes": {
                                "type": "list",
                                "member": {}
                            },
                            "SmsVerificationMessage": {},
                            "EmailVerificationMessage": {},
                            "EmailVerificationSubject": {},
                            "VerificationMessageTemplate": {
                                "shape": "S3b"
                            },
                            "SmsAuthenticationMessage": {},
                            "VerifyAttributesBeforeUpdate": {},
                            "UserAttributeUpdateSettings": {
                                "type": "structure",
                                "members": {
                                    "AttributesRequireVerificationBeforeUpdate": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            },
                            "MfaConfiguration": {},
                            "DeviceConfiguration": {
                                "type": "structure",
                                "members": {
                                    "ChallengeRequiredOnNewDevice": {
                                        "type": "boolean"
                                    },
                                    "DeviceOnlyRememberedOnUserPrompt": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "EstimatedNumberOfUsers": {
                                "type": "integer"
                            },
                            "EmailConfiguration": {
                                "type": "structure",
                                "members": {
                                    "SourceArn": {},
                                    "ReplyToEmailAddress": {},
                                    "EmailSendingAccount": {},
                                    "From": {},
                                    "ConfigurationSet": {}
                                }
                            },
                            "SmsConfiguration": {
                                "type": "structure",
                                "required": [
                                    "SnsCallerArn"
                                ],
                                "members": {
                                    "SnsCallerArn": {},
                                    "ExternalId": {},
                                    "SnsRegion": {}
                                }
                            },
                            "UserPoolTags": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "SmsConfigurationFailure": {},
                            "EmailConfigurationFailure": {},
                            "Domain": {},
                            "CustomDomain": {},
                            "AdminCreateUserConfig": {
                                "type": "structure",
                                "members": {
                                    "AllowAdminCreateUserOnly": {
                                        "type": "boolean"
                                    },
                                    "UnusedAccountValidityDays": {
                                        "type": "integer"
                                    },
                                    "InviteMessageTemplate": {
                                        "type": "structure",
                                        "members": {
                                            "SMSMessage": {},
                                            "EmailMessage": {},
                                            "EmailSubject": {}
                                        }
                                    }
                                }
                            },
                            "UserPoolAddOns": {
                                "type": "structure",
                                "required": [
                                    "AdvancedSecurityMode"
                                ],
                                "members": {
                                    "AdvancedSecurityMode": {}
                                }
                            },
                            "UserLinkingConfiguration": {
                                "type": "structure",
                                "required": [
                                    "EnableStatus",
                                    "UnSupportedClientAction"
                                ],
                                "members": {
                                    "EnableStatus": {},
                                    "EmailVerificationMessageTemplate": {
                                        "shape": "S3b"
                                    },
                                    "UnSupportedClientAction": {},
                                    "EmailVerificationEnableStatus": {}
                                }
                            },
                            "UsernameConfiguration": {
                                "type": "structure",
                                "required": [
                                    "CaseSensitive"
                                ],
                                "members": {
                                    "CaseSensitive": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "Arn": {},
                            "AccountRecoverySetting": {
                                "type": "structure",
                                "members": {
                                    "RecoveryMechanisms": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "Priority",
                                                "Name"
                                            ],
                                            "members": {
                                                "Priority": {
                                                    "type": "integer"
                                                },
                                                "Name": {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "DisassociateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "AssociatedResourceArn"
                ],
                "members": {
                    "AssociatedResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebAclArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "GenerateAuthorizationCode": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "UserName",
                    "Sub",
                    "RedirectUri",
                    "Scopes"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "ProviderName": {},
                    "UserName": {
                        "shape": "S3"
                    },
                    "Sub": {},
                    "RedirectUri": {},
                    "Scopes": {
                        "shape": "S24"
                    },
                    "CodeChallenge": {},
                    "CodeChallengeMethod": {},
                    "EventId": {},
                    "Nonce": {},
                    "MetricsContext": {
                        "shape": "S28"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AuthorizationCode"
                ],
                "members": {
                    "AuthorizationCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "GenerateTokens": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "Scopes"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "ProviderName": {},
                    "UserName": {
                        "shape": "S3"
                    },
                    "Sub": {},
                    "Scopes": {
                        "shape": "S24"
                    },
                    "GenerateRefreshToken": {
                        "type": "boolean"
                    },
                    "EventId": {},
                    "Nonce": {},
                    "ClientMetadata": {
                        "shape": "Sr"
                    },
                    "MetricsContext": {
                        "shape": "S28"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AuthenticationResult"
                ],
                "members": {
                    "AuthenticationResult": {
                        "type": "structure",
                        "members": {
                            "AccessToken": {
                                "shape": "S1l"
                            },
                            "ExpiresIn": {
                                "type": "integer"
                            },
                            "TokenType": {},
                            "RefreshToken": {
                                "shape": "S1l"
                            },
                            "IdToken": {
                                "shape": "S1l"
                            },
                            "NewDeviceMetadata": {
                                "shape": "S1n"
                            }
                        }
                    },
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "GetMessageSendingCredentials": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "CustomerAccountId",
                    "SourceArn"
                ],
                "members": {
                    "RoleArn": {},
                    "ExternalId": {},
                    "CustomerAccountId": {},
                    "SourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessKey": {},
                    "SecretKey": {},
                    "SessionToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "GetWebACLForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "AssociatedResourceArn"
                ],
                "members": {
                    "AssociatedResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebAclArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "HardDeleteUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId"
                ],
                "members": {
                    "UserPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "ListResourcesForWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "WebAclArn"
                ],
                "members": {
                    "WebAclArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssociatedResourceArnList": {
                        "shape": "S4o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "ListResourcesForWebACLInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "WebAclArn"
                ],
                "members": {
                    "WebAclArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssociatedResourceArnList": {
                        "shape": "S4o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "ListUserPoolDomains": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId"
                ],
                "members": {
                    "UserPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Domains": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "UserPoolId": {},
                                "AWSAccountId": {},
                                "Domain": {},
                                "S3Bucket": {},
                                "CloudFrontDistribution": {},
                                "Version": {},
                                "Status": {},
                                "CustomDomainConfig": {
                                    "type": "structure",
                                    "required": [
                                        "CertificateArn"
                                    ],
                                    "members": {
                                        "CertificateArn": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "LookupDomain": {
            "input": {
                "type": "structure",
                "members": {
                    "Domain": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainAvailabilityStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "MigrateUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId"
                ],
                "members": {
                    "UserPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "RestoreUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "AccountId"
                ],
                "members": {
                    "UserPoolId": {},
                    "AccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "VerifyResourcesExists": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "SweepResource": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceId": {},
                                "InternalId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceResultList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceId": {},
                                "InternalId": {},
                                "ResourceExists": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "VerifyTokenInternal": {
            "input": {
                "type": "structure",
                "members": {
                    "Token": {
                        "shape": "S1l"
                    },
                    "ClientId": {},
                    "SkipSignatureVerification": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TokenStatus"
                ],
                "members": {
                    "TokenStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AddCustomAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "CustomAttributes"
                ],
                "members": {
                    "UserPoolId": {},
                    "CustomAttributes": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminAddUserToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username",
                    "GroupName"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "GroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminConfirmSignUp": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "ClientMetadata": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminCreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "UserAttributes": {
                        "shape": "Sj"
                    },
                    "ValidationData": {
                        "shape": "Sj"
                    },
                    "TemporaryPassword": {
                        "shape": "Sn"
                    },
                    "ForceAliasCreation": {
                        "type": "boolean"
                    },
                    "MessageAction": {},
                    "DesiredDeliveryMediums": {
                        "type": "list",
                        "member": {}
                    },
                    "ClientMetadata": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminDeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "ClientMetadata": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminDeleteUserAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username",
                    "UserAttributeNames"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "UserAttributeNames": {
                        "shape": "S10"
                    },
                    "ClientMetadata": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminDisableProviderForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "User"
                ],
                "members": {
                    "UserPoolId": {},
                    "User": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminDisableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminEnableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminForgetDevice": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username",
                    "DeviceKey"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "DeviceKey": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminGetDevice": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceKey",
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "DeviceKey": {},
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Device"
                ],
                "members": {
                    "Device": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminGetUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Username"
                ],
                "members": {
                    "Username": {
                        "shape": "Sd"
                    },
                    "UserAttributes": {
                        "shape": "Sj"
                    },
                    "UserCreateDate": {
                        "type": "timestamp"
                    },
                    "UserLastModifiedDate": {
                        "type": "timestamp"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "UserStatus": {},
                    "MFAOptions": {
                        "shape": "Sw"
                    },
                    "PreferredMfaSetting": {},
                    "UserMFASettingList": {
                        "shape": "S1h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminInitiateAuth": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "AuthFlow",
                    "AuthParameters"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "AuthFlow": {},
                    "AuthParameters": {
                        "shape": "S1l"
                    },
                    "ClientMetadata": {
                        "shape": "Sg"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S1m"
                    },
                    "ContextData": {
                        "shape": "S1n"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChallengeName": {},
                    "Session": {},
                    "ChallengeParameters": {
                        "shape": "S1t"
                    },
                    "AuthenticationResult": {
                        "shape": "S1u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminLinkProviderForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "DestinationUser",
                    "SourceUser"
                ],
                "members": {
                    "UserPoolId": {},
                    "DestinationUser": {
                        "shape": "S13"
                    },
                    "SourceUser": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminListDevices": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "Limit": {
                        "type": "integer"
                    },
                    "PaginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Devices": {
                        "shape": "S24"
                    },
                    "PaginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminListGroupsForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "Username",
                    "UserPoolId"
                ],
                "members": {
                    "Username": {
                        "shape": "Sd"
                    },
                    "UserPoolId": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Groups": {
                        "shape": "S28"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminListUserAuthEvents": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AuthEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EventId": {},
                                "EventType": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "EventResponse": {},
                                "EventRisk": {
                                    "type": "structure",
                                    "members": {
                                        "RiskDecision": {},
                                        "RiskLevel": {},
                                        "CompromisedCredentialsDetected": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "ChallengeResponses": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ChallengeName": {},
                                            "ChallengeResponse": {}
                                        }
                                    }
                                },
                                "EventContextData": {
                                    "type": "structure",
                                    "members": {
                                        "IpAddress": {},
                                        "DeviceName": {},
                                        "Timezone": {},
                                        "City": {},
                                        "Country": {}
                                    }
                                },
                                "EventFeedback": {
                                    "type": "structure",
                                    "required": [
                                        "FeedbackValue",
                                        "Provider"
                                    ],
                                    "members": {
                                        "FeedbackValue": {},
                                        "Provider": {},
                                        "FeedbackDate": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminRemoveUserFromGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username",
                    "GroupName"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "GroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminResetUserPassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "ClientMetadata": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminRespondToAuthChallenge": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "ChallengeName"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "ChallengeName": {},
                    "ChallengeResponses": {
                        "shape": "S2y"
                    },
                    "Session": {},
                    "AnalyticsMetadata": {
                        "shape": "S1m"
                    },
                    "ContextData": {
                        "shape": "S1n"
                    },
                    "ClientMetadata": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChallengeName": {},
                    "Session": {},
                    "ChallengeParameters": {
                        "shape": "S1t"
                    },
                    "AuthenticationResult": {
                        "shape": "S1u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminSetUserMFAPreference": {
            "input": {
                "type": "structure",
                "required": [
                    "Username",
                    "UserPoolId"
                ],
                "members": {
                    "SMSMfaSettings": {
                        "shape": "S31"
                    },
                    "SoftwareTokenMfaSettings": {
                        "shape": "S32"
                    },
                    "Username": {
                        "shape": "Sd"
                    },
                    "UserPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminSetUserPassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username",
                    "Password"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "Password": {
                        "shape": "Sn"
                    },
                    "Permanent": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminSetUserSettings": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username",
                    "MFAOptions"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "MFAOptions": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminUpdateAuthEventFeedback": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username",
                    "EventId",
                    "FeedbackValue"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "EventId": {},
                    "FeedbackValue": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminUpdateDeviceStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username",
                    "DeviceKey"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "DeviceKey": {},
                    "DeviceRememberedStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminUpdateUserAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username",
                    "UserAttributes"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    },
                    "UserAttributes": {
                        "shape": "Sj"
                    },
                    "ClientMetadata": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AdminUserGlobalSignOut": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "AssociateSoftwareToken": {
            "input": {
                "type": "structure",
                "members": {
                    "AccessToken": {
                        "shape": "S1v"
                    },
                    "Session": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SecretCode": {
                        "type": "string",
                        "sensitive": true
                    },
                    "Session": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "Authenticate": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username",
                    "PasswordClaim"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S3m"
                    },
                    "Username": {
                        "shape": "Sd"
                    },
                    "PasswordClaim": {
                        "type": "structure",
                        "members": {
                            "SecretBlock": {
                                "type": "blob"
                            },
                            "Signature": {
                                "type": "blob"
                            }
                        },
                        "sensitive": true
                    },
                    "Timestamp": {
                        "type": "timestamp"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AuthenticationResult": {
                        "shape": "S1u"
                    },
                    "AuthState": {
                        "shape": "S3q"
                    },
                    "CodeDeliveryDetails": {
                        "shape": "S3r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "ChangePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "PreviousPassword",
                    "ProposedPassword",
                    "AccessToken"
                ],
                "members": {
                    "PreviousPassword": {
                        "shape": "Sn"
                    },
                    "ProposedPassword": {
                        "shape": "Sn"
                    },
                    "AccessToken": {
                        "shape": "S1v"
                    },
                    "ClientMetadata": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "ConfirmDevice": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessToken",
                    "DeviceKey"
                ],
                "members": {
                    "AccessToken": {
                        "shape": "S1v"
                    },
                    "DeviceKey": {},
                    "DeviceSecretVerifierConfig": {
                        "type": "structure",
                        "members": {
                            "PasswordVerifier": {},
                            "Salt": {}
                        }
                    },
                    "DeviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserConfirmationNecessary": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "ConfirmForgotPassword": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username",
                    "ConfirmationCode",
                    "Password"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S3m"
                    },
                    "Username": {
                        "shape": "Sd"
                    },
                    "ConfirmationCode": {},
                    "Password": {
                        "shape": "Sn"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S1m"
                    },
                    "UserContextData": {
                        "shape": "S40"
                    },
                    "ClientMetadata": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "ConfirmSignUp": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username",
                    "ConfirmationCode"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S3m"
                    },
                    "Username": {
                        "shape": "Sd"
                    },
                    "ConfirmationCode": {},
                    "ForceAliasCreation": {
                        "type": "boolean"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S1m"
                    },
                    "UserContextData": {
                        "shape": "S40"
                    },
                    "ClientMetadata": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName",
                    "UserPoolId"
                ],
                "members": {
                    "GroupName": {},
                    "UserPoolId": {},
                    "Description": {},
                    "RoleArn": {},
                    "Precedence": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "CreateIdentityProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ProviderName",
                    "ProviderType",
                    "ProviderDetails"
                ],
                "members": {
                    "UserPoolId": {},
                    "ProviderName": {},
                    "ProviderType": {},
                    "ProviderDetails": {
                        "shape": "S49"
                    },
                    "AttributeMapping": {
                        "shape": "S4a"
                    },
                    "IdpIdentifiers": {
                        "shape": "S4c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "IdentityProvider"
                ],
                "members": {
                    "IdentityProvider": {
                        "shape": "S4f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "CreateResourceServer": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Identifier",
                    "Name"
                ],
                "members": {
                    "UserPoolId": {},
                    "Identifier": {},
                    "Name": {},
                    "Scopes": {
                        "shape": "S4j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourceServer"
                ],
                "members": {
                    "ResourceServer": {
                        "shape": "S4o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "CreateUserImportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobName",
                    "UserPoolId",
                    "CloudWatchLogsRoleArn"
                ],
                "members": {
                    "JobName": {},
                    "UserPoolId": {},
                    "CloudWatchLogsRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserImportJob": {
                        "shape": "S4s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "CreateUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "PoolName"
                ],
                "members": {
                    "PoolName": {},
                    "Policies": {
                        "shape": "S50"
                    },
                    "DeletionProtection": {},
                    "LambdaConfig": {
                        "shape": "S55"
                    },
                    "AutoVerifiedAttributes": {
                        "shape": "S5c"
                    },
                    "AliasAttributes": {
                        "shape": "S5e"
                    },
                    "UsernameAttributes": {
                        "shape": "S5g"
                    },
                    "SmsVerificationMessage": {},
                    "EmailVerificationMessage": {},
                    "EmailVerificationSubject": {},
                    "VerificationMessageTemplate": {
                        "shape": "S5l"
                    },
                    "SmsAuthenticationMessage": {},
                    "VerifyAttributesBeforeUpdate": {},
                    "UserAttributeUpdateSettings": {
                        "shape": "S5q"
                    },
                    "MfaConfiguration": {},
                    "DeviceConfiguration": {
                        "shape": "S5t"
                    },
                    "EmailConfiguration": {
                        "shape": "S5u"
                    },
                    "SmsConfiguration": {
                        "shape": "S5y"
                    },
                    "UserPoolTags": {
                        "shape": "S60"
                    },
                    "AdminCreateUserConfig": {
                        "shape": "S63"
                    },
                    "Schema": {
                        "shape": "S66"
                    },
                    "UserPoolAddOns": {
                        "shape": "S67"
                    },
                    "UserLinkingConfiguration": {
                        "shape": "S69"
                    },
                    "UsernameConfiguration": {
                        "shape": "S6c"
                    },
                    "AccountRecoverySetting": {
                        "shape": "S6d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPool": {
                        "shape": "S6j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZH5CPK6X5TV4INJ5SH44ZZ7OD6B667BZM5N3WGHUYCSBCXE623A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMA336XY3STU7VRKA2QZVMUCGGYZDMALV2HXCO6UBXF6MNU7M6PA/vendors.js"
            ]
        },
        "CreateUserPoolClient": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientName"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientName": {},
                    "GenerateSecret": {
                        "type": "boolean"
                    },
                    "RefreshTokenValidity": {
                        "type": "integer"
                    },
                    "AccessTokenValidity": {
                        "type": "integer"
                    },
                    "IdTokenValidity": {
                        "type": "integer"
                    },
                    "TokenValidityUnits": {
                        "shape": "S6r"
                    },
                    "ReadAttributes": {
                        "shape": "S6t"
                    },
                    "WriteAttributes": {
                        "shape": "S6t"
[...]
