{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-04-18",
        "endpointPrefix": "AWSCognitoSignInService",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWSCognitoIdentityProviderInternalService",
        "serviceId": "Cognito Identity Provider",
        "signatureVersion": "v4",
        "signingName": "cognito-idp",
        "targetPrefix": "AWSCognitoIdentityProviderInternalService",
        "uid": "AWSCognitoSignInService-2016-04-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
        ]
    },
    "operations": {
        "AdminArchipelagoGetUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "Username"
                ],
                "members": {
                    "UserPoolId": {},
                    "Username": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Username"
                ],
                "members": {
                    "Username": {
                        "shape": "S3"
                    },
                    "UserAttributes": {
                        "shape": "S5"
                    },
                    "UserCreateDate": {
                        "type": "timestamp"
                    },
                    "UserLastModifiedDate": {
                        "type": "timestamp"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "UserStatus": {},
                    "MFAOptions": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "AdminCreateOrUpdateIdPUser": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderName",
                    "UserAttributes",
                    "UserPoolId",
                    "ClientId"
                ],
                "members": {
                    "ProviderName": {},
                    "UserAttributes": {
                        "shape": "S5"
                    },
                    "UserPoolId": {},
                    "ClientId": {},
                    "UserContextData": {
                        "shape": "Si"
                    },
                    "SourceIpAddress": {},
                    "SourceHttpHeaders": {
                        "shape": "Sk"
                    },
                    "ChallengeResponse": {
                        "shape": "Sm"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    },
                    "IdpSessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "St"
                    },
                    "Challenge": {
                        "shape": "Sm"
                    },
                    "UserIdentifierHash": {},
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "AdminSignInWithProvider": {
            "input": {
                "type": "structure",
                "required": [
                    "ProviderName",
                    "ProviderToken",
                    "UserPoolId",
                    "ClientId"
                ],
                "members": {
                    "ProviderName": {},
                    "ProviderToken": {},
                    "AuthnRequestId": {},
                    "Recipient": {},
                    "UserPoolId": {},
                    "ClientId": {},
                    "UserContextData": {
                        "shape": "Si"
                    },
                    "SourceIpAddress": {},
                    "SourceHttpHeaders": {
                        "shape": "Sk"
                    },
                    "ChallengeResponse": {
                        "shape": "Sm"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "St"
                    },
                    "Challenge": {
                        "shape": "Sm"
                    },
                    "IdpSessionId": {},
                    "UserIdentifierHash": {},
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "AssociateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "AssociatedResourceArn",
                    "WebAclArn"
                ],
                "members": {
                    "AssociatedResourceArn": {},
                    "WebAclArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CognitoConfirmForgotPassword": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username",
                    "ConfirmationCode",
                    "Password"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S12"
                    },
                    "Username": {
                        "shape": "S3"
                    },
                    "ConfirmationCode": {},
                    "Password": {
                        "shape": "S14"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S15"
                    },
                    "ContextData": {
                        "shape": "S16"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CognitoConfirmSignUp": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username",
                    "ConfirmationCode"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S12"
                    },
                    "Username": {
                        "shape": "S3"
                    },
                    "ConfirmationCode": {},
                    "ForceAliasCreation": {
                        "type": "boolean"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S15"
                    },
                    "ContextData": {
                        "shape": "S16"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserSub": {},
                    "ChallengeName": {},
                    "ChallengeParameters": {
                        "shape": "S1c"
                    },
                    "Session": {},
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CognitoForgotPassword": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S12"
                    },
                    "ContextData": {
                        "shape": "S16"
                    },
                    "Username": {
                        "shape": "S3"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S15"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CodeDeliveryDetails": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CognitoInitiateAuth": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "AuthFlow"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "AuthFlow": {},
                    "AuthParameters": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    },
                    "ContextData": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChallengeName": {},
                    "Session": {},
                    "ChallengeParameters": {
                        "shape": "S1c"
                    },
                    "AuthenticationResult": {
                        "shape": "S1k"
                    },
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CognitoResendConfirmationCode": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S12"
                    },
                    "ContextData": {
                        "shape": "S16"
                    },
                    "Username": {
                        "shape": "S3"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S15"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CodeDeliveryDetails": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CognitoRespondToAuthChallenge": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "ChallengeName"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "ChallengeName": {},
                    "ChallengeResponses": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "Session": {},
                    "ContextData": {
                        "shape": "S16"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChallengeName": {},
                    "Session": {},
                    "ChallengeParameters": {
                        "shape": "S1c"
                    },
                    "AuthenticationResult": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CognitoRevokeToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Token",
                    "ClientId"
                ],
                "members": {
                    "Token": {
                        "shape": "S1l"
                    },
                    "ClientId": {},
                    "ClientSecret": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CognitoSignUp": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientId",
                    "Username",
                    "Password"
                ],
                "members": {
                    "ClientId": {},
                    "SecretHash": {
                        "shape": "S12"
                    },
                    "Username": {
                        "shape": "S3"
                    },
                    "Password": {
                        "shape": "S14"
                    },
                    "UserAttributes": {
                        "shape": "S5"
                    },
                    "ValidationData": {
                        "shape": "S5"
                    },
                    "AnalyticsMetadata": {
                        "shape": "S15"
                    },
                    "ContextData": {
                        "shape": "S16"
                    },
                    "ChallengeResponse": {
                        "shape": "Sm"
                    },
                    "ClientMetadata": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserConfirmed": {
                        "type": "boolean"
                    },
                    "CodeDeliveryDetails": {
                        "shape": "S1f"
                    },
                    "UserSub": {},
                    "Challenge": {
                        "shape": "Sm"
                    },
                    "ChallengeName": {},
                    "ChallengeParameters": {
                        "shape": "S1c"
                    },
                    "Session": {},
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "ConsumeAuthorizationCode": {
            "input": {
                "type": "structure",
                "required": [
                    "AuthorizationCode",
                    "UserPoolId"
                ],
                "members": {
                    "AuthorizationCode": {},
                    "UserPoolId": {},
                    "ClientId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "UserName",
                    "Sub",
                    "RedirectUri",
                    "Scopes"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "ProviderName": {},
                    "UserName": {
                        "shape": "S3"
                    },
                    "Sub": {},
                    "RedirectUri": {},
                    "Scopes": {
                        "shape": "S24"
                    },
                    "CodeChallenge": {},
                    "CodeChallengeMethod": {},
                    "EventId": {},
                    "Nonce": {},
                    "MetricsContext": {
                        "shape": "S28"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "CreateSignedSAML": {
            "input": {
                "type": "structure",
                "required": [
                    "InputXml",
                    "UserPoolId"
                ],
                "members": {
                    "InputXml": {},
                    "RequestMethod": {},
                    "UserPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SignedXml": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "DeleteAccountStatusCacheKey": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSAccountId"
                ],
                "members": {
                    "AWSAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "DescribeArchipelagoUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId"
                ],
                "members": {
                    "UserPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPool": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Name": {},
                            "Policies": {
                                "type": "structure",
                                "members": {
                                    "PasswordPolicy": {
                                        "type": "structure",
                                        "members": {
                                            "MinimumLength": {
                                                "type": "integer"
                                            },
                                            "RequireUppercase": {
                                                "type": "boolean"
                                            },
                                            "RequireLowercase": {
                                                "type": "boolean"
                                            },
                                            "RequireNumbers": {
                                                "type": "boolean"
                                            },
                                            "RequireSymbols": {
                                                "type": "boolean"
                                            },
                                            "TemporaryPasswordValidityDays": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            },
                            "DeletionProtection": {},
                            "LambdaConfig": {
                                "type": "structure",
                                "members": {
                                    "PreSignUp": {},
                                    "CustomMessage": {},
                                    "PostConfirmation": {},
                                    "PreAuthentication": {},
                                    "PostAuthentication": {},
                                    "DefineAuthChallenge": {},
                                    "CreateAuthChallenge": {},
                                    "VerifyAuthChallengeResponse": {},
                                    "PreTokenGeneration": {},
                                    "PreTokenGenerationConfig": {
                                        "type": "structure",
                                        "required": [
                                            "LambdaVersion",
                                            "LambdaArn"
                                        ],
                                        "members": {
                                            "LambdaVersion": {},
                                            "LambdaArn": {}
                                        }
                                    },
                                    "PreMutation": {},
                                    "UserMigration": {},
                                    "CustomSMSSender": {
                                        "type": "structure",
                                        "required": [
                                            "LambdaVersion",
                                            "LambdaArn"
                                        ],
                                        "members": {
                                            "LambdaVersion": {},
                                            "LambdaArn": {}
                                        }
                                    },
                                    "CustomEmailSender": {
                                        "type": "structure",
                                        "required": [
                                            "LambdaVersion",
                                            "LambdaArn"
                                        ],
                                        "members": {
                                            "LambdaVersion": {},
                                            "LambdaArn": {}
                                        }
                                    },
                                    "KMSKeyID": {}
                                }
                            },
                            "Status": {},
                            "LastModifiedDate": {
                                "type": "timestamp"
                            },
                            "CreationDate": {
                                "type": "timestamp"
                            },
                            "SchemaAttributes": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Name": {},
                                        "AttributeDataType": {},
                                        "DeveloperOnlyAttribute": {
                                            "type": "boolean"
                                        },
                                        "Mutable": {
                                            "type": "boolean"
                                        },
                                        "Required": {
                                            "type": "boolean"
                                        },
                                        "NumberAttributeConstraints": {
                                            "type": "structure",
                                            "members": {
                                                "MinValue": {},
                                                "MaxValue": {}
                                            }
                                        },
                                        "StringAttributeConstraints": {
                                            "type": "structure",
                                            "members": {
                                                "MinLength": {},
                                                "MaxLength": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "AutoVerifiedAttributes": {
                                "type": "list",
                                "member": {}
                            },
                            "AliasAttributes": {
                                "type": "list",
                                "member": {}
                            },
                            "UsernameAttributes": {
                                "type": "list",
                                "member": {}
                            },
                            "SmsVerificationMessage": {},
                            "EmailVerificationMessage": {},
                            "EmailVerificationSubject": {},
                            "VerificationMessageTemplate": {
                                "shape": "S3b"
                            },
                            "SmsAuthenticationMessage": {},
                            "VerifyAttributesBeforeUpdate": {},
                            "UserAttributeUpdateSettings": {
                                "type": "structure",
                                "members": {
                                    "AttributesRequireVerificationBeforeUpdate": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            },
                            "MfaConfiguration": {},
                            "DeviceConfiguration": {
                                "type": "structure",
                                "members": {
                                    "ChallengeRequiredOnNewDevice": {
                                        "type": "boolean"
                                    },
                                    "DeviceOnlyRememberedOnUserPrompt": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "EstimatedNumberOfUsers": {
                                "type": "integer"
                            },
                            "EmailConfiguration": {
                                "type": "structure",
                                "members": {
                                    "SourceArn": {},
                                    "ReplyToEmailAddress": {},
                                    "EmailSendingAccount": {},
                                    "From": {},
                                    "ConfigurationSet": {}
                                }
                            },
                            "SmsConfiguration": {
                                "type": "structure",
                                "required": [
                                    "SnsCallerArn"
                                ],
                                "members": {
                                    "SnsCallerArn": {},
                                    "ExternalId": {},
                                    "SnsRegion": {}
                                }
                            },
                            "UserPoolTags": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "SmsConfigurationFailure": {},
                            "EmailConfigurationFailure": {},
                            "Domain": {},
                            "CustomDomain": {},
                            "AdminCreateUserConfig": {
                                "type": "structure",
                                "members": {
                                    "AllowAdminCreateUserOnly": {
                                        "type": "boolean"
                                    },
                                    "UnusedAccountValidityDays": {
                                        "type": "integer"
                                    },
                                    "InviteMessageTemplate": {
                                        "type": "structure",
                                        "members": {
                                            "SMSMessage": {},
                                            "EmailMessage": {},
                                            "EmailSubject": {}
                                        }
                                    }
                                }
                            },
                            "UserPoolAddOns": {
                                "type": "structure",
                                "required": [
                                    "AdvancedSecurityMode"
                                ],
                                "members": {
                                    "AdvancedSecurityMode": {}
                                }
                            },
                            "UserLinkingConfiguration": {
                                "type": "structure",
                                "required": [
                                    "EnableStatus",
                                    "UnSupportedClientAction"
                                ],
                                "members": {
                                    "EnableStatus": {},
                                    "EmailVerificationMessageTemplate": {
                                        "shape": "S3b"
                                    },
                                    "UnSupportedClientAction": {},
                                    "EmailVerificationEnableStatus": {}
                                }
                            },
                            "UsernameConfiguration": {
                                "type": "structure",
                                "required": [
                                    "CaseSensitive"
                                ],
                                "members": {
                                    "CaseSensitive": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "Arn": {},
                            "AccountRecoverySetting": {
                                "type": "structure",
                                "members": {
                                    "RecoveryMechanisms": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "Priority",
                                                "Name"
                                            ],
                                            "members": {
                                                "Priority": {
                                                    "type": "integer"
                                                },
                                                "Name": {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "DisassociateWebACL": {
            "input": {
                "type": "structure",
                "required": [
                    "AssociatedResourceArn"
                ],
                "members": {
                    "AssociatedResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WebAclArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "GenerateAuthorizationCode": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "UserName",
                    "Sub",
                    "RedirectUri",
                    "Scopes"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "ProviderName": {},
                    "UserName": {
                        "shape": "S3"
                    },
                    "Sub": {},
                    "RedirectUri": {},
                    "Scopes": {
                        "shape": "S24"
                    },
                    "CodeChallenge": {},
                    "CodeChallengeMethod": {},
                    "EventId": {},
                    "Nonce": {},
                    "MetricsContext": {
                        "shape": "S28"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AuthorizationCode"
                ],
                "members": {
                    "AuthorizationCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "GenerateTokens": {
            "input": {
                "type": "structure",
                "required": [
                    "UserPoolId",
                    "ClientId",
                    "Scopes"
                ],
                "members": {
                    "UserPoolId": {},
                    "ClientId": {},
                    "ProviderName": {},
                    "UserName": {
                        "shape": "S3"
                    },
                    "Sub": {},
                    "Scopes": {
                        "shape": "S24"
                    },
                    "GenerateRefreshToken": {
                        "type": "boolean"
                    },
                    "EventId": {},
                    "Nonce": {},
                    "ClientMetadata": {
                        "shape": "Sr"
                    },
                    "MetricsContext": {
                        "shape": "S28"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AuthenticationResult"
                ],
                "members": {
                    "AuthenticationResult": {
                        "type": "structure",
                        "members": {
                            "AccessToken": {
                                "shape": "S1l"
                            },
                            "ExpiresIn": {
                                "type": "integer"
                            },
                            "TokenType": {},
                            "RefreshToken": {
                                "shape": "S1l"
                            },
                            "IdToken": {
                                "shape": "S1l"
                            },
                            "NewDeviceMetadata": {
                                "shape": "S1n"
                            }
                        }
                    },
                    "LambdaLatency": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js"
            ]
        },
        "GetMessageSendingCredentials": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "CustomerAccountId",
                    "SourceArn"
                ],
                "members": {
                    "RoleArn": {},
                    "ExternalId": {},
                    "CustomerAccountId": {},
                    "SourceArn": {},
                    "MessageMedium": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessKey": {},
                    "SecretKey": {},
                    "SessionToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AB2D6HSHWHXQRIXMF36GIK3JB3QMSROC4GHTKKZU7GVYEH4WSLCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHEDZW6NQOWZCO2MU3Z3LTUYRVP6OFIFTRGRLY4K7EYI5EWCBEPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIICFJOLWJ2ZGXN6BYKSUNN6X5X3IHPUDXYAGEGNGZGNFKLM7QQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CYGU72X2AAAW42EV6YNHN2C7ZKR3TUNNRF5VDEKBOZKTLGESN5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUBAWFLVFFJ4HKEZWAC7JTREL2VGU4SIBE6GAJWCEV7PUEAELXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC7CNI6I7BP7DSQE7BMDSK6NWZHJZETYHP5CY5OZGNXEJOBR4GJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHDZDGA4UMYKCP3MQQKEOXUS4HQK2QNWOXRNPEQKXFEJBFTPFPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CDES2FDZZTB2LDDJZL6KPWI3I3C4RRT3UHPI75CUFXIIWLQ2RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HVEL7PLHRCJ6KMCV3VJMV7M465FHPCHJ5XQ2G7X4JW6M3SAUUMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6FNOIHIQ5I2EOCFO2JSC7ORD5SU4ELXFNYUKW2G6RINTDN3645YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6INL4BVQKUY54JRQYREQBCVKL5F2C2YRLYDJUYN2JUALD7NAEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
[...]
