{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-04-18",
        "endpointPrefix": "AWSCognitoSyncService",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWSCognitoSyncService",
        "serviceId": "Cognito Sync",
        "signatureVersion": "v4",
        "signingName": "cognito-sync",
        "uid": "AWSCognitoSyncService-2016-04-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
        ]
    },
    "operations": {
        "BulkPublish": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/bulkpublish",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "DeleteDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dataset": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "DescribeDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dataset": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "DescribeIdentityPoolUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolUsage": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "DescribeIdentityUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityUsage": {
                        "type": "structure",
                        "members": {
                            "IdentityId": {},
                            "IdentityPoolId": {},
                            "LastModifiedDate": {
                                "type": "timestamp"
                            },
                            "DatasetCount": {
                                "type": "integer"
                            },
                            "DataStorage": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "GetBulkPublishDetails": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/getBulkPublishDetails",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "BulkPublishStartTime": {
                        "type": "timestamp"
                    },
                    "BulkPublishCompleteTime": {
                        "type": "timestamp"
                    },
                    "BulkPublishStatus": {},
                    "FailureMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "GetCognitoEvents": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/events",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Events": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "GetIdentityPoolConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "PushSync": {
                        "shape": "Sy"
                    },
                    "CognitoStreams": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "ListDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Datasets": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    },
                    "Count": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "ListIdentityPoolUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolUsages": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Count": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "ListRecords": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/records",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "LastSyncCount": {
                        "location": "querystring",
                        "locationName": "lastSyncCount"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults"
                    },
                    "SyncSessionToken": {
                        "location": "querystring",
                        "locationName": "syncSessionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "shape": "S1g"
                    },
                    "NextToken": {},
                    "Count": {
                        "type": "integer"
                    },
                    "DatasetSyncCount": {
                        "type": "long"
                    },
                    "LastModifiedBy": {},
                    "MergedDatasetNames": {
                        "type": "list",
                        "member": {}
                    },
                    "DatasetExists": {
                        "type": "boolean"
                    },
                    "DatasetDeletedAfterRequestedSyncCount": {
                        "type": "boolean"
                    },
                    "SyncSessionToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "QueryRecords": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/query",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityAlias": {},
                    "DatasetName": {},
                    "FieldsToGet": {
                        "shape": "S1o"
                    },
                    "QueryExpression": {},
                    "QueryExpressionValues": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "OrderBy": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Field": {},
                                "SortOrder": {}
                            }
                        }
                    },
                    "GroupBy": {
                        "shape": "S1o"
                    },
                    "Aggregations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "Field": {}
                            }
                        }
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityAlias": {},
                                "Key": {},
                                "Value": {}
                            }
                        }
                    },
                    "AggregateRecords": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "RegisterDevice": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identity/{IdentityId}/device",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "Platform",
                    "Token"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "Platform": {},
                    "Token": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeviceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "SetCognitoEvents": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/events",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Events"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "Events": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "SetDatasetConfiguration": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "Type": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Type": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "SetIdentityPoolConfiguration": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "PushSync": {
                        "shape": "Sy"
                    },
                    "CognitoStreams": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "PushSync": {
                        "shape": "Sy"
                    },
                    "CognitoStreams": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "SubscribeToDataset": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "DeviceId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {
                        "location": "uri",
                        "locationName": "DeviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "UnsubscribeFromDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "DeviceId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {
                        "location": "uri",
                        "locationName": "DeviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "UpdateRecords": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "SyncSessionToken"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {},
                    "RecordPatches": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Op",
                                "Key",
                                "SyncCount"
                            ],
                            "members": {
                                "Op": {},
                                "Key": {},
                                "Value": {},
                                "SyncCount": {
                                    "type": "long"
                                },
                                "DeviceLastModifiedDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "SyncSessionToken": {},
                    "ClientContext": {
                        "location": "header",
                        "locationName": "x-amz-Client-Context"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S8": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "DatasetName": {},
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                },
                "LastModifiedBy": {},
                "DataStorage": {
                    "type": "long"
                },
                "NumRecords": {
                    "type": "long"
                },
                "Type": {
                    "shape": "Sc"
                }
            }
        },
        "Sc": {
            "type": "structure",
            "members": {
                "Visibility": {},
                "Queryable": {
                    "type": "boolean"
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "IdentityPoolId": {},
                "SyncSessionsCount": {
                    "type": "long"
                },
                "DataStorage": {
                    "type": "long"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "St": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sy": {
            "type": "structure",
            "members": {
                "ApplicationArns": {
                    "type": "list",
                    "member": {}
                },
                "RoleArn": {}
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "StreamName": {},
                "RoleArn": {},
                "StreamingStatus": {},
                "DisabledReason": {}
            }
        },
        "S1g": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Key": {},
                    "Value": {},
                    "SyncCount": {
                        "type": "long"
                    },
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "LastModifiedBy": {},
                    "DeviceLastModifiedDate": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "S1o": {
            "type": "list",
            "member": {}
        }
    }
}