{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-04-18",
        "endpointPrefix": "AWSCognitoIdentityService",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWSCognitoIdentityServiceWithAnalytics",
        "serviceId": "Cognito Identity",
        "signatureVersion": "v4",
        "signingName": "cognito-identity",
        "targetPrefix": "AWSCognitoIdentityServiceWithAnalytics",
        "uid": "AWSCognitoIdentityService-2016-04-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
        ]
    },
    "operations": {
        "CreateIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolName",
                    "AllowUnauthenticatedIdentities"
                ],
                "members": {
                    "IdentityPoolName": {},
                    "AllowUnauthenticatedIdentities": {
                        "type": "boolean"
                    },
                    "AllowClassicFlow": {
                        "type": "boolean"
                    },
                    "SupportedLoginProviders": {
                        "shape": "S5"
                    },
                    "DeveloperProviderName": {},
                    "OpenIdConnectProviderARNs": {
                        "shape": "S9"
                    },
                    "CognitoIdentityProviders": {
                        "shape": "Sb"
                    },
                    "SamlProviderARNs": {
                        "shape": "Sg"
                    },
                    "IdentityPoolTags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "DeleteAccountStatusCacheKey": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSAccountId"
                ],
                "members": {
                    "AWSAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFRRTIZNAOKCG3TW372UX75AOZUVHI24AUU2UTVRKZ7LXBWFQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z373FKJRSAW5H53W6POVFIWDRIVUAQTP4V2NL2COWA7UULEGACIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFJU6IHSESPTPNWEMZT4T67VAPVABXYJTV4PIKNPJ6VXTQKGBS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLAZHIDYAHB3MZ6562XU6MEC6XUH6TGPSZDBA4O6HZ6EMQQOWZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZHRDNBEQRLFGNSGYJMHQNTNK7HSWV4QUBO3ZKAI35EY77WLUUOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QLQEM7ISDWJP3BLCU6GVQQGF7HPQRTFR4WHG2OVKM7URSEBAPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2J6BFRGX4TI626WKRCA7DK6JSCOFKDIJDTIK5LNSEXKN4EIX2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CUOCYKW45ZHQSA5FM26CJ3C6AAJZAZUMR2KDSOOTCGD4XAIVGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DONWWFD57TZJBWXTD7UIHBTK52Z2VPARH7RK2OMA6LD6D7GV5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBITSOSFCRX2M5FDUIEUZGBWAPXAWHHH6YTBXTJVOKRFIUF2XYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYQ57VC4JL25MSPKRATMDRG4IHD3RL42KR7WDJO6EEVDNDYPEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R56UWLKCGCSEI5G3DFBNRQTE3BIJIO3U4IGWAX46KIFSPELVLWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYX62PGXZ62XVE35FW67TKDCFEJFOXJYWRVMYWSYTY2XR6WCCCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUIL7IDIPHYOFACHNZRPAPXGCSSEHRK3K2SXK47IZQD6XL5YOJOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB7MJJBNNBQ2E5JGHO52GURDUEDKJUEHKSNCKVZ4JATCOACMXEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAPR46ECYZZ5AGDB74R63AZWLTR4UQ4XABDIUBC4QFLQJ7CTCURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ZITSDPVQJBNPXJMEU6ZO7VLZSFI6WJ7DEMVKJ6ZCS2XKILCNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5KDHHQEUWC7E6GWAN7IXWYPSMBA3VSAZDTSOEHQ3NCWEGQ7I4RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEIW2VDGJCYYMKGIW642OC63PEGKEBQ6CGPOYWKDKFMLOO4ZPVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBC5AEKGDN7MXL4GRMGT4NEX76MS6YVYFIDYFKX2I43NBXBZMHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVZFPEDETCJT34SZHYR5L4AELX7XLIZD2UPYE2MDMLOWBOOLOY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZXWKSB43I5VTMTJSRQLNUDYLC3OSN3OCBAMTWZ54MN2FDVYFAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZ44LE4QSLAHISGNX66CTO6QVURGNNRWGFGBMCKUTBR6TUWLZWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5DLBNKVBLYK7T55YV6EUIK7TTPPFWQE5HVWACXEZTVYG57LMO4Q/vendors.js"
            ]
        },
        "DeleteIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityIdsToDelete"
                ],
                "members": {
                    "IdentityIdsToDelete": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnprocessedIdentityIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityId": {},
                                "ErrorCode": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "DeleteIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "DescribeIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {}
                }
            },
            "output": {
                "shape": "Sz"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "DescribeIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "GetCredentialsForIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S13"
                    },
                    "CustomRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Credentials": {
                        "type": "structure",
                        "members": {
                            "AccessKeyId": {},
                            "SecretKey": {},
                            "SessionToken": {},
                            "Expiration": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "GetId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "AccountId": {},
                    "IdentityPoolId": {},
                    "Logins": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "GetIdentityPoolAnalytics": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "TotalIdentityCount": {
                        "type": "long"
                    },
                    "IdentityAnalyticsList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityProviderId": {},
                                "IdentityCount": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "GetIdentityPoolDailyAnalytics": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "StartDay": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityPoolDailyIdentities": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "GetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1p"
                    },
                    "RoleMappings": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "GetIdentityProviderDailyAnalytics": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderId": {},
                    "StartDay": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderId": {},
                    "IdentityProviderDailyIdentities": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "GetOpenIdToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "GetOpenIdTokenForDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Logins"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S13"
                    },
                    "PrincipalTags": {
                        "shape": "S27"
                    },
                    "TokenDuration": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "GetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "ListIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "MaxResults"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "HideDisabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Identities": {
                        "type": "list",
                        "member": {
                            "shape": "Sz"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "ListIdentityPools": {
            "input": {
                "type": "structure",
                "required": [
                    "MaxResults"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityPoolId": {},
                                "IdentityPoolName": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastModifiedDate": {
                                    "type": "timestamp"
                                },
                                "IdentityPoolArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "LookupDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "DeveloperUserIdentifier": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "DeveloperUserIdentifierList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "MergeDeveloperIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceUserIdentifier",
                    "DestinationUserIdentifier",
                    "DeveloperProviderName",
                    "IdentityPoolId"
                ],
                "members": {
                    "SourceUserIdentifier": {},
                    "DestinationUserIdentifier": {},
                    "DeveloperProviderName": {},
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "SetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Roles"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1p"
                    },
                    "RoleMappings": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "SetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "UnlinkDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId",
                    "DeveloperProviderName",
                    "DeveloperUserIdentifier"
                ],
                "members": {
                    "IdentityId": {},
                    "IdentityPoolId": {},
                    "DeveloperProviderName": {},
                    "DeveloperUserIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "UnlinkIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "Logins",
                    "LoginsToRemove"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S13"
                    },
                    "LoginsToRemove": {
                        "shape": "S10"
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
[...]
