{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-30",
        "endpointPrefix": "aws-console-userprefs",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "UserPrefs",
        "serviceFullName": "AWSConsoleUserPreferenceService",
        "serviceId": "UserPreference",
        "serviceName": "userprefs",
        "signatureVersion": "v4",
        "signingName": "userprefs",
        "targetPrefix": "AWSConsoleUserPreferenceService",
        "uid": "awsconsoleuserpreferenceservice-2019-09-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BN7R6WC4S4MI7HLPCNMZ3HPB27BQZTZJ2YFNZH2WNAQM4R5LBAOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T3GDPIJOJ4R6BT24NBFAG64YZE2UP4H7GJGTNVJDGYZKAGOEQYNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FJOCRHFPE7RQKDL4JQJO3GOCRSFFE4YRXLWQAHU2LB6RLUSY7JMQ/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
            "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.2738df4f1f16f9f8b89a.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUXPT7VY5EF2XGNYKQT3ZBVITTBEACXTD5CE3Y7OSYSNPOT63ALA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
            "https://dd25om75gc08l.cloudfront.net/20240625090339176/main.js",
            "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
            "https://d2ziyq7zksuzai.cloudfront.net/1718803034134/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
        ]
    },
    "operations": {
        "DeletePreference": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN7R6WC4S4MI7HLPCNMZ3HPB27BQZTZJ2YFNZH2WNAQM4R5LBAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3GDPIJOJ4R6BT24NBFAG64YZE2UP4H7GJGTNVJDGYZKAGOEQYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJOCRHFPE7RQKDL4JQJO3GOCRSFFE4YRXLWQAHU2LB6RLUSY7JMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.2738df4f1f16f9f8b89a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUXPT7VY5EF2XGNYKQT3ZBVITTBEACXTD5CE3Y7OSYSNPOT63ALA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20240625090339176/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1718803034134/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "GetDefaultRegion": {
            "input": {
                "type": "structure",
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Region": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN7R6WC4S4MI7HLPCNMZ3HPB27BQZTZJ2YFNZH2WNAQM4R5LBAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3GDPIJOJ4R6BT24NBFAG64YZE2UP4H7GJGTNVJDGYZKAGOEQYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJOCRHFPE7RQKDL4JQJO3GOCRSFFE4YRXLWQAHU2LB6RLUSY7JMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.2738df4f1f16f9f8b89a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUXPT7VY5EF2XGNYKQT3ZBVITTBEACXTD5CE3Y7OSYSNPOT63ALA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20240625090339176/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1718803034134/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "GetPreference": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN7R6WC4S4MI7HLPCNMZ3HPB27BQZTZJ2YFNZH2WNAQM4R5LBAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3GDPIJOJ4R6BT24NBFAG64YZE2UP4H7GJGTNVJDGYZKAGOEQYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJOCRHFPE7RQKDL4JQJO3GOCRSFFE4YRXLWQAHU2LB6RLUSY7JMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.2738df4f1f16f9f8b89a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUXPT7VY5EF2XGNYKQT3ZBVITTBEACXTD5CE3Y7OSYSNPOT63ALA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20240625090339176/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1718803034134/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "GetPreferenceJSON": {
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN7R6WC4S4MI7HLPCNMZ3HPB27BQZTZJ2YFNZH2WNAQM4R5LBAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3GDPIJOJ4R6BT24NBFAG64YZE2UP4H7GJGTNVJDGYZKAGOEQYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJOCRHFPE7RQKDL4JQJO3GOCRSFFE4YRXLWQAHU2LB6RLUSY7JMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.2738df4f1f16f9f8b89a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUXPT7VY5EF2XGNYKQT3ZBVITTBEACXTD5CE3Y7OSYSNPOT63ALA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20240625090339176/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1718803034134/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "SetPreference": {
            "input": {
                "shape": "S7"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN7R6WC4S4MI7HLPCNMZ3HPB27BQZTZJ2YFNZH2WNAQM4R5LBAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3GDPIJOJ4R6BT24NBFAG64YZE2UP4H7GJGTNVJDGYZKAGOEQYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJOCRHFPE7RQKDL4JQJO3GOCRSFFE4YRXLWQAHU2LB6RLUSY7JMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.2738df4f1f16f9f8b89a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUXPT7VY5EF2XGNYKQT3ZBVITTBEACXTD5CE3Y7OSYSNPOT63ALA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20240625090339176/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1718803034134/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "SetPreferenceJSON": {
            "input": {
                "shape": "S7"
            },
            "output": {
                "shape": "S3"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUV623JXQPIOE7WNZ3DQKXEL6YZUBNJD5GTAGLHIPALQ6L55HGJQ/arrow.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS33ZZ3GEB3HSUX2PEADFFRYPSEUH7Y64OHJI7WZBZCIAYIW6RZA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IAZXDBFYZWKH2TSYLLI6ITZ7FOTRX4XNV62RDUDBHBLKHWLQRF7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4SIUPD2SHETTR4DPQ7AQKJ4USDRFH4CAPX6NWC6WDJLJNQ52GDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN7R6WC4S4MI7HLPCNMZ3HPB27BQZTZJ2YFNZH2WNAQM4R5LBAOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3GDPIJOJ4R6BT24NBFAG64YZE2UP4H7GJGTNVJDGYZKAGOEQYNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PV43JCLKSJ5E2MBMMUYEUUMRSTR23GOHDNOVKV76SUG4X4VDTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJOCRHFPE7RQKDL4JQJO3GOCRSFFE4YRXLWQAHU2LB6RLUSY7JMQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://dhx0ny5rxatah.cloudfront.net/lightsail-assets-Prod/webapp.2738df4f1f16f9f8b89a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYGY2AKQ5APSLDA7BAFELQJ6UJM5I4PM5EQ4FO2BHF3XAQ4RKIHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DIXM2I7CLDREZU2NCL2VFKVSTCF5QP3WMMBV5LHCX7YCTNCN6FUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUXPT7VY5EF2XGNYKQT3ZBVITTBEACXTD5CE3Y7OSYSNPOT63ALA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23IGNLOBES2S2ELKOBYFGB2IBPQ5Y3VW2Z4RA67MGZOND27LX6YA/vendors.js",
                "https://dd25om75gc08l.cloudfront.net/20240625090339176/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1718803034134/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S1": {
            "type": "structure",
            "members": {
                "Partition": {},
                "Name": {},
                "CallingApolloEnvironmentName": {}
            }
        },
        "S3": {
            "type": "structure",
            "members": {
                "Status": {},
                "Preferences": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "S7": {
            "type": "structure",
            "members": {
                "Partition": {},
                "Name": {},
                "Value": {},
                "CallingApolloEnvironmentName": {}
            }
        }
    }
}