{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-04-18",
        "endpointPrefix": "AWSCognitoIdentityService",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWSCognitoIdentityServiceWithAnalytics",
        "serviceId": "Cognito Identity",
        "signatureVersion": "v4",
        "signingName": "cognito-identity",
        "targetPrefix": "AWSCognitoIdentityServiceWithAnalytics",
        "uid": "AWSCognitoIdentityService-2016-04-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
        ]
    },
    "operations": {
        "CreateIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolName",
                    "AllowUnauthenticatedIdentities"
                ],
                "members": {
                    "IdentityPoolName": {},
                    "AllowUnauthenticatedIdentities": {
                        "type": "boolean"
                    },
                    "AllowClassicFlow": {
                        "type": "boolean"
                    },
                    "SupportedLoginProviders": {
                        "shape": "S5"
                    },
                    "DeveloperProviderName": {},
                    "OpenIdConnectProviderARNs": {
                        "shape": "S9"
                    },
                    "CognitoIdentityProviders": {
                        "shape": "Sb"
                    },
                    "SamlProviderARNs": {
                        "shape": "Sg"
                    },
                    "IdentityPoolTags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "DeleteAccountStatusCacheKey": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSAccountId"
                ],
                "members": {
                    "AWSAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFRRTIZNAOKCG3TW372UX75AOZUVHI24AUU2UTVRKZ7LXBWFQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z373FKJRSAW5H53W6POVFIWDRIVUAQTP4V2NL2COWA7UULEGACIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFJU6IHSESPTPNWEMZT4T67VAPVABXYJTV4PIKNPJ6VXTQKGBS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLAZHIDYAHB3MZ6562XU6MEC6XUH6TGPSZDBA4O6HZ6EMQQOWZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZHRDNBEQRLFGNSGYJMHQNTNK7HSWV4QUBO3ZKAI35EY77WLUUOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QLQEM7ISDWJP3BLCU6GVQQGF7HPQRTFR4WHG2OVKM7URSEBAPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2J6BFRGX4TI626WKRCA7DK6JSCOFKDIJDTIK5LNSEXKN4EIX2FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3CUOCYKW45ZHQSA5FM26CJ3C6AAJZAZUMR2KDSOOTCGD4XAIVGOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DONWWFD57TZJBWXTD7UIHBTK52Z2VPARH7RK2OMA6LD6D7GV5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBITSOSFCRX2M5FDUIEUZGBWAPXAWHHH6YTBXTJVOKRFIUF2XYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYQ57VC4JL25MSPKRATMDRG4IHD3RL42KR7WDJO6EEVDNDYPEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R56UWLKCGCSEI5G3DFBNRQTE3BIJIO3U4IGWAX46KIFSPELVLWTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYX62PGXZ62XVE35FW67TKDCFEJFOXJYWRVMYWSYTY2XR6WCCCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUIL7IDIPHYOFACHNZRPAPXGCSSEHRK3K2SXK47IZQD6XL5YOJOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB7MJJBNNBQ2E5JGHO52GURDUEDKJUEHKSNCKVZ4JATCOACMXEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAPR46ECYZZ5AGDB74R63AZWLTR4UQ4XABDIUBC4QFLQJ7CTCURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23ZITSDPVQJBNPXJMEU6ZO7VLZSFI6WJ7DEMVKJ6ZCS2XKILCNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5KDHHQEUWC7E6GWAN7IXWYPSMBA3VSAZDTSOEHQ3NCWEGQ7I4RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEIW2VDGJCYYMKGIW642OC63PEGKEBQ6CGPOYWKDKFMLOO4ZPVNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBC5AEKGDN7MXL4GRMGT4NEX76MS6YVYFIDYFKX2I43NBXBZMHHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVZFPEDETCJT34SZHYR5L4AELX7XLIZD2UPYE2MDMLOWBOOLOY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZXWKSB43I5VTMTJSRQLNUDYLC3OSN3OCBAMTWZ54MN2FDVYFAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZ44LE4QSLAHISGNX66CTO6QVURGNNRWGFGBMCKUTBR6TUWLZWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5DLBNKVBLYK7T55YV6EUIK7TTPPFWQE5HVWACXEZTVYG57LMO4Q/vendors.js"
            ]
        },
        "DeleteIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityIdsToDelete"
                ],
                "members": {
                    "IdentityIdsToDelete": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnprocessedIdentityIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityId": {},
                                "ErrorCode": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "DeleteIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "DescribeIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {}
                }
            },
            "output": {
                "shape": "Sz"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "DescribeIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "GetCredentialsForIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S13"
                    },
                    "CustomRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Credentials": {
                        "type": "structure",
                        "members": {
                            "AccessKeyId": {},
                            "SecretKey": {},
                            "SessionToken": {},
                            "Expiration": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "GetId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "AccountId": {},
                    "IdentityPoolId": {},
                    "Logins": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "GetIdentityPoolAnalytics": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "TotalIdentityCount": {
                        "type": "long"
                    },
                    "IdentityAnalyticsList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityProviderId": {},
                                "IdentityCount": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "GetIdentityPoolDailyAnalytics": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "StartDay": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityPoolDailyIdentities": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "GetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1p"
                    },
                    "RoleMappings": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "GetIdentityProviderDailyAnalytics": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderId": {},
                    "StartDay": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderId": {},
                    "IdentityProviderDailyIdentities": {
                        "shape": "S1l"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "GetOpenIdToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "GetOpenIdTokenForDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Logins"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S13"
                    },
                    "PrincipalTags": {
                        "shape": "S27"
                    },
                    "TokenDuration": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "GetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "ListIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "MaxResults"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "HideDisabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Identities": {
                        "type": "list",
                        "member": {
                            "shape": "Sz"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "ListIdentityPools": {
            "input": {
                "type": "structure",
                "required": [
                    "MaxResults"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityPoolId": {},
                                "IdentityPoolName": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "LastModifiedDate": {
                                    "type": "timestamp"
                                },
                                "IdentityPoolArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "LookupDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "DeveloperUserIdentifier": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "DeveloperUserIdentifierList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "MergeDeveloperIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceUserIdentifier",
                    "DestinationUserIdentifier",
                    "DeveloperProviderName",
                    "IdentityPoolId"
                ],
                "members": {
                    "SourceUserIdentifier": {},
                    "DestinationUserIdentifier": {},
                    "DeveloperProviderName": {},
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "SetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Roles"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1p"
                    },
                    "RoleMappings": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "SetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "UnlinkDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId",
                    "DeveloperProviderName",
                    "DeveloperUserIdentifier"
                ],
                "members": {
                    "IdentityId": {},
                    "IdentityPoolId": {},
                    "DeveloperProviderName": {},
                    "DeveloperUserIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7BQJHVW52367XNVGASP3QT52N324ICWQMAFVYDFQWVABZHWC4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHMCXOLN4PJLD6L4W2753NITMKVZ7BNSIYJ6HN4BPHOBVWQZS6WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBB3SPAS7F6WDIK2F6E6KZYTFSFIMFREPBDMFNTIX3WRVWCWSMIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUUD6P23BP3DYB23BU2PPAOWN7MFHZQWG47LFWA7FT6IPWPSITDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPK7RYLMI3FQ744UKNXDFUKTDST3RGKKAL2OTGGZBZUW3XFHHROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5YGMBJDNNHS23BRP627S25NVKUD622X756HN2HVL22WTZ3K6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACUW43RJURTXH2LXQDNERS3DEUSZCKLU5RJSBQ3IELJ6ZIINJHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLF7BTPZB4U4ZFIWJPCH4SFAM243TGDTWNRO5AVB6URKPBAEH4LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA6VWBLR6DDBJMQYDL74VIN5MF4TCDAD6SSKC2QRE6XMDYJMSIOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QE7KZRRIID5QHRP32ERE462FSQZ5DYAAL4NLHINGFG5DTG23KCJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYOSJIQZGPE74Y7MSYUFVY2NVEJWPOB7XJBEBK4PDRBYAUATPMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIY4W3ERW4EB2OE3HNODU63X5R2RZRW4RTFJRBKV2DRKRAMD4Z4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBEQETUSMAUSALT6J6TZFOUI45B3HE3FBS5SC7U4XU72RDGF67VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RAEI5KEZW4KGK6EAEKKFIK3735CVR3QMZ4MYD65XFILGHJESXBPA/vendors.js"
            ]
        },
        "UnlinkIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "Logins",
                    "LoginsToRemove"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S13"
                    },
                    "LoginsToRemove": {
                        "shape": "S10"
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/USNEKAF5ZVQMWZNRJGLL77R6WPGAWGIUOMU5OJJVF2LQAAIKPIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRUOLMKAKDMJNGUKDRBWRJ72F6Y5QQM2X3D3NXDRDSFLU4TIGBMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3ZS5GPBM7FUPK3WJ2XFOHEMWUOIITTGXX2OAAJ2AA5CN2B2V4XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YYIUWGPXR7CWVVHHLYDHQ7QSNSVXPE2QRFQ6BDW2EXC4RA5KRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBEHNF6WFKMOQJQDRS2UEGSBWVWIWWMECWX2PSXRSETQIH5QEB7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MS7ES2MCOSAI7JUZSE2PTHON3E7OKIRHQJ6FIS5GGD7YJFYBC2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54ADGBI5O6RNHMXMJASRS7XDN6ZPPINSJ6YRHC3GEEMQUWUIURKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPHEXRC2NAQ7IDI3HTDPW6XJFQO4LQJ7JPJ4ZQUTGAITNHX3EF2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LRKULIZY5R772XFSBT4KAGYLCDWTDUFAGF3KIIYLHJTQRI2PE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2NHIPRXKOD7PNGT2SXN6YWYJYESOYIKDBNPBM3VN3P7MAIOKJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTUSEYFK36GL6BJ5HYFFGJROOLLR6H2NM66GIMZBU3HQ6SZRENA/vendors.js",
[...]
