{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-04-18",
        "endpointPrefix": "AWSCognitoSyncService",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWSCognitoSyncService",
        "serviceId": "Cognito Sync",
        "signatureVersion": "v4",
        "signingName": "cognito-sync",
        "uid": "AWSCognitoSyncService-2016-04-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/53XRVZBVQOTPEDMUDDRUGANCJSQDOXDAT6U33KIRW5WNCZ64AZPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
        ]
    },
    "operations": {
        "BulkPublish": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/bulkpublish",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "DeleteDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dataset": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "DescribeDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Dataset": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "DescribeIdentityPoolUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolUsage": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "DescribeIdentityUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityUsage": {
                        "type": "structure",
                        "members": {
                            "IdentityId": {},
                            "IdentityPoolId": {},
                            "LastModifiedDate": {
                                "type": "timestamp"
                            },
                            "DatasetCount": {
                                "type": "integer"
                            },
                            "DataStorage": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "GetBulkPublishDetails": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/getBulkPublishDetails",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "BulkPublishStartTime": {
                        "type": "timestamp"
                    },
                    "BulkPublishCompleteTime": {
                        "type": "timestamp"
                    },
                    "BulkPublishStatus": {},
                    "FailureMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "GetCognitoEvents": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/events",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Events": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "GetIdentityPoolConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "PushSync": {
                        "shape": "Sy"
                    },
                    "CognitoStreams": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "ListDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Datasets": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    },
                    "Count": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "ListIdentityPoolUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolUsages": {
                        "type": "list",
                        "member": {
                            "shape": "Sj"
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Count": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "ListRecords": {
            "http": {
                "method": "GET",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/records",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "LastSyncCount": {
                        "location": "querystring",
                        "locationName": "lastSyncCount"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults"
                    },
                    "SyncSessionToken": {
                        "location": "querystring",
                        "locationName": "syncSessionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "shape": "S1g"
                    },
                    "NextToken": {},
                    "Count": {
                        "type": "integer"
                    },
                    "DatasetSyncCount": {
                        "type": "long"
                    },
                    "LastModifiedBy": {},
                    "MergedDatasetNames": {
                        "type": "list",
                        "member": {}
                    },
                    "DatasetExists": {
                        "type": "boolean"
                    },
                    "DatasetDeletedAfterRequestedSyncCount": {
                        "type": "boolean"
                    },
                    "SyncSessionToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "QueryRecords": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/query",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityAlias": {},
                    "DatasetName": {},
                    "FieldsToGet": {
                        "shape": "S1o"
                    },
                    "QueryExpression": {},
                    "QueryExpressionValues": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "OrderBy": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Field": {},
                                "SortOrder": {}
                            }
                        }
                    },
                    "GroupBy": {
                        "shape": "S1o"
                    },
                    "Aggregations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "Field": {}
                            }
                        }
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityAlias": {},
                                "Key": {},
                                "Value": {}
                            }
                        }
                    },
                    "AggregateRecords": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "RegisterDevice": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identity/{IdentityId}/device",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "Platform",
                    "Token"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "Platform": {},
                    "Token": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeviceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "SetCognitoEvents": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/events",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Events"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "Events": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "SetDatasetConfiguration": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "Type": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Type": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "SetIdentityPoolConfiguration": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "PushSync": {
                        "shape": "Sy"
                    },
                    "CognitoStreams": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "PushSync": {
                        "shape": "Sy"
                    },
                    "CognitoStreams": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "SubscribeToDataset": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "DeviceId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {
                        "location": "uri",
                        "locationName": "DeviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "UnsubscribeFromDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "DeviceId"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {
                        "location": "uri",
                        "locationName": "DeviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        },
        "UpdateRecords": {
            "http": {
                "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityId",
                    "DatasetName",
                    "SyncSessionToken"
                ],
                "members": {
                    "IdentityPoolId": {
                        "location": "uri",
                        "locationName": "IdentityPoolId"
                    },
                    "IdentityId": {
                        "location": "uri",
                        "locationName": "IdentityId"
                    },
                    "DatasetName": {
                        "location": "uri",
                        "locationName": "DatasetName"
                    },
                    "DeviceId": {},
                    "RecordPatches": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Op",
                                "Key",
                                "SyncCount"
                            ],
                            "members": {
                                "Op": {},
                                "Key": {},
                                "Value": {},
                                "SyncCount": {
                                    "type": "long"
                                },
                                "DeviceLastModifiedDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "SyncSessionToken": {},
                    "ClientContext": {
                        "location": "header",
                        "locationName": "x-amz-Client-Context"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Records": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GAUNK6ECHHYSK2DGRKC2AZGPCVJLDEOQXBPK54XPJBTVYUJF6NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJUB24MGNX42EWHGP2WLW7QU7BJWBJDWBPCNZJE4GV3N5KBZ6U4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UF4MKE6HXO2UWPGXRVFJUIO3QMULESZIC5HYVIJRR4CVBYYW7MWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEM2VCG5ICCNKNBW53BO7L2KPCPTKEOY7ZWBLTZETKFXF2KUFB6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5STNZKJU5FJGSSKX4JLKI4Z6OOEBYAMLVXUVVFZR7VF7RUBGYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/METZSQDD6BBJ6PHRINEAOOQETES5E4LS77OS7E6SVUZUARK3ZMJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHGI64CN6CTRXU3WZQURN4UWJYZTPCBWZDR6YVREKNJLZKX2PXLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6AISWGIW7ZZKCRDGUT3ZGGHE4H6CA3QJXAEN6QBMFWEANSBRZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZQV5MYLZISKJC2FMRL67DQ2JLWSOJNPDHCDF76ZVVTFOHD7BU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRLCLNALZSAZ37QFCBOB5KIH7NDQSFS7WDY6MPOENLJPNDTZ5ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FXH6FE4CROV64GSOOMGC2UBW5PIKNBYQWP6XIAGLFDNOC7O7SR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YL6LOUAEISLAAHFJMH6KEJS3Y6LYN2M5EY6DQMPVDYTJ6B42PW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7TAXUSZMO6QNYBS3IISRNVOEDH5CKGR7VNGKG65R32IVGBHUFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4253W4UKCQXNZDDRLZTQA4YS3JEW7PLAHR3NLNKXIUOIEFNWYZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHWCEGA6YX4LSL5MET5LIW2L5OSHUEKNGVPW7GEMNUJL6PHIQ22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U36WGHSYTGA5SSUXEBQRBD5CGEM44ZWSMWEUZU5ILUSBXGXHWE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VP55NEUFTAQIBLPLTMMOC7HQDOPU6CHRDX5POJQUVGXYLCPT2YOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPLFMOI6AF32KAOLQSZEJ4NULAX3WPHAI2KUNNC5CHKY6O3ZFOPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJNGGXHRJEOS4RUO2TL77SXKWF2WVAGCALMCHOIMZ6GNR4G4SAYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVPG3Q5ZNX6UPF52JNTLB7B2URMZSYFGRZSZATHG3IJM7NFQAY2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P33SETAC3QEFC45AQ5IQGIVHJA7DEHLLFVBJ3XOAVCSP2NCVMFDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKOADU6NI32ZTSDLABUX57KYDVFMSE6PZTFO5XVZOW2K7DSHUCXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QM5HHIJ4NY4GH6LCPHVWZGZ7MTZ2UVWJUIHOILPPYAG3BAF4VH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7UZUNHMWEOSGXGB7CRIXEG6QCUPBQAOAKF5XZPGF5FM2CIOK2AA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S8": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "DatasetName": {},
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                },
                "LastModifiedBy": {},
                "DataStorage": {
                    "type": "long"
                },
                "NumRecords": {
                    "type": "long"
                },
                "Type": {
                    "shape": "Sc"
                }
            }
        },
        "Sc": {
            "type": "structure",
            "members": {
                "Visibility": {},
                "Queryable": {
                    "type": "boolean"
                }
            }
        },
        "Sj": {
            "type": "structure",
            "members": {
                "IdentityPoolId": {},
                "SyncSessionsCount": {
                    "type": "long"
                },
                "DataStorage": {
                    "type": "long"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "St": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sy": {
            "type": "structure",
            "members": {
                "ApplicationArns": {
                    "type": "list",
                    "member": {}
                },
                "RoleArn": {}
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "StreamName": {},
                "RoleArn": {},
                "StreamingStatus": {},
                "DisabledReason": {}
            }
        },
        "S1g": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Key": {},
                    "Value": {},
                    "SyncCount": {
                        "type": "long"
                    },
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "LastModifiedBy": {},
                    "DeviceLastModifiedDate": {
                        "type": "timestamp"
                    }
                }
            }
        },
        "S1o": {
            "type": "list",
            "member": {}
        }
    }
}