{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-01-20",
        "endpointPrefix": "glue",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Glue Notebook Control Plane",
        "serviceId": "glue",
        "signatureVersion": "v4",
        "signingName": "glue",
        "uid": "awsgluenotebookcontrolplane-2020-01-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JFP2FYTIHWOPXHDN6B6NB2GSOAZVRZ3634DTUSO5YGWE7NOWTKEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7MTQHLKXI5WRFE4K75PW5MKYIGYE4NYMXPHUSB6QEYU2GFPCW7GQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TEUDAVPSS5ZOMRJLOW5FKJ4FQ4AFDD22N2OIAV37OIY3S33BF5LA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LTYQCVFSDLSR5FPYN4CNOUQBGNEKFH6GZHKCWAGT5BMHVDC7PEPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7JYBHWCHSCFYDOCBWF6YQI7X547KXNUQWXYOTY7NK7YBKB7OV5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NHRUUCPGH7Q7ICMPJI57LDWWVXCN5XWHOAMYH26EMU2G3TW3NBEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4M5MYKS6M6BD7U52PPJQDC2Y7BXSQKYIWDPE6JGAAXD6JESUW5HQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2YPYHONTZZGDQYOAXHQPT6B36QZBD7MHIHLRHNWMAUZGXLWGRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FFAONOKY2SHYMFPXVGMJT7K57SL2M2FAT4DK75HBA3Q2SYOBFAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M2KBKB3233MMFBFZGSND2PNJ7N7ULTSMV7W3HDYNIV3MIJN5UFKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PG7F7W76NMIXMMHCCFAYJFCRY7ZA5OJJLPQGRH4M7ZE6TUKB7KIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V22XZPY7VKQAZER6ZKEQDJ4FCBQUC6PKUZZZLA6JUUQ5UAHBBBWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35KJXIGFU54ALNKVPXURP5CSOMUCGKJKILLTKJYDQNUW4YC3R66Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4OLLSSWHO4BUDMWDWZOYPQLOSZXGASMT4D74NXF2KBJCRH4LLVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KAT5JYJIWFAOYKJY7MDLVHFSZQMM6PVGUSWBHI2E2XBQASBRJM4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6MQDKBDNKQZ2QFQMRUMZ5X4DOTHVE4QQ33PBNSCOA7GLIBXDDWSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QCAPIGPDDHBWOHK5KB6RP5FUQ4WRD6DSYWTVGBI5FYZCW3SK4SZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/INKZFP3XSUY5IQTJPTTGAKWM76IDDZAG5OZQ5GBKKYKOVCW6FALQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7E3LGJ4DHIDO44VKFX2A4SYMIG6CYGWHWGDJ32HI4VBI3JRNHJEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TT5JKDSKH2O47Q22NUXRQWGPBHSVAUJGB2P7FP7KQF5SN2OWHCJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KEGGKABF7AMWU7V26SJVGQ3USNNKTNALPUHMXEH4JTHSXWEWJVJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWT5M4SWLLBGCSONEIWVD3QTI52XD7RTQN4D44JL34SWKT4EANVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TN5N4UHMVDZQKIYIYPFGDMC7B5DS75VQHOTIGSBLSKYCVU4Y6JHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AFXZCKCGNJM45WDOBLK2D5HBMDWVDCJGCCEC2JIGVXBT4M6JKLRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXWVTREOOILI74MMDTCORF4TDDZNCMAB75XHO66CTV7NWDTCMCIA/main.js"
        ]
    },
    "operations": {
        "GetNotebookInstanceStatus": {
            "name": "GetNotebookInstanceStatus",
            "http": {
                "method": "GET",
                "requestUri": "/notebook/{notebookId}/status"
            },
            "input": {
                "shape": "GetNotebookInstanceStatusRequest"
            },
            "output": {
                "shape": "GetNotebookInstanceStatusResponse"
            },
            "errors": [
                {
                    "shape": "GetTaskException"
                },
                {
                    "shape": "EntityNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServiceException"
                },
                {
                    "shape": "OperationTimeoutException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MTQHLKXI5WRFE4K75PW5MKYIGYE4NYMXPHUSB6QEYU2GFPCW7GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEUDAVPSS5ZOMRJLOW5FKJ4FQ4AFDD22N2OIAV37OIY3S33BF5LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYQCVFSDLSR5FPYN4CNOUQBGNEKFH6GZHKCWAGT5BMHVDC7PEPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7JYBHWCHSCFYDOCBWF6YQI7X547KXNUQWXYOTY7NK7YBKB7OV5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRUUCPGH7Q7ICMPJI57LDWWVXCN5XWHOAMYH26EMU2G3TW3NBEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4M5MYKS6M6BD7U52PPJQDC2Y7BXSQKYIWDPE6JGAAXD6JESUW5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2YPYHONTZZGDQYOAXHQPT6B36QZBD7MHIHLRHNWMAUZGXLWGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FFAONOKY2SHYMFPXVGMJT7K57SL2M2FAT4DK75HBA3Q2SYOBFAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2KBKB3233MMFBFZGSND2PNJ7N7ULTSMV7W3HDYNIV3MIJN5UFKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG7F7W76NMIXMMHCCFAYJFCRY7ZA5OJJLPQGRH4M7ZE6TUKB7KIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V22XZPY7VKQAZER6ZKEQDJ4FCBQUC6PKUZZZLA6JUUQ5UAHBBBWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35KJXIGFU54ALNKVPXURP5CSOMUCGKJKILLTKJYDQNUW4YC3R66Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OLLSSWHO4BUDMWDWZOYPQLOSZXGASMT4D74NXF2KBJCRH4LLVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KAT5JYJIWFAOYKJY7MDLVHFSZQMM6PVGUSWBHI2E2XBQASBRJM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MQDKBDNKQZ2QFQMRUMZ5X4DOTHVE4QQ33PBNSCOA7GLIBXDDWSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCAPIGPDDHBWOHK5KB6RP5FUQ4WRD6DSYWTVGBI5FYZCW3SK4SZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INKZFP3XSUY5IQTJPTTGAKWM76IDDZAG5OZQ5GBKKYKOVCW6FALQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7E3LGJ4DHIDO44VKFX2A4SYMIG6CYGWHWGDJ32HI4VBI3JRNHJEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TT5JKDSKH2O47Q22NUXRQWGPBHSVAUJGB2P7FP7KQF5SN2OWHCJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEGGKABF7AMWU7V26SJVGQ3USNNKTNALPUHMXEH4JTHSXWEWJVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWT5M4SWLLBGCSONEIWVD3QTI52XD7RTQN4D44JL34SWKT4EANVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN5N4UHMVDZQKIYIYPFGDMC7B5DS75VQHOTIGSBLSKYCVU4Y6JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFXZCKCGNJM45WDOBLK2D5HBMDWVDCJGCCEC2JIGVXBT4M6JKLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXWVTREOOILI74MMDTCORF4TDDZNCMAB75XHO66CTV7NWDTCMCIA/main.js"
            ]
        },
        "GlueNotebookAuthorize": {
            "name": "GlueNotebookAuthorize",
            "http": {
                "method": "GET",
                "requestUri": "/notebook/{notebookId}/authorize/{roleArn}"
            },
            "input": {
                "shape": "GlueNotebookAuthorizeRequest"
            },
            "output": {
                "shape": "GlueNotebookAuthorizeResponse"
            },
            "errors": [
                {
                    "shape": "EntityNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServiceException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MTQHLKXI5WRFE4K75PW5MKYIGYE4NYMXPHUSB6QEYU2GFPCW7GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEUDAVPSS5ZOMRJLOW5FKJ4FQ4AFDD22N2OIAV37OIY3S33BF5LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYQCVFSDLSR5FPYN4CNOUQBGNEKFH6GZHKCWAGT5BMHVDC7PEPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7JYBHWCHSCFYDOCBWF6YQI7X547KXNUQWXYOTY7NK7YBKB7OV5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRUUCPGH7Q7ICMPJI57LDWWVXCN5XWHOAMYH26EMU2G3TW3NBEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4M5MYKS6M6BD7U52PPJQDC2Y7BXSQKYIWDPE6JGAAXD6JESUW5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2YPYHONTZZGDQYOAXHQPT6B36QZBD7MHIHLRHNWMAUZGXLWGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FFAONOKY2SHYMFPXVGMJT7K57SL2M2FAT4DK75HBA3Q2SYOBFAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2KBKB3233MMFBFZGSND2PNJ7N7ULTSMV7W3HDYNIV3MIJN5UFKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG7F7W76NMIXMMHCCFAYJFCRY7ZA5OJJLPQGRH4M7ZE6TUKB7KIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V22XZPY7VKQAZER6ZKEQDJ4FCBQUC6PKUZZZLA6JUUQ5UAHBBBWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35KJXIGFU54ALNKVPXURP5CSOMUCGKJKILLTKJYDQNUW4YC3R66Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OLLSSWHO4BUDMWDWZOYPQLOSZXGASMT4D74NXF2KBJCRH4LLVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KAT5JYJIWFAOYKJY7MDLVHFSZQMM6PVGUSWBHI2E2XBQASBRJM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MQDKBDNKQZ2QFQMRUMZ5X4DOTHVE4QQ33PBNSCOA7GLIBXDDWSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCAPIGPDDHBWOHK5KB6RP5FUQ4WRD6DSYWTVGBI5FYZCW3SK4SZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INKZFP3XSUY5IQTJPTTGAKWM76IDDZAG5OZQ5GBKKYKOVCW6FALQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7E3LGJ4DHIDO44VKFX2A4SYMIG6CYGWHWGDJ32HI4VBI3JRNHJEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TT5JKDSKH2O47Q22NUXRQWGPBHSVAUJGB2P7FP7KQF5SN2OWHCJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEGGKABF7AMWU7V26SJVGQ3USNNKTNALPUHMXEH4JTHSXWEWJVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWT5M4SWLLBGCSONEIWVD3QTI52XD7RTQN4D44JL34SWKT4EANVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN5N4UHMVDZQKIYIYPFGDMC7B5DS75VQHOTIGSBLSKYCVU4Y6JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFXZCKCGNJM45WDOBLK2D5HBMDWVDCJGCCEC2JIGVXBT4M6JKLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXWVTREOOILI74MMDTCORF4TDDZNCMAB75XHO66CTV7NWDTCMCIA/main.js"
            ]
        },
        "GlueNotebookRefreshCredentials": {
            "name": "GlueNotebookRefreshCredentials",
            "http": {
                "method": "GET",
                "requestUri": "/refreshcredential"
            },
            "output": {
                "shape": "GlueNotebookRefreshCredentialsResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MTQHLKXI5WRFE4K75PW5MKYIGYE4NYMXPHUSB6QEYU2GFPCW7GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEUDAVPSS5ZOMRJLOW5FKJ4FQ4AFDD22N2OIAV37OIY3S33BF5LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYQCVFSDLSR5FPYN4CNOUQBGNEKFH6GZHKCWAGT5BMHVDC7PEPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7JYBHWCHSCFYDOCBWF6YQI7X547KXNUQWXYOTY7NK7YBKB7OV5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRUUCPGH7Q7ICMPJI57LDWWVXCN5XWHOAMYH26EMU2G3TW3NBEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4M5MYKS6M6BD7U52PPJQDC2Y7BXSQKYIWDPE6JGAAXD6JESUW5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2YPYHONTZZGDQYOAXHQPT6B36QZBD7MHIHLRHNWMAUZGXLWGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FFAONOKY2SHYMFPXVGMJT7K57SL2M2FAT4DK75HBA3Q2SYOBFAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2KBKB3233MMFBFZGSND2PNJ7N7ULTSMV7W3HDYNIV3MIJN5UFKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG7F7W76NMIXMMHCCFAYJFCRY7ZA5OJJLPQGRH4M7ZE6TUKB7KIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V22XZPY7VKQAZER6ZKEQDJ4FCBQUC6PKUZZZLA6JUUQ5UAHBBBWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35KJXIGFU54ALNKVPXURP5CSOMUCGKJKILLTKJYDQNUW4YC3R66Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OLLSSWHO4BUDMWDWZOYPQLOSZXGASMT4D74NXF2KBJCRH4LLVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KAT5JYJIWFAOYKJY7MDLVHFSZQMM6PVGUSWBHI2E2XBQASBRJM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MQDKBDNKQZ2QFQMRUMZ5X4DOTHVE4QQ33PBNSCOA7GLIBXDDWSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCAPIGPDDHBWOHK5KB6RP5FUQ4WRD6DSYWTVGBI5FYZCW3SK4SZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INKZFP3XSUY5IQTJPTTGAKWM76IDDZAG5OZQ5GBKKYKOVCW6FALQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7E3LGJ4DHIDO44VKFX2A4SYMIG6CYGWHWGDJ32HI4VBI3JRNHJEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TT5JKDSKH2O47Q22NUXRQWGPBHSVAUJGB2P7FP7KQF5SN2OWHCJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEGGKABF7AMWU7V26SJVGQ3USNNKTNALPUHMXEH4JTHSXWEWJVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWT5M4SWLLBGCSONEIWVD3QTI52XD7RTQN4D44JL34SWKT4EANVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN5N4UHMVDZQKIYIYPFGDMC7B5DS75VQHOTIGSBLSKYCVU4Y6JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFXZCKCGNJM45WDOBLK2D5HBMDWVDCJGCCEC2JIGVXBT4M6JKLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXWVTREOOILI74MMDTCORF4TDDZNCMAB75XHO66CTV7NWDTCMCIA/main.js"
            ]
        },
        "StartNotebook": {
            "name": "StartNotebook",
            "http": {
                "method": "POST",
                "requestUri": "/notebook"
            },
            "input": {
                "shape": "StartNotebookRequest"
            },
            "output": {
                "shape": "StartNotebookResponse"
            },
            "errors": [
                {
                    "shape": "CreateTaskException"
                },
                {
                    "shape": "GetTaskException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "InvalidInputException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "EntityNotFoundException"
                },
                {
                    "shape": "InternalServiceException"
                },
                {
                    "shape": "OperationTimeoutException"
                },
                {
                    "shape": "InvalidInputException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MTQHLKXI5WRFE4K75PW5MKYIGYE4NYMXPHUSB6QEYU2GFPCW7GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEUDAVPSS5ZOMRJLOW5FKJ4FQ4AFDD22N2OIAV37OIY3S33BF5LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYQCVFSDLSR5FPYN4CNOUQBGNEKFH6GZHKCWAGT5BMHVDC7PEPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7JYBHWCHSCFYDOCBWF6YQI7X547KXNUQWXYOTY7NK7YBKB7OV5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRUUCPGH7Q7ICMPJI57LDWWVXCN5XWHOAMYH26EMU2G3TW3NBEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4M5MYKS6M6BD7U52PPJQDC2Y7BXSQKYIWDPE6JGAAXD6JESUW5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2YPYHONTZZGDQYOAXHQPT6B36QZBD7MHIHLRHNWMAUZGXLWGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FFAONOKY2SHYMFPXVGMJT7K57SL2M2FAT4DK75HBA3Q2SYOBFAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2KBKB3233MMFBFZGSND2PNJ7N7ULTSMV7W3HDYNIV3MIJN5UFKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG7F7W76NMIXMMHCCFAYJFCRY7ZA5OJJLPQGRH4M7ZE6TUKB7KIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V22XZPY7VKQAZER6ZKEQDJ4FCBQUC6PKUZZZLA6JUUQ5UAHBBBWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35KJXIGFU54ALNKVPXURP5CSOMUCGKJKILLTKJYDQNUW4YC3R66Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OLLSSWHO4BUDMWDWZOYPQLOSZXGASMT4D74NXF2KBJCRH4LLVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KAT5JYJIWFAOYKJY7MDLVHFSZQMM6PVGUSWBHI2E2XBQASBRJM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MQDKBDNKQZ2QFQMRUMZ5X4DOTHVE4QQ33PBNSCOA7GLIBXDDWSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCAPIGPDDHBWOHK5KB6RP5FUQ4WRD6DSYWTVGBI5FYZCW3SK4SZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INKZFP3XSUY5IQTJPTTGAKWM76IDDZAG5OZQ5GBKKYKOVCW6FALQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7E3LGJ4DHIDO44VKFX2A4SYMIG6CYGWHWGDJ32HI4VBI3JRNHJEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TT5JKDSKH2O47Q22NUXRQWGPBHSVAUJGB2P7FP7KQF5SN2OWHCJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEGGKABF7AMWU7V26SJVGQ3USNNKTNALPUHMXEH4JTHSXWEWJVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWT5M4SWLLBGCSONEIWVD3QTI52XD7RTQN4D44JL34SWKT4EANVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN5N4UHMVDZQKIYIYPFGDMC7B5DS75VQHOTIGSBLSKYCVU4Y6JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFXZCKCGNJM45WDOBLK2D5HBMDWVDCJGCCEC2JIGVXBT4M6JKLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXWVTREOOILI74MMDTCORF4TDDZNCMAB75XHO66CTV7NWDTCMCIA/main.js"
            ]
        },
        "TerminateNotebook": {
            "name": "TerminateNotebook",
            "http": {
                "method": "POST",
                "requestUri": "/notebook/{notebookId}"
            },
            "input": {
                "shape": "TerminateNotebookRequest"
            },
            "output": {
                "shape": "TerminateNotebookResponse"
            },
            "errors": [
                {
                    "shape": "EntityNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServiceException"
                },
                {
                    "shape": "OperationTimeoutException"
                },
                {
                    "shape": "InvalidInputException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MTQHLKXI5WRFE4K75PW5MKYIGYE4NYMXPHUSB6QEYU2GFPCW7GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEUDAVPSS5ZOMRJLOW5FKJ4FQ4AFDD22N2OIAV37OIY3S33BF5LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTYQCVFSDLSR5FPYN4CNOUQBGNEKFH6GZHKCWAGT5BMHVDC7PEPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7JYBHWCHSCFYDOCBWF6YQI7X547KXNUQWXYOTY7NK7YBKB7OV5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHRUUCPGH7Q7ICMPJI57LDWWVXCN5XWHOAMYH26EMU2G3TW3NBEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4M5MYKS6M6BD7U52PPJQDC2Y7BXSQKYIWDPE6JGAAXD6JESUW5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2YPYHONTZZGDQYOAXHQPT6B36QZBD7MHIHLRHNWMAUZGXLWGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FFAONOKY2SHYMFPXVGMJT7K57SL2M2FAT4DK75HBA3Q2SYOBFAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2KBKB3233MMFBFZGSND2PNJ7N7ULTSMV7W3HDYNIV3MIJN5UFKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG7F7W76NMIXMMHCCFAYJFCRY7ZA5OJJLPQGRH4M7ZE6TUKB7KIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V22XZPY7VKQAZER6ZKEQDJ4FCBQUC6PKUZZZLA6JUUQ5UAHBBBWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35KJXIGFU54ALNKVPXURP5CSOMUCGKJKILLTKJYDQNUW4YC3R66Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OLLSSWHO4BUDMWDWZOYPQLOSZXGASMT4D74NXF2KBJCRH4LLVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KAT5JYJIWFAOYKJY7MDLVHFSZQMM6PVGUSWBHI2E2XBQASBRJM4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MQDKBDNKQZ2QFQMRUMZ5X4DOTHVE4QQ33PBNSCOA7GLIBXDDWSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCAPIGPDDHBWOHK5KB6RP5FUQ4WRD6DSYWTVGBI5FYZCW3SK4SZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INKZFP3XSUY5IQTJPTTGAKWM76IDDZAG5OZQ5GBKKYKOVCW6FALQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7E3LGJ4DHIDO44VKFX2A4SYMIG6CYGWHWGDJ32HI4VBI3JRNHJEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TT5JKDSKH2O47Q22NUXRQWGPBHSVAUJGB2P7FP7KQF5SN2OWHCJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEGGKABF7AMWU7V26SJVGQ3USNNKTNALPUHMXEH4JTHSXWEWJVJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWT5M4SWLLBGCSONEIWVD3QTI52XD7RTQN4D44JL34SWKT4EANVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TN5N4UHMVDZQKIYIYPFGDMC7B5DS75VQHOTIGSBLSKYCVU4Y6JHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFXZCKCGNJM45WDOBLK2D5HBMDWVDCJGCCEC2JIGVXBT4M6JKLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXWVTREOOILI74MMDTCORF4TDDZNCMAB75XHO66CTV7NWDTCMCIA/main.js"
            ]
        }
    },
    "shapes": {
        "AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                }
            },
            "exception": true
        },
        "AlreadyExistsException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                }
            },
            "exception": true
        },
        "AtLeastTwoInteger": {
            "type": "integer",
            "min": 2
        },
        "CreateTaskException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "NonEmptyString"
                }
            },
            "error": {
                "httpStatusCode": 400
            },
            "exception": true
        },
        "EntityNotFoundException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                },
                "FromFederationSource": {
                    "shape": "NullableBoolean"
                }
            },
            "exception": true
        },
        "GetNotebookInstanceStatusRequest": {
            "type": "structure",
            "required": [
                "notebookId"
            ],
            "members": {
                "notebookId": {
                    "shape": "uuid",
                    "location": "uri",
                    "locationName": "notebookId"
                }
            }
        },
        "GetNotebookInstanceStatusResponse": {
            "type": "structure",
            "members": {
                "notebookInstanceStatus": {
                    "shape": "NotebookStatus"
                }
            }
        },
        "GetTaskException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "NonEmptyString"
                }
            },
            "error": {
                "httpStatusCode": 400
            },
            "exception": true
        },
        "GlueNotebookAuthorizeRequest": {
            "type": "structure",
            "required": [
                "notebookId",
                "roleArn",
                "userId"
            ],
            "members": {
                "notebookId": {
                    "shape": "uuid",
                    "location": "uri",
                    "locationName": "notebookId"
                },
                "roleArn": {
                    "shape": "roleArn",
                    "location": "uri",
                    "locationName": "roleArn"
                },
                "userId": {
                    "shape": "userId"
                }
            }
        },
        "GlueNotebookAuthorizeResponse": {
            "type": "structure",
            "members": {
                "address": {
                    "shape": "ipAddress"
                }
            }
        },
        "GlueNotebookRefreshCredentialsResponse": {
            "type": "structure",
            "members": {
                "jwt": {
                    "shape": "jwt"
                },
                "tokenExpirationTime": {
                    "shape": "PositiveLong"
                }
            }
        },
        "InternalServiceException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                }
            },
            "exception": true,
            "fault": true
        },
        "InvalidInputException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                },
                "FromFederationSource": {
                    "shape": "NullableBoolean"
                }
            },
            "exception": true
        },
        "MessageString": {
            "type": "string"
        },
        "NonEmptyString": {
            "type": "string",
            "max": 2147483647,
            "min": 1,
            "pattern": "[sS]*"
        },
        "NonNegativeInteger": {
            "type": "integer",
            "box": true,
            "min": 0
        },
        "NotebookStatus": {
            "type": "string",
            "enum": [
                "CANCELED",
                "FAILED",
                "TIMEOUT",
                "RUNNING",
                "CANCELING",
                "PROVISIONING"
            ]
        },
        "NotebookType": {
            "type": "string",
            "enum": [
                "JUPYTER_NOTEBOOK"
            ]
        },
        "NullableBoolean": {
            "type": "boolean",
            "box": true
        },
        "NumericString": {
            "type": "string",
            "max": 2147483647,
            "min": 1,
            "pattern": "^d+.d+$"
        },
        "OperationTimeoutException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                }
            },
            "exception": true
        },
        "PositiveLong": {
            "type": "long",
            "min": 1
        },
        "StartNotebookRequest": {
            "type": "structure",
            "required": [
                "roleArn",
                "userId"
            ],
            "members": {
                "roleArn": {
                    "shape": "roleArn"
                },
                "timeout": {
                    "shape": "NonNegativeInteger"
                },
                "notebookType": {
                    "shape": "NotebookType"
                },
                "priority": {
                    "shape": "NonNegativeInteger",
                    "box": true
                },
                "maxCapacity": {
                    "shape": "AtLeastTwoInteger",
                    "box": true
                },
                "notebookArguments": {
                    "shape": "notebookArguments"
                },
                "runtimeVersion": {
                    "shape": "NumericString"
                },
                "userId": {
                    "shape": "userId"
                },
                "command": {
                    "shape": "NonEmptyString"
                }
            }
        },
        "StartNotebookResponse": {
            "type": "structure",
            "members": {
                "notebookId": {
                    "shape": "uuid"
                },
                "sessionId": {
                    "shape": "uuid"
                },
                "status": {
                    "shape": "NotebookStatus"
                },
                "jwt": {
                    "shape": "jwt"
                },
                "tokenExpirationTime": {
                    "shape": "PositiveLong"
                }
            }
        },
        "TerminateNotebookRequest": {
            "type": "structure",
            "required": [
                "notebookId"
            ],
            "members": {
                "notebookId": {
                    "shape": "uuid",
                    "location": "uri",
                    "locationName": "notebookId"
                }
            }
        },
        "TerminateNotebookResponse": {
            "type": "structure",
            "members": {
                "notebookInstanceStatus": {
                    "shape": "NotebookStatus"
                }
            }
        },
        "ValidationException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                }
            },
            "exception": true
        },
        "ipAddress": {
            "type": "string",
            "max": 9,
            "min": 5,
            "pattern": "^(?:[0-9]{1,3}.){3}[0-9]{1,3}$"
        },
        "jwt": {
            "type": "string",
            "max": 2147483647,
            "min": 1,
            "pattern": "[sS]*",
            "sensitive": true
        },
        "notebookArguments": {
            "type": "list",
            "member": {
                "shape": "NonEmptyString"
            }
        },
        "roleArn": {
            "type": "string",
            "max": 2048,
            "min": 16,
            "pattern": "arn:.*:iam::.*:role/.*"
        },
        "userId": {
            "type": "string",
            "sensitive": true
        },
        "uuid": {
            "type": "string",
            "max": 36,
            "min": 36,
            "pattern": "[sS]*"
        }
    },
    "documentation": "An example service, deployed with the Octane Service creator, which will query and manipulate a set of beer information"
}