{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-01-20",
        "endpointPrefix": "glue",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Glue Notebook Control Plane",
        "serviceId": "glue",
        "signatureVersion": "v4",
        "signingName": "glue",
        "uid": "awsgluenotebookcontrolplane-2020-01-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GMUFB55EVE2AR653FZEKNOB5CSX2XVOJWZB3SLISUF2GJDENLZSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PVX5NUFXQQ5JCCMLM6YYJHN7EQNAD6Q4BCXN3WFDUTYH6HVL6VAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YDJCNERNZBK732BUVTPG2QW6XL5EQN3GJAOZPZGBL3V2427GDK4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AOAWDQ27LKO26H75NA5OCKI64ETGJCHGGFXS5A6U63TSJJLXUBWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIZY4SRRPX3NCYIY3LUJEHIKMIUMHO76P54UYIDNBIGFVA6NRBWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMBKYFEKUNG2662AMX34TMH26BTNDD2JREODAM7FIIC5XSOZRTHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JKHE337GCDJFN42KU2KHFV6WXE7OTU3X3H422WONA7FAMAEJEB5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/37KND5WLSDZMGPTWKVCSKO5CGP4I5KWAWBQWQGU3HTR4ATETD5NA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HVBHIEQNXYC3HR34XNWMF5V3FJJGNNYAMNRXFGRD4BJGXMLS7EXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6BPETXJBLO7F6YV4RC7PXLOE7SHT6I2F4QNMVYUELD7GDDAKC6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVE3IIHPFXPCH2BGKNWTIYU2QJKFSK6DFG2JBLC5GLPDPGDV5NGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPBV2KK2SDD3UR7Q6JG5I2CAPNSGJE3ISAGWAR5J2GECEHESMBAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5YQCTWDEFFH7PL36YWS752YHXL6T5HA7SONXYJZKJFVUZSPGHM2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XL5DH6BWEA36NY77MP7KA6HKEYGF3FKOWKQR7I2QJ5AGJYJ7TD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHZHCXNAT4BS6MQ3W7TM6HBV4VQNK6PHI43NHFODDPXTF4Q5VCZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBPP3JFIBNL4V3CMQAAJIUQASMHSAQJOLCBSS3H6CKGBNRWGDBWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7MT6WTCW47NH4GGRREENKN5SFLBWAEXH5TH2WT3V7N4QRD5FQPRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PFJHM5UZEHCRRWIOLJW52A4MOBWNFIK6H3C4VDA5RZISNDBI74JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6XUEHSTGYUEL736HS6HBSDDQMG3FTPK55AYNZFA3OR3DFD46OOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LKMHYNDQY3FMJRHFPT633QXCZW4FBS423R7KV4IYMBHFVWT5PHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ECNRB7D3Q4VDBKLWMQJA33D4K2NHPT3KTRKPM7FIAIO3CWV6LOPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/56KK2D7XKIKEOAIAKMQ4BVLSRNHDJHXFGSJ7LO73JQAKYDNERA3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOZTAP44EWZTMKGTU4Y347GAZHLFHDSCE7OBX6U4IAKRP6H3554Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LSETN6PJHK3BT23KUMYBGTMGLTP3Z3BSSJ3ATRDD55SH62KEK76A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NIXCAQXP34E64LTXCGUS47X6G5DUBPGHBCWHXKXUMNPFDNNJW7QA/main.js"
        ]
    },
    "operations": {
        "GetNotebookInstanceStatus": {
            "name": "GetNotebookInstanceStatus",
            "http": {
                "method": "GET",
                "requestUri": "/notebook/{notebookId}/status"
            },
            "input": {
                "shape": "GetNotebookInstanceStatusRequest"
            },
            "output": {
                "shape": "GetNotebookInstanceStatusResponse"
            },
            "errors": [
                {
                    "shape": "GetTaskException"
                },
                {
                    "shape": "EntityNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServiceException"
                },
                {
                    "shape": "OperationTimeoutException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVX5NUFXQQ5JCCMLM6YYJHN7EQNAD6Q4BCXN3WFDUTYH6HVL6VAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJCNERNZBK732BUVTPG2QW6XL5EQN3GJAOZPZGBL3V2427GDK4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOAWDQ27LKO26H75NA5OCKI64ETGJCHGGFXS5A6U63TSJJLXUBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIZY4SRRPX3NCYIY3LUJEHIKMIUMHO76P54UYIDNBIGFVA6NRBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMBKYFEKUNG2662AMX34TMH26BTNDD2JREODAM7FIIC5XSOZRTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKHE337GCDJFN42KU2KHFV6WXE7OTU3X3H422WONA7FAMAEJEB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37KND5WLSDZMGPTWKVCSKO5CGP4I5KWAWBQWQGU3HTR4ATETD5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVBHIEQNXYC3HR34XNWMF5V3FJJGNNYAMNRXFGRD4BJGXMLS7EXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6BPETXJBLO7F6YV4RC7PXLOE7SHT6I2F4QNMVYUELD7GDDAKC6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVE3IIHPFXPCH2BGKNWTIYU2QJKFSK6DFG2JBLC5GLPDPGDV5NGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPBV2KK2SDD3UR7Q6JG5I2CAPNSGJE3ISAGWAR5J2GECEHESMBAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YQCTWDEFFH7PL36YWS752YHXL6T5HA7SONXYJZKJFVUZSPGHM2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XL5DH6BWEA36NY77MP7KA6HKEYGF3FKOWKQR7I2QJ5AGJYJ7TD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHZHCXNAT4BS6MQ3W7TM6HBV4VQNK6PHI43NHFODDPXTF4Q5VCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBPP3JFIBNL4V3CMQAAJIUQASMHSAQJOLCBSS3H6CKGBNRWGDBWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MT6WTCW47NH4GGRREENKN5SFLBWAEXH5TH2WT3V7N4QRD5FQPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFJHM5UZEHCRRWIOLJW52A4MOBWNFIK6H3C4VDA5RZISNDBI74JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XUEHSTGYUEL736HS6HBSDDQMG3FTPK55AYNZFA3OR3DFD46OOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKMHYNDQY3FMJRHFPT633QXCZW4FBS423R7KV4IYMBHFVWT5PHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECNRB7D3Q4VDBKLWMQJA33D4K2NHPT3KTRKPM7FIAIO3CWV6LOPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56KK2D7XKIKEOAIAKMQ4BVLSRNHDJHXFGSJ7LO73JQAKYDNERA3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOZTAP44EWZTMKGTU4Y347GAZHLFHDSCE7OBX6U4IAKRP6H3554Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSETN6PJHK3BT23KUMYBGTMGLTP3Z3BSSJ3ATRDD55SH62KEK76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIXCAQXP34E64LTXCGUS47X6G5DUBPGHBCWHXKXUMNPFDNNJW7QA/main.js"
            ]
        },
        "GlueNotebookAuthorize": {
            "name": "GlueNotebookAuthorize",
            "http": {
                "method": "GET",
                "requestUri": "/notebook/{notebookId}/authorize/{roleArn}"
            },
            "input": {
                "shape": "GlueNotebookAuthorizeRequest"
            },
            "output": {
                "shape": "GlueNotebookAuthorizeResponse"
            },
            "errors": [
                {
                    "shape": "EntityNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServiceException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVX5NUFXQQ5JCCMLM6YYJHN7EQNAD6Q4BCXN3WFDUTYH6HVL6VAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJCNERNZBK732BUVTPG2QW6XL5EQN3GJAOZPZGBL3V2427GDK4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOAWDQ27LKO26H75NA5OCKI64ETGJCHGGFXS5A6U63TSJJLXUBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIZY4SRRPX3NCYIY3LUJEHIKMIUMHO76P54UYIDNBIGFVA6NRBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMBKYFEKUNG2662AMX34TMH26BTNDD2JREODAM7FIIC5XSOZRTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKHE337GCDJFN42KU2KHFV6WXE7OTU3X3H422WONA7FAMAEJEB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37KND5WLSDZMGPTWKVCSKO5CGP4I5KWAWBQWQGU3HTR4ATETD5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVBHIEQNXYC3HR34XNWMF5V3FJJGNNYAMNRXFGRD4BJGXMLS7EXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6BPETXJBLO7F6YV4RC7PXLOE7SHT6I2F4QNMVYUELD7GDDAKC6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVE3IIHPFXPCH2BGKNWTIYU2QJKFSK6DFG2JBLC5GLPDPGDV5NGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPBV2KK2SDD3UR7Q6JG5I2CAPNSGJE3ISAGWAR5J2GECEHESMBAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YQCTWDEFFH7PL36YWS752YHXL6T5HA7SONXYJZKJFVUZSPGHM2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XL5DH6BWEA36NY77MP7KA6HKEYGF3FKOWKQR7I2QJ5AGJYJ7TD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHZHCXNAT4BS6MQ3W7TM6HBV4VQNK6PHI43NHFODDPXTF4Q5VCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBPP3JFIBNL4V3CMQAAJIUQASMHSAQJOLCBSS3H6CKGBNRWGDBWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MT6WTCW47NH4GGRREENKN5SFLBWAEXH5TH2WT3V7N4QRD5FQPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFJHM5UZEHCRRWIOLJW52A4MOBWNFIK6H3C4VDA5RZISNDBI74JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XUEHSTGYUEL736HS6HBSDDQMG3FTPK55AYNZFA3OR3DFD46OOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKMHYNDQY3FMJRHFPT633QXCZW4FBS423R7KV4IYMBHFVWT5PHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECNRB7D3Q4VDBKLWMQJA33D4K2NHPT3KTRKPM7FIAIO3CWV6LOPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56KK2D7XKIKEOAIAKMQ4BVLSRNHDJHXFGSJ7LO73JQAKYDNERA3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOZTAP44EWZTMKGTU4Y347GAZHLFHDSCE7OBX6U4IAKRP6H3554Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSETN6PJHK3BT23KUMYBGTMGLTP3Z3BSSJ3ATRDD55SH62KEK76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIXCAQXP34E64LTXCGUS47X6G5DUBPGHBCWHXKXUMNPFDNNJW7QA/main.js"
            ]
        },
        "GlueNotebookRefreshCredentials": {
            "name": "GlueNotebookRefreshCredentials",
            "http": {
                "method": "GET",
                "requestUri": "/refreshcredential"
            },
            "output": {
                "shape": "GlueNotebookRefreshCredentialsResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVX5NUFXQQ5JCCMLM6YYJHN7EQNAD6Q4BCXN3WFDUTYH6HVL6VAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJCNERNZBK732BUVTPG2QW6XL5EQN3GJAOZPZGBL3V2427GDK4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOAWDQ27LKO26H75NA5OCKI64ETGJCHGGFXS5A6U63TSJJLXUBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIZY4SRRPX3NCYIY3LUJEHIKMIUMHO76P54UYIDNBIGFVA6NRBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMBKYFEKUNG2662AMX34TMH26BTNDD2JREODAM7FIIC5XSOZRTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKHE337GCDJFN42KU2KHFV6WXE7OTU3X3H422WONA7FAMAEJEB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37KND5WLSDZMGPTWKVCSKO5CGP4I5KWAWBQWQGU3HTR4ATETD5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVBHIEQNXYC3HR34XNWMF5V3FJJGNNYAMNRXFGRD4BJGXMLS7EXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6BPETXJBLO7F6YV4RC7PXLOE7SHT6I2F4QNMVYUELD7GDDAKC6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVE3IIHPFXPCH2BGKNWTIYU2QJKFSK6DFG2JBLC5GLPDPGDV5NGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPBV2KK2SDD3UR7Q6JG5I2CAPNSGJE3ISAGWAR5J2GECEHESMBAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YQCTWDEFFH7PL36YWS752YHXL6T5HA7SONXYJZKJFVUZSPGHM2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XL5DH6BWEA36NY77MP7KA6HKEYGF3FKOWKQR7I2QJ5AGJYJ7TD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHZHCXNAT4BS6MQ3W7TM6HBV4VQNK6PHI43NHFODDPXTF4Q5VCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBPP3JFIBNL4V3CMQAAJIUQASMHSAQJOLCBSS3H6CKGBNRWGDBWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MT6WTCW47NH4GGRREENKN5SFLBWAEXH5TH2WT3V7N4QRD5FQPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFJHM5UZEHCRRWIOLJW52A4MOBWNFIK6H3C4VDA5RZISNDBI74JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XUEHSTGYUEL736HS6HBSDDQMG3FTPK55AYNZFA3OR3DFD46OOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKMHYNDQY3FMJRHFPT633QXCZW4FBS423R7KV4IYMBHFVWT5PHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECNRB7D3Q4VDBKLWMQJA33D4K2NHPT3KTRKPM7FIAIO3CWV6LOPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56KK2D7XKIKEOAIAKMQ4BVLSRNHDJHXFGSJ7LO73JQAKYDNERA3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOZTAP44EWZTMKGTU4Y347GAZHLFHDSCE7OBX6U4IAKRP6H3554Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSETN6PJHK3BT23KUMYBGTMGLTP3Z3BSSJ3ATRDD55SH62KEK76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIXCAQXP34E64LTXCGUS47X6G5DUBPGHBCWHXKXUMNPFDNNJW7QA/main.js"
            ]
        },
        "StartNotebook": {
            "name": "StartNotebook",
            "http": {
                "method": "POST",
                "requestUri": "/notebook"
            },
            "input": {
                "shape": "StartNotebookRequest"
            },
            "output": {
                "shape": "StartNotebookResponse"
            },
            "errors": [
                {
                    "shape": "CreateTaskException"
                },
                {
                    "shape": "GetTaskException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "InvalidInputException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "EntityNotFoundException"
                },
                {
                    "shape": "InternalServiceException"
                },
                {
                    "shape": "OperationTimeoutException"
                },
                {
                    "shape": "InvalidInputException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVX5NUFXQQ5JCCMLM6YYJHN7EQNAD6Q4BCXN3WFDUTYH6HVL6VAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJCNERNZBK732BUVTPG2QW6XL5EQN3GJAOZPZGBL3V2427GDK4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOAWDQ27LKO26H75NA5OCKI64ETGJCHGGFXS5A6U63TSJJLXUBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIZY4SRRPX3NCYIY3LUJEHIKMIUMHO76P54UYIDNBIGFVA6NRBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMBKYFEKUNG2662AMX34TMH26BTNDD2JREODAM7FIIC5XSOZRTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKHE337GCDJFN42KU2KHFV6WXE7OTU3X3H422WONA7FAMAEJEB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37KND5WLSDZMGPTWKVCSKO5CGP4I5KWAWBQWQGU3HTR4ATETD5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVBHIEQNXYC3HR34XNWMF5V3FJJGNNYAMNRXFGRD4BJGXMLS7EXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6BPETXJBLO7F6YV4RC7PXLOE7SHT6I2F4QNMVYUELD7GDDAKC6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVE3IIHPFXPCH2BGKNWTIYU2QJKFSK6DFG2JBLC5GLPDPGDV5NGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPBV2KK2SDD3UR7Q6JG5I2CAPNSGJE3ISAGWAR5J2GECEHESMBAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YQCTWDEFFH7PL36YWS752YHXL6T5HA7SONXYJZKJFVUZSPGHM2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XL5DH6BWEA36NY77MP7KA6HKEYGF3FKOWKQR7I2QJ5AGJYJ7TD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHZHCXNAT4BS6MQ3W7TM6HBV4VQNK6PHI43NHFODDPXTF4Q5VCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBPP3JFIBNL4V3CMQAAJIUQASMHSAQJOLCBSS3H6CKGBNRWGDBWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MT6WTCW47NH4GGRREENKN5SFLBWAEXH5TH2WT3V7N4QRD5FQPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFJHM5UZEHCRRWIOLJW52A4MOBWNFIK6H3C4VDA5RZISNDBI74JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XUEHSTGYUEL736HS6HBSDDQMG3FTPK55AYNZFA3OR3DFD46OOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKMHYNDQY3FMJRHFPT633QXCZW4FBS423R7KV4IYMBHFVWT5PHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECNRB7D3Q4VDBKLWMQJA33D4K2NHPT3KTRKPM7FIAIO3CWV6LOPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56KK2D7XKIKEOAIAKMQ4BVLSRNHDJHXFGSJ7LO73JQAKYDNERA3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOZTAP44EWZTMKGTU4Y347GAZHLFHDSCE7OBX6U4IAKRP6H3554Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSETN6PJHK3BT23KUMYBGTMGLTP3Z3BSSJ3ATRDD55SH62KEK76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIXCAQXP34E64LTXCGUS47X6G5DUBPGHBCWHXKXUMNPFDNNJW7QA/main.js"
            ]
        },
        "TerminateNotebook": {
            "name": "TerminateNotebook",
            "http": {
                "method": "POST",
                "requestUri": "/notebook/{notebookId}"
            },
            "input": {
                "shape": "TerminateNotebookRequest"
            },
            "output": {
                "shape": "TerminateNotebookResponse"
            },
            "errors": [
                {
                    "shape": "EntityNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServiceException"
                },
                {
                    "shape": "OperationTimeoutException"
                },
                {
                    "shape": "InvalidInputException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVX5NUFXQQ5JCCMLM6YYJHN7EQNAD6Q4BCXN3WFDUTYH6HVL6VAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDJCNERNZBK732BUVTPG2QW6XL5EQN3GJAOZPZGBL3V2427GDK4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AOAWDQ27LKO26H75NA5OCKI64ETGJCHGGFXS5A6U63TSJJLXUBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIZY4SRRPX3NCYIY3LUJEHIKMIUMHO76P54UYIDNBIGFVA6NRBWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMBKYFEKUNG2662AMX34TMH26BTNDD2JREODAM7FIIC5XSOZRTHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKHE337GCDJFN42KU2KHFV6WXE7OTU3X3H422WONA7FAMAEJEB5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37KND5WLSDZMGPTWKVCSKO5CGP4I5KWAWBQWQGU3HTR4ATETD5NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVBHIEQNXYC3HR34XNWMF5V3FJJGNNYAMNRXFGRD4BJGXMLS7EXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6BPETXJBLO7F6YV4RC7PXLOE7SHT6I2F4QNMVYUELD7GDDAKC6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVE3IIHPFXPCH2BGKNWTIYU2QJKFSK6DFG2JBLC5GLPDPGDV5NGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPBV2KK2SDD3UR7Q6JG5I2CAPNSGJE3ISAGWAR5J2GECEHESMBAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YQCTWDEFFH7PL36YWS752YHXL6T5HA7SONXYJZKJFVUZSPGHM2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XL5DH6BWEA36NY77MP7KA6HKEYGF3FKOWKQR7I2QJ5AGJYJ7TD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHZHCXNAT4BS6MQ3W7TM6HBV4VQNK6PHI43NHFODDPXTF4Q5VCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBPP3JFIBNL4V3CMQAAJIUQASMHSAQJOLCBSS3H6CKGBNRWGDBWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MT6WTCW47NH4GGRREENKN5SFLBWAEXH5TH2WT3V7N4QRD5FQPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFJHM5UZEHCRRWIOLJW52A4MOBWNFIK6H3C4VDA5RZISNDBI74JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XUEHSTGYUEL736HS6HBSDDQMG3FTPK55AYNZFA3OR3DFD46OOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LKMHYNDQY3FMJRHFPT633QXCZW4FBS423R7KV4IYMBHFVWT5PHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECNRB7D3Q4VDBKLWMQJA33D4K2NHPT3KTRKPM7FIAIO3CWV6LOPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56KK2D7XKIKEOAIAKMQ4BVLSRNHDJHXFGSJ7LO73JQAKYDNERA3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOZTAP44EWZTMKGTU4Y347GAZHLFHDSCE7OBX6U4IAKRP6H3554Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSETN6PJHK3BT23KUMYBGTMGLTP3Z3BSSJ3ATRDD55SH62KEK76A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIXCAQXP34E64LTXCGUS47X6G5DUBPGHBCWHXKXUMNPFDNNJW7QA/main.js"
            ]
        }
    },
    "shapes": {
        "AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                }
            },
            "exception": true
        },
        "AlreadyExistsException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                }
            },
            "exception": true
        },
        "AtLeastTwoInteger": {
            "type": "integer",
            "min": 2
        },
        "CreateTaskException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "NonEmptyString"
                }
            },
            "error": {
                "httpStatusCode": 400
            },
            "exception": true
        },
        "EntityNotFoundException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                },
                "FromFederationSource": {
                    "shape": "NullableBoolean"
                }
            },
            "exception": true
        },
        "GetNotebookInstanceStatusRequest": {
            "type": "structure",
            "required": [
                "notebookId"
            ],
            "members": {
                "notebookId": {
                    "shape": "uuid",
                    "location": "uri",
                    "locationName": "notebookId"
                }
            }
        },
        "GetNotebookInstanceStatusResponse": {
            "type": "structure",
            "members": {
                "notebookInstanceStatus": {
                    "shape": "NotebookStatus"
                }
            }
        },
        "GetTaskException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "NonEmptyString"
                }
            },
            "error": {
                "httpStatusCode": 400
            },
            "exception": true
        },
        "GlueNotebookAuthorizeRequest": {
            "type": "structure",
            "required": [
                "notebookId",
                "roleArn",
                "userId"
            ],
            "members": {
                "notebookId": {
                    "shape": "uuid",
                    "location": "uri",
                    "locationName": "notebookId"
                },
                "roleArn": {
                    "shape": "roleArn",
                    "location": "uri",
                    "locationName": "roleArn"
                },
                "userId": {
                    "shape": "userId"
                }
            }
        },
        "GlueNotebookAuthorizeResponse": {
            "type": "structure",
            "members": {
                "address": {
                    "shape": "ipAddress"
                }
            }
        },
        "GlueNotebookRefreshCredentialsResponse": {
            "type": "structure",
            "members": {
                "jwt": {
                    "shape": "jwt"
                },
                "tokenExpirationTime": {
                    "shape": "PositiveLong"
                }
            }
        },
        "InternalServiceException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                }
            },
            "exception": true,
            "fault": true
        },
        "InvalidInputException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                },
                "FromFederationSource": {
                    "shape": "NullableBoolean"
                }
            },
            "exception": true
        },
        "MessageString": {
            "type": "string"
        },
        "NonEmptyString": {
            "type": "string",
            "max": 2147483647,
            "min": 1,
            "pattern": "[sS]*"
        },
        "NonNegativeInteger": {
            "type": "integer",
            "box": true,
            "min": 0
        },
        "NotebookStatus": {
            "type": "string",
            "enum": [
                "CANCELED",
                "FAILED",
                "TIMEOUT",
                "RUNNING",
                "CANCELING",
                "PROVISIONING"
            ]
        },
        "NotebookType": {
            "type": "string",
            "enum": [
                "JUPYTER_NOTEBOOK"
            ]
        },
        "NullableBoolean": {
            "type": "boolean",
            "box": true
        },
        "NumericString": {
            "type": "string",
            "max": 2147483647,
            "min": 1,
            "pattern": "^d+.d+$"
        },
        "OperationTimeoutException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                }
            },
            "exception": true
        },
        "PositiveLong": {
            "type": "long",
            "min": 1
        },
        "StartNotebookRequest": {
            "type": "structure",
            "required": [
                "roleArn",
                "userId"
            ],
            "members": {
                "roleArn": {
                    "shape": "roleArn"
                },
                "timeout": {
                    "shape": "NonNegativeInteger"
                },
                "notebookType": {
                    "shape": "NotebookType"
                },
                "priority": {
                    "shape": "NonNegativeInteger",
                    "box": true
                },
                "maxCapacity": {
                    "shape": "AtLeastTwoInteger",
                    "box": true
                },
                "notebookArguments": {
                    "shape": "notebookArguments"
                },
                "runtimeVersion": {
                    "shape": "NumericString"
                },
                "userId": {
                    "shape": "userId"
                },
                "command": {
                    "shape": "NonEmptyString"
                }
            }
        },
        "StartNotebookResponse": {
            "type": "structure",
            "members": {
                "notebookId": {
                    "shape": "uuid"
                },
                "sessionId": {
                    "shape": "uuid"
                },
                "status": {
                    "shape": "NotebookStatus"
                },
                "jwt": {
                    "shape": "jwt"
                },
                "tokenExpirationTime": {
                    "shape": "PositiveLong"
                }
            }
        },
        "TerminateNotebookRequest": {
            "type": "structure",
            "required": [
                "notebookId"
            ],
            "members": {
                "notebookId": {
                    "shape": "uuid",
                    "location": "uri",
                    "locationName": "notebookId"
                }
            }
        },
        "TerminateNotebookResponse": {
            "type": "structure",
            "members": {
                "notebookInstanceStatus": {
                    "shape": "NotebookStatus"
                }
            }
        },
        "ValidationException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                }
            },
            "exception": true
        },
        "ipAddress": {
            "type": "string",
            "max": 9,
            "min": 5,
            "pattern": "^(?:[0-9]{1,3}.){3}[0-9]{1,3}$"
        },
        "jwt": {
            "type": "string",
            "max": 2147483647,
            "min": 1,
            "pattern": "[sS]*",
            "sensitive": true
        },
        "notebookArguments": {
            "type": "list",
            "member": {
                "shape": "NonEmptyString"
            }
        },
        "roleArn": {
            "type": "string",
            "max": 2048,
            "min": 16,
            "pattern": "arn:.*:iam::.*:role/.*"
        },
        "userId": {
            "type": "string",
            "sensitive": true
        },
        "uuid": {
            "type": "string",
            "max": 36,
            "min": 36,
            "pattern": "[sS]*"
        }
    },
    "documentation": "An example service, deployed with the Octane Service creator, which will query and manipulate a set of beer information"
}