{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-01-20",
        "endpointPrefix": "glue",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Glue Notebook Control Plane",
        "serviceId": "glue",
        "signatureVersion": "v4",
        "signingName": "glue",
        "uid": "awsgluenotebookcontrolplane-2020-01-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YB2K4EBNQU6TTNFADLK5HITBZ4ZVL6G7LLB6AIMZIJJKT23PQKNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJO5XQ6OCEY5KPHGGYYGFU7SXJY6F2QHDLYVT6MOAORKB2K63GQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ET4KX7HYWLTWBBD5FBC32Z6KUEPEVLVKMF34N4VZWOPOHDOB2MIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHUIHMX6SETTH7KLY35A6FVWCP6AQPH27GRP3QVGX6ZJCDPSHJFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEZDNTHQTE3ZX7T2LGGE2UHN4RMMWDVSATPOWCLH7NHT4UC7MCNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SZZRI4WAYQIKQJCBJH4P2ZU7Y6TSB5USZXTYSCZGWRWTKWKUY6BA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/USPHICGGTRJFIYQZ6I5BDVKBCGCLFJSQMK3KPK4YVTZIU7AKXDSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FRRN6F6FOSHOF2WBHPPV6EKFBBFS5Q2NTXK36Z2P5OBBJFKX6EQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QG6B33INIVUPOC6372GEWBFJSUKDRMLG6FSKFHXBX3P4MDXAF4SQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GISI7X7FRYWIHSAMAOWH3WU3EFXD2ZWOY5VTE5PC7FCDEEU4B6JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BILEMZHEZ7ZY3GYVJFJCDCL2DXIOFIZ22J5QZLKK76HOZ4777U6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIN5NFXGUP5GZWRBSB6VD4A324ENF7MIYGOJTBHDMXO33WDQGPWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RHT2D2O7SJIEXTOQA72GYJG3C4NDIWYMSEDIMI6G2IVZXQQ2KFYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R4FHQO7Q3QRGJSHXDU5ITHQNDPWYAJRTS375STNMDPTCAN2OLYSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CA2YESG5SAA6H7NI7X2JLOBLIQRZAWC2VENNJ7VAJYCVGZGJEPDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G3N2QOTAZQSKZDCTNQYXNG6Y4LIRBOXB675FKXPAXLK2XW2F3U7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYXDABA3PM27PMIWFKUPHFDQ2XIH77TNVQO7JFDR4PESMCU4R5MA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JEBA6DSUZQGOKFVK5RGPT235FRNLL22NFQEJD5A35SO657QZ4XQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUJ4UQHZBY52JINKKHH37AHIRGT6AZSZ7TGQ572CCZ5T4BQEGRIA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7UT2DPMOL3SGTWTUZT7CA3E5GKJ3WCQ5HQIKN4545N5WHC53UTCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AA5TCRNZRDHNNFVOYVOAGKJISALSLJJ7IFXLJ4S7ZDGTNQXYNARA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOYOM3AP5X2ZAIBN4QWMYIAZN5BT2KIE2NMPWIL3YUJXRUYSSTCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HSUDPICMYEAWBGSDV7I22KMZX5EBIJLCOTV2MDBZC2IUY6WOR6YQ/main.js"
        ]
    },
    "operations": {
        "GetNotebookInstanceStatus": {
            "name": "GetNotebookInstanceStatus",
            "http": {
                "method": "GET",
                "requestUri": "/notebook/{notebookId}/status"
            },
            "input": {
                "shape": "GetNotebookInstanceStatusRequest"
            },
            "output": {
                "shape": "GetNotebookInstanceStatusResponse"
            },
            "errors": [
                {
                    "shape": "GetTaskException"
                },
                {
                    "shape": "EntityNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServiceException"
                },
                {
                    "shape": "OperationTimeoutException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2K4EBNQU6TTNFADLK5HITBZ4ZVL6G7LLB6AIMZIJJKT23PQKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJO5XQ6OCEY5KPHGGYYGFU7SXJY6F2QHDLYVT6MOAORKB2K63GQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET4KX7HYWLTWBBD5FBC32Z6KUEPEVLVKMF34N4VZWOPOHDOB2MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHUIHMX6SETTH7KLY35A6FVWCP6AQPH27GRP3QVGX6ZJCDPSHJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEZDNTHQTE3ZX7T2LGGE2UHN4RMMWDVSATPOWCLH7NHT4UC7MCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZZRI4WAYQIKQJCBJH4P2ZU7Y6TSB5USZXTYSCZGWRWTKWKUY6BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USPHICGGTRJFIYQZ6I5BDVKBCGCLFJSQMK3KPK4YVTZIU7AKXDSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRRN6F6FOSHOF2WBHPPV6EKFBBFS5Q2NTXK36Z2P5OBBJFKX6EQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QG6B33INIVUPOC6372GEWBFJSUKDRMLG6FSKFHXBX3P4MDXAF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GISI7X7FRYWIHSAMAOWH3WU3EFXD2ZWOY5VTE5PC7FCDEEU4B6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILEMZHEZ7ZY3GYVJFJCDCL2DXIOFIZ22J5QZLKK76HOZ4777U6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIN5NFXGUP5GZWRBSB6VD4A324ENF7MIYGOJTBHDMXO33WDQGPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHT2D2O7SJIEXTOQA72GYJG3C4NDIWYMSEDIMI6G2IVZXQQ2KFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4FHQO7Q3QRGJSHXDU5ITHQNDPWYAJRTS375STNMDPTCAN2OLYSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA2YESG5SAA6H7NI7X2JLOBLIQRZAWC2VENNJ7VAJYCVGZGJEPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N2QOTAZQSKZDCTNQYXNG6Y4LIRBOXB675FKXPAXLK2XW2F3U7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYXDABA3PM27PMIWFKUPHFDQ2XIH77TNVQO7JFDR4PESMCU4R5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEBA6DSUZQGOKFVK5RGPT235FRNLL22NFQEJD5A35SO657QZ4XQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUJ4UQHZBY52JINKKHH37AHIRGT6AZSZ7TGQ572CCZ5T4BQEGRIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UT2DPMOL3SGTWTUZT7CA3E5GKJ3WCQ5HQIKN4545N5WHC53UTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5TCRNZRDHNNFVOYVOAGKJISALSLJJ7IFXLJ4S7ZDGTNQXYNARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOYOM3AP5X2ZAIBN4QWMYIAZN5BT2KIE2NMPWIL3YUJXRUYSSTCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUDPICMYEAWBGSDV7I22KMZX5EBIJLCOTV2MDBZC2IUY6WOR6YQ/main.js"
            ]
        },
        "GlueNotebookAuthorize": {
            "name": "GlueNotebookAuthorize",
            "http": {
                "method": "GET",
                "requestUri": "/notebook/{notebookId}/authorize/{roleArn}"
            },
            "input": {
                "shape": "GlueNotebookAuthorizeRequest"
            },
            "output": {
                "shape": "GlueNotebookAuthorizeResponse"
            },
            "errors": [
                {
                    "shape": "EntityNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServiceException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2K4EBNQU6TTNFADLK5HITBZ4ZVL6G7LLB6AIMZIJJKT23PQKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJO5XQ6OCEY5KPHGGYYGFU7SXJY6F2QHDLYVT6MOAORKB2K63GQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET4KX7HYWLTWBBD5FBC32Z6KUEPEVLVKMF34N4VZWOPOHDOB2MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHUIHMX6SETTH7KLY35A6FVWCP6AQPH27GRP3QVGX6ZJCDPSHJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEZDNTHQTE3ZX7T2LGGE2UHN4RMMWDVSATPOWCLH7NHT4UC7MCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZZRI4WAYQIKQJCBJH4P2ZU7Y6TSB5USZXTYSCZGWRWTKWKUY6BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USPHICGGTRJFIYQZ6I5BDVKBCGCLFJSQMK3KPK4YVTZIU7AKXDSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRRN6F6FOSHOF2WBHPPV6EKFBBFS5Q2NTXK36Z2P5OBBJFKX6EQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QG6B33INIVUPOC6372GEWBFJSUKDRMLG6FSKFHXBX3P4MDXAF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GISI7X7FRYWIHSAMAOWH3WU3EFXD2ZWOY5VTE5PC7FCDEEU4B6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILEMZHEZ7ZY3GYVJFJCDCL2DXIOFIZ22J5QZLKK76HOZ4777U6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIN5NFXGUP5GZWRBSB6VD4A324ENF7MIYGOJTBHDMXO33WDQGPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHT2D2O7SJIEXTOQA72GYJG3C4NDIWYMSEDIMI6G2IVZXQQ2KFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4FHQO7Q3QRGJSHXDU5ITHQNDPWYAJRTS375STNMDPTCAN2OLYSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA2YESG5SAA6H7NI7X2JLOBLIQRZAWC2VENNJ7VAJYCVGZGJEPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N2QOTAZQSKZDCTNQYXNG6Y4LIRBOXB675FKXPAXLK2XW2F3U7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYXDABA3PM27PMIWFKUPHFDQ2XIH77TNVQO7JFDR4PESMCU4R5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEBA6DSUZQGOKFVK5RGPT235FRNLL22NFQEJD5A35SO657QZ4XQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUJ4UQHZBY52JINKKHH37AHIRGT6AZSZ7TGQ572CCZ5T4BQEGRIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UT2DPMOL3SGTWTUZT7CA3E5GKJ3WCQ5HQIKN4545N5WHC53UTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5TCRNZRDHNNFVOYVOAGKJISALSLJJ7IFXLJ4S7ZDGTNQXYNARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOYOM3AP5X2ZAIBN4QWMYIAZN5BT2KIE2NMPWIL3YUJXRUYSSTCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUDPICMYEAWBGSDV7I22KMZX5EBIJLCOTV2MDBZC2IUY6WOR6YQ/main.js"
            ]
        },
        "GlueNotebookRefreshCredentials": {
            "name": "GlueNotebookRefreshCredentials",
            "http": {
                "method": "GET",
                "requestUri": "/refreshcredential"
            },
            "output": {
                "shape": "GlueNotebookRefreshCredentialsResponse"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2K4EBNQU6TTNFADLK5HITBZ4ZVL6G7LLB6AIMZIJJKT23PQKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJO5XQ6OCEY5KPHGGYYGFU7SXJY6F2QHDLYVT6MOAORKB2K63GQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET4KX7HYWLTWBBD5FBC32Z6KUEPEVLVKMF34N4VZWOPOHDOB2MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHUIHMX6SETTH7KLY35A6FVWCP6AQPH27GRP3QVGX6ZJCDPSHJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEZDNTHQTE3ZX7T2LGGE2UHN4RMMWDVSATPOWCLH7NHT4UC7MCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZZRI4WAYQIKQJCBJH4P2ZU7Y6TSB5USZXTYSCZGWRWTKWKUY6BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USPHICGGTRJFIYQZ6I5BDVKBCGCLFJSQMK3KPK4YVTZIU7AKXDSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRRN6F6FOSHOF2WBHPPV6EKFBBFS5Q2NTXK36Z2P5OBBJFKX6EQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QG6B33INIVUPOC6372GEWBFJSUKDRMLG6FSKFHXBX3P4MDXAF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GISI7X7FRYWIHSAMAOWH3WU3EFXD2ZWOY5VTE5PC7FCDEEU4B6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILEMZHEZ7ZY3GYVJFJCDCL2DXIOFIZ22J5QZLKK76HOZ4777U6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIN5NFXGUP5GZWRBSB6VD4A324ENF7MIYGOJTBHDMXO33WDQGPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHT2D2O7SJIEXTOQA72GYJG3C4NDIWYMSEDIMI6G2IVZXQQ2KFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4FHQO7Q3QRGJSHXDU5ITHQNDPWYAJRTS375STNMDPTCAN2OLYSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA2YESG5SAA6H7NI7X2JLOBLIQRZAWC2VENNJ7VAJYCVGZGJEPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N2QOTAZQSKZDCTNQYXNG6Y4LIRBOXB675FKXPAXLK2XW2F3U7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYXDABA3PM27PMIWFKUPHFDQ2XIH77TNVQO7JFDR4PESMCU4R5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEBA6DSUZQGOKFVK5RGPT235FRNLL22NFQEJD5A35SO657QZ4XQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUJ4UQHZBY52JINKKHH37AHIRGT6AZSZ7TGQ572CCZ5T4BQEGRIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UT2DPMOL3SGTWTUZT7CA3E5GKJ3WCQ5HQIKN4545N5WHC53UTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5TCRNZRDHNNFVOYVOAGKJISALSLJJ7IFXLJ4S7ZDGTNQXYNARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOYOM3AP5X2ZAIBN4QWMYIAZN5BT2KIE2NMPWIL3YUJXRUYSSTCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUDPICMYEAWBGSDV7I22KMZX5EBIJLCOTV2MDBZC2IUY6WOR6YQ/main.js"
            ]
        },
        "StartNotebook": {
            "name": "StartNotebook",
            "http": {
                "method": "POST",
                "requestUri": "/notebook"
            },
            "input": {
                "shape": "StartNotebookRequest"
            },
            "output": {
                "shape": "StartNotebookResponse"
            },
            "errors": [
                {
                    "shape": "CreateTaskException"
                },
                {
                    "shape": "GetTaskException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "AlreadyExistsException"
                },
                {
                    "shape": "InvalidInputException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "EntityNotFoundException"
                },
                {
                    "shape": "InternalServiceException"
                },
                {
                    "shape": "OperationTimeoutException"
                },
                {
                    "shape": "InvalidInputException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2K4EBNQU6TTNFADLK5HITBZ4ZVL6G7LLB6AIMZIJJKT23PQKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJO5XQ6OCEY5KPHGGYYGFU7SXJY6F2QHDLYVT6MOAORKB2K63GQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET4KX7HYWLTWBBD5FBC32Z6KUEPEVLVKMF34N4VZWOPOHDOB2MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHUIHMX6SETTH7KLY35A6FVWCP6AQPH27GRP3QVGX6ZJCDPSHJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEZDNTHQTE3ZX7T2LGGE2UHN4RMMWDVSATPOWCLH7NHT4UC7MCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZZRI4WAYQIKQJCBJH4P2ZU7Y6TSB5USZXTYSCZGWRWTKWKUY6BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USPHICGGTRJFIYQZ6I5BDVKBCGCLFJSQMK3KPK4YVTZIU7AKXDSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRRN6F6FOSHOF2WBHPPV6EKFBBFS5Q2NTXK36Z2P5OBBJFKX6EQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QG6B33INIVUPOC6372GEWBFJSUKDRMLG6FSKFHXBX3P4MDXAF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GISI7X7FRYWIHSAMAOWH3WU3EFXD2ZWOY5VTE5PC7FCDEEU4B6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILEMZHEZ7ZY3GYVJFJCDCL2DXIOFIZ22J5QZLKK76HOZ4777U6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIN5NFXGUP5GZWRBSB6VD4A324ENF7MIYGOJTBHDMXO33WDQGPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHT2D2O7SJIEXTOQA72GYJG3C4NDIWYMSEDIMI6G2IVZXQQ2KFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4FHQO7Q3QRGJSHXDU5ITHQNDPWYAJRTS375STNMDPTCAN2OLYSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA2YESG5SAA6H7NI7X2JLOBLIQRZAWC2VENNJ7VAJYCVGZGJEPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N2QOTAZQSKZDCTNQYXNG6Y4LIRBOXB675FKXPAXLK2XW2F3U7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYXDABA3PM27PMIWFKUPHFDQ2XIH77TNVQO7JFDR4PESMCU4R5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEBA6DSUZQGOKFVK5RGPT235FRNLL22NFQEJD5A35SO657QZ4XQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUJ4UQHZBY52JINKKHH37AHIRGT6AZSZ7TGQ572CCZ5T4BQEGRIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UT2DPMOL3SGTWTUZT7CA3E5GKJ3WCQ5HQIKN4545N5WHC53UTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5TCRNZRDHNNFVOYVOAGKJISALSLJJ7IFXLJ4S7ZDGTNQXYNARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOYOM3AP5X2ZAIBN4QWMYIAZN5BT2KIE2NMPWIL3YUJXRUYSSTCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUDPICMYEAWBGSDV7I22KMZX5EBIJLCOTV2MDBZC2IUY6WOR6YQ/main.js"
            ]
        },
        "TerminateNotebook": {
            "name": "TerminateNotebook",
            "http": {
                "method": "POST",
                "requestUri": "/notebook/{notebookId}"
            },
            "input": {
                "shape": "TerminateNotebookRequest"
            },
            "output": {
                "shape": "TerminateNotebookResponse"
            },
            "errors": [
                {
                    "shape": "EntityNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "InternalServiceException"
                },
                {
                    "shape": "OperationTimeoutException"
                },
                {
                    "shape": "InvalidInputException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2K4EBNQU6TTNFADLK5HITBZ4ZVL6G7LLB6AIMZIJJKT23PQKNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJO5XQ6OCEY5KPHGGYYGFU7SXJY6F2QHDLYVT6MOAORKB2K63GQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET4KX7HYWLTWBBD5FBC32Z6KUEPEVLVKMF34N4VZWOPOHDOB2MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHUIHMX6SETTH7KLY35A6FVWCP6AQPH27GRP3QVGX6ZJCDPSHJFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEZDNTHQTE3ZX7T2LGGE2UHN4RMMWDVSATPOWCLH7NHT4UC7MCNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZZRI4WAYQIKQJCBJH4P2ZU7Y6TSB5USZXTYSCZGWRWTKWKUY6BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USPHICGGTRJFIYQZ6I5BDVKBCGCLFJSQMK3KPK4YVTZIU7AKXDSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRRN6F6FOSHOF2WBHPPV6EKFBBFS5Q2NTXK36Z2P5OBBJFKX6EQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QG6B33INIVUPOC6372GEWBFJSUKDRMLG6FSKFHXBX3P4MDXAF4SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GISI7X7FRYWIHSAMAOWH3WU3EFXD2ZWOY5VTE5PC7FCDEEU4B6JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILEMZHEZ7ZY3GYVJFJCDCL2DXIOFIZ22J5QZLKK76HOZ4777U6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIN5NFXGUP5GZWRBSB6VD4A324ENF7MIYGOJTBHDMXO33WDQGPWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHT2D2O7SJIEXTOQA72GYJG3C4NDIWYMSEDIMI6G2IVZXQQ2KFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4FHQO7Q3QRGJSHXDU5ITHQNDPWYAJRTS375STNMDPTCAN2OLYSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA2YESG5SAA6H7NI7X2JLOBLIQRZAWC2VENNJ7VAJYCVGZGJEPDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3N2QOTAZQSKZDCTNQYXNG6Y4LIRBOXB675FKXPAXLK2XW2F3U7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYXDABA3PM27PMIWFKUPHFDQ2XIH77TNVQO7JFDR4PESMCU4R5MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEBA6DSUZQGOKFVK5RGPT235FRNLL22NFQEJD5A35SO657QZ4XQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUJ4UQHZBY52JINKKHH37AHIRGT6AZSZ7TGQ572CCZ5T4BQEGRIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UT2DPMOL3SGTWTUZT7CA3E5GKJ3WCQ5HQIKN4545N5WHC53UTCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5TCRNZRDHNNFVOYVOAGKJISALSLJJ7IFXLJ4S7ZDGTNQXYNARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOYOM3AP5X2ZAIBN4QWMYIAZN5BT2KIE2NMPWIL3YUJXRUYSSTCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUDPICMYEAWBGSDV7I22KMZX5EBIJLCOTV2MDBZC2IUY6WOR6YQ/main.js"
            ]
        }
    },
    "shapes": {
        "AccessDeniedException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                }
            },
            "exception": true
        },
        "AlreadyExistsException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                }
            },
            "exception": true
        },
        "AtLeastTwoInteger": {
            "type": "integer",
            "min": 2
        },
        "CreateTaskException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "NonEmptyString"
                }
            },
            "error": {
                "httpStatusCode": 400
            },
            "exception": true
        },
        "EntityNotFoundException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                },
                "FromFederationSource": {
                    "shape": "NullableBoolean"
                }
            },
            "exception": true
        },
        "GetNotebookInstanceStatusRequest": {
            "type": "structure",
            "required": [
                "notebookId"
            ],
            "members": {
                "notebookId": {
                    "shape": "uuid",
                    "location": "uri",
                    "locationName": "notebookId"
                }
            }
        },
        "GetNotebookInstanceStatusResponse": {
            "type": "structure",
            "members": {
                "notebookInstanceStatus": {
                    "shape": "NotebookStatus"
                }
            }
        },
        "GetTaskException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "NonEmptyString"
                }
            },
            "error": {
                "httpStatusCode": 400
            },
            "exception": true
        },
        "GlueNotebookAuthorizeRequest": {
            "type": "structure",
            "required": [
                "notebookId",
                "roleArn",
                "userId"
            ],
            "members": {
                "notebookId": {
                    "shape": "uuid",
                    "location": "uri",
                    "locationName": "notebookId"
                },
                "roleArn": {
                    "shape": "roleArn",
                    "location": "uri",
                    "locationName": "roleArn"
                },
                "userId": {
                    "shape": "userId"
                }
            }
        },
        "GlueNotebookAuthorizeResponse": {
            "type": "structure",
            "members": {
                "address": {
                    "shape": "ipAddress"
                }
            }
        },
        "GlueNotebookRefreshCredentialsResponse": {
            "type": "structure",
            "members": {
                "jwt": {
                    "shape": "jwt"
                },
                "tokenExpirationTime": {
                    "shape": "PositiveLong"
                }
            }
        },
        "InternalServiceException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                }
            },
            "exception": true,
            "fault": true
        },
        "InvalidInputException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                },
                "FromFederationSource": {
                    "shape": "NullableBoolean"
                }
            },
            "exception": true
        },
        "MessageString": {
            "type": "string"
        },
        "NonEmptyString": {
            "type": "string",
            "max": 2147483647,
            "min": 1,
            "pattern": "[sS]*"
        },
        "NonNegativeInteger": {
            "type": "integer",
            "box": true,
            "min": 0
        },
        "NotebookStatus": {
            "type": "string",
            "enum": [
                "CANCELED",
                "FAILED",
                "TIMEOUT",
                "RUNNING",
                "CANCELING",
                "PROVISIONING"
            ]
        },
        "NotebookType": {
            "type": "string",
            "enum": [
                "JUPYTER_NOTEBOOK"
            ]
        },
        "NullableBoolean": {
            "type": "boolean",
            "box": true
        },
        "NumericString": {
            "type": "string",
            "max": 2147483647,
            "min": 1,
            "pattern": "^d+.d+$"
        },
        "OperationTimeoutException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                }
            },
            "exception": true
        },
        "PositiveLong": {
            "type": "long",
            "min": 1
        },
        "StartNotebookRequest": {
            "type": "structure",
            "required": [
                "roleArn",
                "userId"
            ],
            "members": {
                "roleArn": {
                    "shape": "roleArn"
                },
                "timeout": {
                    "shape": "NonNegativeInteger"
                },
                "notebookType": {
                    "shape": "NotebookType"
                },
                "priority": {
                    "shape": "NonNegativeInteger",
                    "box": true
                },
                "maxCapacity": {
                    "shape": "AtLeastTwoInteger",
                    "box": true
                },
                "notebookArguments": {
                    "shape": "notebookArguments"
                },
                "runtimeVersion": {
                    "shape": "NumericString"
                },
                "userId": {
                    "shape": "userId"
                },
                "command": {
                    "shape": "NonEmptyString"
                }
            }
        },
        "StartNotebookResponse": {
            "type": "structure",
            "members": {
                "notebookId": {
                    "shape": "uuid"
                },
                "sessionId": {
                    "shape": "uuid"
                },
                "status": {
                    "shape": "NotebookStatus"
                },
                "jwt": {
                    "shape": "jwt"
                },
                "tokenExpirationTime": {
                    "shape": "PositiveLong"
                }
            }
        },
        "TerminateNotebookRequest": {
            "type": "structure",
            "required": [
                "notebookId"
            ],
            "members": {
                "notebookId": {
                    "shape": "uuid",
                    "location": "uri",
                    "locationName": "notebookId"
                }
            }
        },
        "TerminateNotebookResponse": {
            "type": "structure",
            "members": {
                "notebookInstanceStatus": {
                    "shape": "NotebookStatus"
                }
            }
        },
        "ValidationException": {
            "type": "structure",
            "members": {
                "Message": {
                    "shape": "MessageString"
                }
            },
            "exception": true
        },
        "ipAddress": {
            "type": "string",
            "max": 9,
            "min": 5,
            "pattern": "^(?:[0-9]{1,3}.){3}[0-9]{1,3}$"
        },
        "jwt": {
            "type": "string",
            "max": 2147483647,
            "min": 1,
            "pattern": "[sS]*",
            "sensitive": true
        },
        "notebookArguments": {
            "type": "list",
            "member": {
                "shape": "NonEmptyString"
            }
        },
        "roleArn": {
            "type": "string",
            "max": 2048,
            "min": 16,
            "pattern": "arn:.*:iam::.*:role/.*"
        },
        "userId": {
            "type": "string",
            "sensitive": true
        },
        "uuid": {
            "type": "string",
            "max": 36,
            "min": 36,
            "pattern": "[sS]*"
        }
    },
    "documentation": "An example service, deployed with the Octane Service creator, which will query and manipulate a set of beer information"
}