{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-05-08",
        "endpointPrefix": "iamadmin",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "AWS IAMAdmin",
        "serviceFullName": "AWS Identity Management Admin Service",
        "serviceId": "IAMAdmin",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityManagementAdminService",
        "uid": "awsiamadmin-2010-05-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
        ]
    },
    "operations": {
        "AttachServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "AmazonManagedPolicyArn"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "AmazonManagedPolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "CreatePolicyForServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyArn"
                ],
                "members": {
                    "PolicyArn": {},
                    "PolicyDocument": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "CreateServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "InlinePolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "Description": {},
                    "CustomSuffix": {},
                    "InlinePolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Role": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "CreateServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "RoleDescription": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "TrustPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "TrustPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "AmazonManagedPolicyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Role"
                ],
                "members": {
                    "Role": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "GetGroupMembershipCounts": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "integer"
                        }
                    },
                    "ErrorMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "ErrorCode": {
                                        "type": "integer"
                                    },
                                    "ErrorMessage": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "ListRolesByPrincipal": {
            "input": {
                "type": "structure",
                "required": [
                    "AuthorizedPrincipal"
                ],
                "members": {
                    "PathPrefix": {},
                    "Marker": {},
                    "AuthorizedPrincipal": {
                        "type": "structure",
                        "required": [
                            "providerType",
                            "principalReference"
                        ],
                        "members": {
                            "providerType": {},
                            "principalReference": {},
                            "principalName": {},
                            "principalId": {},
                            "tags": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Key",
                                        "Value"
                                    ],
                                    "members": {
                                        "Key": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Roles"
                ],
                "members": {
                    "Roles": {
                        "type": "list",
                        "member": {
                            "shape": "Sm"
                        }
                    },
                    "IsTruncated": {
                        "type": "boolean"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "PutServiceLinkedRoleInlinePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "RoleName",
                    "PolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "UpdateServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyVersion"
                ],
                "members": {
                    "PolicyVersion": {
                        "type": "structure",
                        "members": {
                            "Document": {},
                            "VersionId": {},
                            "IsDefaultVersion": {
                                "type": "boolean"
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "BatchGetRoleLastUsed": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleNames"
                ],
                "members": {
                    "RoleNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "LastUsedDate": {
                                    "type": "timestamp"
                                },
                                "Region": {}
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "BeginRootWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceAlias"
                ],
                "members": {
                    "DeviceAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Challenge": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "BeginWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "DeviceAlias"
                ],
                "members": {
                    "UserName": {},
                    "DeviceAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Challenge": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "DeactivateRootMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "SerialNumber"
                ],
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "DeleteRSAPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "PublicKeyId"
                ],
                "members": {
                    "PublicKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "EnableRootMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "SerialNumber",
                    "AuthenticationCode1",
                    "AuthenticationCode2"
                ],
                "members": {
                    "SerialNumber": {},
                    "AuthenticationCode1": {},
                    "AuthenticationCode2": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "FinalizeRootWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceAlias",
                    "ClientData",
                    "RegistrationData",
                    "RpId"
                ],
                "members": {
                    "DeviceAlias": {},
                    "ClientData": {},
                    "RegistrationData": {},
                    "RpId": {},
                    "transports": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "FinalizeWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "DeviceAlias",
                    "ClientData",
                    "RegistrationData",
                    "RpId"
                ],
                "members": {
                    "UserName": {},
                    "DeviceAlias": {},
                    "ClientData": {},
                    "RegistrationData": {},
                    "RpId": {},
                    "transports": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "GetAccountEmailAddress": {
            "output": {
                "type": "structure",
                "members": {
                    "EmailAddress": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "GetAccountName": {
            "output": {
                "type": "structure",
                "members": {
                    "AccountName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "GetLoginProfilesForMultipleUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "UserName",
                                "CreateDate"
                            ],
                            "members": {
                                "UserName": {},
                                "CreateDate": {
                                    "type": "timestamp"
                                },
                                "PasswordResetRequired": {
                                    "type": "boolean"
                                },
                                "LastPasswordChange": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "ListAccessKeyLastUsedForMultipleAccessKeys": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyIds"
                ],
                "members": {
                    "AccessKeyIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "UserName": {},
                                "AccessKeyLastUsed": {
                                    "type": "structure",
                                    "required": [
                                        "LastUsedDate",
                                        "ServiceName",
                                        "Region"
                                    ],
                                    "members": {
                                        "LastUsedDate": {
                                            "type": "timestamp"
                                        },
                                        "ServiceName": {},
                                        "Region": {}
                                    }
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "ListAccessKeysForMultipleUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "UserName",
                                    "AccessKeyId",
                                    "Status",
                                    "CreateDate"
                                ],
                                "members": {
                                    "UserName": {},
                                    "AccessKeyId": {},
                                    "Status": {},
                                    "CreateDate": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "ListAttachedPoliciesForGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "shape": "S1v"
                    },
                    "PathPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2l"
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js"
            ]
        },
        "ListAttachedPoliciesForUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    },
                    "PathPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2l"
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHDSEWALLJXS7NUVE4ZLNALGBAZ5VABBD6POXWBP6Q433S2Q4HRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3X2OX3ASTELDYZ6VSFKLV2NMXUV437IFRCF4FZETJD6YNZ4PZTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4NAVS6T5FDUDFL2GMHR7TA53SM6EFN7YKWBJ7BZ4XP7AILOMMMZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPBRLCXG4UAHQON4M2WX7NELXM25BAJ2MUEPERYL4GWN7QNN3PXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYCFJAHI4Z2SNVFRLJNYPLQSRCXIGQP4SIKUIQL5F363MTALET4A/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJ3G3ZYKHTEO2SOCWOOUKGS6W436D2OGRMPPYBQ525VAD6LXKEQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMYJJ4C5FEEJCB2CRG4DOM5UCWZVXTUL4BKPYG4SR7B7LZ2I2BYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW73JGXE57NFXG64S32REY6TNIFRGOZGGTZ52UHO3H3PSW6O7RXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CDR4TUAAJCFJECMWQZW6IZMZOU3BUEJTTVXYP5SSI2MVXLNN5IA/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
[...]
