{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-05-08",
        "endpointPrefix": "iamadmin",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "AWS IAMAdmin",
        "serviceFullName": "AWS Identity Management Admin Service",
        "serviceId": "IAMAdmin",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIdentityManagementAdminService",
        "uid": "awsiamadmin-2010-05-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
            "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
        ]
    },
    "operations": {
        "AttachServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "AmazonManagedPolicyArn"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "AmazonManagedPolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreatePolicyForServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyArn"
                ],
                "members": {
                    "PolicyArn": {},
                    "PolicyDocument": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "InlinePolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "Description": {},
                    "CustomSuffix": {},
                    "InlinePolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Role": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "CreateServiceRole": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "RoleDescription": {},
                    "PolicyName": {},
                    "Description": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "TrustPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "TrustPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    },
                    "AmazonManagedPolicyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Role"
                ],
                "members": {
                    "Role": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetGroupMembershipCounts": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "integer"
                        }
                    },
                    "ErrorMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "ErrorCode": {
                                        "type": "integer"
                                    },
                                    "ErrorMessage": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "ListRolesByPrincipal": {
            "input": {
                "type": "structure",
                "required": [
                    "AuthorizedPrincipal"
                ],
                "members": {
                    "PathPrefix": {},
                    "Marker": {},
                    "AuthorizedPrincipal": {
                        "type": "structure",
                        "required": [
                            "providerType",
                            "principalReference"
                        ],
                        "members": {
                            "providerType": {},
                            "principalReference": {},
                            "principalName": {},
                            "principalId": {},
                            "tags": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Key",
                                        "Value"
                                    ],
                                    "members": {
                                        "Key": {},
                                        "Value": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Roles"
                ],
                "members": {
                    "Roles": {
                        "type": "list",
                        "member": {
                            "shape": "Sm"
                        }
                    },
                    "IsTruncated": {
                        "type": "boolean"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "PutServiceLinkedRoleInlinePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "AWSServiceName",
                    "RoleName",
                    "PolicyName",
                    "InlinePolicyTemplateName",
                    "InlinePolicyTemplateVersion"
                ],
                "members": {
                    "AWSServiceName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "InlinePolicyTemplateName": {},
                    "InlinePolicyTemplateVersion": {
                        "type": "integer"
                    },
                    "PolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "UpdateServiceRolePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ServicePrincipalName",
                    "RoleName",
                    "PolicyName",
                    "TemplateName"
                ],
                "members": {
                    "ServicePrincipalName": {},
                    "RoleName": {},
                    "PolicyName": {},
                    "TemplateName": {},
                    "TemplateVersion": {
                        "type": "integer"
                    },
                    "PermissionsPolicySingleValueReplacements": {
                        "shape": "Sa"
                    },
                    "PermissionsPolicyMultiValueReplacements": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PolicyVersion"
                ],
                "members": {
                    "PolicyVersion": {
                        "type": "structure",
                        "members": {
                            "Document": {},
                            "VersionId": {},
                            "IsDefaultVersion": {
                                "type": "boolean"
                            },
                            "CreateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "BatchGetRoleLastUsed": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleNames"
                ],
                "members": {
                    "RoleNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "LastUsedDate": {
                                    "type": "timestamp"
                                },
                                "Region": {}
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "BeginRootWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceAlias"
                ],
                "members": {
                    "DeviceAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Challenge": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "BeginWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "DeviceAlias"
                ],
                "members": {
                    "UserName": {},
                    "DeviceAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Challenge": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeactivateRootMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "SerialNumber"
                ],
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DeleteRSAPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "PublicKeyId"
                ],
                "members": {
                    "PublicKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "EnableRootMFADevice": {
            "input": {
                "type": "structure",
                "required": [
                    "SerialNumber",
                    "AuthenticationCode1",
                    "AuthenticationCode2"
                ],
                "members": {
                    "SerialNumber": {},
                    "AuthenticationCode1": {},
                    "AuthenticationCode2": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "FinalizeRootWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceAlias",
                    "ClientData",
                    "RegistrationData",
                    "RpId"
                ],
                "members": {
                    "DeviceAlias": {},
                    "ClientData": {},
                    "RegistrationData": {},
                    "RpId": {},
                    "transports": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "FinalizeWebAuthNRegistration": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "DeviceAlias",
                    "ClientData",
                    "RegistrationData",
                    "RpId"
                ],
                "members": {
                    "UserName": {},
                    "DeviceAlias": {},
                    "ClientData": {},
                    "RegistrationData": {},
                    "RpId": {},
                    "transports": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SerialNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetAccountEmailAddress": {
            "output": {
                "type": "structure",
                "members": {
                    "EmailAddress": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetAccountName": {
            "output": {
                "type": "structure",
                "members": {
                    "AccountName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetLoginProfilesForMultipleUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "UserName",
                                "CreateDate"
                            ],
                            "members": {
                                "UserName": {},
                                "CreateDate": {
                                    "type": "timestamp"
                                },
                                "PasswordResetRequired": {
                                    "type": "boolean"
                                },
                                "LastPasswordChange": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "ListAccessKeyLastUsedForMultipleAccessKeys": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyIds"
                ],
                "members": {
                    "AccessKeyIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "UserName": {},
                                "AccessKeyLastUsed": {
                                    "type": "structure",
                                    "required": [
                                        "LastUsedDate",
                                        "ServiceName",
                                        "Region"
                                    ],
                                    "members": {
                                        "LastUsedDate": {
                                            "type": "timestamp"
                                        },
                                        "ServiceName": {},
                                        "Region": {}
                                    }
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "ListAccessKeysForMultipleUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "UserName",
                                    "AccessKeyId",
                                    "Status",
                                    "CreateDate"
                                ],
                                "members": {
                                    "UserName": {},
                                    "AccessKeyId": {},
                                    "Status": {},
                                    "CreateDate": {
                                        "type": "timestamp"
                                    }
                                }
                            }
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "ListAttachedPoliciesForGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupNames"
                ],
                "members": {
                    "GroupNames": {
                        "shape": "S1v"
                    },
                    "PathPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2l"
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "ListAttachedPoliciesForUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "UserNames"
                ],
                "members": {
                    "UserNames": {
                        "shape": "S1z"
                    },
                    "PathPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResponseMap",
                    "ErrorMap"
                ],
                "members": {
                    "ResponseMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S2l"
                        }
                    },
                    "ErrorMap": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCWZRTGOUN7TI4K6DI767COKHXTJHX5GH26VLVNO5A7BC4FBGZIQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLJBROGBAF63ZVEYPFQX6VDPJDAOO24VGDUYLHPQZVRDLT5U6O5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOS4J3GDCIHVY46KUX5QSC4BFYTWEENIX2ZGNQV6XUDBQUS33AAA/main.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMVFLQUQWLY5MHIZCG37ZBZ3NUGGSME7Q45DCJ2R5GF27VAUEKZQ/vendors_amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~253ae210.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDQCVZX6OBICJLOL55MAVIFA5Y3FYAFLYJLBF2ID7XUWTDWBUTRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNQOWXWE5HKDOCEJRK5BOWBEZFYK2JQI5XFHEIAPEYHKEZXB645A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSX7ECIROJPV4V744ZCZIT5XA5IORAX7AU3H4KPOCIJWIX5N2RIQ/commons.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "ListDescriptionsForPolicies": {
            "input": {
                "type": "structure",
                "members": {
                    "PolicyArns": {
                        "type": "list",
                        "member": {}
                    },
                    "SystemPolicies": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyDescriptions": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EQBFUZCMCLZEKKDJR7CQYFODGF5BADGYHWRJC3UYG3NHVG3Z4GQ/vendors.js",
[...]
