{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "q",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AwsLochnessFrontendService",
        "serviceFullName": "The APIs for AwsLochnessFrontendService",
        "serviceId": "AwsLochnessFrontendService",
        "signatureVersion": "v4",
        "signingName": "q",
        "uid": "awslochnessfrontendservice-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
        ]
    },
    "operations": {
        "CreateResolution": {
            "http": {
                "requestUri": "/session/{sessionId}/resolution",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "CreateSession": {
            "http": {
                "requestUri": "/session",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "errorDetail"
                ],
                "members": {
                    "errorDetail": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "CreateSessionRating": {
            "http": {
                "requestUri": "/session/{sessionId}/rating",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "ratingType",
                    "sentiment"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "ratingType": {},
                    "sentiment": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "CreateTroubleshooting": {
            "http": {
                "requestUri": "/session/{sessionId}/troubleshooting",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "GetConversation": {
            "http": {
                "requestUri": "/GetConversation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationId",
                    "messages",
                    "conversationToken",
                    "conversationExpirationTime",
                    "timestamp"
                ],
                "members": {
                    "conversationId": {},
                    "messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "utteranceId",
                                "type",
                                "format",
                                "content",
                                "from",
                                "timestamp"
                            ],
                            "members": {
                                "utteranceId": {},
                                "type": {},
                                "format": {},
                                "content": {
                                    "shape": "Sl"
                                },
                                "from": {},
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "intents": {
                                    "shape": "Ss"
                                }
                            }
                        }
                    },
                    "conversationToken": {},
                    "conversationExpirationTime": {},
                    "timestamp": {
                        "type": "timestamp"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "GetSession": {
            "http": {
                "method": "GET",
                "requestUri": "/session/{sessionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {},
                    "errorDetail": {
                        "shape": "S5"
                    },
                    "analysis": {},
                    "resolutionSuggestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "description": {},
                                "detailedResolutionOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "resolution": {
                                                "type": "structure",
                                                "members": {
                                                    "cli": {
                                                        "type": "structure",
                                                        "members": {
                                                            "commands": {
                                                                "type": "list",
                                                                "member": {
                                                                    "type": "structure",
                                                                    "members": {
                                                                        "command": {},
                                                                        "description": {}
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "cdk": {
                                                        "type": "structure",
                                                        "members": {
                                                            "language": {},
                                                            "codeSnippet": {}
                                                        }
                                                    },
                                                    "python": {
                                                        "type": "structure",
                                                        "members": {
                                                            "pythonCodeSnippet": {}
                                                        }
                                                    },
                                                    "manual": {
                                                        "type": "list",
                                                        "member": {}
                                                    }
                                                },
                                                "union": true
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "troubleshootingCommands": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "commandId": {},
                                "status": {},
                                "client": {},
                                "command": {},
                                "parameters": {
                                    "shape": "S1d"
                                },
                                "result": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "HealthCheck": {
            "http": {
                "method": "GET",
                "requestUri": "/HealthCheck",
                "responseCode": 200
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "ListConversations": {
            "http": {
                "requestUri": "/ListConversations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "origins": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversations"
                ],
                "members": {
                    "conversations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "conversationId",
                                "timestamp"
                            ],
                            "members": {
                                "conversationId": {},
                                "timestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "SendMessage": {
            "http": {
                "requestUri": "/SendMessage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "utterance",
                    "conversationId",
                    "conversationToken"
                ],
                "members": {
                    "origin": {
                        "location": "header",
                        "locationName": "Origin"
                    },
                    "utterance": {
                        "type": "string",
                        "sensitive": true
                    },
                    "previousUtteranceId": {},
                    "conversationId": {},
                    "conversationToken": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "result",
                    "metadata",
                    "resultCode"
                ],
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "type",
                            "format",
                            "content"
                        ],
                        "members": {
                            "type": {},
                            "format": {},
                            "content": {
                                "shape": "Sl"
                            },
                            "intents": {
                                "shape": "Ss"
                            }
                        }
                    },
                    "metadata": {
                        "type": "structure",
                        "required": [
                            "conversationId",
                            "utteranceId"
                        ],
                        "members": {
                            "conversationId": {},
                            "utteranceId": {},
                            "conversationToken": {
                                "shape": "Sn"
                            },
                            "conversationExpirationTime": {}
                        }
                    },
                    "resultCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "StartConversation": {
            "http": {
                "requestUri": "/StartConversation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "origin": {
                        "location": "header",
                        "locationName": "Origin"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationId",
                    "conversationToken",
                    "expirationTime"
                ],
                "members": {
                    "conversationId": {},
                    "conversationToken": {},
                    "expirationTime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "UpdateCommandExecution": {
            "http": {
                "method": "PUT",
                "requestUri": "/session/{sessionId}/commands/{commandId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "commandId",
                    "status",
                    "client",
                    "command",
                    "parameters",
                    "result"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "commandId": {
                        "location": "uri",
                        "locationName": "commandId"
                    },
                    "status": {},
                    "client": {},
                    "command": {},
                    "parameters": {
                        "shape": "S1d"
                    },
                    "result": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "UpdateCommandExecutionResult": {
            "http": {
                "method": "PATCH",
                "requestUri": "/session/{sessionId}/commands/{commandId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "commandId",
                    "status",
                    "result"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "commandId": {
                        "location": "uri",
                        "locationName": "commandId"
                    },
                    "status": {},
                    "result": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "errorText": {},
                "context": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "Sl": {
            "type": "structure",
            "members": {
                "text": {
                    "type": "structure",
                    "required": [
                        "body"
                    ],
                    "members": {
                        "body": {
                            "shape": "Sn"
                        },
                        "references": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "id",
                                    "url"
                                ],
                                "members": {
                                    "id": {
                                        "shape": "Sn"
                                    },
                                    "url": {
                                        "shape": "Sn"
                                    },
                                    "title": {
                                        "shape": "Sn"
                                    },
                                    "inlineText": {
                                        "shape": "Sn"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "union": true
        },
        "Sn": {
            "type": "string",
            "sensitive": true
        },
        "Ss": {
            "type": "map",
            "key": {},
            "value": {
                "type": "map",
                "key": {},
                "value": {
                    "type": "structure",
                    "members": {
                        "string": {}
                    },
                    "union": true
                }
            }
        },
        "S1d": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "type": {},
                    "value": {}
                }
            }
        }
    }
}