{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "q",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AwsLochnessFrontendService",
        "serviceFullName": "The APIs for AwsLochnessFrontendService",
        "serviceId": "AwsLochnessFrontendService",
        "signatureVersion": "v4",
        "signingName": "q",
        "uid": "awslochnessfrontendservice-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YWPWVG4DR3GBEJUTV67F5QEFCTD36IZ5QRMJLCRFK2QEYTOSIQYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LOGNBNLOKZRZOCTUEB6MT6PJDQTK5KFW73SUFTZ2IBONM4BUYWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BDETLS26C3W7SLKVUT6LHMHRQDYUAO24Z6R5MXGZZQ467DSOSXDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JNLLVMHRMFGKQYSMYG3YSJS2TJ2XJ6QDT7BWRIS6VXCHMIBITBRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js"
        ]
    },
    "operations": {
        "CreateResolution": {
            "http": {
                "requestUri": "/session/{sessionId}/resolution",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPWVG4DR3GBEJUTV67F5QEFCTD36IZ5QRMJLCRFK2QEYTOSIQYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LOGNBNLOKZRZOCTUEB6MT6PJDQTK5KFW73SUFTZ2IBONM4BUYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDETLS26C3W7SLKVUT6LHMHRQDYUAO24Z6R5MXGZZQ467DSOSXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNLLVMHRMFGKQYSMYG3YSJS2TJ2XJ6QDT7BWRIS6VXCHMIBITBRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js"
            ]
        },
        "CreateSession": {
            "http": {
                "requestUri": "/session",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "errorDetail"
                ],
                "members": {
                    "errorDetail": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPWVG4DR3GBEJUTV67F5QEFCTD36IZ5QRMJLCRFK2QEYTOSIQYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LOGNBNLOKZRZOCTUEB6MT6PJDQTK5KFW73SUFTZ2IBONM4BUYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDETLS26C3W7SLKVUT6LHMHRQDYUAO24Z6R5MXGZZQ467DSOSXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNLLVMHRMFGKQYSMYG3YSJS2TJ2XJ6QDT7BWRIS6VXCHMIBITBRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js"
            ]
        },
        "CreateSessionRating": {
            "http": {
                "requestUri": "/session/{sessionId}/rating",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "ratingType",
                    "sentiment"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "ratingType": {},
                    "sentiment": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPWVG4DR3GBEJUTV67F5QEFCTD36IZ5QRMJLCRFK2QEYTOSIQYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LOGNBNLOKZRZOCTUEB6MT6PJDQTK5KFW73SUFTZ2IBONM4BUYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDETLS26C3W7SLKVUT6LHMHRQDYUAO24Z6R5MXGZZQ467DSOSXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNLLVMHRMFGKQYSMYG3YSJS2TJ2XJ6QDT7BWRIS6VXCHMIBITBRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js"
            ]
        },
        "CreateTroubleshooting": {
            "http": {
                "requestUri": "/session/{sessionId}/troubleshooting",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPWVG4DR3GBEJUTV67F5QEFCTD36IZ5QRMJLCRFK2QEYTOSIQYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LOGNBNLOKZRZOCTUEB6MT6PJDQTK5KFW73SUFTZ2IBONM4BUYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDETLS26C3W7SLKVUT6LHMHRQDYUAO24Z6R5MXGZZQ467DSOSXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNLLVMHRMFGKQYSMYG3YSJS2TJ2XJ6QDT7BWRIS6VXCHMIBITBRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js"
            ]
        },
        "GetConversation": {
            "http": {
                "requestUri": "/GetConversation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationId",
                    "messages",
                    "conversationToken",
                    "conversationExpirationTime",
                    "timestamp"
                ],
                "members": {
                    "conversationId": {},
                    "messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "utteranceId",
                                "type",
                                "format",
                                "content",
                                "from",
                                "timestamp"
                            ],
                            "members": {
                                "utteranceId": {},
                                "type": {},
                                "format": {},
                                "content": {
                                    "shape": "Sl"
                                },
                                "from": {},
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "intents": {
                                    "shape": "Ss"
                                }
                            }
                        }
                    },
                    "conversationToken": {},
                    "conversationExpirationTime": {},
                    "timestamp": {
                        "type": "timestamp"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPWVG4DR3GBEJUTV67F5QEFCTD36IZ5QRMJLCRFK2QEYTOSIQYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LOGNBNLOKZRZOCTUEB6MT6PJDQTK5KFW73SUFTZ2IBONM4BUYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDETLS26C3W7SLKVUT6LHMHRQDYUAO24Z6R5MXGZZQ467DSOSXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNLLVMHRMFGKQYSMYG3YSJS2TJ2XJ6QDT7BWRIS6VXCHMIBITBRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js"
            ]
        },
        "GetSession": {
            "http": {
                "method": "GET",
                "requestUri": "/session/{sessionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {},
                    "errorDetail": {
                        "shape": "S5"
                    },
                    "analysis": {},
                    "resolutionSuggestions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "description": {},
                                "detailedResolutionOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "resolution": {
                                                "type": "structure",
                                                "members": {
                                                    "cli": {
                                                        "type": "structure",
                                                        "members": {
                                                            "commands": {
                                                                "type": "list",
                                                                "member": {
                                                                    "type": "structure",
                                                                    "members": {
                                                                        "command": {},
                                                                        "description": {}
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "cdk": {
                                                        "type": "structure",
                                                        "members": {
                                                            "language": {},
                                                            "codeSnippet": {}
                                                        }
                                                    },
                                                    "python": {
                                                        "type": "structure",
                                                        "members": {
                                                            "pythonCodeSnippet": {}
                                                        }
                                                    },
                                                    "manual": {
                                                        "type": "list",
                                                        "member": {}
                                                    }
                                                },
                                                "union": true
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "troubleshootingCommands": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "commandId": {},
                                "status": {},
                                "client": {},
                                "command": {},
                                "parameters": {
                                    "shape": "S1d"
                                },
                                "result": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPWVG4DR3GBEJUTV67F5QEFCTD36IZ5QRMJLCRFK2QEYTOSIQYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LOGNBNLOKZRZOCTUEB6MT6PJDQTK5KFW73SUFTZ2IBONM4BUYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDETLS26C3W7SLKVUT6LHMHRQDYUAO24Z6R5MXGZZQ467DSOSXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNLLVMHRMFGKQYSMYG3YSJS2TJ2XJ6QDT7BWRIS6VXCHMIBITBRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js"
            ]
        },
        "HealthCheck": {
            "http": {
                "method": "GET",
                "requestUri": "/HealthCheck",
                "responseCode": 200
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPWVG4DR3GBEJUTV67F5QEFCTD36IZ5QRMJLCRFK2QEYTOSIQYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LOGNBNLOKZRZOCTUEB6MT6PJDQTK5KFW73SUFTZ2IBONM4BUYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDETLS26C3W7SLKVUT6LHMHRQDYUAO24Z6R5MXGZZQ467DSOSXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNLLVMHRMFGKQYSMYG3YSJS2TJ2XJ6QDT7BWRIS6VXCHMIBITBRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js"
            ]
        },
        "ListConversations": {
            "http": {
                "requestUri": "/ListConversations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "origins": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversations"
                ],
                "members": {
                    "conversations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "conversationId",
                                "timestamp"
                            ],
                            "members": {
                                "conversationId": {},
                                "timestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPWVG4DR3GBEJUTV67F5QEFCTD36IZ5QRMJLCRFK2QEYTOSIQYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LOGNBNLOKZRZOCTUEB6MT6PJDQTK5KFW73SUFTZ2IBONM4BUYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDETLS26C3W7SLKVUT6LHMHRQDYUAO24Z6R5MXGZZQ467DSOSXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNLLVMHRMFGKQYSMYG3YSJS2TJ2XJ6QDT7BWRIS6VXCHMIBITBRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js"
            ]
        },
        "SendMessage": {
            "http": {
                "requestUri": "/SendMessage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "utterance",
                    "conversationId",
                    "conversationToken"
                ],
                "members": {
                    "origin": {
                        "location": "header",
                        "locationName": "Origin"
                    },
                    "utterance": {
                        "type": "string",
                        "sensitive": true
                    },
                    "previousUtteranceId": {},
                    "conversationId": {},
                    "conversationToken": {
                        "type": "string",
                        "sensitive": true
                    },
                    "source": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "result",
                    "metadata",
                    "resultCode"
                ],
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "type",
                            "format",
                            "content"
                        ],
                        "members": {
                            "type": {},
                            "format": {},
                            "content": {
                                "shape": "Sl"
                            },
                            "intents": {
                                "shape": "Ss"
                            }
                        }
                    },
                    "metadata": {
                        "type": "structure",
                        "required": [
                            "conversationId",
                            "utteranceId"
                        ],
                        "members": {
                            "conversationId": {},
                            "utteranceId": {},
                            "conversationToken": {
                                "shape": "Sn"
                            },
                            "conversationExpirationTime": {}
                        }
                    },
                    "resultCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPWVG4DR3GBEJUTV67F5QEFCTD36IZ5QRMJLCRFK2QEYTOSIQYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LOGNBNLOKZRZOCTUEB6MT6PJDQTK5KFW73SUFTZ2IBONM4BUYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDETLS26C3W7SLKVUT6LHMHRQDYUAO24Z6R5MXGZZQ467DSOSXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNLLVMHRMFGKQYSMYG3YSJS2TJ2XJ6QDT7BWRIS6VXCHMIBITBRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js"
            ]
        },
        "StartConversation": {
            "http": {
                "requestUri": "/StartConversation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "origin": {
                        "location": "header",
                        "locationName": "Origin"
                    },
                    "source": {},
                    "dryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationId",
                    "conversationToken",
                    "expirationTime"
                ],
                "members": {
                    "conversationId": {},
                    "conversationToken": {},
                    "expirationTime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPWVG4DR3GBEJUTV67F5QEFCTD36IZ5QRMJLCRFK2QEYTOSIQYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LOGNBNLOKZRZOCTUEB6MT6PJDQTK5KFW73SUFTZ2IBONM4BUYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDETLS26C3W7SLKVUT6LHMHRQDYUAO24Z6R5MXGZZQ467DSOSXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNLLVMHRMFGKQYSMYG3YSJS2TJ2XJ6QDT7BWRIS6VXCHMIBITBRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js"
            ]
        },
        "UpdateCommandExecution": {
            "http": {
                "method": "PUT",
                "requestUri": "/session/{sessionId}/commands/{commandId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "commandId",
                    "status",
                    "client",
                    "command",
                    "parameters",
                    "result"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "commandId": {
                        "location": "uri",
                        "locationName": "commandId"
                    },
                    "status": {},
                    "client": {},
                    "command": {},
                    "parameters": {
                        "shape": "S1d"
                    },
                    "result": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPWVG4DR3GBEJUTV67F5QEFCTD36IZ5QRMJLCRFK2QEYTOSIQYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LOGNBNLOKZRZOCTUEB6MT6PJDQTK5KFW73SUFTZ2IBONM4BUYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDETLS26C3W7SLKVUT6LHMHRQDYUAO24Z6R5MXGZZQ467DSOSXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNLLVMHRMFGKQYSMYG3YSJS2TJ2XJ6QDT7BWRIS6VXCHMIBITBRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js"
            ]
        },
        "UpdateCommandExecutionResult": {
            "http": {
                "method": "PATCH",
                "requestUri": "/session/{sessionId}/commands/{commandId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "commandId",
                    "status",
                    "result"
                ],
                "members": {
                    "sessionId": {
                        "location": "uri",
                        "locationName": "sessionId"
                    },
                    "commandId": {
                        "location": "uri",
                        "locationName": "commandId"
                    },
                    "status": {},
                    "result": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPWVG4DR3GBEJUTV67F5QEFCTD36IZ5QRMJLCRFK2QEYTOSIQYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LOGNBNLOKZRZOCTUEB6MT6PJDQTK5KFW73SUFTZ2IBONM4BUYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDETLS26C3W7SLKVUT6LHMHRQDYUAO24Z6R5MXGZZQ467DSOSXDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNLLVMHRMFGKQYSMYG3YSJS2TJ2XJ6QDT7BWRIS6VXCHMIBITBRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js"
            ]
        },
        "PassRequest": {
            "http": {
                "requestUri": "/PassRequest",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "extensionFasPolicyPath",
                    "extensionKmsKeyArn"
                ],
                "members": {
                    "extensionFasPolicyPath": {
                        "shape": "Sj"
                    },
                    "extensionKmsKeyArn": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "encryptedExtensionFasCreds"
                ],
                "members": {
                    "encryptedExtensionFasCreds": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "errorText": {},
                "context": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "Sl": {
            "type": "structure",
            "members": {
                "text": {
                    "type": "structure",
                    "required": [
                        "body"
                    ],
                    "members": {
                        "body": {
                            "shape": "Sn"
                        },
                        "references": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "id",
                                    "url"
                                ],
                                "members": {
                                    "id": {
                                        "shape": "Sn"
                                    },
                                    "url": {
                                        "shape": "Sn"
                                    },
                                    "title": {
                                        "shape": "Sn"
                                    },
                                    "inlineText": {
                                        "shape": "Sn"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "union": true
        },
        "Sn": {
            "type": "string",
            "sensitive": true
        },
        "Ss": {
            "type": "map",
            "key": {},
            "value": {
                "type": "map",
                "key": {},
                "value": {
                    "type": "structure",
                    "members": {
                        "string": {}
                    },
                    "union": true
                }
            }
        },
        "S1d": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "name": {},
                    "type": {},
                    "value": {}
                }
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "text": {
                    "type": "structure",
                    "required": [
                        "body"
                    ],
                    "members": {
                        "body": {
                            "shape": "Sj"
                        },
                        "references": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "id",
                                    "url"
                                ],
                                "members": {
                                    "id": {
                                        "shape": "Sj"
                                    },
                                    "url": {
                                        "shape": "Sj"
                                    },
                                    "title": {
                                        "shape": "Sj"
                                    },
                                    "inlineText": {
                                        "shape": "Sj"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "union": true
        },
        "Sj": {
            "type": "string",
            "sensitive": true
        },
        "So": {
            "type": "map",
            "key": {},
            "value": {
                "type": "map",
                "key": {},
                "value": {
                    "type": "structure",
                    "members": {
                        "string": {}
                    },
                    "union": true
                },
                "sensitive": true
            }
        }
    }
}