{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-08-16",
        "endpointPrefix": "migrationhub-config",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Migration Hub Config",
        "serviceId": "Migration Hub Config",
        "signatureVersion": "v4",
        "signingName": "mgh",
        "targetPrefix": "AWSMigrationHubMultiAccountService",
        "uid": "AWSMigrationHubMultiAccountService-2019-08-16",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2L65JCGLVRWQDUZQUDXECLNDUSAXMWV354RELSNFDXK574EUI56Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MKJ7GSO3XNQXN4POF2COMY374JTI3KR6B2RGPN7SL22STPF5AUPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AH6FITLJEZYL3NY5VFGDK5B5RHLMII6GEOGTYNSHZZTGJXCFK2DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSTOVPPXKPOFJVDPJGL6PMCA5S76KREG426LYXWT5S5VQKHU5XOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLIJPGURY3XI5UDDBI7WEDPU43KI37N5QUH2LDARQUOJVBKEVLGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QZK3DWTJFE6UTNMNJCAT4UZVNFCW7JARKK2JDVGWW5KSNYXFLGPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K3WOHPWYVNL2GIPLRIS2GSXSIOOJKQ7XVXX3HUAJYL6SU5ZBUHSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FL4VK5LCU5SM7TTL4NBQQL4REPPGQMMW5YPESDY4CU637MCXO53Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2GVTZBEOFGEN77POJQXGO7QXBRETN7OUDXL4INUGXCLQQ7Z4QHNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F2SVRDRZS5VVTGRCOCAQHIQQ2INZPRWGBYHTII6NO44AVDTRSZGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VAONDHREUOO7ZICDWDFBSLGVWYVORT5VCQSDS7UKV5F4ZNFTFICQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateHomeRegionControl": {
            "input": {
                "type": "structure",
                "required": [
                    "HomeRegion",
                    "Target"
                ],
                "members": {
                    "HomeRegion": {},
                    "Target": {
                        "shape": "S3"
                    },
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HomeRegionControl": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKJ7GSO3XNQXN4POF2COMY374JTI3KR6B2RGPN7SL22STPF5AUPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH6FITLJEZYL3NY5VFGDK5B5RHLMII6GEOGTYNSHZZTGJXCFK2DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSTOVPPXKPOFJVDPJGL6PMCA5S76KREG426LYXWT5S5VQKHU5XOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLIJPGURY3XI5UDDBI7WEDPU43KI37N5QUH2LDARQUOJVBKEVLGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZK3DWTJFE6UTNMNJCAT4UZVNFCW7JARKK2JDVGWW5KSNYXFLGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3WOHPWYVNL2GIPLRIS2GSXSIOOJKQ7XVXX3HUAJYL6SU5ZBUHSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL4VK5LCU5SM7TTL4NBQQL4REPPGQMMW5YPESDY4CU637MCXO53Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GVTZBEOFGEN77POJQXGO7QXBRETN7OUDXL4INUGXCLQQ7Z4QHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F2SVRDRZS5VVTGRCOCAQHIQQ2INZPRWGBYHTII6NO44AVDTRSZGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAONDHREUOO7ZICDWDFBSLGVWYVORT5VCQSDS7UKV5F4ZNFTFICQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js"
            ]
        },
        "DescribeHomeRegionControls": {
            "input": {
                "type": "structure",
                "members": {
                    "ControlId": {},
                    "HomeRegion": {},
                    "Target": {
                        "shape": "S3"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HomeRegionControls": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKJ7GSO3XNQXN4POF2COMY374JTI3KR6B2RGPN7SL22STPF5AUPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH6FITLJEZYL3NY5VFGDK5B5RHLMII6GEOGTYNSHZZTGJXCFK2DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSTOVPPXKPOFJVDPJGL6PMCA5S76KREG426LYXWT5S5VQKHU5XOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLIJPGURY3XI5UDDBI7WEDPU43KI37N5QUH2LDARQUOJVBKEVLGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZK3DWTJFE6UTNMNJCAT4UZVNFCW7JARKK2JDVGWW5KSNYXFLGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3WOHPWYVNL2GIPLRIS2GSXSIOOJKQ7XVXX3HUAJYL6SU5ZBUHSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL4VK5LCU5SM7TTL4NBQQL4REPPGQMMW5YPESDY4CU637MCXO53Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GVTZBEOFGEN77POJQXGO7QXBRETN7OUDXL4INUGXCLQQ7Z4QHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F2SVRDRZS5VVTGRCOCAQHIQQ2INZPRWGBYHTII6NO44AVDTRSZGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAONDHREUOO7ZICDWDFBSLGVWYVORT5VCQSDS7UKV5F4ZNFTFICQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js"
            ]
        },
        "GetHomeRegion": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "HomeRegion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKJ7GSO3XNQXN4POF2COMY374JTI3KR6B2RGPN7SL22STPF5AUPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH6FITLJEZYL3NY5VFGDK5B5RHLMII6GEOGTYNSHZZTGJXCFK2DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSTOVPPXKPOFJVDPJGL6PMCA5S76KREG426LYXWT5S5VQKHU5XOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLIJPGURY3XI5UDDBI7WEDPU43KI37N5QUH2LDARQUOJVBKEVLGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZK3DWTJFE6UTNMNJCAT4UZVNFCW7JARKK2JDVGWW5KSNYXFLGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3WOHPWYVNL2GIPLRIS2GSXSIOOJKQ7XVXX3HUAJYL6SU5ZBUHSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL4VK5LCU5SM7TTL4NBQQL4REPPGQMMW5YPESDY4CU637MCXO53Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GVTZBEOFGEN77POJQXGO7QXBRETN7OUDXL4INUGXCLQQ7Z4QHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F2SVRDRZS5VVTGRCOCAQHIQQ2INZPRWGBYHTII6NO44AVDTRSZGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAONDHREUOO7ZICDWDFBSLGVWYVORT5VCQSDS7UKV5F4ZNFTFICQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {},
                "Id": {}
            }
        },
        "S8": {
            "type": "structure",
            "members": {
                "ControlId": {},
                "HomeRegion": {},
                "Target": {
                    "shape": "S3"
                },
                "RequestedTime": {
                    "type": "timestamp"
                }
            }
        }
    }
}