{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-08-16",
        "endpointPrefix": "migrationhub-config",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Migration Hub Config",
        "serviceId": "Migration Hub Config",
        "signatureVersion": "v4",
        "signingName": "mgh",
        "targetPrefix": "AWSMigrationHubMultiAccountService",
        "uid": "AWSMigrationHubMultiAccountService-2019-08-16",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/35QDK4M5R3CETONUV4RRTQMTEB2FQJJEXFOTN3VNVY62OY4JYF7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IG3UUOVSU7KREMIGQVBE2AOX5HY7HRYHIKV2IEGKSKVW7ICCJYZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FUT3Z2SZH4JNNALTMN2DUAA4BALW7JPOHBMEYCQQISQT4DE32C3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX34WTCIAVGRNEJKAQHJZDVOSNA3WBBQTO2LDKGI2GJZHC6MSAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/55TUATJMVE5ZVCKL5LY74G62PXSL25WQCZUTWE66JD37NGVRRSPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJFXQ76MGJ43AZFCXYOGMYRUZQH7SNUQBUREHC5VQSIJQGUCTRQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPDZKMM4LCCSOVWB2HO4BI3VEU6SM3XGKG2E4HSMLIFYZBFNKQ5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OOBAUBJ3ZFHSGVVIBWZCTKVVCVADRVC5NNOY2A6URLQLHPHTV4OQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NQOR4WSRG6QTUYKYS6ERYHO4T2ATM44WTXRJBNHSL7HDIEXH3Z2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2L65JCGLVRWQDUZQUDXECLNDUSAXMWV354RELSNFDXK574EUI56Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MKJ7GSO3XNQXN4POF2COMY374JTI3KR6B2RGPN7SL22STPF5AUPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AH6FITLJEZYL3NY5VFGDK5B5RHLMII6GEOGTYNSHZZTGJXCFK2DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSTOVPPXKPOFJVDPJGL6PMCA5S76KREG426LYXWT5S5VQKHU5XOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLIJPGURY3XI5UDDBI7WEDPU43KI37N5QUH2LDARQUOJVBKEVLGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QZK3DWTJFE6UTNMNJCAT4UZVNFCW7JARKK2JDVGWW5KSNYXFLGPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K3WOHPWYVNL2GIPLRIS2GSXSIOOJKQ7XVXX3HUAJYL6SU5ZBUHSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FL4VK5LCU5SM7TTL4NBQQL4REPPGQMMW5YPESDY4CU637MCXO53Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2GVTZBEOFGEN77POJQXGO7QXBRETN7OUDXL4INUGXCLQQ7Z4QHNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
        ]
    },
    "operations": {
        "CreateHomeRegionControl": {
            "input": {
                "type": "structure",
                "required": [
                    "HomeRegion",
                    "Target"
                ],
                "members": {
                    "HomeRegion": {},
                    "Target": {
                        "shape": "S3"
                    },
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HomeRegionControl": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG3UUOVSU7KREMIGQVBE2AOX5HY7HRYHIKV2IEGKSKVW7ICCJYZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUT3Z2SZH4JNNALTMN2DUAA4BALW7JPOHBMEYCQQISQT4DE32C3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX34WTCIAVGRNEJKAQHJZDVOSNA3WBBQTO2LDKGI2GJZHC6MSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55TUATJMVE5ZVCKL5LY74G62PXSL25WQCZUTWE66JD37NGVRRSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJFXQ76MGJ43AZFCXYOGMYRUZQH7SNUQBUREHC5VQSIJQGUCTRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPDZKMM4LCCSOVWB2HO4BI3VEU6SM3XGKG2E4HSMLIFYZBFNKQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOBAUBJ3ZFHSGVVIBWZCTKVVCVADRVC5NNOY2A6URLQLHPHTV4OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQOR4WSRG6QTUYKYS6ERYHO4T2ATM44WTXRJBNHSL7HDIEXH3Z2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L65JCGLVRWQDUZQUDXECLNDUSAXMWV354RELSNFDXK574EUI56Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKJ7GSO3XNQXN4POF2COMY374JTI3KR6B2RGPN7SL22STPF5AUPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH6FITLJEZYL3NY5VFGDK5B5RHLMII6GEOGTYNSHZZTGJXCFK2DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSTOVPPXKPOFJVDPJGL6PMCA5S76KREG426LYXWT5S5VQKHU5XOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLIJPGURY3XI5UDDBI7WEDPU43KI37N5QUH2LDARQUOJVBKEVLGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZK3DWTJFE6UTNMNJCAT4UZVNFCW7JARKK2JDVGWW5KSNYXFLGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3WOHPWYVNL2GIPLRIS2GSXSIOOJKQ7XVXX3HUAJYL6SU5ZBUHSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL4VK5LCU5SM7TTL4NBQQL4REPPGQMMW5YPESDY4CU637MCXO53Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GVTZBEOFGEN77POJQXGO7QXBRETN7OUDXL4INUGXCLQQ7Z4QHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "DescribeHomeRegionControls": {
            "input": {
                "type": "structure",
                "members": {
                    "ControlId": {},
                    "HomeRegion": {},
                    "Target": {
                        "shape": "S3"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HomeRegionControls": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG3UUOVSU7KREMIGQVBE2AOX5HY7HRYHIKV2IEGKSKVW7ICCJYZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUT3Z2SZH4JNNALTMN2DUAA4BALW7JPOHBMEYCQQISQT4DE32C3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX34WTCIAVGRNEJKAQHJZDVOSNA3WBBQTO2LDKGI2GJZHC6MSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55TUATJMVE5ZVCKL5LY74G62PXSL25WQCZUTWE66JD37NGVRRSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJFXQ76MGJ43AZFCXYOGMYRUZQH7SNUQBUREHC5VQSIJQGUCTRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPDZKMM4LCCSOVWB2HO4BI3VEU6SM3XGKG2E4HSMLIFYZBFNKQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOBAUBJ3ZFHSGVVIBWZCTKVVCVADRVC5NNOY2A6URLQLHPHTV4OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQOR4WSRG6QTUYKYS6ERYHO4T2ATM44WTXRJBNHSL7HDIEXH3Z2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L65JCGLVRWQDUZQUDXECLNDUSAXMWV354RELSNFDXK574EUI56Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKJ7GSO3XNQXN4POF2COMY374JTI3KR6B2RGPN7SL22STPF5AUPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH6FITLJEZYL3NY5VFGDK5B5RHLMII6GEOGTYNSHZZTGJXCFK2DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSTOVPPXKPOFJVDPJGL6PMCA5S76KREG426LYXWT5S5VQKHU5XOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLIJPGURY3XI5UDDBI7WEDPU43KI37N5QUH2LDARQUOJVBKEVLGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZK3DWTJFE6UTNMNJCAT4UZVNFCW7JARKK2JDVGWW5KSNYXFLGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3WOHPWYVNL2GIPLRIS2GSXSIOOJKQ7XVXX3HUAJYL6SU5ZBUHSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL4VK5LCU5SM7TTL4NBQQL4REPPGQMMW5YPESDY4CU637MCXO53Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GVTZBEOFGEN77POJQXGO7QXBRETN7OUDXL4INUGXCLQQ7Z4QHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "GetHomeRegion": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "HomeRegion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG3UUOVSU7KREMIGQVBE2AOX5HY7HRYHIKV2IEGKSKVW7ICCJYZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FUT3Z2SZH4JNNALTMN2DUAA4BALW7JPOHBMEYCQQISQT4DE32C3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFX34WTCIAVGRNEJKAQHJZDVOSNA3WBBQTO2LDKGI2GJZHC6MSAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2YPAAGASWYU6BHUJYT6NHRZNITT5GRZXWRF2H6ZA3NYJSK7MR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55TUATJMVE5ZVCKL5LY74G62PXSL25WQCZUTWE66JD37NGVRRSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJFXQ76MGJ43AZFCXYOGMYRUZQH7SNUQBUREHC5VQSIJQGUCTRQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPDZKMM4LCCSOVWB2HO4BI3VEU6SM3XGKG2E4HSMLIFYZBFNKQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOBAUBJ3ZFHSGVVIBWZCTKVVCVADRVC5NNOY2A6URLQLHPHTV4OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQOR4WSRG6QTUYKYS6ERYHO4T2ATM44WTXRJBNHSL7HDIEXH3Z2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L65JCGLVRWQDUZQUDXECLNDUSAXMWV354RELSNFDXK574EUI56Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKJ7GSO3XNQXN4POF2COMY374JTI3KR6B2RGPN7SL22STPF5AUPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AH6FITLJEZYL3NY5VFGDK5B5RHLMII6GEOGTYNSHZZTGJXCFK2DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSTOVPPXKPOFJVDPJGL6PMCA5S76KREG426LYXWT5S5VQKHU5XOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLIJPGURY3XI5UDDBI7WEDPU43KI37N5QUH2LDARQUOJVBKEVLGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZK3DWTJFE6UTNMNJCAT4UZVNFCW7JARKK2JDVGWW5KSNYXFLGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3WOHPWYVNL2GIPLRIS2GSXSIOOJKQ7XVXX3HUAJYL6SU5ZBUHSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FL4VK5LCU5SM7TTL4NBQQL4REPPGQMMW5YPESDY4CU637MCXO53Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GVTZBEOFGEN77POJQXGO7QXBRETN7OUDXL4INUGXCLQQ7Z4QHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {},
                "Id": {}
            }
        },
        "S8": {
            "type": "structure",
            "members": {
                "ControlId": {},
                "HomeRegion": {},
                "Target": {
                    "shape": "S3"
                },
                "RequestedTime": {
                    "type": "timestamp"
                }
            }
        }
    }
}