{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-08-16",
        "endpointPrefix": "migrationhub-config",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Migration Hub Config",
        "serviceId": "Migration Hub Config",
        "signatureVersion": "v4",
        "signingName": "mgh",
        "targetPrefix": "AWSMigrationHubMultiAccountService",
        "uid": "AWSMigrationHubMultiAccountService-2019-08-16",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GV5KOW5WI7DCT25R6OJPAKYQLCN6NABGRZO5UF7IPRLIKE2URQEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBBKFOXJSDBA4A3I3I64QTFEWLIFQNHROD7EVV43MD6I7SXW2DUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LLKJWZ2AKEIRF7IHHAPYORPBWNRX5WPLGYTNMAPROGQNXVPLRGKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBUMY2B5XFBY4TEIRJDXRXTFRIA6BBCCJN5CPXM6V2CGO23AYVYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4PIB2OO7CQUNZH72GHIEZRWX7EGMDN5MO4MGKAO5GT33ZJ7TP4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCNRN33FHLHOOSG6ME5B62ZIM4Y36WI6QRJDVLT7FUQC6VYQJVRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SSLDEKAR4DW5KQ3RNAJG2TDF5U3PR4I3U2BSTSYCNIDM5OG32TIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ESLAR2NZVCKCW5ENW5VYFPRHYDTF4EQS7RS2ESZPJMJIWLBA5CTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ARWY43HVT62WHT6R4PFNT3RRRUU7CKH6W7Y5SRNH6ZZFRAYHOAIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UY7J2FUT7AAYASHYHCNZ23XZ62B6A66KYIPB7FVMEKWRRUMEOPPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FLQDWSMRWS3JC74XIPCWDVGPFHXJ3YH2XB52K3WIMNMVX7M6DYMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6IFB2OFLVUWWOO5G3P6Y47DSNUSD523JS43MNG4D763IREIJMVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35QDK4M5R3CETONUV4RRTQMTEB2FQJJEXFOTN3VNVY62OY4JYF7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
        ]
    },
    "operations": {
        "CreateHomeRegionControl": {
            "input": {
                "type": "structure",
                "required": [
                    "HomeRegion",
                    "Target"
                ],
                "members": {
                    "HomeRegion": {},
                    "Target": {
                        "shape": "S3"
                    },
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HomeRegionControl": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV5KOW5WI7DCT25R6OJPAKYQLCN6NABGRZO5UF7IPRLIKE2URQEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBBKFOXJSDBA4A3I3I64QTFEWLIFQNHROD7EVV43MD6I7SXW2DUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLKJWZ2AKEIRF7IHHAPYORPBWNRX5WPLGYTNMAPROGQNXVPLRGKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBUMY2B5XFBY4TEIRJDXRXTFRIA6BBCCJN5CPXM6V2CGO23AYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4PIB2OO7CQUNZH72GHIEZRWX7EGMDN5MO4MGKAO5GT33ZJ7TP4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNRN33FHLHOOSG6ME5B62ZIM4Y36WI6QRJDVLT7FUQC6VYQJVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSLDEKAR4DW5KQ3RNAJG2TDF5U3PR4I3U2BSTSYCNIDM5OG32TIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESLAR2NZVCKCW5ENW5VYFPRHYDTF4EQS7RS2ESZPJMJIWLBA5CTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARWY43HVT62WHT6R4PFNT3RRRUU7CKH6W7Y5SRNH6ZZFRAYHOAIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY7J2FUT7AAYASHYHCNZ23XZ62B6A66KYIPB7FVMEKWRRUMEOPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLQDWSMRWS3JC74XIPCWDVGPFHXJ3YH2XB52K3WIMNMVX7M6DYMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6IFB2OFLVUWWOO5G3P6Y47DSNUSD523JS43MNG4D763IREIJMVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35QDK4M5R3CETONUV4RRTQMTEB2FQJJEXFOTN3VNVY62OY4JYF7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "DescribeHomeRegionControls": {
            "input": {
                "type": "structure",
                "members": {
                    "ControlId": {},
                    "HomeRegion": {},
                    "Target": {
                        "shape": "S3"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HomeRegionControls": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV5KOW5WI7DCT25R6OJPAKYQLCN6NABGRZO5UF7IPRLIKE2URQEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBBKFOXJSDBA4A3I3I64QTFEWLIFQNHROD7EVV43MD6I7SXW2DUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLKJWZ2AKEIRF7IHHAPYORPBWNRX5WPLGYTNMAPROGQNXVPLRGKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBUMY2B5XFBY4TEIRJDXRXTFRIA6BBCCJN5CPXM6V2CGO23AYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4PIB2OO7CQUNZH72GHIEZRWX7EGMDN5MO4MGKAO5GT33ZJ7TP4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNRN33FHLHOOSG6ME5B62ZIM4Y36WI6QRJDVLT7FUQC6VYQJVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSLDEKAR4DW5KQ3RNAJG2TDF5U3PR4I3U2BSTSYCNIDM5OG32TIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESLAR2NZVCKCW5ENW5VYFPRHYDTF4EQS7RS2ESZPJMJIWLBA5CTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARWY43HVT62WHT6R4PFNT3RRRUU7CKH6W7Y5SRNH6ZZFRAYHOAIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY7J2FUT7AAYASHYHCNZ23XZ62B6A66KYIPB7FVMEKWRRUMEOPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLQDWSMRWS3JC74XIPCWDVGPFHXJ3YH2XB52K3WIMNMVX7M6DYMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6IFB2OFLVUWWOO5G3P6Y47DSNUSD523JS43MNG4D763IREIJMVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35QDK4M5R3CETONUV4RRTQMTEB2FQJJEXFOTN3VNVY62OY4JYF7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        },
        "GetHomeRegion": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "HomeRegion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV5KOW5WI7DCT25R6OJPAKYQLCN6NABGRZO5UF7IPRLIKE2URQEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBBKFOXJSDBA4A3I3I64QTFEWLIFQNHROD7EVV43MD6I7SXW2DUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLKJWZ2AKEIRF7IHHAPYORPBWNRX5WPLGYTNMAPROGQNXVPLRGKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBUMY2B5XFBY4TEIRJDXRXTFRIA6BBCCJN5CPXM6V2CGO23AYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4PIB2OO7CQUNZH72GHIEZRWX7EGMDN5MO4MGKAO5GT33ZJ7TP4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCNRN33FHLHOOSG6ME5B62ZIM4Y36WI6QRJDVLT7FUQC6VYQJVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSLDEKAR4DW5KQ3RNAJG2TDF5U3PR4I3U2BSTSYCNIDM5OG32TIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESLAR2NZVCKCW5ENW5VYFPRHYDTF4EQS7RS2ESZPJMJIWLBA5CTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARWY43HVT62WHT6R4PFNT3RRRUU7CKH6W7Y5SRNH6ZZFRAYHOAIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UY7J2FUT7AAYASHYHCNZ23XZ62B6A66KYIPB7FVMEKWRRUMEOPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLQDWSMRWS3JC74XIPCWDVGPFHXJ3YH2XB52K3WIMNMVX7M6DYMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6IFB2OFLVUWWOO5G3P6Y47DSNUSD523JS43MNG4D763IREIJMVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35QDK4M5R3CETONUV4RRTQMTEB2FQJJEXFOTN3VNVY62OY4JYF7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4LKWBVEDFK5E2Z4PXHAQZPLY6TLEOH7UP7QROYFY2JQ4BLQLN2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS7GAV2TEZQCAXQRZZTBTQPBVDOG3RXQXFPCJKOUYGBOPJCPBRJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {},
                "Id": {}
            }
        },
        "S8": {
            "type": "structure",
            "members": {
                "ControlId": {},
                "HomeRegion": {},
                "Target": {
                    "shape": "S3"
                },
                "RequestedTime": {
                    "type": "timestamp"
                }
            }
        }
    }
}