{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "AWSMARSLambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWSMARS",
        "serviceFullName": "A beautiful and amazing AWSMARSLambda",
        "signatureVersion": "v4",
        "signingName": "discovery",
        "uid": "AWSMARSLambda-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
        ]
    },
    "operations": {
        "CreateApplicationRecommendationJob": {
            "http": {
                "requestUri": "/create-application-recommendation-job"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationRecommendationJobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "DescribeAppRecommendation": {
            "http": {
                "requestUri": "/describe-app-recommendation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AppRecommendationId",
                    "AppRecommendationTaskId"
                ],
                "members": {
                    "AppRecommendationId": {},
                    "AppRecommendationTaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppRecommendationId": {},
                    "AppRecommendationName": {},
                    "RecommendationStatus": {},
                    "RecommendedNodes": {
                        "shape": "Sb"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "DescribeApplicationRecommendation": {
            "http": {
                "requestUri": "/describe-application-recommendation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationRecommendationId",
                    "ApplicationRecommendationJobId"
                ],
                "members": {
                    "ApplicationRecommendationId": {},
                    "ApplicationRecommendationJobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationRecommendationId": {},
                    "ApplicationRecommendationName": {},
                    "RecommendationStatus": {},
                    "RecommendedNodes": {
                        "shape": "Sb"
                    },
                    "Explanation": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "DescribeApplicationRecommendationJob": {
            "http": {
                "requestUri": "/describe-application-recommendation-job"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationRecommendationJobId"
                ],
                "members": {
                    "ApplicationRecommendationJobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobStatus": {},
                    "TotalNodesProcessed": {
                        "type": "integer"
                    },
                    "TotalApplicationRecommendations": {
                        "type": "integer"
                    },
                    "ExcludedNodes": {
                        "type": "integer"
                    },
                    "FailureReason": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "ListAppRecommendationTasks": {
            "http": {
                "requestUri": "/list-app-recommendation-tasks"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "TaskStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppRecommendationTaskSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AppRecommendationTaskId": {},
                                "TaskStatus": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "ListAppRecommendations": {
            "http": {
                "requestUri": "/list-app-recommendations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AppRecommendationTaskId"
                ],
                "members": {
                    "AppRecommendationTaskId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Status": {},
                    "SortOption": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AppRecommendationId": {},
                                "AppRecommendationName": {},
                                "RecommendedNodeCount": {
                                    "type": "integer"
                                },
                                "Status": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "ListApplicationRecommendationJobs": {
            "http": {
                "requestUri": "/list-application-recommendation-jobs"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "JobStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationRecommendationJobSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationRecommendationJobId": {},
                                "JobStatus": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "ListApplicationRecommendations": {
            "http": {
                "requestUri": "/list-application-recommendations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationRecommendationJobId"
                ],
                "members": {
                    "ApplicationRecommendationJobId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Status": {},
                    "SortOption": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationRecommendationId": {},
                                "ApplicationRecommendationName": {},
                                "RecommendedNodeCount": {
                                    "type": "integer"
                                },
                                "Status": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "ListExcludedConfigurationItems": {
            "http": {
                "requestUri": "/list-excluded-configuration-items"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationRecommendationJobId"
                ],
                "members": {
                    "ApplicationRecommendationJobId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExcludedConfigurationItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServerId": {},
                                "ExcludeCategory": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "StartAppRecommendationTask": {
            "http": {
                "requestUri": "/start-app-recommendation-task"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppRecommendationTaskId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "UpdateAppRecommendation": {
            "http": {
                "requestUri": "/update-app-recommendation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AppRecommendationId",
                    "AppRecommendationTaskId"
                ],
                "members": {
                    "AppRecommendationId": {},
                    "AppRecommendationTaskId": {},
                    "RecommendationStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "AppRecommendationId": {},
                    "RecommendationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        },
        "UpdateApplicationRecommendationStatus": {
            "http": {
                "requestUri": "/update-application-recommendation-status"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationRecommendationId",
                    "ApplicationRecommendationJobId",
                    "RecommendationStatus"
                ],
                "members": {
                    "ApplicationRecommendationId": {},
                    "ApplicationRecommendationJobId": {},
                    "RecommendationStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "ApplicationRecommendationId": {},
                    "RecommendationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LAERTPENIUFDI5FJ4KKYRB5GPKPMOQQSIJJOCROG52PLP73OGBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IJBBQRUFTJIRRY42FPQ3SU3NQ5NX3E3NZBW7YBZPAS3VS3EHKB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYYJNQJLC3Q3RQLLPSSWSA4FSCOCQADD25TNKBUWVLVH2GFWAZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZSPOKYWGH7CQKVOYB6YX4KVXWJND34DJ2JAYSYSIH5DIBPN43LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZPO3AEWQDFXEGGE3QVGCAJV4N55LCNFS2LWMVFV7FVXBTH47CBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ORNZJI7MBSR34IVRF3G4Y55WE5XKHHOM6QVCMCHCPEPU65Q5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XTV64GLLTZTMPUQAAJC7DMJ2U3GYOAW7G3NOQW3NX3JZMBV5QHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB7ZHTCS2ZCD7I7YMPULAX6P2NH5UHQGXGAT24CIKQGLWEH5DTAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2DLMME3SUXQQ77IHMZDE4GBTOWTLMISOJECSYJWUGT54DBSGMPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOL4PRXGJ6XRUMYYAALHQDFRNASR5AGXKGAXIC6D4GNZRNCXNIBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VS2NYK3KOGRZGYBFMQGRKKJ4N7YCMLZSZWXRR4TV2RJPWTGMVBIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMSBCDSEJQ3SBR2EQZN4FSVE67FIC75FHXCUCVBCBQIVNZLETB7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNLRAN4VWD3TX4YBB4XYZOYQLIHW6WT5IRLLGX3QZFENVQVXOQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV4KHNGBF5PCDEEHIXZD6D3UHUGWISOYGHBXVMB6SYFDLA2SXVPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH6SH62FAYKNZD66DAFBNXZZXQ73YJU7PRAQ64FYVWLO532QFNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47NGNW75OWDXFXHNPLHVRYG2XPQLBKIEGWWPTTVH7A6I3DIHI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XV6XR54PUV72266ISUOZOKDTA2MMJALAMAJSKSSD4BA2LTBLALBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABICITY7V6XQ6O5MKIZZH5HSH5TZIQPVTN4V2NXMVRSI7VVRQTTA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ServerId": {}
                }
            }
        },
        "Sw": {
            "type": "structure",
            "required": [
                "SortField",
                "Ascending"
            ],
            "members": {
                "SortField": {},
                "Ascending": {
                    "type": "boolean"
                }
            }
        }
    }
}