{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-02-19",
        "endpointPrefix": "AWSMigrationHubStrategyRecommendation",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "MigrationHubStrategyRecommendation",
        "serviceFullName": "AWS Migration Hub Strategy Recommendation",
        "serviceId": "MigrationHubStrategyRecommendation",
        "signatureVersion": "v4",
        "signingName": "migrationhub-strategy",
        "uid": "AWSMigrationHubStrategyRecommendation-2020-02-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FXBFGXWSTZ7SX2XDPA3L3UE7PYULRYH5CVUU5SX3LB6AKEAEOL6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
        ]
    },
    "operations": {
        "ExportPortfolioSummary": {
            "http": {
                "requestUri": "/export-portfolio-summary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "reportPreference": {},
                    "outputFormat": {},
                    "dataSourceType": {},
                    "groupIdFilter": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "s3Bucket": {},
                    "s3Keys": {
                        "shape": "Sb"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GenerateRecommendations": {
            "http": {
                "requestUri": "/generate-recommendations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "recommendationsPersistMode"
                ],
                "members": {
                    "name": {},
                    "groupId": {
                        "shape": "S5"
                    },
                    "inputSource": {},
                    "resourceFeaturesInput": {
                        "type": "structure",
                        "members": {
                            "resourceFeatureList": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "resourceId": {},
                                        "resourceName": {},
                                        "resourceType": {},
                                        "osFeatures": {
                                            "shape": "Sl"
                                        },
                                        "resourceHost": {},
                                        "vmwareOnAWSCompatibleRegion": {
                                            "type": "boolean"
                                        },
                                        "hypervisor": {}
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "recommendationsPersistMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendations": {
                        "type": "structure",
                        "members": {
                            "resourceRecommendations": {
                                "type": "list",
                                "member": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "strategy": {},
                                            "toolName": {},
                                            "osFeatures": {
                                                "shape": "Sl"
                                            },
                                            "resourceId": {},
                                            "status": {},
                                            "statusMessage": {},
                                            "recommendationType": {}
                                        }
                                    }
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetAntiPattern": {
            "http": {
                "requestUri": "/get-antipattern",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "analysisType": {},
                    "language": {},
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "definition": {
                        "type": "structure",
                        "members": {
                            "language": {},
                            "analysisType": {},
                            "ruleSet": {
                                "type": "structure",
                                "members": {
                                    "operator": {},
                                    "subRuleSets": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "operator": {},
                                                "rules": {
                                                    "shape": "S1c"
                                                }
                                            }
                                        }
                                    },
                                    "rules": {
                                        "shape": "S1c"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetApplicationComponentDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/get-applicationcomponent-details/{applicationComponentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationComponentId"
                ],
                "members": {
                    "applicationComponentId": {
                        "location": "uri",
                        "locationName": "applicationComponentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "applicationComponentDetail": {
                        "shape": "S1j"
                    },
                    "associatedApplications": {
                        "shape": "S2i"
                    },
                    "moreApplicationResource": {
                        "type": "boolean"
                    },
                    "associatedServerIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetApplicationComponentStrategies": {
            "http": {
                "method": "GET",
                "requestUri": "/get-applicationcomponent-strategies/{applicationComponentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationComponentId"
                ],
                "members": {
                    "applicationComponentId": {
                        "location": "uri",
                        "locationName": "applicationComponentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "applicationComponentStrategies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "recommendation": {
                                    "shape": "S1k"
                                },
                                "status": {},
                                "isPreferred": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetAssessment": {
            "http": {
                "method": "GET",
                "requestUri": "/get-assessment/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "dataCollectionDetails": {
                        "type": "structure",
                        "members": {
                            "status": {},
                            "servers": {
                                "type": "integer"
                            },
                            "failed": {
                                "type": "integer"
                            },
                            "success": {
                                "type": "integer"
                            },
                            "inProgress": {
                                "type": "integer"
                            },
                            "startTime": {
                                "type": "timestamp"
                            },
                            "completionTime": {
                                "type": "timestamp"
                            },
                            "statusMessage": {}
                        }
                    },
                    "assessmentTargets": {
                        "shape": "S2v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetImportFileTask": {
            "http": {
                "method": "GET",
                "requestUri": "/get-import-file-task/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "inputS3Bucket": {},
                    "inputS3Key": {},
                    "statusReportS3Bucket": {},
                    "statusReportS3Key": {},
                    "completionTime": {
                        "type": "timestamp"
                    },
                    "numberOfRecordsSuccess": {
                        "type": "integer"
                    },
                    "numberOfRecordsFailed": {
                        "type": "integer"
                    },
                    "importName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetLatestAssessmentId": {
            "http": {
                "method": "GET",
                "requestUri": "/get-latest-assessment-id",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetMessage": {
            "http": {
                "method": "GET",
                "requestUri": "/get-message/{collectorId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "collectorId"
                ],
                "members": {
                    "collectorId": {
                        "location": "uri",
                        "locationName": "collectorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "messageList": {
                        "type": "list",
                        "member": {
                            "shape": "S3a"
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetPortfolioPreferences": {
            "http": {
                "method": "GET",
                "requestUri": "/get-portfolio-preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "prioritizeBusinessGoals": {
                        "shape": "S4o"
                    },
                    "applicationPreferences": {
                        "shape": "S4r"
                    },
                    "databasePreferences": {
                        "shape": "S52"
                    },
                    "applicationMode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetPortfolioSummary": {
            "http": {
                "method": "GET",
                "requestUri": "/get-portfolio-summary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentSummary": {
                        "type": "structure",
                        "members": {
                            "listServerStrategySummary": {
                                "shape": "S5h"
                            },
                            "listApplicationComponentStrategySummary": {
                                "shape": "S5h"
                            },
                            "listAntipatternSeveritySummary": {
                                "shape": "S1r"
                            },
                            "listApplicationComponentSummary": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "appType": {},
                                        "count": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            },
                            "listServerSummary": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "ServerOsType": {},
                                        "count": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            },
                            "antipatternReportS3Object": {
                                "shape": "S20"
                            },
                            "antipatternReportStatus": {},
                            "antipatternReportStatusMessage": {},
                            "lastAnalyzedTimestamp": {
                                "type": "timestamp"
                            },
                            "listApplicationComponentStatusSummary": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "srcCodeOrDbAnalysisStatus": {},
                                        "count": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            },
                            "listServerStatusSummary": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "runTimeAssessmentStatus": {},
                                        "count": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetRecommendationReportDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/get-recommendation-report-details/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "recommendationReportDetails": {
                        "type": "structure",
                        "members": {
                            "status": {},
                            "statusMessage": {},
                            "startTime": {
                                "type": "timestamp"
                            },
                            "completionTime": {
                                "type": "timestamp"
                            },
                            "s3Bucket": {},
                            "s3Keys": {
                                "shape": "Sb"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetServerDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/get-server-details/{serverId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serverId"
                ],
                "members": {
                    "serverId": {
                        "location": "uri",
                        "locationName": "serverId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "serverDetail": {
                        "shape": "S64"
                    },
                    "associatedApplications": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetServerStrategies": {
            "http": {
                "method": "GET",
                "requestUri": "/get-server-strategies/{serverId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serverId"
                ],
                "members": {
                    "serverId": {
                        "location": "uri",
                        "locationName": "serverId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "serverStrategies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "recommendation": {
                                    "shape": "S1k"
                                },
                                "status": {},
                                "numberOfApplicationComponents": {
                                    "type": "integer"
                                },
                                "isPreferred": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "LambdaWarmup": {
            "http": {
                "requestUri": "/lambda-warmup",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "ListAntiPatterns": {
            "http": {
                "requestUri": "/list-antipatterns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "language": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "analysisType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "antipatternNames": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "ListApplicationComponents": {
            "http": {
                "requestUri": "/list-applicationcomponents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "applicationComponentCriteria": {},
                    "filterValue": {},
                    "sort": {},
                    "groupIdFilter": {
                        "shape": "S5"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "applicationComponentInfos": {
                        "type": "list",
                        "member": {
                            "shape": "S1j"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "ListCollectors": {
            "http": {
                "method": "GET",
                "requestUri": "/list-collectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Collectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "collectorId": {},
                                "ipAddress": {},
                                "hostName": {},
                                "collectorHealth": {},
                                "collectorVersion": {},
                                "registeredTimeStamp": {},
                                "lastActivityTimeStamp": {},
                                "configurationSummary": {
                                    "type": "structure",
                                    "members": {
                                        "vcenterBasedRemoteInfoList": {
                                            "shape": "S6t"
                                        },
                                        "ipAddressBasedRemoteInfoList": {
                                            "shape": "S6v"
                                        },
                                        "versionControlInfoList": {
                                            "shape": "S6y"
                                        },
                                        "pipelineInfoList": {
                                            "shape": "S71"
                                        },
                                        "remoteSourceCodeAnalysisServerInfo": {
                                            "shape": "S74"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "ListImportFileTask": {
            "http": {
                "method": "GET",
                "requestUri": "/list-import-file-task",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "taskInfos": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "status": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "inputS3Bucket": {},
                                "inputS3Key": {},
                                "statusReportS3Bucket": {},
                                "statusReportS3Key": {},
                                "completionTime": {
                                    "type": "timestamp"
                                },
                                "numberOfRecordsSuccess": {
                                    "type": "integer"
                                },
                                "numberOfRecordsFailed": {
                                    "type": "integer"
                                },
                                "importName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "ListJarArtifacts": {
            "http": {
                "requestUri": "/list-jar-artifacts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "artifacts": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "ListServers": {
            "http": {
                "requestUri": "/list-servers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "serverCriteria": {},
                    "filterValue": {},
                    "sort": {},
                    "groupIdFilter": {
                        "shape": "S5"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "serverInfos": {
                        "type": "list",
                        "member": {
                            "shape": "S64"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCHAK5XXJGW44NCU3Z5X4SFEEZ5JUQPNQY27CYP7HASALX62ASVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEXZA5QWQPW2FFGIECG2JXSFOOBXUENLX7TKORM7GC522ZOA3INA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVZKF6H7WYYTXTQ7REI3QFIDXGGLXOCKGPMBGTSHSMILUSLBWRVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYZFWIHCHQ5UGDNJ2MRNCLI3VS5TZ52WZJZUWGRTD5SFW25LPA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AI4IAIFPOCR3DFQX555IYKLWZJSUQ4Z2FHW5B7WVCGNF4E7DWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZSO6JAFQPDXQKN6AQGNJGIIXZ6COY5C6S35QV6BSL7FA3FCC237Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52AWATFZWPZRNK4CTZUIEKCZBSL2SJ5UWQMF77RIWEWV4GRENLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NUF2J4XTY6QLJOIODHX5VDVPUCD362ERISDXKZ7NKUFKXVYTDFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3P2FPVK6IYKNKVF57IBRFTG2B3JLY6VITCYIVLMWRHHLUZ7LWS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUS3446MBMOQYWYPMF3SNY2F67OM5O5HL2OLRIQQY3YAYWHSWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP2UPQXZ3I7X3MKGD3MAJTCG54EIFDKEGKDXQZYY5CO44ZALTCXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57KIWH5FMPRZOPRDQBLMQ2COBXLMB5ZLTMO22H2FSATAZFC3CC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/THVUPPNX5XGXIZ2IRTOHNR343VH3NMKRSKLRCX4MI3S5DTEUPT4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A2V55TB2TLVOYFKHHQHQHADVS4X2TRJIA2ULCVULOM3TTND7VOEA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/lock-slr",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXZLFAM6UNCFSKZOURHQDWYPR37RJ4NDLFBHSANH62PCBVZUJPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IHT62WH6NF3H5Q756RGUD4MKZB7QYLQ5TDYLYUCXBM3YYQ4GJGIQ/vendors.js",
[...]
