{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-08-16",
        "endpointPrefix": "migrationhub-config",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Migration Hub Config",
        "serviceId": "Migration Hub Config",
        "signatureVersion": "v4",
        "signingName": "mgh",
        "targetPrefix": "AWSMigrationHubMultiAccountService",
        "uid": "AWSMigrationHubMultiAccountService-2019-08-16",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PT73WDNGZXRGBDM72BQLC3RHV35MJUYPFK77ABW3PL4I46MB5DLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SBT52DZPTQRGZ6XHUFZQPPXDWDCVQTX4NFOQVLAVQ7S2EJZ36OZQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I52GLAGXTM235EC3CKFXV7SYP2N4WL7RCDO3HG47KX6RQ3F4KX2Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBGBVLYNUOJ4ZBKXQWG423FBH47CSJCQG47GBT4TZNK42K3JOPBA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZIXBMVKDJIZVBW5MVJLF3ALAUCC2POQ6PMLIYE5UBFKKSAHGVCA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UQJLC2LF6YC2GDRSR5SFG7PHT5ADUKD3FB5J4CFVNEKXREEWWE5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AXLWM3ENLITDY2QDY4NLH3ZIYWJJJXBQSXDIQ64GA57CJ3DK75TA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LONTTC4M4X72MOP2ZCLJU45A6K7GUGEP6DN6EBN7ESWR7D3TAZUQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHH7I4MHTGZLPB4NPR46ZQMYHYM7PRN2BKRXYVTJH5NB5AWCTJCA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4QJ72KUS35EGBIBAEPSDJ5X6TIZKWE7VXXZ2Z2KGA4ZGFOCFTEHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XF3OKYFRJXXVYWVHZJJMIZ44Q5MOTMHMJ6A5S36ZOU4WYGRAZQNQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NDNYFETJ4PMVHRNAUSJFU74A56QIQ53EYYBUR5FVFAUNGRQVUBZQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ITZUCCYXXAIRZZZWDDOVEOX4BXY4HRFWXH2D7LRF6VYPR2MR6EIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNM5EHQYERX3ZY7PDID7KL4DZHBQLSNEKB7YZZXWJLAN6BGEP45Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FC4LI4FFFA2N2D5MEUD6CIHWFOIEA4PBHBNOB4LE7B7ATCENKKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WFK4FSIVUA7HIHSMEOPNHA3TRYBY3CUBZ3O7OGLSA4S4VACDVQDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3VUQYH6YPPK2T4L5MRRIGEBVVLZARH2QOHP4M4YYOEPN7MHHFZAA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EZUQ2AQF7ADUWE6AVVGWU5ETBVQD7BWYN22VTGTV5MA3HPPNSZAA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RMJQVZASYZJBKSOSI56MHYHDX7C3DZ47CMBA7T6HCROEYJU634VA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KLW5SP2EXIDFJKWGZVEOBKTDYCPOKTKE3EHORKME5VXQE33ZFEPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4SD4LQBRXKKX5YWHBWNH5QXL2NNFWGXFHCB6L6ZZNYBBGTESTZBA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S5AARCQDTAG4RAAGDAPKPWVWEKR5ZEID3YMVSYYP5BGECDMYEUXQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BLYQQ2G2XDE4MQMWNMQDARWW6XDL3YRNAC7HJ3DVT5OC62PRZP5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateHomeRegionControl": {
            "input": {
                "type": "structure",
                "required": [
                    "HomeRegion",
                    "Target"
                ],
                "members": {
                    "HomeRegion": {},
                    "Target": {
                        "shape": "S3"
                    },
                    "DryRun": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HomeRegionControl": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBT52DZPTQRGZ6XHUFZQPPXDWDCVQTX4NFOQVLAVQ7S2EJZ36OZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52GLAGXTM235EC3CKFXV7SYP2N4WL7RCDO3HG47KX6RQ3F4KX2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBGBVLYNUOJ4ZBKXQWG423FBH47CSJCQG47GBT4TZNK42K3JOPBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZIXBMVKDJIZVBW5MVJLF3ALAUCC2POQ6PMLIYE5UBFKKSAHGVCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQJLC2LF6YC2GDRSR5SFG7PHT5ADUKD3FB5J4CFVNEKXREEWWE5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXLWM3ENLITDY2QDY4NLH3ZIYWJJJXBQSXDIQ64GA57CJ3DK75TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONTTC4M4X72MOP2ZCLJU45A6K7GUGEP6DN6EBN7ESWR7D3TAZUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHH7I4MHTGZLPB4NPR46ZQMYHYM7PRN2BKRXYVTJH5NB5AWCTJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJ72KUS35EGBIBAEPSDJ5X6TIZKWE7VXXZ2Z2KGA4ZGFOCFTEHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF3OKYFRJXXVYWVHZJJMIZ44Q5MOTMHMJ6A5S36ZOU4WYGRAZQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDNYFETJ4PMVHRNAUSJFU74A56QIQ53EYYBUR5FVFAUNGRQVUBZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITZUCCYXXAIRZZZWDDOVEOX4BXY4HRFWXH2D7LRF6VYPR2MR6EIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNM5EHQYERX3ZY7PDID7KL4DZHBQLSNEKB7YZZXWJLAN6BGEP45Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FC4LI4FFFA2N2D5MEUD6CIHWFOIEA4PBHBNOB4LE7B7ATCENKKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFK4FSIVUA7HIHSMEOPNHA3TRYBY3CUBZ3O7OGLSA4S4VACDVQDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VUQYH6YPPK2T4L5MRRIGEBVVLZARH2QOHP4M4YYOEPN7MHHFZAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZUQ2AQF7ADUWE6AVVGWU5ETBVQD7BWYN22VTGTV5MA3HPPNSZAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMJQVZASYZJBKSOSI56MHYHDX7C3DZ47CMBA7T6HCROEYJU634VA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLW5SP2EXIDFJKWGZVEOBKTDYCPOKTKE3EHORKME5VXQE33ZFEPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SD4LQBRXKKX5YWHBWNH5QXL2NNFWGXFHCB6L6ZZNYBBGTESTZBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AARCQDTAG4RAAGDAPKPWVWEKR5ZEID3YMVSYYP5BGECDMYEUXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLYQQ2G2XDE4MQMWNMQDARWW6XDL3YRNAC7HJ3DVT5OC62PRZP5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js"
            ]
        },
        "DescribeHomeRegionControls": {
            "input": {
                "type": "structure",
                "members": {
                    "ControlId": {},
                    "HomeRegion": {},
                    "Target": {
                        "shape": "S3"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HomeRegionControls": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBT52DZPTQRGZ6XHUFZQPPXDWDCVQTX4NFOQVLAVQ7S2EJZ36OZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52GLAGXTM235EC3CKFXV7SYP2N4WL7RCDO3HG47KX6RQ3F4KX2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBGBVLYNUOJ4ZBKXQWG423FBH47CSJCQG47GBT4TZNK42K3JOPBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZIXBMVKDJIZVBW5MVJLF3ALAUCC2POQ6PMLIYE5UBFKKSAHGVCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQJLC2LF6YC2GDRSR5SFG7PHT5ADUKD3FB5J4CFVNEKXREEWWE5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXLWM3ENLITDY2QDY4NLH3ZIYWJJJXBQSXDIQ64GA57CJ3DK75TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONTTC4M4X72MOP2ZCLJU45A6K7GUGEP6DN6EBN7ESWR7D3TAZUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHH7I4MHTGZLPB4NPR46ZQMYHYM7PRN2BKRXYVTJH5NB5AWCTJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJ72KUS35EGBIBAEPSDJ5X6TIZKWE7VXXZ2Z2KGA4ZGFOCFTEHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF3OKYFRJXXVYWVHZJJMIZ44Q5MOTMHMJ6A5S36ZOU4WYGRAZQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDNYFETJ4PMVHRNAUSJFU74A56QIQ53EYYBUR5FVFAUNGRQVUBZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITZUCCYXXAIRZZZWDDOVEOX4BXY4HRFWXH2D7LRF6VYPR2MR6EIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNM5EHQYERX3ZY7PDID7KL4DZHBQLSNEKB7YZZXWJLAN6BGEP45Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FC4LI4FFFA2N2D5MEUD6CIHWFOIEA4PBHBNOB4LE7B7ATCENKKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFK4FSIVUA7HIHSMEOPNHA3TRYBY3CUBZ3O7OGLSA4S4VACDVQDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VUQYH6YPPK2T4L5MRRIGEBVVLZARH2QOHP4M4YYOEPN7MHHFZAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZUQ2AQF7ADUWE6AVVGWU5ETBVQD7BWYN22VTGTV5MA3HPPNSZAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMJQVZASYZJBKSOSI56MHYHDX7C3DZ47CMBA7T6HCROEYJU634VA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLW5SP2EXIDFJKWGZVEOBKTDYCPOKTKE3EHORKME5VXQE33ZFEPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SD4LQBRXKKX5YWHBWNH5QXL2NNFWGXFHCB6L6ZZNYBBGTESTZBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AARCQDTAG4RAAGDAPKPWVWEKR5ZEID3YMVSYYP5BGECDMYEUXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLYQQ2G2XDE4MQMWNMQDARWW6XDL3YRNAC7HJ3DVT5OC62PRZP5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js"
            ]
        },
        "GetHomeRegion": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "HomeRegion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBT52DZPTQRGZ6XHUFZQPPXDWDCVQTX4NFOQVLAVQ7S2EJZ36OZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I52GLAGXTM235EC3CKFXV7SYP2N4WL7RCDO3HG47KX6RQ3F4KX2Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBGBVLYNUOJ4ZBKXQWG423FBH47CSJCQG47GBT4TZNK42K3JOPBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZIXBMVKDJIZVBW5MVJLF3ALAUCC2POQ6PMLIYE5UBFKKSAHGVCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQJLC2LF6YC2GDRSR5SFG7PHT5ADUKD3FB5J4CFVNEKXREEWWE5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AXLWM3ENLITDY2QDY4NLH3ZIYWJJJXBQSXDIQ64GA57CJ3DK75TA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LONTTC4M4X72MOP2ZCLJU45A6K7GUGEP6DN6EBN7ESWR7D3TAZUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHH7I4MHTGZLPB4NPR46ZQMYHYM7PRN2BKRXYVTJH5NB5AWCTJCA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QJ72KUS35EGBIBAEPSDJ5X6TIZKWE7VXXZ2Z2KGA4ZGFOCFTEHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF3OKYFRJXXVYWVHZJJMIZ44Q5MOTMHMJ6A5S36ZOU4WYGRAZQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDNYFETJ4PMVHRNAUSJFU74A56QIQ53EYYBUR5FVFAUNGRQVUBZQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITZUCCYXXAIRZZZWDDOVEOX4BXY4HRFWXH2D7LRF6VYPR2MR6EIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNM5EHQYERX3ZY7PDID7KL4DZHBQLSNEKB7YZZXWJLAN6BGEP45Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FC4LI4FFFA2N2D5MEUD6CIHWFOIEA4PBHBNOB4LE7B7ATCENKKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFK4FSIVUA7HIHSMEOPNHA3TRYBY3CUBZ3O7OGLSA4S4VACDVQDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VUQYH6YPPK2T4L5MRRIGEBVVLZARH2QOHP4M4YYOEPN7MHHFZAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZUQ2AQF7ADUWE6AVVGWU5ETBVQD7BWYN22VTGTV5MA3HPPNSZAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMJQVZASYZJBKSOSI56MHYHDX7C3DZ47CMBA7T6HCROEYJU634VA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLW5SP2EXIDFJKWGZVEOBKTDYCPOKTKE3EHORKME5VXQE33ZFEPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SD4LQBRXKKX5YWHBWNH5QXL2NNFWGXFHCB6L6ZZNYBBGTESTZBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5AARCQDTAG4RAAGDAPKPWVWEKR5ZEID3YMVSYYP5BGECDMYEUXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLYQQ2G2XDE4MQMWNMQDARWW6XDL3YRNAC7HJ3DVT5OC62PRZP5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {},
                "Id": {}
            }
        },
        "S8": {
            "type": "structure",
            "members": {
                "ControlId": {},
                "HomeRegion": {},
                "Target": {
                    "shape": "S3"
                },
                "RequestedTime": {
                    "type": "timestamp"
                }
            }
        }
    }
}