{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "AWSMARSLambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWSMARS",
        "serviceFullName": "A beautiful and amazing AWSMARSLambda",
        "signatureVersion": "v4",
        "signingName": "discovery",
        "uid": "AWSMARSLambda-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
        ]
    },
    "operations": {
        "CreateApplicationRecommendationJob": {
            "http": {
                "requestUri": "/create-application-recommendation-job"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationRecommendationJobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "DescribeAppRecommendation": {
            "http": {
                "requestUri": "/describe-app-recommendation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AppRecommendationId",
                    "AppRecommendationTaskId"
                ],
                "members": {
                    "AppRecommendationId": {},
                    "AppRecommendationTaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppRecommendationId": {},
                    "AppRecommendationName": {},
                    "RecommendationStatus": {},
                    "RecommendedNodes": {
                        "shape": "Sb"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "DescribeApplicationRecommendation": {
            "http": {
                "requestUri": "/describe-application-recommendation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationRecommendationId",
                    "ApplicationRecommendationJobId"
                ],
                "members": {
                    "ApplicationRecommendationId": {},
                    "ApplicationRecommendationJobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationRecommendationId": {},
                    "ApplicationRecommendationName": {},
                    "RecommendationStatus": {},
                    "RecommendedNodes": {
                        "shape": "Sb"
                    },
                    "Explanation": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "DescribeApplicationRecommendationJob": {
            "http": {
                "requestUri": "/describe-application-recommendation-job"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationRecommendationJobId"
                ],
                "members": {
                    "ApplicationRecommendationJobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobStatus": {},
                    "TotalNodesProcessed": {
                        "type": "integer"
                    },
                    "TotalApplicationRecommendations": {
                        "type": "integer"
                    },
                    "ExcludedNodes": {
                        "type": "integer"
                    },
                    "FailureReason": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastUpdatedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "ListAppRecommendationTasks": {
            "http": {
                "requestUri": "/list-app-recommendation-tasks"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "TaskStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppRecommendationTaskSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AppRecommendationTaskId": {},
                                "TaskStatus": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "ListAppRecommendations": {
            "http": {
                "requestUri": "/list-app-recommendations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AppRecommendationTaskId"
                ],
                "members": {
                    "AppRecommendationTaskId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Status": {},
                    "SortOption": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AppRecommendationId": {},
                                "AppRecommendationName": {},
                                "RecommendedNodeCount": {
                                    "type": "integer"
                                },
                                "Status": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "ListApplicationRecommendationJobs": {
            "http": {
                "requestUri": "/list-application-recommendation-jobs"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "JobStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationRecommendationJobSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationRecommendationJobId": {},
                                "JobStatus": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "ListApplicationRecommendations": {
            "http": {
                "requestUri": "/list-application-recommendations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationRecommendationJobId"
                ],
                "members": {
                    "ApplicationRecommendationJobId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Status": {},
                    "SortOption": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApplicationRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationRecommendationId": {},
                                "ApplicationRecommendationName": {},
                                "RecommendedNodeCount": {
                                    "type": "integer"
                                },
                                "Status": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "ListExcludedConfigurationItems": {
            "http": {
                "requestUri": "/list-excluded-configuration-items"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationRecommendationJobId"
                ],
                "members": {
                    "ApplicationRecommendationJobId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExcludedConfigurationItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ServerId": {},
                                "ExcludeCategory": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "StartAppRecommendationTask": {
            "http": {
                "requestUri": "/start-app-recommendation-task"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AppRecommendationTaskId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "UpdateAppRecommendation": {
            "http": {
                "requestUri": "/update-app-recommendation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "AppRecommendationId",
                    "AppRecommendationTaskId"
                ],
                "members": {
                    "AppRecommendationId": {},
                    "AppRecommendationTaskId": {},
                    "RecommendationStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "AppRecommendationId": {},
                    "RecommendationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        },
        "UpdateApplicationRecommendationStatus": {
            "http": {
                "requestUri": "/update-application-recommendation-status"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationRecommendationId",
                    "ApplicationRecommendationJobId",
                    "RecommendationStatus"
                ],
                "members": {
                    "ApplicationRecommendationId": {},
                    "ApplicationRecommendationJobId": {},
                    "RecommendationStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "ApplicationRecommendationId": {},
                    "RecommendationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/623GU3Q3D4CJVNCJ5IKW4VGFHPS7D46IQCCP2SFCUIKR3Y3ISGRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWFYMR5EDJBGYJU6JBDBDB5EQXIADDIAJMGHI6IGTFTXIZG2DKWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXYHBMF3V6Z6SIVZFQK63J7V5ZNVUYNWL7PAVWS2YVPTBP4MG2JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDVMP5DYPC2DCOPSAP3FZS7IOYB3XFCCKRI5W7TZJC5X2OR4N4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46MVNSCSRMUC4LVQQS6JJBLJMKW2B6KO4S25AFNIOANGSBADEIWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L5FDSZH4QHUJQB7H3ZTBE4BC3X3LSI3OEPR5AXJM67VB6KUOAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ5EVQEMY4BAQKPAAK6GLUWFPPKINDOHV6RWTO7M7XE6FRCCUYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU2C4DRRNM2OJGHWXT253BNFHEC5PLSTR6GWEDLU3XC4NZLLBSEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7WA7VEGSM25W5633VCLYF5LHG4JYH4KUWWZEDRJQFRZTMVX7JXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBXQS53KPDCAMMADNRY77NSJGX6SP2BKMIJPKFE2OQULLIW5NCFA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ServerId": {}
                }
            }
        },
        "Sw": {
            "type": "structure",
            "required": [
                "SortField",
                "Ascending"
            ],
            "members": {
                "SortField": {},
                "Ascending": {
                    "type": "boolean"
                }
            }
        }
    }
}