{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-02-19",
        "endpointPrefix": "AWSMigrationHubStrategyRecommendation",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "MigrationHubStrategyRecommendation",
        "serviceFullName": "AWS Migration Hub Strategy Recommendation",
        "serviceId": "MigrationHubStrategyRecommendation",
        "signatureVersion": "v4",
        "signingName": "migrationhub-strategy",
        "uid": "AWSMigrationHubStrategyRecommendation-2020-02-19",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7FQRZI267EZF4V6TVJEM3KRJU5TZWIAASKT34MHTTVBBPDLIE7RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
        ]
    },
    "operations": {
        "ExportPortfolioSummary": {
            "http": {
                "requestUri": "/export-portfolio-summary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "reportPreference": {},
                    "outputFormat": {},
                    "dataSourceType": {},
                    "groupIdFilter": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "s3Bucket": {},
                    "s3Keys": {
                        "shape": "Sb"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "GenerateRecommendations": {
            "http": {
                "requestUri": "/generate-recommendations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "recommendationsPersistMode"
                ],
                "members": {
                    "name": {},
                    "groupId": {
                        "shape": "S5"
                    },
                    "inputSource": {},
                    "resourceFeaturesInput": {
                        "type": "structure",
                        "members": {
                            "resourceFeatureList": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "resourceId": {},
                                        "resourceName": {},
                                        "resourceType": {},
                                        "osFeatures": {
                                            "shape": "Sl"
                                        },
                                        "resourceHost": {},
                                        "vmwareOnAWSCompatibleRegion": {
                                            "type": "boolean"
                                        },
                                        "hypervisor": {}
                                    }
                                }
                            }
                        },
                        "union": true
                    },
                    "recommendationsPersistMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendations": {
                        "type": "structure",
                        "members": {
                            "resourceRecommendations": {
                                "type": "list",
                                "member": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "strategy": {},
                                            "toolName": {},
                                            "osFeatures": {
                                                "shape": "Sl"
                                            },
                                            "resourceId": {},
                                            "status": {},
                                            "statusMessage": {},
                                            "recommendationType": {}
                                        }
                                    }
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "GetAntiPattern": {
            "http": {
                "requestUri": "/get-antipattern",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "analysisType": {},
                    "language": {},
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "definition": {
                        "type": "structure",
                        "members": {
                            "language": {},
                            "analysisType": {},
                            "ruleSet": {
                                "type": "structure",
                                "members": {
                                    "operator": {},
                                    "subRuleSets": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "operator": {},
                                                "rules": {
                                                    "shape": "S1c"
                                                }
                                            }
                                        }
                                    },
                                    "rules": {
                                        "shape": "S1c"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "GetApplicationComponentDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/get-applicationcomponent-details/{applicationComponentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationComponentId"
                ],
                "members": {
                    "applicationComponentId": {
                        "location": "uri",
                        "locationName": "applicationComponentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "applicationComponentDetail": {
                        "shape": "S1j"
                    },
                    "associatedApplications": {
                        "shape": "S2i"
                    },
                    "moreApplicationResource": {
                        "type": "boolean"
                    },
                    "associatedServerIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "GetApplicationComponentStrategies": {
            "http": {
                "method": "GET",
                "requestUri": "/get-applicationcomponent-strategies/{applicationComponentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationComponentId"
                ],
                "members": {
                    "applicationComponentId": {
                        "location": "uri",
                        "locationName": "applicationComponentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "applicationComponentStrategies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "recommendation": {
                                    "shape": "S1k"
                                },
                                "status": {},
                                "isPreferred": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "GetAssessment": {
            "http": {
                "method": "GET",
                "requestUri": "/get-assessment/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "dataCollectionDetails": {
                        "type": "structure",
                        "members": {
                            "status": {},
                            "servers": {
                                "type": "integer"
                            },
                            "failed": {
                                "type": "integer"
                            },
                            "success": {
                                "type": "integer"
                            },
                            "inProgress": {
                                "type": "integer"
                            },
                            "startTime": {
                                "type": "timestamp"
                            },
                            "completionTime": {
                                "type": "timestamp"
                            },
                            "statusMessage": {}
                        }
                    },
                    "assessmentTargets": {
                        "shape": "S2v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "GetImportFileTask": {
            "http": {
                "method": "GET",
                "requestUri": "/get-import-file-task/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "inputS3Bucket": {},
                    "inputS3Key": {},
                    "statusReportS3Bucket": {},
                    "statusReportS3Key": {},
                    "completionTime": {
                        "type": "timestamp"
                    },
                    "numberOfRecordsSuccess": {
                        "type": "integer"
                    },
                    "numberOfRecordsFailed": {
                        "type": "integer"
                    },
                    "importName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "GetLatestAssessmentId": {
            "http": {
                "method": "GET",
                "requestUri": "/get-latest-assessment-id",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "GetMessage": {
            "http": {
                "method": "GET",
                "requestUri": "/get-message/{collectorId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "collectorId"
                ],
                "members": {
                    "collectorId": {
                        "location": "uri",
                        "locationName": "collectorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "messageList": {
                        "type": "list",
                        "member": {
                            "shape": "S3a"
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "GetPortfolioPreferences": {
            "http": {
                "method": "GET",
                "requestUri": "/get-portfolio-preferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "prioritizeBusinessGoals": {
                        "shape": "S4o"
                    },
                    "applicationPreferences": {
                        "shape": "S4r"
                    },
                    "databasePreferences": {
                        "shape": "S52"
                    },
                    "applicationMode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "GetPortfolioSummary": {
            "http": {
                "method": "GET",
                "requestUri": "/get-portfolio-summary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "assessmentSummary": {
                        "type": "structure",
                        "members": {
                            "listServerStrategySummary": {
                                "shape": "S5h"
                            },
                            "listApplicationComponentStrategySummary": {
                                "shape": "S5h"
                            },
                            "listAntipatternSeveritySummary": {
                                "shape": "S1r"
                            },
                            "listApplicationComponentSummary": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "appType": {},
                                        "count": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            },
                            "listServerSummary": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "ServerOsType": {},
                                        "count": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            },
                            "antipatternReportS3Object": {
                                "shape": "S20"
                            },
                            "antipatternReportStatus": {},
                            "antipatternReportStatusMessage": {},
                            "lastAnalyzedTimestamp": {
                                "type": "timestamp"
                            },
                            "listApplicationComponentStatusSummary": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "srcCodeOrDbAnalysisStatus": {},
                                        "count": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            },
                            "listServerStatusSummary": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "runTimeAssessmentStatus": {},
                                        "count": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "GetRecommendationReportDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/get-recommendation-report-details/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "recommendationReportDetails": {
                        "type": "structure",
                        "members": {
                            "status": {},
                            "statusMessage": {},
                            "startTime": {
                                "type": "timestamp"
                            },
                            "completionTime": {
                                "type": "timestamp"
                            },
                            "s3Bucket": {},
                            "s3Keys": {
                                "shape": "Sb"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "GetServerDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/get-server-details/{serverId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serverId"
                ],
                "members": {
                    "serverId": {
                        "location": "uri",
                        "locationName": "serverId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "serverDetail": {
                        "shape": "S64"
                    },
                    "associatedApplications": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "GetServerStrategies": {
            "http": {
                "method": "GET",
                "requestUri": "/get-server-strategies/{serverId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "serverId"
                ],
                "members": {
                    "serverId": {
                        "location": "uri",
                        "locationName": "serverId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "serverStrategies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "recommendation": {
                                    "shape": "S1k"
                                },
                                "status": {},
                                "numberOfApplicationComponents": {
                                    "type": "integer"
                                },
                                "isPreferred": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "LambdaWarmup": {
            "http": {
                "requestUri": "/lambda-warmup",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "ListAntiPatterns": {
            "http": {
                "requestUri": "/list-antipatterns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "language": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "analysisType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "antipatternNames": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "ListApplicationComponents": {
            "http": {
                "requestUri": "/list-applicationcomponents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "applicationComponentCriteria": {},
                    "filterValue": {},
                    "sort": {},
                    "groupIdFilter": {
                        "shape": "S5"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "applicationComponentInfos": {
                        "type": "list",
                        "member": {
                            "shape": "S1j"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "ListCollectors": {
            "http": {
                "method": "GET",
                "requestUri": "/list-collectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Collectors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "collectorId": {},
                                "ipAddress": {},
                                "hostName": {},
                                "collectorHealth": {},
                                "collectorVersion": {},
                                "registeredTimeStamp": {},
                                "lastActivityTimeStamp": {},
                                "configurationSummary": {
                                    "type": "structure",
                                    "members": {
                                        "vcenterBasedRemoteInfoList": {
                                            "shape": "S6t"
                                        },
                                        "ipAddressBasedRemoteInfoList": {
                                            "shape": "S6v"
                                        },
                                        "versionControlInfoList": {
                                            "shape": "S6y"
                                        },
                                        "pipelineInfoList": {
                                            "shape": "S71"
                                        },
                                        "remoteSourceCodeAnalysisServerInfo": {
                                            "shape": "S74"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "ListImportFileTask": {
            "http": {
                "method": "GET",
                "requestUri": "/list-import-file-task",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "taskInfos": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "status": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "inputS3Bucket": {},
                                "inputS3Key": {},
                                "statusReportS3Bucket": {},
                                "statusReportS3Key": {},
                                "completionTime": {
                                    "type": "timestamp"
                                },
                                "numberOfRecordsSuccess": {
                                    "type": "integer"
                                },
                                "numberOfRecordsFailed": {
                                    "type": "integer"
                                },
                                "importName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "ListJarArtifacts": {
            "http": {
                "requestUri": "/list-jar-artifacts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "artifacts": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "ListServers": {
            "http": {
                "requestUri": "/list-servers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "serverCriteria": {},
                    "filterValue": {},
                    "sort": {},
                    "groupIdFilter": {
                        "shape": "S5"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "serverInfos": {
                        "type": "list",
                        "member": {
                            "shape": "S64"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFHCKUBI7MYBIYZGCLMRMTMULTTBUWSDBB425JBDIRQ6SLLKIVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3SCST3ZO2HKKF6VGMKV3S4VHBTXATXTVQNP2E3GA2SLNEKYH25A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MP3CQDZONQI7AH5I7URJ5SSN2BRLDCSU4T3EDFPXF6A3VPDKFLRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M35H2DBMVIQFUM52XZIVSF7CRB54DLHCHBHZNMKGLJVU3VR5L4MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OOQ5LFD3HY3M4IPNBEZFSVNOWDSC47MBNQ7LVGXOHQYWQMXGP5BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3QZCO3JY766QM7FW4UYV36N56KCI35YGXYFD6ODITHAFIEFJBYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJS4PGQ5YMFY4GYJDX7OUZPCPSZ3HS3SMURXT3FQYTATJIHNTY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PUDKRFCKDOVSDIGARSURII57L3MSNFXP5IEB3QZMLZVZ6ZS4PVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KO5X7NSFQ4XSAGAVTK247RFY3FUZDR7BDCNF6YM6KCXR2ZZ3K2RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I3HCGGOKGEFPVLQOUUUAUKD7KZYFP3N24IDRBJAHCSQVXY3GVQRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSWUZDSYQSNQBSQ7Y2KB75SD243I7QKTTWFR4AO25FSLNL23GJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2K45SB3BZUFZLSG6WSMXVUSHPQO5QRJU3US6C2HJFBJIW2DEUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM25KK4NFM644CB4B4X2WGUEYF3Y4LEASFZDCMAJSTNKXRMBV63A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJNVBDWFUXPKUDDSQL6AB7EISQJKSKRXG6M4ATAX7OS4OB2Y3PMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PNDFNTNBTTMJB4HKTSKYJRRI4US2YSGG52RFZDNLQ5SLXDE42SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4SCS5RW6P27MQTIMGLHF4O5JM4SALYXAQPXUU3PE6CXA5GPHS5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBVZKQT7L5NRSTWGMU24FQX5XAVFZ4RAIH6JM4SAQOUZZIQSDO3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELKYFYRFDEHUEWGZBLKIM5QXKOC2H57Z5FPVDTZVRTPZ3WSPBBIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5A3GQW4CB5UW4Z3ZDQQXKDWYY4OHA77MJP3WS3R2O3VQA5CEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE77GMGJ62OYELVOCNPGMXPNMBKTYLEHCW6USRVNGEOS5BFVVHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ4HRL43BORSAV2REO7A3TSOZLNJYRTCVQ267SAWKBB5SECQQXEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQ6KMY342OFSCW33XXY7VCIHCREFQUEASTDUIP3E6AYOC6QAT3FA/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/lock-slr",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOMGEZI734MOMBPXYZUDQODL67INMQQQRFKBX4EEF6OUXKVUS4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJ2BUJGZGY4RTJ7A6UR4IQKG7JCVVDJYVNZIXPLXGDDXWQQQUQPQ/vendors.js",
[...]
