{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "b12frontendapilambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "B12FrontendAPILambda",
        "serviceId": "B12FrontendAPILambda",
        "signatureVersion": "v4",
        "signingName": "b12",
        "uid": "b12frontendapilambda-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZB36YYTHPHD7XPN5SIDAAOOOEGBPSESY35I5WJ22DB5VSU6CGWNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J2POF6WLXKLE2YUIH6QENC3T5RFEGB7FAN4FKB3FU2Q7N425OL5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DFTQKQGYZRDBLVHOANRL5KFG7LBHE75WLXP3CRLG625VE66YPXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AUMVVF4LUZADWQGD3UZE2Z636Z5DQ3KCUXGIH2BCBUYE7PO3NZCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ADZLZZPWHXK5HF2GKNTJ4IGBJETQXNXDT6FF2BXPLOVCMTA3C5FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W33PKV4XZL77PXYI7BFYMWVFGTU4Y63XWWAQDJIISJGBMQYLG5NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQNNYKF3MTU4CXP4IRUQ3F57XMLZLX6WGPQAABRIW63LO56L2YFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UBO2EPYLMCNXH5VISSCN7JJM2DGODC3HQWNUDX3BFMQQNV4R4XIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/62MXIPCAJJLPOXGNQB7XCSXY7IZYITETRZSESMJXLBHWVD3OKTPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3IBMIY2EQXMA3RE5PFIE37FIETHBDI4UDGW3L56EWNUB6NZTUBWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BYEK5QOQKXR5RDJRHHVXMUUVME3WHCZ2R3JT7ACVOXYFN443VUVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4X2RLM2WYWOLSHTMKTRJCSSMGVLOEJK36UAK47QAIXVFLRUXRXQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TPJZKA7N4NTXQOR6PU452QLHGFZ5MAXHAQ23OT2NM5O6V3RHDLDQ/vendors.js"
        ]
    },
    "operations": {
        "cancelDataGenerationJob": {
            "http": {
                "requestUri": "/cancelDataGenerationJob",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB36YYTHPHD7XPN5SIDAAOOOEGBPSESY35I5WJ22DB5VSU6CGWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2POF6WLXKLE2YUIH6QENC3T5RFEGB7FAN4FKB3FU2Q7N425OL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DFTQKQGYZRDBLVHOANRL5KFG7LBHE75WLXP3CRLG625VE66YPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUMVVF4LUZADWQGD3UZE2Z636Z5DQ3KCUXGIH2BCBUYE7PO3NZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADZLZZPWHXK5HF2GKNTJ4IGBJETQXNXDT6FF2BXPLOVCMTA3C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W33PKV4XZL77PXYI7BFYMWVFGTU4Y63XWWAQDJIISJGBMQYLG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNNYKF3MTU4CXP4IRUQ3F57XMLZLX6WGPQAABRIW63LO56L2YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBO2EPYLMCNXH5VISSCN7JJM2DGODC3HQWNUDX3BFMQQNV4R4XIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62MXIPCAJJLPOXGNQB7XCSXY7IZYITETRZSESMJXLBHWVD3OKTPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IBMIY2EQXMA3RE5PFIE37FIETHBDI4UDGW3L56EWNUB6NZTUBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEK5QOQKXR5RDJRHHVXMUUVME3WHCZ2R3JT7ACVOXYFN443VUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X2RLM2WYWOLSHTMKTRJCSSMGVLOEJK36UAK47QAIXVFLRUXRXQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPJZKA7N4NTXQOR6PU452QLHGFZ5MAXHAQ23OT2NM5O6V3RHDLDQ/vendors.js"
            ]
        },
        "createSyntheticDataTemplate": {
            "http": {
                "requestUri": "/createSyntheticDataTemplate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "template"
                ],
                "members": {
                    "name": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "template": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "templateArn": {},
                    "template": {
                        "shape": "S7"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "clientToken": {},
                    "templateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB36YYTHPHD7XPN5SIDAAOOOEGBPSESY35I5WJ22DB5VSU6CGWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2POF6WLXKLE2YUIH6QENC3T5RFEGB7FAN4FKB3FU2Q7N425OL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DFTQKQGYZRDBLVHOANRL5KFG7LBHE75WLXP3CRLG625VE66YPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUMVVF4LUZADWQGD3UZE2Z636Z5DQ3KCUXGIH2BCBUYE7PO3NZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADZLZZPWHXK5HF2GKNTJ4IGBJETQXNXDT6FF2BXPLOVCMTA3C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W33PKV4XZL77PXYI7BFYMWVFGTU4Y63XWWAQDJIISJGBMQYLG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNNYKF3MTU4CXP4IRUQ3F57XMLZLX6WGPQAABRIW63LO56L2YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBO2EPYLMCNXH5VISSCN7JJM2DGODC3HQWNUDX3BFMQQNV4R4XIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62MXIPCAJJLPOXGNQB7XCSXY7IZYITETRZSESMJXLBHWVD3OKTPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IBMIY2EQXMA3RE5PFIE37FIETHBDI4UDGW3L56EWNUB6NZTUBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEK5QOQKXR5RDJRHHVXMUUVME3WHCZ2R3JT7ACVOXYFN443VUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X2RLM2WYWOLSHTMKTRJCSSMGVLOEJK36UAK47QAIXVFLRUXRXQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPJZKA7N4NTXQOR6PU452QLHGFZ5MAXHAQ23OT2NM5O6V3RHDLDQ/vendors.js"
            ]
        },
        "deleteSyntheticDataTemplate": {
            "http": {
                "requestUri": "/deleteSyntheticDataTemplate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId"
                ],
                "members": {
                    "templateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB36YYTHPHD7XPN5SIDAAOOOEGBPSESY35I5WJ22DB5VSU6CGWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2POF6WLXKLE2YUIH6QENC3T5RFEGB7FAN4FKB3FU2Q7N425OL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DFTQKQGYZRDBLVHOANRL5KFG7LBHE75WLXP3CRLG625VE66YPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUMVVF4LUZADWQGD3UZE2Z636Z5DQ3KCUXGIH2BCBUYE7PO3NZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADZLZZPWHXK5HF2GKNTJ4IGBJETQXNXDT6FF2BXPLOVCMTA3C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W33PKV4XZL77PXYI7BFYMWVFGTU4Y63XWWAQDJIISJGBMQYLG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNNYKF3MTU4CXP4IRUQ3F57XMLZLX6WGPQAABRIW63LO56L2YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBO2EPYLMCNXH5VISSCN7JJM2DGODC3HQWNUDX3BFMQQNV4R4XIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62MXIPCAJJLPOXGNQB7XCSXY7IZYITETRZSESMJXLBHWVD3OKTPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IBMIY2EQXMA3RE5PFIE37FIETHBDI4UDGW3L56EWNUB6NZTUBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEK5QOQKXR5RDJRHHVXMUUVME3WHCZ2R3JT7ACVOXYFN443VUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X2RLM2WYWOLSHTMKTRJCSSMGVLOEJK36UAK47QAIXVFLRUXRXQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPJZKA7N4NTXQOR6PU452QLHGFZ5MAXHAQ23OT2NM5O6V3RHDLDQ/vendors.js"
            ]
        },
        "getDataGenerationJobMetadata": {
            "http": {
                "requestUri": "/getDataGenerationJobMetadata",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobName": {},
                    "jobArn": {},
                    "clientToken": {},
                    "templateId": {},
                    "outputConfig": {
                        "shape": "Sj"
                    },
                    "iamRole": {},
                    "syntheticImageCount": {
                        "type": "integer"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "status": {
                        "shape": "So"
                    },
                    "syntheticImageOutputSummary": {
                        "type": "structure",
                        "required": [
                            "totalSucceededImageCount",
                            "totalFailedImageCount"
                        ],
                        "members": {
                            "totalSucceededImageCount": {
                                "type": "integer"
                            },
                            "totalFailedImageCount": {
                                "type": "integer"
                            },
                            "failureSummaries": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "errorCode": {},
                                        "failureReason": {},
                                        "failedImageCount": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB36YYTHPHD7XPN5SIDAAOOOEGBPSESY35I5WJ22DB5VSU6CGWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2POF6WLXKLE2YUIH6QENC3T5RFEGB7FAN4FKB3FU2Q7N425OL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DFTQKQGYZRDBLVHOANRL5KFG7LBHE75WLXP3CRLG625VE66YPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUMVVF4LUZADWQGD3UZE2Z636Z5DQ3KCUXGIH2BCBUYE7PO3NZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADZLZZPWHXK5HF2GKNTJ4IGBJETQXNXDT6FF2BXPLOVCMTA3C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W33PKV4XZL77PXYI7BFYMWVFGTU4Y63XWWAQDJIISJGBMQYLG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNNYKF3MTU4CXP4IRUQ3F57XMLZLX6WGPQAABRIW63LO56L2YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBO2EPYLMCNXH5VISSCN7JJM2DGODC3HQWNUDX3BFMQQNV4R4XIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62MXIPCAJJLPOXGNQB7XCSXY7IZYITETRZSESMJXLBHWVD3OKTPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IBMIY2EQXMA3RE5PFIE37FIETHBDI4UDGW3L56EWNUB6NZTUBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEK5QOQKXR5RDJRHHVXMUUVME3WHCZ2R3JT7ACVOXYFN443VUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X2RLM2WYWOLSHTMKTRJCSSMGVLOEJK36UAK47QAIXVFLRUXRXQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPJZKA7N4NTXQOR6PU452QLHGFZ5MAXHAQ23OT2NM5O6V3RHDLDQ/vendors.js"
            ]
        },
        "getSyntheticDataTemplate": {
            "http": {
                "requestUri": "/getSyntheticDataTemplate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId"
                ],
                "members": {
                    "templateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "templateArn": {},
                    "template": {
                        "shape": "S7"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB36YYTHPHD7XPN5SIDAAOOOEGBPSESY35I5WJ22DB5VSU6CGWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2POF6WLXKLE2YUIH6QENC3T5RFEGB7FAN4FKB3FU2Q7N425OL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DFTQKQGYZRDBLVHOANRL5KFG7LBHE75WLXP3CRLG625VE66YPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUMVVF4LUZADWQGD3UZE2Z636Z5DQ3KCUXGIH2BCBUYE7PO3NZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADZLZZPWHXK5HF2GKNTJ4IGBJETQXNXDT6FF2BXPLOVCMTA3C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W33PKV4XZL77PXYI7BFYMWVFGTU4Y63XWWAQDJIISJGBMQYLG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNNYKF3MTU4CXP4IRUQ3F57XMLZLX6WGPQAABRIW63LO56L2YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBO2EPYLMCNXH5VISSCN7JJM2DGODC3HQWNUDX3BFMQQNV4R4XIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62MXIPCAJJLPOXGNQB7XCSXY7IZYITETRZSESMJXLBHWVD3OKTPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IBMIY2EQXMA3RE5PFIE37FIETHBDI4UDGW3L56EWNUB6NZTUBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEK5QOQKXR5RDJRHHVXMUUVME3WHCZ2R3JT7ACVOXYFN443VUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X2RLM2WYWOLSHTMKTRJCSSMGVLOEJK36UAK47QAIXVFLRUXRXQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPJZKA7N4NTXQOR6PU452QLHGFZ5MAXHAQ23OT2NM5O6V3RHDLDQ/vendors.js"
            ]
        },
        "listDataGenerationJobs": {
            "http": {
                "requestUri": "/listDataGenerationJobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "dataGenerationJobSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "jobName": {},
                                "jobId": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "status": {
                                    "shape": "So"
                                },
                                "syntheticDataTemplateArn": {},
                                "outputConfig": {
                                    "shape": "Sj"
                                },
                                "syntheticImageCount": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB36YYTHPHD7XPN5SIDAAOOOEGBPSESY35I5WJ22DB5VSU6CGWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2POF6WLXKLE2YUIH6QENC3T5RFEGB7FAN4FKB3FU2Q7N425OL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DFTQKQGYZRDBLVHOANRL5KFG7LBHE75WLXP3CRLG625VE66YPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUMVVF4LUZADWQGD3UZE2Z636Z5DQ3KCUXGIH2BCBUYE7PO3NZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADZLZZPWHXK5HF2GKNTJ4IGBJETQXNXDT6FF2BXPLOVCMTA3C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W33PKV4XZL77PXYI7BFYMWVFGTU4Y63XWWAQDJIISJGBMQYLG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNNYKF3MTU4CXP4IRUQ3F57XMLZLX6WGPQAABRIW63LO56L2YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBO2EPYLMCNXH5VISSCN7JJM2DGODC3HQWNUDX3BFMQQNV4R4XIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62MXIPCAJJLPOXGNQB7XCSXY7IZYITETRZSESMJXLBHWVD3OKTPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IBMIY2EQXMA3RE5PFIE37FIETHBDI4UDGW3L56EWNUB6NZTUBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEK5QOQKXR5RDJRHHVXMUUVME3WHCZ2R3JT7ACVOXYFN443VUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X2RLM2WYWOLSHTMKTRJCSSMGVLOEJK36UAK47QAIXVFLRUXRXQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPJZKA7N4NTXQOR6PU452QLHGFZ5MAXHAQ23OT2NM5O6V3RHDLDQ/vendors.js"
            ]
        },
        "listSyntheticDataTemplates": {
            "http": {
                "requestUri": "/listSyntheticDataTemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "templateSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "templateId": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB36YYTHPHD7XPN5SIDAAOOOEGBPSESY35I5WJ22DB5VSU6CGWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2POF6WLXKLE2YUIH6QENC3T5RFEGB7FAN4FKB3FU2Q7N425OL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DFTQKQGYZRDBLVHOANRL5KFG7LBHE75WLXP3CRLG625VE66YPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUMVVF4LUZADWQGD3UZE2Z636Z5DQ3KCUXGIH2BCBUYE7PO3NZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADZLZZPWHXK5HF2GKNTJ4IGBJETQXNXDT6FF2BXPLOVCMTA3C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W33PKV4XZL77PXYI7BFYMWVFGTU4Y63XWWAQDJIISJGBMQYLG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNNYKF3MTU4CXP4IRUQ3F57XMLZLX6WGPQAABRIW63LO56L2YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBO2EPYLMCNXH5VISSCN7JJM2DGODC3HQWNUDX3BFMQQNV4R4XIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62MXIPCAJJLPOXGNQB7XCSXY7IZYITETRZSESMJXLBHWVD3OKTPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IBMIY2EQXMA3RE5PFIE37FIETHBDI4UDGW3L56EWNUB6NZTUBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEK5QOQKXR5RDJRHHVXMUUVME3WHCZ2R3JT7ACVOXYFN443VUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X2RLM2WYWOLSHTMKTRJCSSMGVLOEJK36UAK47QAIXVFLRUXRXQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPJZKA7N4NTXQOR6PU452QLHGFZ5MAXHAQ23OT2NM5O6V3RHDLDQ/vendors.js"
            ]
        },
        "startDataGenerationJob": {
            "http": {
                "requestUri": "/startDataGenerationJob",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "templateId",
                    "outputConfig",
                    "iamRole",
                    "syntheticImageCount"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "templateId": {},
                    "outputConfig": {
                        "shape": "Sj"
                    },
                    "iamRole": {},
                    "syntheticImageCount": {
                        "type": "integer"
                    },
                    "jobName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobName": {},
                    "jobArn": {},
                    "clientToken": {},
                    "templateId": {},
                    "outputConfig": {
                        "shape": "Sj"
                    },
                    "iamRole": {},
                    "syntheticImageCount": {
                        "type": "integer"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB36YYTHPHD7XPN5SIDAAOOOEGBPSESY35I5WJ22DB5VSU6CGWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2POF6WLXKLE2YUIH6QENC3T5RFEGB7FAN4FKB3FU2Q7N425OL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DFTQKQGYZRDBLVHOANRL5KFG7LBHE75WLXP3CRLG625VE66YPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUMVVF4LUZADWQGD3UZE2Z636Z5DQ3KCUXGIH2BCBUYE7PO3NZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADZLZZPWHXK5HF2GKNTJ4IGBJETQXNXDT6FF2BXPLOVCMTA3C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W33PKV4XZL77PXYI7BFYMWVFGTU4Y63XWWAQDJIISJGBMQYLG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNNYKF3MTU4CXP4IRUQ3F57XMLZLX6WGPQAABRIW63LO56L2YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBO2EPYLMCNXH5VISSCN7JJM2DGODC3HQWNUDX3BFMQQNV4R4XIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62MXIPCAJJLPOXGNQB7XCSXY7IZYITETRZSESMJXLBHWVD3OKTPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IBMIY2EQXMA3RE5PFIE37FIETHBDI4UDGW3L56EWNUB6NZTUBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEK5QOQKXR5RDJRHHVXMUUVME3WHCZ2R3JT7ACVOXYFN443VUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X2RLM2WYWOLSHTMKTRJCSSMGVLOEJK36UAK47QAIXVFLRUXRXQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPJZKA7N4NTXQOR6PU452QLHGFZ5MAXHAQ23OT2NM5O6V3RHDLDQ/vendors.js"
            ]
        },
        "updateSyntheticDataTemplate": {
            "http": {
                "requestUri": "/updateSyntheticDataTemplate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "template",
                    "templateId"
                ],
                "members": {
                    "name": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "template": {
                        "shape": "S7"
                    },
                    "templateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "name": {},
                    "templateId": {},
                    "template": {
                        "shape": "S7"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZB36YYTHPHD7XPN5SIDAAOOOEGBPSESY35I5WJ22DB5VSU6CGWNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2POF6WLXKLE2YUIH6QENC3T5RFEGB7FAN4FKB3FU2Q7N425OL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DFTQKQGYZRDBLVHOANRL5KFG7LBHE75WLXP3CRLG625VE66YPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUMVVF4LUZADWQGD3UZE2Z636Z5DQ3KCUXGIH2BCBUYE7PO3NZCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADZLZZPWHXK5HF2GKNTJ4IGBJETQXNXDT6FF2BXPLOVCMTA3C5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W33PKV4XZL77PXYI7BFYMWVFGTU4Y63XWWAQDJIISJGBMQYLG5NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQNNYKF3MTU4CXP4IRUQ3F57XMLZLX6WGPQAABRIW63LO56L2YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBO2EPYLMCNXH5VISSCN7JJM2DGODC3HQWNUDX3BFMQQNV4R4XIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCPQF3CHJIE2JSQUEZAF7AI6KW27FWR3LQFEUWPYLXI4M2LZIB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62MXIPCAJJLPOXGNQB7XCSXY7IZYITETRZSESMJXLBHWVD3OKTPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IBMIY2EQXMA3RE5PFIE37FIETHBDI4UDGW3L56EWNUB6NZTUBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYEK5QOQKXR5RDJRHHVXMUUVME3WHCZ2R3JT7ACVOXYFN443VUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X2RLM2WYWOLSHTMKTRJCSSMGVLOEJK36UAK47QAIXVFLRUXRXQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPJZKA7N4NTXQOR6PU452QLHGFZ5MAXHAQ23OT2NM5O6V3RHDLDQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "members": {
                "s3": {
                    "type": "structure",
                    "required": [
                        "bucketName",
                        "key"
                    ],
                    "members": {
                        "bucketName": {},
                        "key": {}
                    }
                },
                "templateString": {}
            },
            "union": true
        },
        "Sj": {
            "type": "structure",
            "required": [
                "s3"
            ],
            "members": {
                "s3": {
                    "type": "structure",
                    "required": [
                        "bucketName",
                        "prefix"
                    ],
                    "members": {
                        "bucketName": {},
                        "prefix": {}
                    }
                }
            }
        },
        "So": {
            "type": "structure",
            "required": [
                "status"
            ],
            "members": {
                "status": {},
                "errorCode": {},
                "reason": {}
            }
        }
    }
}