{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "b12studioservicelambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "B12StudioServiceLambda",
        "serviceId": "B12StudioServiceLambda",
        "signatureVersion": "v4",
        "signingName": "sagemaker-groundtruth-synthetic",
        "uid": "b12studioservicelambda-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
        ]
    },
    "operations": {
        "createBatch": {
            "http": {
                "requestUri": "/createBatch",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "batchType",
                    "projectId",
                    "imageCount"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "batchDescription": {},
                    "batchType": {},
                    "customerS3BatchLocation": {
                        "shape": "S5"
                    },
                    "operatorS3BatchLocation": {
                        "shape": "S5"
                    },
                    "projectId": {},
                    "imageCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchDescription": {},
                    "batchId": {},
                    "batchName": {},
                    "batchStatus": {},
                    "batchType": {},
                    "clientToken": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "customerS3BatchLocation": {
                        "shape": "S5"
                    },
                    "operatorS3BatchLocation": {
                        "shape": "S5"
                    },
                    "imageCount": {
                        "type": "integer"
                    },
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "projectId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        },
        "createProject": {
            "http": {
                "requestUri": "/createProject",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "businessEmailAddress",
                    "businessPhoneNumber",
                    "firstName",
                    "lastName",
                    "requirementsDescription",
                    "totalImagesRequested"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "businessEmailAddress": {},
                    "businessPhoneNumber": {},
                    "firstName": {},
                    "lastName": {},
                    "labelFormat": {},
                    "requirementsDescription": {},
                    "totalImagesRequested": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "businessEmailAddress": {},
                    "businessPhoneNumber": {},
                    "customerAccountId": {},
                    "firstName": {},
                    "lastName": {},
                    "labelFormat": {},
                    "projectId": {},
                    "projectName": {},
                    "projectStatus": {},
                    "requirementsDescription": {},
                    "totalImagesRequested": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "clientToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        },
        "deleteProject": {
            "http": {
                "requestUri": "/deleteProject",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "customerAccountId"
                ],
                "members": {
                    "projectId": {},
                    "customerAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectId": {},
                    "projectStatus": {},
                    "customerAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        },
        "deleteTestResources": {
            "http": {
                "requestUri": "/deleteTestResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "customerAccountId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        },
        "getAccountDetails": {
            "http": {
                "requestUri": "/getAccountDetails",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "isOperator": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        },
        "getBatch": {
            "http": {
                "requestUri": "/getBatch",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "batchId"
                ],
                "members": {
                    "batchId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchSummary": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        },
        "getProject": {
            "http": {
                "requestUri": "/getProject",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectId"
                ],
                "members": {
                    "projectId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectSummary": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        },
        "getProjectConfig": {
            "http": {
                "requestUri": "/getProjectConfig",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectId"
                ],
                "members": {
                    "projectId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "businessEmailAddress": {},
                    "businessPhoneNumber": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "customerAccountId": {},
                    "firstName": {},
                    "labelFormat": {},
                    "lastName": {},
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "projectId": {},
                    "requirementsDescription": {},
                    "totalImagesRequested": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        },
        "listAllProjectSummaries": {
            "http": {
                "requestUri": "/listAllProjectSummaries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "projectSummaries": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        },
        "listBatchDataTransfers": {
            "http": {
                "requestUri": "/listBatchDataTransfers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "batchId"
                ],
                "members": {
                    "batchId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "dataTransfers": {
                        "shape": "S17"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        },
        "listBatchSummaries": {
            "http": {
                "requestUri": "/listBatchSummaries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectId"
                ],
                "members": {
                    "projectId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "batchSummaries": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        },
        "listProjectDataTransfers": {
            "http": {
                "requestUri": "/listProjectDataTransfers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectId"
                ],
                "members": {
                    "projectId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "dataTransfers": {
                        "shape": "S17"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        },
        "listProjectSummaries": {
            "http": {
                "requestUri": "/listProjectSummaries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "projectSummaries": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        },
        "startBatchDataTransfer": {
            "http": {
                "requestUri": "/startBatchDataTransfer",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "batchId",
                    "customerIamRoleArn",
                    "customerS3Location"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "batchId": {},
                    "customerIamRoleArn": {},
                    "customerS3Location": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataTransferId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        },
        "startProjectDataTransfer": {
            "http": {
                "requestUri": "/startProjectDataTransfer",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "projectId",
                    "customerIamRoleArn",
                    "customerS3Location"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "projectId": {},
                    "customerIamRoleArn": {},
                    "customerS3Location": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataTransferId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        },
        "updateBatch": {
            "http": {
                "requestUri": "/updateBatch",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "batchId"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "batchId": {},
                    "batchDescription": {},
                    "batchStatus": {},
                    "batchType": {},
                    "customerS3BatchLocation": {
                        "shape": "S5"
                    },
                    "imageCount": {
                        "type": "integer"
                    },
                    "operatorS3BatchLocation": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "batchId": {},
                    "batchDescription": {},
                    "batchName": {},
                    "batchStatus": {},
                    "batchType": {},
                    "clientToken": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "customerS3BatchLocation": {
                        "shape": "S5"
                    },
                    "operatorS3BatchLocation": {
                        "shape": "S5"
                    },
                    "imageCount": {
                        "type": "integer"
                    },
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "projectId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        },
        "updateProject": {
            "http": {
                "requestUri": "/updateProject",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "customerAccountId",
                    "projectId",
                    "projectStatus"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "customerAccountId": {},
                    "projectId": {},
                    "projectStatus": {},
                    "projectName": {},
                    "studioProjectAccountId": {},
                    "operator": {},
                    "totalImageCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectSummary": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IKQWEBTZPM37T32LMQUVDOUL25XIS3RHSLLRSXXEDUITDBDC32RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PP2L5DK5S5AW4VTNI3WQ4GNNNRFZKNHTZYCWQDAB4TCKVRC6V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNQBTJVXUGVBN4D3ARESQ6ZNOZ2XC3D3VJD6UILCUIY35QVFSWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5FFE3J7YLWFNBF4NR7M222C7AOYTC5HKQ4IFSY43KK2ORDBO4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFXHIDSKAIXGCK7JQYFKIGLOWSGHNTSIR4QOABAG6PGER2ABJGKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FRIUC3Z4MGPZWMDO3JLYLKTFF6AY3URBRCLK6QXZV7BN3DT34A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOWCMNZFCXI47W4HRJ2IUOHRS7KERXLY2NGBJZ2QYITCCMSR63HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WB376WDF7NK2HAT7XIEOCD45MFEGHMBC5XYXG5IKJXFUT5XUB3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5C46JZS43YN274FCFC6PSLD7XXKQBBUKVM3ECN2IDYFLI3PCMJEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMJSJP6TU4DZZKE2J2N7ECOODZG44JJ4PBGBR7GCANODDWKBU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GL5JWUWY3QPTTBE6R4KHXZS4PKVVVUJCWG2AAKHSHN2JC65CDEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72QR6G6TPP4D7RKJXSKLI4KH376TWB23E2HA42A3X5HDM2QIDYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHPGOK3CO44EYAZ3BZ2EMM2MN4HMPEBYJ6LLJH5GTC4BRQGPZHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBYZCDKOJ3DKYGX4KXPPCST5TPXPASWSGRX2Z6GQUPNUPKZBLRYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKPBPLBXPI3VUVFOXSNJQQV2YRM2VHQSOJQUHKXBICVMJ7SLCZKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWKCHJLDBCHMBWPDVGF45IUSAP2CGAQVPCK6O3DPWB2ICBWE4MAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXBD3TEDQ3LBMDBX7T427YGAZOQEUA2PDH33WIEXWHHQ6C4ZTJ7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "s3"
            ],
            "members": {
                "s3": {
                    "type": "structure",
                    "required": [
                        "bucketName",
                        "prefix"
                    ],
                    "members": {
                        "bucketName": {},
                        "prefix": {}
                    }
                }
            }
        },
        "Sv": {
            "type": "structure",
            "required": [
                "batchId",
                "batchStatus",
                "createdAt",
                "customerS3BatchLocation",
                "operatorS3BatchLocation",
                "imageCount",
                "lastUpdatedAt",
                "projectId"
            ],
            "members": {
                "batchId": {},
                "batchStatus": {},
                "createdAt": {
                    "type": "timestamp"
                },
                "customerS3BatchLocation": {
                    "shape": "S5"
                },
                "operatorS3BatchLocation": {
                    "shape": "S5"
                },
                "imageCount": {
                    "type": "integer"
                },
                "lastUpdatedAt": {
                    "type": "timestamp"
                },
                "projectId": {},
                "batchName": {},
                "batchType": {},
                "batchDescription": {}
            }
        },
        "Sz": {
            "type": "structure",
            "required": [
                "createdAt",
                "customerAccountId",
                "lastUpdatedAt",
                "projectId",
                "projectName",
                "projectStatus"
            ],
            "members": {
                "createdAt": {
                    "type": "timestamp"
                },
                "customerAccountId": {},
                "lastUpdatedAt": {
                    "type": "timestamp"
                },
                "projectId": {},
                "projectName": {},
                "projectStatus": {},
                "studioProjectAccountId": {},
                "totalImageCount": {
                    "type": "integer"
                },
                "completedImageCount": {
                    "type": "integer"
                },
                "projectType": {},
                "projectDescription": {},
                "operator": {},
                "batchCount": {
                    "type": "integer"
                },
                "batchReadyToReview": {
                    "type": "boolean"
                }
            }
        },
        "S14": {
            "type": "list",
            "member": {
                "shape": "Sz"
            }
        },
        "S17": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "createdAt",
                    "customerS3Location",
                    "dataTransferId",
                    "lastUpdatedAt",
                    "status"
                ],
                "members": {
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "customerS3Location": {
                        "shape": "S5"
                    },
                    "dataTransferId": {},
                    "errorDetail": {},
                    "filesTransferred": {
                        "type": "integer"
                    },
                    "lastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "status": {}
                }
            }
        }
    }
}