{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-06-23",
        "endpointPrefix": "b2bi",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "protocolSettings": {
            "h2": "optional"
        },
        "serviceFullName": "AWS B2B Data Interchange",
        "serviceId": "b2bi",
        "signatureVersion": "v4",
        "signingName": "b2bi",
        "uid": "b2bi-2022-06-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DE7FJXD4XH6ZP5DYBU3APKXDXVUUZBJZ6CW4KOMS65SNGYPSJFYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
        ]
    },
    "operations": {
        "CreateCapability": {
            "http": {
                "requestUri": "/capabilities",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type",
                    "configuration"
                ],
                "members": {
                    "name": {},
                    "type": {},
                    "configuration": {
                        "shape": "S4"
                    },
                    "instructionsDocuments": {
                        "shape": "Se"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "capabilityId",
                    "capabilityArn",
                    "name",
                    "type",
                    "configuration",
                    "createdAt"
                ],
                "members": {
                    "capabilityId": {},
                    "capabilityArn": {},
                    "name": {},
                    "type": {},
                    "configuration": {
                        "shape": "S4"
                    },
                    "instructionsDocuments": {
                        "shape": "Se"
                    },
                    "createdAt": {
                        "shape": "Sn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "CreatePartnership": {
            "http": {
                "requestUri": "/partnerships",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileId",
                    "name",
                    "email"
                ],
                "members": {
                    "profileId": {},
                    "name": {},
                    "email": {
                        "shape": "Sr"
                    },
                    "phone": {
                        "shape": "Ss"
                    },
                    "capabilities": {
                        "shape": "St"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sg"
                    },
                    "capabilityOptions": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileId",
                    "partnershipId",
                    "partnershipArn",
                    "createdAt"
                ],
                "members": {
                    "profileId": {},
                    "partnershipId": {},
                    "partnershipArn": {},
                    "name": {},
                    "email": {
                        "shape": "Sr"
                    },
                    "phone": {
                        "shape": "Ss"
                    },
                    "capabilities": {
                        "shape": "St"
                    },
                    "tradingPartnerId": {},
                    "createdAt": {
                        "shape": "Sn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "CreateProfile": {
            "http": {
                "requestUri": "/profiles",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "phone",
                    "businessName",
                    "logging"
                ],
                "members": {
                    "name": {},
                    "email": {
                        "shape": "Sr"
                    },
                    "phone": {
                        "shape": "Ss"
                    },
                    "businessName": {},
                    "logging": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileId",
                    "profileArn",
                    "name",
                    "businessName",
                    "phone",
                    "createdAt"
                ],
                "members": {
                    "profileId": {},
                    "profileArn": {},
                    "name": {},
                    "businessName": {},
                    "phone": {
                        "shape": "Ss"
                    },
                    "email": {
                        "shape": "Sr"
                    },
                    "logging": {},
                    "logGroupName": {},
                    "createdAt": {
                        "shape": "Sn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "CreateTransformer": {
            "http": {
                "requestUri": "/transformers",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "fileFormat",
                    "mappingTemplate",
                    "ediType"
                ],
                "members": {
                    "name": {},
                    "fileFormat": {},
                    "mappingTemplate": {},
                    "ediType": {
                        "shape": "S6"
                    },
                    "sampleDocument": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sg"
                    },
                    "input": {
                        "shape": "S1s"
                    },
                    "mapping": {
                        "shape": "S1v"
                    },
                    "output": {
                        "shape": "S1x"
                    },
                    "sampleDocuments": {
                        "shape": "S1z"
                    },
                    "inputConversion": {
                        "shape": "S1u"
                    },
                    "outputConversion": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformerId",
                    "transformerArn",
                    "name",
                    "fileFormat",
                    "mappingTemplate",
                    "status",
                    "ediType",
                    "createdAt"
                ],
                "members": {
                    "transformerId": {},
                    "transformerArn": {},
                    "name": {},
                    "fileFormat": {},
                    "mappingTemplate": {},
                    "status": {},
                    "ediType": {
                        "shape": "S6"
                    },
                    "sampleDocument": {},
                    "createdAt": {
                        "shape": "Sn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "DeleteCapability": {
            "http": {
                "method": "DELETE",
                "requestUri": "/capabilities/{capabilityId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "capabilityId"
                ],
                "members": {
                    "capabilityId": {
                        "location": "uri",
                        "locationName": "capabilityId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "DeletePartnership": {
            "http": {
                "method": "DELETE",
                "requestUri": "/partnerships/{partnershipId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "partnershipId"
                ],
                "members": {
                    "partnershipId": {
                        "location": "uri",
                        "locationName": "partnershipId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "DeleteProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profiles/{profileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileId"
                ],
                "members": {
                    "profileId": {
                        "location": "uri",
                        "locationName": "profileId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "DeleteTransformer": {
            "http": {
                "method": "DELETE",
                "requestUri": "/transformers/{transformerId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "transformerId"
                ],
                "members": {
                    "transformerId": {
                        "location": "uri",
                        "locationName": "transformerId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "GetCapability": {
            "http": {
                "method": "GET",
                "requestUri": "/capabilities/{capabilityId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "capabilityId"
                ],
                "members": {
                    "capabilityId": {
                        "location": "uri",
                        "locationName": "capabilityId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "capabilityId",
                    "capabilityArn",
                    "name",
                    "type",
                    "configuration",
                    "createdAt"
                ],
                "members": {
                    "capabilityId": {},
                    "capabilityArn": {},
                    "name": {},
                    "type": {},
                    "configuration": {
                        "shape": "S4"
                    },
                    "instructionsDocuments": {
                        "shape": "Se"
                    },
                    "createdAt": {
                        "shape": "Sn"
                    },
                    "modifiedAt": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "GetPartnership": {
            "http": {
                "method": "GET",
                "requestUri": "/partnerships/{partnershipId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "partnershipId"
                ],
                "members": {
                    "partnershipId": {
                        "location": "uri",
                        "locationName": "partnershipId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileId",
                    "partnershipId",
                    "partnershipArn",
                    "createdAt"
                ],
                "members": {
                    "profileId": {},
                    "partnershipId": {},
                    "partnershipArn": {},
                    "name": {},
                    "email": {
                        "shape": "Sr"
                    },
                    "phone": {
                        "shape": "Ss"
                    },
                    "capabilities": {
                        "shape": "St"
                    },
                    "tradingPartnerId": {},
                    "createdAt": {
                        "shape": "Sn"
                    },
                    "modifiedAt": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "GetProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/profiles/{profileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileId"
                ],
                "members": {
                    "profileId": {
                        "location": "uri",
                        "locationName": "profileId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileId",
                    "profileArn",
                    "name",
                    "phone",
                    "businessName",
                    "createdAt"
                ],
                "members": {
                    "profileId": {},
                    "profileArn": {},
                    "name": {},
                    "email": {
                        "shape": "Sr"
                    },
                    "phone": {
                        "shape": "Ss"
                    },
                    "businessName": {},
                    "logging": {},
                    "logGroupName": {},
                    "createdAt": {
                        "shape": "Sn"
                    },
                    "modifiedAt": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "GetTransformer": {
            "http": {
                "method": "GET",
                "requestUri": "/transformers/{transformerId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "transformerId"
                ],
                "members": {
                    "transformerId": {
                        "location": "uri",
                        "locationName": "transformerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformerId",
                    "transformerArn",
                    "name",
                    "fileFormat",
                    "mappingTemplate",
                    "status",
                    "ediType",
                    "createdAt"
                ],
                "members": {
                    "transformerId": {},
                    "transformerArn": {},
                    "name": {},
                    "fileFormat": {},
                    "mappingTemplate": {},
                    "status": {},
                    "ediType": {
                        "shape": "S6"
                    },
                    "sampleDocument": {},
                    "createdAt": {
                        "shape": "Sn"
                    },
                    "modifiedAt": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "GetTransformerJob": {
            "http": {
                "method": "GET",
                "requestUri": "/transformer-jobs/{transformerJobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "transformerJobId",
                    "transformerId"
                ],
                "members": {
                    "transformerJobId": {
                        "location": "uri",
                        "locationName": "transformerJobId"
                    },
                    "transformerId": {
                        "location": "querystring",
                        "locationName": "transformerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {},
                    "outputFiles": {
                        "type": "list",
                        "member": {
                            "shape": "Sa"
                        }
                    },
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "ListCapabilities": {
            "http": {
                "method": "GET",
                "requestUri": "/capabilities",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "capabilities"
                ],
                "members": {
                    "capabilities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "capabilityId",
                                "name",
                                "type",
                                "createdAt"
                            ],
                            "members": {
                                "capabilityId": {},
                                "name": {},
                                "type": {},
                                "createdAt": {
                                    "shape": "Sn"
                                },
                                "modifiedAt": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "ListPartnerships": {
            "http": {
                "method": "GET",
                "requestUri": "/partnerships",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "profileId": {
                        "location": "querystring",
                        "locationName": "profileId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "partnerships"
                ],
                "members": {
                    "partnerships": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "profileId",
                                "partnershipId",
                                "createdAt"
                            ],
                            "members": {
                                "profileId": {},
                                "partnershipId": {},
                                "name": {},
                                "capabilities": {
                                    "shape": "St"
                                },
                                "tradingPartnerId": {},
                                "createdAt": {
                                    "shape": "Sn"
                                },
                                "modifiedAt": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "ListProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/profiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profiles"
                ],
                "members": {
                    "profiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "profileId",
                                "name",
                                "businessName",
                                "createdAt"
                            ],
                            "members": {
                                "profileId": {},
                                "name": {},
                                "businessName": {},
                                "logging": {},
                                "logGroupName": {},
                                "createdAt": {
                                    "shape": "Sn"
                                },
                                "modifiedAt": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceARN}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {
                        "location": "uri",
                        "locationName": "ResourceARN"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "ListTransformers": {
            "http": {
                "method": "GET",
                "requestUri": "/transformers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformers"
                ],
                "members": {
                    "transformers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "transformerId",
                                "name",
                                "fileFormat",
                                "mappingTemplate",
                                "status",
                                "ediType",
                                "createdAt"
                            ],
                            "members": {
                                "transformerId": {},
                                "name": {},
                                "fileFormat": {},
                                "mappingTemplate": {},
                                "status": {},
                                "ediType": {
                                    "shape": "S6"
                                },
                                "sampleDocument": {},
                                "createdAt": {
                                    "shape": "Sn"
                                },
                                "modifiedAt": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "StartTransformerJob": {
            "http": {
                "requestUri": "/transformer-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputFile",
                    "outputLocation",
                    "transformerId"
                ],
                "members": {
                    "inputFile": {
                        "shape": "Sa"
                    },
                    "outputLocation": {
                        "shape": "Sa"
                    },
                    "transformerId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformerJobId"
                ],
                "members": {
                    "transformerJobId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceARN}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {
                        "location": "uri",
                        "locationName": "ResourceARN"
                    },
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "TestMapping": {
            "http": {
                "requestUri": "/testmapping",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputFileContent",
                    "mappingTemplate",
                    "fileFormat"
                ],
                "members": {
                    "inputFileContent": {},
                    "mappingTemplate": {},
                    "fileFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "mappedFileContent"
                ],
                "members": {
                    "mappedFileContent": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PUATOIKTKKKMCVNORII2IKIXHDA4A3TDXYLPX3SLMC7M62YP6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETCPX6SFVT7MFDROQPHYF7GMW7I7HOPD7X7NCFB7RZIONZNSN6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65RLLNHJATMW4SD4MJ74F55LZT5K3YBTFSDXNFYHDDZZFPT4P5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6M4ZBMJGZG4ON3ZXT4RC2HJA4YQTNRQXXTT3PA4F4YS5OOMWAXAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSPWRWUJUEDP5GLY44IGWTF2JA47SAYPPCULRTEBSSSOSRZJUUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHCDQUNZYBWGITAYBZT6A2FGFB5OKD2QZNAVUAY4N5AXDBGZXIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZ64SC3ZXX2ZLQ5WIFKGYOE6UOYRVO7A55W6UHMKI3NF6ZZPUOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKTWL4WBC4TYQENZMHNLPHRQW4QRYBJHQT2D6TONWKC4YJZLKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V35ONA7BFHB2WKYQ2K5U2A5IS66VFQDGB5C4FAMW3GVPK6SGTPNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6WA7LEJ3RGO37IOONYUP7DFJRD37OP3CNFCEVS3KV2U2VUPLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX57PHG3Y6NLJARNHQL4442SPFIPKSP77DSTBLB43EM3QWL2D6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6XKRRWZI3ZOZPIOW5RFV4IPRKIWV5OOSMJYCUKMRXAVX3PDXIEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J254WCU3HW6DAB2SJSG4Z47Y7E6P2JUEUCW6AKLJPT2MO32A5WBQ/vendors.js"
            ]
        },
        "TestParsing": {
            "http": {
                "requestUri": "/testparsing",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputFile",
                    "fileFormat",
                    "ediType"
                ],
                "members": {
                    "inputFile": {
                        "shape": "Sa"
                    },
                    "fileFormat": {},
                    "ediType": {
                        "shape": "S6"
                    },
                    "advancedOptions": {
                        "shape": "S22"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "parsedFileContent"
                ],
                "members": {
                    "parsedFileContent": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHX34757ALQCNBDKJ5NWN7YWNNSZBP6KRLJOWOIT24ZFMYF5L5HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2SLITM4KCOS5CSCZ7BFNQGLDHM3DI7ZKDNPFDNALTOCTGYMDWYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35N7JFWF5LGKGNMA7DRFLHNWSC35WLQEEBTC3ABA42PYOLD747AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAB6TMRIGJZAZBUOLDDYYQF5KFHT7JIKHDSIQJASCNKITOVI3CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NRHP5CQ7GBOSUVZ2UIEPC4BLYV3JIJELYMJFAPWXF2UOXJBG2HBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXGBDLGSMEN33FG7NPOTHZBAJDUHSU7P4E2LMARVFR2SKNTRAASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD7WGYJXCRGAUP5K257RFWQ5Y3LHEIDVOP6FCEKJTT3MLGT47CEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3QXAU4SAIAU6LGL5JCFHX2DN55A4KIUINQCRNI3YPQZ634FX6YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IQH73PNKALI47G3VK7XGK62TMUIRLIV4V44VT4DFXE3736MVDKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAOXDGN2HKTI5EWJLUCCB54Y2LVIJZJ7YW6YIOBXXH6APE7ZYX3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRK7UITBKCX3AQSL4OD42Z5ROHPEMMA5ZSQH2O2M6RAFXNEOFMNQ/vendors.js",
[...]
