{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-06-23",
        "endpointPrefix": "b2bi",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "protocolSettings": {
            "h2": "optional"
        },
        "serviceFullName": "AWS B2B Data Interchange",
        "serviceId": "b2bi",
        "signatureVersion": "v4",
        "signingName": "b2bi",
        "uid": "b2bi-2022-06-23",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
        ]
    },
    "operations": {
        "CreateCapability": {
            "http": {
                "requestUri": "/capabilities",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type",
                    "configuration"
                ],
                "members": {
                    "name": {},
                    "type": {},
                    "configuration": {
                        "shape": "S4"
                    },
                    "instructionsDocuments": {
                        "shape": "Se"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "capabilityId",
                    "capabilityArn",
                    "name",
                    "type",
                    "configuration",
                    "createdAt"
                ],
                "members": {
                    "capabilityId": {},
                    "capabilityArn": {},
                    "name": {},
                    "type": {},
                    "configuration": {
                        "shape": "S4"
                    },
                    "instructionsDocuments": {
                        "shape": "Se"
                    },
                    "createdAt": {
                        "shape": "Sn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreatePartnership": {
            "http": {
                "requestUri": "/partnerships",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileId",
                    "name",
                    "email"
                ],
                "members": {
                    "profileId": {},
                    "name": {},
                    "email": {
                        "shape": "Sr"
                    },
                    "phone": {
                        "shape": "Ss"
                    },
                    "capabilities": {
                        "shape": "St"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sg"
                    },
                    "capabilityOptions": {
                        "shape": "Su"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileId",
                    "partnershipId",
                    "partnershipArn",
                    "createdAt"
                ],
                "members": {
                    "profileId": {},
                    "partnershipId": {},
                    "partnershipArn": {},
                    "name": {},
                    "email": {
                        "shape": "Sr"
                    },
                    "phone": {
                        "shape": "Ss"
                    },
                    "capabilities": {
                        "shape": "St"
                    },
                    "tradingPartnerId": {},
                    "createdAt": {
                        "shape": "Sn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateProfile": {
            "http": {
                "requestUri": "/profiles",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "phone",
                    "businessName",
                    "logging"
                ],
                "members": {
                    "name": {},
                    "email": {
                        "shape": "Sr"
                    },
                    "phone": {
                        "shape": "Ss"
                    },
                    "businessName": {},
                    "logging": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileId",
                    "profileArn",
                    "name",
                    "businessName",
                    "phone",
                    "createdAt"
                ],
                "members": {
                    "profileId": {},
                    "profileArn": {},
                    "name": {},
                    "businessName": {},
                    "phone": {
                        "shape": "Ss"
                    },
                    "email": {
                        "shape": "Sr"
                    },
                    "logging": {},
                    "logGroupName": {},
                    "createdAt": {
                        "shape": "Sn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateTransformer": {
            "http": {
                "requestUri": "/transformers",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "fileFormat",
                    "mappingTemplate",
                    "ediType"
                ],
                "members": {
                    "name": {},
                    "fileFormat": {},
                    "mappingTemplate": {},
                    "ediType": {
                        "shape": "S6"
                    },
                    "sampleDocument": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sg"
                    },
                    "input": {
                        "shape": "S1s"
                    },
                    "mapping": {
                        "shape": "S1v"
                    },
                    "output": {
                        "shape": "S1x"
                    },
                    "sampleDocuments": {
                        "shape": "S1z"
                    },
                    "inputConversion": {
                        "shape": "S1u"
                    },
                    "outputConversion": {
                        "shape": "S1z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformerId",
                    "transformerArn",
                    "name",
                    "fileFormat",
                    "mappingTemplate",
                    "status",
                    "ediType",
                    "createdAt"
                ],
                "members": {
                    "transformerId": {},
                    "transformerArn": {},
                    "name": {},
                    "fileFormat": {},
                    "mappingTemplate": {},
                    "status": {},
                    "ediType": {
                        "shape": "S6"
                    },
                    "sampleDocument": {},
                    "createdAt": {
                        "shape": "Sn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteCapability": {
            "http": {
                "method": "DELETE",
                "requestUri": "/capabilities/{capabilityId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "capabilityId"
                ],
                "members": {
                    "capabilityId": {
                        "location": "uri",
                        "locationName": "capabilityId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeletePartnership": {
            "http": {
                "method": "DELETE",
                "requestUri": "/partnerships/{partnershipId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "partnershipId"
                ],
                "members": {
                    "partnershipId": {
                        "location": "uri",
                        "locationName": "partnershipId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/profiles/{profileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileId"
                ],
                "members": {
                    "profileId": {
                        "location": "uri",
                        "locationName": "profileId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteTransformer": {
            "http": {
                "method": "DELETE",
                "requestUri": "/transformers/{transformerId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "transformerId"
                ],
                "members": {
                    "transformerId": {
                        "location": "uri",
                        "locationName": "transformerId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetCapability": {
            "http": {
                "method": "GET",
                "requestUri": "/capabilities/{capabilityId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "capabilityId"
                ],
                "members": {
                    "capabilityId": {
                        "location": "uri",
                        "locationName": "capabilityId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "capabilityId",
                    "capabilityArn",
                    "name",
                    "type",
                    "configuration",
                    "createdAt"
                ],
                "members": {
                    "capabilityId": {},
                    "capabilityArn": {},
                    "name": {},
                    "type": {},
                    "configuration": {
                        "shape": "S4"
                    },
                    "instructionsDocuments": {
                        "shape": "Se"
                    },
                    "createdAt": {
                        "shape": "Sn"
                    },
                    "modifiedAt": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetPartnership": {
            "http": {
                "method": "GET",
                "requestUri": "/partnerships/{partnershipId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "partnershipId"
                ],
                "members": {
                    "partnershipId": {
                        "location": "uri",
                        "locationName": "partnershipId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileId",
                    "partnershipId",
                    "partnershipArn",
                    "createdAt"
                ],
                "members": {
                    "profileId": {},
                    "partnershipId": {},
                    "partnershipArn": {},
                    "name": {},
                    "email": {
                        "shape": "Sr"
                    },
                    "phone": {
                        "shape": "Ss"
                    },
                    "capabilities": {
                        "shape": "St"
                    },
                    "tradingPartnerId": {},
                    "createdAt": {
                        "shape": "Sn"
                    },
                    "modifiedAt": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/profiles/{profileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileId"
                ],
                "members": {
                    "profileId": {
                        "location": "uri",
                        "locationName": "profileId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profileId",
                    "profileArn",
                    "name",
                    "phone",
                    "businessName",
                    "createdAt"
                ],
                "members": {
                    "profileId": {},
                    "profileArn": {},
                    "name": {},
                    "email": {
                        "shape": "Sr"
                    },
                    "phone": {
                        "shape": "Ss"
                    },
                    "businessName": {},
                    "logging": {},
                    "logGroupName": {},
                    "createdAt": {
                        "shape": "Sn"
                    },
                    "modifiedAt": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetTransformer": {
            "http": {
                "method": "GET",
                "requestUri": "/transformers/{transformerId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "transformerId"
                ],
                "members": {
                    "transformerId": {
                        "location": "uri",
                        "locationName": "transformerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformerId",
                    "transformerArn",
                    "name",
                    "fileFormat",
                    "mappingTemplate",
                    "status",
                    "ediType",
                    "createdAt"
                ],
                "members": {
                    "transformerId": {},
                    "transformerArn": {},
                    "name": {},
                    "fileFormat": {},
                    "mappingTemplate": {},
                    "status": {},
                    "ediType": {
                        "shape": "S6"
                    },
                    "sampleDocument": {},
                    "createdAt": {
                        "shape": "Sn"
                    },
                    "modifiedAt": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetTransformerJob": {
            "http": {
                "method": "GET",
                "requestUri": "/transformer-jobs/{transformerJobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "transformerJobId",
                    "transformerId"
                ],
                "members": {
                    "transformerJobId": {
                        "location": "uri",
                        "locationName": "transformerJobId"
                    },
                    "transformerId": {
                        "location": "querystring",
                        "locationName": "transformerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {},
                    "outputFiles": {
                        "type": "list",
                        "member": {
                            "shape": "Sa"
                        }
                    },
                    "message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListCapabilities": {
            "http": {
                "method": "GET",
                "requestUri": "/capabilities",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "capabilities"
                ],
                "members": {
                    "capabilities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "capabilityId",
                                "name",
                                "type",
                                "createdAt"
                            ],
                            "members": {
                                "capabilityId": {},
                                "name": {},
                                "type": {},
                                "createdAt": {
                                    "shape": "Sn"
                                },
                                "modifiedAt": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListPartnerships": {
            "http": {
                "method": "GET",
                "requestUri": "/partnerships",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "profileId": {
                        "location": "querystring",
                        "locationName": "profileId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "partnerships"
                ],
                "members": {
                    "partnerships": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "profileId",
                                "partnershipId",
                                "createdAt"
                            ],
                            "members": {
                                "profileId": {},
                                "partnershipId": {},
                                "name": {},
                                "capabilities": {
                                    "shape": "St"
                                },
                                "tradingPartnerId": {},
                                "createdAt": {
                                    "shape": "Sn"
                                },
                                "modifiedAt": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/profiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "profiles"
                ],
                "members": {
                    "profiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "profileId",
                                "name",
                                "businessName",
                                "createdAt"
                            ],
                            "members": {
                                "profileId": {},
                                "name": {},
                                "businessName": {},
                                "logging": {},
                                "logGroupName": {},
                                "createdAt": {
                                    "shape": "Sn"
                                },
                                "modifiedAt": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceARN}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {
                        "location": "uri",
                        "locationName": "ResourceARN"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListTransformers": {
            "http": {
                "method": "GET",
                "requestUri": "/transformers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformers"
                ],
                "members": {
                    "transformers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "transformerId",
                                "name",
                                "fileFormat",
                                "mappingTemplate",
                                "status",
                                "ediType",
                                "createdAt"
                            ],
                            "members": {
                                "transformerId": {},
                                "name": {},
                                "fileFormat": {},
                                "mappingTemplate": {},
                                "status": {},
                                "ediType": {
                                    "shape": "S6"
                                },
                                "sampleDocument": {},
                                "createdAt": {
                                    "shape": "Sn"
                                },
                                "modifiedAt": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "StartTransformerJob": {
            "http": {
                "requestUri": "/transformer-jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputFile",
                    "outputLocation",
                    "transformerId"
                ],
                "members": {
                    "inputFile": {
                        "shape": "Sa"
                    },
                    "outputLocation": {
                        "shape": "Sa"
                    },
                    "transformerId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "transformerJobId"
                ],
                "members": {
                    "transformerJobId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{ResourceARN}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {
                        "location": "uri",
                        "locationName": "ResourceARN"
                    },
                    "Tags": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "TestMapping": {
            "http": {
                "requestUri": "/testmapping",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputFileContent",
                    "mappingTemplate",
                    "fileFormat"
                ],
                "members": {
                    "inputFileContent": {},
                    "mappingTemplate": {},
                    "fileFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "mappedFileContent"
                ],
                "members": {
                    "mappedFileContent": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5GFLDUKXLBCQQB6E4WMCYLS7FSZ7E7OOB3M4OJC3JZDBVQQTCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2MGSMHVEP6ZIPF6MLFP4APHL6LO3HTK7K2W4SKNFNMSISSHNHXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTPD7B4ZU64MEJTR2FZWKJR5WIO7F5BRV2FBZPHM2DL7KOAQURRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5WR3CV45IEOUFCIL2VUADL56F5IL5VYUNNO4S33YJPY4KLBRQLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JAE45BOVUS27JI3N36NO4H37WDWDDLYM7YA73ESUVESOYIQDMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLUBU4VC2O63YO3PNBDBLAGYJYGUJRDGSD2VW2NJHI4WRRCEBENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QIW4DPGZUYIF4TMBQRHZCVKN5GC4NBARZ5JMV6GH7TTF53M52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXO3AJILOGZOBUSGB6POO3VB62QQYVEA4VGAFFVLGYZU523EJ7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/372AWVYO74EHYIG6KOEXFEDGV4BHIKVX6LIPWG5ZMGVSY7I6SJIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPDD7EP36JE3MRAHZZR6RCBFEQMMVQOO2OITKZQ44I46EL5SFG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUZUGKQ6AIEI6GAZ23FHGTD7H5YVS2BFE35JROCHAM5IJEX65XPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A255AS3C5DRBGDGUAY2NSQX3WXGAAEBERRHJVUGVLFSP5NA2H45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "TestParsing": {
            "http": {
                "requestUri": "/testparsing",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputFile",
                    "fileFormat",
                    "ediType"
                ],
                "members": {
                    "inputFile": {
                        "shape": "Sa"
                    },
                    "fileFormat": {},
                    "ediType": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "parsedFileContent"
                ],
                "members": {
                    "parsedFileContent": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL3IFHU7ONWN6IXIZSGC77VO5H56BH2TKSDSFD5BKEPIBTZT3UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIX3OLRQUXTI3T3ZZI57QHRNI5REEMNZKW3JGYXQIL7ED4K6OJJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NK55PVES6WLI4RX272UW4GWEP6IGTBF7GWCZWY3K4FB5Q6KAA57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NLKREKTJNFKSIQNPEMLB7Z3R5NGFCT3L54SZ532HOERBGV3M3VXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HJT346IPZOTM7U7TXUGILKOIV7YUOCVAJ4MTPIEGCLYF7BI55CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBRIVVB2NLYDRQVVSMWQNGNFFXMW77OFQC7MX5UP3XU3L33L7CYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ND5ZAYGSG2SWLSCURNTMYH5VF2W32SS3STGSLT2WRQFHCSBUAJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BPDJOTQIPYIUNXG3RAMAI3WVQ7Y6USLE2KY6I7R426E4CQNGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7KX65JF2SWEFYFZBD7QRLKXGCJQPKHCRTRQJCIQNOC5WSW2W2IQ/vendors.js",
[...]
